<!--<?php
print <<<EOT
-->
</div>
<div class="footer-wrap">
<div class="c"></div>
<div id="bottom"></div>
<!--
EOT;
list($htmlAdvert,$arrayAdvert) = pwAdvert('Site.Footer',$fid);
if($htmlAdvert){print <<<EOT
-->
<center style="margin:5px 0;">$htmlAdvert</center>
<!--
EOT;
}print <<<EOT
-->
<div id="footer">
	<div class="mb5">
	<div class="bottom tac">
<!--
EOT;
if(count($_Navbar['foot'])){
	print <<<EOT
-->
<!--
EOT;
foreach($_Navbar['foot'] as $key => $value){
	$html = buildNavLinkHtml($value['data']);
print <<<EOT
--><span class="mr10">$html</span><span class="gray mr10">|</span><!--
EOT;
};
print <<<EOT
--><a href="job.php?action=erasecookie&verify=$GLOBALS[loginhash]" rel="nofollow">清除Cookies</a>
<!--
EOT;
};
print <<<EOT
-->
	</div>
	</div>
	<div class="f10 s6 tac">
		<p class="mb5" id="footInfo">Powered by <a href="http://www.phpwind.net/" target="_blank" class="s4">phpwind v{$wind_version}</a>&nbsp;<a href="http://www.phpwind.com/certificate.php?host={$pwServer['HTTP_HOST']}" target="_blank" rel="nofollow">Certificate</a> Copyright<br /> &copy;2003-2011 <a href="$db_bbsurl/" target="_blank">{$GLOBALS['db_bbsname']}</a> 版權所有 <a href="http://www.miibeian.gov.cn" target="_blank">$db_icp</a> $db_statscode <span id="stats"></span>
<!--
EOT;
if($db_ystats_ifopen=='0'){print <<<EOT
-->
<script type="text/javascript" src="http://js.tongji.linezing.com/{$db_ystats_unit_id}/tongji.js"></script>
<noscript>
	<a href="http://www.linezing.com" target="_blank"><img src="http://img.tongji.linezing.com/{$db_ystats_unit_id}/tongji.gif"/></a>
</noscript>
<!--
EOT;
}print <<<EOT
-->
		</p>
<script type="text/javascript" src="js/global.js"></script>
<!--
EOT;
if($GLOBALS[ifEditAdmin] && !defined('AREA_STATIC')){
$ifAdminview = (int) GetGP('adminview');
print <<<EOT
-->
<script type="text/javascript" src="js/date.js"></script>
<script type="text/javascript" src="mode/area/js/adminview.js"></script>
<script type="text/javascript" src="mode/area/js/tagrelate.js"></script>
<script type="text/javascript" src="js/color_picker.js"></script>
<script type="text/javascript">

window.onReady(function () {
	frontadmin = New(frontAdmin,['main','view-hover']);
	//門戶模塊管理
	var console=new ChannelManage($ifAdminview,av_url,av_alias,1);
	console.init();
});
function pickReback(color){
	getObj('color_show').style.backgroundColor = color;
}
function styleOnclick(e,obj){
	var objclass = e.className;
	var temp = objclass.split(' ');
	var newclass = '';
	for (var n=0; n<temp.length; n++){
		if (temp[n]=='one') {
			continue;
		}
		newclass += ' ' + temp[n];
	}
	if (objclass.match(/one/)) {
		e.className = newclass;
		getObj(obj).value = '';
	} else {
		e.className = newclass + ' one';
		getObj(obj).value = 1;
	}
}
function colorCancel(){
	getObj('color_show').style.backgroundColor='#FFFFFF';
	getObj('title1').value='';
}
</script>
<!--
EOT;
}print <<<EOT
-->
<!--
EOT;
if($GLOBALS['area_statictime']){print <<<EOT
-->
<img height="0" width="0" src="mode.php?m=area&q=static&type=autostatic&alias=$alias" />
<!--
EOT;
}print <<<EOT
-->
	</div>
</div></div>
</body></html>
<script>
var openmenu = {{$GLOBALS['db_menuinit']}};
window.onReady(function(){
	read.InitMenu();
	//消息提示
	new messageTip(90).init();
});
</script>

<!--
EOT;
if($GLOBALS['groupid'] != 'guest' && $GLOBALS['groupid'] != '' && $GLOBALS['db_toolbar']){print <<<EOT
-->
<!--[if IE 6]>
<!--SCRIPT type="text/javascript" src="js/core/bottomforie6.js"></SCRIPT-->
<![endif]-->
<!--
EOT;
}?>-->