 


<pw id="A1_標題@家裝" />
 家居頻道 


<pw id="A2_欄目導航@家裝" />

<li class="switchNavItem"><a href=""  target="_blank" >裝修設計</a></li>
<li class="switchNavItem"><a href=""  target="_blank" >家裝建材</a></li>
<li class="switchNavItem"><a href=""  target="_blank" >傢俱軟裝</a></li>
<li class="switchNavItem"><a href=""  target="_blank" >家用電器</a></li>
<li class="switchNavItem"><a href=""  target="_blank" >家裝日誌</a></li>
<li class="switchNavItem"><a href=""  target="_blank" >商家咨詢區</a></li>
<li class="switchNavItem"><a href=""  target="_blank" >家裝設計會所</a></li>



<pw id="A3_播放器@家裝" />

<ul class="switch" id="psp1_a">
<list cachetime="1800" action="image" num="4" title="圖片播放器大圖" />
<loop>
<li class="switchItem" style="display:none"><a href="{url}"  target="_blank" ><img src="{image,300,400}" width="300" height="400" /><h3>{title,30}</h3></a></li>
</loop>
</ul>
<div class="pwSlide-bg"></div>
<ul class="SwitchNav" id="psp1_b">
<!--#for($i = 1; $i<=$key+1; $i++){#-->					
	<li class="switchNavItem"><a href="#" onclick="return false;">{$i}</a></li>
<!--#}#-->
</ul>
<script type="text/javascript" src="mode/area/js/ddsliderplayer.js"></script>
<script>ddSliderPlayers('psp1_a','psp1_b',4,'current');</script>




<pw id="A4_中間摘要@家裝" />
<list cachetime="1800" action="subject" num="2" title="頭條標題摘要" />
<loop>
	<li>
		<h2><a class="s1" href="{url}"  target="_blank" >{title,25}</a></h2>
		<p>{descrip,80} <a class="s1" href="{url}"  target="_blank" >[詳情]</a></p>
	</li>
</loop>




<pw id="A5_中間列表@家裝" />
<list cachetime="1800" action="subject" num="8" title="標題列表" />
<loop><li><a href="{url}"  target="_blank" ><span class="s1">[{forumname,8}]</span>{title,40}</a></li></loop>





<pw id="A6_右側標題@家裝" />
 裝修課程表 


<pw id="A7_右側圖文@家裝" />
<list cachetime="1800" action="image" num="2" title="圖文列表X2" />
<loop>
<div class="subject mb10 cc">
<a href="{url}"  target="_blank" ><img class="fl" src="{image,60,55}" width="60" height="55" /></a>
	<h3><a href="{url}"  target="_blank" >{title,25}</a></h3>
	<p>{descrip,35} <a class="s1" href="{url}"  target="_blank" >[詳情]</a></p>
</div>
</loop>




<pw id="A8_右側列表@家裝" />
<list cachetime="1800" action="subject" num="5" title="標題列表" />
<loop>
<li><a href="{url}"  target="_blank" >【{forumname,8}】{title,20}</a></li>
</loop>




<pw id="A9_右側廣告@家裝" />
 <a href="{url}"  target="_blank" ><img src="mode/area/themes/decoration/temp/ad225x80.png" width="225" height="80" /></a> 


<pw id="B1_標題@家裝" />

<h3>最惠團購</h3>
<a href="{url}"  target="_blank"  class="more">更多》</a> 


<pw id="B2_左側圖片@家裝" />
<list cachetime="1800" action="image" num="1" title="圖文" />
<loop>
	<div class="img">
	<a href="{url}"  target="_blank" ><img src="{image,175,115}" width="175" height="115" /></a></div>
	<h3><a href="{url}"  target="_blank" >{title,25}</a></h3>
	<p class="s2 mb10">{descrip,60}</p>
</loop>

<pw id="B21_左側圖片摘要@家裝" />
	<ul class="mb10">
		<li>團購價：<strong class="s1 b">12000.00元</strong></li>
		<li>已報名：<strong class="s1 b">12人</strong></li>
	</ul>


<pw id="B3_中間列表@家裝" />
	<list cachetime="1800" action="subject" num="12" title="標題列表X12" />
		<loop>
		<li><a href="{url}"  target="_blank" >[{forumname,8}]{title,20}</a></li>
		</loop>




<pw id="B4_中間圖文@家裝" />
	<list cachetime="1800" action="image" num="5" title="圖片列表X5" />
		<loop>
		<li><a href="{url}"  target="_blank" ><img src="{image,80,80}" width="80" height="80" />{title,12}<br /><strong class="s1 b">{descrip,12}</strong></a></li>
		</loop>



<pw id="B5_右側標題@家裝" />
 裝修活動 


<pw id="B6_右側圖文@家裝" />
	<list cachetime="1800" action="image" num="2" title="圖片列表X2" />
		<loop>
		<li><a href="{url}"  target="_blank" ><img src="{image,105,85}" width="105" height="85" />{title,15}</a></li>
		</loop>




<pw id="B7_右側摘要@家裝" />
<list cachetime="1800" action="subject" num="2" title="標題摘要_2" />
<loop>
<li>
	<h3><a class="s1" href="{url}"  target="_blank" >{title,20}</a></h3>
	<p>{descrip,60}</p>
</li>
</loop>





<pw id="B8_橫幅廣告@家裝" />
 <a href="{url}"  target="_blank" ><img src="mode/area/themes/decoration/temp/ad940x90.png" width="940" height="90" /></a> 


<pw id="C1_標題@家裝" />
 裝修材料 


<pw id="C2_欄目導航@家裝" />
 <a href="{url}"  target="_blank" >地面材料</a> │ <a href="{url}"  target="_blank" >櫥櫃</a> │ <a href="{url}"  target="_blank" >衛浴</a> │ <a href="{url}"  target="_blank" >傢俱</a> │ <a href="{url}"  target="_blank" >裝修公司</a> │ <a href="{url}"  target="_blank" >家用電器</a> 


<pw id="C3_圖片@家裝" />
	<list cachetime="1800" action="image" num="7" title="圖片X7" />
	<loop>
	<li><a href="{url}"  target="_blank" ><img src="{image,120,90}" width="120" height="90" /></a></li>
	</loop>




<pw id="C4_橫幅廣告@家裝" />
 <a href="{url}"  target="_blank" ><img src="mode/area/themes/decoration/temp/ad940x90.png" width="940" height="90" />
</a> 


<pw id="D1_標題@家裝" />
 裝修設計 


<pw id="D2_欄目導航@家裝" />
 <a href="{url}"  target="_blank" >設計</a> │ <a href="{url}"  target="_blank" >裝修</a> │ <a href="{url}"  target="_blank" >問題咨詢</a> │ <a href="{url}"  target="_blank" >美圖分享</a> │ <a href="{url}"  target="_blank" >曝光</a> 


<pw id="D3_左側標題@家裝" />
 裝修流程 


<pw id="D4_欄目導航1@家裝" />

<dt><a href="{url}"  target="_blank" >裝修前期</a></dt>
<dd><a href="{url}"  target="_blank" >收房驗房</a></dd>
<dd><a href="{url}"  target="_blank" >市場調驗</a></dd>
<dd><a href="{url}"  target="_blank" >資金準備</a></dd>
<dt><a href="{url}"  target="_blank" >選定方案</a></dt>
<dd><a href="{url}"  target="_blank" >功能風格</a></dd>
<dd><a href="{url}"  target="_blank" >制定預算</a></dd>
<dt><a href="{url}"  target="_blank" >公司選擇</a></dt>



<pw id="D5_欄目導航2@家裝" />

<dd><a href="{url}"  target="_blank" >資質考察</a></dd>
<dd><a href="{url}"  target="_blank" >簽訂合同</a></dd>
<dt><a href="{url}"  target="_blank" >選購主材</a></dt>
<dd><a href="{url}"  target="_blank" >瓷磚</a></dd>
<dd><a href="{url}"  target="_blank" >地板</a></dd>
<dd><a href="{url}"  target="_blank" >櫥櫃</a></dd>
<dd><a href="{url}"  target="_blank" >潔具</a></dd>
<dd><a href="{url}"  target="_blank" >家居</a></dd>



<pw id="D6_欄目導航3@家裝" />

<dt><a href="{url}"  target="_blank" >裝修施工</a></dt>
<dd><a href="{url}"  target="_blank" >開工準備</a></dd>
<dd><a href="{url}"  target="_blank" >材料進場</a></dd>
<dd><a href="{url}"  target="_blank" >結構改造</a></dd>
<dd><a href="{url}"  target="_blank" >水電改造</a></dd>
<dt><a href="{url}"  target="_blank" >監理驗收</a></dt>
<dd><a href="{url}"  target="_blank" >家裝監理全過程</a></dd>
<dd><a href="{url}"  target="_blank" >污染檢測</a></dd>



<pw id="D7_左下標題@家裝" />
 施工流程詳解 


<pw id="D8_左下圖文@家裝" />
	<list cachetime="1800" action="image" num="1" title="圖文x1" />
		<loop>
			<div class="subject mb10 cc"><a href="{url}"  target="_blank" ><img src="{image,90,65}" class="fl" width="90" height="65" /></a>
				<h3 class="f14"><a href="{url}"  target="_blank" >{title,20}</a></h3>
				<p class="s2">{descrip,40}</p>
			</div>
		</loop>


<pw id="D9_左下列表@家裝" />
<list cachetime="1800" action="subject" num="4" title="標題列表x4" />
<loop>
<li><a href="{url}"  target="_blank" >{title,35}</a></li>
</loop>



<pw id="D10_中間摘要@家裝" />
<list cachetime="1800" action="subject" num="2" title="標題X2" />
<loop>
<li>
	<h2><a href="{url}"  target="_blank" >{title,30}</a></h2>
	<p class="s2">{descrip,90}<a class="s1" href="{url}"  target="_blank" >[詳情]</a></p>
</li>
</loop>






<pw id="D11_中間標題@家裝" />
 小編探店 


<pw id="D12_中間圖文@家裝" />
<list cachetime="1800" action="image" num="1" title="圖文x1" />
<loop><a href="{url}"  target="_blank" ><img class="fl" src="{image,120,80}" width="120" height="80" /></a>
<h3 class="f14 fn"><a href="{url}"  target="_blank" >【{forumname,8}】{title,15}</a></h3>
<p>{descrip,80}<a class="s1" href="{url}"  target="_blank" >[詳情]</a></p>
</loop>






<pw id="D13_中間列表@家裝" />
<list cachetime="1800" action="subject" num="6" title="標題列表" />
<loop>
<li><a href="{url}"  target="_blank" >{title,45}</a></li>
</loop>



<pw id="D14_右上標題@家裝" />
 設計師之家 


<pw id="D15_右上圖文@家裝" />
<list cachetime="1800" action="image" num="2" title="圖文列表_2" />
<loop>
<li> <a href="{url}"  target="_blank" ><img class="fl" src="{image,60,60}" width="60" height="60" /></a>
	<div class="infos">
		<div class="wrap">
<h4><a href="{url}"  target="_blank" >{title,25}</a></h4>
<p>{descrip,40}</p>
<s></s> </div>
	</div>
</li>
</loop>





<pw id="D16_右下標題@家裝" />
 戶型分析 


<pw id="D17_右下圖文@家裝" />
<list cachetime="1800" action="image" num="1" title="圖文1" />
	<loop> 
	<a href="{url}"  target="_blank" ><img class="fl" src="{image,85,65}" width="85" height="65" /></a>
	<h3><a href="{url}"  target="_blank" >{title,25}</a></h3>
	<p class="s2">{descrip,60}</p>
	</loop>






<pw id="D18_右下列表@家裝" />
<list cachetime="1800" action="subject" num="6" title="標題列表" />
<loop>
<li><a href="{url}"  target="_blank" >{title,30}</a></li>
</loop>



<pw id="D19_橫幅廣告@家裝" />
 <a href="{url}"  target="_blank" ><img src="mode/area/themes/decoration/temp/ad940x70.png" width="940" height="90" />
</a> 


<pw id="E1_標題@家裝" />
 家裝日誌 


<pw id="E2_欄目導航@家裝" />
 <a href="{url}"  target="_blank" >裝修日記</a> │ <a href="{url}"  target="_blank" >家居圖片</a> │ <a href="{url}"  target="_blank" >裝修日記大賽</a> │ <a href="{url}"  target="_blank" >家裝心得</a> 


<pw id="E3_標題1@家裝" />
 我秀我家--準備 


<pw id="E4_圖片1@家裝" />
<list cachetime="1800" action="image" num="4" title="圖片列表X4" />
<loop>
<li><a href="{url}"  target="_blank" ><img src="{image,90,65}" width="90" height="65" />{title,15}</a></li>
</loop>




<pw id="E5_標題2@家裝" />
 我秀我家--進行 


<pw id="E6_圖片2@家裝" />
<list cachetime="1800" action="image" num="4" title="圖片列表X4" />
<loop><li><a href="{url}"  target="_blank" ><img src="{image,90,65}" width="90" height="65" />{title,15}</a></li>
</loop>




<pw id="E7_標題3@家裝" />
 我秀我家--完成 


<pw id="E8_圖片3@家裝" />
	<list cachetime="1800" action="image" num="4" title="圖片列表x4" />
		<loop>
		<li><a href="{url}"  target="_blank" ><img src="{image,90,65}" width="90" height="65" />{title,15}</a></li>
		</loop>




<pw id="E9_標題4@家裝" />
 我秀我家--其他 


<pw id="E10_圖片4@家裝" />
	<list cachetime="1800" action="image" num="4" title="圖片X4" />
		<loop>
		<li><a href="{url}"  target="_blank" ><img src="{image,90,65}" width="90" height="65" />{title,15}</a></li>
		</loop>



<pw id="E11_左下圖文@家裝" />
	<list cachetime="1800" action="image" num="1" title="圖文X1" />
	<loop>
	<a href="{url}"  target="_blank" ><img class="fl" src="{image,95,75}" width="95" height="75" /></a>
	<h3 class="f14"><a href="{url}"  target="_blank" >{title,25}</a></h3>
	<p>{descrip,100}</p>
	</loop>




<pw id="E12_右下列表@家裝" />
	<list cachetime="1800" action="subject" num="8" title="標題列表x8" />
	<loop>
	<li><a class="s1" href="{url}"  target="_blank" >{title,35}</a></li>
	</loop>




<pw id="E13_橫幅廣告@家裝" />
 <a href="{url}"  target="_blank" ><img src="mode/area/themes/decoration/temp/ad940x70.png" width="940" height="90" /></a> 



<pw id="F1_標題@家裝" />
 家居生活 


<pw id="F2_欄目導航@家裝" />
 <a href="{url}"  target="_blank" >傢俱</a> │ <a href="{url}"  target="_blank" >布藝家紡</a> │ <a href="{url}"  target="_blank" >燈具燈飾</a> │ <a href="{url}"  target="_blank" >我秀我家</a> | <a href="{url}"  target="_blank" >十字繡</a> 


<pw id="F3_左側標題@家裝" />
 家居風水 


<pw id="F4_左側圖文@家裝" />
<list cachetime="1800" action="image" num="1" title="圖文列表" />
	<loop>
		<a href="{url}"  target="_blank" ><img class="fl" src="{image,95,75}" width="95" height="75" /></a>
		<h3 class="f14"><a href="{url}"  target="_blank" >{title,20}</a></h3>
		<p>{descrip,70}</p>
	</loop>




<pw id="F5_左側列表@家裝" />
<list cachetime="1800" action="subject" num="5" title="標題列表x5" />
<loop><li><a href="{url}"  target="_blank" ><span class="s1">[{forumname,8}]</span>{title,30}</a></li></loop>







<pw id="F6_左側圖片@家裝" />
	<list cachetime="1800" action="image" num="3" title="圖片X3" />
		<loop>
		<li><a href="{url}"  target="_blank" ><img src="{image,85,100}" width="85" height="100" />{title,12}</a></li>
		</loop>





<pw id="F7_中間摘要@家裝" />
<list cachetime="1800" action="subject" num="2" title="標題摘要X2" />
	<loop>
	<li>
		<h2><a href="{url}"  target="_blank" >{title,30}</a></h2>
		<p class="s2">{descrip,90}  <a class="s1" href="{url}"  target="_blank" >[詳情]</a></p>
	</li>
	</loop>





<pw id="F8_中間標題@家裝" />
 潮流設計 


<pw id="F9_中間圖文@家裝" />
<list cachetime="1800" action="image" num="1" title="圖文X1" />
<loop>
<a href="{url}"  target="_blank" ><img class="fl" src="{image,120,80}" width="120" height="80" /></a>
<h3 class="f14"><a href="{url}"  target="_blank" >{title,24}</a></h3>
<p>{descrip,80} <a class="s1" href="{url}"  target="_blank" >[詳情]</a></p>
</loop>
 




<pw id="F10_中間列表@家裝" />
<list cachetime="1800" action="subject" num="3" title="標題X3" />
<loop>
<li><a href="{url}"  target="_blank" >{title,50}</a></li>
</loop>





<pw id="F11_右上標題@家裝" />
 家居搭配 


<pw id="F12_右上圖片@家裝" />
<list cachetime="1800" action="image" num="3" title="圖片x3" />
<loop>
<li><a href="{url}"  target="_blank" ><img src="{image,70,70}" width="70" height="70" />{title,12}</a></li>
</loop>



<pw id="F13_右上列表@家裝" />

<list cachetime="1800" action="subject" num="2" title="標題X2" />
<loop>
<li><a class="s2" href="{url}"  target="_blank" >{title,30}</a></li>
</loop>




<pw id="F14_右下標題@家裝" />
 編輯帶您選家居 


<pw id="F15_右下摘要@家裝" />
<list cachetime="1800" action="image" num="1" title="圖文X1" />
<loop>
<a href="{url}"  target="_blank" ><img class="fl" src="{image,85,65}" width="85" height="65" /></a>
<h3><a href="{url}"  target="_blank" >{title,20}</a></h3>
<p>{descrip,50}</p>
</loop>
 



<pw id="F16_右下列表@家裝" />
<list cachetime="1800" action="subject" num="3" title="標題x3" />
<loop>
<li><a href="{url}"  target="_blank" >{title,30}</a></li>
</loop>



<pw id="F17_橫幅廣告@家裝" />
 <a href="{url}"  target="_blank" ><img src="mode/area/themes/decoration/temp/ad940x90.png" width="940" height="90" />
</a> 


<pw id="G1_標題@家裝" />
 家裝建材 


<pw id="G2_欄目導航@家裝" />
 <a href="{url}"  target="_blank" >瓷磚</a> │ <a href="{url}"  target="_blank" >塗料</a> │ <a href="{url}"  target="_blank" >照明</a> │ <a href="{url}"  target="_blank" >門窗樓梯</a> | <a href="{url}"  target="_blank" >地板</a> | <a href="{url}"  target="_blank" >櫥櫃</a> | <a href="{url}"  target="_blank" >吊頂</a> | <a href="{url}"  target="_blank" >衛浴</a> 


<pw id="G3_左上標題@家裝" />
 賣場尋店 


<pw id="G4_左上圖文1@家裝" />
	<list cachetime="1800" action="image" num="1" title="圖片x1" />
	<loop>
	<a href="{url}"  target="_blank" ><img class="fl" src="{image,95,60}" width="95" height="60" /></a>
	</loop>
	<list cachetime="1800" action="subject" num="3" title="標題x3" />
	<ul class="list">
		<loop>
		<li><a href="{url}"  target="_blank" >{title,20}</a></li>
		</loop>
	</ul>



<pw id="G6_左上圖文2@家裝" />
	<list cachetime="1800" action="image" num="1" title="圖片x1" />
	<loop>
	<a href="{url}"  target="_blank" ><img class="fl" src="{image,95,60}" width="95" height="60" /></a>
	</loop>
	<list cachetime="1800" action="subject" num="3" title="標題x3" />
	<ul class="list">
		<loop>
		<li><a href="{url}"  target="_blank" >{title,20}</a></li>
		</loop>
	</ul>



<pw id="G8_左下標題@家裝" />
 小編手記 


<pw id="G9_左下圖文@家裝" />
	<list cachetime="1800" action="image" num="1" title="圖片x1" />
	<loop>
	<a href="{url}"  target="_blank" ><img class="fl" src="{image,95,60}" width="95" height="60" /></a>
	</loop>
	<list cachetime="1800" action="subject" num="3" title="標題x3" />
	<ul class="list">
		<loop>
		<li><a href="{url}"  target="_blank" >{title,20}</a></li>
		</loop>
	</ul>



<pw id="G11_中間圖文1@家裝" />
<list cachetime="1800" action="image" num="1" title="圖文" />
<loop>
<a href="{url}"  target="_blank" ><img class="fl" src="{image,125,85}" width="125" height="85" /></a>
<h3 class="f14 s1"><a href="{url}"  target="_blank" >{title,10}</a></h3>
<p class="s2">{descrip,50}<a class="s1" href="{url}"  target="_blank" >[詳情]</a></p>
</loop>




<pw id="G12_中間列表1@家裝" />
<list cachetime="1800" action="subject" num="4" title="標題x4" />
<loop><li><a href="{url}"  target="_blank" >{title,20}</a></li>
</loop>



<pw id="G13_中間圖文2@家裝" />
<list cachetime="1800" action="image" num="1" title="圖文" />
<loop>
<a href="{url}"  target="_blank" ><img class="fl" src="{image,125,85}" width="125" height="85" /></a>
<h3 class="f14 s1"><a href="{url}"  target="_blank" >{title,10}</a></h3>
<p class="s2">{descrip,50}<a class="s1" href="{url}"  target="_blank" >[詳情]</a></p>
</loop>



<pw id="G14_中間列表2@家裝" />
<list cachetime="1800" action="subject" num="4" title="標題x4" />
<loop><li><a href="{url}"  target="_blank" >{title,20}</a></li>
</loop>



<pw id="G15_中間圖文3@家裝" />
<list cachetime="1800" action="image" num="1" title="圖文" />
<loop>
<a href="{url}"  target="_blank" ><img class="fl" src="{image,125,85}" width="125" height="85" /></a>
<h3 class="f14 s1"><a href="{url}"  target="_blank" >{title,10}</a></h3>
<p class="s2">{descrip,50}<a class="s1" href="{url}"  target="_blank" >[詳情]</a></p>
</loop>



<pw id="G16_中間列表3@家裝" />
<list cachetime="1800" action="subject" num="4" title="標題x4" />
<loop><li><a href="{url}"  target="_blank" >{title,20}</a></li>
</loop>




<pw id="G17_中間圖文4@家裝" />
<list cachetime="1800" action="image" num="1" title="圖文" />
<loop>
<a href="{url}"  target="_blank" ><img class="fl" src="{image,125,85}" width="125" height="85" /></a>
<h3 class="f14 s1"><a href="{url}"  target="_blank" >{title,10}</a></h3>
<p class="s2">{descrip,50}<a class="s1" href="{url}"  target="_blank" >[詳情]</a></p>
</loop>



<pw id="G18_中間列表4@家裝" />
<list cachetime="1800" action="subject" num="4" title="標題x4" />
<loop><li><a href="{url}"  target="_blank" >{title,20}</a></li>
</loop>



<pw id="G19_橫幅廣告@家裝" />
 <a href="{url}"  target="_blank" ><img src="mode/area/themes/decoration/temp/ad940x70.png" width="940" height="70" />
</a> 


<pw id="H1_標題@家裝" />
 家電採購 


<pw id="H2_欄目導航@家裝" />
 <a href="{url}"  target="_blank" >電視</a> │ <a href="{url}"  target="_blank" >冰箱</a> │ <a href="{url}"  target="_blank" >洗衣機</a> │ <a href="{url}"  target="_blank" >空調</a> | <a href="{url}"  target="_blank" >碟機音響</a> | <a href="{url}"  target="_blank" >廚衛電器</a> | <a href="{url}"  target="_blank" >小家電</a> 


<pw id="H3_左側標題@家裝" />
 家電維修 


<pw id="H4_左側圖文@家裝" />
<list cachetime="1800" action="image" num="1" title="圖文x1" />
<loop>
<a href="{url}"  target="_blank" ><img class="fl" src="{image,95,85}" width="95" height="85" /></a>
<h3><a href="{url}"  target="_blank" >{title,25}</a></h3>
<p class="s2">{descrip,70}</p>
</loop>




<pw id="H5_左側列表@家裝" />
<list cachetime="1800" action="subject" num="4" title="標題x4" />
<loop><li><a href="{url}"  target="_blank" ><span class="s1">[{forumname,8}]</span>{title,20}</a></li>
</loop>




<pw id="H6_中間圖片@家裝" />
<list cachetime="1800" action="image" num="4" title="圖文" />
<loop><li class="fl"><div class="pho"><a href="{url}"  target="_blank" ><img src="{image,120,90}" width="120" height="90" /></a></div><a href="{url}"  target="_blank"  class="s2">{title,10}</a></li></loop>





<pw id="H7_右側摘要@家裝" />
<list cachetime="1800" action="subject" num="2" title="標題摘要x2" />
<loop><li><h2><a class="s1" href="{url}"  target="_blank" >{title,35}</a></h2><p class="s2">{descrip,70} <a href="{url}"  target="_blank"  class="s1">[詳情]</a></p></li>
</loop>




<pw id="H8_右側列表@家裝" />
<list cachetime="1800" action="subject" num="3" title="標題x3" />
<loop><li><a href="{url}"  target="_blank" >{title,40}</a></li></loop>

