html,body{background:#f7f7f7 url(bg.jpg);font:16px/2 Tahoma,'Microsoft Yahei','mingliu';color:#333;padding:0;margin:0;}
.error_wrap{width:380px;padding-left:260px;margin:130px auto 0;padding-top:35px;height:350px;background:url(404_tips.png) no-repeat;}
.error_wrap p{padding:0;margin:0;}
.error_wrap h1{padding:0;margin:0 0 10px;width:224px;height:40px;overflow:hidden; text-indent:-2000em;background:url(404_h1.png) no-repeat;}