.tr3 .w{margin-right:10px;}
.tr3 td,.tr3 th{padding:.3em;padding-left:.8em;}
.tr3 td table tr td,.tr3 th table tr td{padding:.4em;padding-left:0;}
.tr3 th{text-align:left;font-weight:normal;}

.tgtable{border:none!important;}
.tgtable td{padding:15px 5px; line-height:24px;}
.tgtable td em{color:#f14a10;}
.tgtable input[type=radio]{margin-right:3px; *margin-right:0;}
.tr3 .tgtable td{border-bottom:none}


/*new add by shenjianming date:2010/3/29
reason: 社區AA
*/
table.table_cost{*border:none!important}
table.table_cost thead th{font-size:13px!important; color:#454545!important; font-weight:normal!important; padding:5px 0!important}
table.table_cost tbody td{padding:2px 0!important; line-height:1}

.aa_add,.aa_remove,.aa_ok,.aa_err{ display:inline-block; margin:0 6px; vertical-align:middle; width:9px; overflow:hidden; font-style:normal; text-indent:-99em; background:url(icon_add.png) no-repeat 0 50%; cursor:pointer;}
.aa_remove{background-image:url(icon_remove.png)}
.aa_ok{background-image:url(icon_ok.png); width:16px; line-height: 20px}
.aa_err{width:auto; text-indent:0; padding:4px 16px 4px 28px; border:1px solid #ffb3b6; color:#f14a10; line-height:1; background:#fef1f0 url(icon_err.png) no-repeat 5px 50%; cursor:text; white-space:nowrap; word-break:keep-all;}

.aa_alert385{width:385px; line-height:22px; color:#000; padding:5px 20px 5px 25px;}
.aa_alert385 img{float:left}
.aa_alert385 .tac{clear:both; margin:15px 0 10px}
.h{color:#069}

/* CSS Document */
/*AA 發貼Start*/
.wy_left {padding-top: 15px}
.wy_left .wy_face {margin-bottom: 5px;}
.wy_left .wy_uid {color:#3366cc; line-height:18px}
/*邊框樣式*/
.mb10 {margin-bottom: 10px}
.mr50 {margin-right: 50px}
.w_btn,.w_bt,.wy_top_but i,.wy_menu .wy_title{background:url(editor_bg.png) repeat-x;}

/*按鈕*/
.w_btn{border:1px solid #ce7201;color:#fff;background-position:0 -60px; background-color:#fcd791; font-weight:700;}
.w_btn,.w_bt{cursor:pointer;padding:2px 12px;*padding:2px 12px 0;;font-size:9pt; line-height:130%; overflow:visible;vertical-align:middle; font-size:14px;}
.w_bt{border:1px solid #ccc; background-position:0 -85px;}

/*編輯器外框架*/
.wind_editor{margin:0 30px 0 0;min-width:700px;background:#fff;}
.tr3{color:#525252; line-height:24px;}
.tr3:hover{color:#525252;}
.tr3 td{padding:5px 10px 5px 0;border-bottom:1px dashed #e4e4e4;}
.tr3 td th{border-bottom:none}


/*分類下拉*/
.menu_select{float:left;line-height:25px;height:25px;margin-left:5px;cursor:pointer; font-size:14px;}
.menu_select div{padding-left:10px;background-color:#fff;white-space:nowrap;}
.menu_select ul{height:0;overflow:hidden;float:left;clear:left;padding:0 1px;}
.menu_select li{white-space:nowrap;padding:0 15px 0 10px;}
.menu_select li:hover{background-color:#f2f2f2;}
.menu_select .hover{position:absolute;height:auto;z-index:9999;background:#fff;border-top:0;margin-top:-1px;float:normal;clear:both;padding:0;}
.w_editor_up{background-color:#f8f8f8;padding:5px;}
.w_editor_up td{padding:2px 0 2px 10px;}
.w_editor_up .w_tab_a{padding-left:10px;position:absolute;}
.w_editor_up .w_tab_a li{float:left;margin-right:5px;color:#666;}
.w_editor_up .w_tab_a li a{float:left;display:block;line-height:22px;padding:0 15px;border:1px solid #ddd;color:#666;background-color:#fbf9fa;}
.w_editor_up .w_tab_a li a:hover{background-color:#fff;text-decoration:none;}
.w_editor_up .w_tab_a .none_css a{border:none;background-color:none;line-height:18px;margin-top:2px;}
.w_editor_up .w_tab_a .none_css a:hover{background-color:#f8f8f8;color:#3366cc;}
.w_editor_up .w_tab_a .none_css .wy_tips:hover{color:#666;}
.wy_tips{background:url(w_edit_but.png) right center no-repeat;float:left;}
.wy_tips i{display:none;}
.wy_tips:hover{color:#333;_position:relative;text-decoration:none;}
.wy_tips:hover i{display:block; position:absolute;border:1px solid #f8ad48;background:#fffeed;padding:5px 8px;color:#333;font-style:normal;line-height:150%;word-break:keep-all;word-wrap:no-wrap;}
.w_editor_up .w_tab_a .current a{background:#fff;border-bottom:none;color:#333;padding-bottom:1px;}
.w_editor_up_con{background-color:#ffffff;padding:10px;border-top:1px solid #ddd;}
/*標題欄按鈕*/
.wy_top_but{position:absolute;margin-top:-27px;}
.wy_top_but i{font-style:normal;background-position: 0 -85px;padding:0 10px;border:1px solid #ccc; cursor:pointer;line-height:21px;float:left;margin-right:5px;height:21px;overflow:hidden;background-color:#fff; -moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.wy_top_but i.cc{margin-left:30px;}
.wy_top_but i span{padding-right:14px;background:url(droparrow.gif) right center no-repeat;float:left;}
.wy_top_but i.current{border-bottom:1px solid #fff;padding:0 10px 4px 10px;}
/*設置*/
.w_options{padding:10px;border:1px solid #ccc;background:#ffffff;border-top:0;}
.w_options ul{width:200px;border-right:1px solid #e4e4e4;float:left;margin-right:15px;}
.w_options li{line-height:25px;}
.w_options li .input,.w_options li select{margin-right:5px;}

.post-tips{margin-top:5px;background:#fffeed;padding:5px 10px;}
.menu_img{margin-left:-130px;margin-top:20px;}
.menu_img img{width:120px;}
.review_bg:hover{background:#f7f7f7; cursor:default;}


/*add by shenjianming 2010.2.8*/
.w_title_p{float:left; height:27px; line-height:27px; color:000; margin-left:10px}
.w_title_p em{color:#ff4c00!important; font-style:normal; padding:0 2px;}

.wind_editor .tr3{background-image:none}
.wind_editor .hd{padding-top:8px; line-height:30px;}
.wind_editor .hd h4{font-size:14px; font-weight:bold; color:#000; float:left}
.wind_editor .hd .help{float:left; margin-left:10px; color:#36c}
.wind_editor .tr3 th{font-size:14px; font-weight:bold; color:#36c}
.t_pic{}
.t_pic .t_img{float:left; margin-right:10px; width:60px; height:80px; text-align:center; line-height:18px; overflow:hidden}
.t_pic .t_img img{width:60px; height:60px;}
.t_pic .btn,.t_pic p{float:left; margin:20px 10px 20px 0;}
.t_pic p{color:#888; height:20px; line-height:20px;}
.t_pic .good-name{color:#ff4c00}

.diy_box{float:left; display:inline; border:1px solid #c7c7c7; background-color:#f7f7f7; padding:3px 15px 5px 10px; position:relative}
#diy_time{margin-left:74px; *margin-left:95px;}
#diy_price{margin-left:16px;}
#t_cost span{padding:0 10px 0 5px;}
/*new add by shenjianming date:2010/04/10
*/
/*支付寶最大人數提示*/
.alert-alipay{position:absolute; top:-23px; *top:-21px; _top:-20px; left:-32px; line-height:1; padding:3px 10px; color:#aa6d36; white-space:nowrap; word-break:keep-all; border:1px solid #ffa800; background-color:#fff1d6;}
.alert-alipay i{position:absolute; top:18px; left:35px; width:12px; height:6px; overflow:hidden; background:url(bg_alipay_alert.png) no-repeat 0 0;}
/*AA 發貼End*/



