<pw id="個人中心_首頁_用戶" />
<div class="pw_pushB cc" id="commendDr">
	<a href="javascript:;" class="fl preLive">上一頁</a>
	<a href="javascript:;" class="fr nextLive">下一頁</a>
    <div class="ulLive">
	<ul class="cc">
		<list num="20" action="user" cachetime="1800" ifpushonly="0" title="用戶" />
		<loop>
		   <li>
	        <a href="{url}" class="img_50"><img src="{image}" width="40" height="40" title="{title}" /></a>
	        <p>
	            <a href="{url}" target="_blank" title="{title}">{title}</a>
	        </p>
	    </li>
		</loop>
	</ul>
    </div>
</div>
