


<pw id="L9894homeP83" />
				<a href="" target="_blank"><img src="$channelImagePath/p83_temp_1.jpg" /></a>




<pw id="L6664homeP83" title="焦點圖片輪播" />
			<div class="pwSlideWrap">
			 <div id="pwSlidePlayer" class="pwSlide">
			 <list num="4" action="image" cachetime="1800" ifpushonly="0" title="圖片" />
				<ul class="switch" id="PP1_A">
				<loop>
					<li class="switchItem" style="display:"><a href="{url}" target="_blank"><img src="{image,270,270}" width="270" height="270" /><h3>{title,40}</h3></a></li>
					</loop>
				</ul>
				<div class="pwSlide-bg"></div>
				<ul class="SwitchNav" id="PP1_B">
				<!--#for($i = 1; $i<=$key+1; $i++){#-->					
				<li class="switchNavItem"><a href="#" onclick="return false;">{$i}</a></li>
			    <!--#}#-->
				</ul>
			</div>
			</div>
		<script type="text/javascript" src="mode/area/js/ddsliderplayer.js"></script>
		<script>ddSliderPlayers('PP1_A','PP1_B',4,'current');</script>

			


<pw id="K6968homeP83" title="標題" />
				生活參考




<pw id="O7973homeP83" title="生活參考圖文" />
				<list num="1" action="image" cachetime="0" ifpushonly="0" title="配圖標題摘要" />
					<loop>
						<dl class="p83_dlA clB cc mb5">
							<dd class="p83_dlA_p"> <a href="{url}"  target="_blank" title="{title}"><img src="{image,80,80}" width="80" height="80"  /></a> </dd>
							<dt class="p83_dlA_t b"><a href="{url}"  target="_blank" title="{title}" class="p83_fcA">{title,20}</a></dt>
							<dd class="p83_dlA_c"><a href="{url}"  target="_blank" title="{title}" class="p83_fcB" >{descrip,70}.</a></dd>
						</dl>
					</loop>				
				


<pw id="G8597homeP83" title="生活參考圖文" />
				<list num="4" action="subject" cachetime="0" ifpushonly="0" title="標題列表" />
					<ul class="p83_ulA">
						<loop><li><a href="{url}"  target="_blank" title="{title}">【{forumname}】{title,30}</a></li></loop>
					</ul>
		



<pw id="G9393homeP83" />
	<list num="3" action="subject" cachetime="10" ifpushonly="0" title="熱點標題摘要" />
		<loop>
	<dl class="p83_dlB clB">
	<!--# $count = $key+1;#-->
		<dt><a href="{url}"  target="_blank" title="{title}" class="b p83_fcC_$count cc">{title,45}</a></dt>
		<dd><a href="{url}"  target="_blank" title="{title}" class="p83_fcB">{descrip,100}&#46;&#46;.</a><a href="{url}"  target="_blank" title="{title}">（閱讀全文）</a></dd>
	</dl>
		</loop>


<pw id="P5921homeP83" />
				<list num="9" action="subject" cachetime="0" ifpushonly="0" title="標題列表" />
				<ul class="p83_ulB clB cc">
					<loop><li><a href="{url}"  target="_blank" title="{title}" class="p83_fcC">[{forumname,10}]</a><a href="{url}"  target="_blank" title="{title}">{title,50}</a></li></loop>	
				</ul>
		



<pw id="Q3054homeP83" />
	熱點話題


<pw id="X1554homeP83" />
				<list num="1" action="subject" cachetime="0" ifpushonly="0" title="突出標題列表" />
					<loop><h5 class="p83_box_h5 mb5 clB"><a class="f14 p83_fcD b"  href="">{title,25}</a></h5></loop>
					
				<list num="6" action="subject" cachetime="10" ifpushonly="0" title="標題列表" />
					<ul class="p83_ulA">
						<loop><li><a href="{url}"  target="_blank" title="{title}">{title,30}</a></li></loop>
					</ul>
				


<pw id="T6737homeP83" />
					<div class="clB cc mb10"><a href="{url}"  target="_blank" title="{title}"><img src="$channelImagePath/p83_temp_2.jpg" class="fl" /></a></div>


<pw id="Y201homeP83" />
	<list action="subject" num="1"  title="突出標題列表" />
		<loop><h5 class="p83_box_h5 mb5 clB"><a class="f14 p83_fcD b"  href="">{title,25}</a></h5></loop>
		
	<list action="subject" num="6" title="標題列表"  />
		<ul class="p83_ulA">
<loop><li><a href="{url}"  target="_blank" title="{title}">{title,30}</a></li></loop>
		</ul>
	


<pw id="I8171homeP83" />
					<a href="{url}"  target="_blank" title="{title}"><img src="$channelImagePath/p83_temp_3.jpg" /></a>
					
					


<pw id="V7942homeP83" />
	精彩活動




<pw id="V5880homeP83" />
				<list action="subject" num="4"  title="標題列表1" />
					<ul class="p83_ulA p83_ulC">
						<loop><li><a href="{url}"  target="_blank" title="{title}" class="p83_fcE">[{forumname,10}]</a><a href="{url}"  target="_blank" title="{title}">{title,30}</a></li></loop>
					</ul>
					
				<list action="subject" num="6"  title="標題列表2" />
					<ul class="p83_ulA f14">
						<loop><li><span class="gray fr f12">{postdate,m-d}</span><a href="{url}"  target="_blank" title="{title}">{title,30}</a></li></loop>
					</ul>
				



<pw id="A1787homeP83" />
	旅遊天地



<pw id="R2301homeP83" />
				<list action="subject" num="4"  title="標題列表1" />
					<ul class="p83_ulA p83_ulC">
						<loop><li><a href="{url}"  target="_blank" title="{title}" class="p83_fcC">[{forumname,10}]</a><a href="{url}"  target="_blank" title="{title}">{title,30}</a></li></loop>
					</ul>
					
				<list action="subject" num="6"  title="標題列表2" />
					<ul class="p83_ulA f14">
						<loop><li><span class="gray fr f12">{postdate,m-d}</span><a href="{url}"  target="_blank" title="{title}">{title,30}</a></li></loop>
					</ul>
				



<pw id="T2333homeP83" />
		家居裝修




<pw id="M8847homeP83" />
					<dl class="p83_dlA clB cc mb5">
						<list num="1" action="image" cachetime="0" ifpushonly="0" title="圖片" />
							<dd class="p83_dlA_p"><loop><a href="{url}"  target="_blank" title="{title}"><img  src="{image,80,80}" width="80" height="80"  /></a></loop> </dd>
						<dd class="p83_dlA_c">		
						<list num="4" action="subject" cachetime="0" ifpushonly="0" title="標題列表" />
							<ul class="p83_ulD">
								<loop><li><a href="{url}"  target="_blank" title="{title}" class="p83_fcE">[{forumname,10}]</a><a href="{url}"  target="_blank" title="{title}">{title,40}</a></li></loop>
							</ul>
						</dd>
					</dl>
				


<pw id="Y3833homeP83" />
					<list num="6" action="subject" cachetime="0" ifpushonly="0" title="標題列表" />
					<ul class="p83_ulA f14">
						<loop><li><span class="gray fr f12">{postdate,m-d}</span><a href="{url}"  target="_blank" title="{title}">{title,45}</a></li></loop>
					</ul>
				


<pw id="S7714homeP83" />
		媽咪寶貝


<pw id="K9665homeP83" />
					<dl class="p83_dlA clB cc mb5">
					<list num="1" action="image" cachetime="0" ifpushonly="0" title="圖片" />
						<dd class="p83_dlA_p"><loop><a href="{url}"  target="_blank" title="{title}"><img src="{image,80,80}" width="80" height="80"  /></a></loop></dd>
						<dd class="p83_dlA_c">
						<list num="4" action="subject" cachetime="0" ifpushonly="0" title="標題列表" />
							<ul class="p83_ulD">
								<loop><li><a href="{url}"  target="_blank" title="{title}" class="p83_fcC">[{forumname,10}]</a><a href="{url}"  target="_blank" title="{title}">{title,40}</a></li></loop>
							</ul>
						</dd>
					</dl>
				


<pw id="I8719homeP83" />
					<list num="6" action="subject" cachetime="0" ifpushonly="0" title="標題列表" />
					<ul class="p83_ulA f14">
						<loop><li><span class="gray fr f12">{postdate,m-d}</span><a href="{url}"  target="_blank" title="{title}">{title,45}</a></li></loop>
					</ul>
				


<pw id="C9663homeP83" />
		博客生活


<pw id="E61homeP83" />
					<list num="11" action="subject" cachetime="0" ifpushonly="0" title="標題列表" />
					<ul class="p83_ulA p83_ulE">
						<loop><li><a href="{url}"  target="_blank" title="{title}">{title,35}</a></li></loop>
					</ul>
				


<pw id="D9324homeP83" />
		互助問答



<pw id="R497homeP83" />
					<list num="11" action="subject" cachetime="0" ifpushonly="0" title="標題列表" />
					<ul class="p83_ulA p83_ulE p83_ulF">
						<loop>
						<!--# $count = $key+1;#-->
						<li><a href="{url}"  target="_blank" title="{title}"><span class="b p83_fcC">$count.</span> {title,35}</a></li>
						</loop>
					</ul>
				



<pw id="W7964homeP83" />
		熱門信息


<pw id="O5290homep83" />
友情鏈接

