<!--<?php
include_once PrintEot('left');
${'dis'.$o_commendtype} = "style='display:none'";
print <<<EOT
-->
<form method="post" action="{$basename}&action=commend">
  <input type="hidden" value="2" name="step">
  <h2 class="h1">首頁內容推薦管理</h2>
  <div class="admin_table mb10">
  <table cellspacing="0" cellpadding="0" width="100%">
    <tbody>
    <tr class="tr1 vt">
      <td class="td1">狀態</td>
      <td class="td2">
       <ul class="cc list_80 fl list_A">
           <li class="current"><input type="radio" checked="" value="1" name="config[ifcommend]" $ifcommend_Y>開啟</li>
           <li><input type="radio" value="0" name="config[ifcommend]" $ifcommend_N>關閉</li>
         </ul>
      </td><td class="td2"><div class="help_a">開啟後，前台個人中心首頁會顯示推薦內容</div></td>
    </tr>
	<tr class="tr1 vt">
      <td class="td1">顯示發送者UID</td>
      <td class="td2">
      	<input type="text" value="{$o_senderid}" name="config[senderid]" class="input input_wa">
      </td><td class="td2"><div class="help_a">此推送內容左側的發送者頭像將調用此ID對應的頭像</div></td>
    </tr>
	<tr class="tr1 vt">
      <td class="td1">選擇推薦形式</td>
      <td class="td2">
      	 <ul class="cc list_120 fl list_A">
      	 	<li><input type="radio" value="0" onclick="getObj('userAdiary').style.display='none';getObj('user').style.display='';" name="config[commendtype]"  $commendtype_N>單純推薦用戶</li>
            <li class="current"><input type="radio" onclick="getObj('userAdiary').style.display='';getObj('user').style.display='none';" value="1" name="config[commendtype]"  $commendtype_Y>用戶、日誌都推薦</li>
         </ul>
      </td><td class="td2"><div class="help_a">推送內容在前台的呈現樣式</div></td>
    </tr>
	<tr id="userAdiary" class="tr1 vt" {$dis0}>
      <td class="td1"></td>
      <td class="td2">
      	<img src="images/admin/pw_pushA.gif"/>
      </td><td class="td2"><div class="help_a"></div></td>
    </tr>
	<tr id="user" class="tr1 vt" {$dis1}>
      <td class="td1"></td>
      <td class="td2">
      	<img src="images/admin/pw_pushB.gif"/>
      </td><td class="td2"><div class="help_a"></div></td>
    </tr>
  </tbody></table>
  </div>
  <div class="mb10 tac">
    <span class="btn"><span><button value="提 交" type="submit">提 交</button></span></span>
  </div>
</form>
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->