<!--<?php
include_once PrintEot('left');
${$action} = "class='current'";
if( $action == 'setucenter' ){
print<<<EOT
-->
<form action="$basename&action=setucenter" method="post">
  <input type="hidden" name="step" value="2">
  <h2 class="h1">個人中心設置</h2>
  <div class="admin_table mb10">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tr1 vt">
      <td class="td1">廣場模塊</td>
      <td class="td2">
       <ul class="cc list_80 fl list_A">
           <li><input type="radio" checked=""  name="config[browseopen]" value="1" $browseopen_Y>開啟</li>
           <li><input type="radio" name="config[browseopen]" value="0" $browseopen_N>關閉</li>
         </ul>
      </td><td class="td2"></td>
    </tr>
	
	<tr class="tr1 vt">
      <td class="td1">個人中心url偽靜態</td>
      <td class="td2">
       <ul class="cc list_80 fl list_A">
           <li><input type="radio"  name="configa[userurlopen]" value="1" $userurlopen_Y >開啟</li>
           <li><input type="radio"  name="configa[userurlopen]" value="0" $userurlopen_N>關閉</li>
         </ul>
      </td><td class="td2"><div class="help_a">開啟該功能首先要確保你的服務器是否支持URL偽靜態功能</div></td>
    </tr>
  </table>
  </div>
  <!-- Punch job start ========================================================= -->
   <h2 class="h1">每日打卡設置</h2>
  <script type="text/javascript" src="js/desktop/adminjob.js"></script>
  <div class="admin_table">
   <table cellpadding="0" cellspacing="0" width="100%">
    <tr class="tr1 vt">
            <td class="td1">每日打卡</td>
            <td class="td2">
           	 	<div class="list_A list_80">
                    <ul class="cc">
                        <li><input type="radio" value="1" name="config[punchopen]" $punchopen_Y />開啟</li>
                        <li><input type="radio" value="0" name="config[punchopen]" $punchopen_N />關閉</li>
                    </ul>
                </div>
            </td>
            <td class="td2"><div class="help_a">開啟後,用戶可以在個人中心首頁打卡獲取積分獎勵,每日一次</div></td>
        </tr>
      <tr class="tr1 vt">
        <td class="td1">獎勵名稱</td>
        <td class="td2">$creditSelect</td>
        <td class="td2"><div class="help_a"></div></td>
      </tr>
      <tr class="tr1 vt">
        <td class="td1">獎勵數量</td>
        <td class="td2"><input name="reward[credit][min]" value="$reward[min]" type="text" class="input input_wc" /> 至 <input name="reward[credit][max]" value="$reward[max]" type="text" class="input input_wc" /> 遞增 <input name="reward[credit][step]" value="$reward[step]" type="text" class="input input_wc" /> </td>
        <td class="td2"><div class="help_a"></div></td>
      </tr>
      <tr class="tr1 vt">
        <td class="td1">每日打卡申請條件</td>
        <td class="td2"> $levelCheckBox </td>
		<td class="td2"><div class="help_a">勾選的用戶組有打卡權限,沒有權限的用戶,在個人中心不顯示打卡按鈕.全不選則不限制</div></td>
      </tr>
   </table>
</div>
  <!-- Punch job end =========================================================== -->
  <div class="mb10 tac">
    <span class="btn"><span><button type="submit" value="提 交">提 交</button></span></span>
  </div>
  <h3 class="h1">使用方法:</h3>
	<div class="legend">以apache服務器為例介紹使用方法.<ol>
	<li>在<b>個人中心URL偽靜態</b>，一定要確保您的服務器已經<font color="red"><b>開啟了url重寫</b></font>,然後需要確保全局-靜態目錄部署開啟"<br/>&nbsp;&nbsp;默認的URL形式為 "http://www.phpwind.net/<font color="red"><b>u.php?uid=2</b></font><br/>&nbsp;&nbsp;新的URL形式為&nbsp; &nbsp; "http://www.phpwind.net/<font color="red"><b>u/2</b></font>"<br/>&nbsp;&nbsp;這種純靜態形式的URL更易被搜索引擎收錄</li>
	<li>Apache Web Server 的配置<br/>&nbsp;&nbsp;首先確定加載了 Mod_rewrite 模塊，方法: 檢查 conf/httpd.conf 中是否存在以下兩段代碼 (具體路徑可能會有所不同，但形式基本是一樣的):<br/><br/>(一)LoadModule rewrite_module     libexec/mod_rewrite.so<br/> (二)AddModule mod_rewrite.c<br/><br/> 如果存在，那麼在配置文件（通常就是conf/httpd.conf）中加入如下代碼。此時須注意，如果網站使用通過虛擬主機來定義，請務必加到虛擬主機配置中去，否則可能無法使用。改好後然後將 Apache 重啟. <br/><br/>&lt;IfModule mod_rewrite.c&gt;<br/> RewriteEngine On<br/><font color="red">RewriteRule ^u/([0-9]+)$ u.php?uid=$1</font><br/>&lt;/IfModule&gt;</li></ol></div>
</form>
<!--
EOT;
}
include_once PrintEot('adminbottom');
?>-->
