<!--<?php
include_once PrintEot('left');print <<<EOT
-->
<form action="$basename" method="post">
<input type="hidden" name="step" value="2" />
<div class="admin_info mb10">
	<h3 class="h1">個人中心風格說明</h3>
	<div class="legend">
		<ul>
			<li>添加風格:請上傳你的個人空間風格模版文件夾至目錄 u/themes/ 下</li>
			<li>啟用風格:在相應的風格下添加個人空間風格的自定義名稱，點擊提交即可啟用</li>
		</ul>
	</div>
</div>
<h2 class="h1">個人中心風格設置</h2>
<div class="admin_table mb10">
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr1">
			<td class="td1"><span class="xia2">風格目錄名</span></td>
			<td class="td2">風格自定義名稱</td>
		</tr>
<!--
EOT;
foreach ($skindb as $key => $value) {print <<<EOT
-->
		<tr class="tr3">
			<td class="td1"><span class="xia2">{$value}</span></td>
			<td class="td2">
				<input name="style_name[$value]" class="input input_wa" value="{$o_uskin[$value]}" />
			</td>
		</tr>
<!--
EOT;
}print <<<EOT
-->
	</table>
</div>
<div class="mb10 tac">
	<span class="btn"><span><button type="submit">提 交</button></span></span>
</div>
</form>
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->
