<!--<?php
print <<<EOT
-->
<!--#require modeEot('header');#-->

<div id="homeNav">
	<h2><pw id="A1_標題@家裝" /></h2>
	<ul id="tabmenu_B">
	<pw id="A2_欄目導航@家裝" />
	</ul>
</div>
<div class="cc mb10">
	<div class="fl w685">
		<div class="box cc">
			<div id="pwSlide_1" class="fl pwSlide">
			<pw id="A3_播放器@家裝" />
			</div>
			<div class="fl topNews"> <em class="hotNews">Hot</em>
				<ul class="tops">
					<pw id="A4_中間摘要@家裝" />
				</ul>
				<div class="line"></div>
				<ul class="list">
				<pw id="A5_中間列表@家裝" />
				</ul>
			</div>
		</div>
	</div>
	<div class="fr w245">
		<div class="sideBox">
			<div class="hd">
				<h3 class="s_0"><pw id="A6_右側標題@家裝" /></h3>
			</div>
			<div class="bd">
			<pw id="A7_右側圖文@家裝" />
				<div class="line"></div>
				<ul class="list list_24 mb10" style="margin-top:10px;_margin-top:5px;">
				<pw id="A8_右側列表@家裝" />
				</ul>
				<div class="tac"><pw id="A9_右側廣告@家裝" /></div>
			</div>
		</div>
	</div>
</div>
<div class="cc mb10">
	<div class="fl w685">
		<div class="panel">
			<div class="hd">
			<pw id="B1_標題@家裝" />
			</div>
			<div class="bd cc">
				<div class="tg_l">
				<pw id="B2_左側圖片@家裝" /><pw id="B21_左側圖片摘要@家裝" />
				</div>
				<div class="tg_r">
					<ul class="list s2 cc">
					<pw id="B3_中間列表@家裝" />
					</ul>
					<ul class="img_list cc">
					<pw id="B4_中間圖文@家裝" />
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="fr w245">
		<div class="sideBox">
			<div class="hd">
				<h3 class="s_1"><pw id="B5_右側標題@家裝" /></h3>
			</div>
			<div class="bd">
				<ul class="img_list2 mb10 cc" style="_margin-bottom:5px;">
				<pw id="B6_右側圖文@家裝" />
				</ul>
				<div class="line"></div>
				<ul class="sup_list">
				<pw id="B7_右側摘要@家裝" />
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="mb10"><pw id="B8_橫幅廣告@家裝" /></div>
<div class="panel mb10">
	<div class="hd">
		<h3><pw id="C1_標題@家裝" /></h3>
		<span class="more"><pw id="C2_欄目導航@家裝" /></span> </div>
	<div class="bd" style="padding:10px 5px;">
		<ul class="ad_list">
		<pw id="C3_圖片@家裝" />
		</ul>
	</div>
</div>
<div class="mb10"><pw id="C4_橫幅廣告@家裝" /></div>
<div class="panel mb10">
	<div class="hd">
		<h3><pw id="D1_標題@家裝" /></h3>
		<span class="more"><pw id="D2_欄目導航@家裝" /></span> </div>
	<div class="cc">
		<div class="fl w305">
			<div class="subBox mb10">
				<div class="subHd">
					<h3><pw id="D3_左側標題@家裝" /></h3>
				</div>
				<div class="subBd cc" style="padding:15px 0 12px;_padding:18px 0">
					<dl class="process">
					<pw id="D4_欄目導航1@家裝" />
					</dl>
					<dl class="process">
					<pw id="D5_欄目導航2@家裝" />
					</dl>
					<dl class="process" style="width:115px;">
					<pw id="D6_欄目導航3@家裝" />
					</dl>
					<div class="c"></div>
				</div>
			</div>
			<div class="subBox">
				<div class="subHd">
					<h3><pw id="D7_左下標題@家裝" /></h3>
				</div>
				<div class="subBd">
				<pw id="D8_左下圖文@家裝" />
					<div class="line"></div>
					<ul class="list">
					<pw id="D9_左下列表@家裝" />
					</ul>
				</div>
			</div>
		</div>
		<div class="fr w625">
			<div class="box divs cc" style="padding-bottom:13px;">
				<div class="b_l">
					<ul class="tops">
					<pw id="D10_中間摘要@家裝" />
					</ul>
					<div class="line" style="margin-bottom:10px;"></div>
					<h4 class="title"><pw id="D11_中間標題@家裝" /></h4>
					<div class="subject mb15 cc">
					<pw id="D12_中間圖文@家裝" />
					</div>
					<ul class="list s2">
					<pw id="D13_中間列表@家裝" />
					</ul>
				</div>
				<div class="b_r">
					<h4 class="title"><pw id="D14_右上標題@家裝" /></h4>
					<ul class="designers">
					<pw id="D15_右上圖文@家裝" />
					</ul>
					<div class="line" style="margin:15px 0 10px;"></div>
					<h4 class="title"><pw id="D16_右下標題@家裝" /></h4>
					<div class="subject subject2 mb10 cc">
					<pw id="D17_右下圖文@家裝" />
					</div>
					<ul class="list">
					<pw id="D18_右下列表@家裝" />
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="mb10"><pw id="D19_橫幅廣告@家裝" /></div>
<div class="panel mb10">
	<div class="hd">
		<h3><pw id="E1_標題@家裝" /></h3>
		<span class="more"><pw id="E2_欄目導航@家裝" /></span></div>
	<div class="bd mb10 cc" style="padding:15px 10px 12px;">
		<div class="col-4">
			<h4><pw id="E3_標題1@家裝" /></h4>
			<ul class="img_list cc">
			<pw id="E4_圖片1@家裝" />
			</ul>
		</div>
		<div class="col-4">
			<h4><pw id="E5_標題2@家裝" /></h4>
			<ul class="img_list cc">
			<pw id="E6_圖片2@家裝" />
			</ul>
		</div>
		<div class="col-4">
			<h4><pw id="E7_標題3@家裝" /></h4>
			<ul class="img_list cc">
			<pw id="E8_圖片3@家裝" />
			</ul>
		</div>
		<div class="col-4 last_col">
			<h4><pw id="E9_標題4@家裝" /></h4>
			<ul class="img_list cc">
			<pw id="E10_圖片4@家裝" />
			</ul>
		</div>
	</div>
	<div class="bd bd_s1 cc">
		<div class="subject">
		<pw id="E11_左下圖文@家裝" />
		</div>
		<ul class="list s2">
		<pw id="E12_右下列表@家裝" />
		</ul>
	</div>
</div>
<div class="mb10"><pw id="E13_橫幅廣告@家裝" /></div>
<div class="panel mb10">
	<div class="hd">
		<h3><pw id="F1_標題@家裝" /></h3>
		<span class="more"><pw id="F2_欄目導航@家裝" /></span> </div>
	<div class="cc">
		<div class="fl w305">
			<div class="subBox">
				<div class="subHd">
					<h3><pw id="F3_左側標題@家裝" /></h3>
				</div>
				<div class="subBd">
					<div class="subject subject3 mb10 cc">
					<pw id="F4_左側圖文@家裝" />
					</div>
					<ul class="list mb15" style="margin-bottom:18px;">
					<pw id="F5_左側列表@家裝" />
					</ul>
					<div class="img_list_wrap">
						<ul class="img_list s2">
						<pw id="F6_左側圖片@家裝" />
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="fr w625">
			<div class="box divs cc" style="padding-bottom:13px;">
				<div class="b_l">
					<ul class="tops">
					<pw id="F7_中間摘要@家裝" />
					</ul>
					<div class="line" style="margin-bottom:10px;"></div>
					<h4 class="title"><pw id="F8_中間標題@家裝" /></h4>
					<div class="subject mb15 cc">
					<pw id="F9_中間圖文@家裝" />
					</div>
					<ul class="list s2">
					<pw id="F10_中間列表@家裝" />
					</ul>
				</div>
				<div class="b_r">
					<h4 class="title"><pw id="F11_右上標題@家裝" /></h4>
					<div class="img_list_wrap mb10">
						<ul class="img_list">
						<pw id="F12_右上圖片@家裝" />
						</ul>
					</div>
					<ul class="list">
					<pw id="F13_右上列表@家裝" />
					</ul>
					<div class="line" style="margin-bottom:10px;"></div>
					<h4 class="title"><pw id="F14_右下標題@家裝" /></h4>
					<div class="subject subject2 mb5 cc">
					<pw id="F15_右下摘要@家裝" />
					</div>
					<ul class="list s2">
					<pw id="F16_右下列表@家裝" />
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="mb10"><pw id="F17_橫幅廣告@家裝" /></div>
<div class="panel mb10">
	<div class="hd">
		<h3><pw id="G1_標題@家裝" /></h3>
		<span class="more"><pw id="G2_欄目導航@家裝" /></span> </div>
	<div class="cc">
		<div class="fl w305">
			<div class="subBox mb10">
				<div class="subHd">
					<h3><pw id="G3_左上標題@家裝" /></h3>
				</div>
				<div class="subBd">
					<div class="row-2 cc mb10">
					<pw id="G4_左上圖文1@家裝" />
					</div>
					<div class="row-2 cc">
					<pw id="G6_左上圖文2@家裝" />
					</div> 
				</div>
			</div>
			<div class="subBox">
				<div class="subHd">
					<h3><pw id="G8_左下標題@家裝" /></h3>
				</div>
				<div class="subBd">
					<div class="row-2 cc">
					<pw id="G9_左下圖文@家裝" /> 
					</div>
				</div>
			</div>
		</div>
		<div class="fr w625">
			<div class="box cc" style="padding:9px 0;_padding:12px 0">
				<div class="cell-4">
					<div class="subject mb10 cc">
					<pw id="G11_中間圖文1@家裝" />
					</div>
					<ul class="list">
					<pw id="G12_中間列表1@家裝" />
					</ul>
				</div>
				<div class="cell-4">
					<div class="subject mb10 cc">
					<pw id="G13_中間圖文2@家裝" />
					</div>
					<ul class="list">
					<pw id="G14_中間列表2@家裝" />
					</ul>
				</div>
				<div class="cell-4">
					<div class="subject mb10 cc">
					<pw id="G15_中間圖文3@家裝" />
					</div>
					<ul class="list">
					<pw id="G16_中間列表3@家裝" />
					</ul>
				</div>
				<div class="cell-4">
					<div class="subject mb10 cc">
					<pw id="G17_中間圖文4@家裝" />
					</div>
					<ul class="list">
					<pw id="G18_中間列表4@家裝" />
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="mb10"><pw id="G19_橫幅廣告@家裝" /></div>
<div class="panel">
	<div class="hd">
		<h3><pw id="H1_標題@家裝" /></h3>
		<span class="more"><pw id="H2_欄目導航@家裝" /></span> </div>
	<div class="cc">
		<div class="fl w305">
			<div class="subBox">
				<div class="subHd">
					<h3><pw id="H3_左側標題@家裝" /></h3>
				</div>
				<div class="subBd">
					<div class="subject subject3 mb5 cc" style="line-height:22px;_margin-bottom:8px;">
					<pw id="H4_左側圖文@家裝" />
					</div>
					<ul class="list">
					<pw id="H5_左側列表@家裝" />
					</ul>
				</div>
			</div>
		</div>
		<div class="fr w625">
			<div class="box cc" style="padding:7px 10px;">
				<ul class="img_list_s">
				<pw id="H6_中間圖片@家裝" />
				</ul>
				<div class="r_news" id=""dcrt>
				<ul class="tops"><pw id="H7_右側摘要@家裝" /></ul>
				<ul class="list"><pw id="H8_右側列表@家裝" /></ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--#require modeEot('footer');#-->
<!--
EOT;
?>-->
