<!--<?php
require_once(uTemplate::printEot('header'));
require_once(uTemplate::printEot('user_appleft'));
print<<<EOT
-->
<div class="contUser">
    <div class="p15">
			<h4 class="site"><img src="u/images/module/lightbulb.png" align="absmiddle" class="mr10" /><span>孔明燈</span></h4>           	
        <div class="navC">
            <ul>
                <li class="current"><a  href="apps.php?q=kmd"  hidefocus="true">我的孔明燈</a></li>
                <li><a href="apps.php?q=kmd&a=record" hidefocus="true">購買記錄</a></li>
            </ul>
			<span class="btn_add fl"><span><button onclick="window.location.href='{$basename}a=buy1';">購買孔明燈</button></span></span>
        </div>
        <div class="p15 cc">
					<ol class="steps pr">
						<li><em>1</em>填寫推廣信息</li>
						<li><em>2</em>填寫基本資料</li>
						<li class="current"><em>3</em>支付</li>
					</ol>
				</div>
				<div class="p10">
				<form action="{$basename}a=pay" method="post" >
					<input type="hidden" name="kid" id="kid" value="{$kid}" />
					<table width="100%">
						<tr class="tr3">
							<td width="90" class="tar">推廣帖子：</td>
							<td><a href="{$tpcurl}" target="_blank">{$tpcdb['subject']}</a></td>
						</tr>
						<tr class="tr3">
							<td class="tar">推廣費用：</td>
							<td>原價 {$spreadInfo['rmb']}元
<!--
EOT;
if ($spreadInfo['discount']) {
	$s_pay = $spreadInfo['discount']*$spreadInfo['rmb']/10;
print <<<EOT
-->	
，<span class="s2">{$spreadInfo['discount']}折</span>，應付 <span class="s2">{$s_pay}元</span>
<!--
EOT;
}
print <<<EOT
-->	
</td>
						</tr>
						<tr class="tr3">
							<td class="tar" style="vertical-align:top;">支付方式：</td>
							<td>
<!--
EOT;
if ($ol_payto&&$ol_onlinepay) {	
	$radiocheck = $kmddb['pay_type']<2 ? 'checked="checked"' : '';
print <<<EOT
-->								
								<div class="bdB mb15">
									<p class="mb5"><em style="display:inline-block;width:25px;"><input name="pay_type" type="radio" value="1" $radiocheck /></em><span class="f14 b s5">支付寶（推薦）</span></p>
									<p class="gray mb10"><em style="display:inline-block;width:25px;">&nbsp;</em>支付寶支付方式，可供個人支付寶及企業支付寶支付。</p>
									<div class="bgA boxA s5" style="padding:10px 0;margin-bottom:20px;">
										<p class="mb5"><em style="display:inline-block;width:25px;">&nbsp;</em>支付寶賬戶：{$ol_payto} </p>										
									</div>
								</div>
<!--
EOT;
}print <<<EOT
-->									
<!--
EOT;
if ($kmd_config['account']&&$kmd_config['bank_name']) {	
	$radiocheck = $kmddb['pay_type']==2 ? 'checked="checked"' : '';
print <<<EOT
-->										
								<div class="bdB mb15">
									<p class="mb5"><em style="display:inline-block;width:25px;"><input name="pay_type" type="radio" $radiocheck value="2" /></em><span class="f14 b s5">銀行轉帳</span></p>
									<p class="gray mb10"><em style="display:inline-block;width:25px;">&nbsp;</em>企業單位支付方式，僅限企業間的轉賬支付。</p>
									<div class="bgA boxA s5" style="padding:10px 0;margin-bottom:20px;">
										<p class="mb5"><em style="display:inline-block;width:25px;">&nbsp;</em>公司名稱：{$kmd_config['company']}</p>
										<p class="mb5"><em style="display:inline-block;width:25px;">&nbsp;</em>賬　　戶：{$kmd_config['account']}</p>
										<p><em style="display:inline-block;width:25px;">&nbsp;</em>開 戶 行：{$kmd_config['bank_name']}</p>
									</div>
								</div>
<!--
EOT;
}print <<<EOT
-->								
<!--
EOT;
if ($kmd_config['address']) {	
	$radiocheck = $kmddb['pay_type']==3 ? 'checked="checked"' : '';
print <<<EOT
-->									
								<div class="bdB mb15">
									<p class="mb5"><em style="display:inline-block;width:25px;"><input name="pay_type" type="radio" value="3" $radiocheck /></em><span class="f14 b s5">現金</span></p>
									<p class="gray mb10"><em style="display:inline-block;width:25px;">&nbsp;</em>在以上2種方式都不能實現的情況下，攜帶現金到現場辦理手續。</p>
									<div class="bgA boxA s5" style="padding:10px 0;margin-bottom:20px;">
										<p><em style="display:inline-block;width:25px;">&nbsp;</em>辦理地址：{$kmd_config['address']}</p>
									</div>
								</div>
<!--
EOT;
}print <<<EOT
-->									
							</td>
						</tr>
					</table>
					<div class="tac p10"><span class="bt"><span><button onclick="window.location.href='{$basename}a=buy2&tid={$tid}&sid={$sid}';return false;">上一步</button></span></span><span class="btn"><span><button  type='submit'>提交</button></span></span></div>
				</form>
				</div>
				<div class="spaceTip s5" style="padding:20px;">
					{$kmd_config['contact']}
				</div>        
    </div>
</div>        
        
<!--
EOT;
require_once(uTemplate::printEot('footer'));
?>