<!--<?php

print<<<EOT
-->
<link rel="stylesheet" href="images/lanterns/lanterns.css?{$GLOBALS['wind_repair']}" />
<div class="lanterns">
	<div class="lanterns_nav">
		<ul class="cc">
			<li id="explanation_li" class="current"><a href="javascript:choosediv('explanation');">首 頁</a></li>
			<li id="help_li"><a href="javascript:choosediv('help');">使用幫助</a></li>
		</ul>
	</div>
	<div class="cc">
		<!--孔明燈首頁-->
		<div class="lanterns_content fl" id="explanation">
			<div class="p15 mb15">
				<h2 class="mb10">申請流程</h2>
				<div class="lanterns_steps"></div>
				<h2 class="mb10">產品優勢</h2>
				<ul class="excellent s5">
					<li><em>1</em>百萬用戶瀏覽，快人一步搶佔市場先機</li>
					<li><em>2</em>帖子排名領先，曝光率更高，成交率自然也高</li>
					<li><em>3</em>解放雙手，不必再熬夜頂帖，花錢僱人跟帖</li>
					<li><em>4</em>支付寶快捷支付，解除支付後顧之憂</li>
				</ul>
				<div class="tac"><span class="btn"><span><button type="button"  onclick="bugkmd('{$winduid}')">立即購買</button></span></span></div>
			</div>
			<div class="lanterns_boxB mb10">
				<h2>開通版塊</h2>
				<div class="lanterns_forum">
					<ul class="cc">
<!--
EOT;
foreach($openforum as $val){
print <<<EOT
-->					
						<li><a href="thread.php?fid={$val['fid']}">{$val['name']}</a></li>
<!--
EOT;
}print <<<EOT
-->						
					</ul>
				</div>
			</div>
		</div>
		<!--使用幫助開-->
		<div class="lanterns_content fl" style="display:none;" id="help">
			<div class="p20 lanterns_info">
				<h3>什麼是孔明燈？</h3>
				<p class="mb20">「孔明燈」就是為您在網站獲得持續人氣而提供的帖子付費置頂服務。</p>
				<h3>為什麼要購買孔明燈服務？</h3>
				<ul class="mb20">
					<li>1、每日近百萬用戶的來訪，助您脫穎而出，搶佔推廣先機。</li>
					<li>2、讓您的產品或服務帖排名一路領先，快速成交，銷量猛增。</li>
					<li>3、快速提升您的工作效率，向熬夜頂帖、僱人跟帖、花大價錢買機器人say NO!</li>
					<li>4、新增商家專享的帖子操作後台，管理您的帖子更加便捷。</li>
					<li>5、孔明燈免費短信提醒服務，讓你及時掌握最新推廣活動和服務狀態。</li>
				</ul>
				<h3>孔明燈申請帖子的數量有限制嗎？</h3>
				<ul class="mb20">
					<li>1、在開放「孔明燈」的各個區，置頂最多1頁展示。</li>
					<li>2、在各個區的具體產品分類（標籤）中，保證第一頁展示。</li>
				</ul>
				<h3>為什麼要進行免費手機綁定？</h3>
				<ul class="mb20">
					<li>1、免費手機綁定可以幫助您隨時掌握孔明燈最新動態。</li>
					<li>2、第一時間接收孔明燈續費提醒和各類推廣活動的通知。</li>
				</ul>
				<h3>關於多次購買孔明燈的說明。</h3>
				<p class="mb20">您可以用同一個ID在同一版塊購買不同帖子內容的的孔明燈服務，點擊「購買」即可，同一版塊或不同版塊的孔明燈服務帖子均顯示在 個人中心「孔明燈」應用。</p>
				<h3>手機綁定問題</h3>
				<p>一個ID號對應綁定一個手機號碼，不可多次綁定，如有特殊疑問可咨詢孔明燈服務小組。</p>
			</div>
		</div>
		<!--切換結束-->
		<div class="lanterns_side fr">
			<div class="lanterns_boxA mb10">
				<h2>聯繫我們</h2>
				<ul class="lanterns_list">
<!--
EOT;
$db_kmd_phone && $db_kmd_phone = "<li>聯繫電話：$db_kmd_phone</li>";
$db_kmd_mobile && $db_kmd_mobile = "<li>手機：$db_kmd_mobile</li>";
$db_kmd_aliww && $db_kmd_aliww = "<li>旺旺：$db_kmd_aliww</li>";
$db_kmd_qq && $db_kmd_qq = "<li>QQ：$db_kmd_qq</li>";
print <<<EOT
-->	
					$db_kmd_phone
					$db_kmd_mobile
					$db_kmd_aliww
					$db_kmd_qq
				</ul>
			</div>
			<div class="lanterns_boxA mb10">
				<h2>收費標準</h2>
				<ul class="lanterns_list">
<!--
EOT;
foreach($spreads as $spread){
	$discount = (0 < $spread['discount'] && $spread['discount'] < 10) ? '<span class="s2">'.$spread['discount'] .'</span>折' : '無折扣';
print <<<EOT
-->	
					<li><span class="mr10">{$spread['name']}</span><span class="s2">{$spread['price']}</span>元/<span class="s2">{$spread['day']}</span>天&nbsp;&nbsp;{$discount}</li>
<!--
EOT;
}print <<<EOT
-->	
					
				</ul>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
function choosediv(id){
	var explanation = getObj('explanation');	
	var help = getObj('help');
	if(id=='help'){
		help.style.display = 'block';
		explanation.style.display = 'none';
		getObj('help_li').setAttribute("class", "current");
		getObj('explanation_li').setAttribute("class", "");
	}else{
		help.style.display = 'none';
		explanation.style.display = 'block';
		getObj('help_li').setAttribute("class", "");
		getObj('explanation_li').setAttribute("class", "current");
	}	
}
function bugkmd(uid){
	if(uid>0){
		window.location.href='{$basename}a=buy';
	}else if({$isBindAlipay}){	
		showDialog('','購買請 <a hidefocus="true" class="s4" href="login.php" id="fast_login">登錄</a> , 新用戶請 <a hidefocus="true" class="s4" target="_blank" href="register.php">註冊</a><br><br><span class="btn2"><span><button onclick="alipayLogin()" type="button">使用支付寶快捷支付</button></span></span>');		
	}else{
		showDialog('','購買請 <a hidefocus="true" class="s4" href="login.php" id="fast_login">登錄</a> , 新用戶請 <a hidefocus="true" class="s4" target="_blank" href="register.php">註冊</a>');
	}	
}

function alipayLogin(){
    {$windowOpenScript}
}
</script>
<!--
EOT;

?>-->