<!--<?php
print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc">
		<li {$actionCurrent[medal]}><a href="$basename">勳章管理</a></li>
		<li {$actionCurrent[user]}><a href="{$basename}&action=user">勳章會員</a></li>
		<li {$actionCurrent[verify]}><a href="{$basename}&action=verify">勳章審核</a></li>
		<li {$actionCurrent[set]}><a href="{$basename}&action=set">勳章設置</a></li>
	</ul>
</div>
<!--
EOT;
?>