<!--<?php
$fuid && $basename .= "a=friendlist&fuid={$fuid}&";
$uid = $fuid ? $fuid : $winduid;
print <<<EOT
-->
<div class="boxC" style="margin-top:10px;">
            <h3>日誌分類</h3>
            <div class="ulE cc">
                <ul class="ulE"  id="dt_ul">
                	<li id="dt_all"><a href="{$basename}">全部日誌</a> <cite>[{$diaryNums}]</cite></li>
<!--
EOT;
$dtype = $dtid;
foreach($diaryType as $value){
print <<<EOT
-->                    
                    
                    <li id="dt_{$value[dtid]}" onmousemove="isMouseUp({$value[dtid]},0)" onmouseout="isMouseUp({$value[dtid]},1)">
<!--
EOT;
if ($winduid == $uid || $groupid == 3) {print <<<EOT
-->						
                    
                   <a id="del_{$value[dtid]}" class="adel cp mr10" style="visibility:hidden" title="刪除" onclick="pwConfirm('是否確認刪除？',this,function(){delType('$value[dtid]','$uid')})">刪除</a>
                   <a id="edit_{$value[dtid]}" class="aedit mr5 cp" style="visibility:hidden" title="編輯" onclick="showEidt('$value[dtid]','$uid');" >編輯</a> 
<!--
EOT;
}print <<<EOT
-->
                    <a href="{$basename}dtid={$value[dtid]}">$value[name]</a> <cite id="dnum_{$value[dtid]}">[{$value[num]}]</cite>           
                    </li>
                    
                    
                    
                    
                    
<!--
EOT;
}print <<<EOT
-->					
       
                    <li id="dt_-1"><a href="{$basename}dtid=-1" id="dtype_null"  class="black uline">默認分類</a> <cite>[{$defaultTypeNum}]</cite></li>
<!--
EOT;
if (!$fuid) {print <<<EOT
-->
                     <li id="dt_-2"><a href="{$basename}dtid=-2"  class="black uline">私密日誌</a> <cite>[{$privacyNum}]</cite></li>
<!--
EOT;
}print <<<EOT
-->

                </ul>
<!--
EOT;
if ($winduid == $uid || $groupid == 3) {print <<<EOT
-->
								<div class="pd5"><span class="cp addImg" onclick="addType('dt_ul','$uid')">添加分類</span></div>
<!--
EOT;
}print <<<EOT
-->
            </div>
			<script type="text/javascript">
            setCurrent('dt_$dtype','dt_all','current');
            </script>	        
            </div>
<!--
EOT;
?>