<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<div class="nav3 mb10">
<ul class="cc">
	<!--
EOT;
empty($mode) && $mode = 'bbs';
foreach($db_modes as $key => $value){
if($value['ifopen'] && !in_array($key,$unSeoset)){
$current_menu = $key == $mode ? 'class="current"' : '';
print <<<EOT
-->
	<li $current_menu><a href="$basename&mode=$key">$value[m_name]</a></li>
	<!--
EOT;
}}print <<<EOT
-->
	<li><a href="$basename&mode=sitemap">網站地圖</a></li>
</ul>
</div>
<div class="admin_info mb10">
<h2 class="h1">文章模式 SEO優化設置</h2>
<div class="legend">
<ol>
	<li>文章模式SEO優化設置規則：</li>
	<li>網站名稱:{wzmc}（應用範圍：所有位置）</li>
	<li>欄目名稱:{lmmc}（應用範圍：列表頁和文章閱讀頁）</li>
	<li>文章名稱:{armc}（應用範圍：文章閱讀頁）</li>
	<li>文章概要:{wzgy}（應用範圍：文章閱讀頁）</li>
	<li>文章頁面的SEO可以統一設置，各欄目設置如果留空則沿用統一設置</li>
	<li>以上標籤（必須包含大括號"{}"）可以通過添加在下面來優化頁面SEO設置，多個標籤之間可以用半角連字符"-"、半角","或半角空格隔開。留空為默認SEO設置，如果標籤不再應用範圍內則不顯示此標籤。比如某個欄目頁的title可以設置為：{lmmc}-{wzmc}-讓網站更具價值</li>
</ol>
</div>
</div>
<form action="$basename" method="post"><input type="hidden"
	name="action" value="update" /> <input type="hidden" name="mode"
	value="$mode">
<h2 class="h1">文章列表頁
<!--
EOT;
if(!empty($channles)){
print <<<EOT
-->
 <span class="bt2 linka"><span><button onclick="columnopen('details',null)" name="openfordetail" type="button">展開詳細設置</button></span></span>
<!--
EOT;
}print <<<EOT
-->
</h2>
<div class="admin_table mb10">
<table width="100%" cellspacing="0" cellpadding="0">
	<tr class="tr1 vt">
		<td class="td1">Title</td>
		<td class="td2"><input type="text" class="input input_wb"
			name="seoset[title][index]" value="{$cms_seoset[title][index]}"
			maxlength="250" /></td>
		<td></td>
	</tr>
	<tr class="tr1 vt">
		<td class="td1">Meta Description</td>
		<td class="td2"><input type="text" class="input input_wb"
			name="seoset[metaDescription][index]"
			value="{$cms_seoset[metaDescription][index]}" maxlength="250" /></td>
		<td></td>
	</tr>
	<tr class="tr1 vt">
		<td class="td1">Meta Keywords</td>
		<td class="td2"><input type="text" class="input input_wb"
			name="seoset[metaKeywords][index]"
			value="{$cms_seoset[metaKeywords][index]}" maxlength="250" /></td>
		<td></td>
	</tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0" style="table-layout: fixed; display: none" id="details">
<tbody>
<!--
EOT;
foreach($channles as $c1){
$_html = getColumnLevelHtml($c1['level']);
$_id = $c1[column_id];
print <<<EOT
-->
        <tr class="tr2 td_bgB">
            <td class="s5" width="140">{$_html}{$c1[name]}</td><td> </td>
        </tr>
        <tr class="tr1 vt"  id="column_{$c1[parent_id]}_title">
            <td class="td1">Title</td>
            <td class="td2"><input type="text" maxlength="250" value="{$c1[seotitle]}" name="seo[{$_id}][seotitle]" class="input input_wb"></td>
        </tr>
        <tr class="tr1 vt"  id="column_{$c1[parent_id]}_descp">
            <td class="td1">Meta Description</td>
            <td class="td2"><input type="text" maxlength="250" value="{$c1[seodesc]}" name="seo[{$_id}][seodesc]" class="input input_wb"></td>
        </tr>
        <tr class="tr1 vt"  id="column_{$c1[parent_id]}_keyword">
            <td class="td1">Meta Keywords</td>
            <td class="td2"><input type="text" maxlength="250" value="{$c1[seokeywords]}" name="seo[{$_id}][seokeywords]" class="input input_wb"></td>
        </tr>
<!--
EOT;
}print <<<EOT
-->
</tbody>
</table>
</div>
<h2 class="h1">文章閱讀頁</h2>
<div class="admin_table mb10">
<table width="100%" cellspacing="0" cellpadding="0">
	<tr class="tr1 vt">
		<td class="td1">Title</td>
		<td class="td2"><input type="text" class="input input_wb"
			name="seoset[title][read]" value="{$cms_seoset[title][read]}"
			maxlength="250" /></td>
		<td></td>
	</tr>
	<tr class="tr1 vt">
		<td class="td1">Meta Description</td>
		<td class="td2"><input type="text" class="input input_wb"
			name="seoset[metaDescription][read]"
			value="{$cms_seoset[metaDescription][read]}" maxlength="250" /></td>
		<td></td>
	</tr>
	<tr class="tr1 vt">
		<td class="td1">Meta Keywords</td>
		<td class="td2"><input type="text" class="input input_wb"
			name="seoset[metaKeywords][read]"
			value="{$cms_seoset[metaKeywords][read]}" maxlength="250" /></td>
		<td></td>
	</tr>
</table>
</div>
<div class="tac mb10"><span class="btn"><span>
<button type="submit">提 交</button>
</span></span></div>
</form>
<script type="text/javascript">
function columnopen(id,obj) {
	var o = getObj(id);
	if (o == null) return;
	if (o.style.display == 'none') {
		o.style.display = '';
	} else {
		o.style.display = 'none';
	}
}
</script>
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->