

<pw id="A1_首頁播放器@門戶" />
<div id="pwSlidePlayer" class="pwSlide">
<ul class="switch" id="SlayerA_1">
	<list cachetime="1800" action="image" num="4" title="圖片播放器大圖" />
	<loop>
		<li class="switchItem" style="display:none"><a href="{url}"  target="_blank"><img src="{image,290,345}" width="290" height="345" />
			<div class="txt">
				<h3>{title,30}</h3>
				<p>{descrip,40}</p>
			</div>
		</a></li>
	</loop>
</ul>
<div class="pwSlide-bg"></div>
<ol class="SwitchNav" id="SlayerA_2">
<!--#foreach($pwresult as $value){#-->
	<li class="switchNavItem"><a href="$value[url]"  target="_blank"><img src="$value[image]" width="47" height="47" /></a></li>
<!--#}#-->
</ol>
</div>
<script>ddSliderPlayers('SlayerA_1','SlayerA_2',2,'current');</script>


<pw id="A2_右下標題@門戶" />
<h3><span class="s1">生活</span>參考</h3>


<pw id="A3_右下圖文列表@門戶" />

<div class="subject cc">
<list cachetime="1800" num="1" action="image" title="圖文模塊" />
<loop>
 <a href="{url}" target="_blank"><img src="{image,90,60}" width="90" height="60" class="fl" style="padding:1px; margin-right:6px;" /></a>
	<h4><a href="{url}" target="_blank">{title,22}</a></h4>
	<p>{descrip,52}</p>
	</loop>
</div>
<list cachetime="1800" num="5" action="subject" func="newsubject" rang="" ifpushonly="0" title="標題列表" />
<ul class="list1 btSolid">
	<loop>
	<li><a href="{url}"  target="_blank" >【{forumname}】{title,35}</a></li>
	</loop>
</ul>


<pw id="A4_首頁頭條@門戶" />
<list cachetime="1800" num="3" action="subject" ifpushonly="0" title="標題摘要" />
<ul class="tops cc">
	<loop>
		<li>
			<h2 class="t{$key}"><a href="{url}"  target="_blank" >【{forumname}】{title,10}</a></h2>
			<p>{descrip,80}<a class="s1" href="{url}">（閱讀全文）</a></p>
		</li>
	</loop>
</ul>




<pw id="A5_首頁頭條標題列表@門戶" />
<list cachetime="1800" action="subject" num="5" title="標題列表" />
<ul class="list cc">
	<loop>
		<li><a href="{url}"><em class="s1">[{forumname}]</em>{title,40}</a></li>
	</loop>
</ul>

<pw id="A6_首頁圖文列表@門戶" />
<list cachetime="1800" action="image" num="2" title="圖文列表" />
	<loop>
		<div class="subject cc mt10"> <a href="{url}"  target="_blank" ><img src="{image,120,90}" width="120" height="90" class="fl" /></a>
			<h4><a href="{url}"  target="_blank" >{title,25}</a></h4>
			<p>{descrip,70}<a href="{url}"  target="_blank"  class="s1">[詳細]</a></p>
		</div>
	</loop>


<pw id="A7_右側頂部廣告@門戶" /> 
<a href="#"><img src="mode/area/themes/home/temp/ad250x225.png" width="250" height="225" /></a> 




<pw id="A8_左側標題@門戶" />
	<span class="s1">家居</span>生活
	
	
<pw id="A9_左側TAB切換@門戶" />
		<li class="switchNavItem"><a href="#">秀場</a></li>
		<li class="switchNavItem"><a href="#">裝修</a></li>
		<li class="switchNavItem"><a href="#">設計</a></li>
	



<pw id="A10_左側TAB切換內容1@門戶" />
	<div class="switchItem" style="display:none">
	<list cachetime="1800" num="1" action="image" ifpushonly="0" title="圖文模塊1" />
		<div class="image">
		<loop>
		<a href="{url}"  target="_blank" ><img src="{image,220,130}" width="220" height="130" /><span>{title,28}</span></a>
		</loop>
		</div>
			<list cachetime="1800" num="10" action="subject" ifpushonly="0" title="標題列表1" />
		<ul class="list1">
		<loop>
			<li><a href="{url}"  target="_blank" >{title,32}</a></li>
			</loop>
		</ul>
	</div>
	
<pw id="A11_左側TAB切換內容2@門戶" />
	<div class="switchItem" style="display:none">
	<list cachetime="1800" num="1" action="image" ifpushonly="0" title="圖文模塊1" />
		<div class="image">
		<loop>
		<a href="{url}"  target="_blank" ><img src="{image,220,130}" width="220" height="130" /><span>{title,28}</span></a>
		</loop>
		</div>
			<list cachetime="1800" num="10" action="subject" ifpushonly="0" title="標題列表1" />
		<ul class="list1">
		<loop>
			<li><a href="{url}"  target="_blank" >{title,32}</a></li>
			</loop>
		</ul>
	</div>
	
<pw id="A12_左側TAB切換內容3@門戶" />
	<div class="switchItem" style="display:none">
	<list cachetime="1800" num="1" action="image" ifpushonly="0" title="圖文模塊1" />
		<div class="image">
		<loop>
		<a href="{url}"  target="_blank" ><img src="{image,220,130}" width="220" height="130" /><span>{title,28}</span></a>
		</loop>
		</div>
			<list cachetime="1800" num="10" action="subject" ifpushonly="0" title="標題列表1" />
		<ul class="list1">
		<loop>
			<li><a href="{url}"  target="_blank" >{title,32}</a></li>
			</loop>
		</ul>
	</div>





<pw id="A13_橫幅廣告@門戶" /> 
<a href="#"><img class="fl mr10" src="mode/area/themes/home/temp/ad708x85.png" width="708" height="85" /></a> <a href="#"><img class="fl" src="mode/area/themes/home/temp/ad230x85.png" width="230" height="85" /></a> 




<pw id="B1_標題@門戶" /> 
<span class="s1">精彩活動</span>速遞 




<pw id="B2_左側圖文@門戶" />
<list cachetime="1800" action="image" num="1" title="圖文模塊" />
<loop>
<a href="{url}" target="_blank"><img class="fl" src="{image,105,145}" width="105" height="145" /></a>
<h4 class="s1"><a href="{url}"  target="_blank" >{title,26}</a></h4>
<p>{descrip,140}<br />
	<a href="#" class="s1">報名參加</a></p>
</loop>


<pw id="B3_中間列表@門戶" />
<list cachetime="1800" action="subject" num="8" title="標題列表" />
<loop>
<li><a href="{url}"  target="_blank" ><em class="gray">[{forumname,8}]</em>{title,44}</a></li>
</loop>


<pw id="B4_右側圖片@門戶" />
<list cachetime="1800" action="image" num="6" title="圖片列表" />
	<loop>
		<li><a href="{url}"  target="_blank" ><img src="{image,60,45}" width="60" height="45" />{title,8}</a></li>
	</loop>


<pw id="B5_橫幅廣告@門戶" /> 
<a href="#"><img src="mode/area/themes/home/temp/ad960x90.png" /></a>


<pw id="C1_標題@門戶" /> 
<span class="s1">美食頻道</span> Food 




<pw id="C2_欄目導航@門戶" />
<li><a href="#">吃喝玩樂團</a> |</li>
<li><a href="#">外地美食</a> |</li>
<li><a href="#">美食探店</a> |</li>
<li><a href="#">美食快訊</a> |</li>
<li><a href="#">美食DIY</a> |</li>
<li><a href="#">美食咨詢</a></li>


<pw id="C3_播放器@門戶" />
<ul class="switch" id="pp1_A">
<list cachetime="1800" num="4" action="image" func="newpic" rang="" ifpushonly="0" title="幻燈片大圖" />
	<loop>
		<li  class="switchItem" style="display:none">
				<a href="{url}" target="_blank">
					<img src="{image,235,170}" width="235" height="170" />
					<h3>{title,20}</h3>
				</a>
		</li>
	</loop>
</ul>
<div class="pwSlide-bg" style="background:#630"></div>
<ul class="SwitchNav" id="pp1_B">
<!--#foreach($pwresult as $key=>$value){
$tempCount = $key+1;
#-->
		<li class="switchNavItem"><a href="{$value[url]}" target="_blank">{$tempCount}</a></li>
<!--#
}
#-->
</ul>
<script>ddSliderPlayers('pp1_A','pp1_B',4,'current');</script>

<pw id="C4_左側排行@門戶" /> 
<span><em>Top</em> 每週排行</span> 


<pw id="C5_左側排行列表@門戶" />
<list cachetime="1800" action="subject" num="5" title="標題排行列表" />
	<loop>
		<li class="s1"><a href="{url}"  target="_blank" >{title,32}</a></li>
	</loop>




<pw id="C6_中間摘要@門戶" />
<list cachetime="1800" action="subject" num="1" title="標題摘要X1" />
	<loop>
		<h2><a href="{url}"  target="_blank" >{title,28}</a></h2>
		<p>{descrip,110} <a href="{url}"  target="_blank"  class="s1">詳細>></a></p>
	</loop>



<pw id="C7_中間列表@門戶" />
<list cachetime="1800" action="subject" num="12" title="標題列表X12" />
<loop>
<li><a href="{url}"  target="_blank" >【{forumname,4}】{title,20}</a></li>
</loop>



<pw id="C8_中間圖文@門戶" />
<list cachetime="1800" action="image" num="3" title="圖文模塊" />
	<loop>
		<li><a href="{url}"  target="_blank" ><img src="{image,115,85}" width="115" height="85" />{title,18}</a></li>
	</loop>




<pw id="C9_右側標題@門戶" />
<div id="tabtalk_A">
<h4><i class="l"></i><i class="r"></i><span>博客生活</span></h4>
</div>
<a class="option" href="#">我有話說>></a> 

<pw id="C10_右側圖文@門戶" />
<div id="tabtalk_B">
<ul class="subjectList cc" >
<list cachetime="1800" num="4" action="image" func="newpic" rang="" ifpushonly="0" title="圖文列表" />
	<loop>
		<li class="subject"><a href="{url}"  target="_blank" ><img class="fl" src="{image,60,60}" width="60" height="60" /></a>
			<p>{descrip,80}<a class="s1" href="{url}"  target="_blank" >[詳細]</a></p>
		</li>
	</loop>
</ul>


</div>





<pw id="C11_橫幅廣告@門戶" /> 
<a href="#"><img src="mode/area/themes/home/temp/ad960x90.png" width="960" height="90" /></a> 




<pw id="D1_標題@門戶" /> 
房產頻道 <span>Estate</span> 




<pw id="D2_欄目導航@門戶" />
<li><a href="#">樓市雜談</a> |</li>
<li><a href="#">買房須知</a> |</li>
<li><a href="#">租房經歷</a> |</li>
<li><a href="#">求助維權</a> |</li>
<li><a href="#">樓盤快報</a> |</li>
<li><a href="#">買房故事</a></li>


<pw id="D3_播放器@門戶" />
<ul class="switch" id="pp2_A">
<list cachetime="1800" action="image" num="4" title="幻燈片大圖" />
	<loop>
		<li  class="switchItem" style="display:none">
				<a href="{url}" target="_blank">
					<img src="{image,235,170}" width="235" height="170" />
					<h3>{title,20}</h3>
				</a>
		</li>
	</loop>
</ul>
<div class="pwSlide-bg" style="background:#033"></div>
<ul class="SwitchNav" id="pp2_B">
<!--#foreach($pwresult as $key=>$value){
$tempCount = $key+1;
#-->
		<li class="switchNavItem"><a href="{$value[url]}" target="_blank">{$tempCount}</a></li>
<!--#
}
#-->
</ul>
<script>ddSliderPlayers('pp2_A','pp2_B',4,'current');</script>


<pw id="D4_左側標題@門戶" /> 
<i class="l"></i><i class="r"></i><span>地產專題報道</span> 




<pw id="D5_左側列表@門戶" />
<list cachetime="1800" action="subject" num="5" title="標題列表" />
<loop>
	<li><a href="{url}"  target="_blank" >{title,40}</a></li>
</loop>



<pw id="D6_中間摘要@門戶" />
<list cachetime="1800" num="2" action="subject" func="newsubject" rang="" ifpushonly="0" title="標題摘要" />
<loop>
<div class="top1" style="margin-bottom:10px;">
	<h2><a href="{url}"  target="_blank" >{title,28}</a></h2>
	<p>{descrip,110} <a href="{url}"  target="_blank"  class="s1">詳細>></a></p>
</div>
</loop>



<pw id="D7_中間列表@門戶" />

<list cachetime="1800" action="subject" num="8" title="標題列表x8" />
<loop>
	<li><a href="{url}"  target="_blank" >【{forumname,4}】{title,54}</a></li>
</loop>



<pw id="D8_右側標題@門戶" />
<h4><i class="l"></i><i class="r"></i><span>業主小區</span></h4>
<a class="option" href="#">我有話說>></a> 




<pw id="D9_右側圖文@門戶" />
<list cachetime="1800" num="3" action="image" func="newpic" rang="" ifpushonly="0" title="圖文列表x3" />
<loop>
	<li class="subject"><a href="{url}"  target="_blank" ><img class="fl" src="{image,60,60}" width="60" height="60" /></a>
	<h4><a href="{url}"  target="_blank"  class="s1">{title,20}</a> </h4>
	<p>{descrip,60}</p>
</li>
</loop>


<pw id="D10_右側列表@門戶" />
<list cachetime="1800" action="subject" num="3" title="標題列表" />
<loop>
<li><a href="{url}"  target="_blank" ><span class="s1">{title,20}</span> - <span class="gray">{descrip,15}</span></a></li>
</loop>




<pw id="D11_橫幅廣告@門戶" /> 
<a href="#"><img class="fl mr10" src="mode/area/themes/home/temp/ad708x85.png" width="708" height="85" /></a> <a href="#"><img class="fl" src="mode/area/themes/home/temp/ad230x85.png" width="230" height="85" /></a> 




<pw id="E1_標題@門戶" /> 
車友頻道 <span>Riders</span> 




<pw id="E2_欄目導航@門戶" />
<li><a href="#">杭州車訊</a> |</li>
<li><a href="#">經驗分享</a> |</li>
<li><a href="#">車壇動態</a> |</li>
<li><a href="#">測試對比</a> |</li>
<li><a href="#">試乘試駕</a> |</li>
<li><a href="#">購車咨詢</a> |</li>
<li><a href="#">購車指南</a></li>


<pw id="E3_播放器@門戶" />
<ul class="switch" id="pp3_A">
<list cachetime="1800" action="image" num="4" title="幻燈片大圖" />
	<loop>
		<li class="switchItem" style="display:none">
				<a href="{url}" target="_blank">
					<img src="{image,235,170}" width="235" height="170" />
					<h3>{title,20}</h3>
				</a>
		</li>
	</loop>
</ul>
<div class="pwSlide-bg" style="background:#300"></div>
<ul class="SwitchNav" id="pp3_B">
<!--#foreach($pwresult as $key=>$value){
$tempCount = $key+1;
#-->
		<li class="switchNavItem"><a href="{$value[url]}" target="_blank">{$tempCount}</a></li>
<!--#
}
#-->
</ul>
<script>ddSliderPlayers('pp3_A','pp3_B',4,'current');</script>


<pw id="E4_左側標題@門戶" /> 
<i class="l"></i><i class="r"></i><span>新車專題報道</span> 




<pw id="E5_左側列表@門戶" />

<list cachetime="1800" action="subject" num="5" title="標題列表" />
<loop>
<li><a href="{url}"  target="_blank" >{title,36}</a></li>
</loop>


<pw id="E6_中間摘要@門戶" />
<list cachetime="1800" action="subject" num="1" title="標題摘要" />
<loop>
<h2><a href="{url}"  target="_blank" >{title,30}</a></h2>
<p>{descrip,110} <a href="{url}"  target="_blank"  class="s1">詳細>></a></p>
</loop>


<pw id="E7_中間列表@門戶" />
<list cachetime="1800" action="subject" num="7" title="標題列表" />
<loop>
<li><a href="{url}"  target="_blank" >【{forumname,6}】<span class="s1">{title,46}</span></a></li>
</loop>

<pw id="E8_中間圖文@門戶" />

<list cachetime="1800" action="image" num="3" title="圖文列表" />
<loop>
<li><a href="{url}"  target="_blank" ><img width="115" height="70" src="{image,115,70}">{title,16}</a></li>
</loop>



<pw id="E9_右側標題@門戶" />
<h4><i class="l"></i><i class="r"></i><span>博客生活</span></h4>
<a class="option" href="#">我有話說>></a> 




<pw id="E10_右側圖文@門戶" />
<list cachetime="1800" action="image" num="3" title="圖文列表" />
<loop>
<li class="subject"><a href="{url}"  target="_blank" ><img class="fl" src="{image,60,60}" width="60" height="60" /></a>
	<h4><a href="{url}"  target="_blank"  class="s1">{title,26}</a></h4>
	<p>{descrip,45}</p>
</li>
</loop>



<pw id="E11_右側列表@門戶" />

<list cachetime="1800" action="subject" num="3" title="標題列表" />
<loop>
<li><a href="{url}"  target="_blank" ><span class="s1">{title,12}</span> - <span class="gray">{descrip,15}</span></a></li>
</loop>



<pw id="E12_橫幅廣告@門戶" /> 
<a href="#"><img src="mode/area/themes/home/temp/ad960x90.png" width="960" height="90" /></a> 




<pw id="F1_標題@門戶" /> 
居家頻道 <span>Home</span> 




<pw id="F2_欄目導航@門戶" />
<li><a href="#">裝修設計</a> |</li>
<li><a href="#">家裝建材</a> |</li>
<li><a href="#">傢俱軟裝</a> |</li>
<li><a href="#">家用電器</a> |</li>
<li><a href="#">家裝日記</a> |</li>
<li><a href="#">家居家飾</a> |</li>
<li><a href="#">家裝設計會所</a></li>


<pw id="F3_播放器@門戶" />
<ul class="switch" id="pp4_A">
<list cachetime="1800" action="image" num="4" title="幻燈片大圖" />
	<loop>
		<li class="switchItem" style="display:none">
				<a href="{url}" target="_blank">
					<img src="{image,235,170}" width="235" height="170" />
					<h3>{title,20}</h3>
				</a>
		</li>
	</loop>
</ul>
<div class="pwSlide-bg" style="background:#300"></div>
<ul class="SwitchNav" id="pp4_B">
<!--#foreach($pwresult as $key=>$value){
$tempCount = $key+1;
#-->
		<li class="switchNavItem"><a href="{$value[url]}" target="_blank">{$tempCount}</a></li>
<!--#
}
#-->
</ul>
<script>ddSliderPlayers('pp4_A','pp4_B',4,'current');</script>


<pw id="F4_左側標題@門戶" /> 
<i class="l"></i><i class="r"></i><span>家裝設計會所</span> 




<pw id="F5_左側列表@門戶" />

<list cachetime="1800" action="subject" num="5" title="標題列表" />
<loop>
<li><a href="{url}"  target="_blank" >{title,36}</a></li>
</loop>


<pw id="F6_中間摘要@門戶" />
<list cachetime="1800" num="2" action="subject" func="newsubject" rang="" ifpushonly="0" title="標題摘要" />
<loop>
<div class="top1 mb10">
	<h2><a href="{url}"  target="_blank"  class="s1">{title,40}</a></h2>
	<p>{descrip,170}<a href="{url}"  target="_blank"  class="s1">詳細>></a></p>
</div>
</loop>


<pw id="F7_中間圖片@門戶" />

<list cachetime="1800" action="image" num="3" title="圖片列表" />
<loop>
<li><a href="{url}"  target="_blank" ><img width="115" height="100" src="{image,115,100}">{title,14}</a></li>
</loop>



<pw id="F8_右側標題@門戶" />
<h4><i class="l"></i><i class="r"></i><span>家裝日誌</span></h4>
<a class="option" href="#">我要加入>></a> 




<pw id="F9_右側圖文@門戶" />
<list cachetime="1800" action="image" num="1" title="圖文標題x1" />
<loop>
<a href="{url}"  target="_blank" ><img src="{image,105,80}" width="105" height="80" class="fl" /></a>
<h4><a href="{url}"  target="_blank" >{title,20}</a></h4>
<p class="gray">{descrip,76}</p>
</loop>

<pw id="F10_右側列表@門戶" />
<list cachetime="1800" action="subject" num="10" title="標題列表" />
<loop>
<li><a href="{url}"  target="_blank" >【{forumname,8}】<span class="s1">{title,32}</span></a></li>
</loop>




<pw id="F11_橫幅廣告@門戶" /> 
<a href="#"><img src="mode/area/themes/home/temp/ad960x90.png" width="960" height="90" /></a> 




<pw id="G1_標題@門戶" /> 
婚嫁頻道 <span>Marry</span> 




<pw id="G2_欄目導航@門戶" />
<li><a href="#">結婚日記</a> |</li>
<li><a href="#">結婚進行時</a> |</li>
<li><a href="#">交流咨詢</a> |</li>
<li><a href="#">婚姻生活</a> |</li>
<li><a href="#">婆媳關係</a> |</li>
<li><a href="#">邊緣婚姻</a></li>


<pw id="G3_播放器@門戶" />
<ul class="switch" id="pp5_A">
<list cachetime="1800" action="image" num="4" title="幻燈片大圖" />
	<loop>
		<li  class="switchItem" style="display:none">
				<a href="{url}" target="_blank">
					<img src="{image,235,170}" width="235" height="170" />
					<h3>{title,20}</h3>
				</a>
		</li>
	</loop>
</ul>
<div class="pwSlide-bg" style="background:#903"></div>
<ul class="SwitchNav" id="pp5_B">
<!--#foreach($pwresult as $key=>$value){
$tempCount = $key+1;
#-->
		<li class="switchNavItem"><a href="{$value[url]}" target="_blank">{$tempCount}</a></li>
<!--#
}
#-->
</ul>
<script>ddSliderPlayers('pp5_A','pp5_B',4,'current');</script>


<pw id="G4_左側標題@門戶" /> 
<i class="l"></i><i class="r"></i><span>婚禮日誌</span> 




<pw id="G5_左側列表@門戶" />
<list cachetime="1800" action="subject" num="5" title="標題列表" />
<loop>
<li><a href="{url}"  target="_blank" >{title,40}</a></li>
</loop>


<pw id="G6_中間摘要@門戶" />
<list cachetime="1800" action="subject" num="1" title="標題摘要" />
<loop>
<h2><a href="{url}"  target="_blank"  class="s1">{title,45}</a></h2>
<p>{descrip,180}<a href="{url}"  target="_blank"  class="s1">詳細>></a></p>
</loop>

<pw id="G7_中間列表@門戶" />
<list cachetime="1800" action="subject" num="10" title="標題列表" />
<loop>
<li><a href="{url}"  target="_blank" ><span class="M_s1">【{forumname,8}】</span>{title,20}</a></li>
</loop>



<pw id="G8_中間圖片@門戶" />
<list cachetime="1800" action="image" num="3" title="圖片列表" />
<loop>
<li><a href="{url}"  target="_blank" ><img width="115" height="100" src="{image,115,100}">{title,16}</a></li>
</loop>

<pw id="G9_右側標題@門戶" />
<h4><i class="l"></i><i class="r"></i><span>風尚男女</span></h4>
<a class="option" href="#">我要加入>></a> 




<pw id="G10_右側圖文@門戶" />
<list cachetime="1800" num="2" action="image" func="newpic" rang="" ifpushonly="0" title="圖文標題摘要" />
<loop>
<li class="subject"><a href="{url}"  target="_blank" ><img class="fl" src="{image,60,60}" width="60" height="60" /></a>
	<h4><a href="{url}"  target="_blank" >{title,22}</a></h4>
	<p>{descrip,55}<a href="{url}"  target="_blank"  class="s1">[詳細]</a></p>
</li>
</loop>



<pw id="G11_右側列表@門戶" />
<list cachetime="1800" action="subject" num="7" title="標題列表" />
<loop>
<li><a href="{url}"  target="_blank" >{title,45}</a></li>
</loop>

<pw id="G12_橫幅廣告@門戶" /> 
<a href="#"><img src="mode/area/themes/home/temp/ad960x90.png" width="960" height="90" /></a> 




<pw id="H1_標題@門戶" /> 
親子頻道 <span>Family</span> 




<pw id="H2_欄目導航@門戶" />
<li><a href="#">准媽俱樂部</a> |</li>
<li><a href="#">親子俱樂部</a> |</li>
<li><a href="#">無敵寶寶秀</a> |</li>
<li><a href="#">試用體驗</a> |</li>
<li><a href="#">母嬰用品</a> |</li>
<li><a href="#">母嬰親子</a></li>


<pw id="H3_播放器@門戶" />
<ul class="switch" id="pp6_A">
<list cachetime="1800" action="image" num="4" title="幻燈片大圖" />
	<loop>
		<li  class="switchItem" style="display:none">
				<a href="{url}" target="_blank">
					<img src="{image,235,170}" width="235" height="170" />
					<h3>{title,20}</h3>
				</a>
		</li>
	</loop>
</ul>
<div class="pwSlide-bg" style="background:#330"></div>
<ul class="SwitchNav" id="pp6_B">
<!--#foreach($pwresult as $key=>$value){
$tempCount = $key+1;
#-->
		<li class="switchNavItem"><a href="{$value[url]}" target="_blank">{$tempCount}</a></li>
<!--#
}
#-->
</ul>
<script>ddSliderPlayers('pp6_A','pp6_B',4,'current');</script>


<pw id="H4_左側標題@門戶" /> 
親子日誌 




<pw id="H5_左側圖文1@門戶" />
<list cachetime="1800" action="image" num="1" title="圖片" />
<loop>
<a href="{url}"  target="_blank" ><img src="{image,48,48}" width="48" height="48" class="fl" /></a>
</loop>
<list cachetime="1800" action="subject" num="2" title="標題列表" />
<ul class="list1">
	<loop>
<li><a href="{url}"  target="_blank" >{title,40}</a></li>
</loop>
</ul>


<pw id="H6_左側圖文2@門戶" /> 
<list cachetime="1800" action="image" num="1" title="圖片" />
<loop>
<a href="{url}"  target="_blank" ><img src="{image,48,48}" width="48" height="48" class="fl" /></a>
</loop>
<list cachetime="1800" action="subject" num="2" title="標題列表" />
<ul class="list1">
	<loop>
<li><a href="{url}"  target="_blank" >{title,40}</a></li>
</loop>
</ul>

<pw id="H7_中間摘要@門戶" />
<list cachetime="1800" num="2" action="subject" func="newsubject" rang="" ifpushonly="0" title="標題摘要" />
<loop>
<div class="top1 mb10">
	<h2><a href="{url}"  target="_blank"  clsss="s1">{title,40}</a></h2>
	<p>{descrip,170}<a href="{url}"  target="_blank"  class="s1">詳細>></a></p>
</div>
</loop>
<div class="c"></div>


<pw id="H8_中間列表@門戶" />
<list cachetime="1800" action="subject" num="7" title="標題列表" />
<loop>
<li><a href="{url}"  target="_blank" ><span class="F_s1">【{forumname,8}】</span>{title,50}</a></li>
</loop>



<pw id="H9_右側標題@門戶" />
<h4><i class="l"></i><i class="r"></i><span>網購賣場</span></h4>
<a class="option" href="#">我要加入>></a> 




<pw id="H10_右側圖片@門戶" />
<list cachetime="1800" action="image" num="6" title="圖片列表" />
<loop>
<li><a href="{url}"  target="_blank" ><img src="{image,78,78}" width="78" height="78" />{title,10}</a></li>
</loop>



<pw id="H11_右側廣告@門戶" /> 
<a href="#"><img src="mode/area/themes/home/temp/ad265x60.png" /></a> 



