<!--<?php
print <<<EOT
-->
<!--#require modeEot('header');#-->

<script type="text/javascript" src="mode/area/js/ddsliderplayer.js"></script>	
<div class="cc">
	<div class="fl mr10 w298"> 
		<div class="pwSlideWrap" style="padding-bottom:0">
			<!----#pwSlidePlayer 有特殊樣式，不可換；其他播放器ID任意----->
			<pw id="A1_首頁播放器@門戶" />
		</div>
		<div class="panel1 mt10"><span class="tCorner"><span></span></span>
			<div class="hd"> <pw id="A2_右下標題@門戶" /> </div>
			<div class="bd"> <pw id="A3_右下圖文列表@門戶" /> </div>
			<span class="bCorner"><span></span></span> </div>
	</div>
	<div id="topNews" class="fl w390">
		<pw id="A4_首頁頭條@門戶" />
		<pw id="A5_首頁頭條標題列表@門戶" />
		<pw id="A6_首頁圖文列表@門戶" />
	</div>
	<div class="fr w252">
		<div class="bSolid"> <pw id="A7_右側頂部廣告@門戶" /> </div>
		<div id="tabs" class="panel1 mt10"> <span class="tCorner"><span></span></span>
		<div class="hd">
			<h3><pw id="A8_左側標題@門戶" /></h3>
			<ul class="tabHolder" id="tabswi1_A">
				<pw id="A9_左側TAB切換@門戶" /> 
			</ul>
		</div>
		<div class="bd" id="tabswi1_B">
		<pw id="A10_左側TAB切換內容1@門戶" />
		<pw id="A11_左側TAB切換內容2@門戶" />
		<pw id="A12_左側TAB切換內容3@門戶" />
		</div>
		<script>ddSliderPlayers('tabswi1_B','tabswi1_A',0,'current');</script>
		<span class="bCorner"><span></span></span>
		</div>
	</div>
</div>
<div class="cc mt10"> <pw id="A13_橫幅廣告@門戶" /> </div>
<div id="box" class="panel1 mt10"> <span class="tCorner"><span></span></span>
	<div class="hd">
		<h3><pw id="B1_標題@門戶" /></h3>
	</div>
	<div class="bd">
		<div class="bdWrap">
			<div class="content cc">
			<div class="subject">
			<pw id="B2_左側圖文@門戶" />
			</div>
				<ul class="list1">
					<pw id="B3_中間列表@門戶" />
				</ul>
				<ul class="imageList image">
					<pw id="B4_右側圖片@門戶" />
				</ul>
			</div>
		</div>
		<div class="hr"></div>
	</div>
	<span class="bCorner"><span></span></span> </div>
<div class="mt10"><pw id="B5_橫幅廣告@門戶" /></div>


<div id="food" class="panel2 mt10">
	<div class="hd">
		<h3><pw id="C1_標題@門戶" /></h3>
		<ul class="more fr">
			<pw id="C2_欄目導航@門戶" />
		</ul>
	</div>
	<div class="bd cc">
		<div class="fl w240 mr10">
			<div class="pwSlideWrap">
				<div id="pwSlidePlayer_2" class="pwSlide"> <pw id="C3_播放器@門戶" /> </div>
			</div>
			<div class="ranking">
				<div class="title"><pw id="C4_左側排行@門戶" /></div>
				<ol class="rankingList">
					<pw id="C5_左側排行列表@門戶" />
				</ol>
			</div>
		</div>
		<div class="fl w380">
			<div class="top1"><pw id="C6_中間摘要@門戶" /> </div>
			<ul class="list1 halfList gray mt10 cc">
				<pw id="C7_中間列表@門戶" />
			</ul>
			<ul class="imageList image mt10 cc">
				<pw id="C8_中間圖文@門戶" />
			</ul>
		</div>
		<div class="fr w290">
			<div class="subHd"><pw id="C9_右側標題@門戶" /></div>
			<div class="subBd"><pw id="C10_右側圖文@門戶" /></div>
		</div>
	</div>
</div>

<div class="mt10"><pw id="C11_橫幅廣告@門戶" /></div>
<div id="estate" class="panel2 mt10">
	<div class="hd">
		<h3><pw id="D1_標題@門戶" /></h3>
		<ul class="more">
			<pw id="D2_欄目導航@門戶" />
		</ul>
	</div>
	<div class="bd cc">
		<div class="fl w240 mr10">
			<div class="pwSlideWrap">
				<div id="pwSlidePlayer_3" class="pwSlide"> <pw id="D3_播放器@門戶" /> </div>
			</div>
			<div class="subHd mt10">
				<h4><pw id="D4_左側標題@門戶" /></h4>
			</div>
			<div class="subBd" style="padding:8px 7px 0">
				<ul class="list1">
					<pw id="D5_左側列表@門戶" />
				</ul>
			</div>
		</div>
		<div class="fl w380">
		<pw id="D6_中間摘要@門戶" />
		<div class="c"></div>
			<ul class="list1 gray mt10 cc">
				<pw id="D7_中間列表@門戶" />
			</ul>
		</div>
		<div class="fr w290">
			<div class="subHd"> <pw id="D8_右側標題@門戶" /> </div>
			<div class="subBd">
				<ul class="subjectList cc">
					<pw id="D9_右側圖文@門戶" />
				</ul>
				<ul class="list1 btDashed">
					<pw id="D10_右側列表@門戶" />
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="cc mt10"> <pw id="D11_橫幅廣告@門戶" /> </div>
<div id="riders" class="panel2 mt10">
	<div class="hd">
		<h3><pw id="E1_標題@門戶" /></h3>
		<ul class="more">
			<pw id="E2_欄目導航@門戶" />
		</ul>
	</div>
	<div class="bd cc">
		<div class="fl w240 mr10">
			<div class="pwSlideWrap">
				<div id="pwSlidePlayer_4" class="pwSlide"> <pw id="E3_播放器@門戶" /> </div>
			</div>
			<div class="subHd mt10">
				<h4><pw id="E4_左側標題@門戶" /></h4>
			</div>
			<div class="subBd" style="padding:8px 7px 0">
				<ul class="list1">
					<pw id="E5_左側列表@門戶" />
				</ul>
			</div>
		</div>
		<div class="fl w380">
			<div class="top1"> <pw id="E6_中間摘要@門戶" /> </div>
			<ul class="list1 gray mt10 cc">
				<pw id="E7_中間列表@門戶" />
			</ul>
			<ul class="imageList image mt10 cc">
				<pw id="E8_中間圖文@門戶" />
			</ul>
		</div>
		<div class="fr w290">
			<div class="subHd"><pw id="E9_右側標題@門戶" /> </div>
			<div class="subBd">
				<ul class="subjectList cc">
					<pw id="E10_右側圖文@門戶" />
				</ul>
				<ul class="list1 btDashed">
					<pw id="E11_右側列表@門戶" />
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="mt10"> <pw id="E12_橫幅廣告@門戶" /> </div>
<div id="home" class="panel2 mt10">
	<div class="hd">
		<h3><pw id="F1_標題@門戶" /></h3>
		<ul class="more">
			<pw id="F2_欄目導航@門戶" />
		</ul>
	</div>
	<div class="bd cc">
		<div class="fl w240 mr10">
			<div class="pwSlideWrap">
				<div id="pwSlidePlayer_5" class="pwSlide"> <pw id="F3_播放器@門戶" /> </div>
			</div>
			<div class="subHd mt10">
				<h4><pw id="F4_左側標題@門戶" /></h4>
			</div>
			<div class="subBd" style="padding:8px 7px 0">
				<ul class="list1">
					<pw id="F5_左側列表@門戶" />
				</ul>
			</div>
		</div>
		<div class="fl w380"> <pw id="F6_中間摘要@門戶" />
			<ul class="imageList image mt10 cc">
				<pw id="F7_中間圖片@門戶" />
			</ul>
		</div>
		<div class="fr w290">
			<div class="subHd"> <pw id="F8_右側標題@門戶" /> </div>
			<div class="subBd">
				<div class="subject cc"> <pw id="F9_右側圖文@門戶" /> </div>
				<ul class="list1 gray">
					<pw id="F10_右側列表@門戶" />
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="mt10"><pw id="F11_橫幅廣告@門戶" /></div>
<div id="marry" class="panel2 mt10">
	<div class="hd">
		<h3><pw id="G1_標題@門戶" /></h3>
		<ul class="more">
			<pw id="G2_欄目導航@門戶" />
		</ul>
	</div>
	<div class="bd cc">
		<div class="fl w240 mr10">
			<div class="pwSlideWrap">
				<div id="pwSlidePlayer_6" class="pwSlide"> <pw id="G3_播放器@門戶" /> </div>
			</div>
			<div class="subHd mt10">
				<h4><pw id="G4_左側標題@門戶" /></h4>
			</div>
			<div class="subBd" style="padding:8px 7px 0">
				<ul class="list1">
					<pw id="G5_左側列表@門戶" />
				</ul>
			</div>
		</div>
		<div class="fl w380">
			<div class="top1"> <pw id="G6_中間摘要@門戶" /> </div>
			<ul class="list1 halfList mt10 cc">
				<pw id="G7_中間列表@門戶" />
			</ul>
			<ul class="imageList image cc">
				<pw id="G8_中間圖片@門戶" />
			</ul>
		</div>
		<div class="fr w290">
			<div class="subHd"><pw id="G9_右側標題@門戶" /> </div>
			<div class="subBd">
				<ul class="subjectList cc">
					<pw id="G10_右側圖文@門戶" />
				</ul>
				<ul class="list1 btDashed">
					<pw id="G11_右側列表@門戶" />
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="mt10"><pw id="G12_橫幅廣告@門戶" /></div>
<div id="family" class="panel2 mt10">
	<div class="hd">
		<h3><pw id="H1_標題@門戶" /></h3>
		<ul class="more">
			<pw id="H2_欄目導航@門戶" />
		</ul>
	</div>
	<div class="bd cc">
		<div class="fl w240 mr10">
			<div class="pwSlideWrap">
				<div id="pwSlidePlayer_7" class="pwSlide"><pw id="H3_播放器@門戶" /></div>
			</div>
			<div class="subHd mt10">
				<h4><i class="l"></i><i class="r"></i><span><pw id="H4_左側標題@門戶" /></span></h4>
			</div>
			<div class="subBd" style="padding:10px 7px 0">
				<div class="f_subject cc"> <pw id="H5_左側圖文1@門戶" /> </div>
				<div class="f_subject mt10 cc"> <pw id="H6_左側圖文2@門戶" /> </div>
			</div>
		</div>
		<div class="fl w380"> <pw id="H7_中間摘要@門戶" />
			<ul class="list1 mt10 cc">
				<pw id="H8_中間列表@門戶" />
			</ul>
		</div>
		<div class="fr w290">
			<div class="subHd"><pw id="H9_右側標題@門戶" /> </div>
			<div class="subBd">
				<ul class="imageList image cc imgHeight">
					<pw id="H10_右側圖片@門戶" />
				</ul>
				<div class="tac"><pw id="H11_右側廣告@門戶" /></div>
			</div>
		</div>
	</div>
</div>

<div class="mt10"><span class="tCorner"><span></span></span>
<!--
EOT;
pwCache::getData(D_P . 'data/bbscache/cache_index.php');
if($sharelink){print <<<EOT
-->
		<div class="links cc">
		<div class="tTable">
<!--
EOT;
foreach($sharelink[0] as $share){ print <<<EOT
-->
			$share
<!--
EOT;
}print <<<EOT
-->
			<div class="sharelink2 cc">$sharelink[1]</div>
			</div>
		</div>
<!--
EOT;
}print <<<EOT
-->
		<span class="bCorner"><span></span></span>
</div>

		
<div class="c"></div>

<!--#require modeEot('footer');#-->
<!--
EOT;
?>-->
