<pw id="群組標題@群組聚合頁面" />
<h3>推薦群組</h3>
	
<pw id="群組列表@群組聚合頁面" />
<list num="6" action="group" cachetime="1800" ifpushonly="0" title="群組列表" />
<div class="bd"><div class="groups cc">
<ul>
	<loop>
	<li>
		<a href="{url}" target="_blank"><img class="fl" src="{image,64,64}" width="64" height="64" /></a>
		<h4><a href="{url}" target="_blank">{title,18}</a></h4>
		<p>{descrip,38}</p>
	</li>
	</loop>
</ul>
</div></div>