
<pw id="A1_頭部欄目導航@親子" />
<li class="switchNavItem"><a href="" target="_blank" >准媽俱樂部</a></li>
<li class="switchNavItem"><a href="" target="_blank" >親子俱樂部</a></li>
<li class="switchNavItem"><a href="" target="_blank" >無敵寶寶秀</a></li>
<li class="switchNavItem"><a href="" target="_blank" >試用體驗</a></li>
<li class="switchNavItem"><a href="" target="_blank" >母嬰用品</a></li>




<pw id="A2_頭部頭條@親子" />
<list cachetime="1800" action="subject" num="1" title="標題摘要模塊X1" />
<div class="tops">
	<loop>
		<h1><a href="{url}" >{title,40}</a></h1>
		<p>{descrip,110}</p>
	</loop>
</div>
<list cachetime="1800" action="subject" num="2" title="小標題X2" />
<ul>
	<loop>
		<li><a href="{url}"  ><em>【{forumname,4}】</em>{title,20}</a></li>
	</loop>
</ul>




<pw id="A3_頭部通知和入口@親子" />
<list cachetime="1800" action="subject" num="2" title="小標題X2" />
<ul>
	<loop>
		<li><a href="{url}"  >{title,20}</a></li>
	</loop>
</ul>
<list cachetime="1800" action="user" num="4" title="會員名X4" />
<dl>
	<dt>獲獎通知:</dt>
	<dd>
		<loop><a href="{url}" >{title,10}</a></loop>
	</dd>
</dl>




<pw id="B1_播放器@親子" />
<div id="pwSlidePlayer" class="pwSlide" onmouseover="pwSlidePlayer('pause');" onmouseout="pwSlidePlayer('goon');">
	<list cachetime="1800" num="4" action="image" func="newpic" rang="" ifpushonly="0" title="播放器" />
	<loop>
<!--#
	$tmpStyle = $key ? 'style="display:none;"' : '';
#-->
		<div id="Switch_$key" $tmpStyle>
			<a href="{url}" target="_blank" ><img class="pwSlideFilter" src="{image,302,252}" width="302" height="252"/><h3>{title,36}</h3></a>
		</div>
	</loop>
	<span class="pwSlide-bg"></span>
	<ul id="SwitchNav" class="SwitchNav"></ul>
</div>
<div class="c"></div>
<script type="text/javascript" src="js/picplayer.js"></script>
<script type="text/javascript">pwSlidePlayer('play',1);</script>





<pw id="B2_左側標題@親子" />
<h2 class="sideTitle"><strong>免費</strong>試用火熱進行中</h2>




<pw id="B3_左側圖文1@親子" />
<ul class="list2">
	<list cachetime="1800" action="image" num="3" title="活動1" />
	<loop>
		<li><a href="{url}"  target="_blank" ><img src="{image,88,88}" width="88" height="88" class="fl" /></a>
			<h4><a href="{url}"  target="_blank" >{title,22}<em class="hot"><img src="mode/area/themes/baby/images/hot.png" /></em></a></h4>
			<p>{descript,80}</p>
			<p><a class="apply" href="{url}">馬上申請</a></p>
		</li>
	</loop>
</ul>




<pw id="B4_左側列表@親子" />
<list cachetime="1800" action="subject" num="6" title="標題列表X6" />
<ul class="list3">
	<loop>
		<li><a href="{url}"  target="_blank">【{forumname,4}】{title,35}</a></li>
	</loop>
</ul>




<pw id="B5_左側圖文2@親子" />
<div class="sideBox">
	<h3><strong>試用</strong>達人</h3>
	<list cachetime="1800" num="4" action="image" func="newpic" rang="" ifpushonly="0" title="圖文列表X4" />
	<ul class="list4">
		<loop>
			<li><a href="{url}" target="_blank"><img src="{image,57,57}" width="57" height="57" class="fl" /></a>
				<h4><a href="{url}"  target="_blank">{title,30}</a></h4>
				<p>{descrip,52}..<a href="{url}"  target="_blank">[詳情]</a></p>
			</li>
		</loop>
	</ul>
</div>




<pw id="B6_左側廣告@親子" />
<div class="mt10"><a href="#" target="_blank"><img src="mode/area/themes/baby/images/temp/ad302x65.png" width="302" height="65" /></a></div>
<div class="mt10"><a href="#" target="_blank"><img src="mode/area/themes/baby/images/temp/ad302x65.png" width="302" height="65" /></a></div>




<pw id="B7_中間摘要@親子" />
<list cachetime="1800" num="3" action="subject"  title="頭條標題和摘要X3" />
<ul class="tops">
	<loop>
		<li class="t{$key}">
			<h2><a href="{url}"  target="_blank">{title,44}</a></h2>
			<p>{descrip,110}…<a href="{url}"  target="_blank">（閱讀全文）</a></p>
		</li>
	</loop>
</ul>




<pw id="B8_中間列表@親子" />
<list cachetime="1800" action="subject" num="18" title="標題列表X18" />
<ul class="list1 cc">
	<loop>
		<li><a href="{url}"   target="_blank"><em>[{forumname,4}]</em>{title,25}</a></li>
	</loop>
</ul>


<pw id="B9_右側tab@親子" />
							<span class="switchNavItem"><a href="">媽媽</a></span>
							<span class="switchNavItem"><a href="">寶寶</a></span>
						
							
<pw id="B10_右側tab內容1@親子" />
	<p class="switchItem" style="display:none">
			<list cachetime="1800" action="tag" num="11" title="鏈接標籤1" />
						<loop><a href="{url}">[{title,12}]</a></loop>
				</p>
						
						
<pw id="B11_右側tab內容2@親子" />
	<p class="switchItem" style="display:none">
						<list cachetime="1800" action="tag" num="11" title="鏈接標籤2" />
						<loop><a href="{url}">[{title,12}]</a></loop></p>

<script type="text/javascript" src="mode/area/js/ddsliderplayer.js"></script>


<pw id="B12_右側廣告@親子" />
<a href="#"><img src="mode/area/themes/baby/images/temp/ad222x160.png" /></a>




<pw id="B12_中間廣告1@親子" />
<a href="#"><img class="fl mr10" src="mode/area/themes/baby/images/temp/ad202x65.png" /></a> <a href="#"><img class="fl" src="mode/area/themes/baby/images/temp/ad202x65.png" /></a> <a href="#"><img class="fr" src="mode/area/themes/baby/images/temp/ad222x65.png" /></a>




<pw id="B13_左側圖文1@親子" />
<div class="hd">
	<list cachetime="1800" action="subject" num="1" title="more鏈接指向" />
	<loop>
		<h3>精彩活動</h3>
		<a class="more" href="{url}">more</a> </loop>
</div>
<div class="bd">
	<div class="bdWrap cc" style="padding:11px 14px 10px;">
		<div class="fl subject1">
			<list cachetime="1800" action="image" num="1" title="左邊圖文X1" />
			<div class="top1">
				<loop><a href="{url}" ><img src="{image,105,80}" width="105" height="80"/></a>
					<h4><a href="{url}"  target="_blank">{title,24}</a></h4>
					<p>{descrip,76}</p>
				</loop>
			</div>
			<list cachetime="1800" action="subject" num="4" title="左邊標題列表X4" />
			<ul>
				<loop>
					<li><a href="{url}"  target="_blank" title="{title,45}">{title}</a></li>
				</loop>
			</ul>
		</div>
		<div class="fr subject1">
			<list cachetime="1800" action="image" num="1" title="右邊圖文X1" />
			<div class="top1">
				<loop><a href="{url}" ><img src="{image,105,80}" width="105" height="80"/></a>
					<h4><a href="{url}"  target="_blank">{title,24}</a></h4>
					<p>{descrip,76}</p>
				</loop>
			</div>
			<list cachetime="1800" action="subject" num="4" title="右邊標題列表X4" />
			<ul>
				<loop>
					<li><a href="{url}"  target="_blank" title="{title,45}">{title}</a></li>
				</loop>
			</ul>
		</div>
	</div>
</div>




<pw id="B14_中間廣告2@親子" />
<a href="#"><img src="mode/area/themes/baby/images/temp/ad648x65.png" /></a>




<pw id="B15_左側圖文2@親子" />
<div class="hd">
	<h3>Color Baby</h3>
</div>
<div class="bd">
	<div class="bdWrap">
		<div id="babys">
			<list cachetime="1800" num="1" action="image" func="newpic" rang="" ifpushonly="0" title="小朋友頭像X1" />
			<div id="babyShow">
				<loop><a href="{url}"  target="_blank" ><img src="{image,295,170}" width="295" height="170" /></a></loop>
			</div>
			<list cachetime="1800" num="15" action="image" func="newpic" rang="" ifpushonly="0" title="小朋友頭像列表X15" />
			<ul id="babyList">
				<loop>
					<li><a href="{url}"  target="_blank" ><img src="{image,48,48}" width="48" height="48" /></a></li>
				</loop>
			</ul>
		</div>
	</div>
</div>




<pw id="B16_左側圖文3@親子" />
<list cachetime="1800" num="1" action="subject" func="newsubject" rang="" ifpushonly="0" title="更多鏈接指向" />
<div class="hd">
	<loop>
		<h3>生日寶寶</h3>
		<a class="more" href="{url}" target="_blank">more</a> </loop>
</div>
<div class="bd">
<list cachetime="1800" num="1" action="image" func="newpic" rang="" ifpushonly="0" title="寶寶生日詳細" />
	<div class="bdWrap cc">
	<loop>
		<div id="pwSlide2" class="pwSlide">
			<ul class="switch">
				<li>
					<a href="{url}"  target="_blank" ><img  src="{image,295,170}" width="295" height="170"  />
						<h3>{title,30}</h3>
					</a></li>
			</ul>
			<div class="pwSlide-bg" style="background-color:#C06"></div>
		</div>
		<div id="babyBirthday">
				<p><span>ＩＤ：{author}</span><a href="{url}" target="_blank" class="wish">給寶寶送祝福</a><br />
					寶寶名字：<strong>{title,30}</strong></p>
				<p>{descrip,140}</p>
		</div>
		</loop>
	</div>
</div>




<pw id="B17_橫幅廣告@親子" />
<h3>品牌專區</h3>
<ul class="brandList">
	<li><a href="#"><img src="mode/area/themes/baby/images/temp/brand/firmus.png" /></a></li>
	<li><a href="#"><img src="mode/area/themes/baby/images/temp/brand/beingmate.png" /></a></li>
	<li><a href="#"><img src="mode/area/themes/baby/images/temp/brand/happyprince.png" /></a></li>
	<li><a href="#"><img src="mode/area/themes/baby/images/temp/brand/nestle.png" /></a></li>
	<li><a href="#"><img src="mode/area/themes/baby/images/temp/brand/wissun.png" /></a></li>
	<li><a href="#"><img src="mode/area/themes/baby/images/temp/brand/xianzhi.png" /></a></li>
</ul>




<pw id="C1_欄目導航@親子" />
<h1 class="caption">孕育新生命</h1>
<div class="hd">
	<h3>准媽俱樂部申請通道</h3>
	<ul class="more">
		<li><em>準備懷孕：</em><a href="#">葉酸</a></li>
		<li><em>孕早期：</em><a href="#">建卡</a>｜<a href="#">胎教</a></li>
		<li><em>孕中期：</em><a href="#">B超</a>｜<a href="#">孕檢</a></li>
		<li><em>孕晚期：</em><a href="#">妊娠紋</a>｜<a href="#">胎動</a></li>
	</ul>
</div>




<pw id="C2_中間圖文@親子" />
<div class="pwSlideWrap">
	<div id="pwSlide3" class="pwSlide">
	<list cachetime="1800" action="image" num="1" title="左邊圖片X1" />
		<ul class="switch">
		<loop>
			<li><a href="{url}"  target="_blank" ><img src="{image,235,150}" width="235" height="150" />
				<h3>{title,20}</h3>
				</a></li>
		</loop>
		</ul>
		<div class="pwSlide-bg" style="background-color:#030"></div>
	</div>
</div>
<list cachetime="1800" num="2" action="subject"  title="左側標題摘要X2" />
<ul class="tops">
	<loop>
		<li>
			<h2><a href="{url}"  target="_blank" >{title,35}</a></h2>
			<p>{descrip,80}<a href="{url}"  target="_blank" >[詳情]</a></p>
		</li>
	</loop>
</ul>




<pw id="C3_中間列表@親子" />
<div class="steps">
	<ol>
		<li class="item"><em>1</em><a href="#">準備懷孕</a>
			<list cachetime="1800" action="subject" num="4" title="準備懷孕" />
			<ul class="list5">
				<loop>
					<li><a href="{url}"  target="_blank" >{title,28}</a></li>
				</loop>
			</ul>
		</li>
		<li class="item"><em>2</em><a href="#">孕前期</a>
			<list cachetime="1800" action="subject" num="4" title="孕前期" />
			<ul class="list5">
				<loop>
					<li><a href="{url}"  target="_blank" >{title,28}</a></li>
				</loop>
			</ul>
		</li>
		<li class="item"><em>3</em><a href="#">孕中期</a>
			<list cachetime="1800" action="subject" num="4" title="孕中期" />
			<ul class="list5">
				<loop>
					<li><a href="{url}"  target="_blank" >{title,28}</a></li>
				</loop>
			</ul>
		</li>
		<li class="item"><em>4</em><a href="#">孕後期</a>
			<list cachetime="1800" action="subject" num="4" title="孕後期" />
			<ul class="list5">
				<loop>
					<li><a href="{url}"  target="_blank" >{title,28}</a></li>
				</loop>
			</ul>
		</li>
	</ol>
</div>




<pw id="C4_左側列表@親子" />
<list cachetime="1800" action="subject" num="8" title="課堂排行" />
<ol class="rankingList">
	<loop>
		<li><a href="{url}"  target="_blank" >{title,30}</a></li>
	</loop>
</ol>




<pw id="D1_欄目導航@親子" />
<h1 class="caption">幼兒期 [0月-3歲]</h1>
<div class="hd">
	<h3>親子俱樂部申請通道</h3>
	<ul class="more">
		<li><em>新生兒：</em><a href="#">母乳</a>｜<a href="#">起名</a></li>
		<li><em>嬰兒期：</em><a href="#">輔食</a>｜<a href="#">補鈣</a></li>
		<li><em>幼兒期：</em><a href="#">早教</a>｜<a href="#">感冒</a></li>
		<li><em>孕晚期：</em><a href="#">妊娠紋</a>｜<a href="#">胎動</a></li>
	</ul>
</div>




<pw id="D2_中間圖文摘要@親子" />
<div class="pwSlideWrap">
	<div id="pwSlide3" class="pwSlide">
	<list cachetime="1800" action="image" num="1" title="左邊圖片X1" />
		<ul class="switch">
		<loop>
			<li><a href="{url}"  target="_blank" ><img src="{image,235,150}" width="235" height="150" />
				<h3>{title,20}</h3>
				</a></li>
		</loop>
		</ul>
		<div class="pwSlide-bg" style="background-color:#F30"></div>
	</div>
</div>
<list cachetime="1800" num="2" action="subject"  title="左側標題摘要X2" />
<ul class="tops">
	<loop>
		<li>
			<h2><a href="{url}"  target="_blank" >{title,35}</a></h2>
			<p>{descrip,80}<a href="{url}"  target="_blank" >[詳情]</a></p>
		</li>
	</loop>
</ul>




<pw id="D3_中間圖文列表@親子" />
<list cachetime="1800" action="image" num="1" title="左邊圖片X1" />
<div class="fl subject2">
	<loop><a href="{url}"  target="_blank" ><img src="{image,75,70}" width="75" height="70" /></a></loop>
	<list cachetime="1800" action="subject" num="4" title="左邊標題列表X4" />
	<ul class="list5">
		<loop>
			<li><a href="{url}"  target="_blank" >{title,22}</a></li>
		</loop>
	</ul>
</div>
<list cachetime="1800" action="image" num="1" title="右邊邊圖片X1" />
<div class="fr subject2">
	<loop><a href="{url}"  target="_blank" ><img src="{image,75,70}" width="75" height="70" /></a></loop>
	<list cachetime="1800" action="subject" num="4" title="右邊標題列表X4" />
	<ul class="list5">
		<loop>
			<li><a href="{url}"  target="_blank" >{title,22}</a></li>
		</loop>
	</ul>
</div>




<pw id="D4_右側圖文@親子" />
<list cachetime="1800" num="4" action="image" func="newpic" rang="" cachetime="1700" ifpushonly="0" title="圖文列表X4" />
<ul class="subject3">
	<loop>
		<li><a href="{url}"  target="_blank" ><img src="{image,45,40}" width="45" height="40"  /></a>{descrip,40}</li>
	</loop>
</ul>




<pw id="E1_欄目導航@親子" />
<h1 class="caption">學齡前 [3歲-6歲]</h1>
<div class="hd">
	<h3>親子俱樂部申請通道</h3>
	<ul class="more">
		<li><em>學齡前：</em><a href="#">培養</a>｜<a href="#">藝術</a>｜<a href="#">興趣班</a>｜<a href="#">幼兒園</a></li>
	</ul>
</div>




<pw id="E2_中間圖文摘要@親子" />
<div class="pwSlideWrap">
	<div id="pwSlide3" class="pwSlide">
	<list cachetime="1800" action="image" num="1" title="左邊圖片X1" />
		<ul class="switch">
		<loop>
			<li><a href="{url}"  target="_blank" ><img src="{image,235,150}" width="235" height="150" />
				<h3>{title,20}</h3>
				</a></li>
		</loop>
		</ul>
		<div class="pwSlide-bg" style="background-color:#603"></div>
	</div>
</div>
<list cachetime="1800" num="2" action="subject"  title="左側標題摘要X2" />
<ul class="tops">
	<loop>
		<li>
			<h2><a href="{url}"  target="_blank" >{title,35}</a></h2>
			<p>{descrip,80}<a href="{url}"  target="_blank" >[詳情]</a></p>
		</li>
	</loop>
</ul>




<pw id="E3_中間圖文列表@親子" />
<list cachetime="1800" action="image" num="3" title="左側圖片X3" />
<ul class="imgList">
	<loop>
		<li><a href="{url}"  target="_blank" ><img src="{image,70,65}" width="70" height="65" />{title,10}</a></li>
	</loop>
</ul>
<list cachetime="1800" action="subject" num="4" title="右側標題列表X4" />
<ul class="list5">
	<loop>
		<li><a href="{url}"  target="_blank" >{title,42}</a></li>
	</loop>
</ul>




<pw id="E4_右側列表@親子" />
<list cachetime="1800" action="subject" num="8" title="標題列表X8" />
<ol class="rankingList r2">
	<loop>
		<li><a href="{url}"  target="_blank" >{title,28}</a></li>
	</loop>
</ol>
