<!--<?php
print <<<EOT
-->
<!--#require modeEot('header');#-->
<div id="baby">
	<ul class="babyNav" id="tabmenu_B">
		<pw id="A1_頭部欄目導航@親子" />
	</ul>
	<div id="babyCon">
		<pw id="A2_頭部頭條@親子" />
	</div>
	<div id="babyBottom">
		<pw id="A3_頭部通知和入口@親子" />
	</div>
</div>
<div class="cc">
	<div class="sidebar">
		<pw id="B1_播放器@親子" />
		<div class="sideTop"></div>
		<pw id="B2_左側標題@親子" />
		<div class="sideMid"></div>
		<div class="sideBox">
			<pw id="B3_左側圖文1@親子" />
			<pw id="B4_左側列表@親子" />
		</div>
		<div class="sideMid"></div>
		<pw id="B5_左側圖文2@親子" /> 
		<div class="sideBottom"></div>
		<pw id="B6_左側廣告@親子" />
	</div>
	<div class="main">
		<div class="fl w415">
			<pw id="B7_中間摘要@親子" />
			<pw id="B8_中間列表@親子" />
		</div>
		<div class="fr w222">
			<div id="tools" class="panel1">
				<!--pw id="B9_實用工具箱@親子" /-->
				<div class="hd"><h3>實用工具箱</h3></div>
				<div class="bd">
					<dl class="open">
						<dt class="cc" id="tabwrap1_B">
							<pw id="B9_右側tab@親子" />
						</dt>
						<dd  id="tabwrap1_A">
						<pw id="B10_右側tab內容1@親子" />
						<pw id="B11_右側tab內容2@親子" />
						</dd>
					</dl>
				</div>
				<script>ddSliderPlayers('tabwrap1_A','tabwrap1_B',0,'current');</script>
			</div>
			<div class="mt10">
				<pw id="B12_右側廣告@親子" />
			</div>
		</div>
		<div class="c"></div>
		<div class="cc mt10">
			<pw id="B12_中間廣告1@親子" />
		</div>
		<div id="panelA" class="panel1 mt10">
			<pw id="B13_左側圖文1@親子" />
		</div>
		<div class="mt10">
			<pw id="B14_中間廣告2@親子" />
		</div>
		<div id="panelB" class="panel1 mt10">
			<pw id="B15_左側圖文2@親子" />
		</div>
		<div id="panelC" class="panel1 mt10">
			<pw id="B16_左側圖文3@親子" />
		</div>
	</div>
</div>
<div class="brand cc mt10">
	<pw id="B17_橫幅廣告@親子" />
</div>
<div id="pregnancy" class="panel2 mt10">
	<pw id="C1_欄目導航@親子" />
	<div class="bd">
		<div class="fl w525">
			<pw id="C2_中間圖文@親子" />
			<div class="c"></div>
			<pw id="C3_中間列表@親子" />
		</div>
		<div class="fr w195">
		<h4>好孕在線課堂</h4>
			<pw id="C4_左側列表@親子" />
		</div>
	</div>
</div>
<div id="childhoot" class="panel2 mt10">
	<pw id="D1_欄目導航@親子" />
	<div class="bd">
		<div class="fl w525">
			<pw id="D2_中間圖文摘要@親子" />
			<div class="c"></div>
			<div class="subjectWrap cc">
				<pw id="D3_中間圖文列表@親子" />
			</div>
		</div>
		<div class="fr w195">
		<h4>蓋樓寶寶</h4>
			<pw id="D4_右側圖文@親子" />
		</div>
	</div>
</div>
<div id="preschool" class="panel2 mt10">
	<pw id="E1_欄目導航@親子" />
	<div class="bd">
		<div class="fl w525">
			<pw id="E2_中間圖文摘要@親子" />
			<div class="c"></div>
			<div class="subjectWrap cc">
				<pw id="E3_中間圖文列表@親子" />
			</div>
		</div>
		<div class="fr w195">
		<h4>好孕在線課堂</h4>
			<pw id="E4_右側列表@親子" />
		</div>
	</div>
</div>
<!--#require modeEot('footer');#-->
<!--
EOT;
?>-->
