<!--<?php
print <<<EOT
-->
<!--#require modeEot('header');#-->

<div id="channelbanner">
	<h2 class="hidden">美食頻道</h2>
	<ul class="fr" id="tabmenu_B"><pw id="A1_頻道導航@美食" /></ul></div>
<div class="cc">
	<div class="fl mr10 w298"> <pw id="A2_播放器@美食" />
		<div class="panel mt10">
			<div class="hd">
				<h3><pw id="A3_左下標題@美食" /></h3>
			</div>
			<div class="bd" style="padding-bottom:0"><pw id="A4_左下圖文列表@美食" /></div>
		</div>
	</div>
	<div class="fl w400">
		<div id="topNews" class="panel">
			<div class="hd">
				<h3><pw id="A5_NEW標題@美食" /></h3>
			</div>
			<div class="bd"><pw id="A6_熱點摘要@美食" /><pw id="A7_熱點標題列表@美食" /><pw id="A8_熱點圖片列表@美食" /></div>
		</div>
	</div>
	<div class="fr w242">
		<div class="sideBox">
			<div class="hd">
				<h3 class="sb_0"><pw id="A9_右上標題@美食" /></h3>
			</div>
			<div class="bd">
				<div class="tags"><pw id="A10_右上列表@美食" /></div> 
			</div>
		</div>
		<div class="sideBox mt10">
			<div class="hd">
				<h3 class="h3_1"><pw id="A11_右下標題@美食" /></h3>
			</div>
			<div class="bd"><pw id="A12_右下圖文@美食" /><pw id="A13_右下列表@美食" /></div>
		</div>
	</div>
</div>
<div class="cc mt10"><pw id="A14_廣告@美食" /></div>
<div class="cc mt10">
	<div class="fl w708">
		<div id="fb_0" class="foodBox">
			<div class="stripe"></div>
			<div class="fl w315">
				<div class="hd">
					<h3><pw id="B1_左上標題@美食" /></h3>
				</div>
				<div class="bd">
					<ul class="imgList imgNoWrap imgW65">
						<pw id="B2_左上圖片列表@美食" />
					</ul>
				</div>
			</div>
			<div class="fr w215">
				<div class="hd">
					<h3><pw id="B3_中上標題@美食" /></h3>
				</div>
				<div class="bd"><pw id="B4_中上列表@美食" /></div>
			</div>
		</div>
		<div id="fb_1" class="foodBox mt10">
			<div class="stripe"></div>
			<div class="hd">
				<h3><pw id="B5_左下標題@美食" /></h3>
			</div>
			<div class="bd">
				<div class="fl w315"><pw id="B6_左下圖文摘要@美食" /></div>
				<div class="fr w215"><pw id="B7_中下標題列表@美食" /></div>
			</div>
		</div>
	</div>
	<div class="fr w242">
		<div class="sideBox">
			<div class="hd">
				<h3 class="h3_2"><pw id="B8_右側標題@美食" /></h3>
			</div>
			<div class="bd"><pw id="B9_右側圖片列表@美食" /><pw id="B10_右側標題列表@美食" /></div>
		</div>
	</div>
</div>
<div class="mt10"><pw id="B11_頁面中部下緣廣告位@美食" /></div>
<div class="cc mt10">
	<div class="fl w708">
		<div id="fb_2" class="foodBox">
			<div class="stripe"></div>
			<div class="hd">
				<h3><pw id="C1_左上標題@美食" /></h3>
			</div>
			<div class="bd"><pw id="C2_左上圖文列表@美食" /></div>
		</div>
		<div id="fb_3" class="foodBox mt10">
			<div class="stripe"></div>
			<div class="hd">
				<h3><pw id="C3_左下標題@美食" /></h3>
			</div>
			<div class="bd">
				<div class="fl w315"><pw id="C4_左下圖文列表@美食" /></div>
				<div class="fr w215"><pw id="C5_左下標題列表@美食" /></div>
			</div>
		</div>
	</div>
	<div class="fr w242">
		<div class="sideBox">
			<div class="hd">
				<h3 class="h3_3"><pw id="C6_右側標題@美食" /></h3>
			</div>
			<div class="bd" style="padding-bottom:18px;"><pw id="C7_右側標題列表@美食" /></div>
		</div>
	</div>
</div>
<div class="cc mt10"><pw id="C8_頁面中下部下緣廣告@美食" /></div>
<div class="cc mt10">
	<div class="fl w708">
		<div class="panel">
			<div class="hd">
				<h3><pw id="D1_左上標題@美食" /></h3>
				<ul class="tabHolder" id="Tab1_A">
					<pw id="D2_左上TAG@美食" />
				</ul>
			</div>
			<div id="Tab1_B" class="bd" style="padding:10px 0 10px 5px;">
				<div class="switchItem" style="display:none"><pw id="D3_左上TAG內容1@美食" /></div>
				<div class="switchItem" style="display:none"><pw id="D4_左上TAG內容2@美食" /></div>
				<div class="switchItem" style="display:none"><pw id="D5_左上TAG內容3@美食" /></div>
				<div class="switchItem" style="display:none"><pw id="D6_左上TAG內容4@美食" /></div>
			</div>
			<script>ddSliderPlayers('Tab1_B','Tab1_A',0,'current');</script>
		</div>
		<div class="panel mt10">
			<div class="hd">
				<h3><pw id="D7_左下標題@美食" /></h3>
			</div>
			<div class="bd">
				<div id="album" class="album"><a class="prev" href="javascript:ddHSlider(-126,'ddhSlider2')">向前</a><pw id="D9_左下圖片列表@美食" /><a class="next" href="javascript:ddHSlider(126,'ddhSlider2')">向後</a></div>
			</div>
		</div>
	</div>
	<div class="fr w242">
		<div class="sideBox">
			<div class="hd">
				<h3 class="h3_4"><pw id="D10_右側標題@美食" /></h3>
			</div>
			<div class="bd"><pw id="D11_右側圖片列表@美食" />
				<div class="tags" style="padding:10px 5px 5px; border-top:1px dashed #dadada;"><pw id="D12_右側標籤鏈接@美食" /></div>
			</div>
		</div>
	</div>
</div>
<!--#require modeEot('footer');#-->
<!--
EOT;
?>-->
