<!--<?php
include_once PrintEot('left');
print<<<EOT
-->
<!-- <h2 class="h1 mb10"><a href="$admin_file?adminjob=app&admintype=appslist">返回基礎應用列表</a></h2> -->
<!--
EOT;
if(!$action){print <<<EOT
-->
<div class="nav3 mb10">
  <ul class="cc">
    <li class="current"><a href="$basename">基本設置</a></li>
    <li><a href="$basename&action=hotTypeSet">排行類型設置</a></li>
  </ul>
</div>
  <form action="$basename" method="post" >
    <input type="hidden" value="baseSet" name="hot_baseSet"/>
    <h2 class="h1">熱榜基本設置</h2>
    <div class="admin_table mb10">
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr class="tr1 vt">
        <td class="td1">熱榜功能</td>
        <td class="td2">
          	<div class="list_A list_80">
                    <ul class="cc">
                        <li><input type="radio" name="config[hot_open]" value="1" $hot_open_Y/>開啟</li>
                        <li><input type="radio" name="config[hot_open]" value="0" $hot_open_N>關閉</li>
                    </ul>
             </div>
          </td><td class="td2"> </td>
      </tr>
      <tr class="tr1 vt">
        <td class="td1"><span class="xia2">瀏覽權限</span></td>
        <td class="td2">$hot_userGroup</td>
		<td class="td2">勾選允許瀏覽的用戶組，全不選表示全開放</td>
      </tr>
    </table>
    </div>
    <div class="mb10 tac">
    <span class="btn"><span><button type="submit">提 交</button></span></span>
   </div>
  </form>
<!--
EOT;
}if($action=="hotTypeSet"){print <<<EOT
-->
<div class="nav3 mb10">
  <ul class="cc">
    <li><a href="$basename">基本設置</a></li>
    <li class="current"><a href="$basename&action=hotTypeSet">排行類型設置</a></li>
  </ul>
</div>
  <form action="$basename&action=hotTypeSet" method="post">
    <input type="hidden" name="updateAll" value="updateAll"/>
  <h2 class="h1">熱榜排行類型設置</h2>
  <div class="admin_table mb10">
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr class="tr2">
        <td width="55">啟用</td>
        <td>順序</td>
        <td>類型（自定義名稱）</td>
        <td>篩選類別</td>
        <td>篩選時間</td>
        <td>顯示在熱榜首頁</td>
        <td width="40">操作</td>
      </tr>
<!-- 
EOT;
if($htmlHotList){
foreach($htmlHotParentList as $parent => $parentV){ print <<<EOT
-->
      <tr class="tr1 vt">
        <td class="td2"><input type="checkBox" value="$parentV[id]" name="active[{$parentV[id]}]"  $parentV[active]/></td>
        <td class="td2"><input id="test_1" type="text" value=$parentV[sort] name="sort[{$parentV[id]}]" class="input input_wd"></td>
        <td class="td2"><input type="text" value=$parentV[typeName] name="type_name[{$parentV[id]}]" class="input input_wa"></td>
        <td class="td2">$parentV[filterType]</td>
        <td class="td2">$parentV[filterTime]</td>
        <td class="td2"><input type="checkBox" value="$parentV[id]" name="display[{$parentV[id]}]" $parentV[display] /></td>
        <td class="td2"><a href="$basename&action=hotEdit&hotId=$parentV[id] ">[操作]</a></td>
        </td>
      </tr>
<!--
EOT;
foreach($htmlHotList as $key => $value){
if($value["parent"]==$parentV["id"]){
print <<<EOT
-->
      <tr class="tr1 vt">
        <td class="td2"><i class="lower"></i><input type="checkBox" value="$value[id]" name="active[{$value[id]}]"  $value[active]/></td>
        <td class="td2"><input type="text" value=$value[sort] name="sort[{$value[id]}]" class="input input_wd"></td>
        <td class="td2"><input type="text" value=$value[typeName] name="type_name[{$value[id]}]" class="input input_wa"></td>
        <td class="td2">$value[filterType]</td>
        <td class="td2">$value[filterTime]</td>
        <td class="td2"><input type="checkBox" value="$value[id]" name="display[{$value[id]}]" $value[display] /></td>
        <td class="td2"><a href="$basename&action=hotEdit&hotId=$value[id] ">[操作]</a></td>
        </td>
      </tr>
<!-- 
EOT;
}}}}print <<<EOT
 -->
    </table>
    </div>
    <div class="mb10 tac">
    <span class="btn"><span><button type="submit">提 交</button></span></span>
    <span class="bt"><span><button type="button" name="default" onclick="javascript:location.href='$basename&action=hotTypeSet&updateAll=default'">恢復默認</button></span></span>
   </div>
  </form>
<!--
EOT;
}if($action=="hotEdit"){print <<<EOT
-->
<div class="nav3 mb10">
  <ul class="cc">
    <li><a href="$basename">基本設置</a></li>
    <li class="current"><a href="$basename&action=hotTypeSet">排行類型設置</a></li>
  </ul>
</div>
  <form action="$basename&action=hotEdit" method="post">
    <input type="hidden" name="updateHot" value="updateHot" />
    <input type="hidden" name="id" value="$rt[id]"/>
    <input type="hidden" name="currentFilterType" value="$filterTypeData[current]"/>
    <input type="hidden" name="currentFilterTime" value="$filterTimeData[current]"/>
    <input type="hidden" name="tag" value="$rt[tag]"/>
    <h2 class="h1"><span class="mr20">顯示設置</span><span class="linka">(提示：默認顯示條數為20，如果設置的顯示條數大於20或者為空，則默認顯示20條)</span></h2>
    <div class="admin_table mb10">
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr class="tr1 vt">
        <td class="td1">類型名稱</td>
        <td class="td2"><input type="text" size="20" name="typeName" value="$rt[type_name]" class="input" /></td>
      </tr>
      <tr class="tr1 vt">
        <td class="td1">啟用</td>
        <td class="td2"><input type="checkbox" name="active" value="1" $active/></td>
      </tr>
      <tr class="tr1 vt">
        <td class="td1">顯示在熱榜首頁</td>
        <td class="td2"><input type="checkbox" name="display" value="1" $display/></td>
      </tr>
<!--
EOT;
if(!$htmlFilterType && !$htmlFilterTime && $rt['parent_id']){print <<<EOT
-->
      <tr class="tr1 vt">
        <td class="td1">設置顯示條數</td>
        <td class="td2"><input type="text" name="itemsCount" value="$itemsCount" class="input input_wa mr5"/>條</td>
      </tr>
<!--
EOT;
}print <<<EOT
-->
	</table>
</div>
<!-- 
EOT;
if($htmlFilterType){
print <<< EOT
-->
	<h2 class="h1"><span class="mr20">篩選類別</span><span class="linka">(提示：如果全不選，保存為當前首選項)</span></h2>
	<div class="admin_table mb10">
    	<table width="100%" cellspacing="0" cellpadding="0">
<!--
EOT;
foreach($htmlFilterType as $key => $value){
print <<< EOT
-->
                <tr class="tr1 vt">
                  <td class="td2" width="30"><input type="checkBox" name="fFilterType[]" value="$value[fAction]" $value[checked] /></td>
                  <td class="td2" width="140">$value[typeName]</td>
                  <td class="td2" width="30">顯示</td>
                  <td class="td2"><input type="text" class="input input_wc mr5"  name="$value[itemName]" value="$value[itemValue]"/>條</td>
                </tr>
<!-- 
EOT;
}print <<< EOT
-->
           </table>
      </div>
<!-- 
EOT;
}print <<< EOT
-->
<!-- 
EOT;
if($htmlFilterTime){
print <<< EOT
-->
		<h2 class="h1"><span class="mr20">篩選時間</span><span class="linka">（提示：如果全不選，保存為當前首選項）</span></h2>
        <div class="admin_table mb10">
    		<table width="100%" cellspacing="0" cellpadding="0">
<!--
EOT;
foreach($htmlFilterTime as $key => $value){
print <<< EOT
-->
                <tr class="tr1 vt">
                  <td class="td2" width="30"><input type="checkBox" name="fFilterTime[]" value="$value[fAction]" $value[checked] /></td>
                  <td class="td2" width="140">$value[typeName]</td>
                  <td class="td2" width="30">顯示</td>
                  <td class="td2"><input type="text" class="input input_wc mr5" name="$value[itemName]" value="$value[itemValue]"/>條</td>
                </tr>
<!-- 
EOT;
}print <<< EOT
-->
        </table>
    </div>
<!-- 
EOT;
}print <<< EOT
-->
    <div class="mb10 tac">
    <span class="btn"><span><button type="submit">提 交</button></span></span>
   </div>
  </form>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>-->
