<!--<?php
$title = $subMenu[$sub];
if($result){
print <<<EOT
-->
	<div class="p5">
		<h5 class="h5">
		<div class="fr"><form action="{$basename}action=$action&sub=$sub&rand=$randnum" method="post">
		$result[fType]
		$result[fTime]
		</form></div>
		<strong>$title[type_name]</strong></h5>
		<table width="100%">
<!--
EOT;
foreach($result['data'] as $key => $value){
print <<<EOT
-->
		<tr class="tr3">
		<td width="60"><span class="replay-bg"><div class="b s1 f16">$value[value]</div>
<!--
EOT;
if($sub=="diaryRate"){print <<<EOT
-->
		&nbsp;<a href="javascript:;" onclick="quickRateRequest('$value[id]','2','$fType')" class="s7">評價</a>
<!--
EOT;
}elseif($sub=="diaryFav"){print <<<EOT
-->
	    &nbsp;<a id="diaryShare" href="apps.php?q=collection&a=favor&type=diary&ajax=1&id=$value[id]" onclick="return ajaxurl(this)" class="s7">收藏</a>
<!--
EOT;
}elseif($sub=="diaryShare"){print <<<EOT
-->
		&nbsp;<a id="diaryShare" href="javascript:;" onclick="sendmsg('operate.php?action=share&ajax=1&type=diary&id=$value[id]','',this.id);" class="s7">分享</a>
<!--
EOT;
}else{print <<<EOT
-->
		&nbsp;$result[unit]
<!--
EOT;
}print <<<EOT
-->
		</span></td>
		<td><a class="f14 line" href="$value[url]" target="_blank">$value[title]</a></td>
		<td width="160">作者：<a href="u.php?username=$value[author]" target="_blank" class="s7">$value[author]</a><br/>$value[postdate]</td>
		</tr>
<!--
EOT;
}print <<<EOT
-->
		</table>
	</div>
<!--
EOT;
}?>-->