/*body*/
html{overflow-y:scroll;}
body{ font:12px/1.5 Arial;color:#444;}

/*link*/
a{color:#014c90; text-decoration:none;}
a:hover{ text-decoration:underline;}
.s1{color:#f00;}/*red*/
.s2{color:#f50;}

/*layout*/
.wrap{min-width:960px;margin-left:auto;margin-right:auto;}
.sidebar{border-left:1px solid #b2d0ea;}
.menubar{padding-left:10px;}
.main_min{min-height:400px;_height:400px;}

/*top*/
.top{height:25px;border-bottom:1px solid #e4e4e4;background:#f9f9f9;color:#999999;padding:0 10px;}
.top a{line-height:25px;margin:0 5px;color:#333;}

/*grid*/
.cm{float:left;width:100%;min-height:1px;}
.grid_3 .cw{margin:0 210px 0 160px;position:relative;padding-left:15px;min-height:300px;}
.grid_3 .md{float:left;width:150px;margin-right:-150px; position:relative;}
.grid_3 .sd{float:left;width:200px;margin-left:-200px;}

.sideClose .cw{margin-left:0;}
.sideClose .md{display:none;}

/*search*/
#searchType ul{height:25px;}
#searchType li{float:left;margin-right:5px;}
#searchType li a{font-size:14px;font-size:14px; text-decoration:underline;}
#searchType li.current a{color:#000; font-weight:700; text-decoration:none;}
.search_bg{height:32px;_height:31px;border:1px solid #e7e7e7;float:left;}
.search_ip{background:#fff;margin:-1px 0 0 -2px;overflow:hidden;height:33px;position:relative;float:left;}
.search_ip input{background:#fff;float:left;border: 1px solid; border-color: #cccccc #999999 #999999 #cccccc;font-size:14px;height:16px;padding:8px 0 7px 5px;margin:0;}
.search_ip span{border: 1px solid; border-color: #cccccc #999999 #999999 #cccccc;float:left;width:91px;border-left:0 none;margin:0;}
.search_ip button{border:0 none;float:right;width:90px;height:30px; cursor:pointer; font:14px/28px mingliu;background:#f0f0f0 url(search_btn.png);margin:1px 1px 0 0;padding-bottom:5px;}

/*title bar*/
.hd{background:#edf7ff;line-height:22px;height:22px;padding:0 10px;margin:0 10px 10px;border-top:1px solid #b2d0ea;border-bottom:1px solid #e3f1fc;}
.bdA{border-bottom:1px solid #b2d0ea;}

/*bar list*/
.boxA h2 a{color:#000;padding:0 0 0 10px;display:block; font:bold 12px/25px Arial;}
.boxA ul{padding:0 0 10px 0;}
.boxA ul.ul{padding:0 0 0 0;}
.boxA li{line-height:22px;padding-left:10px;}
.boxA li a{margin-right:5px;}
.boxA li.current{background:#edf7ff;}
.list_openup{margin:-5px 0 10px 10px; position:relative;}
.list_openup a,.list_packup a{height:17px;padding-left:22px;background:url(more.png) no-repeat;line-height:17px;display:block;margin-top:8px;}
.list_packup a{ background-position:0 -17px;}

/*content list*/
.cw em{ font-style:normal;color:#ff0000;}
.dlA dl{padding-bottom:23px;width:550px;}
.dlA dt input{padding:0;margin:-4px 0 0;}
.dlA dt .tlink{ font-size:16px;text-decoration:underline;}
.dlA dt .tlink em{text-decoration:underline;color:#ff0000;}
.dlA dd .num{color:#666666;padding:3px 0;}
.dlA dd cite{color:#008000;padding-right:5px; font-style:normal;}
.dlA dd .author{padding-top:3px;color:#666;}
.dlA dd .author a{color:#666666;}
.dlA dd .text{line-height:18px;min-height:18px;max-height:36px;overflow:hidden;}

.dlA dd.fr{width:62px;margin-left:10px;height:75px;}
.dlA dd .img{float:right;padding:1px;height:56px;border:1px solid #ccc;position:absolute;margin-top:2px;z-index:1;}
.dlA dd .img img{width:56px;height:56px;}
.dlA dd .imgs{border:1px solid #ccc;padding:1px;height:56px;width:56px;background:#fff;margin-left:-5px;margin-top:7px; position:relative;}
.dlA dd .imgs img{background:url(../imgdel_h200.jpg) center center;width:56px;height:56px;float:right;}

/*related*/
.related{margin-bottom:30px;width:540px;}
.related h2{margin-bottom:5px;color:#333; font-weight:100; font-size:16px;}
.related td{line-height:22px;height:22px; white-space:nowrap;padding-right:40px; font-size:14px;}
.related a{text-decoration:underline;}

/*manage*/
.manage{line-height:25px;height:25px;margin-bottom:10px;}
.manage input{margin-top:-2px;margin-right:3px;padding:0;}
.manage a{display:inline-block;line-height:20px;height:20px;padding:0 10px;border:1px solid #9fb9d4;margin-left:3px;background:#fff;color:#333;}
.manage a:hover{ text-decoration:none;border:1px solid #3366cc;}

/*bottom*/
#footer{padding:10px 0;color:#999;border-top:1px solid #e4e4e4;font-family:Verdana;}
.bottom{margin:0 auto;}
.bottom ul{ padding:0 5px 5px;margin:0; list-style:none;}
.bottom ul li{ padding:0 10px 0 0;display:inline;}
.bottom ul li a{white-space:nowrap;}

/*user*/
.user_main{margin-top:-5px;}
.user_main dl{width:479px; height:125px;border-bottom:1px solid #dddddd;float:left;padding:15px 0 20px;}
.user_main dt{float:left;padding:5px 10px;}
.user_main dt img{float:left;border:1px solid #e4e4e4;padding:5px; width:100px;height:100px;}
.user_main dd{float:left;line-height:20px; font-family:mingliu;}
.user_main dd.one{width:200px;}
.user_main dd.one a{ text-decoration:underline;}
.user_main dd.two{width:100px;padding-top:30px;}
.user_main dd .name{height:30px;line-height:30px;}
.user_main dd .name a{margin-right:3px;}

/*forum*/
.forum_main{overflow:hidden;}
.forum_main dl{width:480px;float:left;border-left:1px solid #d3e1f9;margin-left:-1px;padding:10px 0;height:80px;overflow:hidden;}
.forum_main dt {padding:3px 20px;float:left;}
.forum_main dt a{width:66px;height:66px;display:block;overflow:hidden; text-align:right;}
.forum_main dt .img{padding:2px;border:1px solid #e4e4e4;width:60px;height:60px;}
.forum_main dt img{max-width:64px;max-height:64px;}
.forum_main dd{float:left;line-height:1.8;color:#666666;width:360px;}
.forum_main dd a.f14{margin-right:10px;}
.forum_main dd .name{height:24px;overflow:hidden;}
.forum_main dd .text{line-height:18px;max-height:36px;overflow:hidden;}
.keep,.keepon{padding-left:20px;background:url(keep.png) 0 bottom no-repeat;line-height:16px;display:inline-block;height:16px;}
.keepon{ background-position:0 0; cursor:pointer;}

/**/
.search_menu{border:1px solid #e4eef8;background:#f7fbfe;padding:10px;width:530px;margin-bottom:10px;}
.search_menu td{line-height:21px;padding:5px;}
.search_menu td label{margin-right:15px;}
.search_menu td .input{border:1px solid #839ebc;margin-right:3px;}
.search_menu td .input_time{ cursor:pointer;}
.search_menu td span{margin:0 15px;}
.search_del{float:right;width:11px;height:11px;overflow:hidden;display:block; text-indent:-2000em;background:url(search_del.png) no-repeat;}
.search_del:hover{ background-position:0 -11px;}

/**/
.pImg_wrap{position:absolute;z-index:1002;/*-webkit-transition: all 0.5s ease-out;transition: all 0.5s ease-out;*/}
.pImg{background:#ffffff;}
.pImg_bg{position:absolute;background:#000;width:100%;height:100%;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;left:0;right:0;top:0;bottom:0;z-index:1001;}
.bcr1,.bcr2,.bcr3,.bcr4,.pibg1,.pibg2,.pibg3,.pibg4{overflow:hidden;z-index:1005;line-height:0 }
.bcr1,.bcr2,.bcr3,.bcr4{width:5px;height:5px;background:url(pImg.png) no-repeat;}
.pibg1,.pibg2,.pibg3,.pibg4{ background:#ffffff;}
.pibg1{height:5px;}
.pibg2{width:5px;}
.pibg3{height:5px;}
.pibg4{width:5px;}
.bcr1{ background-position:0 0;}
.bcr2{ background-position:-5px 0;}
.bcr3{ background-position:-5px -5px;}
.bcr4{ background-position:0 -5px;}
.pImg_close{background:url(pImg_close.png);float:right;width:15px;height:15px;text-indent:-2000em;overflow:hidden;-webkit-transition: all 0.2s ease-out;margin:3px 0 0 0;display:inline;}
.pImg_close:hover{background-position:0 -15px;}
.imgLoading{overflow:hidden;position:relative;}
.imgLoading img{display:block;width:100%;height:100%;}
.aPre,.aNext{position:absolute;background:url(../images/blank.gif);width:45%;padding-bottom:5000px;margin-bottom:-5000px;}