<!--
<?php

if ('show' == $block_job) {
print <<<EOT
-->
<div class="banner">
	<img src="{$block_data[image]}" />
<!--
EOT;
	if ('' != $block_data['title']) {
print <<<EOT
-->
	<h1 style="left:{$block_data[title_left]}px;top:{$block_data[title_top]}px; font:{$block_data[title_size]}px Arial; color:{$block_data[title_color]};">{$block_data[title]}</h1>
<!--
EOT;
	}
print <<<EOT
-->
</div>
<!--
EOT;
} else {
	if (empty($block_data['image'])) $block_data['image'] = $stopic_data['layout_config']['bannerurl'];
	if ($block_data['title_left'] == "") $block_data['title_left'] = 50;
	if ($block_data['title_top']  == "" ) $block_data['title_top'] = 50;
	if ($block_data['title_size']  == "") $block_data['title_size'] = 50;
print <<<EOT
-->
<tbody>
	<tr class="tr1 vt">
        	<td class="td2" width="80">模塊名稱</td>
            <td class="td2"><input type="text" name="block_title" value="$block[title]" class="input input_wa"></td>
	</tr>
	<tr class="tr1 vt">
        	<td class="td2">橫幅圖片</td>
            <td class="td2"><input type="text" id="{$block_id}_banner_image" name="banner_image" value="{$block_data[image]}" class="input input_wb">
			<input name="image_upload_0" style="display:none" type="file" class="input input_wb" accept="image/*" />
			<input type="hidden" name="image_type" value="0" />
			<a id="modifImgType" class="mr10" href="javascript:" onclick="stopicImgType('modifImgType', 'banner_image', 'image_upload_0')">[上傳]</a></td>
	</tr>
	<tr class="tr1 vt">
        	<td class="td2">文字標題</td>
            <td class="td2"><input name="banner_title" type="text" class="input input_wa" value="{$block_data[title]}" /></td>
	</tr>
	<tr class="tr1 vt">
        	<td class="td2">文字位置</td>
            <td class="td2">
            	<ul class="list_C">
                	<li>距離左邊&nbsp;<input name="postion_left" type="text" class="input input_wc" value="{$block_data[title_left]}" />&nbsp;px</li>
            		<li>距離頂部&nbsp;<input name="postion_top" type="text" class="input input_wc" value="{$block_data[title_top]}" />&nbsp;px</li>
                </ul>
            </td>
	</tr>
	<tr class="tr1 vt">
       	<td class="td2">文字樣式</td>
       	<td class="td2">
           	<div class="cc mb10">大小&nbsp;<input name="font_size" type="text" class="input" size="5" value="{$block_data[title_size]}" />&nbsp;px</div>
            <div class="cc"><span class="fl">顏色&nbsp;</span><div class="input_img fl mr10"><i class="input_color" title="選擇顏色" onclick="showColorPicker(this,'{$block_id}_font_color',function(){pickReback('{$block_id}_font_color_span',color_picker)})">選擇顏色</i><input id="{$block_id}_font_color" name="font_color" value="{$block_data[title_color]}" type="text" /></div>
                   <span id="{$block_id}_font_color_span" style="background:{$block_data[title_color]};width:50px;height:22px;border:1px solid #aaa;" class="fl"></span>
            </div>
        </td>
	</tr>
</tbody>
<!--
EOT;
}
?>
-->