<!--
<?php

if ('show' == $block_job) {
print <<<EOT
-->

<!--
EOT;
	if (is_array($block_data['nav']) && !empty($block_data['nav'])) {
print <<<EOT
-->
<ul class="zt_nav cc" style="background-color:{$block_data[link_bgcolor]};">
<!--
EOT;
		foreach ($block_data['nav'] as $nav) {
print <<<EOT
-->
	<li><a style="color:{$block_data[link_color]};" href="{$nav[url]}">{$nav[title]}</a></li>
<!--
EOT;
		}
print <<<EOT
-->
</ul>
<!--
EOT;
	}
print <<<EOT
-->

<!--
EOT;
} else {
	if (empty($block_data['link_color'])) $block_data['link_color'] = $stopic_data['layout_config']['navfontcolor'];
	if (empty($block_data['link_bgcolor'])) $block_data['link_bgcolor'] = $stopic_data['layout_config']['navbgcolor'];
print <<<EOT
-->
<tbody>
	<tr class="tr1 vt">
		<td class="td2" width="120">模塊標題</td>
        <td class="td2" colspan="2"><input type="text" name="block_title" value="$block[title]" class="input input_wa"></td>
	</tr>
	<tr class="tr1 vt">
		<td class="td2">鏈接字體顏色</td>
        <td class="td2" colspan="2">
        	<div class="input_img fl mr10"><i class="input_color" title="選擇顏色" onclick="showColorPicker(this,'{$block_id}_link_color',function(){pickReback('{$block_id}_link_color_span',color_picker)})">選擇顏色</i><input id="{$block_id}_link_color" name="link_color" value="{$block_data[link_color]}" type="text" /></div>
			<span id="{$block_id}_link_color_span" style="background:{$block_data[link_color]};width:50px;height:22px;border:1px solid #aaa;" class="fl"></span>
        </td>
     </tr>
	<tr class="tr1 vt">
     	<td class="td2">導航背景顏色</td>
        <td class="td2" colspan="2">
        	<div class="input_img fl mr10"><i class="input_color" title="選擇顏色" onclick="showColorPicker(this,'{$block_id}_link_bgcolor',function(){pickReback('{$block_id}_link_bgcolor_span',color_picker)})">選擇顏色</i><input id="{$block_id}_link_bgcolor" name="link_bgcolor" value="{$block_data[link_bgcolor]}" type="text" /></div>
				<span id="{$block_id}_link_bgcolor_span" style="background:{$block_data[link_bgcolor]};width:50px;height:22px;border:1px solid #aaa;" class="fl"></span>
		</td>
	</tr>
	<tr class="tr1 vt">
		<td class="td2">添加帖子tid[選填]</td>
        <td class="td2" colspan="2">
            <input type="text" id="tid" size="10" class="input input_wa mr5">
        	<span class="bt2"><span><button type="button" onclick="javascript:New(addFildData,['fildbody','filddata','tid']);">添加導航記錄</button></span></span>
        </td>
    </tr>
	<tr class="tr2 td_bgA">
	    <td width="160">導航文字</td>
	    <td width="160">鏈接地址</td>
	    <td>&nbsp;</td>
	</tr>

<tbody id="fildbody">
<!--
EOT;
	foreach ($block_data['nav'] as $v) {
print <<<EOT
-->
	<tr class="tr1 vt">
	    <td class="td2"><input type="text" name="title[]" value="{$v[title]}" class="input input_wa"></td>
	    <td class="td2"><input type="text" name="url[]" value="{$v[url]}" class="input input_wa"></td>
	    <td class="td2"><a href="javascript:void(0);" onclick="delTr(this);">[刪除]</a></td>
	</tr>
<!--
EOT;
	}
print <<<EOT
--></tbody>
<tbody id="filddata" style="display:none;">
	<tr class="tr1 vt">
		<td class="td2"><input type="text" name="title[]" value="" class="input input_wa"></td>
		<td class="td2"><input type="text" name="url[]" value="http://" class="input input_wa"></td>
		<td class="td2"><a href="javascript:void(0);" onclick="delTr(this);">[刪除]</a></td>
	</tr>
</tbody>
<!--
EOT;
}
?>
-->