<!--<?php
print <<<EOT
-->
<style type="text/css">
body,html{overflow:hidden;width:100%;height:100%;}
/*分類信息*/
#main{width:98%;}
.cates{margin:0 0 10px;}
.cates .cate-list li{padding:2px 0 1px 10px;font-weight:500;color:#444444; list-style:none;}
.cates .cate-list em{ font-style:normal;width:100px;float:left;}
.cates .cate-list cite{font-style:normal;}
.cates input{ vertical-align:middle;}
.cates .w{margin-right:10px;}
.cates .two{background:#f7fbff;}
a.app-post{background:url($imgpath/app-post.png);display:block;float:left;color:#ffffff;width:78px;height:26px;line-height:25px;padding-left:17px; }
a.app-post:hover{ text-decoration:none; background-position:0 -50px;}
.cate_meg_player {float:left;width:200px;background:#fff;margin-right:20px;}
/*flash*/
.flash{position:relative;padding:0;margin-right:0;}
.flash img{height:100%;width:100%;}
.flash ul {position:absolute;right:8px;bottom:8px;z-index:3;}
.flash ul li {list-style:none;float:left;width:18px;height:13px;line-height:13px;text-align:center;margin-left:2px;background:#ffffff;}
.flash ul li a {display:block;width:18px;height:13px;font-size:10px;font-family:Tahoma;color:#333333;}
.flash ul li a:hover,.flash ul li a.sel {color:#fff;text-decoration:none;background:#ffa900;}
</style>
<div class="tpc_content" style="padding:0;margin:10px 0 0;">
<div id="read_tpc" style="padding:0;margin:0;">
<div style="margin:0 0 5px 0;" class="cc">
	<a target="_blank" href="read.php?tid=$tid" class="app-post fl">查看詳情</a><div class="blockquote fl">已有 {$read[nums]} 人報名</div>
</div>
$topicvalue
</div>
</div>
<div class="c">&nbsp;</div>
<!--
EOT;
?>
-->