<!--<?php
print <<<EOT
-->
<div class="square_wrap cc">
	<div class="square_cont fl">
		<div class="square_hd cc"><a href="javascript:;" onclick="oAjaxhtml('postlast')" class="fr">換一組</a><h2 class="sgmv">帥哥美女</h2></div>
		<div class="square_list_user mb20" id="postlast">
<!--
EOT;
$act='postlast';
require PrintEot('m_browse_ajax');
print <<<EOT
-->	
		</div>
		<div class="square_hd cc"><a href="javascript:;"  onclick="oAjaxhtml('maxfans')" class="fr">換一組</a><h2 class="sqhr">社區紅人</h2></div>
		<div class="square_list_user mb20" id="maxfans">
<!--
EOT;
$act='maxfans';
require PrintEot('m_browse_ajax');
print <<<EOT
-->			
		</div>
		<div class="square_hd cc"><a href="javascript:;"  onclick="oAjaxhtml('thread')" class="fr">刷新看看</a><h2 class="zzfs">正在發生</h2></div>
		<div class="square_list_news" id="thread">
<!--
EOT;
$act='thread';
require PrintEot('m_browse_ajax');
print <<<EOT
-->			
		</div>
	</div>
	<div class="square_side fr">
		<div class="square_box_a mb15">
			<h2>今日粉絲排行榜</h2>
			<ul class="square_list_num">
<!--
EOT;
$i=1;
foreach($brandlist as $key => $value){
print <<<EOT
-->	
				
<!--
EOT;
if ($i<=3){
print <<<EOT
-->	
				<li class="top"><span class="icon_$value[brand]"></span><span class="fr">$value[fans]</span><em>$i</em>
				<a href="{$GLOBALS[db_userurl]}$value[uid]" class="user_img _cardshow" data-card-url="pw_ajax.php?action=smallcard&type=showcard&uid={$value[uid]}" data-card-key="{$value['username']}"><img src="{$value['icon']}" width="22" height="22" /></a>
				<a href="{$GLOBALS[db_userurl]}$value[uid]" class="user_name _cardshow" data-card-url="pw_ajax.php?action=smallcard&type=showcard&uid={$value[uid]}" data-card-key="{$value['username']}">$value[username]</a>
				</li>
<!--
EOT;
}else{
print <<<EOT
-->
				<li><span class="icon_$value[brand]"></span><span class="fr">$value[fans]</span><em>$i</em>
				<a href="{$GLOBALS[db_userurl]}$value[uid]" class="user_name _cardshow" data-card-url="pw_ajax.php?action=smallcard&type=showcard&uid={$value[uid]}" data-card-key="{$value['username']}">$value[username]</a>
				</li>
<!--
EOT;
}
$i++;
}
print<<<EOT
-->				
			</ul>
		</div>
		<div class="square_box_a mb15">
			<h2>最新升級用戶</h2>
			<ul class="square_list_num">
<!--
EOT;
$i=1;
foreach($upgradelist as $key => $value){
print <<<EOT
-->	
				
<!--
EOT;
if ($i<=3){
print <<<EOT
-->				
				<li class="top">
				<!--
					EOT;
					$gender = getDefaultGender($value['gender']);
					if ($GLOBALS['db_showonline'] && $value['thisvisit'] + $GLOBALS['db_onlinetime']*1.5 > $GLOBALS['timestamp']) {
					print <<<EOT
					-->
					<div class="fr"><span class="{$gender}_ol" title="在線" alt="在線">在線</span></div>
					<!--
					EOT;
					} else {
					print <<<EOT
					-->
					<div class="fr"><span class="{$gender}_unol" title="離線" alt="離線">離線</span></div>
					<!--
					EOT;
					}
					print <<<EOT
				-->
				<em>$i</em>
				<a href="{$GLOBALS[db_userurl]}$value[uid]" class="user_img _cardshow" data-card-url="pw_ajax.php?action=smallcard&type=showcard&uid={$value[uid]}" data-card-key="{$value['username']}"><img src="{$value['icon']}" width="22" height="22" /></a>
				<a href="{$GLOBALS[db_userurl]}$value[uid]" class="user_name _cardshow" data-card-url="pw_ajax.php?action=smallcard&type=showcard&uid={$value[uid]}" data-card-key="{$value['username']}">$value[username]</a></li>
<!--
EOT;
}else{
print <<<EOT
-->
				<li>
				<!--
					EOT;
					$gender = getDefaultGender($value['gender']);
					if ($GLOBALS['db_showonline'] && $value['thisvisit'] + $GLOBALS['db_onlinetime']*1.5 > $GLOBALS['timestamp']) {
					print <<<EOT
					-->
					<div class="fr"><span class="{$gender}_ol" title="在線" alt="在線">在線</span></div>
					<!--
					EOT;
					} else {
					print <<<EOT
					-->
					<div class="fr"><span class="{$gender}_unol" title="離線" alt="離線">離線</span></div>
					<!--
					EOT;
					}
					print <<<EOT
				-->
				<em>$i</em>
				<a href="{$GLOBALS[db_userurl]}$value[uid]" class="user_name _cardshow" data-card-url="pw_ajax.php?action=smallcard&type=showcard&uid={$value[uid]}" data-card-key="{$value['username']}">$value[username]</a></li>			
<!--
EOT;
}
$i++;
}
print<<<EOT
-->	
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">
function oAjaxhtml(t){
	var url="mode.php?m=o&act="+t+"&ajax=1";
	var obj=getObj(t);
	ajax.send(url, '', function() {
		obj.innerHTML=ajax.runscript(ajax.request.responseText);
		if(typeof usercard!="undefined"){
			new usercard().init();
		}
	});	
}

</script>

<!--
EOT;
?>-->