<!--
<?php 
print <<<EOT
-->
<form action="$baseUrl&action=edittpl&alias=$alias" method="post" >
<input type="hidden" name="step" value="2" />
<div><!--切換div-->
	<div class="pwC_content_a" style="overflow:hidden;">
		<div class="p10">
			<textarea name="tagcode" style="width:99%;height:150px;line-height:1.4;font-family:'Courier New', Courier, monospace;" >$pieceCode</textarea>
		</div>
		<div class="pw_label">
			<table width="660" class="mb5">
				<tr class="tr_title">
					<th>屬性名稱</th>
					<td>變量</td>
					<td>樣例</td>
				</tr>
				<tr>
					<th>標題</th>
					<td>{title}</td>
					<td>{title,40}</td>
				</tr>
				<tr>
					<th>鏈接地址</th>
					<td>{url}</td>
					<td>{url}</td>
				</tr>
				<tr>
					<th>圖片地址</th>
					<td>{image}</td>
					<td>{image,100,100}</td>
				</tr>
				<tr>
					<th>描述</th>
					<td>{descrip}</td>
					<td>{descrip,200}</td>
				</tr>
				<tr>
					<th>發帖時間</th>
					<td>{postdate}</td>
					<td>{postdate,y-m-d}/{postdate,m-d}</td>
				</tr>
				<tr>
					<th>版塊名稱</th>
					<td>{forumname}</td>
					<td>{forumname,10}</td>
				</tr>
				<tr>
					<th>版塊地址</th>
					<td>{forumurl}</td>
					<td>{forumurl}</td>
				</tr>
				<tr>
					<th>作者</th>
					<td>{author}</td>
					<td>{author,10}</td>
				</tr>
				<tr>
					<th>作者ID</th>
					<td>{authorid}</td>
					<td>u.php?uid={authorid}</td>
				</tr>
				<tr>
					<th>用戶ID</th>
					<td>{uid}</td>
					<td>u.php?uid={uid}</td>
				</tr>
				<tr>
					<th>主題分類名稱</th>
					<td>{topictypename}</td>
					<td>{topictypename,10}</td>
				</tr>
				<tr>
					<th>主題分類鏈接</th>
					<td>{topictypeurl}</td>
					<td>{topictypeurl}</td>
				</tr>
				<tr>
					<th>數值</th>
					<td>{value}</td>
					<td>{value}</td>
				</tr>
				<tr>
					<th>頭像</th>
					<td>{icon}</td>
					<td>{icon,100,100}</td>
				</tr>
					<th>帖子數</th>
					<td>{article}</td>
					<td>{article}</td>
				</tr>
				<tr>
					<th>主題數</th>
					<td>{topic}</td>
					<td>{topic}</td>
				</tr>
				<tr>
				<tr>
					<td colspan="3">更多變量請進後台 -> 門戶模式 -> 模塊管理 -> 編輯模板</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="tac p10" style="text-align:center;padding-top:0;">
		<span class="btn2"><span><button type="submit">提交</button></span></span>
	</div>
</div>
</form>
<!--
EOT;
?>
-->