<!--
<?php 
print <<<EOT
-->
<form action="$baseUrl&action={$action}" method="post" enctype="multipart/form-data" >
	<input type="hidden" name="step" value="2" />
	<input type="hidden" name="pushkey" value="$selid" />
	<script type="text/javascript">
	var doing = '$action';
	</script>
	<div class="pwC_nav_a">
<!--
EOT;
$pushCurrent = 'class="current"';
$recommendCurrent = '';
if ($action =='recommend') {
	$recommendCurrent = 'class="current"';
	$pushCurrent = '';
}
print <<<EOT
--> 
        <ul class="cc">
            <li $pushCurrent><a href="$baseUrl&action=pushto&selid=$selid">內容推送</a></li>
          	<li $recommendCurrent><a href="$baseUrl&action=recommend&selid=$selid">內容推薦</a></li>
        </ul>
    </div>
	<div id="scrollCtn" class="pwC_content_a" onscroll="moveCal(this)">
<!-- 
EOT;
if($action == 'recommend'){
print <<<EOT
-->         
       <div class="pw_tips">推薦的內容需要審核後才能在前台顯示</div>
<!-- 
EOT;
}
print <<<EOT
-->  
		<div class="admin_table">
			<table width="100%" class="">
				<tr class="tr1 vt">
					<td class="td1">頻道</td>
					<td class="td2">$channelsSelect</td>
				</tr>
				<tr class="tr1">
					<td class="td1">模塊</td>
					<td class="td2">
						{$invokesSelect}
						{$subInvokesSelect}
					</td>
				</tr>
				<tr class="tr1 vt">
					<td class="td1">排序等級</td>
					<td class="td2">
						<ul class="link_A list_80">
							<li><label><input type="radio" name="offset" value="0" checked="checked" />普通</label></li>
							<li><label><input type="radio" name="offset" value="1" />一等級</label></li>
							<li><label><input type="radio" name="offset" value="2" />二等級</label></li>
							<li><label><input type="radio" name="offset" value="3" />三等級</label></li>
							<li><label><input type="radio" name="offset" value="4" />四等級</label></li>
							<li><label><input type="radio" name="offset" value="5" />五等級</label></li>
						</ul>
					</td>
				</tr>
			 </table>
			 <div id="portalbox"></div>
		</div>
	</div>
	<div class="tac" style="padding-top:5px;text-align:center;">
		<span class="btn2"><span><button type="submit">提交</button></span></span>
	</div>
</form>
<!--
EOT;
?>
-->