<!--<?php
print <<<EOT
-->
<div style="width:700px;overflow:hidden;height:500px;">
<div onmousedown="portalBox.move(event);" class="popTop" style="cursor:move;"><a href="javascript:;" class="adel" onclick="portalBox.close();">關閉</a>$title</div>
<iframe scrolling="hidden" style="border:0;overflow:hidden;width:100%;height:100%;" frameborder="0" src="$baseUrl" id="areamanage"></iframe>
</div>
<!--
EOT;
?>-->