<!--<?php
$listCount = count($smsInfo);
print <<<EOT
-->
<table width="100%" style="table-layout:fixed;">
    <tr class="tr2">
        <td colspan="3" class="fn">
        參與者：{$userListHtml}			
        </td>
    </tr>
</table>
<table width="100%" id="smsListTable" style="table-layout:fixed;">
<!--
EOT;
$index = 0;
foreach($smsInfo as $key => $value){
$_linkUrl = "{$db_userurl}" . $value['uid']; 
$index++;
if($index == 1){
print <<<EOT
-->
		<tr class="tr3 vt">
			<td class="face"><a class="img_50" href="{$_linkUrl}"><i><img
				width="48" height="48" src="{$value[face]}"></i></a></td>
			<td class="name">
			<p>
<!--
EOT;
if(checkOnline($value[thisvisit]) && $value[create_uid] != $winduid){
$gender = getDefaultGender($value['gender']);
print <<<EOT
-->
							<span class="{$gender}_ol mr5" title="在線" alt="在線">在線</span>
<!--
EOT;
}print <<<EOT
--><a href="{$_linkUrl}">{$value[username]}</a>
<!--
EOT;
if($value[create_uid] != $winduid){
print <<<EOT
-->
							<a class="send_message w" href="$baseUrl?type=post&username={$value[create_username]}">[發消息]</a>
<!--
EOT;
}print <<<EOT
-->						
			</p>
			<em><span title="$value[created_time_detail]">{$value[created_time_format]}</span></em>
			<td>
        <a class="adel" href="javascript:;" onclick="pwConfirm('確定要刪除該消息?', this, function(){MC.del('{$message[rid]}','$subtype','','$page','showmessageTip')})">刪除</a>
<!--
EOT;
if($listCount > 10){
print <<<EOT
-->
        <a class="fr fn mr10" href="javascript:;" onclick="MC.showDetailMsg('','all')" id="openAll">全部展開</a>
<!--
EOT;
}print <<<EOT
-->
			<div class="textMes"><h1>{$value[title]}</h1>{$value[content]}</div>
<!--
EOT;
foreach($attachs as $k => $attach){
print <<<EOT
-->
							附件：<img src="u/images/message/zip.gif" align="absmiddle"> 
							<a href="job.php?action=download&type=message&aid={$attach[aid]}">{$attach[name]}</a><br>
<!--
EOT;
}print <<<EOT
-->
			</td>
		</tr>
<!--
EOT;
}else{
	$chatType = 'm';
	require messageEot('mchat');
}}print <<<EOT
-->
</table>
<!--
EOT;
if($message['typeid'] != $messageServer->getConst('groupsms_colony')){
	require messageEot('postreply');
}
print <<<EOT
-->


<!--
EOT;
?>-->