<!--<?php
require_once (R_P . 'require/bbscode.php');
$message['content'] = convert($message['content'], $windpost);
$postTime = get_date($message['created_time']);
print <<<EOT
-->
<table width="100%" class="mb10 vt">
	<tr class="bdA">
		<td style="height:1px;padding:0;"></td>
	</tr>	    
	<tr class="tr3">
		<td style="padding:0;">
			<div style="background:$uskin_bgC;padding:6px 10px 8px;" class="bgb"><a href="javascript:;" onclick="pwConfirm('確定要刪除該消息?', this, function(){MC.del('{$message[rid]}','$subtype','$deltype','$page')})" class="adel">刪除</a>系統&nbsp;&nbsp;<span class="f10">({$postTime})</span></div>
			<div class="p10 mb20">
				<h1>$message[title]</h1>
				<div class="s5 lh_22">$message[content]</div>
			</div>  	
		</td>
	</tr>
</table>
<!--
EOT;
?>-->