<!--<?php
$index = 0 ;
$listCount = count($smsList);
foreach($smsList as $key => $value){
$_linkUrl = "{$db_userurl}{$value['create_uid']}";
$index++;
if($index == 1){
print <<<EOT
-->
<script>
var db_urlcheck = "$db_urlcheck";
var db_bbsurl = '$db_bbsurl';
</script>
<script type="text/javascript" src="js/pw_lwd.js"></script>
		<table width="100%">
        	<tr class="tr2">
            	<td class="fn">
<!--
EOT;
if($subtype != 'search'){
print <<<EOT
-->
				   <a class="adel" href="javascript:;" onclick="pwConfirm('確定要刪除該消息?', this, function(){MC.del('{$message[rid]}','$subtype','$deltype','$page','showmessageTip')})">刪除</a>
<!--
EOT;
}if($listCount > 10){
print <<<EOT
-->
                	<a class="fr fn mr10" href="javascript:;" onclick="MC.showDetailMsg('','all')" id="openAll">全部展開</a>
<!--
EOT;
}
print <<<EOT
-->
					參與者：{$userListHtml}
        		</td>
            </tr>
        </table>
		<table width="100%" class="mb20" id="smsListTable" style="table-layout:fixed;">
				<tr class="tr3">
                     <td class="face" style="vertical-align:top;"><a href="{$_linkUrl}" class="img_50"><i><img src="{$value[face]}" height="48" width="48"></i></a></td>
                     <td class="name" style="vertical-align:top;width:120px;">
                     	<p>
<!--
EOT;
if(checkOnline($value['thisvisit']) && $value[create_uid] != $winduid){
$gender = getDefaultGender($value['gender']);
print <<<EOT
-->
							<span class="{$gender}_ol mr5" title="在線" alt="在線">在線</span>
<!--
EOT;
}print <<<EOT
-->
											<a href="{$_linkUrl}">{$value[create_username]}</a>
<!--
EOT;
if($value[create_uid] != $winduid){
print <<<EOT
-->
							<a class="send_message w" href="$baseUrl?type=post&username={$value[create_username]}">[發消息]</a>
<!--
EOT;
}print <<<EOT
-->
                     	 </p>
                         <em><span title="$value[created_time_detail]">{$value[created_time_format]}</span>
<!--
EOT;
if($value['status'] == '1' && $value['create_uid'] == $winduid){
print <<<EOT
--><img title="對方未讀" src="u/images/message/otherun.png" align="absmiddle" />
<!--
EOT;
}elseif($value['create_uid'] == $winduid){print <<<EOT
--><img title="對方已讀" src="u/images/message/otheread.png" align="absmiddle" />
<!--
EOT;
}print <<<EOT
-->
					 </em>
                     </td>
                     <td>
                         <div class="textMes">
                         	<h1>{$value[title]}</h1>
							{$value[content]}
						 <div>
<!--
EOT;
foreach($attachs as $k => $attach){
print <<<EOT
-->
							附件：<img src="u/images/message/zip.gif" align="absmiddle" /> 
							<a href="job.php?action=download&type=message&aid={$attach[aid]}">{$attach[name]}</a><br>
<!--
EOT;
}print <<<EOT
-->
						 </div>
                         </div>
                     </td>
										 <td width="60">&nbsp;</td>
                 </tr>
<!--
EOT;
}else{
	require messageEot('mchat');
}}print <<<EOT
-->
	  	</table>
<!--
EOT;
	require messageEot('postreply');
print <<<EOT
-->

<!--
EOT;
?>-->