<!--<?php
include_once PrintEot('left');print <<<EOT
-->
<div class="mb10"><a href="$admin_file?adminjob=hackcenter">插件中心</a> &raquo; <a href="javascript:;">{$db_hackdb[blog][0]}</a></div>
<!--
EOT;
if(empty($action)){
print <<<EOT
-->
<div class="admin_info mb10">
	<h3 class="h1">提示信息</h3>
  <div class="legend">
  <ol>
  	<li>此功能為博客與論壇整合設置，使用此功能需要預先安裝好博客系統，同時到博客後台進行博客與論壇整合的相關設置</li>
    <li> 如果您已經安裝好博客系統，您必要完成下面的參數設置才能使您的論壇與博客整合</li>
  </ol>
  <div class="legend">
  <p class="s1">註：以下填寫的信息必須準確無誤，否則可能造成論壇與博客不能整合成功</p>
      <ul>
            <li><span class="mr20">博客整合功能 </span> 為您的論壇開啟博客功能</li>
            <li><span class="mr20">博客訪問網址 </span>博客訪問地址，最後不要加 『/』</li>
            <li><span class="mr20">博客二級域名設置</span>博客後台設置的「二級域名」</li>
            <li><span class="mr20">博客用戶組權限</span>可設置哪些用戶組可以使用博客功能（使用此功能建議關閉博客註冊功能 ）</li>
      </ul>
  </div>
  </div>
</div>
<form action="$basename" method="post">
  <input type=hidden name="action" value="unsubmit">
  <h2 class="h1">博客整合設置</h2>
  <div class="admin_table mb10">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tr1 vt">
      <td class="td1">博客整合功能</td>
      <td class="td2">
       			<ul class="cc list_80 list_A mr10 fl">
                	<li><input type=radio name="config[bg_ifopen]" value="1" $ifopen_Y>開啟</li>
                    <li><input type=radio name="config[bg_ifopen]" value="0" $ifopen_N>關閉</li>
                </ul>
        </td>
<td class="td2"></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">博客訪問網址</td>
      <td class="td2"><input class="input input_wa" name="config[bg_blogurl]" value="$bg_blogurl"></td>
   <td class="td2"><div class="help_a">注意不要在最後加 /</div></td>
	</tr>
    <tr class="tr1 vt">
      <td class="td1">博客二級域名設置</td>
      <td class="td2"><input class="input input_wa" name="config[bg_domain]" value="$bg_domain"></td>
   <td class="td2"><div class="help_a">格式如：phpwind.net</div></td> </tr>
    <tr class="tr1 vt">
      <td class="td1">博客用戶組權限</td>
      <td class="td2" colspan="2">
          <table width="100%" cellspacing="0" cellpadding="0">
              <tr>$usergroup</tr>
           </table>
       </td>
    </tr>
  </table>
  </div>
  <div class="mb10 tac">
    <span class="btn"><span><button type="submit">提 交</button></span></span>
   </div>
</form>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>-->
