<!--<?php print <<<EOT
-->
<div id="breadCrumb">
<img src="$imgpath/$stylepath/thread/home.gif" class="cp breadHome" /><em class="breadEm"></em><a href="$db_bfn" title="$db_bbsname">$db_bbsname</a><em>&gt;</em><a href="$basename">博客</a>
</div>
<div class="t3" style="margin-top:8px;">
<table width="100%" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td width="25%" valign="top">
			<div class="t">
			<table width="100%" align="center" cellpadding="0" cellspacing="0">
				<tr><td class="h" colspan="2">功能說明</td></tr>
				<tr class="tr1">
					<th>
						<a href="$bg_blogurl/user_index.php" target="_blank"><b>博客管理</b></a><br />
						如果您已經擁有論壇帳號，直接登錄博客即可 <a href="$basename&action=activation" target="_blank"><font color="blue">激活您的博客帳號</font></a>，開始建設自己的個人博客主頁，體驗功能強大的博客系統
						<br /><br />
						<b><a href="$bg_blogurl/user_index.php?action=bbsatc" target="_blank">文章推送</a></b><br />
						管理自己發表的文章，可以將優秀的文章加入到自己的博客主頁中，永久收藏
					</th>
				</tr>
			</table></div>
		</td>
		<td valign="top">
			<div class="t" style="width:98%;margin-right:0">
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr><td class="h" colspan="2">博客管理</td></tr>
				<tr class="tr1">
					<th>
						如果您已經擁有論壇帳號，直接登錄博客即可 <a href="$basename&action=activation" target="_blank"><font color="blue">激活您的博客帳號</font></a>，開始建設自己的個人博客主頁，體驗功能強大的博客系統
						<br /><br />
						進入： 
						<a href="$bg_blogurl" target="_blank"><font color="blue">博客首頁</font></a>
						<a href="$bg_blogurl/blog.php?bbsuid=$winduid" target="_blank"><font color="blue">我的博客</font></a>
						<a href="$bg_blogurl/user_index.php" target="_blank"><font color="blue">博客管理</font></a>
					</th>
				</tr>
			</table></div>
			<div class="t" style="width:98%;margin-right:0;margin-bottom:25px">
			<table width="100%" cellpadding="0" cellspacing="0">
			<tr><td class="h" colspan="2">文章推送</td></tr>
			<tr class="tr1">
				<th>
					管理自己發表的文章，可以將優秀的文章加入到自己的博客主頁中，永久收藏
					<br /><br />
					進入： <a href="$bg_blogurl/user_index.php?action=bbsatc" target="_blank"><font color="blue">文章推送</font></a>
				</th>
			</tr>
			</table></div>
		</td>
	</tr>
</table></div>
<!--
EOT;
?>-->