


<pw id="L9894homeP83@首頁" />
				<a href="" target="_blank"><img src="$channelImagePath/p83_temp_1.jpg" /></a>




<pw id="L6664homeP83@首頁" />
			<div class="pwSlideWrap">
			 <div id="pwSlidePlayer" class="pwSlide">
			 <list num="4" action="image" cachetime="1800" ifpushonly="0" title="圖片" />
				<ul class="switch" id="PP1_A">
				<loop>
					<li class="switchItem" style="display:"><a href="{url}" target="_blank"><img src="{image,270,270}" width="270" height="270" /><h3>{title,40}</h3></a></li>
					</loop>
				</ul>
				<div class="pwSlide-bg"></div>
				<ul class="SwitchNav" id="PP1_B">
				<!--#for($i = 1; $i<=$key+1; $i++){#-->					
				<li class="switchNavItem"><a href="#" onclick="return false;">{$i}</a></li>
			    <!--#}#-->
				</ul>
			</div>
			</div>
		<script>onReady(function(){ddSliderPlayers('PP1_A','PP1_B',4,'current');})</script>

			


<pw id="K6968homeP83@首頁" />
				生活參考




<pw id="O7973homeP83@首頁" title="生活參考圖文@配圖標題摘要" />
				<list num="1" action="image" cachetime="1800" ifpushonly="0" title="配圖標題摘要" />
					<loop>
						<dl class="p83_dlA clB cc mb5">
							<dd class="p83_dlA_p"> <a href="{url}"  target="_blank" title="{title}"><img src="{image,80,80}" width="80" height="80"  /></a> </dd>
							<dt class="p83_dlA_t f14 b"><a href="{url}"  target="_blank" title="{title}" class="p83_fcA">{title,20}</a></dt>
							<dd class="p83_dlA_c"><a href="{url}"  target="_blank" title="{title}" class="p83_fcB" >{descrip,75}</a></dd>
						</dl>
					</loop>				
				


<pw id="G8597homeP83@首頁"  />
				<list num="4" action="subject" cachetime="1800" ifpushonly="0" title="標題列表" />
					<ul class="p83_ulA p83_ulE">
						<loop><li><a href="{url}"  target="_blank" title="{title}">{forumname} <span class="gray">|</span> {title,30}</a></li></loop>
					</ul>
		



<pw id="G9393homeP83@首頁" />
	<list num="3" action="subject" cachetime="10" ifpushonly="0" title="熱點標題摘要" />
		<loop>
	<dl class="p83_dlB clB">
	<!--# $count = $key+1;#-->
		<dt><a href="{url}"  target="_blank" title="{title}" class="b p83_fcC_$count cc">{title,45}</a></dt>
		<dd><a href="{url}"  target="_blank" title="{title}" class="p83_fcB">{descrip,150}&#46;&#46;.</a><a href="{url}" class="p83_fcC" target="_blank" title="{title}">[詳細]</a></dd>
	</dl>
		</loop>


<pw id="P5921homeP83@首頁" />
	<list num="8" action="subject" cachetime="1800" ifpushonly="0" title="標題列表" />
	<ul class="p83_ulA cc">
		<loop><li class="f14"><a href="{forumurl}"  target="_blank" title="{title}">{forumname,10}</a> <span class="gray"> | </span> <a href="{url}"  target="_blank" title="{title}">{title,50}</a></li></loop>	
	</ul>
		



<pw id="Q3054homeP83@首頁" />
	熱點話題


<pw id="X1554homeP83@首頁" />
				<list num="1" action="subject" cachetime="1800" ifpushonly="0" title="突出標題列表" />
					<loop><h5 class="p83_box_h5 clB"><a class="f14 p83_fcD b"  href="{url}">{title,25}</a></h5></loop>
					
				<list num="5" action="subject" cachetime="10" ifpushonly="0" title="標題列表" />
					<ul class="p83_ulA">
						<loop><li><a href="{url}" class="f14" target="_blank" title="{title}">{title,30}</a></li></loop>
					</ul>
				


<pw id="T6737homeP83@首頁" />
					<a href="{url}"  target="_blank" title="{title}"><img src="$channelImagePath/p83_temp_2.jpg" class="fl" /></a>

<pw id="W7964homeP83@首頁" />
		熱門信息

<pw id="Y201homeP83@首頁" />
	<list num="1" action="subject" cachetime="1800" ifpushonly="0" title="突出標題列表" />
		<loop><h5 class="p83_box_h5 mb5 clB"><a class="f14 p83_fcD b"  href="{url}">{title,25}</a></h5></loop>
		
	<list num="5" action="subject" cachetime="1800" ifpushonly="0" title="標題列表" />
		<ul class="p83_ulA">
<loop><li><a href="{url}"  target="_blank" title="{title}">{title,30}</a></li></loop>
		</ul>
	


<pw id="I8171homeP83@首頁" />
					<a href="{url}"  target="_blank" title="{title}"><img src="$channelImagePath/p83_temp_3.jpg" /></a>
					
					


<pw id="V7942homeP83@首頁" />
	精彩活動




<pw id="V5880homeP83@首頁" />
	<list num="3" action="image" cachetime="1800" ifpushonly="0" title="配圖標題摘要" />
		<loop>
<dl class="p83_dlC clB cc">
	<dt class="p83_dlC_t"><a href="{url}"  target="_blank" title="{title}" class="p83_fcA">{title,40}</a></dt>
	<dd class="p83_dlC_p"><a href="{url}"  target="_blank" title="{title}"><img src="{image,80,55}" width="80" height="55"  /></a> </dd>
	<dd class="p83_dlC_c"><a href="{url}"  target="_blank" title="{title}" class="p83_fcB" >{descrip,70}</a></dd>
</dl>
		</loop>	


<pw id="A1787homeP83@首頁" />
	旅遊天地



<pw id="R2301homeP83@首頁" />
				<list action="subject" cachetime="1800" num="4"  title="標題列表1" />
					<ul class="p83_ulA p83_ulG">
						<loop>
						<!--#
							$count = $key+1;
							$classF = $count==1?'class="b p83_fcA"':'';
						#-->
						<li><a href="{forumurl}" target="_blank" title="{title}">{forumname,10}</a> <span class="gray">|</span> <a href="{url}" $classf target="_blank" title="{title}">{title,30}</a></li>
						</loop>
					</ul>
					
				<list action="subject" cachetime="1800" num="7"  title="標題列表2" />
					<ul class="p83_ulA has_border f14">
						<loop><li><a href="{authorurl}"  target="_blank" title="{author}"><span class="gray fr f12">{author}</span></a><a href="{url}"  target="_blank" title="{title}">{title,30}</a></li></loop>
					</ul>
				



<pw id="T2333homeP83@首頁" />
<span class="fl">家居裝修</span>
<span class="more">
	<a target="_blank" href="#">圖庫</a> │ <a target="_blank" href="#">熱點</a> │ <a target="_blank" href="#">裝修</a>
</span>




<pw id="M8847homeP83@首頁" />
					<dl class="p83_dlA clB cc">
						<list num="1" action="image" cachetime="1800" ifpushonly="0" title="圖片" />
							<dd class="p83_dlA_p"><loop><a href="{url}"  target="_blank" title="{title}"><img  src="{image,160,105}" width="160" height="105"  /></a></loop> </dd>
						<dd class="p83_dlA_c">
						<list num="1" action="subject" cachetime="1800" ifpushonly="0" title="突出標題列表" />
						<loop><h5 class="p83_box_h5"><a class="f14 p83_fcD b"  href="{url}">{title,25}</a></h5></loop>

						<list num="4" action="subject" cachetime="1800" ifpushonly="0" title="標題列表" />
							<ul class="p83_ulA p83_ulG">
								<loop><li><a href="{forumurl}"  target="_blank" title="{title}">{forumname,10}</a> <span class="gray">|</span> <a href="{url}"  target="_blank" title="{title}">{title,40}</a></li></loop>
							</ul>
						</dd>
					</dl>
				


<pw id="Y3833homeP83@首頁" />
					<list num="6" action="subject" cachetime="1800" ifpushonly="0" title="標題列表" />
					<ul class="p83_ulA f14">
						<loop><li><a href="{authorurl}"  target="_blank" title="{author}"><span class="gray fr f12">{author}</span></a><a href="{url}"  target="_blank" title="{title}">{title,45}</a></li></loop>
					</ul>
				


<pw id="S7714homeP83@首頁" />
<span class="fl">媽咪寶貝</span>
<span class="more">
	<a target="_blank" href="#">親子</a> │ <a target="_blank" href="#">胎教</a> │ <a target="_blank" href="#">教育</a>
</span>

<pw id="K9665homeP83@首頁" />
					<dl class="p83_dlA clB cc">
						<list num="1" action="image" cachetime="1800" ifpushonly="0" title="圖片" />
							<dd class="p83_dlA_p"><loop><a href="{url}"  target="_blank" title="{title}"><img  src="{image,160,105}" width="160" height="105"  /></a></loop> </dd>
						<dd class="p83_dlA_c">
						<list num="1" action="subject" cachetime="1800" ifpushonly="0" title="突出標題列表" />
						<loop><h5 class="p83_box_h5"><a class="f14 p83_fcD b"  href="{url}">{title,25}</a></h5></loop>

						<list num="4" action="subject" cachetime="1800" ifpushonly="0" title="標題列表" />
							<ul class="p83_ulA p83_ulG">
								<loop><li><a href="{forumurl}"  target="_blank" title="{title}">{forumname,10}</a> <span class="gray">|</span> <a href="{url}"  target="_blank" title="{title}">{title,40}</a></li></loop>
							</ul>
						</dd>
					</dl>
				


<pw id="I8719homeP83@首頁" />
					<list num="6" action="subject" cachetime="1800" ifpushonly="0" title="標題列表" />
					<ul class="p83_ulA f14">
						<loop><li><a href="{authorurl}"  target="_blank" title="{author}"><span class="gray fr f12">{author}</span></a><a href="{url}"  target="_blank" title="{title}">{title,45}</a></li></loop>
					</ul>
				


<pw id="C9663homeP83@首頁" />
		博客生活


<pw id="E61homeP83@首頁" />
	<list num="1" action="image" cachetime="1800" ifpushonly="0" title="配圖標題摘要" />
		<loop>
<dl class="p83_dlC p83_dlD clB cc">
	<dt class="p83_dlC_t f14 b"><a href="{url}"  target="_blank" title="{title}" class="p83_fcA">{title,40}</a></dt>
	<dd class="p83_dlC_p"><a href="{url}"  target="_blank" title="{title}"><img src="{image,95,65}" width="95" height="65"  /></a> </dd>
	<dd class="p83_dlC_c"><a href="{url}"  target="_blank" title="{title}" class="p83_fcB" >{descrip,70}</a></dd>
</dl>
		</loop>	
				
<pw id="L9810homeP83@首頁" />
					<li class="switchNavItem"><a href="#">最新帖子</a></li>
					<li class="switchNavItem"><a href="#">最新回復</a></li>
					<li class="switchNavItem"><a href="#">熱門主題</a></li>
					
<pw id="H8388homeP83@首頁" />
					<div class="switchItem" style="display:none">
						<list num="6" action="subject" cachetime="1800" ifpushonly="0" title="最新帖子" />
						<ol class="p83_olA">
						<loop>
						<!--# $count = $key+1;#-->
							<li><a href="{url}" target="_blank" title="{title}"><em>$count</em>{title,35}</a></li>
						</loop>
						</ol>
					</div>
					
<pw id="I7567homeP83@首頁" />
					<div class="switchItem" style="display:none">
						<list num="6" action="subject" cachetime="1800" ifpushonly="0" title="最新回復" />
						<ol class="p83_olA">
						<loop>
						<!--# $count = $key+1;#-->
							<li><a href="{url}" target="_blank" title="{title}"><em>$count</em>{title,35}</a></li>
						</loop>
						</ol>
					</div>
					
<pw id="D7308homeP83@首頁" />
					<div class="switchItem" style="display:none">
						<list num="6" action="subject" cachetime="1800" ifpushonly="0" title="熱門主題" />
						<ol class="p83_olA">
						<loop>
						<!--# $count = $key+1;#-->
							<li><a href="{url}" target="_blank" title="{title}"><em>$count</em>{title,35}</a></li>
						</loop>
						</ol>
					</div>
					


<pw id="D9324homeP83@首頁" />
		互助問答



<pw id="R497homeP83@首頁" />

<dl class="p83_dlC clB cc">
	<list num="1" action="image" cachetime="1800" ifpushonly="0" title="配圖標題摘要" />
		<loop>
			<dd class="p83_dlC_p"><a href="{url}"  target="_blank" title="{title}"><img src="{image,80,55}" width="80" height="55"  /></a> </dd>
		</loop>	
		<dd class="p83_dlC_c">
			<list num="3" action="subject" cachetime="1800" ifpushonly="0" title="標題列表1" />
			<ul class="p83_ulH">
			<loop>
				<li><a href="{url}"  target="_blank" title="{title}">{title,16}</a></li>
			</loop>
			</ul>
		</dd>
</dl>

					<list num="10" action="subject" cachetime="1800" ifpushonly="0" title="標題列表2" />
					<ul class="p83_ulA p83_ulE">
						<loop>
						<!--#
							$count = $key+1;
							$classF = $count==1?'class="b p83_fcA"':'';
						#-->
						<li><a href="{forumurl}" target="_blank" title="{title}">{forumname}</a> <span class="gray">|</span> <a href="{url}" $classf target="_blank" title="{title}">{title,35}</a></li>
						</loop>
					</ul>
				



<pw id="O5290homep83@首頁" />
友情鏈接

