
<pw id="A1_欄目導航@招聘" />
<li class="switchNavItem"><a href="" target="_blank" >首頁</a></li>
<li class="switchNavItem"><a href="" target="_blank" >找工作</a></li>
<li class="switchNavItem"><a href="" target="_blank" >企業招聘</a></li>
<li class="switchNavItem"><a href="" target="_blank" >獵頭職位</a></li>
<li class="switchNavItem"><a href="" target="_blank" >職業指導</a></li>
<li class="switchNavItem"><a href="" target="_blank" >HR工具箱</a></li>
				
<pw id="A2_熱門行業@招聘" />
<em>熱門行業: </em> <a href="#" target="_blank" >商業服務業</a> / <a href="#" target="_blank" >廣告媒介金融</a> / <a href="#" target="_blank" >投資類自動化</a> / <a href="#" target="_blank" >電氣</a> / <a href="#" target="_blank" >互聯網</a> / <a href="#" target="_blank" >房地產</a> / <a href="#" target="_blank" >建築機械</a> / <a href="#" target="_blank" >製造類</a>

<pw id="A3_左上鏈接@招聘" />
<li class="job"><a href="#" target="_blank" >找工作</a></li>
<li class="resume"><a href="#" target="_blank" >寫簡歷</a></li>

<pw id="A4_左上標題@招聘" />
最新招聘會

<pw id="A5_左上列表@招聘" />
<list cachetime="1800" action="subject" num="7" title="新聞列表" />
<loop>
<li><a href="{url}" target="_blank" >{title,30}</a></li>
</loop>
						
<pw id="A6_播放器@招聘" />
<ul class="switch" id="psp1_a">
<list cachetime="1800" action="image" num="4" title="圖片播放器大圖" />
<loop>
<li class="switchItem" style="display:none"><a href="{url}"  target="_blank" ><img src="{image,416,286}" width="416" height="286" /><h3>{title,40}</h3></a></li>
</loop>
</ul>
<div class="pwSlide-bg"></div>
<ul class="SwitchNav" id="psp1_b">
<list cachetime="1800" action="image" num="4" title="序號" />
<loop>
<!--#$count=$key+1;#-->
<li class="switchNavItem"><a href="{url}"  target="_blank" >$count</a></li>
</loop>
</ul>
<script type="text/javascript" src="mode/area/js/ddsliderplayer.js"></script>
<script>ddSliderPlayers('psp1_a','psp1_b',4,'current');</script>
					
<pw id="A7_右側標題@招聘" />
<h3>職場點津</h3>
<a class="more" href="#" target="_blank">更多</a>

<pw id="A8_右側列表@招聘" />
<list cachetime="1800" action="subject" num="9" title="新聞列表" />
<loop>
<li><a href="{url}" target="_blank" >{title,40}</a></li>
</loop>
						
<pw id="B1_左上標題@招聘" />
<h3>初入職場</h3>
<a class="more" href="#" target="_blank">更多</a>

<pw id="B2_左上列表@招聘" />
<list cachetime="1800" action="subject" num="9" title="新聞列表" />
<loop>
<li><a href="{url}" target="_blank" >{title,38}</a></li>
</loop>
					
<pw id="B3_左下標題@招聘" />
<h3>薪酬面面觀</h3>
<a class="more" href="#" target="_blank">更多</a>

<pw id="B4_左下列表@招聘" />
<list cachetime="1800" action="subject" num="9" title="新聞列表" />
<loop>
<li><a href="{url}" target="_blank" >{title,38}</a></li>
</loop>
					
<pw id="B5_右上欄目導航@招聘" />
<h3>品牌企業招聘</h3>
<span class="more"><a href="#" target="_blank" >可口可樂</a> / <a href="#" target="_blank" >康師傅</a> / <a href="#" target="_blank" >富士康</a> / <a href="#" target="_blank" >本田汽車</a></span>

<pw id="B7_右上圖片列表@招聘" />
<list cachetime="1800" action="image" num="12" title="圖片列表" />
<loop>
<li><a href="{url}" target="_blank" ><img src="{image,165,120}" width="165" height="120" /></a></li>
</loop>
					
<pw id="B8_右下欄目導航@招聘" />
<h3>會員企業招聘</h3>
<span class="more"><a href="#" target="_blank" >味千拉麵</a> / <a href="#" target="_blank" >聖美科技</a> / <a href="#" target="_blank" >蘋果電腦</a> / <a href="#" target="_blank" >本田汽車</a></span>

<pw id="B10_右下圖片列表@招聘" />
<list cachetime="1800" action="image" num="12" title="圖片列表" />
<loop>
<li><a href="{url}" target="_blank" ><img src="{image,165,120}" width="165" height="120" /></a></li>
</loop>
					
<pw id="C1_左上標題@招聘" />
<h3>簡歷/面試/規劃/跳槽</h3>
<a class="more" href="#" target="_blank">更多</a>

<pw id="C2_左上列表@招聘" />
<list cachetime="1800" action="subject" num="9" title="新聞列表" />
<loop>
<li><a href="{url}" target="_blank" >{title,38}</a></li>
</loop>
					
<pw id="C3_左下標題@招聘" />
<h3>培訓/充電</h3>
<a class="more" href="#" target="_blank">更多</a>

<pw id="C4_左下列表@招聘" />
<list cachetime="1800" action="subject" num="9" title="新聞列表" />
<loop>
<li><a href="{url}" target="_blank" >{title,38}</a></li>
</loop>
					
<pw id="C5_右側欄目導航@招聘" />
<h3>最新招聘崗位</h3>
<span class="more"><a href="#" target="_blank" >味千拉麵</a> / <a href="#" target="_blank" >聖美科技</a> / <a href="#" target="_blank" >蘋果電腦</a> / <a href="#" target="_blank" >本田汽車</a></span>

<pw id="C6_右側列表@招聘" />
<list cachetime="1800" action="subject" num="48" title="新聞列表" />
<loop>
<li><a href="{url}" target="_blank" >{title,30} <span class="s1">{descrip,30}</span></a></li>
</loop>

<pw id="AD1_左側廣告1@招聘" />
<a href="#" target="_blank" ><img src="mode/area/themes/jobs/temp/ad235x130.png" width="235" height="130" /></a>

<pw id="AD2_左側廣告2@招聘" />
<a href="#" target="_blank" ><img src="mode/area/themes/jobs/temp/ad235x130.png" width="235" height="130" /></a>

<pw id="AD3_橫幅廣告@招聘" />
<a href="#" target="_blank" ><img src="mode/area/themes/jobs/temp/ad960x90.png" width="960" height="90" /></a>

<pw id="AD4_左側廣告3@招聘" />
<a href="#" target="_blank" ><img src="mode/area/themes/jobs/temp/ad235x130.png" width="235" height="130" /></a>
