<!--<?php
print <<<EOT
-->
<!--#require modeEot('header');#-->
	<div id="jobNav" class="mb10">
		<div class="navCon">
			<h2>招聘求職頻道</h2>
			<ul id="tabmenu_B">
				<pw id="A1_欄目導航@招聘" />
			</ul>
		</div>
		<div class="hotKeys"><pw id="A2_熱門行業@招聘" /></div>
	</div>
	<div class="cc mb10">
		<div class="fl mr10 w235">
			<div class="box">
				<s class="bj_top"><s></s></s>
				<div class="con">
					<ul class="tip">
						<pw id="A3_左上鏈接@招聘" />
					</ul>
					<h3 class="title"><pw id="A4_左上標題@招聘" /></h3>
					<ul class="list">
						<pw id="A5_左上列表@招聘" />
					</ul>
				</div>
				<s class="bj_bottom"><s></s></s>
			</div>
		</div>
		<div class="fl w430">
			<div class="box">
				<s class="bj_top"><s></s></s>
				<div class="pwSlideWrap">
				<div class="pwSlide">
					<pw id="A6_播放器@招聘" />
				</div>
				</div>
				<s class="bj_bottom"><s></s></s>
			</div>
		</div>
		<div class="fr w275">
			<div class="panel">
				<div class="hd">
					<pw id="A7_右側標題@招聘" />
				</div>
				<div class="bd">
					<ul class="list s2">
						<pw id="A8_右側列表@招聘" />
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="cc mb10">
		<div class="fl w235">
			<div class="panel mb10">
				<div class="hd">
					<pw id="B1_左上標題@招聘" />
				</div>
				<div class="bd">
					<ul class="list s1"><pw id="B2_左上列表@招聘" /></ul>
				</div>
			</div>
			<div class="mb10"><pw id="AD1_左側廣告1@招聘" /></div>
			<div class="panel mb10">
				<div class="hd">
					<pw id="B3_左下標題@招聘" />
				</div>
				<div class="bd">
					<ul class="list s1"><pw id="B4_左下列表@招聘" /></ul>
				</div>
			</div>
			<div><pw id="AD2_左側廣告2@招聘" /></div>
		</div>
		<div class="fr w715">
			<div class="panel2 mb10">
				<div class="hd">
					<pw id="B5_右上欄目導航@招聘" />
				</div>
				<div class="bd">
					<ul class="imgList cc"><pw id="B7_右上圖片列表@招聘" /></ul>
				</div>
			</div>
			<div class="panel2">
				<div class="hd">
					<pw id="B8_右下欄目導航@招聘" />
				</div>
				<div class="bd">
					<ul class="imgList cc"><pw id="B10_右下圖片列表@招聘" /></ul>
				</div>
			</div>
		</div>
	</div>
	<div class="mb10"><pw id="AD3_橫幅廣告@招聘" /></div>
	<div class="cc">
		<div class="fl w235">
			<div class="panel mb10">
				<div class="hd">
					<pw id="C1_左上標題@招聘" />
				</div>
				<div class="bd">
					<ul class="list s1"><pw id="C2_左上列表@招聘" /></ul>
				</div>
			</div>
			<div class="mb10"><pw id="AD4_左側廣告3@招聘" /></div>
			<div class="panel mb10">
				<div class="hd">
					<pw id="C3_左下標題@招聘" />
				</div>
				<div class="bd">
					<ul class="list s1"><pw id="C4_左下列表@招聘" /></ul>
				</div>
			</div>
		</div>
		<div class="fr w715">
			<div class="panel2">
				<div class="hd">
					<pw id="C5_右側欄目導航@招聘" />
				</div>
				<div class="bd2">
					<ul class="list list2Col cc"><pw id="C6_右側列表@招聘" /></ul>
				</div>
			</div>
		</div>
<!--#require modeEot('footer');#-->
<!--
EOT;
?>-->
