<pw id="A2_頂部欄目導航@汽車" />
		<li class="switchNavItem"><a href=""  target="_blank" >駕培中心</a></li>
		<li class="switchNavItem"><a href=""  target="_blank" >我要買車</a></li>
		<li class="switchNavItem"><a href=""  target="_blank" >杭州車友</a></li>
		<li class="switchNavItem"><a href=""  target="_blank" >酷改美容</a></li>
		<li class="switchNavItem"><a href=""  target="_blank" >車險百事通</a></li>
		<li class="switchNavItem"><a href=""  target="_blank" >車友會</a></li>

<pw id="B1_播放器@汽車" />
		<div class="pwSlide" id="pwSlidePlayerA" >
			<list cachetime="1800" action="image" num="4" title="圖片" />
			<ul class="switch" id="PP1_A" >
<!--#$count=0;#-->
				<loop>
	
					<li class="switchItem" style="display:"><a href="{url}"  target="_blank" > <img src="{image,300,250}" width="300" height="250" />
						<h3>{title,20}</h3>
						</a> </li>
<!--#$count++;#-->
				</loop>
			</ul>
			<div class="pwSlide-bg"></div>
			<ul class="SwitchNav" id="PP1_B">
<!--#if($count){#-->		
<!--#for($i = 1; $i<=$count; $i++){#-->					
				<li class="switchNavItem"><a href="#" onclick="return false;">{$i}</a></li>
<!--#}#-->	
<!--#}#-->	
			</ul>
		</div>
		<script type="text/javascript" src="mode/area/js/ddsliderplayer.js"></script>
		<script>ddSliderPlayers('PP1_A','PP1_B',4,'current');</script>
		
<pw id="B2_左側標題@汽車" />

				<h3>潮流活動志</h3>
				<a class="more" href="#"  target="_blank" >更多>></a> 
				
				
				
<pw id="B3_左側內容@汽車" />
<list cachetime="1800" action="image" num="3" title="圖文列表X3" />

				<ul class="subjectList cc" style="padding-bottom:3px; *padding-bottom:13px; _padding-bottom:3px;">
				<loop>
					<li><a href="{url}"  target="_blank" ><img src="{image,95,70}" height="70" width="95" class="fl" /></a>
						<h4><a class="s2" href="{url}"  target="_blank" >{title,25}</a></h4>
						<p>{descrip,75}</p>
					</li>
					</loop>
				</ul>
				
<pw id="B4_左側列表@汽車" />
<list cachetime="1800" action="subject" num="8" title="標題列表X8" />
<ul class="list" style="margin:10px 0 5px;">
<loop>
	<li><a href="{url}"  target="_blank" ><span class="s1">[{forumname,8}]</span>{title,35}</a></li>
	</loop>
</ul>
				
<pw id="B5_今日聚焦標題@汽車" />

今日聚焦
				
<pw id="B6_今日聚焦頭條@汽車" />
	<ul class="top1" style="margin-top:11px;">
	<list cachetime="1800" action="subject" num="3" title="標題摘要X3" />
	<loop>
		<li>
<h2><a class="s1" href="{url}"  target="_blank" >{title,35}</a></h2>
<p>{descrip,110} <a href="{url}"  target="_blank"  class="s1">[詳情]</a></p>
		</li>
		</loop>
	</ul>
	



<pw id="B7_今日聚焦列表@汽車" />
	<list cachetime="1800" action="subject" num="12" title="標題列表X12" />
	<ul class="list list2Col cc mt10" style="padding-top:3px;padding-bottom:2px">
	<loop>
		<li><a href="{url}"  target="_blank" >{title,30}</a></li>
	</loop>
	</ul>

<pw id="B8_banner@汽車" />
<div class="mt10"><a href="{url}"  target="_blank" ><img src="mode/area/themes/auto/temp/ad395x70.png" width="395" height="70" /></a></div>
		
<pw id="B9_中下標題@汽車" />
	汽車情報站
				
<pw id="B10_中下右側文字@汽車" />
				
<li><a href="#"  target="_blank" title="{車訊}">車訊</a> |</li>
<li><a href="#"  target="_blank" title="{評測}">評測</a> |</li>
<li><a href="#"  target="_blank" title="{試駕}">試駕</a> |</li>
<li><a href="#"  target="_blank" title="{導購}">導購</a> |</li>
<li><a href="#"  target="_blank" title="{咨詢}">咨詢</a></li>
				
<pw id="B11_中下圖文1@汽車" />
<list cachetime="1800" action="image" num="1" title="圖文列表X1" />
<loop><div class="img"><a href="{url}"  target="_blank"  class="s2"><img src="{image,95,70}" width="95" height="70" />{title,15}</a></div>
</loop>
<ul class="list">
<list cachetime="1800" action="subject" num="5" title="標題列表X5" />
<loop>
<li><a  href="{url}"  target="_blank" >{title,40}</a></li>
</loop>	
		</ul>
		

<pw id="B12_中下圖文2@汽車" />
<list cachetime="1800" action="image" num="1" title="圖文列表X1" />
<loop>
<div class="img"><a href="{url}"  target="_blank"  class="s2"><img src="{image,95,70}" width="95" height="70" />{title,15}</a></div>
</loop>
<ul class="list">
<list cachetime="1800" action="subject" num="5" title="標題列表X5" />
<loop>
<li><a  href="{url}"  target="_blank" >{title,40}</a></li>
</loop>	
		</ul>
		

<pw id="B13_頂部右側廣告@汽車" />
<div><a href="{url}"  target="_blank" ><img src="mode/area/themes/auto/temp/ad225x225.png" width="225" height="220" /></a></div>


<pw id="B14_右上標題@汽車" />

				<h3>新車試駕</h3>
				<a class="more" href="#"  target="_blank" >更多</a>
<pw id="B15_右上列表@汽車" />

<ul class="list">
<list cachetime="1800" action="subject" num="5" title="標題列表X5" />
	<loop>
	<li><a href="{url}"  target="_blank" >{title,30}</a></li>
	</loop>	
				
<pw id="B16_右上圖片@汽車" />
	<ul class="imgList cc">
	<list cachetime="1800" action="image" num="2" title="圖片列表X2" />
		<loop>
		<li><a class="s2" href="{url}"  target="_blank" ><img src="{image,90,70}" width="90" height="70" />{title,15}</a></li>
		</loop>
	</ul>
	

<pw id="B17_右下標題@汽車" />

<h3>新車試駕</h3>
<a class="more" href="#"  target="_blank" >更多</a>
<pw id="B18_右下排行@汽車" />

<ol class="rankingList">
	<list cachetime="1800" action="subject" num="10" title="標題列表X10" />
	<loop>
	<li><a href="{url}"  target="_blank" >{title,30}</a></li>
	</loop>
</ol>
				
<pw id="B19中部banner@汽車" />

<div class="mt10"><a href="{url}"  target="_blank" ><img src="mode/area/themes/auto/temp/ad960x70.png" /></a></div>

<pw id="C1_標題@汽車" />
				熱銷車型推薦
<pw id="C2_tab@汽車" />
<li class="switchNavItem"><a href="#"  target="_blank">微型</a></li>
<li class="switchNavItem"><a href="#"  target="_blank">小型</a></li>
<li class="switchNavItem"><a href="#"  target="_blank">緊湊</a></li>
<li class="switchNavItem"><a href="#"  target="_blank">中型</a></li>
<li class="switchNavItem"><a href="#"  target="_blank">中大型車</a></li>
<li class="switchNavItem"><a href="#"  target="_blank">豪華車</a></li>
<li class="switchNavItem"><a href="#"  target="_blank">SUV</a></li>
<li class="switchNavItem"><a href="#"  target="_blank">MPV</a></li>
<li class="switchNavItem"><a href="#"  target="_blank">跑車</a></li>

		

<pw id="C3A_tab內容1@汽車" />
		<div class="switchItem tabPanel cc" style="display:none">
			<div class="topCar">
				<list cachetime="1800" action="image" num="1" title="特別推薦車" />
				<loop>
				<div class="pho"><a href="{url}"  target="_blank" ><img src="{image,180,120}" width="180" height="120" /></a></div>
				<h2><a class="s2" href="{url}"  target="_blank" >{title,15}</a></h2>
				<p class="price"><em>經銷商報價</em><span class="b s1">{descrip,10}</span></p>
				</loop>
				<list cachetime="1800" action="tag" num="5" title="特別推薦車描述" />
				<ul class="attr">
				<loop>
					<li>{title}</li>
				</loop>
				</ul>
			</div>
			<ul class="imgList carList">
			<list cachetime="1800" action="image" num="10" title="車圖列表X10" />
			<loop>
				<li><a href="{url}"  target="_blank" ><img src="{image,120,90}" width="120" height="90" /></a>
					<h5><a href="{url}"  target="_blank" >{title,15}</a></h5>
					<p class="s1">{descrip,15}</p>
				</li>
			</loop>
			</ul>
		</div>
		
<pw id="C3B_tab內容2@汽車" />
		<div class="switchItem tabPanel cc" style="display:none">
			<div class="topCar">
				<list cachetime="1800" action="image" num="1" title="特別推薦車" />
				<loop>
				<div class="pho"><a href="{url}"  target="_blank" ><img src="{image,180,120}" width="180" height="120" /></a></div>
				<h2><a class="s2" href="{url}"  target="_blank" >{title,15}</a></h2>
				<p class="price"><em>經銷商報價</em><span class="b s1">{descrip,10}</span></p>
				</loop>
				<list cachetime="1800" action="tag" num="5" title="特別推薦車描述" />
				<ul class="attr">
				<loop>
					<li>{title}</li>
				</loop>
				</ul>
			</div>
			<ul class="imgList carList">
			<list cachetime="1800" action="image" num="10" title="車圖列表X10" />
			<loop>
				<li><a href="{url}"  target="_blank" ><img src="{image,120,90}" width="120" height="90" /></a>
					<h5><a href="{url}"  target="_blank" >{title,15}</a></h5>
					<p class="s1">{descrip,15}</p>
				</li>
			</loop>
			</ul>
		</div>
		
<pw id="C3C_tab內容3@汽車" />
		<div class="switchItem tabPanel cc" style="display:none">
			<div class="topCar">
				<list cachetime="1800" action="image" num="1" title="特別推薦車" />
				<loop>
				<div class="pho"><a href="{url}"  target="_blank" ><img src="{image,180,120}" width="180" height="120" /></a></div>
				<h2><a class="s2" href="{url}"  target="_blank" >{title,15}</a></h2>
				<p class="price"><em>經銷商報價</em><span class="b s1">{descrip,10}</span></p>
				</loop>
				<list cachetime="1800" action="tag" num="5" title="特別推薦車描述" />
				<ul class="attr">
				<loop>
					<li>{title}</li>
				</loop>
				</ul>
			</div>
			<ul class="imgList carList">
			<list cachetime="1800" action="image" num="10" title="車圖列表X10" />
			<loop>
				<li><a href="{url}"  target="_blank" ><img src="{image,120,90}" width="120" height="90" /></a>
					<h5><a href="{url}"  target="_blank" >{title,15}</a></h5>
					<p class="s1">{descrip,15}</p>
				</li>
			</loop>
			</ul>
		</div>
		
<pw id="C3D_tab內容4@汽車" />
		<div class="switchItem tabPanel cc" style="display:none">
			<div class="topCar">
				<list cachetime="1800" action="image" num="1" title="特別推薦車" />
				<loop>
				<div class="pho"><a href="{url}"  target="_blank" ><img src="{image,180,120}" width="180" height="120" /></a></div>
				<h2><a class="s2" href="{url}"  target="_blank" >{title,15}</a></h2>
				<p class="price"><em>經銷商報價</em><span class="b s1">{descrip,10}</span></p>
				</loop>
				<list cachetime="1800" action="tag" num="5" title="特別推薦車描述" />
				<ul class="attr">
				<loop>
					<li>{title}</li>
				</loop>
				</ul>
			</div>
			<ul class="imgList carList">
			<list cachetime="1800" action="image" num="10" title="車圖列表X10" />
			<loop>
				<li><a href="{url}"  target="_blank" ><img src="{image,120,90}" width="120" height="90" /></a>
					<h5><a href="{url}"  target="_blank" >{title,15}</a></h5>
					<p class="s1">{descrip,15}</p>
				</li>
			</loop>
			</ul>
		</div>
		
<pw id="C3E_tab內容5@汽車" />
		<div class="switchItem tabPanel cc" style="display:none">
			<div class="topCar">
				<list cachetime="1800" action="image" num="1" title="特別推薦車" />
				<loop>
				<div class="pho"><a href="{url}"  target="_blank" ><img src="{image,180,120}" width="180" height="120" /></a></div>
				<h2><a class="s2" href="{url}"  target="_blank" >{title,15}</a></h2>
				<p class="price"><em>經銷商報價</em><span class="b s1">{descrip,10}</span></p>
				</loop>
				<list cachetime="1800" action="tag" num="5" title="特別推薦車描述" />
				<ul class="attr">
				<loop>
					<li>{title}</li>
				</loop>
				</ul>
			</div>
			<ul class="imgList carList">
			<list cachetime="1800" action="image" num="10" title="車圖列表X10" />
			<loop>
				<li><a href="{url}"  target="_blank" ><img src="{image,120,90}" width="120" height="90" /></a>
					<h5><a href="{url}"  target="_blank" >{title,15}</a></h5>
					<p class="s1">{descrip,15}</p>
				</li>
			</loop>
			</ul>
		</div>
		
<pw id="C3F_tab內容6@汽車" />
		<div class="switchItem tabPanel cc" style="display:none">
			<div class="topCar">
				<list cachetime="1800" action="image" num="1" title="特別推薦車" />
				<loop>
				<div class="pho"><a href="{url}"  target="_blank" ><img src="{image,180,120}" width="180" height="120" /></a></div>
				<h2><a class="s2" href="{url}"  target="_blank" >{title,15}</a></h2>
				<p class="price"><em>經銷商報價</em><span class="b s1">{descrip,10}</span></p>
				</loop>
				<list cachetime="1800" action="tag" num="5" title="特別推薦車描述" />
				<ul class="attr">
				<loop>
					<li>{title}</li>
				</loop>
				</ul>
			</div>
			<ul class="imgList carList">
			<list cachetime="1800" action="image" num="10" title="車圖列表X10" />
			<loop>
				<li><a href="{url}"  target="_blank" ><img src="{image,120,90}" width="120" height="90" /></a>
					<h5><a href="{url}"  target="_blank" >{title,15}</a></h5>
					<p class="s1">{descrip,15}</p>
				</li>
			</loop>
			</ul>
		</div>
		
<pw id="C3G_tab內容7@汽車" />
		<div class="switchItem tabPanel cc" style="display:none">
			<div class="topCar">
				<list cachetime="1800" action="image" num="1" title="特別推薦車" />
				<loop>
				<div class="pho"><a href="{url}"  target="_blank" ><img src="{image,180,120}" width="180" height="120" /></a></div>
				<h2><a class="s2" href="{url}"  target="_blank" >{title,15}</a></h2>
				<p class="price"><em>經銷商報價</em><span class="b s1">{descrip,10}</span></p>
				</loop>
				<list cachetime="1800" action="tag" num="5" title="特別推薦車描述" />
				<ul class="attr">
				<loop>
					<li>{title}</li>
				</loop>
				</ul>
			</div>
			<ul class="imgList carList">
			<list cachetime="1800" action="image" num="10" title="車圖列表X10" />
			<loop>
				<li><a href="{url}"  target="_blank" ><img src="{image,120,90}" width="120" height="90" /></a>
					<h5><a href="{url}"  target="_blank" >{title,15}</a></h5>
					<p class="s1">{descrip,15}</p>
				</li>
			</loop>
			</ul>
		</div>
		

<pw id="C3H_tab內容8@汽車" />
		<div class="switchItem tabPanel cc" style="display:none">
			<div class="topCar">
				<list cachetime="1800" action="image" num="1" title="特別推薦車" />
				<loop>
				<div class="pho"><a href="{url}"  target="_blank" ><img src="{image,180,120}" width="180" height="120" /></a></div>
				<h2><a class="s2" href="{url}"  target="_blank" >{title,15}</a></h2>
				<p class="price"><em>經銷商報價</em><span class="b s1">{descrip,10}</span></p>
				</loop>
				<list cachetime="1800" action="tag" num="5" title="特別推薦車描述" />
				<ul class="attr">
				<loop>
					<li>{title}</li>
				</loop>
				</ul>
			</div>
			<ul class="imgList carList">
			<list cachetime="1800" action="image" num="10" title="車圖列表X10" />
			<loop>
				<li><a href="{url}"  target="_blank" ><img src="{image,120,90}" width="120" height="90" /></a>
					<h5><a href="{url}"  target="_blank" >{title,15}</a></h5>
					<p class="s1">{descrip,15}</p>
				</li>
			</loop>
			</ul>
		</div>		
		

<pw id="C3I_tab內容9@汽車" />
		<div class="switchItem tabPanel cc" style="display:none">
			<div class="topCar">
				<list cachetime="1800" action="image" num="1" title="特別推薦車" />
				<loop>
				<div class="pho"><a href="{url}"  target="_blank" ><img src="{image,180,120}" width="180" height="120" /></a></div>
				<h2><a class="s2" href="{url}"  target="_blank" >{title,15}</a></h2>
				<p class="price"><em>經銷商報價</em><span class="b s1">{descrip,10}</span></p>
				</loop>
				<list cachetime="1800" action="tag" num="5" title="特別推薦車描述" />
				<ul class="attr">
				<loop>
					<li>{title}</li>
				</loop>
				</ul>
			</div>
			<ul class="imgList carList">
			<list cachetime="1800" action="image" num="10" title="車圖列表X10" />
			<loop>
				<li><a href="{url}"  target="_blank" ><img src="{image,120,90}" width="120" height="90" /></a>
					<h5><a href="{url}"  target="_blank" >{title,15}</a></h5>
					<p class="s1">{descrip,15}</p>
				</li>
			</loop>
			</ul>
		</div>
		
		
		
<pw id="C4_banner@汽車" />

<div class="mt10"><a href="#"  target="_blank" ><img src="mode/area/themes/auto/temp/ad960x70.png" /></a></div>

<pw id="C5_標題@汽車" />
網友拍車
<pw id="C6_左側圖文@汽車" />

				<ul class="imgList carList2 cc">
				<list cachetime="1800" action="image" num="8" title="圖片列表X8" />
					<loop><li><a class="s2" href="{url}"  target="_blank" ><img src="{image,145,110}" width="145" height="110" />{title,20}</a></li>
					</loop>
				</ul>
				
<pw id="C7_右側標題@汽車" />

				<h3>精彩專題推薦</h3>
				<a class="more" href="#"  target="_blank" >更多</a>
<pw id="C8_右側圖文@汽車" />

				<ol class="topicList">
				<list cachetime="1800" action="image" num="2" title="圖片列表X4" />
					<loop>
						<li><a href="{url}"  target="_blank" ><img src="{image,215,40}" width="215" height="40" /></a>
						<h5><em>1</em><a class="s2" href="{url}"  target="_blank" >{title,30}</a></h5>
						</li>
					</loop>
				</ol>
				
<pw id="C9_banner@汽車" />

<div class="mt10"><a href="#"  target="_blank"><img src="mode/area/themes/auto/temp/ad960x70.png" /></a></div>

<pw id="D1_標題@汽車" />
車友說車

<pw id="D2_文字連接@汽車" />
				<li><a href="#"  target="_blank">故障</a> |</li>
				<li><a href="#"  target="_blank">油耗</a> |</li>
				<li><a href="#"  target="_blank">駕駛</a> |</li>
				<li><a href="#"  target="_blank">外觀</a> |</li>
				<li><a href="#"  target="_blank">配置</a> |</li>
				<li><a href="#"  target="_blank">保養</a></li>

		

<pw id="D3_左側圖文@汽車" />
		<list cachetime="1800" action="image" num="1" title="圖文列表X1" />
		<loop> 
				<a href="{url}"  target="_blank" ><img class="fl" src="{image,140,95}" width="140" height="95" /></a>
				<h4 class="f14 b mb5"><a class="s1" href="{url}"  target="_blank" >{title,30}</a></h4>
				<p>{descrip,110}</p>
		</loop>

				
<pw id="D4_左側列表@汽車" />

			<ul class="list list2Col cc mt10">
			<list cachetime="1800" action="subject" num="12" title="標題列表X12" />
				<loop>
				<li><a href="{url}"  target="_blank" ><span class="s1">[{forumname,8}]</span>{title,30}</a></li>
				</loop>
			</ul>
			
<pw id="D5_中間圖文@汽車" />

			<ul class="imgList2">
			<list cachetime="1800" action="image" num="4" title="圖文列表X4" />
				<loop>
				<li><a href="{url}"  target="_blank" ><img src="{image,65,50}" class="fl" width="65" height="50" />{title,70}</a></li>
				</loop>
			</ul>
			
<pw id="D6_右側標題@汽車" />
新手作業
<pw id="D7_右側圖文@汽車" />
				<list cachetime="1800" action="image" num="1" title="圖文列表X1" />
					<loop>
						<a class="pr" href="{url}"  target="_blank" ><img src="{image,215,75}" width="215" height="75" />
						<p>{title,30}</p>
						<i></i></a>
					</loop>
				
<pw id="D8_右側列表@汽車" />

				<ul class="list">
				<list cachetime="1800" action="subject" num="7" title="標題列表X7" />
					<loop>
					<li><a href="{url}"  target="_blank" >【{forumname,8}】{title,30}</a></li>
					</loop>
				</ul>
				
<pw id="E1_標題@汽車" />
人 · 車 · 生活

<pw id="E2_文字連接@汽車" />

			<li><a href="#"  target="_blank">社區</a> |</li>
			<li><a href="#"  target="_blank">活動</a> |</li>
			<li><a href="#"  target="_blank">八卦</a></li>
			

<pw id="E3_播放器@汽車" />
			<ul class="switch" id="pp2_A">
			<list cachetime="1800" action="image" num="5" title="圖片" />
				<loop>
				<li class="switchItem" style="display:none"><a href="{url}"  target="_blank" ><img src="{image,325,210}" width="325" height="210" />
					<h3>{title,20}</h3>
					</a></li>
					</loop>
			</ul>
			<div class="pwSlide-bg"></div>
			<ul class="SwitchNav"  id="pp2_B">
<!--#for($i = 1; $i<=$key+1; $i++){#-->					
				<li class="switchNavItem"><a href="#" onclick="return false;">{$i}</a></li>
<!--#}#-->	
			</ul>
			<script>ddSliderPlayers('pp2_A','pp2_B',4,'current');</script>
		
<pw id="E4_中間摘要@汽車" />
<list cachetime="1800" action="subject" num="1" title="標題摘要X1" />
<loop>
	<h2><a class="s1" href="{url}"  target="_blank" >{title,40}</a></h2>
	<p class="gray">{descrip,80}</p>
</loop>

	


<pw id="E5_中間列表@汽車" />

			<ul class="list list2Col cc">
			<list cachetime="1800" num="8" action="subject" ifpushonly="0" title="標題列表X8" />
				<loop>
				<li><a href="{url}"  target="_blank" ><span class="s1">[{forumname,8}]</span>{title,22}</a></li>
				</loop>
			</ul>
			


<pw id="E6_中間圖片@汽車" />

			<ul class="imgList cc">
			<list cachetime="1800" action="image" num="4" title="圖標列表X4" />
				<loop>
				<li><a href="{url}"  target="_blank" ><img src="{image,80,50}" width="80" height="50" /></a></li>
				</loop>
			</ul>
			
<pw id="E7_右側標題@汽車" />
車友活動
<pw id="E8_右側圖文@汽車" />
	<div class="topOne mb5">
		<list cachetime="1800" action="image" num="1" title="圖片X1" />
<loop>
<a class="pr" href="{url}"  target="_blank" ><img src="{image,215,75}" width="215" height="75" />
	<p>{title,30}</p>
	<i></i></a> 
</loop>
		</div>
	


<pw id="E9_右側列表@汽車" />

				<ul class="list">
				<list cachetime="1800" action="subject" num="5" title="標題列表X5" />
					<loop>
					<li><a href="{url}"  target="_blank" >【{forumname,8}】{title,25}</span></a></li>
					</loop>
				</ul>
				
<pw id="F1_標題@汽車" />
汽車一條龍
<pw id="F2_文字鏈接@汽車" />

			<li><a href="#"  target="_blank">學車</a> |</li>
			<li><a href="#"  target="_blank">車險</a> |</li>
			<li><a href="#"  target="_blank">改裝</a> |</li>
			<li><a href="#"  target="_blank">維修保養</a> |</li>
			<li><a href="#"  target="_blank">駕校咨詢</a></li>

		
<pw id="F3_圖文1@汽車" />
					<h4><em class="stepBg"><span class="sn_01">01</span></em>學車</h4>
					<list cachetime="1800" action="image" num="1" title="圖片X1" />
					<loop>
						<div class="topOne"> <a href="{url}"  target="_blank" ><img src="{image,210,70}" width="210" height="70" />
						<p>{title,30}</p>
						<i></i></a></div>
						</loop>
					<ul class="list mt10">
					<list cachetime="1800" action="subject" num="4" title="標題X4" />
						<loop>
						<li><a href="{url}"  target="_blank" >【{forumname,8}】{title,25}</a></li>
						</loop>
					</ul>
					
<pw id="F4_圖文2@汽車" />

					<h4><em class="stepBg"><span class="sn_02">02</span></em>買車</h4>
					<list cachetime="1800" action="image" num="1" title="圖片X1" />
					<loop>
						<div class="topOne"> <a href="{url}"  target="_blank" ><img src="{image,210,70}" width="210" height="70" />
						<p>{title,30}</p>
						<i></i></a></div>
						</loop>
					<ul class="list mt10">
					<list cachetime="1800" action="subject" num="4" title="標題X4" />
						<loop>
						<li><a href="{url}"  target="_blank" >【{forumname,8}】{title,25}</a></li>
						</loop>
					</ul>
					
<pw id="F5_圖文3@汽車" />

					<h4><em class="stepBg"><span class="sn_03">03</span></em>開車</h4>
					<list cachetime="1800" action="image" num="1" title="圖片X1" />
					<loop>
						<div class="topOne"> <a href="{url}"  target="_blank" ><img src="{image,210,70}" width="210" height="70" />
						<p>{title,30}</p>
						<i></i></a></div>
						</loop>
					<ul class="list mt10">
					<list cachetime="1800" action="subject" num="4" title="標題X4" />
						<loop>
						<li><a href="{url}"  target="_blank" >【{forumname,8}】{title,25}</a></li>
						</loop>
					</ul>
					
<pw id="F6_圖文4@汽車" />

					<h4><em class="stepBg"><span class="sn_04">04</span></em>養車</h4>
					<list cachetime="1800" action="image" num="1" title="圖片X1" />
					<loop>
						<div class="topOne"> <a href="{url}"  target="_blank" ><img src="{image,210,70}" width="210" height="70" />
						<p>{title,30}</p>
						<i></i></a></div>
						</loop>
					<ul class="list mt10">
					<list cachetime="1800" action="subject" num="4" title="標題X4" />
						<loop>
						<li><a href="{url}"  target="_blank" >【{forumname,8}】{title,25}</a></li>
						</loop>
					</ul>
					
<pw id="F7_banner@汽車" />

<div class="mt10"><a href="#"  target="_blank"><img src="mode/area/themes/auto/temp/ad960x70.png" /></a></div>

<pw id="G1_標題@汽車" />
加入車友會
<pw id="G2_左側列表@汽車" />
			<list cachetime="1800" action="subject" num="30" title="車友會列表X30" />
				<loop>
					<li><a href="{url}"  target="_blank" >{title,25}</a></li>
				</loop>
			

		
<pw id="G3_右側TAB@汽車" />
	<li class="switchNavItem"><a href="#"  target="_blank">活動回顧</a></li>
	<li class="switchNavItem"><a href="#"  target="_blank">近期亮點</a></li>




<pw id="G4A_右側TAB內容1@汽車" />
			<div class="switchItem tabPanel" style="display:none">
			<list cachetime="1800" action="image" num="1" title="圖片" />
			<loop>
				<div class="subject cc"><a href="{url}"  target="_blank" ><img class="fl" src="{image,85,65}" width="85" height="65" /></a>
					<h4><a href="{url}"  target="_blank" >{title,30}</a></h4>
					<p>{descrip,90}</p>
				</div>
			</loop>
			<list cachetime="1800" action="subject" num="8" title="標題列表X8" />
				<ul class="list list2Col cc">
				<loop>
					<li><a href="{url}"  target="_blank" >【<span class="s1">{forumname,8}</span>】{title,18}</a></li>
				</loop>
				</ul>
			</div>

<pw id="G4B_右側TAB內容2@汽車" />
			<div class="switchItem tabPanel" style="display:none">
			<list cachetime="1800" action="image" num="1" title="圖片" />
			<loop>
				<div class="subject cc"><a href="{url}"  target="_blank" ><img class="fl" src="{image,85,65}" width="85" height="65" /></a>
					<h4><a href="{url}"  target="_blank" >{title,30}</a></h4>
					<p>{descrip,90}</p>
				</div>
			</loop>
			<list cachetime="1800" action="subject" num="8" title="標題列表X8" />
				<ul class="list list2Col cc">
				<loop>
					<li><a href="{url}"  target="_blank" >【<span class="s1">{forumname,8}</span>】{title,18}</a></li>
				</loop>
				</ul>
			</div>
			
