<!--<?php
print <<<EOT
-->
<!--#require modeEot('header');#-->

<div id="channelbanner">
	<h2 class="hidden">汽車頻道</h2>
	<ul id="tabmenu_B">
		<pw id="A2_頂部欄目導航@汽車" />
	</ul>
</div>
<div class="cc">
	<div class="fl mr10 w300">
		<pw id="B1_播放器@汽車" />
		<div class="panel mt10">
			<div class="hd"><pw id="B2_左側標題@汽車" /></div>
			<div class="bd">
				<pw id="B3_左側內容@汽車" />
				<div class="line"></div>
				<pw id="B4_左側列表@汽車" /> </div>
		</div>
	</div>
	<div class="fl w395">
		<div class="tops">
			<div class="hd"><h3><pw id="B5_今日聚焦標題@汽車" /></h3></div>
			<div class="bd"> <pw id="B6_今日聚焦頭條@汽車" />
				<div class="line"></div>
				<pw id="B7_今日聚焦列表@汽車" /> </div>
		</div>
		<pw id="B8_banner@汽車" />
		<div class="panel mt10">
			<div class="hd">
				<h3><pw id="B9_中下標題@汽車" /></h3>
				<ul class="more">
					<pw id="B10_中下右側文字@汽車" />
				</ul>
			</div>
			<div class="bd">
				<div class="subject2 cc"> <pw id="B11_中下圖文1@汽車" /> </div>
				<div class="subject2 mt10 cc"> <pw id="B12_中下圖文2@汽車" /> </div>
			</div>
		</div>
	</div>
	<div class="fr w245">
		<div id="sideBox_0" class="sideBox"> <pw id="B13_頂部右側廣告@汽車" />
			<div class="hd mt10"> <pw id="B14_右上標題@汽車" /> </div>
			<div class="bd newCar"> <pw id="B15_右上列表@汽車" /> <pw id="B16_右上圖片@汽車" /> </div>
		</div>
		<div class="sideBox mt10">
			<div class="hd"><pw id="B17_右下標題@汽車" /> </div>
			<div class="bd"> <pw id="B18_右下排行@汽車" /> </div>
		</div>
	</div>
</div>
<pw id="B19中部banner@汽車" />
<div class="carBox panel mt10">
	<div class="hd">
		<h3><pw id="C1_標題@汽車" /></h3>
		<ul class="tabHolder" id="tabwrap1_B">
			<pw id="C2_tab@汽車" />
		</ul>
	</div>
	<div class="bd" id="tabwrap1_A">
	<pw id="C3A_tab內容1@汽車" /><pw id="C3B_tab內容2@汽車" /><pw id="C3C_tab內容3@汽車" /><pw id="C3D_tab內容4@汽車" /><pw id="C3E_tab內容5@汽車" /><pw id="C3F_tab內容6@汽車" /><pw id="C3G_tab內容7@汽車" /><pw id="C3H_tab內容8@汽車" /><pw id="C3I_tab內容9@汽車" />
	</div>
	<script>ddSliderPlayers('tabwrap1_A','tabwrap1_B',0,'current');</script>
</div>
<pw id="C4_banner@汽車" />
<div class="cc mt10">
	<div class="fl w705">
		<div class="carBox panel">
			<div class="hd">
				<h3><pw id="C5_標題@汽車" /></h3>
			</div>
			<div class="bd" style="padding-right:0; padding-bottom:5px;"> <pw id="C6_左側圖文@汽車" /> </div>
		</div>
	</div>
	<div class="fr w245">
		<div class="sideBox">
			<div class="hd"><pw id="C7_右側標題@汽車" /> </div>
			<div class="bd"> <pw id="C8_右側圖文@汽車" /> </div>
		</div>
	</div>
</div>
<pw id="C9_banner@汽車" />
<div class="panel2 mt10">
	<div class="hd">
		<h3><pw id="D1_標題@汽車" /></h3>
		<ul class="more">
			<pw id="D2_文字連接@汽車" />
		</ul>
	</div>
	<div class="bd cc">
		<div class="fl w415 mr20">
			<div class="subject cc"> <pw id="D3_左側圖文@汽車" /> </div>
			<div class="line" style="margin-top:10px;"></div>
			<pw id="D4_左側列表@汽車" /> </div>
		<div class="fl w265"> <pw id="D5_中間圖文@汽車" /> </div>
		<div class="fr w225">
			<div class="subject3">
				<h4><pw id="D6_右側標題@汽車" /></h4>
				<div class="topOne mb5"><pw id="D7_右側圖文@汽車" /> </div>
				<pw id="D8_右側列表@汽車" /> </div>
		</div>
	</div>
</div>
<div class="panel2 mt10">
	<div class="hd">
		<h3><pw id="E1_標題@汽車" /></h3>
		<ul class="more">
			<pw id="E2_文字連接@汽車" />
		</ul>
	</div>
	<div class="bd cc">
		<div id="pwSlidePlayer_1" class="pwSlide fl mr10"> <pw id="E3_播放器@汽車" /> </div>
		<div class="subject4">
			<div class="top1"> <pw id="E4_中間摘要@汽車" /> </div>
			<pw id="E5_中間列表@汽車" /> <pw id="E6_中間圖片@汽車" /> </div>
		<div class="fr w225">
			<div class="subject3">
				<h4><pw id="E7_右側標題@汽車" /></h4>
				<pw id="E8_右側圖文@汽車" /> <pw id="E9_右側列表@汽車" /> </div>
		</div>
	</div>
</div>
<div class="panel2 mt10">
	<div class="hd">
		<h3><pw id="F1_標題@汽車" /></h3>
		<ul class="more">
			<pw id="F2_文字鏈接@汽車" />
		</ul>
	</div>
	
	<div class="bd cc">
		<div class="wrap">
			<ol class="carSteps">
				<li class="item"><pw id="F3_圖文1@汽車" /> </li>
				<li class="item"> <pw id="F4_圖文2@汽車" /> </li>
				<li class="item"> <pw id="F5_圖文3@汽車" /> </li>
				<li class="item"> <pw id="F6_圖文4@汽車" /> </li>
			</ol>
		</div>
	</div>
</div>
<pw id="F7_banner@汽車" />
<div class="panel carBox mt10">
	<div class="hd">
		<h3><pw id="G1_標題@汽車" /></h3>
	</div>
	<div class="bd cc">
		<ul class="clubList">
			<pw id="G2_左側列表@汽車" />
		</ul>
		<div class="clubBox">
		<ul class="tabHolder" id="tabwrap2_B"><pw id="G3_右側TAB@汽車" /></ul>
		<div id="tabwrap2_A"><pw id="G4A_右側TAB內容1@汽車" /><pw id="G4B_右側TAB內容2@汽車" /></div>
		<script>ddSliderPlayers('tabwrap2_A','tabwrap2_B',0,'current');</script>
		</div>
	</div>
</div>

<!--#require modeEot('footer');#-->
<!--
EOT;
?>-->