<!--<?php
include_once PrintEot('left');print <<<EOT
-->
<div class="mb10"><a href="$admin_file?adminjob=hackcenter">插件中心</a>&raquo; <a href="javascript:;">{$db_hackdb[bank][0]}</a></div>
<!--
EOT;
if(empty($action)){print <<<EOT
-->
<div class="nav3 mb10">
      <ul class="cc">
      <li class="current"><a href="$basename">銀行設置</a></li>
      <li><a href="$basename&action=log">日誌管理</a></li>
    </ul>
</div>
<div class="admin_info mb10">
	<h3 class="h1">提示信息</h3>
    <div class="legend">銀行設置:可開啟關閉銀行功能，以及設置銀行基本參數</div>
</div>
<form action="$basename" method="post">
  <input type="hidden" name="action" value="unsubmit" />
  <h2 class="h1">銀行參數設置</h2>
  <div class="admin_table mb10">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tr1 vt">
      <td class="td1">銀行功能</td>
      <td class="td2">
      	<ul class="cc list_80 list_A">
            <li><input type="radio" value=1 $bk_open_1 name="config[open]" />開啟</li>
            <li><input type="radio" value="0" $bk_open_0 name="config[open]" />關閉</li>
          </ul>
		  <td class="td2"><div class="help_a">功能開啟後，請到「<a href="javascript:;" onclick="parent.PW.Dialog({id:'navside',url:'$admin_file?adminjob=customnav&admintype=navside&action=footlist&type=foot',name:'頂部底部導航'});">運營工具 ->導航菜單管理 –>頂部底部導航</a>」中設置此插件是否在前台顯示</div></td>
        </td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">轉帳功能</td>
      <td class="td2">
        <ul class="cc list_80 list_A">
            <li><input type="radio" value="1" $bk_virement_1 name="config[virement]" />開啟</li>
            <li><input type="radio" value="0" $bk_virement_0 name="config[virement]" />關閉</li>
          </ul>
        </td>
		<td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">銀行排行榜更新時間設置</td>
      <td class="td2"><input class="input input_wa" value="$bk_per" name="config[per]" /></td>
	  <td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">銀行排行榜顯示個數</td>
      <td class="td2"><input class="input input_wa" value="$bk_num" name="config[num]" /></td>
	  <td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">銀行轉帳手續費[%]</td>
      <td class="td2"><input class="input input_wa" value="$bk_virerate" name="config[virerate]" /></td>
	  <td class="td2"><div class="help_a"></div></td>
	      </tr>
    <tr class="tr1 vt">
      <td class="td1">銀行轉帳最低限制</td>
      <td class="td2"><input class="input input_wa" value="$bk_virelimit" name="config[virelimit]" /></td>
	  <td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">銀行交易時間間隔[秒]</td>
      <td class="td2"><input class="input input_wa" value="$bk_timelimit" name="config[timelimit]" /></td><td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">銀行活期存款利率[%]</td>
      <td class="td2"><input class="input input_wa" value="$bk_rate" name="config[rate]" /></td>
	  <td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">銀行定期存款利率[%]</td>
      <td class="td2"><input class="input input_wa" value="$bk_drate" name="config[drate]" /></td>
	  <td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">銀行定期存款期限[月]</td>
      <td class="td2"><input class="input input_wa" value="$bk_ddate" name="config[ddate]" /></td>
	  <td class="td2"><div class="help_a"></div></td>
    </tr>
  </table>
  </div>
  <div class="mb10 tac">
    <span class="btn"><span><button type="submit">提 交</button></span></span>
   </div>
</form>

<!--
EOT;
}elseif($action=='log'){print <<<EOT
-->
<div class="nav3 mb10">
  <ul class="cc">
      <li><a href="$basename">銀行設置</a></li>
      <li class="current"><a href="$basename&action=log">日誌管理</a></li>
    </ul>
</div>
<div class="admin_info mb10">
	<h3 class="h1">提示信息</h3>
    <div class="legend">銀行日誌：清晰地記錄用戶每一筆交易信息，方便查詢</div>
 </div>
<form action="$basename&action=log&" method="post">
  <h2 class="h1">搜索</h2>
  <div class="admin_table mb10">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tr1 vt">
      <td class="td2">用戶名:
        <input type="text" class="input input_wa" name="username1" value="$username1" /></td>
      <td class="td2">關鍵字:
        <input type="text" class="input input_wa" name="keyword" value="$keyword" /></td>
      <td class="td2"><select name="type"  class="select_wa">
          <option value="all">全部</option>
          <option value="bk_save" $select[bk_save]>{$lang[logtype][bk_save]}</option>
          <option value="bk_draw" $select[bk_draw]>{$lang[logtype][bk_draw]}</option>
          <option value="bk_vire" $select[bk_vire]>{$lang[logtype][bk_vire]}</option>
          <option value="bk_credit" $select[bk_credit]>{$lang[logtype][bk_credit]}</option>
        </select>
      </td>
      <td class="td2"><span class="bt2"><span><button type="submit" value="提 交">提 交</button></span></span></td>
    </tr>
</table>
</div> 
</form>
<div class="cc mb10">$pages</div>
<form action="$basename&" method="post">
  <input type="hidden" name="action" value="dellog" />
  <h2  class="h1">銀行操作日誌</h2>
  <div class="admin_table mb10">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tr2">
      <td>ID</td>
      <td>類型</td>
      <td>描述</td>
      <td>操作日期</td>
      <td>IP</td>
      <td>刪除</td>
    </tr>
<!--
EOT;
$num=($page-1)*$db_perpage;
foreach($logdb as $key => $value){
$num++;
print <<<EOT
-->
    <tr class="tr1 vt">
      <td class="td2">$num</td>
      <td class="td2">{$lang[logtype][$value[type]]}</td>
      <td class="td2">$value[descrip]</td>
      <td class="td2">$value[date]</td>
      <td class="td2">$value[ip]</td>
      <td class="td2"><input type="checkbox" name="selid[]" value="$value[id]" /></td>
    </tr>
<!--
EOT;
}print <<<EOT
-->
  </table>
  </div>
  <div class="mb10 tac">
    <span class="bt"><span><button type="button" name="chkall" onclick="CheckAll(this.form)">全 選</button></span></span>
    <span class="btn"><span><button type="submit"  name="hello">提 交</button></span></span>
   </div>
</form>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>-->
