<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc">
		<li><a href="$admin_file?adminjob=record&adminitem=adminlog">後台管理日誌</a></li>
		<li><a href="$admin_file?adminjob=record&adminitem=forumlog">前台管理日誌</a></li>
		<li class="current"><a href="$admin_file?adminjob=record&adminitem=adminrecord">後台操作記錄</a></li>
	</ul>
</div>
<div class="admin_info mb10">
  <h3 class="h1"><b>提示信息</b></h3>
  <div class="legend"><ol><li>為了保證後台的安全性,系統只允許站點創始人和管理員刪除管理記錄</li><li>系統必須保留前10000條後台管理記錄</li></ol></div>
</div>
<form action="$basename&" method=post>
  <input type=hidden name=action value=search>
  <h2 class="h1">搜索</h2>
  <div class="admin_table mb10">
    <table width=100% cellspacing="0" cellpadding="0">
      <tr class="tr1 vt">
        <td class="td1">關鍵字</td>
        <td class="td2"><input type="text" class="input" name="keyword">
          <span class="bt2"><span>
          <button type="submit" value='提 交'>提 交</button>
          </span></span> </td>
      </tr>
    </table>
  </div>
</form>
<h2 class="h1"><b>管理記錄</b></h2>
<div class="admin_table mb10">
  <table width="100%" cellspacing="0" cellpadding="0" style="word-break:break-all;">
    <tr class="tr2">
      <td class="td2">用戶名</td>
      <td class="td2">IP</td>
      <td class="td2">操作時間</td>
      <td class="td2">操作理由</td>
    </tr>
<!--
EOT;
if (empty($adlogfor)) {print <<<EOT
-->
<tr><td class="p10" colspan="4"><div class="admin_tips">啊哦，沒有你要的信息！</div></td></tr>
<!--
EOT;
}else{print <<<EOT
-->
    $adlogfor
<!--
EOT;
}print <<<EOT
-->
  </table>
</div>
<div class="cc mb10">$pages</div>
<!--
EOT;
if($admin_gid==3){
$j_url=EncodeUrl("$basename&type=del");
print <<<EOT
-->
<div class="mb10 tac"> <span class="btn"><span>
  <button type="submit" onclick="return delAdminRecord();" >刪除多餘管理記錄</button>
  </span></span> </div>
<script type="text/javascript">
var j_url = '$j_url';
function delAdminRecord(){
	if(!confirm("是否要刪除多餘管理記錄？"))
		return false;
	location.href=j_url;
}
</script>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>-->
