<!--<?php
include_once PrintEot('left');
if (!$job) {print <<<EOT
-->
<div id="notice"></div>
<!--
EOT;
if($warnid>0){print <<<EOT
-->
<div class="admin_info mb10">
	<h3 class="h1">安全提示</h3>
	<div class="legend">
		<div class="fr" style="padding:1em;"><img src="$imgpath/admin/warnning.png" /></div>
		<ol>
<!--
EOT;
if($warnid & 1){print <<<EOT
-->
			<li>強烈建議您將 data/sql_config.php 文件屬性設置為644（linux/unix）或只讀（NT） </li>
<!--
EOT;
}if($warnid & 2){print <<<EOT
-->
			<li>強烈建議您使用 data目錄隱藏功能，此功能可大大提高網站安全性，設置方法請參照相關幫助文檔或聯繫官方尋求幫助 </li>
<!--
EOT;
}if($warnid & 4){print <<<EOT
-->
			<li>強烈建議您將PHP配置文件（php.ini）中的 register_globals 設置為Off，可大大提高網站安全性</li>
<!--
EOT;
}if($warnid & 8){print <<<EOT
-->
			<li>強烈建議您將 admin.php 文件重新命名，您可以通過「全局-安全優化-安全控制」將 admin.php 重新命名，如:abc.php，然後使用 abc.php 登錄後台管理 </li>
<!--
EOT;
}if($warnid & 16){print <<<EOT
-->
			<li>強烈建議您開啟 安全問題功能（「全局-安全優化-安全控制」），並在 強制使用安全問題用戶組設置 中選擇管理員、總版主、版主等具有較高管理權限的用戶組 </li>
<!--
EOT;
}if($warnid & 32){print <<<EOT
-->
			<li>強烈建議您使用 數據庫分卷（<a href="$admin_file?adminjob=ptable">工具->數據庫分卷</a>） 功能，您的數據庫大小已經超過500M</li>
<!--
EOT;
}elseif($warnid & 64){print <<<EOT
-->
			<li>建議您使用 數據庫分卷 功能，您的數據庫大小已經超過300M</li>
<!--
EOT;
}print <<<EOT
-->
		</ol>
	</div>
</div>
<!--
EOT;
}print <<<EOT
-->
<h2>快捷鏈接</h2>
<div class="mainnav">
      <ul>
        <li><a href="index.php" target="_blank"><img src="$imgpath/admin/main/home.gif" alt="站點首頁" />站點首頁</a></li>
        <li><a onclick="openNewUrl('checkreg','審核註冊','$admin_file?adminjob=usercheck&admintype=checkreg')" style="cursor:pointer"><img src="$imgpath/admin/main/user.png" alt="審核註冊" />審核註冊</a></li>
        <li><a onclick="openNewUrl('checkemail','審核電子郵件','$admin_file?adminjob=usercheck&admintype=checkemail')" style="cursor:pointer"><img src="$imgpath/admin/main/mail.png" alt="審核電子郵件" />審核電子郵件</a></li>
        <li><a onclick="openNewUrl('tpccheck','帖子審核','$admin_file?adminjob=tpccheck')" style="cursor:pointer"><img src="$imgpath/admin/main/tpc.png" alt="審核主題" />審核主題</a></li>
        <li><a onclick="openNewUrl('tpccheck','帖子審核','$admin_file?adminjob=tpccheck&action=postcheck')" style="cursor:pointer"><img src="$imgpath/admin/main/post.png" alt="審核回復" />審核回復</a></li>
        <li><a onclick="openNewUrl('share','審核鏈接','$admin_file?adminjob=share&state=0')" style="cursor:pointer"><img src="$imgpath/admin/main/share.png" alt="審核鏈接" />審核鏈接</a></li>
        <li><a onclick="openNewUrl('reportcontent','帖子報告','$admin_file?adminjob=report&admintype=reportcontent')" style="cursor:pointer"><img src="$imgpath/admin/main/report.png" alt="帖子報告" />帖子報告</a></li>
      </ul>
</div>
<div class="c"></div>
<div class="t">
<h2>便捷操作</h2>
<table width="100%">
<tr class="tr3"><td width="50%">
	<div style="margin:.5em 2em">
						<form action="$admin_file?adminjob=setuser&action=search" method="post">
						<input type="hidden" name="schname_s" value='1'>
						<input id="schname" class="input" name="schname" value="請輸入用戶名" onclick="this.value=''" type="text" style="width:170px;margin-bottom:.5em;height:16px;" />
						<input type="submit" class="btn" value="編輯用戶" style="margin:0 0 .5em .8em;"/>
						</form>
					</div>
</td>
<td>
<span style="margin-top:.5em">
						<form action="$admin_file?adminjob=setforum&" method="POST">
						<input type=hidden name="action" value="addforum">
						<input type="hidden" name="step" value="2" />
						<input type="hidden" name="addtype" value="1" />
						<select name="fup" style="width:170px;">
							<option>請選擇上級版塊</option>$forumcache
						</select> <input class="input" name="name[]" type="text" style="width:100px;margin:0 0 .5em .8em;height:16px;" />
						<input type="submit" class="btn" value="添加版塊" style="margin:.1em 0 .5em .5em;"/>
						</form>
					</span>
</td></tr>
<tr class="tr3">
<td width="400px">
<div style="margin:.5em 2em 0">
						<select id="selectlv" name="" style="width:172px;">
							<option>請選擇要編輯的用戶組</option>$sltlv
						</select>
						<input type="button" class="btn" value="編輯用戶組" style="margin:0 0 .5em .8em;" onclick="WhereToJump('level','編輯用戶組','selectlv','adminjob=level&action=editgroup&gid=');" />
					</div>
</td>

<td>
	<select id="selforum" name="" style="width:170px;">
							<option>請選擇要編輯的版塊</option>$forumcache
						</select>
						<input type="button" class="btn" value="編輯版塊" style="margin:0 0 .5em .8em;" onclick="WhereToJump('setforum','編輯版塊','selforum','adminjob=setforum&action=edit&fid=');" />
</td>

</tr>
</table>
</div>
<!--
EOT;
if ($db_adminrecord == 1){print <<<EOT
-->
<div class="t">
<h2>最新管理操作記錄</h2>
<table width="100%">
<tr class="tr3 tac s3">
	<td width="10%">用戶名</td>
	<td width="10%">IP</td>
	<td width="15%">操作時間</td>
	<td width="30%">操作理由</td>
</tr>
$adlogfor
</table>
</div>
<!--
EOT;
}print <<<EOT
-->
<div class="fl" style="width:50%;height:300px;">
<h2>便箋</h2>
<form action="$admin_file?adminjob=updatememo" method="post">
<input type="hidden" name="mid" value="$mid" />
<div style="padding:1em;">
<textarea name="content" style="width:98%;height:200px;overflow:auto">$content</textarea>
</div>
<center><input class="btn" type="submit" value="保 存" /></center>
	  </form>
</div>
<div style="margin-left:50%;">
<h3>當前系統信息</h3>
<ul class="list">
<li>PHP程式版本:$sysversion</li>
<li>MYSQL 版本:$dbversion</li>
<li>服務器端信息:$sysos</li>
<li>最大上傳限制:$max_upload</li>
<li>最大執行時間:$max_ex_time</li>
<li>郵件支持模式:$sys_mail</li>
<li>Cookie 測試:$ifcookie</li>
<li>服務器所在時間:$systemtime</li>
<li>站點顯示時間:$altertime</li>
<li>站點數據庫佔用:$pw_size M</li>
<li>非站點數據庫佔用:$o_size M</li>
</ul>
</div>
<div class="c"></div>
<h3>商業用戶授權查證</h3>
<div style="line-height:22px;padding:1em;">
<span class="fr"><a href="http://www.phpwind.com/certificate.php" target="_blank" title="商業授權查詢網站地址"><img src="$imgpath/admin/commerce-check.png" /></a></span>如果您已經購買了phpwind 商業用戶授權，您可以在phpwind 商業授權查詢網站找到您的網站的相關商業授權信息；<br />如果您沒有找到您的網站的商業授權信息或者您的網站的商業授權信息與您購買的商業授權類型不符，說明您購買的可能非法的商業授權，請及時與我們取得聯繫!<br />我們的聯繫方式: <span class="xia">QQ:80132916，178199933</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="xia">MSN:phpwind@qq.com</span>
&nbsp;&nbsp;&nbsp;<span class="xia">TEL:0571-81607190-8800</span>
</div>
<h3>phpwind 開發團隊</h3>
<div class="taba">
<table width="100%" cellspacing="0" cellpadding="0" style="line-height:18px;">
<tr class="tr3"><td width="120" class="tar">主程序開發&nbsp;:&nbsp;</td><td id="cxkf">Noizy、少主、八十後、Sky_hold、ＰＷ頑主、pw_sqj、檻外人、netServer、爬爬</td></tr>
<tr class="tr3"><td width="120" class="tar">界面及交互設計&nbsp;:&nbsp;</td><td id="jmjh">Heiyo、lwid、papaya、smilee、joey、鐵皮、sarabath</td></tr>
<tr class="tr3"><td width="120" class="tar">官方論壇協助&nbsp;:&nbsp</td><td id="gfxz">Joey、骨頭、桃子、lyn</td></tr>
</table>
</div>
<div id="system"></div>
<script type="text/javascript">
function WhereToJump(id,name,v,url){
	if (document.getElementById(v).value) {
		openNewUrl(id,name,'$admin_file?' + url + document.getElementById(v).value);
	}
	return false;
}
</script>
<!--
EOT;
} elseif ($job == 'desktop'){print <<<EOT
-->
<div id="notice"></div>
<!--
EOT;
if($warnid>0){print <<<EOT
-->
<style type="text/css">
.admin_table .td1,.admin_table .td2{padding:4px 5px 4px 15px;line-height:22px;}
</style>
<div class="admin_info mb10">
	<h4 class="h1">安全提示</h4>
	<div class="legend">
<ol>
<!--
EOT;
if($warnid & 1){print <<<EOT
-->
	<li>強烈建議您將 data/sql_config.php 文件屬性設置為644（linux/unix）或只讀（NT） </li>
<!--
EOT;
}if($warnid & 2){print <<<EOT
-->
	<li>強烈建議您使用 data目錄隱藏功能，此功能可大大提高網站安全性，設置方法請參照相關幫助文檔或聯繫官方尋求幫助 </li>
<!--
EOT;
}if($warnid & 4){print <<<EOT
-->
	<li>強烈建議您將PHP配置文件（php.ini）中的 register_globals 設置為Off，可大大提高網站安全性</li>
<!--
EOT;
}if($warnid & 8){print <<<EOT
-->
	<li>強烈建議您將 admin.php 文件重新命名，您可以通過「全局-安全優化-安全控制」將 admin.php 重新命名，如:abc.php，然後使用 abc.php 登錄後台管理 </li>
<!--
EOT;
}if($warnid & 16){print <<<EOT
-->
	<li>強烈建議您開啟 安全問題功能（「全局-安全優化-安全控制」），並在 強制使用安全問題用戶組設置 中選擇管理員、總版主、版主等具有較高管理權限的用戶組 </li>
<!--
EOT;
}if($warnid & 32){print <<<EOT
-->
	<li>強烈建議您使用 數據庫分卷（<a href="$admin_file?adminjob=ptable">工具->數據庫分卷</a>） 功能，您的數據庫大小已經超過500M</li>
<!--
EOT;
}elseif($warnid & 64){print <<<EOT
-->
	<li>建議您使用 數據庫分卷 功能，您的數據庫大小已經超過300M</li>
<!--
EOT;
}print <<<EOT
-->
</ol>
	</div>
</div>
<!--
EOT;
}print <<<EOT
-->
<div class="cc">
	<div>
	<h4 class="h1">您的資料</h4>
    <div class="admin_table mb10">
        <table width="100%">
            <tr class="tr1 vt">
                <td class="td1">用戶名</td>
                <td class="td2">$admin_name</td>
            </tr>
            <tr class="tr1 vt">
                <td class="td1">級別</td>
                <td class="td2">$admin_level</td>
            </tr>
            <tr class="tr1 vt">
                <td class="td1">上次登錄時間</td>
                <td class="td2">{$lastinfo[1]['time']}</td>
            </tr>
            <tr class="tr1 vt">
                <td class="td1">上次登錄IP</td>
                <td class="td2">{$lastinfo[1]['ip']}</td>
            </tr>
        </table>
    </div>
    </div>
<!--
EOT;
if($admin_gid == '3'){print <<<EOT
-->
    <div class="fl" style="width:50%; clear:left;">
	<h4 class="h1">站點管理</h4>
    <div class="admin_table mb10">
        <table width="100%">
            <tr class="tr1 vt">
                <td class="td1">主題</td>
                <td class="td2">待審核主題數 {$sysinfo['tcheck']} <a href="javascript:;" onclick="openNewUrl('tpccheck','帖子審核','$admin_file?adminjob=tpccheck');">審核</a></td>
            </tr>
            <tr class="tr1 vt">
                <td class="td1">回復</td>
                <td class="td2">待審核回複數 {$sysinfo['pcheck']} <a href="javascript:;" onclick="openNewUrl('tpccheck','帖子審核','$admin_file?adminjob=tpccheck&action=postcheck');">審核</a></td>
            </tr>
            <tr class="tr1 vt">
                <td class="td1">敏感詞</td>
                <td class="td2">待審核敏感詞數 {$sysinfo['bwd']} <a href="javascript:;" onclick="openNewUrl('setbwd','敏感詞審核','$admin_file?adminjob=setbwd&action=check');">審核</a></td>
            </tr>
            <tr class="tr1 vt">
                <td class="td1">會員</td>
                <td class="td2">未驗證會員數 {$sysinfo['M7']} <a href="javascript:;" onclick="openNewUrl('usercheck','用戶審核','$admin_file?adminjob=usercheck');">審核</a></td>
            </tr>
            <tr class="tr1 vt">
                <td class="td1">鏈接</td>
                <td class="td2">待審核友情鏈接數 {$sysinfo['sharelinks']} <a href="javascript:;" onclick="openNewUrl('share','友情鏈接','$admin_file?adminjob=share');">審核</a></td>
            </tr>
            <tr class="tr1 vt">
                <td class="td1">舉報</td>
                <td class="td2">未處理帖子舉報數 {$sysinfo['report']} <a href="javascript:;" onclick="openNewUrl('reportcontent','舉報管理','$admin_file?adminjob=report&admintype=reportcontent');">處理</a></td>
            </tr>
            <tr class="tr1 vt">
                <td class="td1">論壇緩存</td>
                <td class="td2">
                	<span class="bt2"><span><button type="button" onclick="openNewUrl('aboutcache','論壇緩存更新','$admin_file?adminjob=aboutcache&adminitem=updatecache&action=cache');">更 新</button></span></span>
                </td>
            </tr>
            <tr class="tr1 vt">
                <td class="td1">站點公告</td>
                <td class="td2">
                	<span class="bt2"><span><button type="button" onclick="openNewUrl('announcement','公告管理','$admin_file?adminjob=announcement');">管 理</button></span></span>
                </td>
            </tr>
            <tr class="tr1 vt">
                <td class="td1">版塊設置</td>
                <td class="td2">
                    <select id="selforum" name="" class="select_wa">
                        <option>請選擇版塊</option>$forumcache
                    </select>
                    <span class="bt2"><span><button type="button" onclick="WhereToJump('setforum','版塊設置','selforum','adminjob=setforum&action=edit&fid=');">編 輯</button></span></span>
                </td>
            </tr>
            <tr class="tr1 vt">
                <td class="td1">編輯會員組</td>
                <td class="td2">
                    <select id="selectlv" name="" class="select_wa">
                        <option>請選擇會員組</option>$sltlv
                    </select>
                    <span class="bt2"><span><button type="button" onclick="WhereToJump('level','編輯會員組權限','selectlv','adminjob=level&action=editgroup&gid=');">編 輯</button></span></span>
                </td>
            </tr>
            <tr class="tr1 vt">
                <td class="td1">編輯用戶</td>
                <td class="td2">                    
                     <input id="schname" class="input input_wa" name="schname" value="請輸入用戶名" onclick="this.value=''" type="text" />
                    <span class="bt2"><span><button type="button" onclick="WhereToJump('usermanage','編輯用戶','schname','adminjob=usermanage&adminitem=edit&action=search&schname_s=1&schname=');">編 輯</button></span></span>
                    
                </td>
            </tr>
        </table>
    </div>
    </div>
	<div class="fr" style="width:48.5%;margin-left:1.5%; clear:right;">
	<h4 class="h1">站點信息</h4>
    <div class="admin_table mb10">
        <table width="100%">
            <tr class="tr1 vt">
                <td class="td1">版塊分類</td>
                <td class="td2">{$sysinfo['category']} 個&nbsp;<a href="javascript:;" onclick="openNewUrl('setforum','管理版塊','$admin_file?adminjob=setforum');">查看</a></td>
            </tr>
            <tr class="tr1 vt">
                <td class="td1">論壇版塊</td>
                <td class="td2">{$sysinfo['forumnum']} 個&nbsp;<a href="javascript:;" onclick="openNewUrl('setforum','管理版塊','$admin_file?adminjob=setforum');">查看</a></td>
            </tr>
            <tr class="tr1 vt">
                <td class="td1">管理員</td>
                <td class="td2">{$sysinfo['M3']} 人&nbsp;<a href="javascript:;" onclick="openNewUrl('userstats','成員統計','$admin_file?adminjob=userstats');">查看</a></td>
            </tr>
            <tr class="tr1 vt">
                <td class="td1">總版主</td>
                <td class="td2">{$sysinfo['M4']} 人&nbsp;<a href="javascript:;" onclick="openNewUrl('userstats','成員統計','$admin_file?adminjob=userstats');">查看</a></td>
            </tr>
            <tr class="tr1 vt">
                <td class="td1">版主</td>
                <td class="td2">{$sysinfo['M5']} 人&nbsp;<a href="javascript:;" onclick="openNewUrl('userstats','成員統計','$admin_file?adminjob=userstats');">查看</a></td>
            </tr>
            <tr class="tr1 vt">
                <td class="td1">數據庫</td>
                <td class="td2">{$sysinfo['pw_size']} 兆</td>
            </tr>
        </table>
    </div>
    </div>
<!--
EOT;
}elseif($admin_gid == '4' || $admin_gid == '5'){print <<<EOT
-->
    <div>
	<h4 class="h1">站點管理</h4>
    <div class="admin_table mb10">
        <table width="100%">
            <tr class="tr1 vt">
                <td class="td1">主題</td>
                <td class="td2">待審核主題數 {$sysinfo['tcheck']} <a href="javascript:;" onclick="openNewUrl('tpccheck','帖子審核','$admin_file?adminjob=tpccheck');">審核</a></td>
            </tr>
            <tr class="tr1 vt">
                <td class="td1">回復</td>
                <td class="td2">待審核回複數 {$sysinfo['pcheck']} <a href="javascript:;" onclick="openNewUrl('tpccheck','帖子審核','$admin_file?adminjob=tpccheck&action=postcheck');">審核</a></td>
            </tr>
            <tr class="tr1 vt">
                <td class="td1">舉報</td>
                <td class="td2">未處理帖子舉報數 {$sysinfo['report']} <a href="javascript:;" onclick="openNewUrl('reportcontent','舉報管理','$admin_file?adminjob=report&admintype=reportcontent');">處理</a></td>
            </tr>
            <tr class="tr1 vt">
                <td class="td1">版塊設置</td>
                <td class="td2">
                    <select id="selforum" name="" class="select_wa">
                        <option>請選擇版塊</option>$forumcache
                    </select>
                    <span class="bt2"><span><button type="button" onclick="WhereToJump('setforum','版塊設置','selforum','adminjob=setforum&action=edit&fid=');">編 輯</button></span></span>
                </td>
            </tr>
            <tr class="tr1 vt">
                <td class="td1">禁止一個IP/IP段</td>
                <td class="td2">
                    <input type="text" id="setips" class="input input_wa" />
                    <span class="bt2"><span><button type="button" onclick="WhereToJump('ipban','禁止IP','setips','adminjob=ipban&action=addone&baninfo=');">提 交</button></span></span>
                </td>
            </tr>
            <tr class="tr1 vt">
                <td class="td1">詞語過濾</td>
                <td class="td2">
                    <span class="bt2"><span><button type="button" onclick="openNewUrl('setbwd','詞語過濾','$admin_file?adminjob=setbwd');">管 理</button></span></span>
                </td>
            </tr>
            <tr class="tr1 vt">
                <td class="td1">會員管理</td>
                <td class="td2">
                    <span class="bt2"><span><button type="button" onclick="openNewUrl('usermanage','會員管理','$admin_file?adminjob=usermanage');">管 理</button></span></span>
                </td>
            </tr>
		</table>
    </div>
    </div>
<!--
EOT;
}print <<<EOT
-->
</div>
<!--
EOT;
if ($db_adminrecord == 1){print <<<EOT
-->
<h2 class="h1">最新管理操作記錄</h2>
<div class="admin_table mb10">
    <table width="100%">
    <tr class="tr2">
        <td width="10%">用戶名</td>
        <td width="10%">IP</td>
        <td width="15%">操作時間</td>
        <td width="30%">操作理由</td>
    </tr>
    $adlogfor
    </table>
</div>
<!--
EOT;
}print <<<EOT
-->
<script type="text/javascript">
function WhereToJump(id,name,v,url){
	if (document.getElementById(v).value) {
		openNewUrl(id,name,'$admin_file?' + url + document.getElementById(v).value);
	}
	return false;
}
</script>
<div id="system" style="display:none;"></div>
<!--
EOT;
} elseif ($job == 'notice'){print <<<EOT
-->
<h2 class="h1">關於phpwind</h2>
<div class="legend">
	<ul>
		<li>phpwind 的使命是讓網站更具價值，讓更多人從網絡社區中享受便利，以提升生活品質</li>
		<li>phpwind專注於社區價值的發掘和應用的整合，隨著互聯網的發展，社區的形式將更為豐富，將融合論壇、信息門戶、社交網站等更多形式，我們會把這些應用整合到社區當中，並創造最優化的用戶體驗</li>
		<li>phpwind認為社區的價值無限，人們可以在網絡社區完成獲取信息、交流、娛樂、購物等生活需求，社區可提供豐富的應用，滿足人們在網絡社區的歸屬感，使得網絡社區成為人們的網上家園</li>
		<li>我們的近期目標是強化社區的媒體價值，並以此為基礎，拓展社區娛樂和電子商務應用。在未來，我們認為社區有無限成長的可能</li>
        <li>phpwind社區世界邀請你加入，無論你是社區網站、普通的網絡用戶，還是有志於拓展社區應用的技術、營銷人才，都將會在這裡發現並創造更多的精彩</li>
</div>
<h3 class="h1">商業用戶授權查證</h3>
<div class="legend">
<span class="fr"><a href="http://www.phpwind.com/certificate.php" target="_blank" title="商業授權查詢網站地址"><img src="$imgpath/admin/commerce-check.png" /></a></span>如果您已經購買了phpwind 商業用戶授權，您可以在phpwind 商業授權查詢網站找到您的網站的相關商業授權信息；<br />如果您沒有找到您的網站的商業授權信息或者您的網站的商業授權信息與您購買的商業授權類型不符，說明您購買的可能非法的商業授權，請及時與我們取得聯繫!<br />我們的聯繫方式: <span class="xia">QQ:80132916，178199933</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="xia">MSN:phpwind@qq.com</span>
&nbsp;&nbsp;&nbsp;<span class="xia">TEL:0571-81607190-8800</span>
</div>
<h3 class="h1">當前系統信息</h3>
<div class="legend">
    <ul>
        <li>社區軟件版本：phpwind {$wind_version} ($db_charset) </li>
		<li>版本編號：{$wind_repair}</li>
        <li>PHP程式版本:$sysversion</li>
        <li>MYSQL 版本:$dbversion</li>
        <li>服務器端信息:$sysos</li>
        <li>最大上傳限制:$max_upload</li>
        <li>最大執行時間:$max_ex_time</li>
        <li>郵件支持模式:$sys_mail</li>
        <li>Cookie 測試:$ifcookie</li>
        <li>服務器所在時間:$systemtime</li>
        <li>站點顯示時間:$altertime</li>
        <li>站點數據庫佔用:$pw_size M</li>
        <li>非站點數據庫佔用:$o_size M</li>
    </ul>
</div>
<h3 class="h1">phpwind 開發團隊</h3>
<div class="admin_table">
<table width="100%" cellspacing="0" cellpadding="0">
<tr class="tr1 vt"><td class="td1">主程序開發</td><td class="td2" id="cxkf">Noizy、少主、八十後、Sky_hold、ＰＷ頑主、pw_sqj、檻外人、netServer、爬爬</td></tr>
<tr class="tr1 vt"><td class="td1">界面及交互設計</td><td class="td2" id="jmjh">Heiyo、lwid、papaya、smilee、joey、鐵皮、sarabath</td></tr>
<tr class="tr1 vt"><td class="td1">官方論壇協助</td><td class="td2" id="gfxz">Joey、骨頭、桃子、lyn</td></tr>
</table>
</div>
<div id="system"></div>
<!--
EOT;
} elseif ($job == 'shortcut'){print <<<EOT
-->
<h2 class="h1">後台菜單地圖列表</h2>
<div class="admin_table">
<table width="100%" cellspacing="0" cellpadding="0">
<!--
EOT;
foreach ($nav_left as $title => $left) {
	if (count($left['items']) == 0) continue;print <<<EOT
-->
	<tr class="tr1 vt"><td class="td1">{$left['name']}</td><td class="td2"><ul class="list_A list_120 cc" style="width:100%;">
<!--
EOT;
	foreach ($left['items'] as $key => $value) {print <<<EOT
-->
		<li><a href="{$purview[$key][1]}" onclick="parent.PW.Dialog({id:'$key',url:'{$purview[$key][1]}',name:'$value'});return false;">$value</a></li>
<!--
EOT;
}print <<<EOT
-->
	</ul></td></tr>
<!--
EOT;
}print <<<EOT
-->
</table>
</div>
<!--
EOT;
}
include_once PrintEot('adminbottom');
?>-->