<!--<?php
include_once PrintEot('left');
if($msg){print <<<EOT
-->
<div class="admin_tips">$msg</div><br />
<!--
EOT;
}if($admintype=='appset'){

	if ($adminitem == 'link'){
	print <<<EOT
	-->
	<div class="nav3 mb10">
		<ul class="cc" id="basictype">
			<li><a href="$basename&admintype=appset" hidefocus="true">應用首頁</a></li>
			<li class="current"><a href="$basename&admintype=appset&adminitem=link" hidefocus="true">重新登錄</a></li>
		</ul>
	</div>
	
	<h3 class="h1">關聯帳號</h3>
	
	<form action="$basename&admintype=$admintype&adminitem=link" method="post">
	<input type="hidden" name="step" value="2">
	<div class="admin_table mb10">
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr class="tr1">
				<td class="td1">用戶名 <span class="s1">*</span></td>
				<td class="td2"><input type="text" class="input input_wa" name="username" /></td>
			</tr>
			<tr class="tr1">
				<td class="td1">密碼 <span class="s1">*</span></td>
				<td class="td2"><input type="password" class="input input_wa" name="password" /></td>
			</tr>
		</table>
	</div>
	<div class="mb10 tac">
		<span class="btn"><span><button type="submit">提 交</button></span></span>
	</div>
	</form>
	<!--
EOT;
	} elseif ($adminitem == 'register'){ 
	print <<<EOT
	-->
	<div class="nav3 mb10">
		<ul class="cc" id="basictype">
			<li><a href="$basename&admintype=appset&adminitem=link" hidefocus="true">應用首頁</a></li>
			<li class="current"><a href="$basename&admintype=appset&adminitem=register" hidefocus="true">在線註冊</a></li>
		</ul>
	</div>
	
	<h3 class="h1">在線應用中心註冊</h3>
	
	<form action="$basename&admintype=appset&adminitem=register" method="post">
	<input type="hidden" name="step" value="2">
	<div class="admin_table mb10">
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr class="tr1">
				<td class="td1">用戶名 <span class="s1">*</span></td>
				<td class="td2"><input type="text" class="input input_wa" name="username" /> <span class="gray">用於登錄，註冊後不可修改</span></td>
			</tr>
			<tr class="tr1">
				<td class="td1">郵箱地址 <span class="s1">*</span></td>
				<td class="td2"><input type="text" class="input input_wa" name="email" /> <span class="gray">請正確填寫常用郵箱，註冊後不可修改</span></td>
			</tr>
			<tr class="tr1">
				<td class="td1">密碼 <span class="s1">*</span></td>
				<td class="td2"><input type="password" class="input input_wa" name="password" /></td>
			</tr>
			<tr class="tr1">
				<td class="td1">確認密碼 <span class="s1">*</span></td>
				<td class="td2"><input type="password" class="input input_wa" name="repassword" /></td>
			</tr>
		</table>
	</div>
	<div class="mb10 tac">
		<span class="btn"><span><button type="submit">提 交</button></span></span>
	</div>
	</form>
	<!--
EOT;
	}
	else {
		
		print <<<EOT
		-->
		<script type="text/javascript" src="{$db_server_url}/statics/common/js/global.js"></script>
		<script type="text/javascript">
		var server = new PwJs.Server("pwapp");
		server.start();
		</script>
		<!--
EOT;
		if(!$isRegister){
		print <<<EOT
		-->
		<div class="nav3 mb10">
			<ul class="cc" id="basictype">
				<li class="current"><a hidefocus="true" href="$basename&admintype=appset">應用首頁</a></li>
			</ul>
		</div>
		
		<h3 class="h1">在線應用中心狀態</h3>
		<div class="p10 mb15">
			<p class="mb10">您好，您的在線應用中心還未註冊，請先</p>
		      <p><span class="btn2"><span><button name="siteinfo" type="button" onclick="location.href='$basename&admintype=appset&adminitem=register';">註冊</button></span></span><span class="bt2"><span><button name="login" type="button" onclick="location.href='$basename&admintype=appset&adminitem=link';">老帳號登錄</button></span></span></p>
		</div>
		
		<iframe id="pwapp" name="pwapp" frameborder="0" width="100%" height="600" scrolling="no" src="{$onlineAppListUrl}"></iframe>
		
		<!--
EOT;
		}else{
		print <<<EOT
		-->
		<iframe id="pwapp" name="pwapp" frameborder="0" width="100%" height="700" scrolling="no" src="{$loginUrl}"></iframe>
		<!--
EOT;
		}
	}
}elseif($admintype=='onlineapp'){
if (empty($db_appifopen)) {print <<<EOT
-->
<form action="{$basename}&admintype=onlineapp" method="post">
<input type="hidden" name="adminitem" value="open" />
<div class="admin_info mb10">
	<h2 class="h1">會員應用</h2>
    <div class="legend">
會員應用包括多個遊戲、便民、交互模塊，可以幫助您提高站點的娛樂交互性，從而提高站點用戶粘性。這些模塊由第三方app提供商和phpwind共同開發，按照phpwind論壇標準與用戶習慣接入，從而確保每一個pw論壇的無縫體驗。部分模塊的部分功能可能需要論壇用戶充值方可使用；作為應用的載體，當用戶在您的站點產生消費時，您也將獲得一定分成。 <a href="  http://faq.phpwind.net/topic-58" target=blank>瞭解更多</a>
    </div>
</div>
<div class="p10">
    <span class="bt2"><span><button type="submit" onfocus="blur();">開啟應用</button></span></span>
</div>
</form>
<!--
EOT;
} else {print <<<EOT
-->
<div class="admin_info mb10">
	<h2 class="h1">會員應用</h2>
    <div class="legend">
    	<ol>
        	<li>當站點應用使用異常時，你可以使用數據更新操作將站點信息更新到app應用平台。</li>
            <li>關閉應用之後，所有用戶應用都將無法使用。</li>
        </ol>
    </div>
</div>
<div class="mb10">
    <form action="{$basename}&admintype=onlineapp" method="post">
    <input type="hidden" name="adminitem" value="open" />
	<input type="hidden" name="updatelist" value="1" />
    <span class="bt2"><span><button type="submit" onfocus="blur();">數據更新</button></span></span>
    </form>
    <form id="close" action="{$basename}&admintype=onlineapp" method="post">
    <input type="hidden" name="adminitem" value="close" />
    <span class="bt2"><span><button type="button" onClick="appcheck();">關閉應用</button></span></span>
    </form>
<script type="text/javascript">
function appcheck(){
	var obj = document.getElementById('close');
	if(confirm('將關閉整站所有APP應用，「應用中心 > 在線應用」的「隨拍隨發」應用也將自動關閉，確認操作？')) {
		obj.submit();
	}
}
</script>
</div>
<h2 class="h1">應用列表</h2>
<script type="text/javascript" src="{$db_server_url}/js/global.js"></script>
<script type="text/javascript">
var server = new PwJs.Server("pwapp");
server.start();
</script>
<iframe id="pwapp" name="pwapp" frameborder="0" width="100%" height="400" scrolling="no" src="{$appurl}"></iframe>
<!--
EOT;
}}elseif($admintype=='blooming'){
print <<<EOT
-->
<script type="text/javascript" src="http://app.phpwind.net/static/js/client.js"></script>
<script type="text/javascript">
var server = new PwJs.Server("pwapp");
server.start();
</script>
<iframe id="pwapp" name="pwapp" frameborder="0" width="100%" height="600" scrolling="no" src="{$appurl}"></iframe>
<!--
EOT;
}elseif($admintype=='taolianjie'){
print <<<EOT
-->
<script type="text/javascript" src="http://app.phpwind.net/static/js/client.js"></script>
<script type="text/javascript">
var server = new PwJs.Server("pwapp");
server.start();
</script>
<iframe id="pwapp" name="pwapp" frameborder="0" width="100%" height="600" scrolling="no" src="{$appurl}"></iframe>
<!--
EOT;
}elseif($admintype=='i9p'){
if (empty($db_appifopen)) {print <<<EOT
-->
<form action="{$basename}" method="post">
<input type="hidden" name="admintype" value="$admintype" />
<input type="hidden" name="step" value="2" />
<div class="admin_info mb10">
	<h2 class="h1">功能說明</h2>
    <div class="legend">
    	開啟「隨拍隨發」應用必須先開啟「會員應用」，「會員應用」可選擇單獨在論壇模式或個人中心下展示。是否現在為您開啟「會員應用」 和「隨拍隨發」？ 會員應用包括多個遊戲、便民、交互模塊，可以幫助您提高站點的娛樂交互性，從而提高站點用戶粘性。這些模塊由第三方app提供商和phpwind共同開發，按照phpwind論壇標準與用戶習慣接入，從而確保每一個pw論壇的無縫體驗。部分模塊的部分功能可能需要論壇用戶充值方可使用；作為應用的載體，當用戶在您的站點產生消費時，您也將獲得一定分成。 <a href="  http://faq.phpwind.net/topic-58" target=blank>瞭解更多</a> 
    </div>
</div>
<h2 class="h1">隨拍隨發</h2>
<div class="p10 mb10">
    <span class="bt2"><span><button type="submit">開啟應用</button></span></span>
</div>
</form>
<!--
EOT;
} else {print <<<EOT
-->
<script type="text/javascript" src="http://app.phpwind.net/static/js/client.js"></script>
<script type="text/javascript">
var server = new PwJs.Server("pwapp");
server.start();
</script>
<iframe id="pwapp" name="pwapp" frameborder="0" width="100%" height="600" scrolling="no" src="{$appurl}"></iframe>
<!--
EOT;
}
}elseif($admintype=='platformweiboapp'){
print <<<EOT
-->
<script type="text/javascript" src="http://app.phpwind.net/static/js/client.js"></script>
<script type="text/javascript">
var server = new PwJs.Server("pwapp");
server.start();
</script>
<iframe id="pwapp" name="pwapp" frameborder="0" width="100%" height="600" scrolling="no" src="{$appurl}"></iframe>
<!--
EOT;
}elseif($admintype=='yunstatistics'){
print <<<EOT
-->
<script type="text/javascript" src="http://app.phpwind.net/static/js/client.js"></script>
<script type="text/javascript">
var server = new PwJs.Server("pwapp");
server.start();
</script>
<iframe id="pwapp" name="pwapp" width="100%" height="600" frameborder="0" scrolling="no" src="$yunStatisticsUrl"></iframe>
<!--
EOT;
} elseif ($admintype == 'cnzz') {print<<<EOT
-->
<iframe id="pwapp" name="pwapp" frameborder="0" width="100%" height="1350" scrolling="no" src="http://adm.cnzz.com?admoem=yes&apikey={$apikey}"></iframe>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>-->