<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<div class="mb10">
    <h2 class="h1">附件記錄修復</h2>
    <div class="legend">
    本功能清除只存在附件記錄而沒有附件的冗餘數據，帖子中的附件記錄也將同時更新<br />使用 ftp 遠程轉移附件功能.此管理無效
    </div>
</div>
<form action=$basename method=post>
<input type=hidden name=action value='delete'>
<div class="mb10 tac">
	<span class="btn"><span><button type="submit" name="hello" onfocus="blur();">自動修復</button></span></span>
</div>
</form>

<form action="$basename&" method="post" name="form2">
<input type="hidden" name="action" value="delattach">
<h2 class="h1"><span class="mr20">附件文件修復</span><span class="linka">本功能將搜索整個站點的附件，刪除數據庫中沒有記錄而實際存在的附件，可有效清理站點中冗余附件, 從而釋放更多的服務器空間.</span></h2>
<div class="admin_table mb10">
    <table cellspacing="0" cellpadding="0" width="100%">
        <tr class="tr1 vt">
            <td class="td1">每次跳轉處理個數</td>
            <td class="td2"><input type="text" class="input input_wa" name="pernum" value="1000"></td>
        </tr>
    </table>
</div>
<div class="mb10 tac">
	<span class="btn"><span><button type="submit" onfocus="blur();">自動修復</button></span></span>
</div>
</form>
<!--
EOT;
include_once PrintEot('adminbottom');
?>
-->