<!--<?php
include_once PrintEot('left');print <<<EOT
-->
<form action="$basename" method="post">
<input type="hidden" name="step" value="2" />
<h2 class="h1">論壇設置</h2>
<div class="admin_table mb10">
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr1 vt">
			<td class="td1">站點默認風格</td>
			<td class="td2"><select name="config[defaultstyle]" class="select_wa">$sltstyles</select></td>
			<td class="td2"><div class="help_a">選擇論壇模式默認風格。用戶在沒有指定風格的時候，均使用默認風格</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">左右分欄設置</td>
			<td class="td2">
				<select name="config[columns]" class="select_wa">
					<option value="2" $columns_2>開啟，默認使用分欄模式</option>
					<option value="1" $columns_1>開啟，默認使用平板模式</option>
					<option value="0" $columns_0>關閉左右分欄</option>
				</select>
			</td>
			<td class="td2"><div class="help_a">左右分欄的開關，開啟後可選擇分欄的默認模式</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">文字廣告列數</td>
			<td class="td2"><input name="config[txtadnum]" value="$db_txtadnum" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">設置文字廣告位的顯示列數。0表示不限制，只有1列</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">副版主功能</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[adminset]" $adminset_Y>開啟</li>
					<li><input type="radio" value="0" name="config[adminset]" $adminset_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟後，可在前台的[版塊管理]添加副版主。第一版主有權任命和罷免其他版主</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">版塊快速跳轉</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[menu]" $menu_Y>開啟</li>
					<li><input type="radio" value="0" name="config[menu]" $menu_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟後，可以在帖子列表頁、閱讀頁快速跳轉到別的版塊</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">回收站功能</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input name="config[recycle]" type="radio" value="1" $recycle_Y>開啟</li>
					<li><input name="config[recycle]" type="radio" value="0" $recycle_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟後，刪除的主題和回復將暫存於回收站</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">寬窄屏切換</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input name="config[shiftstyle]" type="radio" value="1" $shiftstyle_1>開啟</li>
					<li><input name="config[shiftstyle]" type="radio" value="2" $shiftstyle_2>寬屏</li>
					<li><input name="config[shiftstyle]" type="radio" value="3" $shiftstyle_3>窄屏</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">勾選開啟，用戶可以在前台控制寬窄屏顯示；勾選寬屏，則前台的顯示模式為寬屏，用戶不可切換；勾選窄屏，則前台的實現模式為窄屏，用戶不可切換。</div></td>
		</tr>
	</table>
</div>
<div class="mb10 tac">
	<span class="btn"><span><button type="submit"  value="提 交">提 交</button></span></span>
</div>
</form>
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->