<!--<?php
include_once PrintEot('left');print <<<EOT
-->
<form action="$basename" method="post" name="FORM">
<input type="hidden" name="step"  value="2"/>
<h3 class="h1">雲驗證碼設置</h3>
<div class="admin_table mb10">
		<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr1 vt">
				<td class="td1">基本設置</td>
				<td class="td2">
					<ul class="list_A list_80">
						<li><input type="radio" value="1" name="config[cloudgdcode]" $cloudgdcode_Y>開啟</li>
						<li><input type="radio" value="0" name="config[cloudgdcode]" $cloudgdcode_N>關閉</li>
					</ul>
				</td>
				<td class="td2"><div class="help_a">開啟後將使用雲驗證碼，其他的驗證碼設置項對雲驗證碼無效<br/>關閉則使用系統驗證碼<br/>雲驗證碼能夠有效增強系統的安全性， 並且降低系統資源的消耗</div></td>
		</tr>
	</table>
</div>

<input type="hidden" name="step"  value="2"/>
<h3 class="h1">應用場景</h3>
<div class="admin_table mb10">
		<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr1 vt">
			<td class="td1">開啟驗證碼</td>
			<td class="td2">
				<ul class="list_A list_120">
					<li><input type="checkbox" value="1" name="gdcheck[]" $gdcheck_0 /> 註冊</li>
					<li><input type="checkbox" value="2" name="gdcheck[]" $gdcheck_1 /> 前台登錄</li>
					<li><input type="checkbox" value="4" name="gdcheck[]" $gdcheck_2 /> 發帖</li>
					<li><input type="checkbox" value="8" name="gdcheck[]" $gdcheck_3 /> 消息</li>
					<li><input type="checkbox" value="32" name="gdcheck[]" $gdcheck_5 /> 後台登錄</li>
					<li><input type="checkbox" name="config[diary_gdcheck]" value="1" $gdcheck_diary />日誌</li>
					<li><input type="checkbox" name="config[photos_gdcheck]" value="1" $gdcheck_photos />創建相冊</li>
					<li><input type="checkbox" name="config[groups_gdcheck]" value="1" $gdcheck_groups />創建群組</li>
					<li><input type="checkbox" name="config[groups_p_gdcheck]" value="1" $gdcheck_p_groups />群組發表新帖</li>
					<li><input type="checkbox" value="16" name="gdcheck[]" $gdcheck_4 /> 其它</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">請勾選需要開啟驗證碼的操作</div></td>
		</tr>
	</table>
</div>
	<div class="tac mb10"><span class="bt"><span><button onclick="CheckAll(document.FORM)" type="button">全選</button></span></span><span id="submit" class="btn"><span><button type="submit" onfocus="blur();">提 交</button></span></span></div>
</form>
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->