<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc">
		<li><a href="$admin_file?adminjob=setforum&adminitem=setforum">版塊管理</a></li>
		<li><a href="$admin_file?adminjob=setforum&adminitem=uniteforum">版塊合併</a></li>
		<li><a href="$admin_file?adminjob=setforum&adminitem=forumsell">版塊出售記錄</a></li>
		<li class="current"><a href="$admin_file?adminjob=setforum&adminitem=creathtm">生成靜態文件</a></li>
	</ul>
</div>
<div class="admin_info mb10">
    <h3 class="h1"><b>提示信息</b></h3>
    <div class="legend">功能說明:<ol>
	<li>採用靜態 html 方式來緩存主題內容從而<b>大幅度節約數據庫資源,並使瀏覽速度有質的飛躍</b>.適合於大型網站</li>
	<li>佔用較多服務器空間,一般<b>佔用與您RDBMS同等空間</b></li>
	<li>加密帖(出售,加密,隱藏)不會生成htm頁面</li>
	<li>如果您的空間打開 <b>safe_mode</b> 如果您對此不瞭解,建議不要使用此功能</li>
	<li>使用此功能後用戶的真實信息將滯後,<b>請不定期重新生成所有 html 文件</b>!</li>
	<li>使用此功能後請不要採用多種風格.更<b>不能使用圖片.附件防盜鏈功能</b>!</li>
	<li>使用此功能後將自動啟用<b>點擊率延遲更新</b>功能<br /></li></ol>
	<br/>模板管理說明:<ol>
	<li>可選擇一次性生成所有版塊的靜態模板，也可以選擇生成單個版塊的靜態模板</li>
	<li>當您取消某版塊的靜態模板功能時請刪除相應的 html 數據,以節約空間!</li></ol></div>
</div>
<form action="$basename" method="post" name="creat">
  <input type="hidden" name="fids" value="$fids" />
  <h2 class="h1"><b>靜態模板功能</b></h2>
  <div class="admin_table mb10">
  <table cellspacing="0" cellpadding="0" width="100%">
    <tr class="tr1 vt">
      <td class="td1">選擇需要使用靜態模板<br />功能的版塊</td>
      <td class="td2">$forumcheck</td>
    </tr>
  </table>
  </div>
  <input type="hidden" name="action" value="submit" />
  <div class="tac mb10">
      <span class="bt"><span><button type="button" name="chkall" value="全 選" onclick="CheckAll(this.form)">全 選</button></span></span>
    <span class="btn"><span><button type="submit">提 交</button></span></span>
    </div>
</form>
<form action="$basename" method="post">
  <input type="hidden" name="fids" value="$htmfid" />
  <h2 class="h1"><b>靜態模板管理</b></h2>
  <div class="admin_table mb10">
      <table cellspacing="0" cellpadding="0" width="100%">
        <tr class="tr1 vt">
          <td class="td1">選擇創建模板的版塊</td>
          <td class="td2">
          <select name="creatfid[]" multiple  size="16" class="select_wa">
              <option value="all" selected>所有版塊</option>
              <option></option>
              $select
            </select>
          </td>
        <tr class="tr1 vt">
          <td class="td1">操作類型</td>
          <td class="td2">
                <ul class="cc list_80 list_A">
                     <li><input type="radio" name="action" value="creat" checked />創建</li>
                     <li><input type="radio" name="action" value="delete" />刪除</li>
                </ul>
           </td>
        </tr>
        <tr class="tr1 vt">
          <td class="td1">各版塊最大主題生成個數</td>
          <td class="td2"><input name="forumnum" type="text" class="input input_wa mr20" />留空則全部生成</td>
        </tr>
        <tr class="tr1 vt">
          <td class="td1">每批生成主題數</td>
          <td class="td2"><input name="percount" type="text" class="input input_wa" /></td>
        </tr>
      </table>
  </div>
  <div class="tac mb10">
    <span class="btn"><span><button type="submit">提 交</button></span></span>
    </div>
</form>
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->
