<!--<?php
if (!($adminitem == 'guide' && $action == 'preview')) {
include_once PrintEot('left');
${$adminitem} = 'class="current"';
print <<<EOT
-->
<div class="nav3 mb10 ta">
    <ul class="cc">
      <li $customfield><a href="$basename&adminitem=customfield">用戶資料</a></li>
      <li $guide><a href="$basename&adminitem=guide">新用戶引導</a></li>
      <li $area><a href="$basename&adminitem=area">地區管理</a></li>
      <li $school><a href="$basename&adminitem=school">學校庫管理</a></li>
    </ul>
</div>
<!--
EOT;
if ($adminitem == 'customfield') {
if(empty($action)){
print <<<EOT
-->
<div class="admin_info mb10">
    <h3 class="h1"><b>提示信息</b></h3>
    <div class="legend"><ol><li>此功能允許管理員自定義用戶信息，用戶在註冊和編輯個人資料時填寫這些欄目信息</li><li>系統默認資料為不可編輯狀態，操作管理不可用</li></ol></div>
</div>
<form method="post" action="$basename&adminitem=customfield" name="FORM">
<input name="action" type="hidden" value="briefedit">
<h2 class="h1"><span class="fl mr10">用戶資料管理</span><a class="btn_add fl" href="$basename&action=add" hidefocus="true"><i>添加</i></a></h2>
<div class="admin_table mb10">
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr class="tr2">
            <td>前台顯示順序</td>
            <td>資料分類</td>
            <td>資料名稱</td>
            <td>資料首次填寫區域</td>
            <td>啟用</td>
            <td>必填項</td>
            <td>允許修改</td>
            <td>操作管理</td>
        </tr>
<!--
EOT;
if (empty($customfielddb)) {print <<<EOT
-->
<tr><td class="p10" colspan="9"><div class="admin_tips">啊哦，沒有你要的信息！</div></td></tr>
<!--
EOT;
}else{print <<<EOT
-->
<!--
EOT;
foreach($customfielddb as $key => $value){
$defaultbasic = $defaultcontact = $defaulteducation = $defaultother = $default1 = $default2 = $default0 = $checkstate = $checkrequired = $checkeditable = $isdisabled = $hiddenInput = '';
${'default'.$value['category']} = ${'default'.$value['complement']} = 'selected';
if ($value['title'] == '生日') {
	$checkstate = 'checked';
	$isdisabled = 'disabled = "true"';
	$hiddenInput = "<input type=\"hidden\" name=\"field[$value[id]][state]\" value=\"1\" />";
} else {
	$value['state'] && $checkstate = 'checked';
}
$value['required'] && $checkrequired = 'checked';
$value['editable'] && $checkeditable = 'checked';
$managetip = $value['ifsys'] ? '系統默認' : "<a href=\"$basename&adminitem=customfield&action=edit&id=$value[id]\" >編輯</a>|<a href=\"$basename&adminitem=customfield&action=del&selid=$value[id]\">刪除</a>";
print <<<EOT
-->
        <tr class="tr1">
           	<td class="td2" width="80"><input type="text" class="input input_wd" name="field[$value[id]][vieworder]" value="$value[vieworder]" /></td>
           	<td class="td2">
           		<select name="field[$value[id]][category]">
           			<option value="basic" $defaultbasic>基本資料</option>
           			<option value="contact" $defaultcontact>聯繫方式</option>
           			<option value="education" $defaulteducation>工作教育</option>
           			<option value="other" $defaultother>其他資料</option>
           		</select>
						</td>
           	<td class="td2">$value[title]</td>
           	<td class="td2">
           		<select name="field[$value[id]][complement]">
           			<option value="1" $default1>註冊流程</option>
           			<option value="2" $default2>新用戶引導</option>
           			<option value="0" $default0>個人資料管理</option>
           		</select>
           	</td>
           	<td class="td2"><input type="checkbox" name="field[$value[id]][state]" value="1" $checkstate $isdisabled />$hiddenInput</td>
           	<td class="td2"><input type="checkbox" name="field[$value[id]][required]" value="1" $checkrequired /></td>
           	<td class="td2"><input type="checkbox" name="field[$value[id]][editable]" value="1" $checkeditable /></td>
           	<td class="td2">$managetip</td>
        </tr>
<!--
EOT;
}}print <<<EOT
-->
    </table>
</div>
$pages
<div class="mb10 tac">
	<span id="submit" class="btn"><span><button type="submit">提 交</button></span></span>
</div>
</form>
<!--
EOT;
}elseif($action=='add' || $action=='edit'){print <<<EOT
-->
<form method="post" action="$basename&adminitem=customfield">
<input type="hidden" name="action" value="$action">
<input type="hidden" name="step" value="2">
<input type="hidden" name="id" value="$id">
$type_hidden
<h2 class="h1">
<!--
EOT;
if($action=='edit'){ print <<<EOT
-->
<span class="mr10">編輯資料</span>
<!--
EOT;
}else{ 
$defaultModify = 'checked="true"';
$editable_0 = '';
print <<<EOT
-->
<span class="mr10">添加新資料</span>
<!--
EOT;
}
print <<<EOT
-->
<a href="$basename" class="linka">返回上一級<span class="f9">▲</span></a></h2>
<div class="admin_table mb10">
    <table width="100%" cellspacing="0" cellpadding="0">
    	<tr class="tr1 vt">
            <td class="td1">資料分類</td>
            <td class="td2">
            	<select name="category">
           			<option value="basic" $default_basic>基本資料</option>
           			<option value="contact" $default_contact>聯繫方式</option>
           			<option value="education" $default_education>工作教育</option>
           			<option value="other" $default_other>其他資料</option>
           		</select>
            </td>
			<td class="td2"><div class="help_a" style="display: block;">下拉選擇該項，將相關資料屬性分類，前台顯示為個人資料管理tab頁名稱</div></td>
        </tr>
        <tr class="tr1 vt">
            <td class="td1">資料名稱</td>
            <td class="td2"><input type="text" class="input input_wa" name="title" value="$rt[title]"></td>
			<td class="td2"><div class="help_a" style="display: block;">資料屬性的名稱，如生日、性別等，最大限制50個字節</div></td>
        </tr>
        <tr class="tr1 vt">
            <td class="td1">資料名稱描述</td>
            <td class="td2"><textarea name="descrip" class="textarea">$rt[descrip]</textarea></td>
			<td class="td2"><div class="help_a" style="display: block;">作為資料引導說明資料屬性的介紹，最大限制255個字節</div></td>
        </tr>
         <tr class="tr1 vt">
            <td class="td1">帖子頁資料顯示</td>
            <td class="td2">
            	<ul class="list_A list_80">
                	<li><input type="radio" name="viewinread" value="1" $viewinread_1>開啟</li>
                    <li><input type="radio" name="viewinread" value="0" $viewinread_0>關閉</li>
                </ul>
            </td>
			<td class="td2"><div class="help_a" style="display: block;">啟用時，該屬性可以在帖子詳細頁的個人資料信息處顯示</div></td>
        </tr>
        <tr class="tr1 vt">
            <td class="td1">前台查看管理</td>
            <td class="td2">
            	<ul class="list_A list_80">
                	<li><input type="radio" name="state" value="1" $state_1>開啟</li>
                	<li><input type="radio" name="state" value="0" $state_0>關閉</li>
                </ul>
            </td>
			<td class="td2"><div class="help_a" style="display: block;">啟用時，該資料屬性用戶可以自己通過前台進行完善管理</div></td>
        </tr>
         <tr class="tr1 vt">
            <td class="td1">必填內容</td>
            <td class="td2">
				<ul class="list_A list_80">
                	<li><input type="radio" name="required" value="1" $required_1>開啟</li>
                    <li><input type="radio" name="required" value="0" $required_0>關閉</li>
                </ul>
            </td>
			<td class="td2"><div class="help_a" style="display: block;">啟用時，該屬性在前台填寫完善為必須填寫此項</div></td>
        </tr>
         <tr class="tr1 vt">
            <td class="td1">允許修改</td>
            <td class="td2">
            	<ul class="list_A list_80">
                	<li><input type="radio" name="editable" value="1" $editable_1 $defaultModify>開啟</li>
                    <li><input type="radio" name="editable" value="0" $editable_0>關閉</li>
                </ul>
            </td>
			<td class="td2"><div class="help_a" style="display: block;">啟用時，該屬性在前台用戶填寫完善時可以重複修改項</div></td>
        </tr>
        <tr class="tr1 vt">
            <td class="td1">資料首次填寫區域</td>
            <td class="td2">
            	<select name="complement">
           			<option value="1" $default_1>註冊流程</option>
           			<option value="2" $default_2>新用戶引導</option>
           			<option value="0" $default_0>個人資料管理</option>
           		</select>
            </td>
			<td class="td2"><div class="help_a" style="display: block;">下拉選擇該項，選擇該用戶屬性首次填寫管理的位置</div></td>
        </tr>
        <tr class="tr1 vt">
            <td class="td1">查看權限</td>
            <td class="td2">
                <ul class="list_A list_120">
<!--
EOT;
$num=0;
foreach($ltitle as $key => $value){
if($key==1 || $key==2)continue;
$ifchecked=${'viewright_'.$key};
$num++;
print <<<EOT
-->
                        <li><input type='checkbox' name='groups[]' value='$key' $ifchecked>$value</li>
<!--
EOT;
}print <<<EOT
-->
                 </ul>
            </td>
			<td class="td2"><div class="help_a" style="display: block;">勾選相關項，查看用戶該屬性信息的用戶組，不選默認為對所有用戶組開放查看</div></td>
        </tr>
        <tr class="tr1 vt">
            <td class="td1">前台顯示順序</td>
            <td class="td2"><input type="text" class="input input_wa" name="vieworder" value="$rt[vieworder]"></td>
			<td class="td2"><div class="help_a" style="display: block;">填寫前台個人資料管理中該項的前後排序，相同資料屬性分類的TAB頁面前後排序</div></td>
        </tr>
        <tr class="tr1 vt">
            <td class="td1">填寫類型</td>
            <td class="td2">
                <select name="type" class="select_wa" id="selecttype" $type_disabled onChange="changeType(this.id);">
                    <option value="1" $type_1>單行文本框</option>
                    <option value="2" $type_2>多行文本框</option>
                    <option value="3" $type_3>單選框</option>
                    <option value="4" $type_4>復選框</option>
                    <option value="5" $type_5>下拉選項框</option>
                    <option value="6" $type_6>年限填寫類型</option>
                    <option value="7" $type_7>地區填寫類型</option>
                </select>
            </td>
			<td class="td2"><div class="help_a" style="display: block;">前台資料完善管理的輸入類型</div></td>
        </tr>
        <tr class="tr1 vt" id="texttype" style="display:none;">
            <td class="td1">選項內容</td>
            <td class="td2"><textarea name="options[text]" class="textarea">$rt[options]</textarea></td>
			<td class="td2"><div class="help_a" id="textdescript" style="display: block;">當填寫類型為單／復選框時需要設置選項內容，每行為一個選項<br />格式:索引=內容，建議使用數字做索引。例如:<br />1=諾基亞<br />2=摩托羅拉<br />3=三星</div></td>
        </tr>
        <tr class="tr1 vt" id="areatype" style="display:none;">
            <td class="td1">地區前台顯示</td>
            <td class="td2">
            	<span>
	            	 <select name="options[province]" id="province" onChange="changeSubArea(this.value, 'city', 1);">
	            	 	<option value="-1">請選擇</option>
	                </select>
	                <select name="options[city]" id="city" onChange="changeSubArea(this.value, 'area', 1);">
	                	<option value="-1">請選擇</option>
	                </select>
	                <select name="options[area]" id="area">
	                	<option value="-1">請選擇</option>
	                </select>
                </span>
            </td>
			<td class="td2"><div class="help_a" style="display: block;">前台資料管理時，默認顯示的所在區域</div></td>
        </tr>
        <tr class="tr1 vt" id="datetype" style="display:none;">
            <td class="td1">默認年限顯示選項</td>
            <td class="td2"><input type="text" class="input" name="options[startdate]" value="{$rt[dateoptions][startdate]}" /> 至 <input type="text" class="input" name="options[enddate]" value="{$rt[dateoptions][enddate]}" /></td>
			<td class="td2"><div class="help_a" style="display: block;">註冊用戶生日信息填寫的年份輸入區間，如1962-2010</div></td>
        </tr>
        <tr class="tr1 vt" id="contentlimit" style="display:none;">
            <td class="td1">前台填寫內容長度</td>
            <td class="td2"><input type="text" class="input input_wa" name="maxlen" value="$rt[maxlen]"></td>
			<td class="td2"><div class="help_a" style="display: block;">用戶前台資料完善輸入內容的最大字節限制(最大:255字節)</div></td>
        </tr>
    </table>
</div>
<div class="mb10 tac">
    <span class="btn"><span><button type="submit" name="add">提 交</button></span></span>
</div>
</form>
$allAreas
<script type="text/javascript">
function changeType(id) {
	var value = getObj(id).value;
	if (value == 1) {
		getObj('texttype').style.display = getObj('areatype').style.display = getObj('datetype').style.display = 'none';
		getObj('contentlimit').style.display = '';
	} else if (value == 2) {
		getObj('contentlimit').style.display = getObj('texttype').style.display = getObj('areatype').style.display = getObj('datetype').style.display = 'none';
	} else if (value == 3 || value == 4 || value == 5) {
		getObj('contentlimit').style.display = getObj('areatype').style.display = getObj('datetype').style.display = 'none';
		getObj('texttype').style.display = '';
		if (value == 5) {
			getObj('textdescript').innerHTML = '當填寫類型為下拉方式時需要設置下拉選項內容，第一行為默認顯示項<br />每行為一個選項格式:索引=內容，建議使用數字做索引。例如:<br />1=諾基亞<br />2=摩托羅拉<br />3=三星';
		} else {
			getObj('textdescript').innerHTML = '當填寫類型為單／復選框時需要設置選項內容，每行為一個選項<br />格式:索引=內容，建議使用數字做索引。例如:<br />1=諾基亞<br />2=摩托羅拉<br />3=三星';
		}
	} else if (value == 6) {
		getObj('contentlimit').style.display = getObj('areatype').style.display = getObj('texttype').style.display = 'none';
		getObj('datetype').style.display = '';
	} else if (value == 7) {
		getObj('contentlimit').style.display = getObj('datetype').style.display = getObj('texttype').style.display = 'none';
		getObj('areatype').style.display = '';
	}
}
changeType('selecttype');
</script>
<script type="text/javascript" src="js/pw_areas.js"></script>
<!--
EOT;
}} elseif ($adminitem == 'guide'){
print <<<EOT
-->
<div class="admin_info mb10">
    <h3 class="h1"><b>提示信息</b></h3>
    <div class="legend"><ol><li>新用戶引導，是針對通過註冊控制開啟在用戶完成註冊後首次登錄網站需要經過的新用戶步驟</li><li>可能認識的人自動調用規則提示：自動推薦可能感興趣的人，根據用戶完善的資料調用當前在線的同地區、同鄉、同事、同學依次獲取；</li><li>可能感興趣的內容自動調用規則提示：自動推薦可能感興趣的內容，是根據用戶註冊前瀏覽的話題來源，調用該話題所有版塊或分類下當前最新的話題；當用戶是直接註冊的情況，系統默認調用社區最新的話題；</li></ol></div>
</div>
<form id="guideform" method="post" action="$basename&adminitem=guide" name="FORM">
<input id="hiddenaction" name="action" type="hidden" value="edit">
<h2 class="h1"><span class="fl mr10">新用戶引導管理</span></h2>
<div class="admin_table mb10">
<table width="100%" cellspacing="0" cellpadding="0">
	<tr class="tr1 vt">
		<td class="td1">人工推薦名單</td>
		<td class="td2"><textarea class="textarea" name="reg[recommendnames]">$rg_recommendnames</textarea></td>
		<td class="td2">填寫要推薦給新用戶的會員用戶名,每行一個，最大不超過12個，不填寫前台顯示為空</td>
	</tr>
	<tr class="tr1 vt">
		<td class="td1">人工推薦內容</td>
		<td class="td2"><textarea class="textarea" name="reg[recommendcontent]" style="height: 300px;">$rg_recommendcontent</textarea></td>
		<td class="td2">填寫要推薦給新用戶的內容，建議使用HTML，不填寫前台顯示為空</td>
	</tr>
</table>
</div>
<div class="mb10 tac">
	<span id="submit" class="btn"><span><button type="button" onClick="previewContent('submit');">提 交</button></span></span>
	<span class="bt"><span><button type="button" onClick="previewContent('preview');">預 覽</button></span></span>
</div>
</form>
<script type="text/javascript">
var url = "$basename&adminitem=guide";
function previewContent(type) {
	if (type == 'preview') {
		var windowname="win"+ new Date().getTime(); 
		getObj('hiddenaction').value = 'preview';
		newwindow = window.open(url,windowname,"");
		getObj('guideform').target = windowname;
	} else {
		getObj('guideform').target = '_self';
		getObj('hiddenaction').value = 'edit';
	}
	getObj('guideform').submit();
}
</script>
<!--
EOT;
} elseif ($adminitem == 'area'){
print <<<EOT
-->
<div class="admin_info mb10">
    <h3 class="h1"><b>提示信息</b></h3>
    <div class="legend">
此功能允許管理員手動維護地區的聯動關係及新增區域，用戶在註冊和編輯個人資料時更準確地定義歸屬區域<br />
此功能的維護涉及全站所有的地域聯動調用，請管理員根據實際的行政地域調整變化修改<br />
	</div>
</div>

<form action="$ajaxurl&" method="post" id="editAreas" name="editAreas">
<input type="hidden" name="action" value="editAreas" />
<input type="hidden" name="parentid" id="parentid" />
<input type="hidden" name="provinceid" id="provinceid" value="{$provinceid}"/>
<h2 class="h1"><span class="fl mr10">地區管理</span></h2>
<div class="cc td_bgA" style="padding:8px 15px;">
		<span>
		<select name="province" id="province_areas" onChange="countrySelect(this.value, 'city_areas', 1);">
			<option value="-1">請選擇</option>
			</select>
		 <select name="city" id="city_areas" onChange="countrySelect(this.value, '', 1);">
			<option value="-1">請選擇</option>
			</select>
		</span>
$allAreas
</div>
<div class="admin_table mb10">
	<div class="library">
		<div id="createareas"></div>
		<div id="modes"></div>
		<div id="areaMode" style="display:none"><dl class="cc"><dt><input type="text" class="input input_wd" name="vieworders[]" /></dt><dd><input name="names[]" type="text" class="input input_wa" /></dd></dl></div>
		<dl class="cc" id="add_middle"><dd style="width:80px;"><a onClick="addArea()" class="cp s3">添加</a></dd></dl>
	</div>
</div>
<div class="p10 tac">
   <span class="btn"><span><button type="submit">提 交</button></span></span>
</div>

</div>
</form>
<script type="text/javascript" src="js/pw_areas.js"></script>
<script type="text/javascript" src="js/app_global.js"></script>
<script type="text/javascript">
var ajaxurlarea = '$ajaxurl';
countrySelect('$parentid','');
</script>
<!--
EOT;
} elseif ($adminitem == 'school'){
print <<<EOT
-->

<script type="text/javascript" src="js/app_global.js"></script>
<script type="text/javascript">
var ajaxurlarea = '$ajaxurl';
function areasSelect(parentid,type,hasFirst,createsObj){
	changeSubArea(parentid,type,hasFirst);
	getObj('add_'+createsObj).style.display = 'none';
	getObj('button_'+createsObj).style.display = 'none';
	getObj('creates_'+createsObj).innerHTML = '';
}

function schoolsList(parentid,typeObj,createsObj,typeId){
	if (parentid == '-1') {
		getObj('add_'+createsObj).style.display = 'none';
//		getObj('button_'+createsObj).style.display = 'none';
		getObj('creates_'+createsObj).innerHTML = '';
		return;
	}
	ajax.send("$ajaxurl",'action=universityList&parentid='+parentid+'&typeId='+typeId,function(){
		var rText = ajax.request.responseText.split('\t');
		if ('success' != rText[0]) showDialog('error','數據鏈接出錯',2);
		var schoolsData = JSONParse(rText[1]);
		var schoolsHtml = buildSchoolsDataList(schoolsData);
/*
		if (typeObj == 'university' && schoolsData != '') {
			var obj = getObj('select_'+typeObj);
			obj.options.length=0;
			obj.options.add(new Option("請選擇","-1"));
			for (i in schoolsData) {
				obj.options.add(new Option(schoolsData[i].schoolname, schoolsData[i].schoolid));
			}
			getObj('button_college').style.display = 'none';
			getObj('universityId').value = parentid;
			getObj('editType').value = 'editSchool';
		}
*/
		getObj('button_'+typeObj).style.display = '';
		getObj('add_'+createsObj).style.display = '';
		getObj('parentid_'+createsObj).value = parentid;
		getObj('typeId_'+createsObj).value = typeId;
		getObj('creates_'+createsObj).innerHTML = schoolsHtml;
	});
}

function buildSchoolsDataList(schoolData){
	if (schoolData == '') return '';
	var buildHtml = '',s = 0;
	for (i in schoolData) {
		buildHtml += '<dl class="cc" id="school_'+schoolData[i].schoolid+'">';
		buildHtml += '<dd><input name="schools['+schoolData[i].schoolid+'][schoolname]" onkeypress="return inputCheck(this);" type="text" class="input input_wb" value="'+schoolData[i].schoolname+'" /></dd>';
		buildHtml += '<dd><a href="javascript:;" onclick="delSchool('+schoolData[i].schoolid+',this,3);" class="mr20">[刪除]</a></dd>';
		buildHtml += '</dl>';
		s++;
	}
	return buildHtml;
}
/*
function collegesList(parentid,typeObj,createsObj,typeId){
	if (parentid == '-1') {
		parentid = getObj('universityId').value;
		getObj('parentid_'+createsObj).value = parentid;
		schoolsList(parentid,'university','university',3);
		exit;
	}
	ajax.send("$ajaxurl",'action=collegesList&parentid='+parentid,function(){
		var rText = ajax.request.responseText.split('\t');
		if ('success' != rText[0]) showDialog('error','數據鏈接出錯',2);
		var collegesData = JSONParse(rText[1]);
		var collegesHtml = buildCollegesDataList(collegesData);
		
		getObj('button_'+createsObj).style.display = 'none';
		getObj('button_'+typeObj).style.display = '';
		getObj('parentid_'+createsObj).value = parentid;
		getObj('typeId_'+createsObj).value = typeId;
		getObj('editType').value = 'editCollege';
		getObj('creates_'+createsObj).innerHTML = collegesHtml;
	});
	initEditType();
}

function buildCollegesDataList(collegesData){
	if (collegesData == '') return '';
	var buildHtml = '',s = 0;
	for (i in collegesData) {
		buildHtml += '<dl class="cc" id="college_'+collegesData[i].collegeid+'">';
		buildHtml += '<dd><input name="colleges['+collegesData[i].collegeid+'][collegename]" onkeypress="return inputCheck(this);" type="text" class="input input_wb" value="'+collegesData[i].collegename+'" /></dd>';
		buildHtml += '<dd><a href="javascript:;" onclick="delCollege('+collegesData[i].collegeid+',this);" class="mr20">[刪除]</a></dd>';
		buildHtml += '</dl>';
		s++;
	}
	return buildHtml;
}

function delCollege(collegeId,position){
	pwConfirm("是否確認刪除", position, function() {
		ajax.send("$ajaxurl",'&action=delCollege&collegeId='+collegeId,function(){
			var rText = ajax.request.responseText;
			if (rText=='success') {
				delElement('college_'+collegeId);
			} else {
				ajax.guide();
			}
		});
	})
}

function editCollege(form,createsObj){
	ajax.send("$ajaxurl",form,function(){
		var rText = ajax.request.responseText.split('\t');
		if ('success' != rText[0]) showDialog('error','數據鏈接出錯',2);
		var collegesData = JSONParse(rText[1]);
		getObj('list_'+createsObj).innerHTML = '';
		getObj('creates_'+createsObj).innerHTML = buildCollegesDataList(collegesData);;
	});
}

function delSchool(schoolId,position,typeId){
	if (typeId == 3) {
		ajax.send("$ajaxurl",'&action=checkIsTopSchool&schoolId='+schoolId,function(){	
			var isTopSchool = ajax.request.responseText;
			if (isTopSchool == "true") {
				showDialog('error','該大學下面含有學院，請先刪除學院，再進行此操作',2);
				exit;
			}
			doDelSchool(schoolId,position,typeId);
		});
		
	} else {
		doDelSchool(schoolId,position,typeId);
	}
}
*/

function delSchool(schoolId,position,typeId) {
	pwConfirm("是否確認刪除", position, function() {
		ajax.send("$ajaxurl",'&action=delSchool&schoolId='+schoolId+'&typeId='+typeId,function(){
			var rText = ajax.request.responseText;
			if (rText=='success') {
				delElement('school_'+schoolId);
			} else {
				ajax.guide();
			}
		});
	});
}


function addSchool(createsObj){
	var modes = getObj('mode_'+createsObj).firstChild.cloneNode(true);
	getObj('list_'+createsObj).appendChild(modes);
}

function editSchool(form,createsObj){
	ajax.send("$ajaxurl",form,function(){
		var rText = ajax.request.responseText.split('\t');
		if ('success' != rText[0]) showDialog('error','數據鏈接出錯');
		var schoolsData = JSONParse(rText[1]);
		getObj('list_'+createsObj).innerHTML = '';
		getObj('creates_'+createsObj).innerHTML = buildSchoolsDataList(schoolsData);
	});
}

function inputCheck(obj) {
	var keyCode = event.keyCode;  
	var converter = document.createElement("DIV");
	inputValue = obj.value.replace(/ /g,"&nbsp;");  
	converter.innerHTML = inputValue;
	var output = converter.innerHTML;
	if (output.length > 32 && keyCode != 8) {
		return false;
	}else{
		return true;
	}
}
</script>
<div class="admin_info mb10">
    <h3 class="h1"><b>提示信息</b></h3>
    <div class="legend">
此功能允許管理員手動維護學校的聯動關係及新增區域，用戶在註冊和編輯個人資料時更準確地定義歸屬學校<br />
此功能的維護涉及全站所有的學校字段聯動調用，請管理員根據實際的學校庫調整變化修改<br />
	</div>
</div>

<form action="$ajaxurl&" method="post">
<input type="hidden" name="action" value="editSchool" />
<input type="hidden" name="parentid" id="parentid_university" />
<input type="hidden" name="typeId" id="typeId_university" />
<input type="hidden" name="universityId" id="universityId" />
<h2 class="h1"><span class="fl mr10">大學管理</span></h2>
<div class="cc td_bgA" style="padding:8px 15px;">
	<span>
		<select name="province" id="select_province" onChange="schoolsList(this.value,'university','university',3)">
			<option value="-1">請選擇</option>
			$provinces
		</select>
		<!-- select name="university" id="select_university" onchange="collegesList(this.value,'college','university',3)">
			<option value="-1">請選擇</option>
		</select -->
	</span>
</div>
<div class="admin_table mb10">
		<div class="library" id="creates_university"></div>
		<div class="library" id="list_university"></div>
		<div class="library" id="mode_university" style="display:none"><dl class="cc"><dd><input name="names[]" onKeyPress="return inputCheck(this);" type="text" class="input input_wb" /></dd></dl></div>
		<div class="library" id="add_university" style="display:none"><dl class="cc"><dd style="width:80px;"><a onClick="addSchool('university')" class="cp s3">添加</a></dd></dl></div>
<div class="p10 tac">
   <span class="btn" id="button_university" style="display:none"><span><button type="button" onClick="editSchool(this.form,'university');">提 交</button></span></span>
   <!--span class="btn" id="button_college" style="display:none"><span><button type="button" onclick="editCollege(this.form,'university');">提 交</button></span></span -->
</div>
</div>
</form>

<form action="$ajaxurl&" method="post">
<input type="hidden" name="action" value="editSchool" />
<input type="hidden" name="parentid" id="parentid_middle" />
<input type="hidden" name="typeId" id="typeId_middle" />
<h2 class="h1"><span class="fl mr10">中學管理</span></h2>
<div class="cc td_bgA" style="padding:8px 15px;">
            	<span>
	            	 <select name="options[province_middle]" id="province_middle" onChange="areasSelect(this.value, 'city_middle',1,'middle');">
	            	 	<option value="-1">請選擇</option>
	                </select>
	                <select name="options[city_middle]" id="city_middle" onChange="areasSelect(this.value, 'area_middle',1,'middle');">
	                	<option value="-1">請選擇</option>
	                </select>
	                <select name="options[area_middle]" id="area_middle" onChange="schoolsList(this.value,'middle','middle',2)">
	                	<option value="-1">請選擇</option>
	                </select>
                </span>
$allAreas
</div>
<div class="admin_table mb10">
		<div class="library" id="creates_middle"></div>
		<div class="library" id="list_middle"></div>
		<div class="library" id="mode_middle" style="display:none"><dl class="cc"><dd><input name="names[]" onKeyPress="return inputCheck(this);" type="text" class="input input_wb" /></dd></dl></div>
		<div class="library" id="add_middle" style="display:none"><dl class="cc"><dd style="width:80px;"><a onClick="addSchool('middle')" class="cp s3">添加</a></dd></dl></div>
<div class="p10 tac">
   <span class="btn" id="button_middle" style="display:none"><span><button type="button" onClick="editSchool(this.form,'middle');">提 交</button></span></span>
</div>
</div>
</form>

<form action="$ajaxurl&" method="post">
<input type="hidden" name="action" value="editSchool" />
<input type="hidden" name="parentid" id="parentid_elementary" />
<input type="hidden" name="typeId" id="typeId_elementary" />
<h2 class="h1"><span class="fl mr10">小學管理</span></h2>
<div class="cc td_bgA" style="padding:8px 15px;">
            	<span>
	            	 <select name="options[province_elementary]" id="province_elementary" onChange="areasSelect(this.value, 'city_elementary',1,'elementary');">
	            	 	<option value="-1">請選擇</option>
	                </select>
	                <select name="options[city_elementary]" id="city_elementary" onChange="areasSelect(this.value, 'area_elementary',1,'elementary');">
	                	<option value="-1">請選擇</option>
	                </select>
	                <select name="options[area_elementary]" id="area_elementary" onChange="schoolsList(this.value,'elementary','elementary',1)">
	                	<option value="-1">請選擇</option>
	                </select>
                </span>
$allAreas
</div>
<div class="admin_table mb10">
		<div class="library" id="creates_elementary"></div>
		<div class="library" id="list_elementary"></div>
		<div class="library" id="mode_elementary" style="display:none"><dl class="cc"><dd><input name="names[]" onKeyPress="return inputCheck(this);" type="text" class="input input_wb" /></dd></dl></div>
		<div class="library" id="add_elementary" style="display:none"><dl class="cc"><dd style="width:80px;"><a onClick="addSchool('elementary')" class="cp s3">添加</a></dd></dl></div>
<div class="p10 tac">
   <span class="btn" id="button_elementary" style="display:none"><span><button type="button" onClick="editSchool(this.form,'elementary');">提 交</button></span></span>
</div>
</div>
</form>
<script type="text/javascript" src="js/pw_areas.js"></script>
<script>

</script>
<!--
EOT;
}
include_once PrintEot('adminbottom');
} else{
print <<<EOT
-->
<!doctype html>
<html>
<head>
<meta charset=utf-8"$db_charset" />
<title>phpwind - Powered by phpwind</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" href="$imgpath/pw_core.css?{$GLOBALS['wind_repair']}" />
<!--css-->
<style type="text/css"> 
/*Spacing*/
.pdD{padding:.3em .5em}
.pd5{padding:0 5px;}
.pd15{padding:0 15px;}
/*form*/
input.btn,input.bt{cursor:pointer;padding:.1em 1em;*padding:0 1em;font-size:9pt; line-height:130%; overflow:visible;}
input.btn{border:1px solid #ff5500;background:#ff8800;margin:0 3px;color:#fff;}
input.bt{border:1px solid #c2d8ee;background:#fff;margin:0 3px;color:#333;}
/*layout*/
html{background-color:#fff;overflow-y:scroll;}
body{font-size:12px;font-family:Arial; color:#333;line-height: 1.5;background:#fff url(images/wind/bg.jpg) center top repeat-x;min-height:500px;}
.wrap,#top{min-width:820px;margin:auto;}
/*全局鏈接*/
a{text-decoration:none;color:#333333;}
a:hover,.alink a,.link{text-decoration:underline;}
/*鏈接按鈕*/
.bta{cursor:pointer;color:#333333;padding:0 5px;margin:0 3px;white-space:nowrap;border:1px solid #d5e6ed;line-height:22px;background:#ffffff;}
.bta:hover{border:1px solid #a6cbe7;text-decoration:none;}
/*main color 數值自定義*/
.f_one,.t_one,.r_one{background:#ffffff;}
.f_two,.t_two,.r_two{background:#f3f9fb;}
/*頭部*/
#head,.main-wrap,#footer,#searchA,#navA,#navB,.top{width:960px;margin:0 auto;max-width:1200px;}
#search_wrap{background:#ddd;}
#top{height:23px;border-bottom:1px solid #fff;background:url(images/wind/topbar.png) 0 bottom repeat-x;_background:#e9f1f4;line-height:23px;overflow:hidden;}
.top li{float:left;margin-right:10px;}
.top a{color:#666;}
	/*導航*/
	#navA{height:35px;background-color:#176eac;}
	.navA,.navAL,.navAR,.navA li,.navA li a,#td_mymenu{background:url(images/wind/navA.png) 999em 999em no-repeat;}
	.navAL,.navAR{width:5px;height:35px;}
	.navAL{ background-position:0 -80px;_margin-right:-3px;}
	.navAR{ background-position:0 -150px;_margin-left:-3px;}
	.navA{ background-position:0 -115px;height:35px;overflow:hidden; background-repeat:repeat-x;}
	.navA ul{font-size:14px;overflow:hidden;}
	.navA li{float:left;margin-left:-1px;}
	.navA li a{float:left;color:#ffffff;padding:0 15px;height:35px;line-height:35px;outline:none;font-weight:700; background-position:0 -35px;}
	.navA li a:hover{text-decoration:none;color:#ffea00;}
	.navA .current a,.navA .current:hover a,.navA .current a:hover{background-position:center top;display:inline;text-decoration:none;text-shadow:none;}
		/*快捷導航*/
		#td_mymenu{ background-position:-20px -150px;color:#fff;cursor:pointer;float:right;width:92px;height:23px;overflow:hidden;line-height:23px;padding-left:10px;margin:5px 2px 0 0;_display:inline}
		#td_mymenu_old{color:#888;}
	.navB,.navBbg{background:url(images/wind/navB.png) right bottom repeat-x;}
	.navB{margin-bottom:5px;}
	.navBbg{padding:3px 0;background-position:left bottom;margin-right:4px;_position:relative;}
	.navB ul{padding:4px 4px 4px 16px;}
	.navB li:hover,.navB li:hover a{background:url(images/wind/navBcur.png) no-repeat;}
	.navB li:hover{ background-position:left 0;}
	.navB li:hover a{ background-position:right 0;}
	.navB li{float:left;height:23px;line-height:23px;margin:0 10px 0 0;}
	.navB li a{display:block;padding:0 5px; font-size:14px;color:#666;}
	.navB li a:hover{ text-decoration:none;color:#68b;}
	/*搜索*/
	#searchA{margin:2px auto 5px;height:41px;overflow:hidden;}
	#searchA,.searchA_right{background:url(images/wind/searchA.png) no-repeat;}
	.searchA_right{ background-position:right 0;height:41px;width:5px;}
	.searchA{padding:8px 0 0 55px;}
	.searchA .ip{width:330px;float:left;border:1px solid #dddddd;background:#fff;height:20px;padding:4px 5px 0;overflow:hidden;}
	.searchA .ip input{border:0;background:none;padding:0;font:14px/16px Arial;width:100%;float:left;margin:0;}
	.s_select{float:left;border:1px solid #dddddd;border-left:0;margin-right:7px;background:#fff;width:49px;}
	.s_select h6{display:block;padding:0 15px 0 10px;height:24px;line-height:24px;cursor:pointer;background:url(images/wind/down.png) 35px center no-repeat;color:#666;}
	.s_select ul{ position:absolute;border:1px solid #dddddd;background:#fff;line-height:22px;width:49px;margin:24px 0 0 -1px;display:none;}
	.s_select ul li{padding:0 10px;cursor:pointer;}
	.s_select ul li:hover{background:#f7f7f7;}
	.searchA button{width:45px;height:25px;border:0 none;background:url(images/wind/search_btn.png) no-repeat; font-size:14px; font-weight:700;line-height:25px;padding:0 0 3px 0;}
	.s_tags{padding:3px 0 0 15px; font-size:14px;height:20px;line-height:20px;overflow:hidden;margin:0;}
	.s_tags a{margin:0 8px 0 0;color:#666;}
	/*站點信息*/
	#infobox{margin-bottom:5px;}
	#infobox .fr li,#breadCrumb .fr li{float:left;padding:0 5px;}
	#infobox .fr li a,#breadCrumb .fr li a{float:left;}
	/*麵包屑*/
	#breadCrumb{zoom:1; border:1px solid #c1d8ea;background:#f5fafe;padding:0 5px 0 10px;margin-bottom:10px;}
	#breadCrumb a{line-height:30px;}
	#breadCrumb .fr{padding-top:7px;}
	#breadCrumb .fr a{line-height:18px;}
	#breadCrumb .fr .link_down{margin-top:-1px;}
	#breadCrumb em{ font-family:mingliu;margin:0 5px;}
	#breadCrumb .breadEm{height:30px;background:url(images/wind/breadEm.png) 0 0 no-repeat;width:10px;overflow:hidden;margin:0 3px;float:left;}
	#breadCrumb img.breadHome{float:left;margin:6px 5px 0 0;}
	/*站點信息*/
	.pw_ulC{height:36px;overflow:hidden;}
	.pw_ulC li{float:left;border-right:1px solid #ddd;padding:0 15px;}
	.pw_ulC li em{display:block;color:#666; font-family:Arial;-webkit-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;}
	.pw_ulC li em a{color:#666;}
	.pw_ulC li:hover em{-webkit-transform: scale(1.5);-o-transform: scale(1.5);}
	.pw_ulC li.none{border:0;}
	/*文字廣告*/
	.textMes{margin:0 auto 5px;border:1px solid #d5e6ed;border-bottom:0;background:#ffffff;}
	.textMes .tr3 td,.textMes .tr3 th{border-bottom:1px solid #d5e6ed;padding:.4em .6em;border-top:0;}
/*中間內容*/
.main-wrap{margin-bottom:10px;}
#pw_content{background:#ffffff;border:1px solid #c0d8ea;border-top:2px solid #065792;}
.t{border:1px solid #a6cbe7;padding:1px;_display:inline-block;margin-bottom:10px;background:#ffffff;}
.tTable{margin:0 10px;}
#pw_content .t{border:0;padding:0;}
	/*首頁熱榜*/
	.newInfor h4{font-weight:700;overflow:hidden;color:#666;padding:0 0 0 10px;margin-bottom:10px;}
	.newInfor .switchItem .view-hover,.newInfor .switchItem .view-current{min-height:240px;_height:240px;}
	.newflash{width:360px;height:240px;overflow:hidden;}
	.flashimg img{height:240px;margin-bottom:8px;}
	.flashimg p a{color:#fff;font-weight:700;text-shadow:1px 1px 0px #333;}
	.flashimg p{overflow:hidden;width:260px;bottom:4px;position:absolute;text-indent:12px;z-index:2;left:0;}
	.flashBg{ position:absolute;bottom:0;width:100%;height:27px;background:#000;filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6; z-index:1;}
	.an{ position:absolute;right:5px;z-index:2;bottom:5px;}
	.an li{float:left;margin-left:5px;}
	.an li a{float:left;background:#fff;color:#333;overflow:hidden;line-height:16px;padding:0 3px;-webkit-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;}
	.an li.current a,.an li a:hover{background:#ff6600;color:#fff; text-decoration:none;}
	.an li a:hover{-webkit-transform: scale(1.4);-o-transform: scale(1.4);}
	.newHotA dd{padding:5px 0 10px;}
	.newHotA{width:500px;}
	.newHotB{}
	.newHotB li{float:left;width:47.5%;padding-right:2%;line-height:22px;height:22px;overflow:hidden;}
	.newHotB a{color:#004b91;}
	.newHotB em a{color:#333;}
	/*公告*/
	.noticebg{border-top:1px dotted #ccc;margin:0 10px;}
	#notice{padding:5px 5px 5px 5px;background:url(images/wind/file/anc.gif) 2px 5px no-repeat;}
	#notice li{list-style:none;float:left;white-space:nowrap;padding-left:20px;height:18px;}
	#notice a{padding-right:.5em;}
	#notice0{width:98%;height:18px;line-height:18px;overflow-y:hidden;}
	/*通用標題欄*/
	.h{border-bottom:1px solid #d6e8f4;border-top:1px solid #d6e8f4;background:#f0f9ff url(images/wind/h.png) 0 0 repeat-x;color:#1b72af;padding:5px 10px;overflow:hidden;}
	.h a{color:#1b72af}
	.h span a,.h span{color:#5ea6d8;}
	.h a span{ font-family:Verdana;}
	.closeicon{height:16px;}
	.cate_fold{padding:0 5px 0 5px;text-decoration:none;}
	.cate_fold:hover{text-decoration:none;}
	/*內容區域頂部標題欄*/
	.hB{background:url(images/wind/hB.png) 0 bottom repeat-x;height:32px;line-height:32px;overflow:hidden;}
		/*標題欄內tab切換*/
		.tabB{margin-top:3px;height:32px;padding-left:10px;}
		.tabB li{float:left;}
		.tabB li a{color:#014c90; font-weight:100;padding:0 15px;float:left;line-height:25px;height:27px;padding-top:2px;}
		.tabB li.current a{border:1px solid #dcdcdc;border-bottom:0;background:#ffffff;color:#333;padding-top:1px;}
		.tabB li a:hover{ text-decoration:none;}
	.content_thread .hB{padding-left:10px;}
	/*h2版塊名，h3分類版塊名*/
	h2{font-weight:700;display:inline;}
	h2 a{color:#333;}
	h3{font-weight:700;display:inline;}
	h3 a:hover{ text-decoration:none;color:#ff5500;}
	/*table表格*/
	.tr3 td,.tr3 th{border-bottom:1px dotted #ddd;}
	.tr3none th,.tr3none td{border-bottom:none;}
	.tr3 .old,.tr3 .new,.tr3 .lock{padding:10px 5px 10px 45px;color:#444;font-weight:100;height:35px;}
	.tr3 .old{background:url(images/wind/old.gif) 0 15px no-repeat;}/*舊主題版塊*/
	.tr3 .new{background:url(images/wind/new.gif) 0 15px no-repeat;}/*新主題版塊*/
	.tr3 .lock{background:url(images/wind/lock.gif) 0 15px no-repeat;}/*鎖定版塊*/
	.tr2 td,.tr2 th{padding:3px 5px;color:#666;background:#f7fbff;border-bottom:1px dotted #d5e6ed;}
	.tr2 th,.tr3 th{font-weight:100;}
	.tr3 td,.tr3 th{padding:5px;}
	td.num{color:#444; font-size:11px;-webkit-text-size-adjust:none;}
	td.num em{color:#014c90;}
	.re{width:220px;}
	.author{width:95px;}
	.author a{color:#444;}
	.author p,.author p a{color:#999;font-size:11px;-webkit-text-size-adjust:none;}
	.author p span{ font-family:Verdana;}
	.view,.fNum,.fNum a,.adminlist a,.adminlist{color:#444;}
	.tr3 td.icon{padding:5px 0;}
	.icon div.tips{position:absolute;margin-left:-45px;background:#ffffcc;border:1px solid #cc6699;padding:3px 10px;}
	.adminbox{padding:0 0 0 10px;width:25px;}
	.tr3 td.subject{padding:5px 10px 5px 0;}
	.tr4 td{padding:3px 5px;border-bottom:1px solid #eaeaea;color:#666;background:#f9f9f9;}
	.tr4 td a{color:#6a99bf}
	.tr4 td .current{color:#333;}
	.z tr:hover td,.z tr:hover th{background-color:#f3f9fb;}
	.bt0 td{border-top:0;}
	.tr5 td{border:0;}
	.threadCommon .tr3 td{line-height:1.3;}/*列表行高*/
	.hrA{height:1px; background:#d5e6ed;color:#d5e6ed;border:0;margin:8px 0;overflow:hidden;}
	/*old table*/
	.t3 td{padding:2px 5px;}
	/*發帖回復*/
	.post,.replay{height:30px;overflow:hidden;width:74px; text-align:center;font:bold 14px/30px mingliu;}
	.post:hover,.replay:hover{text-decoration:none;}
	.replay{ background:url(images/wind/reply.png?101129) no-repeat;color:#d74700;}
	.post{ background:url(images/wind/post.png?101129) no-repeat;color:#fff;}
	.post:hover{color:#ffea00;}
	/*列表頁分類*/
	.pw_ulA{height:auto;border-bottom:1px solid #c3d8eb;}
	.pw_ulA ul{padding-bottom:8px;*padding-bottom:6px;padding-left:2px;}
	.pw_ulA li{float:left;border-right:1px solid #ccc;margin-top:8px;}
	.pw_ulA li a{line-height:14px;height:14px;padding:0 10px;float:left;color:#1b72af;font-weight:100; white-space:nowrap;}
	.pw_ulA li a:hover{ text-decoration:none;}
	.pw_ulA a span{ font-size:10px;}
	.pw_ulA li.current a{color:#333; font-weight:700;}
	/*版主推薦,群組列表*/
	.pw_ulB{padding:10px 0 10px 10px;}
	.pw_ulB li{line-height:22px;height:22px;overflow:hidden;}
	.pw_ulB li a{padding-left:13px;background: url(images/pwicon/related_li.gif) 0 3px no-repeat;}
	.pw_ulB li em a{padding:0;background:none;}
	.pw_ulB .adel{margin:4px 40px 0 0 ;}
	.pw_ulB .one{float:left;width:90px;margin:0 15px 0 0;}
	.pw_ulB .one p,.pw_ulB .two p{text-align:center;height:22px;overflow:hidden;}
	.pw_ulB .two{float:left;width:90px;margin:0 15px 10px 0;height:120px;}
	.pw_ulB .two a{padding-left:0;background:none;}
	/*側欄版塊列表*/
	.pw_ulD{padding:5px;}
	.pw_ulD li{padding:0 5px;}
	.pw_ulD li:hover,.pw_ulD li.hover,.pw_ulD li.current{background:#daeef9;}
	.pw_ulD li a{line-height:22px;height:22px;overflow:hidden;}
	.pw_ulD li a:hover{ text-decoration:none;}
	.pw_ulD li del{margin-top:3px;display:none;}
	.pw_ulD li:hover del,.pw_ulD li.current del,.pw_ulD li.hover del{display:block;}
	.sideForum {}
	.sideForum .pw_ulD{border-top:1px solid #cfdfec;}
	.sideForum .pw_ulD li.current{background:#2e84c1;}
	.sideForum .pw_ulD li.current a{color:#fff;display:block;}
	.sideForum dt{line-height:29px;height:29px;padding:0 10px; background:url(images/wind/thread/sideForumDt.gif) right 0;cursor:pointer;overflow:hidden;}
	.sideForum dd{display:none;}
	.sideForum .one dt{background-position:right -30px; font-weight:700;}
	.sideForum .one dd{display:block;}
	/*列表側欄*/
	.sidebar{float:left;overflow:hidden;margin-right:-1px;margin-bottom:-1px;}
	.content_thread{background:#ffffff;min-height:600px;_height:600px;_float:right;}
	.sideClose .content_thread{margin:0;border:0;float:none;}
	.f_tree{background:#f7faff;}
	/*列表操作圖標*/
	.history,.pw_ulD del,.switch,.keep,.keepOn,.rss,.competence{background:url(images/wind/thread/sideicon.gif) 9999px 9999px no-repeat;cursor:pointer;}
	.history,.pw_ulD del{float:right;width:16px;height:16px;overflow:hidden;display:block;text-indent:-2000em;}
	.history{ background-position:0 0;}
	.switch{float:left;width:9px;height:27px;display:block; text-indent:-2000em;overflow:hidden; background-position:0 -40px;margin-top:1px; position:absolute;}
	.switch:hover{ background-position:-9px -40px;}
	.sideClose .switch{background-position:-1px -68px;width:8px;}
	.sideClose .switch:hover{background-position:-10px -68px;}
	.pw_ulD del{ background-position:0 -20px;}
	.pw_ulD del:hover{ background-position:-20px -20px;}
	.keep,.keepOn,.rss,.competence{float:left;padding-left:20px;background-position:-120px 0;line-height:18px;*line-height:20px;height:16px;margin-top:6px;}
	.keep{color:#6688bb;}
	.keep:hover{background-position:-120px -20px;color:#004b92; text-decoration:none;}
	.keepOn,.keepOn:hover{ background-position:-120px -40px;color:#999999; text-decoration:none;}
	.rss{background-position:-120px -60px;}
	.competence{background-position:-120px -80px;}
	/*側欄收藏的版塊*/
	.myForum h6{color:#666;padding:6px 10px 5px;}
	.myForum .pw_ulD li{height:22px;overflow:hidden;}
	/*列表帖子類型tab*/
	.tabA{border-bottom:1px solid #8dbfd6;background:#f0f9ff;height:28px;padding:0 10px;}
	.tabA ul{_position:absolute;font-size:14px;overflow:hidden;}
	.tabA li{float:left;margin-left:-1px;margin-top:6px;}
	.tabA li a{float:left;color:#014c90;line-height:1.2;padding:0 15px;overflow:hidden;border-left:1px solid #8cc0d6;}
	.tabA li a:hover{ text-decoration:none;color:#333;}
	.tabA li.current{margin:0;}
	.tabA li.current a{color:#333;border:1px solid #8cc0d6;line-height:27px;font-weight:700;border-top:2px solid #72b0d7;border-bottom:0;background:#fff;position:relative;}
	/*帖子列表管理操作*/
	.manageCheck{border-bottom:1px solid #d6e8f4;border-top:1px solid #d6e8f4;background:#f0f9ff;padding:5px 7px;margin-top:-1px;}
	/*帖子樓層結構*/
	.floot{ table-layout:fixed;}
	.floot_left{width:160px;background:#f4fafe;border-right:1px solid #d5e6ed; vertical-align:top;}
	.floot_leftdiv{padding:10px 10px 50px 15px;}
	.floot_right{background:#ffffff;padding:10px 20px 0;vertical-align:top;}
	.floot_bottom{vertical-align:bottom;padding:0 20px;}
	.readTop{background:#f4fafe;}
	/*樓層間*/
	.flootbg{background:#d5e6ed;height:4px;border-top:1px solid #fff;border-bottom:1px solid #fff;}
	/*帖子信息*/
	.tipTop{padding:0 0 10px;border-bottom:1px dotted #ccc;margin-bottom:10px;}
	/*印戳*/
	.overprint{overflow:hidden;position:absolute;margin-left:440px;margin-top:-35px;}
	.overprint_opl {height:200px;overflow:auto;}
	.overprint_opl a{display:block;float:left;padding:3px;margin:3px}
	.overprint_opl a.current{border:1px solid #ccc;padding:2px}
	.overprint_opl a:hover{border:1px solid #ddd;padding:2px;background:#fff9f0}
	/*帖子用戶信息*/
	.honor{color:#777;overflow:hidden;line-height:1.3;}
	.user-infoWrap2 li{line-height:20px;height:20px;overflow:hidden;}
	.user-infoWrap2 li em{float:left;width:60px;}
	.user-pic{margin-left:-2px;}
	.face_img img{padding:3px;border:1px solid #d5e6ed;background:#ffffff;}
	/*帖子操作*/
	.tipBottom{padding:10px 0;border-top:1px dotted #ccc;margin-top:10px;}
	.readbot a{list-style:none;padding:0 0 0 1.5em;margin:0;float:left;cursor:pointer;background:url(images/wind/read/yin.gif) no-repeat;width:3.5em;height:16px;}
	.readbot .r-quote:hover{background-position:0 0;}
	.readbot .r-reply:hover {background-position:0 -20px;}
	.readbot .r-score:hover {background-position:0 -40px;}
	.readbot .r-keep:hover {background-position:0 -60px;}
	.readbot .r-recommend:hover {background-position:0 -160px;}
	.readbot .r-report:hover{background-position:0 -200px;}
	.readbot .r-quote {background-position:0 -80px;}
	.readbot .r-reply {background-position:0 -100px;}
	.readbot .r-score {background-position:0 -120px;}
	.readbot .r-keep {background-position:0 -140px;}
	.readbot .r-recommend {background-position:0 -180px;}
	.readbot .r-report {background-position:0 -220px;}
	/*帖子標題*/
	h1.read_h1{padding:0 20px;}
	.read_h1,.read_h1 a{font-size:16px;color:#014c90; font-weight:700;line-height:1.2;padding:0;margin:0;}
	/*帖子內容區域*/
	blockquote{margin-left:12px;}
	.tpc_content{font-family:Arial;padding:0 2px 20px;margin:0;line-height:1.8em;}
	.tpc_content font{line-height:1.5em;}
	.tpc_content a{text-decoration:none;color:#0070AF;}
	.tpc_content a:hover{text-decoration:underline}
	.tpc_content ol{list-style-type:decimal;}
	.tpc_content ul{list-style-type:disc;}
	.blockquote{zoom:1;padding:5px 8px 5px;line-height:1.3;background:#fffae1;margin:0 0 10px 0;}
	.tips{border:1px solid #a6cbe7;background:#f3f9fb;padding:3px 10px;display:inline-block;_float:left;}
	/*帖子代碼*/
	.blockquote2{border: 1px solid; border-color: #c0c0c0 #ededed #ededed #c0c0c0;margin:0px;padding:0 0 0 2em;line-height:2em;overflow:hidden;background:#ffffff;margin-left:0;}
	.blockquote2 ol{margin:0 0 0 1.5em;padding:0;}
	.blockquote2 ol li{border-left:1px solid #ccc;background:#f7f7f7;padding-left:10px;font-size:12px;font-family:"Courier New" serif;list-style-type:decimal-leading-zero;padding-right:1em;}
	.blockquote2 ol li:hover{background:#ffffff;color:#008ef1;}
	.blockquote2 ol li{list-style-type:decimal;}
	/*帖子引用*/
	.blockquote3{clear:left;border:1px dashed #CCC;background:#f7f7f7 url(../blockquote3.png) right top no-repeat;padding:5px 10px;margin-left:0;}
	.blockquote3 .quote{color:#999;font-size:12px;}
	.blockquote3 .text{padding:0 10px 10px 10px;}
	/*帖子表格*/
	.read_form td{height:20px;padding:0 5px;border-style:solid; border-width:1px;}
	/*分割線*/
	.sigline {background: url(images/wind/read/sigline.gif) left bottom no-repeat;height:16px;}
	/*帖子簽名*/
	.signature {padding:10px 0 0 0;height:expression(this.scrollHeight>parseInt(this.currentStyle.maxHeight)?this.currentStyle.maxHeight:"auto");}
	/*下載*/
	.tpc_content .down{background:#f0f0f0 url(images/post/down.gif) 5px center no-repeat;padding:5px 5px 5px 30px;border: 1px solid; border-color: #cccccc #999999 #999999 #cccccc;color:#333;margin:0 10px 0 0;line-height:40px;font-size:12px;}
	.tpc_content .down:hover{ text-decoration:none;color:#ff5500;}
	/*分類信息*/
	.cates{margin:0 0 10px;border-top:1px solid #e4e4e4; font-size:12px;}
	.cates .cate-list li{line-height:28px;min-heiht:28px;_height:28px;font-weight:500;color:#444444; list-style:none;border-bottom:1px solid #e4e4e4;padding-left:110px;}
	.cates .cate-list li{*zoom:1;}
	.cates .cate-list li:after{content:'';display:block;height:0;clear:both;visibility: hidden;}
	.cates .cate-list em{ font-style:normal;width:100px;float:left; text-align:right; font-weight:700;margin-left:-110px;}
	.cates .cate-list cite{font-style:normal;}
	.cates input{ vertical-align:middle;}
	.cates .w{margin-right:10px;}
	.cates .two{background:#f7f7f7;}
	.cate_meg_player {float:right;padding:4px;background:#ffffff;border:1px solid #e4e4e4;border-top:0 none;}
	/*帖子頁flash*/
	.readFlash{position:relative;height:160px;width:200px;overflow:hidden;text-align:center;}
	.readFlash img{width:100%;height:100%;}
	.readFlash ul {position:absolute;right:8px;bottom:8px;z-index:3;}
	.readFlash ul li {list-style:none;float:left;width:18px;height:13px;line-height:13px;text-align:center;margin-left:2px;background:#ffffff;}
	.readFlash ul li a {display:block;width:18px;height:13px;font-size:10px;font-family:Tahoma;color:#333333;}
	.readFlash ul li a:hover,.flash ul li a.sel {color:#fff;text-decoration:none;background:#ffa900;}
	/*評分*/
	.score{border:1px solid #a6cbe6;line-height:22px;}
	.score td{padding:2px 10px 2px 5px;}
	.score th{padding:5px 0 0 5px;}
	.score tr:hover{background:#f3f9fb;}
	.scoreTop{border-bottom:1px dotted #ccc;margin:0 10px;padding:5px 3px;}
	.scoreContent{margin:5px 10px;}
	.scoreContent .adel{margin-top:5px;}
	.scoreBottom{border-top:1px solid #a5cae5;padding:3px 13px;background:#f3f8fb;}
	.score a{color:#0181ca;}
	.scoreContent .current td{padding:0;}
	.p_face{width:20px;}
	.p_name{width:90px;}
	/*友情鏈接*/
	.sharelink{border-bottom:1px dotted #ddd;padding:5px 0;word-break: keep-all;}
	.sharelink dt{padding-top:3px;}
	.sharelink dd a{color:#369;}
	.sharelink2{padding:5px 0;}
	.sharelink2 a{margin-right:10px; white-space:nowrap;float:left;}
	.sharelink2 img{margin-right:10px;}
	/*生日會員*/
	.brithcache span{float:left;width:100px;line-height:22px;height:22px;overflow:hidden;}
/*底部*/
#footer{padding:0 0 10px;}
#footer a{color:#68b}
.bottom{margin:0 auto;}
.bottom ul{ padding:0 5px 5px;margin:0; list-style:none;}
.bottom ul li{ padding:0 10px 0 0;display:inline;}
.bottom ul li a{white-space:nowrap;}
/*css3.0*/
.history,del,.keep{-webkit-transition: all 0.2s ease-out;transition: all 0.2s ease-out;}
/*分頁-具體樣式在pw_core裡*/
.pages a{border:1px solid #a6cbe7;background-color:#f9f9f9;color:#666;}
.pages b,.pages a:hover{background-color:#72b0d7;color:#ffffff;border:1px solid #72b0d7;}
.pages .fl{color:#666;}
.pages .pagesone{border:1px solid #a6cbe7;background-color:#ffffff;}
.pages button{background-color:#f4f8fb;color:#666;border-left:1px solid #a6cbe7;}
/*menu*/
.menu{position:absolute;background:#ffffff;border:1px solid #d5e6ed;}
.menu a{display:block;padding:4px 8px;}
/*下拉框*/
.menu-post{border:1px solid #a6cbe7;}
.menu-post .menu-b{background:#ffffff;border:3px solid #d5e6ed;}
.menu_tasksA .menu-b{border-width:8px;}
/*通用下拉外框*/
.pw_menu{border:1px solid #a6cbe7;background:#ffffff;/*-webkit-box-shadow:2px 2px 2px #bbb;*/;}
.pw_menuBg{padding:0 10px 10px;}
.pw_menu h6{ position:absolute;margin-top:-18px;height:17px;border:1px solid #a6cbe7;background:#ffffff;border-bottom:0;right:-1px;padding:0 4px;*padding:0 5px;line-height:18px;}
/*下拉列表*/
.menuList{background:#ffffff;}
.menuList a:hover{background:#e6f2fe;}
/*雙列下拉*/
.menuHalf{margin-right:-1px;padding:5px 0;}
.menuHalf li{float:left;width:50%;border-right:1px dashed #d5e6ed;margin-right:-1px;}
ul#post_typeChoose a{padding:0;}
/*關注*/
.follow,.following{ background:url(u/images/follow.png) no-repeat;line-height:16px;}
.follow{padding-left:16px; background-position:-4px -43px;_background-position:-4px -40px;}
.following{padding-left:22px; background-position:-20px -22px;}
/*全局顏色*/
.s1{color:#f00;}/*red*/
.s2{color:#f50;}/*org*/
.s3{color:#7a0;}/*green*/
.s4{color:#014c90;}/*blue*/
.s5{color:#333;}/*black*/
.s6{color:#666;}/*black*/
.s7{color:$68b;}/*min blue*/
.gray{color:#999;}
.gray2{color:#bbb;}
 /*自定義css*/
</style><!--css-->

<style type="text/css"> 
/*註冊結構*/
.regTitle{border-bottom:1px solid #ededed;padding:0 5px 10px;margin-bottom:30px;}
.regTitle h5{font-size:16px; font-weight:700;}
.regForm-wrap{float:left;width:99%;min-height:250px;_height:250px;padding-top:10px;padding-bottom:50px;}
.regForm{position:relative;margin-right:200px;}
.regForm dl{min-height:43px;_height:43px;}
.regForm dt{float:left;width:130px;text-align:right;margin-right:15px;line-height:28px;font-size:14px;}
.regForm dd{float:left;}
.regForm .ip{width:230px;margin-right:1px;}
.regForm .ip div{padding:3px 3px 5px;*padding:4px 5px 4px;float:left;border:1px solid;border-color:#999 #ccc #ccc #999;background:#fff;}
.regForm .ip div.hover,.regForm .ip div:hover{background:#fffbde;border:1px solid;border-color:#555 #aaa #aaa #555;}
.regForm .ip .input{border:0;padding:0;margin:0;font:14px/15px Arial;background:none;width:100%;padding-top:2px;width:222px;*width:218px; font-weight:700;color:#333;}
.regForm .tp{width:300px;}
.regForm .tp div{padding:5px 10px 5px 28px;position:absolute;line-height:16px; white-space:nowrap;max-width:270px;}
.regForm .tp .correct{border:0;background:url(images/register/regright.png) 6px 6px no-repeat;height:20px;}
.regForm .tp .ignore{border:1px solid #e8e8e8;background:#f9f9f9 url(images/register/tp.png) 6px 6px no-repeat;color:#999;}
.regForm .tp .wrong{border:1px solid #ebadb0;background:#fff2f5 url(images/register/regwrong.png) 6px 5px no-repeat;color:#b52726;padding-left:28px;}
.regForm .tp img{vertical-align:middle;margin:5px 0 0 8px;}
.regForm .if{ font-size:14px;padding-top:3px;}
.regForm .if input{margin-top:-2px;}
.regForm .if select{margin-right:10px; font-size:14px;}
.regForm dd.ck input{width:50px}
.regForm dd.ck div{margin-right:5px;}
.regPre{margin:0 135px 10px 115px;}
.regPre pre{border:1px solid;border-color:#999 #ccc #ccc #999;padding:5px 10px;line-height:1.5;color:#333;height:100px;overflow-x:hidden;overflow-y:scroll;}
.regPre p{margin-bottom:5px;}
.regLogin{float:left;margin-left:-190px;width:190px;border-left:1px dotted #dddddd;min-height:200px;_height:200px;}
.regForm .btn,.regLogin .bt{margin-left:0;}

.steps{padding:0;margin:5px 0 0;overflow:hidden;}
.steps li{float:left;margin-left:-9px;margin-right:15px;_display:inline;padding-left:16px;height:17px; line-height:17px; background:url(images/register/regarrow.png) no-repeat 0 50%;color:#ababab;}
.steps li em{float:left; margin-right:4px; width:17px; height:17px; text-align:center; color:#fff; font-family:Tahoma; font-weight:700; background:url(images/register/regstep.png) no-repeat 0 0}
.steps li.current{color:#106bab}
.steps li.current em{background-position:-17px 0;}

.wy_menu_B{border:1px solid #aaa;background:#ffffff url(c_editor/wy_menu_bg.png) repeat-x; position:absolute;padding:5px 0;border-left:1px solid #ccc;border-top:1px solid #ccc;}
.wy_menu_B a{color:#333;}
.wy_menu_B a:hover{ text-decoration:none;color:#3366cc;}
.wy_menu_B h4{display:block; font-size:14px; font-weight:700;color:#3366cc;padding:5px 10px;margin:0}
.wy_menu_B .tr1{padding-left:70px;text-align:center;}
.wy_menu_B .tr3{padding:4px 0 4px 10px;text-align:right;}
.wy_menu_B td{padding:4px 0 4px 10px;text-align:right;}
.wy_menu_B a.fr{color:#3366cc;}
#qanswer_info img{margin:0 0 0 5px;height:21px;}

.recommend{padding:15px 0 5px;}
.recommend li{width:210px;float:left;height:90px;}
.recommend li img{ vertical-align:middle;}
.recommend li .face{width:48px;height:48px;padding:2px;border:1px solid #cccccc;margin:0 10px 0 8px;}

.regAdd_mode{border:1px solid #ccc;background:#f7fbff;padding:15px 0 0 0;margin-bottom:10px;}

.regCorrect,.regIgnore{padding-left:160px;padding-bottom:70px;background:url(images/register/register2.png) 60px 0 no-repeat;}
.regWrong{}
.regIgnore{ background:url(images/register/ignore.png) 60px 0 no-repeat;padding-top:5px;}

.regList,.regList_img{padding:10px 0 20px;}
.regList li{float:left;width:49.5%; font-size:14px;line-height:24px;height:24px;overflow:hidden; text-indent:15px;background:url(images/pwicon/related_li.gif) 0 8px no-repeat;}
.regList_img li{float:left;width:100px; text-align:center;margin:10px;_display:inline;}
</style>

</head>
<body onKeyDown="try{keyCodes(event);}catch(e){}">
<div class="wrap">
<div id="header">
     <div id="head">
        <table cellpadding="0" cellspacing="0" width="100%" height="80">
            <tr>
                <td><a href="$db_bbsurl"><img src="$imgpath/$stylepath/logo.png" class="fl" title="phpwind" /></a></td>
                <td class="vt tar">
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="main-wrap">
<div id="main">
<div id="pw_content">
	<div class="p20">
		<div class="regTitle cc">
			<h5 class="s6">恭喜您完成註冊，完善以下信息讓您的社區旅途更豐富！</h5>
		</div>
		<div class="cc">
			<div class="regForm-wrap">
				<div  style="padding-left:40px;">
<!--
EOT;
if ($recommendcontent) {
print<<<EOT
-->
					<h2 class="s6">精彩推薦</h2>
					<div class="mb20">
						$recommendcontent
					</div>
<!--
EOT;
} if ($latestImageThreads) {print<<<EOT
-->
					<h2 class="s6">可能感興趣的內容</h2>
					<ul class="cc regList_img">
<!--
EOT;
foreach ($latestImageThreads as $thread) {
print<<<EOT
-->
						<li><a href="read.php?tid=$thread[tid]"><img src="$thread[thumb]" onError="this.src='images/defaultactive.jpg'" width="100" height="100">$thread[subject]</a></li>
<!--
EOT;
}print<<<EOT
-->
					</ul>
<!--
EOT;
}print<<<EOT
-->
				</div>
			</div>
		</div>
	</div>
</div>

</div></div><!--.main-wrap,#main End-->
</div>
</body>
</html>
<!--
EOT;
}
?>-->