<!--<?php
include_once PrintEot('left');
if ($adminitem == 'basic') {print <<<EOT
-->
<div class="nav3 mb10">
    <ul class="cc">
		<li class="current"><a href="$jobUrl">基本設置</a></li>
		<li><a href="$jobUrl&adminitem=setform">預設帖子格式</a></li>
		<li><a href="$jobUrl&adminitem=pwcode">自定義代碼</a></li>
		<li><a href="$jobUrl&adminitem=commonsmile">普通表情</a></li>
		<li><a href="$jobUrl&adminitem=specialsmile">特殊表情</a></li>
		
    </ul>
</div>
<form action="$basename" method="post">
<input type="hidden" name="step" value="2">
<h3 class="h1">標籤設置</h3>
<div class="admin_table mb10">
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr1 vt">
			<td class="td1">帖子中標籤轉換控制</td>
			<td class="td2"><input name="config[cvtimes]" value="$db_cvtimes" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">超過設定值以後，windcode以及表情代碼等將不再轉換。建議設置為10 - 30 之間，-1 為不限制</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">[img]標籤</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="windpost[pic]" $windpost_pic_Y>開啟</li>
					<li><input type="radio" value="0" name="windpost[pic]" $windpost_pic_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟後，可使用[img]標籤發表圖片</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">[img]大小控制[像素]</td>
			<td class="td2">
				<ul class="list_C">
					<li>寬:<input name="windpost[picwidth]" value="$db_windpost[picwidth]" class="input input_wc mr5" /></li>
					<li>高:<input name="windpost[picheight]" value="$db_windpost[picheight]" class="input input_wc mr5" /></li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">超過設定值以後，圖片將按照設定的大小等比縮略。留空不限制</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">[size]標籤最大值控制</td>
			<td class="td2"><input name="windpost[size]" value="$db_windpost[size]" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">最大字體控制。0或留空表示不限制</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">Wind Flash</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="windpost[flash]" $windpost_flash_Y>開啟</li>
					<li><input type="radio" value="0" name="windpost[flash]" $windpost_flash_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟後，會員可以發表flash帖子。建議關閉</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">多媒體標籤</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="windpost[mpeg]" $windpost_mpeg_Y>開啟</li>
					<li><input type="radio" value="0" name="windpost[mpeg]" $windpost_mpeg_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟後，會員可以使用[wmv]標籤發表多種多媒體文件 rm  wmv  mp3</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">iframe</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="windpost[iframe]" $windpost_iframe_Y>開啟</li>
					<li><input type="radio" value="0" name="windpost[iframe]" $windpost_iframe_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟後，會員可以直接用[iframe]標籤調用某個頁面。建議關閉</div></td>
		</tr>
	</table>
</div>
<h3 class="h1">功能設置</h3>
<div class="admin_table mb10">
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr1 vt">
			<td class="td1">動漫傳情</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[windmagic]" $windmagic_Y>開啟</li>
					<li><input type="radio" value="0" name="config[windmagic]" $windmagic_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟後，會員可以在帖子中添加動漫傳情</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">發帖內容驗證</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[tcheck]" $tcheck_Y>開啟</li>
					<li><input type="radio" value="0" name="config[tcheck]" $tcheck_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟該功能，會員將無法連續發表同一內容的主題</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">自定義代碼格式</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[pwcode]" $pwcode_Y>開啟</li>
					<li><input type="radio" value="0" name="config[pwcode]" $pwcode_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟後，會員可使用站點自定義代碼。可在<a href="$admin_file?adminjob=editer&adminitem=pwcode">自定義代碼格式</a>中添加</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">預設帖子格式</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[setform]" $setform_Y>開啟</li>
					<li><input type="radio" value="0" name="config[setform]" $setform_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟後，會員可使用預設帖子格式發帖。可在<a href="$admin_file?adminjob=editer&adminitem=setform">帖子預設格式</a>中添加</div></td>
		</tr>

		<tr class="tr1 vt">
			<td class="td1">自動貼圖</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[autoimg]" $autoimg_Y>開啟</li>
					<li><input type="radio" value="0" name="config[autoimg]" $autoimg_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟後，網頁圖片可直接複製到編輯器中</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">發送回復通知郵件</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[replysendmail]" $replysendmail_Y>開啟</li>
					<li><input type="radio" value="0" name="config[replysendmail]" $replysendmail_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟後，當帖子被回復時，系統將發送郵件給帖子作者</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">發送回復站內通知</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[replysitemail]" $replysitemail_Y>開啟</li>
					<li><input type="radio" value="0" name="config[replysitemail]" $replysitemail_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟後，當帖子被回復時，系統將發送站內短信息給帖子作者</div></td>
		</tr>
	</table>
</div>
<div class="mb10 tac">
	<span class="btn"><span><button type="submit"  value="提 交">提 交</button></span></span>
</div>
</form>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>-->