<!--<?php
include_once PrintEot('left');
$current_chmod = $adminitem == 'chmod' ?' class="current"' : '';
$current_searchcheck = $adminitem == 'searchcheck' ?' class="current"' : '';
$current_filecheck = $adminitem == 'filecheck' ?' class="current"' : '';
$current_cachecheck = $adminitem == 'cachecheck' ?' class="current"' : '';
print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc">
		<li{$current_chmod}><a href="$jobUrl&adminitem=chmod">文件屬性檢查</a></li>
		<li{$current_searchcheck}><a href="$jobUrl&adminitem=searchcheck">文件搜索檢查</a></li>
		<li{$current_filecheck}><a href="$jobUrl&adminitem=filecheck">程序文件檢查</a></li>
		<li{$current_cachecheck}><a href="$jobUrl&adminitem=cachecheck">緩存目錄檢查</a></li>
	</ul>
</div>
<!--
EOT;
if ($adminitem == 'chmod') {
print <<<EOT
-->
<div class="admin_info mb10">
  <h3 class="h1"><b>提示信息</b></h3>
  <div class="legend"><ol><li><span class=s3>777屬性通過</span>:文件屬性正常</li><li><span class=s1>需要設置777屬性</span>:沒有設置777屬性，需要管理員使用FTP工具手動設置777屬性，否則程序可能無法正常運行</li><li><span class=gray>文件不存在</span>:文件不存在，請檢查文件是否上傳完整</li></ol></div>
</div>
<h2 class="h1"><b>文件屬性檢查</b></h2>
<div class="admin_table mb10">
  <table width="100%" cellspacing="0" cellpadding="0">
<!--
EOT;
foreach($filepath as $key => $value){
if($filemode[$key]==1){
$chmod="<span class=gray>文件不存在</span>";
}elseif($filemode[$key]==2){
$chmod="<span class=s1>需要設置777屬性</span>";
}else{
$chmod="<span class=s3>777屬性通過</span>";
}$value=str_replace(array(R_P,D_P),'',$value);
print <<<EOT
-->
    <tr class="tr1 vt">
      <td class="td1">$value</td>
      <td class="td2">$chmod</td>
      <td class="td2">&nbsp;</td>
    </tr>
<!--
EOT;
}print <<<EOT
-->
    </td>
    
    </tr>
    
  </table>
</div>
<!--
EOT;
}elseif($adminitem == 'searchcheck') {
if(empty($action)){
print <<<EOT
-->
<div class="admin_info mb10">
  <h3 class="h1"><b>提示信息</b></h3>
  <div class="legend">文件安全檢查功能說明:<ol><li>文件搜索檢查:輸入自定義關鍵字(可疑代碼)，搜索程序文件，查找出所有出現關鍵字的文件</li><li>程序文件檢查:與官方提供的程序進行對比，提醒您站點上的文件是否被篡改</li><li>緩存目錄檢查:查找所有緩存文件，確認文件的安全性</li><li>保障站點安全有效地運行</li></ol></div>
</div>
<form action="$basename&" method="post">
  <input type="hidden" name="action" value="search">
  <h2 class="h1">文件搜索檢查</h2>
  <div class="admin_table mb10">
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr class="tr1 vt">
        <td class="td1">關鍵字</td>
        <td class="td2"><input class="input input_wa" type="text" name="keyword" /></td>
      </tr>
      <tr class="tr1 vt">
        <td class="td1">文件夾</td>
        <td class="td2"><select name="dir[]"  size="16" class="select_wa" multiple>
            <option value=".">./</option>
            $dirlist
          </select></td>
      </tr>
    </table>
  </div>
  <div class="mb10 tac"><span class="btn"><span>
    <button type="submit"  value="提 交">提 交</button>
    </span></span></div>
</form>
<!--
EOT;
}elseif($action=='search'){
print <<<EOT
-->
<div class="admin_info mb10">
  <h3 class="h1"><b>提示信息</b></h3>
  <div class="legend">文件安全檢查功能說明:<ol><li>文件搜索檢查:輸入自定義關鍵字(可疑代碼)，搜索程序文件，查找出所有出現關鍵字的文件</li><li>程序文件檢查:與官方提供的程序進行對比，提醒您站點上的文件是否被篡改</li><li>緩存目錄檢查:查找所有緩存文件，確認文件的安全性</li><li>保障站點安全有效地運行</li></ol></div>
</div>
<h2 class="h1">檢查結果</h2>
<div class="admin_table mb10">
<table width="100%" cellspacing="0" cellpadding="0">
  <tr class="tr2 vt td_bgB">
    <td>文件名</td>
    <td>文件大小</td>
    <td>最後修改時間</td>
    <td>文件狀態</td>
  </tr>
<!--
EOT;
foreach($dirlist as $dir=>$value){print <<<EOT
-->
  <tr class="tr1 vt">
    <td class="td2" colspan="4">{$dir}/</td>
  </tr>
<!--
EOT;
foreach($value as $k=>$v){print <<<EOT
-->
  <tr class="tr1 vt">
    <td class="td2">$v[0]</td>
    <td class="td2">$v[1]</td>
    <td class="td2">$v[2]</td>
    <td class="td2"><font color="blue">包含可疑代碼</font></td>
  </tr>
<!--
EOT;
}}print <<<EOT
-->
</table>
</div>
<!--
EOT;
}
}elseif($adminitem=='filecheck'){print <<<EOT
-->
<div class="admin_info mb10">
  <h3 class="h1"><b>提示信息</b></h3>
  <div class="legend">與官方提供的程序進行對比，有如下結果:<ol><li><span class=s2>未知文件</span> 請檢查是否被非法放入其他文件</li><li><span class=gray>文件丟失</span> 請上傳正確的文件，保障站點正常運行</li><li><span class=s1>文件被修改</span> 請確認文件合法性，是否是由於自身特殊需要所作的修改</div>
</div>
<h2 class="h1">檢查結果</h2>
<div class="admin_table mb10">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tr2">
      <td colspan="4">未知文件:$cklog[1] &nbsp;&nbsp; 文件被修改:$cklog[3] &nbsp;&nbsp; 文件丟失:$cklog[2]</td>
    </tr>
<!--
EOT;
foreach($dirlist as $dir=>$value){print <<<EOT
-->
    <tr class="tr2">
      <td colspan="4">{$dir}/</td>
    </tr>
    <tr class="tr2 vt td_bgB">
      <td>文件名</td>
      <td>文件大小</td>
      <td>最後修改時間</td>
      <td>文件狀態</td>
    </tr>
<!--
EOT;
foreach($value as $k=>$v){print <<<EOT
-->
    <tr class="tr1 vt">
      <td class="td2">$v[0]</td>
      <td class="td2">$v[1]</td>
      <td class="td2">$v[2]</td>
      <td class="td2"><!--
EOT;
if($v[3]=='1'){print <<<EOT
-->
        <font color="green"><span class=s2>未知文件</span></font>
<!--
EOT;
}elseif($v[3]=='2'){print <<<EOT
-->
        <font color="blue"><span class=gray>文件丟失</span></font>
<!--
EOT;
}else{print <<<EOT
-->
        <font color="red"><span class=s1>文件被修改</span></font>
<!--
EOT;
}print <<<EOT
-->
      </td>
    </tr>
<!--
EOT;
}}print <<<EOT
-->
  </table>
</div>
<!--
EOT;
}elseif($adminitem=='cachecheck'){print <<<EOT
-->
<div class="admin_info mb10">
  <h3 class="h1"><b>提示信息</b></h3>
  <div class="legend">檢查緩存文件的合法性，有如下結果:<ol><li><span class=s1>可疑木馬程序</span> 該文件一般為木馬程序，請刪除</li><li><span class=s2>非法代碼文件</span> 該文件含有非法代碼，請檢查其合法性或刪除</li><li><span class=s2>包含iframe代碼</span> 該文件包含iframe代碼，請檢查文件是否被惡意寫入iframe</li></ol></div>
</div>
<h2 class="h1">檢查結果</h2>
<div class="admin_table mb10">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tr2">
      <td colspan="4">可疑木馬程序:$cklog[1] &nbsp;&nbsp; 非法代碼文件:$cklog[2] &nbsp;&nbsp; 包含iframe代碼:$cklog[3]</td>
    </tr>
<!--
EOT;
foreach($dirlist as $dir=>$value){print <<<EOT
-->
    <tr class="tr2">
      <td colspan="4">{$dir}/</td>
    </tr>
    <tr class="tr2 s3">
      <td>文件名</td>
      <td>文件大小</td>
      <td>最後修改時間</td>
      <td>文件狀態</td>
    </tr>
<!--
EOT;
foreach($value as $k=>$v){print <<<EOT
-->
    <tr class="tr1 vt">
      <td class="td2">$v[0]</td>
      <td class="td2">$v[1]</td>
      <td class="td2">$v[2]</td>
      <td class="td2"><!--
EOT;
if($v[3]=='1'){print <<<EOT
-->
        <font color="green">可疑木馬程序</font>
<!--
EOT;
}elseif($v[3]=='2'){print <<<EOT
-->
        <font color="blue">非法代碼文件</font>
<!--
EOT;
}else{print <<<EOT
-->
        <font color="red">包含iframe代碼</font>
<!--
EOT;
}print <<<EOT
-->
      </td>
    </tr>
<!--
EOT;
}}print <<<EOT
-->
  </table>
</div>
<!--
EOT;
}
include_once PrintEot('adminbottom');
?>-->