<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc">
		<li><a href="$admin_file?adminjob=record&adminitem=adminlog">後台管理日誌</a></li>
		<li class="current"><a href="$admin_file?adminjob=record&adminitem=forumlog">前台管理日誌</a></li>
		<li><a href="$admin_file?adminjob=record&adminitem=adminrecord">後台操作記錄</a></li>
	</ul>
</div>
<div class="admin_info mb10">
    <h3 class="h1"><b>提示信息</b></h3>
    <div class="legend"><ol><li>為了保證後台的安全性,系統只允許站點創始人和管理員刪除操作日記<br /></li><li>系統保留三天的站點管理日誌，只允許刪除三天前的日誌</li></ol></div>
</div>
<form action="$basename&" method="post">
<h2 class="h1">搜索</h2>
<div class="admin_table mb10">
    <table cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td class="td1">用戶名</td>
				<td class="td2"><input type="text" class="input input_wa mr5" name="username1"></td>
			</tr>
			<tr>
				<td class="td1">管理員</td>
				<td class="td2"><input type="text" class="input input_wa mr5" name="username2"></td>
			</tr>
			<tr>
				<td class="td1">所屬版塊</td>
				<td class="td2"><select name="fid"  class="select_wa mr20"><option value="-1">所有版塊</option>$forumcache</select></td>
			</tr>
			<tr>
				<td class="td1">操作</td>
				<td class="td2"><select name="type" class="select_wa">
            <option value="all">全部</option>
            <option value="topped" $type_sel[topped]>{$lang[logtype][topped]}</option>
            <option value="digest" $type_sel[digest]>{$lang[logtype][digest]}</option>
            <option value="highlight" $type_sel[highlight]>{$lang[logtype][highlight]}</option>
            <option value="push" $type_sel[push]>{$lang[logtype][push]}</option>
            <option value="locked" $type_sel[locked]>{$lang[logtype][locked]}</option>
            <option value="remind" $type_sel[remind]>{$lang[logtype][remind]}</option>
            <option value="shield" $type_sel[shield]>{$lang[logtype][shield]}</option>
            <option value="down" $type_sel[down]>{$lang[logtype][down]}</option>
            <option value="delete" $type_sel[delete]>{$lang[logtype][delete]}</option>
            <option value="move" $type_sel[move]>{$lang[logtype][move]}</option>
            <option value="copy" $type_sel[copy]>{$lang[logtype][copy]}</option>
            <option value="edit" $type_sel[edit]>{$lang[logtype][edit]}</option>
            <option value="credit" $type_sel[credit]>{$lang[logtype][credit]}</option>
            <option value="deluser" $type_sel[deluser]>{$lang[logtype][deluser]}</option>
            <option value="recycle" $type_sel[recycle]>{$lang[logtype][recycle]}</option>
            <option value="unite" $type_sel[unite]>{$lang[logtype][unite]}</option>
            <option value="banuser" $type_sel[banuser]>{$lang[logtype][banuser]}</option>
            <option value="banuserip" $type_sel[banuserip]>{$lang[logtype][banuserip]}</option>
            <option value="signature" $type_sel[signature]>{$lang[logtype][signature]}</option>
            </select></td>
			</tr>
			<tr>
				<td class="td1"></td>
				<td class="td2"><span class="bt2"><span><button type="submit" value='提 交'>提 交</button></span></span></td>
			</tr>
    </table>
</div>
</form>
<form action="$basename&" method="post" name="FORM">
<input type="hidden" name="action" value="del">
<h2 class="h1">操作日誌</h2>
<div class="admin_table mb10">
    <table cellpadding="0" cellspacing="0" width="100%">
        <tr class="tr2">
			<td width="30"><span onclick="CheckAll(document.FORM)" class="cp">全選</span></td>
            <td width="30">類型</td>
            <td width="80">對像</td>
            <td width="80">管理員</td>
            <td>版塊</td>
            <td>描述</td>
            <td width="90">操作日期</td>
            <td width="90">IP</td>
        </tr>
<!--
EOT;
if (empty($logdb)) {print <<<EOT
-->
<tr><td class="p10" colspan="8"><div class="admin_tips">啊哦，沒有你要的信息！</div></td></tr>
<!--
EOT;
}else{
foreach($logdb as $key => $value){
print <<<EOT
-->
    <tr class="tr1 vt">
        <td class="td2">
<!--
EOT;
if(($timestamp-$value[timestamp])>259100){print <<<EOT
-->
        <input type="checkbox" name="selid[]" value="$value[id]" onclick="pwJsCheck(this)" />
<!--
EOT;
}print <<<EOT
-->
        </td>
        <td class="td2">{$lang[logtype][$value[type]]}</td>
        <td class="td2"><a href="u.php?username=$value[username1]" target="_blank">$value[username1]</a></td>
        <td class="td2"><a href="u.php?username=$value[username2]" target="_blank">$value[username2]</a></td>
        <td class="td2"><a href="thread.php?fid=$value[field1]" target="_blank">{$forum[$value[field1]][name]}</a></td>
        <td class="td2">$value[descrip]</td>
        <td class="td2">$value[date]</td>
        <td class="td2">$value[ip]</td>
    </tr>
<!--
EOT;
}}
$j_url=EncodeUrl("$basename&action=delall");
print <<<EOT
-->
    </table>
</div>
<div class="cc mb10">$pages</div>
<div class="mb10 tac">
	<span class="bt"><span><button type="button" onclick="CheckAll(document.FORM)">全 選</button></span></span>
    <span class="btn"><span><button type="submit" name="submit" value="刪除">刪除</button></span></span>
    <span class="bt"><span><button type="button" onclick="delRecord();">刪除多餘管理日誌</button></span></span>
</div>
</form>
<script type="text/javascript">
var j_url = '$j_url';
function delRecord(){
	if(!confirm("是否要刪除多餘日誌？"))
		return false;
	location.href=j_url;
}
</script>
<!--
EOT;
include_once PrintEot('adminbottom');
?>
-->