<!--<?php
include_once PrintEot('left');
if (empty($action)){print <<<EOT
-->
<div class="nav3 mb10">
    <ul class="cc">
		<li><a href="$jobUrl">緩存管理</a></li>
		<li><a href="$jobUrl&adminitem=pwcache">PW緩存庫</a></li>
		<li><a href="$jobUrl&adminitem=threadcache">主題列表緩存</a></li>
		<li><a href="$jobUrl&adminitem=guestcache">遊客緩存</a></li>
		<li class="current"><a href="$jobUrl&adminitem=guestdir">清空緩存</a></li>
		<li><a href="$jobUrl&adminitem=blacklist">調用黑名單</a></li>
    </ul>
</div>
<form action="$basename" method="post">
  <input type="hidden" name="action" value="delete" />
  <h2 class="h1"><span class="mr20">刪除遊客緩存文件</span><span class="linka">遊客緩存文件統計共有:緩存文件 (<font color="red">{$g_num}</font>) 個；佔用空間 (<font color="red">$g_size</font>) M</span></h2>
  <div class="admin_table mb10">
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr class="tr1 vt">
        <td class="td1">選擇範圍</td>
        <td class="td2"><ul class="list_A">
            <li><input name="selid[1]" type="checkbox" value="1" />首頁</li>
            <li><input name="selid[2]" type="checkbox" value="1" />主題列表頁</li>
            <li><input name="selid[3]" type="checkbox" value="1" />帖子頁面</li>
          </ul></td>
      </tr>
      <tr class="tr1 vt">
        <td class="td1">每批處理的個數</td>
        <td class="td2"><input type="text" name="num" class="input input_wa" value="1000" /></td>
      </tr>
    </table>
  </div>
  <div class="mb10 tac"><span class="btn"><span>
    <button type="submit"  value="提 交">提 交</button>
    </span></span></div>
</form>
<form action="$basename" method="post">
<input type="hidden" name="action" value="delf" />
<h3 class="h1"><span class="mr20">清空主題列表緩存文件</span><span class="linka">主題列表緩存文件統計共有:緩存文件 (<font color="red">{$f_num}</font>) 個；佔用空間 (<font color="red">$f_size</font>) M</span></h3>
<div class="admin_table mb10">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tr1 vt">
        <td class="td1">每批處理的個數</td>
        <td class="td2"><input type="text" name="num" class="input input_wa" value="1000" /></td>
        <td class="td2">&nbsp;</td>
      </tr>
  </table>
</div>
<div class="mb10 tac"><span class="btn"><span>
  <button type="submit"  value="清 空">清 空</button>
  </span></span></div>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>-->
