<!--<?php print <<<EOT
-->
<link href="images/admin/xiangdao/xiangdao.css" type="text/css" rel="stylesheet" />
<script src="js/pw_ajax.js"></script>
<script src="js/desktop/adminguide.js"></script>
<script type="text/javascript">
var ajaxurl = '$ajaxurl';
var isshow = "$db_guideshow";
window.onReady(function(){
	(isshow == 1) ? adminguide.step() : 0;
});
</script>
<div id="guide">
<input name="guideshow" type="hidden" value="$db_guideshow" id="guideshow"/>
<div id="step1" style="display:none;">
<div class="xdwrap">
  <div class="xdmain">
      <div style="height:50px">
          <h5 class="fl">歡迎使用新手指南</h5>

          <div class="fr"><a href="javascript:;" id="close"><img src="images/admin/xiangdao/close.png" /></a></div>
      </div>

    <div class="c"></div>
    <div class="fl stepcontent">
      <div style="padding:0 0 0 20px">
        <h6>第一步：估算初期目標，優化站點負載</h6>
        <p class="graystep">站點負載，通俗上指站點對訪問量的承受能力。通常情況下，高訪問量勢必帶來低訪問效果，從而降低用戶體驗。此設置通過預計站點訪問量，不改動現有的硬件設施，從代碼上優化站點負載、程序級均衡訪問量與訪問效果，降低後期運營風險。</p>
      </div>

      <p style="margin-top:30px"><b>操作步驟:</b></p>
      <p>創始人->站點優化方案，根據站點訪問量優化站點負載。</p>
    </div>
    <div class="fr step1"></div>
    <div class="c"></div>
    <div style="margin-top:20px">
      <div class="fl stepfoot"><a href="http://faq.phpwind.net/" target="_blank">更詳細解答請查看FAQ</a></div>

      <div class="fr">
      	<span>1/5</span>
        <input name="" type="button" value="下一步" class="stepbtn" go="next" />
        <input name="" type="checkbox" value=""/>
        下次登錄時顯示</div>
    </div>
  </div>
</div>
</div>

<div id="step2" style="display:none;">
<div class="xdwrap">
  <div class="xdmain">
  <div style="height:50px">
  	<h5 class="fl">歡迎使用新手指南</h5>
    <div class="fr"><a href="javascript:;" id="close"><img src="images/admin/xiangdao/close.png" /></a></div>
    </div>
    <div class="c"></div>
    <div class="fl stepcontent">
      <div style="padding-left:20px">
        <h6>第二步：修改站點基本信息</h6>
        <p class="graystep">站點基本信息，網民從互聯網上找到你的必要條件，搜索引擎收入的重要依據。</p>
      </div>
      <p style="margin-top:30px"><b>操作步驟:</b></p>
      <p>1 全局->常規設置->站點信息，填寫站點名稱、地址、ICP等信息</p>
	  <p>2 全局->SEO設置，填寫頁面title等信息</p>
    </div>
    <div class="fr step2"></div>
    <div class="c"></div>
    <div style="margin-top:38px">
      <div class="fl stepfoot"><a href="http://faq.phpwind.net/" target="_blank">更詳細解答請查看FAQ</a></div>
      <div class="fr">
      	<span>2/5</span>
        <input name="" type="button" value="上一步" class="stepbtn" go="up"/> <input name="" type="button" value="下一步" class="stepbtn" go="next"/>
        <input name="" type="checkbox" value="" />
        下次登錄時顯示</div>
    </div>
  </div>
</div>
</div>


<div id="step3" style="display:none;">
<div class="xdwrap">
  <div class="xdmain">
  <div style="height:50px">
   <h5 class="fl">歡迎使用新手指南</h5><div class="fr"><a href="javascript:;" id="close"><img src="images/admin/xiangdao/close.png" /></a></div>
  </div>

    <div class="c"></div>
    <div class="fl stepcontent">
      <div style="padding-left:20px">
        <h6>第三步：創建版塊</h6>
        <p class="graystep">內容是站點的基礎。版塊是對站點內容的分類和劃分。系統支持4級版塊：分類、子版塊、二級子版、三級子版。</p>
      </div>
      <p style="margin-top:30px"><b>操作步驟:</b></p>
      <p>1 內容版塊->版塊管理->管理版塊，添加設置版塊分類</p>
      <p>2 內容版塊->版塊管理->管理版塊，添加設置分類子版塊</p>
      <p>3 內容版塊->版塊管理->管理版塊，設置版塊版主</p>
    </div>
    <div class="fr step3"></div>
    <div class="c"></div>
    <div style="margin-top:20px">
      <div class="fl stepfoot"><a href="http://faq.phpwind.net/" target="_blank">更詳細解答請查看FAQ</a></div>
      <div class="fr">
      	<span>3/5</span>
        <input name="" type="button" value="上一步" class="stepbtn" go="up"/>
        <input name="" type="button" value="下一步" class="stepbtn" go="next"/>
        <input name="" type="checkbox" value="" />
        下次登錄時顯示</div>
    </div>
  </div>
</div>
</div>

<div id="step4" style="display:none;">
<div class="xdwrap">
  <div class="xdmain">
  <div style="height:50px">
    <h5 class="fl">歡迎使用新手指南</h5>
    <div class="fr"><a href="javascript:;" id="close"><img src="images/admin/xiangdao/close.png" /></a></div>
  </div>
    <div class="c"></div>
    <div class="fl stepcontent">
      <div style="padding-left:20px">
        <h6>第四步：編輯會員組權限</h6>
        <p class="graystep">如果說內容是站點的基礎，那麼會員則是站點的根本，因為站點的很多內容都源於會員，會員的積極發言能吸引更多的會員，從而形成站點良性運營，促使站點壯大。系統分為擁有多種等級的普通會員組、具有一定管理權限的系統組、擁有特殊權限的特殊用戶組，以及用於擴展的默認組。 </p>
      </div>
      <p style="margin-top:4px"><b>操作步驟:</b></p>
      <p>1 會員權限->會員組管理->會員組權限 設置各種會員組權限</p>
      <p>2 會員權限->會員組管理->會員組提升方案 設置普通會員組提升方案</p>
    </div>
    <div class="fr step4"></div>
    <div class="c"></div>
    <div style="margin-top:10px">
      <div class="fl stepfoot"><a href="http://faq.phpwind.net/" target="_blank">更詳細解答請查看FAQ</a></div>
      <div class="fr">
      	<span>4/5</span>
        <input name="" type="button" value="上一步" class="stepbtn" go="up"/>
        <input name="" type="button" value="下一步" class="stepbtn" go="next"/>
        <input name="" type="checkbox" value="" />
        下次登錄時顯示</div>
    </div>
  </div>
 </div>
</div>

<div id="step5" style="display:none;">
<div class="xdwrap">
  <div class="xdmain">
   <div style="height:50px">
    <h5 class="fl">歡迎使用新手指南</h5><div class="fr"><a href="javascript:;" id="close"><img src="images/admin/xiangdao/close.png" /></a></div>
   </div>
    <div class="c"></div>
    <div class="fl stepcontent">
      <div style="padding-left:20px">
        <h6>第五步：備份數據</h6>
        <p class="graystep">數據包括站點內的所有信息，為以防萬一，時刻保證站點數據的安全，我們必須養成週期性備份數據的習慣。<br />
        <p class="graystep">註：如果數據量較大，建議在服務器上直接備份</p>
        </p>
      </div>
      <p style="margin-top:30px"><b>操作步驟:</b></p>
      <p>數據緩存->數據庫->數據備份 選擇需要備份的數據表進行備份</p>
    </div>
    <div class="fr step5"></div>
    <div class="c"></div>
    <div style="margin-top:38px">
      <div class="fl stepfoot"><a href="http://faq.phpwind.net/" target="_blank">更詳細解答請查看FAQ</a></div>
      <div class="fr">
      	<span>5/5</span>
        <input name="" type="button" value="上一步" class="stepbtn" go="up"/>
        <input name="" type="button" value="完成" class="stepbtn" go="finish"/>
        <input name="" type="checkbox" value="" />
        下次登錄時顯示</div>
    </div>
  </div>
</div>
</div>
</div>
<!--
EOT;
?>