<!--<?php
include_once PrintEot('left');
if($adminitem !='rebang') {print <<<EOT
-->
<form action="$basename" method="post">
<input type="hidden" name="step" value="2">
<!--
EOT;
if($adminitem=='index' || $settingdb['index']){print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc">
		<li class="current"><a href="$admin_file?adminjob=interfacesettings&adminitem=index">首頁</a></li>
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=thread">列表頁</a></li>
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=read">閱讀頁</a></li>
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=popinfo">提示信息</a></li>
        <li><a href="$admin_file?adminjob=interfacesettings&adminitem=jsinvoke">js調用設置</a></li>
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=overprint">主題印戳</a></li>
	</ul>
</div>
<h3 class="h1">首頁細節設置</h3>
<div class="admin_table mb10">
	<table width="100%" cellspacing="0" cellpadding="0">
	<!-- 	<tr class="tr1 vt">
			<td class="td1"><span class="xia2">站點默認首頁:</span><br />當地址欄裡沒有指定訪問哪個頁面時，默認指向的頁面</td>
			<td class="td2">
				<input type="radio" value="0" name="config[setindex]" $setindex_N /> 站點首頁
				<input type="radio" value="1" name="config[setindex]" $setindex_Y /> home首頁
			</td>
				</tr> -->
		<tr class="tr1 vt">
			<td class="td1">站點首頁調用文件</td>
			<td class="td2"><input name="config[bfn]" value="$db_bfn" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">站點首頁文件名。默認為index.php。請確保此處與系統文件名保持一致</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">發帖數顯示</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[todaypost]" $todaypost_Y>開啟</li>
					<li><input type="radio" value="0" name="config[todaypost]" $todaypost_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">在首頁顯示今日昨日發帖數 與 版塊今日發帖數 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">自定義版塊logo</td>
			<td class="td2">
				<ul class="list_C">
					<li><input type="radio" value="0" name="config[indexfmlogo]" $indexfmlogo_0>不使用</li>
					<li><input type="radio" value="1" name="config[indexfmlogo]" $indexfmlogo_1>默認</li>
					<li><input type="radio" value="2" name="config[indexfmlogo]" $indexfmlogo_2>自定義</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">不使用:不顯示版塊Logo<br />使用默認:將圖標命名為*.gif(*表示對應的版塊ID),上傳至images\***\ forumlogo(*代表風格目錄名稱)即可 <br />使用自定義:在版塊設置裡上傳圖片或填寫圖片地址即可 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">下拉框方式顯示版主</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[adminshow]" $adminshow_Y>開啟</li>
					<li><input type="radio" value="0" name="config[adminshow]" $adminshow_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">下拉框方式顯示版主。默認關閉 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">顯示今天生日會員</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[indexshowbirth]" $indexshowbirth_Y>開啟</li>
					<li><input type="radio" value="0" name="config[indexshowbirth]" $indexshowbirth_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟後，將在站點首頁顯示今天過生日的會員 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">無會員生日自動隱藏</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[bdayautohide]" $bdayautohide_Y>開啟</li>
					<li><input type="radio" value="0" name="config[bdayautohide]" $bdayautohide_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟後，沒有人過生日的時候站點首頁將自動隱藏今日生日模塊 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">顯示友情鏈接</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[indexlink]" $indexlink_Y>開啟</li>
					<li><input type="radio" value="0" name="config[indexlink]" $indexlink_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟後在首頁顯示友情鏈接 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">滾動顯示友情鏈接</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[indexmqshare]" $indexmqshare_Y>開啟</li>
					<li><input type="radio" value="0" name="config[indexmqshare]" $indexmqshare_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">默認關閉 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">自助友情鏈接</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[ifselfshare]" $ifselfshare_Y>開啟</li>
					<li><input type="radio" value="0" name="config[ifselfshare]" $ifselfshare_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">會員可在前台自助申請友情鏈接(每個會員只能申請一次)，管理員審核通過後在前台顯示 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">在線顯示用戶組</td>
			<td class="td2">$usergroup</td>
			<td class="td2"><div class="help_a">請選擇在線顯示的用戶組，復選框內填寫用戶組顯示順序。<br /><br /><font color="#0000FF">註：1、全不選則顯示「普通會員」。<br />2、在線圖標存放在「images/所選風格的圖片目錄/group/用戶組ID.gif」，如「images/wind/group/3.gif」。<br />在線圖標以用戶組ID命名，請檢查圖片是否存在，<b>不存在則無法正常顯示</b></font>。 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">首頁顯示在線用戶</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[indexonline]" $indexonline_Y>開啟</li>
					<li><input type="radio" value="0" name="config[indexonline]" $indexonline_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">影響速度 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">首頁顯示在線遊客</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[showguest]" $showguest_Y>開啟</li>
					<li><input type="radio" value="0" name="config[showguest]" $showguest_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">影響速度 </div></td>
		 </tr>
	</table>
</div>
<!--
EOT;
}if($adminitem=='thread' || $settingdb['thread']){print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc">
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=index">首頁</a></li>
		<li class="current"><a href="$admin_file?adminjob=interfacesettings&adminitem=thread">列表頁</a></li>
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=read">閱讀頁</a></li>
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=popinfo">提示信息</a></li>
        <li><a href="$admin_file?adminjob=interfacesettings&adminitem=jsinvoke">js調用設置</a></li>
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=overprint">主題印戳</a></li>
	</ul>
</div>
<h3 class="h1">主題列表細節設置</h3>
<div class="admin_table mb10">
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr1 vt">
			<td class="td1">新帖控制[秒]</td>
			<td class="td2"><input name="config[newtime]" value="$db_newtime" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">超過設定時間主題將不再顯示為新帖 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">每頁顯示主題數目</td>
			<td class="td2"><input name="config[perpage]" value="$db_perpage" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">每頁顯示主題數目，默認20個 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">最大顯示頁數</td>
			<td class="td2"><input name="config[maxpage]" value="$db_maxpage" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">主題列表中用戶可以查看的最大頁數，建議設置為 1000 －2500 之間，0 為不限制 </div></td>
		</tr>
		<tr class="tr1 vt" style="display:none">
			<td class="td1">主題分類默認顯示個數</td>
			<td class="td2"><input name="config[maxtypenum]" value="$db_maxtypenum" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">默認5個 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">點擊數更新策略</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="0" name="config[hits_store]" $hits_store_0>實時更新</li>
					<li><input type="radio" value="1" name="config[hits_store]" $hits_store_1>數據庫緩存</li>
					<li><input type="radio" value="2" name="config[hits_store]" $hits_store_2>文本緩存</li>
				</ul>				
			</td>
			<td class="td2"><div class="help_a">在站點訪問壓力過大或者開啟memcache時建議使用數據庫緩存 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">文本緩存延遲更新[小時]</td>
			<td class="td2">
				<select name="config[hithour]" class="select_wa">
					<option value="1" $hithour_sel[1]>1</option>
					<option value="4" $hithour_sel[4]>4</option>
					<option value="6" $hithour_sel[6]>6</option>
					<option value="8" $hithour_sel[8]>8</option>
					<option value="12" $hithour_sel[12]>12</option>
					<option value="20" $hithour_sel[20]>24</option>
				</select>
			</td>
			<td class="td2"><div class="help_a">點擊數文件緩存更新時間,使用生成html功能將自動使用此功能 </div></td>
		</tr>		
		
		<!--<tr class="tr1 vt">
			<td class="td1"><span class="xia2">總置頂,分類置頂功能:</span><br />置頂3: 為總置頂。置頂2: 為分類置頂。置頂1:為本版塊置頂</td>
			<td class="td2">
				<input type="radio" value="1" name="config[topped]" $topped_Y>開啟
				<input type="radio" value="0" name="config[topped]" $topped_N>關閉
			</td>
				</tr>
		-->
		<tr class="tr1 vt">
			<td class="td1">版塊內顯示在線用戶</td>
			<td class="td2">
			<input type="hidden" value="1" name="config[topped]" />
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[threadonline]" $threadonline_Y>開啟</li>
					<li><input type="radio" value="0" name="config[threadonline]" $threadonline_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">可查看到在該版塊的所有在線人員 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">顯示表情符</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[threademotion]" $threademotion_Y>開啟</li>
					<li><input type="radio" value="0" name="config[threademotion]" $threademotion_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">在帖子列表頁顯示表情符 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">顯示快速發表主題</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[threadshowpost]" $threadshowpost_Y>開啟</li>
					<li><input type="radio" value="0" name="config[threadshowpost]" $threadshowpost_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟後可快速發表主題 </div></td>
		 </tr>
		 <tr class="tr1 vt">
			<td class="td1">側欄版塊列表</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[threadsidebarifopen]" $threadsidebarifopen_Y>開啟</li>
					<li><input type="radio" value="0" name="config[threadsidebarifopen]" $threadsidebarifopen_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟後列表頁顯示版塊列表 </div></td>
		 </tr>
		 <tr class="tr1 vt">
			<td class="td1">側欄版塊列表寬度</td>
			<td class="td2"><input name="config[threadsidebarwidth]" value="$db_threadsidebarwidth" class="input input_wa" /> px</td>
			<td class="td2"><div class="help_a">設置版塊列表寬度，可根據版塊名稱長短適當調整，默認為 130px </div></td>
		 </tr>
	</table>
</div>
<!--
EOT;
}if($adminitem=='read' || $settingdb['read']){print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc">
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=index">首頁</a></li>
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=thread">列表頁</a></li>
		<li class="current"><a href="$admin_file?adminjob=interfacesettings&adminitem=read">閱讀頁</a></li>
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=popinfo">提示信息</a></li>
        <li><a href="$admin_file?adminjob=interfacesettings&adminitem=jsinvoke">js調用設置</a></li>
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=overprint">主題印戳</a></li>
	</ul>
</div>
<h3 class="h1">帖子閱讀頁面細節設置</h3>
<div class="admin_table mb10">
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr1 vt">
			<td class="td1">每頁帖子樓層數</td>
			<td class="td2"><input name="config[readperpage]" value="$db_readperpage" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">默認10個 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">匿名的名稱</td>
			<td class="td2"><input name="config[anonymousname]" value="$db_anonymousname" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">發表匿名帖時,匿名用戶顯示的暱稱 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">顯示在線用戶狀態</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[showonline]" $showonline_Y>開啟</li>
					<li><input type="radio" value="0" name="config[showonline]" $showonline_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟後，可查看到在當前閱讀頁的所有會員 </div></td>
		</tr>
		<!-- <tr class="tr1 vt">
			<td class="td1">顯示會員加入的群組</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[showcolony]" $showcolony_Y>開啟</li>
					<li><input type="radio" value="0" name="config[showcolony]" $showcolony_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">在帖子閱讀頁個人信息欄顯示會員加入的群組:</span> </div></td>
		</tr> -->
		<tr class="tr1 vt">
			<td class="td1">閱讀頁個人信息顯示</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[readinfo]" $readinfo_Y>開啟</li>
					<li><input type="radio" value="0" name="config[readinfo]" $readinfo_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">關閉後，閱讀頁樓層左側用戶等級下方的用戶信息不再顯示</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">選擇要顯示的積分</td>
			<td class="td2">
				<ul class="list_A list_120">
<!--
EOT;
foreach ($credit->cType as $key => $value) {
$ctcked = in_array($key,$db_showcustom) ? ' checked' : '';
print <<<EOT
-->
					<li><input type="checkbox" name="showcustom[]" value="$key"{$ctcked} />{$value}</li>
<!--
EOT;
}print <<<EOT
-->
				</ul>
			</td>
			<td class="td2"><div class="help_a">在帖子閱讀頁個人信息欄顯示會員積分情況 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">評分時間限制[小時]</td>
			<td class="td2"><input name="config[pingtime]" value="$db_pingtime" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">帖子發表後超過此時間限制其他用戶將不能對此帖評分，系統組不受限制，0 為不限制 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">顯示會員IP來源</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[ipfrom]" $ipfrom_Y>開啟</li>
					<li><input type="radio" value="0" name="config[ipfrom]" $ipfrom_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">用戶權限中可單獨設置每個用戶組權限，此處關閉則所有用戶組都不能查看IP來源 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">屏蔽禁言會員所有帖子</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[shield]" $shield_Y>開啟</li>
					<li><input type="radio" value="0" name="config[shield]" $shield_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟後，會員將無法查看到禁言用戶發佈的所有帖子 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">記錄並顯示會員在線時間</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[ifonlinetime]" $ifonlinetime_Y>開啟</li>
					<li><input type="radio" value="0" name="config[ifonlinetime]" $ifonlinetime_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">在帖子閱讀頁個人信息名片中顯示會員在線時間 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">閱讀頁主題相關功能</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[threadrelated]" $threadrelated_Y>開啟</li>
					<li><input type="radio" value="0" name="config[threadrelated]" $threadrelated_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">具體設置請到版塊-版塊管理-設置，對每個版塊進行設置；將在每個帖子主題內容下方出現相關信息</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">帖子樓層單位</td>
			<td class="td2">
				<input name="config[floorunit]" value="$db_floorunit" class="input input_wa" />
			</td>
			<td class="td2"><div class="help_a">設置帖子顯示樓層的單位，如「樓」將顯示為 1 樓 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">帖子樓層名稱</td>
			<td class="td2">
				<textarea name="floorname" class="textarea" />$floorname</textarea>
			</td>
			<td class="td2"><div class="help_a">格式 「樓層名稱」或「N:樓層名稱」，N代表樓層數（主題帖為0樓），如果沒有指定樓層N，則第一行代表主題帖子。其中，連續樓層之間可以用『,』逗號隔開或換行，N後面的樓層為N+1，以此類推，直到再次出現N。例:<br />0:樓主，沙發，板凳<br />3:地板，地下室<br />100:中獎樓層 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">分享到各大網站</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[sharesite]" $sharesite_Y>開啟</li>
					<li><input type="radio" value="0" name="config[sharesite]" $sharesite_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟後，在帖子內容下面顯示分享到各大網站的控件 </div></td>
		</tr>
	</table>
</div>
<!--
EOT;
}if($adminitem=='popinfo' || $settingdb['popinfo']){
print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc">
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=index">首頁</a></li>
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=thread">列表頁</a></li>
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=read">閱讀頁</a></li>
		<li class="current"><a href="$admin_file?adminjob=interfacesettings&adminitem=popinfo">提示信息</a></li>
        <li><a href="$admin_file?adminjob=interfacesettings&adminitem=jsinvoke">js調用設置</a></li>
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=overprint">主題印戳</a></li>
	</ul>
</div>
<h3 class="h1">重要頁面彈出信息設置</h3>
<div class="admin_table mb10">
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr1 vt">
			<td class="td1">註冊頁面</td>
			<td class="td2"><textarea wrap="off" name="sitemsg[reg]" class="textarea">$db_sitemsg[reg]</textarea></td>
			<td class="td2"><div class="help_a">註冊頁面的彈出信息，每行填寫一條信息，多條信息將隨機顯示 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">登錄頁面</td>
			<td class="td2"><textarea wrap="off" name="sitemsg[login]" class="textarea">$db_sitemsg[login]</textarea></td>
			<td class="td2"><div class="help_a">登錄頁面的彈出信息，每行填寫一條信息，多條信息將隨機顯示 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">發帖頁面</td>
			<td class="td2"><textarea wrap="off" name="sitemsg[post]" class="textarea">$db_sitemsg[post]</textarea></td>
			<td class="td2"><div class="help_a">發帖頁面的彈出信息，每行填寫一條信息，多條信息將隨機顯示 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">回復頁面</td>
			<td class="td2"><textarea wrap="off" name="sitemsg[reply]" class="textarea">$db_sitemsg[reply]</textarea></td>
			<td class="td2"><div class="help_a">回復頁面的彈出信息，每行填寫一條信息，多條信息將隨機顯示 </div></td>
		</tr>
	</table>
</div>
<!--
EOT;
}if($adminitem=='jsinvoke' || $settingdb['jsinvoke']){
print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc">
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=index">首頁</a></li>
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=thread">列表頁</a></li>
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=read">閱讀頁</a></li>
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=popinfo">提示信息</a></li>
        <li class="current"><a href="$admin_file?adminjob=interfacesettings&adminitem=jsinvoke">js調用設置</a></li>
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=overprint">主題印戳</a></li>
	</ul>
</div>
<h3 class="h1">JS調用設置</h3>
<div class="admin_table mb10">
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr1 vt">
			<td class="td1">JS調用</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[jsifopen]" $jsifopen_Y>開啟</li>
					<li><input type="radio" value="0" name="config[jsifopen]" $jsifopen_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">此功能允許在您的網站首頁或其他地方調用站點的內容。<br />調用方式分為: 版塊調用、公告調用、基本信息調用、會員排行調用、文章調用 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">緩存更新時間[秒]</td>
			<td class="td2"><input name="config[jsper]" value="$db_jsper" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">由於部分調用查詢比較消耗服務器資源，系統採用了緩存技術實現數據定期更新。<br />建議設置為:900 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">可調用的網站域名</td>
			<td class="td2"><input name="config[bindurl]" value="$db_bindurl" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">您可以設置允許調用站點內容的網站域名列表，只有在列表中的域名才能調用站點信息。<br />多個域名用 "," 分隔域名，不要包含 http:// 或其他非域名內容，留空不限制 </div></td>
		</tr>
	</table>
</div>
<!--
EOT;
}if ($pwatermark != 1 && $pathumb != 1) {print <<<EOT
-->
<div class="tac mb10"><span id="submit" class="btn"><span><button type="submit" onfocus="blur();">提 交</button></span></span></div>
<!--
EOT;
}print<<<EOT
-->
</form>

<!--
EOT;
}include_once PrintEot('adminbottom');
?>-->