<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<div class="nav3 mb10">
  <ul class="cc">
    <li class="current"><a href="$admin_file?adminjob=ipban">IP 禁止</a></li>
    <li><a href="$admin_file?adminjob=ipban&job=ipstates">IP 統計</a></li>
    <li><a href="$admin_file?adminjob=ipban&job=ipsearch">IP 檢索</a></li>
  </ul>
</div>
<div class="admin_info mb10">
  <h3 class="h1"><b>提示信息</b></h3>
  <div class="legend">禁止後，指定的IP將無法訪問站點。<br />可用於禁止某個具體IP，如：192.0.0.1<br />可用於禁止某個IP網段，如：192.0.0<br />多個IP信息，請使用換行符或回車鍵進行分隔</div>
</div>
<form action=$basename method=post name="submit">
  <h2 class="h1"><b>以下為被禁止的IP:</b></h2>
  <div class="admin_table mb10">
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr class="tr1 vt">
        <td class="td2"><textarea name="baninfo" class="textarea">$baninfo</textarea></td>
      </tr>
    </table>
  </div>
  <input type=hidden name="action" value="unsubmit">
  <div class="mb10 tac"><span class="btn"><span>
    <button type="submit" name="submit" value="提 交">提 交</button>
    </span></span></div>
</form>
<!--
EOT;
include_once PrintEot('adminbottom');
?>
-->
