<!--<?php
include_once PrintEot('left');
if (empty($action) || $action=='force'){
print <<<EOT
-->
<div class="nav3 mb10">
  <ul class="cc">
    <li><a href="$admin_file?adminjob=ipban">IP 禁止</a></li>
    <li><a href="$admin_file?adminjob=ipban&job=ipstates">IP 統計</a></li>
    <li class="current"><a href="$admin_file?adminjob=ipban&job=ipsearch">IP 檢索</a></li>
  </ul>
</div>
<div class="admin_info mb10">
  <h3 class="h1"><b>提示信息</b></h3>
  <div class="legend">IP搜索工具:<ol><li>可以根據用戶名搜索該用戶使用過的所有IP</li><li>可以根據IP地址搜索使用過該IP的所有用戶(<font color=blue>此項功能存在負載性,大型站點請謹慎使用!</font>)</li></ol></div>
</div>
<form action="$basename&" method=post>
  <input type="hidden" name="action" value="byname">
  <h2 class="h1">根據用戶名搜索</h2>
  <div class="admin_table mb10">
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr class="tr1 vt">
        <td class="td1">用戶名</td>
        <td class="td2"><input class="input input_wa" type="text" name="username"></td>
      </tr>
    </table>
  </div>
  <div class="mb10 tac"> <span class="btn"><span>
    <button type="submit"  value="提 交">提 交</button>
    </span></span></div>
</form>
<form action="$basename&" method=post>
  <input type="hidden" name="action" value="byip">
  <h2 class="h1">根據IP地址搜索</h2>
  <div class="admin_table mb10">
      <table width="100%" cellspacing="0" cellpadding="0">
        <tr class="tr1 vt">
          <td class="td1">IP地址</td>
          <td class="td2"><input class="input input_wa" type="text" name="userip"></td>
		  <td class="td2"><div class="help_a">由於該功能具有一定的負載性，會員超過10萬，帖子超過30萬的站點系統將自動禁止使用該功能</div></td>
        </tr>
      </table>
  </div>
  <div class="mb10 tac"> <span class="btn"><span>
    <button type="submit"  value="提 交">提 交</button>
    </span></span></div>
</form>
<!--
EOT;
}elseif($action=="byname"){print <<<EOT
-->
<div class="mb10 nav3">
	<ul class="cc">
	  <li><a href="$admin_file?adminjob=ipban">IP 禁止</a></li>
	  <li><a href="$admin_file?adminjob=ipban&job=ipstates">IP 統計</a></li>
	  <li class="current"><a href="$admin_file?adminjob=ipban&job=ipsearch">IP 檢索</a></li>
	</ul>
</div>
<div class="mb10">$pages</div>
<div class="c"></div>
<h2 class="h1">根據用戶名搜索</h2>
<div class="admin_table mb10">
<table width="100%" cellspacing="0" cellpadding="0">
  <tr class="tr2 vt td_bgB">
    <td width="15">ID</td>
    <td>用戶名</td>
    <td>IP</td>
    <td>使用時間</td>
  </tr>
<!--
EOT;
for($i=$start;$i<$end;$i++){
$value=$ipdb[$i];
$id=$i+1;
print <<<EOT
-->
  <tr class="tr1 vt">
    <td class="td2">$id</td>
    <td class="td2"><a href="$admin_file?adminjob=setuser&action=edit&uid=$value[uid]" title="查看用戶資料">$value[username]</a></td>
    <td class="td2"><a href="$basename&action=byip&userip=$value[userip]&type=1" title="搜索該IP相關記錄">$value[userip]</a></td>
    <td class="td2">$value[lasttime]</td>
  </tr>
<!--
EOT;
}print <<<EOT
-->
</table>
</div>
<div class="cc">$pages</div>
<!--
EOT;
}elseif($action=="byip"){print <<<EOT
print <<<EOT
-->
<div class="mb10 nav3">
	<ul class="cc">
	  <li><a href="$admin_file?adminjob=ipban">IP 禁止</a></li>
	  <li><a href="$admin_file?adminjob=ipban&job=ipstates">IP 統計</a></li>
	  <li class="current"><a href="$admin_file?adminjob=ipban&job=ipsearch">IP 檢索</a></li>
	</ul>
</div>
<div class="mb10">$pages</div>
<div class="c"></div>
<form name="form1">
  <h2 class="h1">根據IP地址搜索</h2>
  <div class="admin_table">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tr2 vt td_bgB">
      <td width="15">ID</td>
      <td width="20%">IP</td>
      <td width="20%">用戶名</td>
      <td>使用時間</td>
      <td width="15%">選項</td>
    </tr>
<!--
EOT;
for($i=$start;$i<$end;$i++){
$value=$userdb[$i];
$id=$i+1;
print <<<EOT
-->
    <tr class="tr1 vt">
      <td class="td2">$id</td>
      <td class="td2">$value[userip]</td>
      <td class="td2">$value[username]</td>
      <td class="td2">$value[lasttime]</td>
      <td class="td2"><select name="ipoption_$id" onchange="ip_jump('ipoption_$id');">
          <option></option>
          <option value="$basename&action=byname&username=$value[username]&type=1">查看該用戶使用過IP</option>
          <option value="$admin_file?adminjob=usermanage&adminitem=edit&action=edit&uid=$value[uid]">查看用戶資料</option>
          <option value="$admin_file?adminjob=superdel&admintype=article&action=deltpc&fid=-1&author=$value[username]"> 查看該用戶的主題</option>
          <option value="$admin_file?adminjob=superdel&admintype=article&action=delrpl&fid=-1&author=$value[username]"> 查看該用戶的回復</option>
        </select>
      </td>
    </tr>
<!--
EOT;
}
print <<<EOT
-->
  </table>
  </div>
</form>
<div class="cc mb10">$pages</div>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>
-->
