<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<script type="text/javascript" src="js/desktop/adminjob.js"></script>
<script type="text/javascript" src="js/date.js"></script>
<div class="admin_info mb10">
  <h3 class="h1"><b>提示信息</b></h3>
  <div class="legend">
    <ol>
      <li>可以通過設置不同的任務獎勵方式、任務申請條件和任務的完成條件，組合成各種適合不同用戶對象的任務</li>
      <li>注意：「符合條件自動申請」啟用後，為了不影響網站性能，建議不要設置「任務週期」、「前置任務」和「人數限制」</li>
    </ol>
  </div>
</div>
<h2 class="h1">
<!--
EOT;
if ($action == 'add') {print <<<EOT
-->
<span class="mr10">添加任務</span>
<!--
EOT;
} else {print <<<EOT
-->
<span class="mr10">編輯任務</span>
<!--
EOT;
}print <<<EOT
-->
<a href="$basename" class="linka">返回上一級<span class="f9">▲</span></a></h2>
<script type="text/javascript">
var checkForm = function(form){
	var title = form.title.value;
	var description = form.description.value;
	if(title == ""){
		alert("任務標題不能為空");
		return false;
	}
	if(description == ""){
		alert("任務描述不能為空");
		return false;
	}
	return true;
}
</script>
<form action="$basename&action=add" method="post" enctype="multipart/form-data" onsubmit="return checkForm(document.FORM);" name="FORM">
<input name="step" type="hidden" value="2" />
<input name="id" type="hidden" value="$id" />
<input name="isuserguide" type="hidden" value="$isuserguide" />
<!--
EOT;
if($isuserguide){
print <<<EOT
-->
<input name="factor[job]" type="hidden" value="$jobName" />
<input name="auto" type="hidden" value="1" />
<!--
EOT;
}print <<<EOT
-->
<div class="admin_table">
   <table cellpadding="0" cellspacing="0" width="100%">
      <tr class="tr2 td_bgB b">
        <td colspan="3">基本設置</td>
      </tr>
      <tr class="tr1 vt">
        <td class="td1">任務名稱 <span class="s1">*</span></td>
        <td class="td2"><input name="title" value="$title" type="text" class="input input_wb " /></td>
        <td class="td2"><div class="help_a"></div></td>
      </tr>
<!--
EOT;
if(!$isuserguide){
print <<<EOT
-->
      <tr class="tr1 vt">
        <td class="td1">任務描述 <span class="s1">*</span></td>
        <td class="td2"><textarea name="description" class="textarea">$description</textarea></td>
        <td class="td2"><div class="help_a">支持html代碼</div></td>
      </tr>
      <tr class="tr1 vt">
        <td class="td1">任務圖標</td>
        <td class="td2">
<!--
EOT;
if ($icon) {print <<<EOT
-->
        	<img id="icon_img" src="attachment/job/thumb_$icon"/><br/>
<!--
EOT;
}print <<<EOT
-->
        	<input name="icon" type="file" class="input input_wa" />
        </td>
         <td class="td2"><div class="help_a">留空則使用默認圖標，建議圖標文件尺寸為 64 x 64</div></td>
      </tr>
      <tr class="tr1 vt">
        <td class="td1">開始時間</td>
        <td class="td2">
        	<div class="input_img"><i onclick="this.nextSibling.onclick()" class="input_time" title="選擇時間">選擇時間</i><input name="starttime" type="text" value="$starttime" id="starttime" /></div>
        </td>
        <td class="td2"><div class="help_a">任務開始時間，留空表示任務立即開始</div></td>
      </tr>
      <tr class="tr1 vt">
        <td class="td1">結束時間</td>
        <td class="td2">
        	<div class="input_img"><i onclick="this.nextSibling.onclick()" class="input_time" title="選擇時間">選擇時間</i><input name="endtime" type="text" value="$endtime" id="endtime" /></div>
        </td>
        <td class="td2"><div class="help_a">任務結束時間，結束後會員將無法申請此任務，留空表示不限制</div></td>
      </tr>
      <tr class="tr1 vt">
        <td class="td1">任務週期[小時]</td>
        <td class="td2"><input name="period" type="text" value="$period" class="input input_wa" /></td>
        <td class="td2"><div class="help_a">如設置為24，則表示該任務結束24小時以後可以再次被申請，留空表示任務不可再申請。</div></td>
      </tr>
<!--
EOT;
}
print <<<EOT
-->
      <tr class="tr1 vt">
        <td class="td1">任務獎勵</td>
        <td class="td2">
        	<ul class="list_A fl" id="reward">
                <li><input name="reward[category]" type="radio" value="none" {$r_reward[none]} />無</li>
                <li><input name="reward[category]" type="radio" value="credit" {$r_reward[credit]} />積分</li>
                <li><input name="reward[category]" type="radio" value="tools" {$r_reward[tools]} {$toolsIsOpen}/>道具</li>
                <li><input name="reward[category]" type="radio" value="medal" {$r_reward[medal]} {$medalIsOpen} />勳章</li>
                <li><input name="reward[category]" type="radio" value="usergroup" {$r_reward[usergroup]} />用戶組</li>
                <li><input name="reward[category]" type="radio" value="invitecode" {$r_reward[invitecode]} {$inviteCodeIsOpen} />註冊邀請碼</li>
          	</ul>
           </td>
          <td class="td2"><div class="help_a">其中，道具、勳章和邀請碼需要開啟相應功能</div></td>
      </tr>

    </table>
<script type="text/javascript">
	window.onload = function(){
		if(parent.adminNavClass){
			parent.adminNavClass.initTips();
		}
		adminJobReady("reward_$category","$jobType","job_$jobName","$isuserguide");
	}
</script>
<!--====根據上面選擇切換===-->
<div id="rewardTables">
  <!-- 積分 -->
  <div class="admin_table mb10" id="reward_credit" style="display:none;">
    <table cellpadding="0" cellspacing="0" width="100%">
      <tr class="tr1 vt">
        <td class="td1">積分名稱</td>
        <td class="td2">$creditSelect</td>
        <td class="td2"><div class="help_a"></div></td>
      </tr>
      <tr class="tr1 vt">
        <td class="td1">積分數量</td>
        <td class="td2"><input name="reward[credit][num]" value="$r_credit[num]" type="text" class="input input_wa" /></td>
        <td class="td2"><div class="help_a"></div></td>
      </tr>
    </table>
  </div>
  <!-- 道具 -->
  <div class="admin_table mb10" id="reward_tools" style="display:none;">
    <table cellpadding="0" cellspacing="0" width="100%">
      <tr class="tr1 vt">
        <td class="td1">道具名稱</td>
        <td class="td2">$toolsSelect</td>
        <td class="td2"><div class="help_a"></div></td>
      </tr>
      <tr class="tr1 vt">
        <td class="td1">獎勵數量</td>
        <td class="td2"><input name="reward[tools][num]" type="text" class="input input_wa" value="$r_tools[num]" /></td>
        <td class="td2"><div class="help_a"></div></td>
      </tr>
    </table>
  </div>
  <!-- 勳章 -->
  <div class="admin_table mb10" id="reward_medal" style="display:none;">
    <table cellpadding="0" cellspacing="0" width="100%">
      <tr class="tr1 vt">
        <td class="td1">勳章名稱</td>
        <td class="td2">$medalSelect</td>
        <td class="td2"><div class="help_a"></div></td>
      </tr>
	  <!--
      <tr class="tr1 vt">
        <td class="td1">有效期[天]</td>
        <td class="td2"><input name="reward[medal][day]" type="text" class="input input_wa" value="$r_medal[day]"/></td>
        <td class="td2"><div class="help_a"></div></td>
      </tr>
	  -->
    </table>
  </div>
  <!-- 用戶組 -->
  <div class="admin_table mb10" id="reward_usergroup" style="display:none;">
    <table cellpadding="0" cellspacing="0" width="100%">
      <tr class="tr1 vt">
        <td class="td1">用戶組名稱</td>
        <td class="td2">$levelSelect</td>
        <td class="td2"><div class="help_a"></div></td>
      </tr>
      <tr class="tr1 vt">
        <td class="td1">獎勵時間[天]</td>
        <td class="td2"><input name="reward[usergroup][day]" type="text" class="input input_wa" value="$r_usergroup[day]" /></td>
        <td class="td2"><div class="help_a"></div></td>
      </tr>
    </table>
  </div>
  <!-- 註冊邀請碼 -->
  <div class="admin_table mb10" id="reward_invitecode" style="display:none;">
    <table cellpadding="0" cellspacing="0" width="100%">
      <tr class="tr1 vt">
        <td class="td1">邀請碼數量</td>
        <td class="td2"><input name="reward[invitecode][num]" type="text" class="input input_wa" value="$r_invitecode[num]" />
        <td class="td2"><div class="help_a"></div></td>
        </td>
      </tr>
      <tr class="tr1 vt">
        <td class="td1">有效期[天]</td>
        <td class="td2"><input name="reward[invitecode][day]" type="text" class="input input_wa" value="$r_invitecode[day]" /></td>
        <td class="td2"><div class="help_a"></div></td>
      </tr>
    </table>
  </div>
</div>
</div>
<!--====根據上面選擇切換結束===-->
<!--
EOT;
if(!$isuserguide){
print <<<EOT
-->
<div class="admin_table">
    <table cellpadding="0" cellspacing="0" width="100%">
      <tr class="tr2 td_bgB b">
        <td colspan="3">申請條件</td>
      </tr>
      <tr class="tr1 vt">
        <td class="td1">限制可申請用戶組</td>
        <td class="td2"> $levelCheckBox </td>
		<td class="td2"><div class="help_a">全不選則不限制</div></td>
      </tr>
      <tr class="tr1 vt">
        <td class="td1">前置任務</td>
        <td class="td2">$preposeSelect</td>
		<td class="td2"><div class="help_a">前置任務完成以後，才可以繼續當前的任務</div></td>
      </tr>
      <tr class="tr1 vt">
        <td class="td1">申請人數限制</td>
        <td class="td2"><input name="number" value="$number" type="text" class="input input_wa mr20"/>
           </td>
		  <td class="td2"><div class="help_a">當申請的人數達到設置值後，任務將不可再申請。0或留空表示不限制</div></td>
      </tr>
      <tr class="tr1 vt">
        <td  class="td1">符合條件自動申請</td>
        <td class="td2">
          		<ul class="list_A">
                    <li><input name="auto" type="radio" value="1" $auto[1] />給符合條件的用戶自動申請任務</li>
                	<li><input name="auto" type="radio" value="0" $auto[0] />用戶自己申請</li>
                </ul>
          </td><td  class="td2"><div class="help_a"></div></td>
      </tr>
      <tr class="tr1 vt">
        <td class="td1">顯示設置</td>
        <td class="td2">
          	<ul class="list_A">
               <li><input name="display" type="radio" value="1" $display[1] />符合申請條件的才顯示</li>
               <li><input name="display" type="radio" value="0" $display[0] />顯示給所有用戶</li>
           </ul>
         </td><td  class="td2"><div class="help_a"></div></td>
      </tr>

   </table>
</div>

<div class="admin_table">
    <table cellpadding="0" cellspacing="0" width="100%">
      <tr class="tr2 td_bgB b">
        <td colspan="3">完成條件</td>
      </tr>
      <tr class="tr1 vt">
        <td class="td1">完成限制</td>
        <td class="td2">
          <ul class="list_A">
               <li><input name="finish" type="radio" value="1" $finish[1] />必須完成</li>
               <li><input name="finish" type="radio" value="0" $finish[0] />可放棄</li>
           </ul>
         </td>
         <td class="td2"><div class="help_a"></div></td>
      </tr>
      <tr class="tr1 vt">
        <td class="td1">完成工作</td>
        <td class="td2">
        	<div class="cond cc">
        		<ul class="cond_l" id="joblist">$jobHtml</ul>
            	<div class="cond_r" id="joball">
                	<div class="cond_r_height">
                    	<div style="height:194px;overflow:hidden;overflow-y:auto;padding:0 10px;">$jobInfo</div>
                	</div>
                </div>
            </div>
         </td>
        <td class="td2"><div class="help_a">完成任務所需要執行的操作，比如上傳一個頭像，發佈一個帖子……<br />不同的操作會有不同的限制條件 </div></td>
      </tr>
    </table>
 </div>

<div id="jobTables">
  <!-- 任務具體內容開始 -->
  <!-- 支付寶綁定 -->
  <div class="admin_table">
  <table width="100%" id="job_doAuthAlipay" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">完成成果</td>
      <td class="td2">綁定支付寶後即可完成任務 </td>
      <td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="factor[doAuthAlipay][limit]" type="text" class="input input_wa"  value="$doAuthAlipay[limit]"/></td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 手機綁定 -->
  <div class="admin_table">
  <table width="100%" id="job_doAuthMobile" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">完成成果</td>
      <td class="td2">綁定手機後即可完成任務 </td>
      <td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="factor[doAuthMobile][limit]" type="text" class="input input_wa"  value="$doAuthMobile[limit]"/></td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 完善資料 -->
  <div class="admin_table">
  <table width="100%" id="job_doUpdatedata" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">完成成果</td>
      <td class="td2">完善自己的個人資料後即可完成任務 </td>
      <td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="factor[doUpdatedata][limit]" type="text" class="input input_wa"  value="$doUpdatedata[limit]"/></td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 上傳頭像 -->
  <div class="admin_table">
  <table width="100%" id="job_doUpdateAvatar" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">完成成果</td>
      <td class="td2"> 成功上傳個人頭像 </td>
      <td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="factor[doUpdateAvatar][limit]" type="text" class="input input_wa"  value="$doUpdateAvatar[limit]"/></td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 發送消息 -->
  <div class="admin_table">
  <table width="100%" id="job_doSendMessage" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">指定會員</td>
      <td class="td2"><input name="factor[doSendMessage][user]" value="$doSendMessage[user]" type="text" class="input input_wa" /></td>
      <td class="td2"><div class="help_a">給輸入框中指定會員發送短消息後即完成任務</div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="factor[doSendMessage][limit]" type="text" class="input input_wa"  value="$doSendMessage[limit]"/></td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 加好友 -->
  <div class="admin_table">
  <table width="100%" id="job_doAddFriend" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">完成成果</td>
      <td class="td2">
	  
       <input name="factor[doAddFriend][type]" type="radio"  value="1" $doAddFriend[type1] Onclick="getObj('friendnum').disabled='disabled';getObj('frienduser').disabled='';getObj('friendnum').value='';" /> 指定會員 
	   <input name="factor[doAddFriend][user]" type="text" id="frienduser" class="input input_wa mr20" value="$doAddFriend[user]" /><br />
       <input name="factor[doAddFriend][type]" type="radio"  value="2" $doAddFriend[type2] Onclick="getObj('frienduser').disabled='disabled';getObj('friendnum').disabled='';getObj('frienduser').value='';"/> 好友個數 
	   <input name="factor[doAddFriend][num]" type="text" id="friendnum" class="input input_wa mr20" value="$doAddFriend[num]" />
	      </td>
      <td class="td2"><div class="help_a">將輸入框中指定的某個會員加為好友即可完成任務<br />至少加多少個好友才能完成任務</div></td>
    </tr>
   
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="factor[doAddFriend][limit]" type="text" class="input input_wa mr20 fl" value="$doAddFriend[limit]"/>
      </td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 發帖 -->
  <div class="admin_table">
  <table width="100%" id="job_doPost" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">指定版塊</td>
      <td class="td2"><select name="factor[doPost][fid]" class="select_wa">
          $forumSelectHtml
        </select>
      </td>
      <td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">發帖數</td>
      <td class="td2"><input name="factor[doPost][num]" type="text" class="select_wa input_wa" value="$doPost[num]"/>
      </td>
      <td class="td2"><div class="help_a">在指定版塊發佈帖子數不小於設定值時才可以完成任務</div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="factor[doPost][limit]" type="text" class="select_wa input_wa" value="$doPost[limit]" />
      </td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 回復 -->
  <div class="admin_table">
  <table width="100%" id="job_doReply" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">指定回復</td>
      <td class="td2">
	    <input name="factor[doReply][type]" type="radio" value="1" $doReply[type1] /> 主題ID
        <input name="factor[doReply][tid]" type="text" class="select_wa input_wa mr20 " value="$doReply[tid]" /><br />
		<input name="factor[doReply][type]" type="radio" value="2" $doReply[type2] /> 用戶名
		<input name="factor[doReply][user]" type="text" class="select_wa input_wa mr20 " value="$doReply[user]" />
            </td>
      <td class="td2"><div class="help_a">必須回復指定主題才可完成任務<br />必須回復指定用戶發佈的主題才能完成任務 </div></td>
    </tr>
       <tr class="tr1 vt">
      <td class="td1">回複數</td>
      <td class="td2"><input name="factor[doReply][replynum]" type="text" class="select_wa input_wa" value="$doReply[replynum]"/>
      </td>
      <td class="td2"><div class="help_a">回複數不小於設定值時才能完成任務</div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="factor[doReply][limit]" type="text" class="select_wa input_wa" value="$doReply[limit]" />
      </td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 收藏 -->
  <div class="admin_table">
  <table width="100%" id="job_doFavor" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">主題id</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">必須收藏指定的主題才能完成任務</div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 分享 -->
  <div class="admin_table">
  <table width="100%" id="job_doForumShare" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">主題id</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">必須分享指定的主題才能完成任務</div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 評價 -->
  <div class="admin_table">
  <table width="100%" id="job_doVote" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">主題id</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">必須評價指定的主題才能完成任務。需要開啟評價功能</div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 使用道具 -->
  <div class="admin_table">
  <table width="100%" id="job_doUseTools" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">使用次數</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">至少使用多少次道具才能完成任務</div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 查看用戶名片 -->
  <div class="admin_table">
  <table width="100%" id="job_doLookCard" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">主題id</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">必須查看指定主題的樓主名片才能完成任務</div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 進入個人空間 -->
  <div class="admin_table">
  <table width="100%" id="job_doEntrySelf" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">完成成果</td>
      <td class="td2" colspan="2">進入會員自己的個人空間後即可完成任務</td>
	  <td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 進入朋友個人空間 -->
  <div class="admin_table">
  <table width="100%" id="job_doEntryFriend" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">用戶名</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2" colspan="2"><div class="help_a">進入指定用戶的個人空間後即可完成任務</div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 發記錄 -->
  <div class="admin_table">
  <table width="100%" id="job_doWrite" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">記錄數</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2" colspan="2"><div class="help_a">至少發佈多少個記錄後才能完成任務</div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 發日誌 -->
  <div class="admin_table">
  <table width="100%" id="job_doDiary" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">日誌數</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2" colspan="2"><div class="help_a">至少發佈多少個日誌後才能完成任務</div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 傳照片 -->
  <div class="admin_table">
  <table width="100%" id="job_doPhoto" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">照片數</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2" colspan="2"><div class="help_a">至少上傳多少張照片後才能完成任務</div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 分享 -->
  <div class="admin_table">
  <table width="100%" id="job_doModeShare" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">主題id</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2" colspan="2"><div class="help_a">只能分享指定id的主題</div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 評論 -->
  <div class="admin_table">
  <table width="100%" id="job_doComment" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">日誌id</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2" colspan="2"><div class="help_a">只有評論了指定的日誌後才能完成任務，可以直接填寫日誌地址</div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">照片id</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2" colspan="2"><div class="help_a">只有評論了指定的照片後才能完成任務，可以直接填寫照片地址</div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 評分 -->
  <div class="admin_table">
  <table width="100%" id="job_doPing" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">主題id</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2" colspan="2"><div class="help_a">評分指定id的主題後，即可完成任務</div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 置頂 -->
  <div class="admin_table">
  <table width="100%" id="job_doHead" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">主題id</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2" colspan="2"><div class="help_a">將指定id的主題操作置頂後即可完成任務</div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 精華 -->
  <div class="admin_table">
  <table width="100%" id="job_doDigest" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">主題id</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2" colspan="2"><div class="help_a">將指定id的主題操作精華後即可完成任務</div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 鎖定 -->
  <div class="admin_table">
  <table width="100%" id="job_doLock" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">主題id</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2" colspan="2"><div class="help_a">將指定id的主題操作鎖定後即可完成任務</div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 提前 -->
  <div class="admin_table">
  <table width="100%" id="job_doUp" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">主題id</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2" colspan="2"><div class="help_a">將指定id的提前操作鎖定後即可完成任務</div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 壓帖 -->
  <div class="admin_table">
  <table width="100%" id="job_doDown" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">主題id</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2" colspan="2"><div class="help_a">將指定id的提前操作壓帖後即可完成任務</div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 加亮 -->
  <div class="admin_table">
  <table width="100%" id="job_doHighline" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">主題id</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2" colspan="2"><div class="help_a">將指定id的提前操作加亮後即可完成任務</div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 推送-->
  <div class="admin_table">
  <table width="100%" id="job_doPush" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">指定主題id</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2" colspan="2"><div class="help_a">將指定id的主題推送到門戶後即可完成任務</div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">時間限制[小時]</td>
      <td class="td2"><input name="" type="text" class="select_wa input_wa" />
      </td>
      <td class="td2"><div class="help_a">任務申請成功以後，會員未能在設定時間內完成任務，則任務失敗。0或留空表示不限制</div></td>
    </tr>
  </table>
  </div>
  <!-- 紅包獎勵-->
  <div class="admin_table">
  <table width="100%" id="job_doSendGift" style="display:none;" class="mb10">
    <tr class="tr1 vt">
      <td class="td1">完成成果</td>
      <td class="td2"> 申請任務後即可完成任務，得到獎勵。一般用於日常的紅包發放，請勿濫用。 </td>
      <td class="td2"><div class="help_a"></div></td>
    </tr>
  </table>
  </div>
  <!-- 任務具體內容結束 -->
</div>
<!--
EOT;
}
print <<<EOT
-->
<div class="mb10 tac">
<span class="btn"><span><button type="submit" value="提 交">提 交</button></span></span>
</div>
</form>
<!--
EOT;
include_once PrintEot('adminbottom');
?>
-->
