<!--<?php
include_once PrintEot('left');print <<<EOT
-->
<!--
EOT;
if(!$action){print <<<EOT
-->
<div class="admin_info mb10">
	<h3 class="h1"><b>提示信息</b></h3>
	<div class="legend">
	<ol><li>創始人擁有後台所有權限，若無特殊情況請勿更改</li>
<li>您可以添加新創始人，刪除和修改其他創始人信息</li></ol>
	</div>
</div>
<h2 class="h1">創始人管理</h2>
<div class="admin_table mb10">
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr class="tr2">
            <td>用戶名</td>
            <td>操 作</td>
            <td></td>
        </tr>
<!--
EOT;
foreach($manager as $value){
$rawuser = rawurlencode($value);print <<<EOT
-->
        <tr class="tr1">
            <td class="td1">$value</td>
            <td class="td2"><a class="mr20" href="$basename&action=edit&oldname=$rawuser" title="編輯">[編輯]</a><a href="$basename&action=delete&oldname=$rawuser" title="刪除">[刪除]</a></td>
            <td class="td2"></td>
        </tr>
<!--
EOT;
}print <<<EOT
-->
    </table>
</div>
<form action="$basename&" method="post">
<input type="hidden" name="action" value="add">
<h2 class="h1">添加創始人</h2>
<div class="admin_table mb10">
<table width="100%" cellspacing="0" cellpadding="0">
	<tr class="tr1">
		<td class="td1">用戶名</td>
		<td class="td2"><input type="text" class="input input_wa" name="username" /></td>
	</tr>
	<tr class="tr1">
		<td class="td1">密碼</td>
		<td class="td2"><input type="text" class="input input_wa" name="password" /></td>
	</tr>
	<tr class="tr1">
		<td class="td1">確認密碼</td>
		<td class="td2"><input type="text" class="input input_wa" name="check_pwd" /></td>
	</tr>
</table>
</div>
<div class="tac mb10"><span class="btn"><span><button type="submit" onfocus="blur();">提 交</button></span></span></div>
</form>
<form action="$basename&" method="post">
<input type="hidden" name="action" value="ifopen">
<h2 class="h1">後台操作記錄</h2>
<div class="admin_table mb10">
<table width="100%" cellspacing="0" cellpadding="0">
	<tr class="tr1 vt">
		<td class="td1">管理員操作記錄</td>
		<td class="td2">
        	<ul class="list_A list_80">
            	<li><input type="radio" name="config[adminrecord]" value="1" $adminrecord_Y />開啟</li>
				<li><input type="radio" name="config[adminrecord]" value="0" $adminrecord_N />關閉</li>
            </ul>
		</td>
        <td class="td2"><div class="help_a">當開啟此設置後，管理員在後台操作時會被要求輸入操作理由 <br />
	歷史操作可在 <a href="javascript:;" onclick="parent.PW.Dialog({id:'adminrecord',url:'$admin_file?adminjob=adminrecord',name:'後台操作記錄'});">後台操作記錄</a> 進行查看</div></td>
	</tr>
</table>
</div>
<div class="tac mb10"><span class="btn"><span><button type="submit" onfocus="blur();">提 交</button></span></span></div>
</form>
<!--
EOT;
}elseif($action=='edit'){print <<<EOT
-->
<div class="admin_info mb10">
	<h3 class="h1"><b>提示信息</b></h3>
	<div class="legend">
	<ol><li>創始人擁有後台所有權限，若無特殊情況請勿更改</li>
<li>您可以添加新創始人，刪除和修改其他創始人信息</li><li><font color=red>如不需要更改密碼，「新密碼」、「確認密碼」 請留空</font></li></ol>
	</div>
</div>
<form action="$basename&" method="post">
<input type="hidden" name="action" value="edit">
<input type="hidden" name="oldname" value="$oldname" />
<input type="hidden" name="step" value="2">
<h2 class="h1">編輯創始人</h2>
<div class="admin_table mb10">
<table width="100%" cellspacing="0" cellpadding="0">
	<tr class="tr1">
		<td class="td1">用戶名</td>
		<td class="td2"><input type="text" class="input input_wa" name="username" value="$oldname" /></td>
	</tr>
	<tr class="tr1">
		<td class="td1">新密碼</td>
		<td class="td2"><input type="text" class="input input_wa" name="password" /></td>
	</tr>
	<tr class="tr1">
		<td class="td1">確認密碼</td>
		<td class="td2"><input type="text" class="input input_wa" name="check_pwd" /></td>
	</tr>
</table>
</div>
<div class="tac mb10"><span class="btn"><span><button type="submit" onfocus="blur();">提 交</button></span></span></div>
</form>
<!--
EOT;
}print <<<EOT
-->

<!--
EOT;
include_once PrintEot('adminbottom');
?>-->