<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<form action="$basename" method="post">
<input type="hidden" name="step" value="2">
<h3 class="h1">頭像設置</h3>
<div class="admin_table mb10">
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr1 vt">
			<td class="td1">頭像上傳功能</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="upload[upload]" $upload_Y>開啟</li>
					<li><input type="radio" value="0" name="upload[upload]" $upload_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">此處為全局控制，此功能關閉則所有用戶都不能使用頭像上傳功能</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">頭像上傳大小限制</td>
			<td class="td2">
				大小:&nbsp;<input name="upload[imgsize]"value="$db_imgsize" class="input input_wc" />  KB</li>
			</td>
			<td class="td2"><div class="help_a"><font color="red">系統限制上傳附件最大尺寸為{$maxuploadsize},</font>超過設定值大小的圖片將不能上傳為頭像</div></td>
		</tr>
	</table>
</div>

<h3 class="h1">簽名設置</h3>
<div class="admin_table mb10">
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr1 vt">
			<td class="td1">簽名最大高度控制[像素]</td>
			<td class="td2"><input name="config[signheight]" value="$db_signheight" class="input input_wa" /></td><td class="td2"><div class="help_a">帖子簽名的最大高度控制</div></td>
				</tr>
		<tr class="tr1 vt">
			<td class="td1">簽名中Wind代碼功能</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[signwindcode]" $signwindcode_Y>開啟</li>
					<li><input type="radio" value="0" name="config[signwindcode]" $signwindcode_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟後，可在帖子簽名中使用Wind代碼</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">簽名中Wind img功能</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="windpic[pic]" $windpic_pic_Y>開啟</li>
					<li><input type="radio" value="0" name="windpic[pic]" $windpic_pic_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟後，可在帖子簽名中使用[img]標籤</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">簽名中[img]標籤大小控制</td>
			<td class="td2">
				<ul class="list_C">
					<li>寬:　&nbsp;<input name="windpic[picwidth]" value="$db_windpic[picwidth]" size="5" class="input" />&nbsp;像素</li>
					<li>高:　&nbsp;<input name="windpic[picheight]" value="$db_windpic[picheight]" size="5" class="input" />&nbsp;像素</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">超過設定值，帖子簽名中的外鏈圖片會按照此設定值進行縮略。<br />0或留空表示不限制</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">簽名中[size]標籤最大值</td>
			<td class="td2"><input name="windpic[size]" value="$db_windpic[size]" class="input input_wa" /></td><td class="td2"><div class="help_a">簽名中[size]標籤最大值設置。0或留空表示不限制</div></td>
				</tr>
		<tr class="tr1 vt">
			<td class="td1">簽名中Wind Flash功能</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="windpic[flash]" $windpic_flash_Y>開啟</li>
					<li><input type="radio" value="0" name="windpic[flash]" $windpic_flash_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">開啟後，可在帖子簽名中添加flash。建議關閉</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">簽名每日消耗積分數</td>
			<td class="td2">
				<input name="config[signmoney]" value="$db_signmoney" class="input input_wa mr10" />
				<select name="config[signcurtype]" class="select_wa">$signcurtype</select>
			</td><td class="td2"><div class="help_a">簽名顯示一天需要相應積分數。0或留空表示不限制</div></td>
				</tr>
		<tr class="tr1 vt">
			<td class="td1">需要購買簽名的用戶組</td>
			<td class="td2">$signgroup</td>
			<td class="td2"><div class="help_a">該功能配合phpwind-網上銀行系統可為站長帶來可觀的經濟來源 </div></td>
		</tr>
	</table>
</div>

<h3 class="h1">內容發佈設置</h3>
<div class="admin_table mb10">
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr1 vt">
			<td class="td1">標題最大長度[字節]</td>
			<td class="td2"><input name="config[titlemax]" value="$db_titlemax" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">帖子標題最大長度控制</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">內容最大長度[字節]</td>
			<td class="td2"><input name="config[postmax]" value="$db_postmax" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">帖子內容最大長度控制</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">內容最小長度[字節]</td>
			<td class="td2"><input name="config[postmin]" value="$db_postmin" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">帖子內容最小長度控制</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">回復時顯示提示舊帖數</td>
			<td class="td2"><input name="config[showreplynum]" value="$db_showreplynum" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">回復編輯頁底部顯示的回複數量控制</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">投票選項個數控制</td>
			<td class="td2"><input name="config[selcount]" value="$db_selcount" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">投票選項個數控制</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">鏈接帖發帖限制</td>
			<td class="td2">
				<input type="text" value="$db_posturlnum" name="config[posturlnum]" class="input input_wa" >
			</td>
			<td class="td2"><div class="help_a">當會員的發表的帖子數量達到設定值以後就可以發表帶鏈接的帖子。<br />此設置為防止註冊機註冊後髮帶有鏈接地址的廣告。0或留空表示不限制</div></td>
		 </tr>
		 <tr class="tr1 vt">
			<td class="td1">帖子編輯記錄時間[分鐘]</td>
			<td class="td2">
				<input type="text" value="$db_postedittime" name="config[postedittime]" class="input input_wa" >
			</td>
			<td class="td2"><div class="help_a">超過這個時間後，系統會記錄用戶編輯帖子操作記錄。0或留空則不記錄。管理員不受限制</div></td>
		 </tr>
	</table>
</div>

<h3 class="h1">出售加密設置</h3>
<div class="admin_table mb10">
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr1 vt">
			<td class="td1">出售帖允許的積分類型</td>
			<td class="td2"><ul class="list_A list_120">$sellset</ul></td>
			<td class="td2"><div class="help_a">出售帖全局開關。勾選允許使用的積分類型</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">出售帖允許的積分大小</td>
			<td class="td2">
				<ul class="list_C">
					<li><input name="sellset[price]" value="$db_sellset[price]" class="input input_wa" />&nbsp;最高單價限制</li>
					<li><input name="sellset[income]" value="$db_sellset[income]" class="input input_wa" />&nbsp;最高收入限制</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">帖子可出售的最高價格，0或留空表示不限制</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">加密帖允許的積分類型</td>
			<td class="td2"><ul class="list_A list_120">$enhideset</ul></td>
			<td class="td2"><div class="help_a">加密帖允許的積分類型</div></td>
		</tr>
	</table>
</div>

<h3 class="h1">其它設置</h3>
<div class="admin_table mb10">
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr1 vt">
			<td class="td1">用戶登錄方式</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="checkbox" value="1" name="logintype[]" $logintype_0 />用戶名</li>
					<li><input type="checkbox" value="2" name="logintype[]" $logintype_1 />UID</li>
					<li><input type="checkbox" value="4" name="logintype[]" $logintype_2 />電子郵箱</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">不設置則只支持用戶名登錄 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">用戶組頭銜更改</td>
			<td class="td2">
				<ul class="list_A list_80">
					<li><input type="radio" value="1" name="config[selectgroup]" $selectgroup_Y>開啟</li>
					<li><input type="radio" value="0" name="config[selectgroup]" $selectgroup_N>關閉</li>
				</ul>
			</td>
			<td class="td2"><div class="help_a">僅對擁有多個用戶組頭銜的會員有效</div></td>
		</tr>
	</table>
</div>
<div class="mb10 tac">
	<span class="btn"><span><button type="submit"  value="提 交">提 交</button></span></span>
</div>
</form>
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->