<!--<?php
include_once PrintEot('left');print <<<EOT
-->
<form action="$basename" method="post">
<input type="hidden" name="step"  value="2"/>
<h3 class="h1">消息中心常規設置</h3>
<div class="admin_table mb10">
		<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr1 vt">
				<td class="td1">消息聲音提示</td>
				<td class="td2">
					<ul class="list_A list_80">
						<li><input type="radio" value="1" name="config[db_msgsound]" $db_msgsound_Y />開啟</li>
						<li><input type="radio" value="0" name="config[db_msgsound]" $db_msgsound_N />關閉</li>
					</ul>
				</td>
				<td class="td2"><div class="help_a">開啟後，如果發現有新的短信息，則會播放提示聲音</div></td>
		</tr>
		<tr class="tr1 vt">
				<td class="td1">帖子回復提醒</td>
				<td class="td2">
					<ul class="list_A list_80">
						<li><input type="radio" value="1" name="config[db_msgreplynotice]" $db_msgreplynotice_Y />開啟</li>
						<li><input type="radio" value="0" name="config[db_msgreplynotice]" $db_msgreplynotice_N />關閉</li>
					</ul>
				</td>
				<td class="td2"><div class="help_a">開啟後，如果用戶發表的回復被回復以後，會收到消息提示</div></td>
		</tr>
	</table>
</div>
	<div class="tac mb10"><span id="submit" class="btn"><span><button type="submit" onfocus="blur();">提 交</button></span></span></div>
</form>

<form action="$basename" method="post">
<input type="hidden" name="step"  value="3"/>
<script type="text/javascript" src="js/date.js"></script>
<h3 class="h1">歷史消息</h3>
<div class="admin_table mb10">
		<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr1 vt">
			<td class="td1">歷史時間</td>
			<td class="td2"><input name="config[db_history]" class="input input_wa" onclick="ShowCalendar(this.id,1)" id="config[history]" value="$db_history"/></td>
			<td class="td2"><div class="help_a">設定時間以前的消息為歷史消息。設置歷史消息有助於提高新消息讀取速度</div></td>
		</tr>
	</table>
</div>
	<div class="tac mb10"><span id="submit" class="btn"><span><button type="submit" onfocus="blur();">提 交</button></span></span></div>
</form>
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->