<!--<?php
include_once PrintEot('left');
if(in_array($action,array('add','edit'))){print <<<EOT
-->
<form name="FORM" method="post" action="$basename&" onsubmit="return checkpost(document.FORM);">
	<input type="hidden" name="action" value="$action">
	<input type="hidden" name="aid" value="$aid">
	<input type="hidden" name="step" value="2">
	<h2 class="h1">
		<span class="mr10">更新公告信息</span><a href="$basename&fid=$fid" class="linka">返回上一級<span class="f9">▲</span></a>	
	</h2>
	<div class="admin_table mb10">
	<table width="100%" cellspacing="0" cellpadding="0">
	<tr class="tr1 vt">
		<td class="td1">公告</td>
		<td class="td2">
			<ul class="list_A list_80 cc">
				<li><input type="radio" name="ifopen" value="1" $ifopen_Y>開啟</li>
				<li><input type="radio" name="ifopen" value="0" $ifopen_N>關閉</li>
			</ul>
		</td><td class="td2"><div class="help_a"> </div></td>
	</tr>
	<tr class="tr1 vt">
		<td class="td1">公告範圍</td>
		<td class="td2"><select name="fid" onchange="return viewdetail();" class="select_wa">$forumcache</select></td><td class="td2">
		<div class="help_a"> </div></td>
	</tr>
	<tr class="tr1 vt">
		<td class="td1">起始日期 - 結束日期</td>
		<td class="td2">
        <div class="input_img fl"><i onclick="this.nextSibling.onclick()" class="input_time" title="選擇時間">選擇時間</i><input id="startdate" name="startdate" value="$startdate" type="text" onclick="ShowCalendar(this.id,1)" /></div>
        <div class="p_lr_10 fl">-</div>
        <div class="input_img fl"><i onclick="this.nextSibling.onclick()" class="input_time" title="選擇時間">選擇時間</i><input id="enddate" name="enddate" value="$enddate" type="text" onclick="ShowCalendar(this.id,1)" /></div></td>
		<td class="td2"><div class="help_a">
格式:(YYYY-MM-DD HH:II，如:1983-12-20 00:00)<br />
起始時間:公告開始發佈的時間，留空則使用當前時間<br />
結束時間:公告結束發布的時間，留空則公告不結束 </div></td>
	</tr>
	<tr class="tr1 vt">
		<td class="td1">顯示順序</td>
		<td class="td2"><input name="vieworder" value="$vieworder" class="input input_wa"></td>
		<td class="td2"><div class="help_a"> </div></td>
	</tr>
	<tbody id="ifurl" onload="return viewdetail();">
	</tbody>
	<tr class="tr1 vt">
		<td class="td1">公告內容 <span class="s1">*</span></td>
		<td class="td2" colspan="2">
	  <p class="mb10"><input name="atc_title" class="input input_wb" value="$subject" /></p>
		<div style="width:680px;background:#fff;" class="cc">
<!--
EOT;
require_once PrintEot('wysiwyg_editor_common');
print <<<EOT
-->
		</div></td>
	</tr>
	<tr class="tr1">
		<td class="td1">公告指向鏈接</td>
		<td class="td2"><!--
EOT;
if(strpos($ckdisplay,",$fid,")!==false){print <<<EOT
-->
		<p class="mb10"><input name="url" value="$url" class="input input_wb"></p>
		
<!--
EOT;
}print <<<EOT
--></td><td class="td2"><div class="help_a">
將跳轉到指定到某一個鏈接，如:http://www.phpwind.net/。<br />
<span class="s1">注:若填寫此處，內容可不需填寫。</span> </div></td>
	</tr>
</table>
</div>
<script type="text/javascript" src="js/pw_ajax.js"></script>
<script type="text/javascript" src="js/post.js"></script>
<script type="text/javascript" src="js/global.js"></script>

<div id="menu_face" class="menu" style="display:none;"></div>
<div id="menu_generalface" class="menu" style="display:none;"></div>
<div class="tac mb10">
	<span class="btn"><span><button type="submit">提 交</button></span></span>
</div>
</form>
<script type="text/javascript" src="js/date.js"></script>
<script type="text/javascript">
var ckdisplay = '$ckdisplay';
function viewdetail(){
	obj = document.getElementById('ifurl');
	if (ckdisplay.indexOf(','+document.FORM.fid.value+',')!=-1) {
		obj.style.display = '';
	} else {
		obj.style.display = 'none';
	}
}
function checkpost(obj) { 
	if (obj.atc_title.value == "") {
			obj.atc_title.setAttribute("hasError", 1);
			showDialog("error","公告標題不能為空",2);
			obj.atc_title.focus();
			return false;
	} 
	if (ckdisplay.indexOf(','+document.FORM.fid.value+',')!=-1){
	if (obj.url.value == "" && obj.atc_content.value == "") {
			obj.url.setAttribute("hasError", 1);
			showDialog("error","公告鏈接和公告內容必須要填寫一項",2);
			obj.url.focus();
			return false;
	} 
	}
}
</script>
<!--
EOT;
}else{print <<<EOT
-->
<div class="admin_info mb10">
	<h3 class="h1">功能提示</h3>
	<div class="legend">公告管理:可查看特定 <b>公告範圍</b>（全局公告與版塊公告）下的所有公告，針對某條公告進行 <b>編輯 刪除</b> 操作，設置所有公告的 <b>顯示順序</b><br />
公告添加:可根據需求，在指定的 <b>公告範圍</b> 添加公告信息，公告不允許添加多媒體<br />
公告狀態:每個公告均有是否啟用的開關。當在關閉狀態下，狀態為 <b>已關閉</b>。當在開啟狀態下，若 <b>當前時間小於開始時間</b>，狀態為 <b>未發佈</b>；若 <b>當前時間大於結束時間</b>，狀態為 <b>已過期</b>；若 <b>當前時間在開始時間與結束時間之間</b>，狀態為 <b>已發佈</b>。公告僅當在 <b>已發佈</b> 狀態，前台才顯示</div>
</div>
<form method="post" action="$basename&">
<div class="search tar mb10">
		<!--公告範圍:-->
		位置:
		<select name="fid" class="select_wa mr10">
			<option value="0">所有公告</option>
			$forumcache
		</select>
		<!--狀態:-->
		狀態:
		<select name="ifopen" class="select_wa">
			<option value="-1">&nbsp;</option>
			<option value="0" $ifopen_0>已關閉</option>
			<option value="1" $ifopen_1>已發佈</option>
			<option value="2" $ifopen_2>已過期</option>
			<option value="3" $ifopen_3>未發佈</option>
		</select>
		<span class="bt2"><span><button type="submit" value="提 交">提 交</button></span></span>
</div>
</form>
<h2 class="h1">
	<span class="fl mr10"><span class="mr10">公告管理</span><span class="linka">$titledb[$fid]</span></span>
	<a class="btn_add fl" href="$basename&action=add&fid=$fid" hidefocus="true"><i>公告添加</i></a>
</h2>
<form method="post" action="$basename&">
<input type="hidden" name="action" value="order">
<div class="admin_table mb10">
<table width="100%" cellspacing="0" cellpadding="0">
<!--
EOT;
if (empty($annoucedb)) {print <<<EOT
-->
<tr><td class="p10" colspan="9"><div class="admin_tips">啊哦，沒有你要的信息！</div></td></tr>
<!--
EOT;
}else{
$showf = true;
foreach($annoucedb as $fid => $noticedb){print <<<EOT
-->

<!--
EOT;
if ($showf) {
$showf = false;print <<<EOT
-->
	<tr class="tr2 vt td_bgB">
		<td>順 序</td>
		<td>&nbsp;</td>
		<td width="40">狀 態</td>
		<td width="80">發佈者</td>
		<td width="100">開始時間</td>
		<td width="100">結束時間</td>
		<td width="120">操 作</td>
	</tr>
	<tr class="tr2 vt">
		<td width="30">&nbsp;</td>
		<td colspan="6">
<!--
EOT;
if(!empty($namedb[$fid])){print <<<EOT
-->
		<span class="fl b s5 f14"><a href="$basename&fid=$fid">{$namedb[$fid][name]}</a></span>
<!--
EOT;
}else{print <<<EOT
-->
&nbsp;以下公告所屬的版塊不存在
<!--
EOT;
}print <<<EOT
-->
		</td>
	</tr>
<!--
EOT;
} else {print <<<EOT
-->
	<tr class="tr2 vt">
		<td width="30">&nbsp;</td>
		<td colspan="6">
<!--
EOT;
if(!empty($namedb[$fid])){print <<<EOT
-->
		<span class="fl b s5 f14"><a href="$basename&fid=$fid">{$namedb[$fid][name]}</a></span>
<!--
EOT;
}else{print <<<EOT
-->
&nbsp;以下公告所屬的版塊不存在
<!--
EOT;
}print <<<EOT
-->
		</td>
<!--
EOT;
}print <<<EOT
-->
	</tr>
<!--
EOT;
foreach($noticedb as $value){
$value[ifopen] = $value[ifopen] ? ($timestamp<$value[startdate] ? '未發佈' : ($value[enddate] && $timestamp>$value[enddate] ? '<span class="gray">已過期</span>' : '<span class="s3">已發佈</span>')) : '<span class="s1">已關閉</span>';
print <<<EOT
-->
	<tr class="tr1 vt">
		<td class="td2"><input name="vieworder[$value[aid]]" class="input input_wd" value="$value[vieworder]"></td>
		<td class="td2">$value[subject]</td>
		<td class="td2">$value[ifopen]</td>
		<td class="td2">$value[author]</td>
		<td class="td2">$value[starttime]</td>
		<td class="td2">$value[endtime]</td>
		<td class="td2"><a class="mr20" href="$basename&action=edit&aid=$value[aid]" title="編輯">[編輯]</a><a title="刪除" onclick="return delnotice('$value[aid]')" href="$basename&action=del&aid=$value[aid]">[刪除]</a></td>
	</tr>
<!--
EOT;
}}}print <<<EOT
-->
</table>
</div>
<div class="mb10 cc">$pages</div>
<div class="tac mb10">
	<span class="btn"><span><button type="submit">提 交</button></span></span>
</div>
</form>
<script type="text/javascript">
function delnotice(aid){
	if (!aid || !confirm('確定要刪除此公告嗎？')) {
		return false;
	}else
		return true;
}
</script>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>
-->