<!--<?php
include_once PrintEot('left');
if(!$action){
print <<<EOT
-->
<div class="admin_info mb10">
	<h3 class="h1">優化方案說明</h3>
	<div class="legend">負載優化:根據您的站點規模進行優化，您也可以在「查看設置」中自定義設置負載優化選項<br/>功能設置:根據您對功能的需求快速開啟/關閉站點功能，您也可以在「查看設置」中自定義設置功能設置選項<br/>說明:選中任何一個負載優化和功能設置，在全局中的值都將改成該處所配置的值</div>
</div>
<form action=$basename method=post name="form1">
<input type="hidden" name="action" value="size">
<h2 class="h1">負載優化</h2>
<div class="admin_table mb10">
    <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tr1">
        <td class="td2" width="500"><input type="radio" name="type" value="1" $size_1>小型站點:30分鐘在線 < 1000</td>
        <td class="td2"><a href="$basename&action=size_detail&type=1">查看設置</a></td>
    </tr>
    <tr class="tr1">
        <td class="td2"><input type="radio" name="type" value="2" $size_2>中型站點:30分鐘在線 < 5000</td>
        <td class="td2"><a href="$basename&action=size_detail&type=2">查看設置</a></td>
    </tr>
    <tr class="tr1">
        <td class="td2"><input type="radio" name="type" value="3" $size_3>大型站點:30分鐘在線 > 5000</td>
        <td class="td2"><a href="$basename&action=size_detail&type=3">查看設置</a></td>
    </tr>
</table>
</div>
<div class="tac mb10"><span class="btn"><span><button type="submit" onfocus="blur();">提 交</button></span></span></div>
</form>
<form action=$basename method=post name="form1">
<input type=hidden name="action" value="func">
<h2 class="h1">功能設置</h2>
<div class="admin_table mb10">
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr class="tr1">
            <td class="td2" width="500"><input type="radio" name="type" value="1" $func_1>簡潔:關閉娛樂和部分影響效率的功能，適合追求高效率的站點</td>
            <td class="td2"><a href="$basename&action=func_detail&type=1">查看設置</a></td>
        </tr>
        <tr class="tr1">
            <td class="td2"><input type="radio" name="type" value="2" $func_2>推薦:按照站點日常基本需求配置，效率與功能比較平衡</td>
            <td class="td2"><a href="$basename&action=func_detail&type=2">查看設置</a></td>
        </tr>
        <tr class="tr1">
            <td class="td2"><input type="radio" name="type" value="3" $func_3>豐富:開啟大部分功能，站點會員體驗較好，負載較前兩種配置要高一些</td>
            <td class="td2"><a href="$basename&action=func_detail&type=3">查看設置</a></td>
        </tr>
    </table>
</div>
<div class="tac mb10"><span class="btn"><span><button name="hello" type="submit" onfocus="blur();">提 交</button></span></span></div>
</form>
<!--
EOT;
}elseif($action=='size_detail'){print <<<EOT
-->
<form action=$basename method=post name="form1">
<input type="hidden" name="action" value="size_detail">
<input type="hidden" name="type" value="$type">
<input type="hidden" name="step" value="2">
<h2 class="h1">負載優化</h2>
<div class="admin_table mb10">
	<table width="100%" cellspacing="0" cellpadding="0">
		<!--tr class="tr2"><td colspan="2"><i>以下設置是系統推薦</i><b>-->
<!--
EOT;
if($type=='3'){print <<<EOT
-->
	<!---->
<!--
EOT;
}elseif($type=='2'){print <<<EOT
-->
	<!--中型站點-->
<!--
EOT;
}else{print <<<EOT
-->
	<!--小型站點-->
<!--
EOT;
}print <<<EOT
-->
<!--</b><i>使用的優化配置方案，您可以根據您的具體需求自定義設置</i></td></tr-->
<tr class="tr1">
	<td class="td1">定時搜索</td>
	<td class="td2">
    	<ul class="list_A list_80 cc fl">
        	<li><input type=radio value=1 name="schcontrol[opensch]" $opensch_Y>開啟</li>
			<li><input type=radio value=0 name="schcontrol[opensch]" $opensch_N>關閉</li>
        </ul>
    	<ul class="list_A list_120 cc fl">
			<li><!--搜索開啟於(點):-->開啟於(點)：<input name="schcontrol[schstart]" class="input input_wd" value="$db_schstart"></li>
			<li><!--搜索關閉於(點):-->關閉於(點)：<input name="schcontrol[schend]" class="input input_wd" value="$db_schend"></li>
        </ul>
	</td>
    <td class="td2"><!--定時打開與關閉站點搜索功能:<br />
允許用戶使用搜索功能的時間段，時間格式為 24小時制，管理員與總版主不受此限制<br />
比如允許用戶在8點到18點這段時間內使用搜索功能，可設置如下:<br />
搜索開啟於(點): 8 點 搜索關閉於(點): 18 點<br />
支持跨越零點，如允許用戶在每晚22:00 到 次日 10:00 可設置如下:<br />
搜索開啟於(點): 22 點 搜索關閉於(點): 10 點--></td>
</tr>
<tr class="tr1">
	<td class="td1">進程優化</td>
	<td class="td2">
    	<ul class="list_A list_80 cc fl">
			<li><input type=radio value=1 name="config[lp]" $lp_Y>開啟</li>
			<li><input type=radio value=0 name="config[lp]" $lp_N>關閉</li>
        </ul>
	</td>
    <td class="td2"><!--進程優化:<br />建議<b>15分鐘</b>在線<b>1000人</b>以上站點打開此選項--></td>
</tr>
<tr class="tr1">
	<td class="td1">GZIP壓縮級別</td>
	<td class="td2"><input name="config[obstart]" value="$db_obstart" class="input input_wa"></td>
    <td class="td2"><!--GZIP 壓縮級別:<br />設置 GZIP 在輸出時的壓縮級別: <b>0=關閉GZIP功能，9=最大壓縮比</b>。<br />如果您已經在服務器上使用了mod_gzip 或者 mod_deflate，請設置為0關閉GZIP功能，否則強烈推薦使用級別 1。另外，此功能要求 ZLIB 庫支持。<br />GZIP 壓縮輸出簡介:使用 GZIP HTML 壓縮輸出給用戶頁面，這會減少帶寬要求。此功能要求客戶端瀏覽器的支持，以及 HTTP 1.1 兼容。它會產生服務器額外的性能開銷。--></td>
</tr>
<tr class="tr1">
	<td class="td1">在線時間在版塊顯示</td>
	<td class="td2">
    	<ul class="list_A list_80 cc">
			<li><input type=radio value=1 name="config[ifonlinetime]" $ifonlinetime_Y>開啟</li>
			<li><input type=radio value=0 name="config[ifonlinetime]" $ifonlinetime_N>關閉</li>
        </ul>
	</td>
    <td class="td2"><!--記錄會員在線時間並在版塊內顯示--></td>
</tr>
<tr class="tr1">
	<td class="td1">刷新預防時間[秒]</td>
	<td class="td2"><input class="input input_wa" name="config[refreshtime]" value="$db_refreshtime"></td>
    <td class="td2"><!--刷新預防時間(多少秒間刷新被視為惡意刷新,設為0則不做限制):--></td>
</tr>
<tr class="tr1">
	<td class="td1">在線用戶時限[分鐘]</td>
	<td class="td2"><input class="input input_wa" name="config[onlinetime]" value="$db_onlinetime"></td>
    <td class="td2"><!--在線用戶時限（多少分鐘內有動作視為在線）:--></td>
</tr>
<tr class="tr1">
	<td class="td1">搜索返回結果數</td>
	<td class="td2"><input class="input input_wa" name="config[maxresult]" value="$db_maxresult"></td>
    <td class="td2"><!--搜索查詢的最大結果數:--></td>
</tr>
<tr class="tr1 vt">
	<td class="td1">帖子中表情等標籤個數</td>
	<td class="td2"><input type="text" class="input input_wa" name="config[cvtimes]"  value="$db_cvtimes"></td>
    <td class="td2"><!--帖子中表情，動作以及 img，wmv，rm 等標籤的最多轉換次數<br />建議設置為10 - 30 之間，-1 為不限制 --></td>
</tr>
<tr class="tr1 vt">
	<td class="td1">一次最多上傳附件個數</td>
	<td class="td2"><input class="input input_wa" name="config[attachnum]" value="$db_attachnum"></td>
    <td class="td2"></td>
</tr>
<tr class="tr1">
	<td class="td1">首頁顯示今天生日會員</td>
	<td class="td2">
    	<ul class="list_A list_80 cc">
			<li><input type=radio value=1 name="config[indexshowbirth]" $indexshowbirth_Y>開啟</li>
			<li><input type=radio value=0 name="config[indexshowbirth]" $indexshowbirth_N>關閉</li>
        </ul>
	</td>
    <td class="td2"><!--首頁顯示今天生日會員:<br />如果選擇「開啟」，將在站點首頁顯示今天過生日的會員，<font color=blue>會影響速度</font>。--></td>
</tr>
<tr class="tr1">
	<td class="td1">首頁顯示在線用戶</td>
	<td class="td2">
    	<ul class="list_A list_80 cc">
			<li><input type=radio value=1 name="config[indexonline]" $indexonline_Y>開啟</li>
			<li><input type=radio value=0 name="config[indexonline]" $indexonline_N>關閉</li>
        </ul>
	</td>
    <td class="td2"><!--{#optimize_indexonline--></td>
</tr>
<tr class="tr1">
	<td class="td1">首頁顯示在線遊客</td>
	<td class="td2">
    	<ul class="list_A list_80 cc">
			<li><input type=radio value=1 name="config[showguest]" $showguest_Y>開啟</li>
			<li><input type=radio value=0 name="config[showguest]" $showguest_N>關閉</li>
        </ul>
	</td>
    <td class="td2"><!--首頁顯示<font color=blue>在線遊客</font>(影響速度):--></td>
</tr>
<tr class="tr1">
	<td class="td1">統計今日到訪會員</td>
	<td class="td2">
    	<ul class="list_A list_80 cc">
			<li><input type=radio value=1 name="config[today]" $today_Y>開啟</li>
			<li><input type=radio value=0 name="config[today]" $today_N>關閉</li>
        </ul>
	</td>
    <td class="td2"><!--統計<font color=blue>今日到訪會員</font>(大型站點建議關閉，影響速度):--></td>
</tr>
<tr class="tr1">
	<td class="td1">主題列表最大顯示頁數</td>
	<td class="td2"><input class="input input_wa" name="config[maxpage]" value="$db_maxpage"></td>
    <td class="td2"><!--主題列表最大顯示頁數:<br />主題列表中用戶可以查看的最大頁數，建議設置為 1000 －2500 之間，0 為不限制--></td>
</tr>
<tr class="tr1">
	<td class="td1">用戶列表最大頁數</td>
	<td class="td2"><input class="input input_wa" name="config[maxmember]" value="$db_maxmember"></td>
    <td class="td2"><!--用戶列表最大頁數:<br />用戶列表顯示的總頁數，建議為1000-2500。0或留空表示不限制。--></td>
</tr>
<tr class="tr1">
	<td class="td1">點擊率延遲更新[小時]</td>
	<td class="td2">
		<select name="config[hithour]" class="select_wa">
			<option value=0  $hithour_sel[0]>0</option>
			<option value=1  $hithour_sel[1]>1</option>
			<option value=4  $hithour_sel[4]>4</option>
			<option value=6  $hithour_sel[6]>6</option>
			<option value=8  $hithour_sel[8]>8</option>
			<option value=12 $hithour_sel[12]>12</option>
			<option value=20 $hithour_sel[20]>24</option>
		</select>
	</td>
    <td class="td2"><!--點擊率延遲更新功能(小時)<br />（設置為0則不使用此功能,使用生成html功能將自動使用此功能）--></td>
</tr>
<tr class="tr1">
	<td class="td1">版塊內顯示在線用戶:</td>
	<td class="td2">
    	<ul class="list_A list_80 cc">
			<li><input type=radio value=1 name="config[threadonline]" $threadonline_Y>開啟</li>
			<li><input type=radio value=0 name="config[threadonline]" $threadonline_N>關閉</li>
        </ul>
	</td>
    <td class="td2"></td>
</tr>
<tr class="tr1">
	<td class="td1">帖子頁顯示用戶的群組</td>
	<td class="td2">
    	<ul class="list_A list_80 cc">
			<li><input type=radio value=1 name="config[showcolony]" $showcolony_Y>開啟</li>
			<li><input type=radio value=0 name="config[showcolony]" $showcolony_N>關閉</li>
        </ul>
	</td>
    <td class="td2"><!--<font color="blue">在帖子閱讀頁顯示用戶加入的群組</font>--></td>
</tr>
<tr class="tr1">
	<td class="td1">帖子頁積分顯示</td>
	<td class="td2">
		<ul class="list_A list_120 cc">
<!--
EOT;
$num=0;
foreach($_CREDITDB as $key=>$value){
$ct_checked=strpos($db_showcustom,",$key,")!==false?'checked':'';
$num++;print <<<EOT
-->
				<li><input type="checkbox" name="showcustom[$key]" value="$key" $ct_checked>$value[0]</li>
<!--
EOT;
if($num==4){
$num=0;print <<<EOT
-->
<!--
EOT;
}}print <<<EOT
-->
		</ul>
	</td>
    <td class="td2"><!--<font color="blue">選擇要在閱讀帖子頁面（read.php）顯示的自定義積分</font>--></td>
</tr>
<tr class="tr1 vt">
	<td class="td1">圖片水印功能</td>
	<td class="td2">
    	<ul class="list_A">
			<li><input type=radio value=1 name="config[watermark]" $watermark_1>使用圖片水印</li>
			<li><input type=radio value=2 name="config[watermark]" $watermark_2>使用文字水印</li>
			<li><input type=radio value=0 name="config[watermark]" $watermark_0>關閉</li>
        </ul>
	</td>
    <td class="td2"><!--將在論壇上傳的圖片附件中加上您在下面設置的圖片或文字水印<br />開啟後請到版塊設置裡開啟--></td>
</tr>
<tr class="tr1">
	<td class="td1">WAP瀏覽</td>
	<td class="td2">
    	<ul class="list_A list_80">
			<li><input type=radio value=1 name="config[wapifopen]" $wapifopen_Y>開啟</li>
			<li><input type=radio value=0 name="config[wapifopen]" $wapifopen_N>關閉</li>
        </ul>
	</td>
    <td class="td2"><!--WAP功能<br />開啟此功能允許用戶通過手機訪問站點，實現瀏覽、發帖、收發消息等功能--></td>
</tr>
<tr class="tr1">
	<td class="td1">JS調用</td>
	<td class="td2">
    	<ul class="list_A list_80">
			<li><input type=radio value=1 name="config[jsifopen]" $jsifopen_Y>開啟</li>
			<li><input type=radio value=0 name="config[jsifopen]" $jsifopen_N>關閉</li>
        </ul>
	</td>
    <td class="td2"><!--JS調用<br />此功能允許在您的網站首頁或其他地方調用站點的內容<br />調用方式分為: 版塊調用、公告調用、基本信息調用、會員排行調用、文章調用。--></td>
</tr>
<tr class="tr1">
	<td class="td1">安全問題</td>
	<td class="td2">
    	<ul class="list_A list_80">
			<li><input type=radio value=1 name="config[ifsafecv]" $ifsafecv_Y>開啟</li>
			<li><input type=radio value=0 name="config[ifsafecv]" $ifsafecv_N>關閉</li>
        </ul>
	</td>
    <td class="td2"><!--安全問題功能<br />如果會員設置了安全問題，需要填寫正確的答案才能登錄站點，可提高密碼安全性--></td>
</tr>
<tr class="tr1 vt">
	<td class="td1">強制使用安全問題</td>
	<td class="td2">$safegroup</td>
    <td class="td2"><!--強制使用安全問題用戶組設置<br />可以強制管理權限較高的用戶組(管理員,總版主,版主)使用安全問題，可提高密碼安全性--></td>
</tr>
<tr class="tr1">
	<td class="td1">靜態目錄部署</td>
	<td class="td2">
    	<ul class="list_A list_80">
			<li><input type="radio" name="config[htmifopen]" value="1" $htmifopen_Y>開啟</li>
			<li><input type="radio" name="config[htmifopen]" value="0" $htmifopen_N>關閉</li>
        </ul>
	</td>
    <td class="td2"><!--靜態目錄部署功能--></td>
</tr>
<tr class="tr1">
	<td class="td1">IP統計</td>
	<td class="td2">
    	<ul class="list_A list_80">
			<li><input type=radio value=1 $ipstates_Y name="config[ipstates]">開啟</li>
			<li><input type=radio value=0 $ipstates_N name="config[ipstates]">關閉</li>
        </ul>
	</td>
    <td class="td2"><!--IP統計--></td>
</tr>
<tr class="tr1 vt">
	<td class="td1">宣傳代碼</td>
	<td class="td2">
    	<ul class="list_A">
			<li><input type=radio value=2 $ads_2 name="config[ads]">需要註冊</li>
			<li><input type=radio value=1 $ads_1 name="config[ads]">勿需註冊</li>
			<li><input type=radio value=0 $ads_0 name="config[ads]">關閉</li>
        </ul>
	</td>
    <td class="td2"><!--允許用戶使用宣傳代碼!--></td>
</tr>
</table>
</div>
<div class="tac mb10">
	<input type="submit" name="recovery" value="恢復默認值" class="bt3" />
	<input type="submit" name="hello" value="保存並應用" class="btn3" />
	<!--span class="bt"><span><button type="submit" name="recovery" value="recovery" onfocus="blur();">恢復默認值</button></span></span>
    <span class="btn"><span><button type="submit" name="hello" value="hello" onfocus="blur();">保存並應用</button></span></span-->
</div>
</form>
<!--
EOT;
}elseif($action=='func_detail'){print <<<EOT
-->
<form action="$basename" method="post" name="form1">
<input type="hidden" name="action" value="func_detail">
<input type="hidden" name="type" value="$type">
<input type="hidden" name="step" value="2">
<h2 class="h1">功能設置</h2>
<div class="admin_table mb10">
<table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tr1 vt">
        <td class="td1">頭像寬高範圍</td>
        <td class="td2">
        	<ul class="list_A list_120">
            	<li>最大寬度&nbsp;<input name="upload[imgwidth]" value="$db_imgwidth" class="input input_we" maxlength="3"></li>
            	<li>最大高度&nbsp;<input name="upload[imglen]" value="$db_imglen" class="input input_we" maxlength="3"></li>
            </ul>
        </td>
        <td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
        <td class="td1">頭像上傳功能</td>
        <td class="td2">
        	<ul class="list_A list_80 fl">
            	<li><input type=radio value=1 name="upload[upload]" $upload_Y>開啟</li>
            	<li><input type=radio value=0 name="upload[upload]" $upload_N>關閉</li>
            </ul>
            <input name="upload[imgsize]" value="$db_imgsize" class="input input_wc">&nbsp;M
        </td>
        <td class="td2"><div class="help_a">此處為全局控制，此功能關閉則所有用戶都不能使用頭像上傳功能</div></td>
    </tr>
    <tr class="tr1 vt">
        <td class="td1">左右分欄</td>
        <td class="td2">
        	<ul class="list_A">
        		<li><input type=radio value=2 name="config[columns]" $columns_2>默認使用分欄模式</li>
            	<li><input type=radio value=1 name="config[columns]" $columns_1>默認使用平板模式</li>
            	<li><input type=radio value=0 name="config[columns]" $columns_0>關閉</li>
            </ul>
        </td>
        <td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
        <td class="td1">新消息聲音提示</td>
        <td class="td2">
        	<ul class="list_A list_80">
            	<li><input type=radio value=1 name="config[msgsound]" $msgsound_Y>開啟</li>
           		<li><input type=radio value=0 name="config[msgsound]" $msgsound_N>關閉</li>
            </ul>
        </td>
        <td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
        <td class="td1">屏蔽禁言會員所有帖子</td>
        <td class="td2">
        	<ul class="list_A list_80">
            	<li><input type="radio" value="1" name="config[shield]" $shield_Y>開啟</li>
            	<li><input type="radio" value="0" name="config[shield]" $shield_N>關閉</li>
            </ul>
        </td>
        <td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
        <td class="td1">發帖內容驗證</td>
        <td class="td2">
        	<ul class="list_A list_80">
            	<li><input type="radio" value="1" name="config[tcheck]" $tcheck_Y>開啟</li>
            	<li><input type="radio" value="0" name="config[tcheck]" $tcheck_N>關閉</li>
            </ul>
        </td>
        <td class="td2"><div class="help_a">開啟該功能，會員將無法連續發表同一內容的主題</div></td>
    </tr>
    <tr class="tr1 vt">
        <td class="td1">副版主功能</td>
        <td class="td2">
        	<ul class="list_A list_80">
            	<li><input type="radio" value="1" name="config[adminset]" $adminset_Y>開啟</li>
            	<li><input type="radio" value="0" name="config[adminset]" $adminset_N>關閉</li>
            </ul>
        </td>
        <td class="td2"><div class="help_a">開啟該功能，第一版主有權任命和罷免其他版主</div></td>
    </tr>
    <tr class="tr1 vt">
        <td class="td1">附件上傳功能</td>
        <td class="td2">
        	<ul class="list_A list_80">
            	<li><input type=radio value=1 name="config[allowupload]" $allowupload_Y>開啟</li>
            	<li><input type=radio value=0 name="config[allowupload]" $allowupload_N>關閉</li>
            </ul>
        </td>
        <td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
        <td class="td1">文章回復發送郵件通知</td>
        <td class="td2">
        	<ul class="list_A list_80">
            	<li><input type=radio value=1 name="config[replysendmail]" $replysendmail_Y>開啟</li>
            	<li><input type=radio value=0 name="config[replysendmail]" $replysendmail_N>關閉</li>
            </ul>
        </td>
        <td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
        <td class="td1">文章回復發送站內通知</td>
        <td class="td2">
        	<ul class="list_A list_80">
            	<li><input type=radio value=1 name="config[replysitemail]" $replysitemail_Y>開啟</li>
            	<li><input type=radio value=0 name="config[replysitemail]" $replysitemail_N>關閉</li>
            </ul>
        </td>
        <td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
        <td class="td1">自定義代碼功能</td>
        <td class="td2">
        	<ul class="list_A list_80">
            	<li><input type=radio value=1 name="config[pwcode]" $pwcode_Y>開啟</li>
            	<li><input type=radio value=0 name="config[pwcode]" $pwcode_N>關閉</li>
            </ul>
        </td>
        <td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
        <td class="td1">帖子格式功能</td>
        <td class="td2">
        	<ul class="list_A list_80">
            	<li><input type=radio value=1 name="config[setform]" $setform_Y>開啟</li>
            	<li><input type=radio value=0 name="config[setform]" $setform_N>關閉</li>
            </ul>
        </td>
        <td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
        <td class="td1">自動貼圖</td>
        <td class="td2">
        	<ul class="list_A list_80">
            	<li><input type=radio value=1 name="config[autoimg]" $autoimg_Y>開啟</li>
            	<li><input type=radio value=0 name="config[autoimg]" $autoimg_N>關閉</li>
            </ul>
        </td>
        <td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
        <td class="td1">版塊導航彈出菜單顯示</td>
        <td class="td2">
        	<ul class="list_A list_80">
            	<li><input type=radio value=1 name="config[menu]" $menu_Y>開啟</li>
            	<li><input type=radio value=0 name="config[menu]" $menu_N>關閉</li>
            </ul>
        </td>
        <td class="td2"><div class="help_a">版塊導航 (帖子列表、發帖頁面)</div></td>
    </tr>
    <tr class="tr1 vt">
        <td class="td1">水印功能</td>
        <td class="td2">
        	<ul class="list_A">
            	<li><input type=radio value=1 name="config[watermark]" $watermark_1>使用圖片水印</li>
            	<li><input type=radio value=2 name="config[watermark]" $watermark_2>使用文字水印</li>
            	<li><input type=radio value=0 name="config[watermark]" $watermark_0>關閉</li>
            </ul>
        </td>
        <td class="td2"><div class="help_a">將在論壇上傳的圖片附件中加上您在下面設置的圖片或文字水印<br />開啟後請到版塊設置裡開啟</div></td>
    </tr>
    <tr class="tr1 vt">
        <td class="td1">頭像縮略圖功能</td>
        <td class="td2">
        	<ul class="list_A list_80">
            	<li><input type=radio value=1 name="config[iffthumb]" $iffthumb_Y>開啟</li>
            	<li><input type=radio value=0 name="config[iffthumb]" $iffthumb_N>關閉</li>
            </ul>
        </td>
        <td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
        <td class="td1">附件縮略圖功能</td>
        <td class="td2">
        	<ul class="list_A list_80">
            	<li><input type=radio value=1 name="config[ifathumb]" $ifathumb_Y>開啟</li>
            	<li><input type=radio value=0 name="config[ifathumb]" $ifathumb_N>關閉</li>
            </ul>
        </td>
        <td class="td2"><div class="help_a">論壇上的圖片附件，按照一定比例，縮略成一張清晰的圖片</div></td>
    </tr>
    <tr class="tr1 vt">
        <td class="td1">自助友情鏈接</td>
        <td class="td2">
        	<ul class="list_A list_80">
            	<li><input type=radio value=1 name="config[ifselfshare]" $ifselfshare_Y>開啟</li>
            	<li><input type=radio value=0 name="config[ifselfshare]" $ifselfshare_N>關閉</li>
            </ul>
        </td>
        <td class="td2"><div class="help_a">會員可在前台自助申請友情鏈接（每個會員只能申請一次），管理員審核通過後在前台顯示</div></td>
    </tr>
</table>
</div>
<div class="tac mb10">
	<input type="submit" name="recovery" value="恢復默認值" class="bt3" />
	<input type="submit" name="hello" value="保存並應用" class="btn3" />
    <!--span class="bt"><span><button type="submit" name="recovery" value="recovery" onfocus="blur();">恢復默認值</button></span></span>
	<span class="btn"><span><button type="submit" name="hello" value="hello" onfocus="blur();">保存並應用</button></span></span-->
</div>
</form>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>-->