<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc">
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=index">首頁</a></li>
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=thread">列表頁</a></li>
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=read">閱讀頁</a></li>
		<li><a href="$admin_file?adminjob=interfacesettings&adminitem=popinfo">提示信息</a></li>
        <li><a href="$admin_file?adminjob=interfacesettings&adminitem=jsinvoke">js調用設置</a></li>
		<li class="current"><a href="$admin_file?adminjob=interfacesettings&adminitem=overprint">主題印戳</a></li>
	</ul>
</div>
<div class="admin_info mb10">
	<h3 class="h1">印戳設置</h3>
	<div class="legend">
	添加印戳圖片：<br />
	1. 上傳印戳圖片文件到程序images/overprint文件夾下<br />
	2. 在添加印戳欄目下點擊「選圖」打開印戳圖片列表，點選需要的圖片，然後填寫印戳名稱、選擇關聯操作<br />
	<br />
	印戳分佈：<br />
	1. 關聯到精華、置頂等具體操作的印戳將隨對應的帖子操作共同生效或失效<br />
	2. 未關聯操作的印戳將出現在主題帖操作功能欄的印戳列表中<br />
	3. 設置為不啟用的印戳將不會出現在帖子操作中<br />
	注意：每個帖子操作功能只能被關聯一次，程序會記錄最後一次為有效設置<br />
	</div>
</div>
<h2 class="h1">添加印戳</h2>
<form action="$basename&action=add" method="post" >
<div class="admin_table mb10">
<table width="100%" cellpadding="0" cellspacing="0">
	<tr class="tr2 td_bgB">
		<td width="24">&nbsp;</td>
		<td width="100">圖片</td>
		<td width="60">選圖</td>
		<td width="180">印戳名稱</td>
		<td width="80">關聯操作</td>
		<td width="80">狀態</td>
		<td>&nbsp;</td>
	</tr>
	<tr class="tr1">
		<td class="td2">&nbsp;</td>
		<td class="td2"><img src="$iconPath/$icons[0]" id="iconpath_x"><input type="hidden" name="icon" value="$icons[0]"  id="iconinput_x" /></td>
		<td class="td2"><a href="javascript:;" id="selecticon_x">選圖</a></td>
		<td class="td2"><input type="text" name="title" value="" class="input input_wa" /></td>
		<td class="td2">$relatedSelect</td>
		<td class="td2">$isOpenSelect</td>
		<td class="td2"><span class="bt2"><span><button type="submit" value="添加">添加</button></span></span></td>
	</tr>
</table>
</div>
</form>
<h2 class="h1">管理設置</h2>
<form action="$basename&action=manage" method="post" name="FORM">
<div class="admin_table mb10">
<table width="100%" cellpadding="0" cellspacing="0">
	<tr class="tr2 td_bgB">
		<td width="30"><span onclick="CheckAll(document.FORM)" class="cp">啟用</span></td>
		<td width="100">圖片</td>
		<td width="60">選圖</td>
		<td width="180">印戳名稱</td>
		<td width="80">關聯操作</td>
		<td>操作</td>
	</tr>
<!--
EOT;
if($overprintlists){
foreach($overprintlists as $list){
print <<<EOT
-->
	<tr class="tr1">
		<td class="td2">&nbsp;<input type="checkbox" name="list[$list[id]][check]" value="1" title="$list[isopen]" $list[open] /></td>
		<td class="td2"><img src="$iconPath/$list[icon]" id="iconpath_$list[id]"><input type="hidden" name="list[$list[id]][icon]" value="$list[icon]" id="iconinput_$list[id]" /></td>
        <td class="td2"><a href="javascript:;" id="selecticon_$list[id]">重新選圖</a></td>
		<td class="td2"><input type="text" class="input input_wa" name="list[$list[id]][title]" value="$list[title]" /></td>
        <td class="td2">$list[select]</td>
        <td class="td2"><a href="javascript:;" id="delete_$list[id]" url="$basename&action=delete&id=$list[id]">[刪除]</a></td>
	</tr>
<!--
EOT;
}}else{print <<<EOT
-->
<tr><td class="p10" colspan="6"><div class="admin_tips">啊哦，沒有你要的信息！</div></td></tr>
<!--
EOT;
}print <<<EOT
-->
</table>
</div>
<div class="tac mb10">
	<span class="bt"><span><button type="button" onclick="CheckAll(document.FORM)">全 選</button></span></span>
	<span class="btn"><span><button type="submit">提 交</button></span></span>
</div>
</form>
<div id="iconlist" class="menu t" style="display:none;border:5px solid #abc8ea;width:360px;">
	<div class="h1"><a href="javascript:;" id="closebox" class="adel" style="margin-top:5px;">close</a>選擇圖片</div>
	<div style="height:360px;overflow:auto;width:350px;">
<!--
EOT;
if($icons){
print <<<EOT
-->
		<input type="hidden" name="current" vaule="" id="current"/>
		<ul class="cc">
<!--
EOT;
foreach($icons as $k=>$icon){
print <<<EOT
-->
			<li style="height:80px;float:left;width:80px; padding:3px 15px; text-align:center;"><a href="javascript:;" id="popusericon_$k"><img src="$iconPath/$icon" id="popiconpath_$k" path="$icon" /></a></li>
<!--
EOT;
}
print <<<EOT
-->
		</ul>
<!--
EOT;
}
print <<<EOT
-->
	</div>
</div>
<script type="text/javascript" src="js/desktop/adminoverprint.js"></script>
<script type="text/javascript">
var iconPath = "$iconPath";
window.onload = function(){
	if(parent.adminNavClass){
		parent.adminNavClass.initTips();
	}
	adminoverprint.init();
}
</script>
<!--
EOT;
include_once PrintEot('adminbottom');
?>
-->