<!--<?php
include_once PrintEot('left');
print <<<EOT
-->

<!--
EOT;
if ($adminitem == 'threadcache') {print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc">
		<li><a href="$jobUrl">緩存管理</a></li>
		<li><a href="$jobUrl&adminitem=pwcache">PW緩存庫</a></li>
		<li class="current"><a href="$jobUrl&adminitem=threadcache">主題列表緩存</a></li>
		<li><a href="$jobUrl&adminitem=guestcache">遊客緩存</a></li>
		<li><a href="$jobUrl&adminitem=guestdir">清空緩存</a></li>
		<li><a href="$jobUrl&adminitem=blacklist">調用黑名單</a></li>
	</ul>
</div>
<form action="$basename" method="post">
<input type="hidden" name="step" value="2">
<h3 class="h1"><span class="mr20">主題列表內容緩存功能</span><span class="linka">主題列表頁是站點訪問量最高的頁面之一(尤其是前面幾頁)</span></h3>
<div class="admin_table mb10">
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr1 vt">
			<td class="td1">緩存頁數</td>
			<td class="td2"><input name="config[fcachenum]" value="$db_fcachenum" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">設置 0 為關閉，建議值 10，即緩存前10頁內容</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">緩存更新間隔[秒]</td>
			<td class="td2"><input name="config[fcachetime]" value="$db_fcachetime" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">設置 0 為即時更新，即<b>當有新帖發表時</b>更新緩存內容<br />如果發帖較頻繁，建議設置 180 - 300，即 3-5 分鐘更新一次緩存內容</div></td>
		 </tr>
	</table>
</div>

<!--
EOT;
}elseif($adminitem == 'guestcache'){print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc">
		<li><a href="$jobUrl">緩存管理</a></li>
		<li><a href="$jobUrl&adminitem=pwcache">PW緩存庫</a></li>
		<li><a href="$jobUrl&adminitem=threadcache">主題列表緩存</a></li>
		<li class="current"><a href="$jobUrl&adminitem=guestcache">遊客緩存</a></li>
		<li><a href="$jobUrl&adminitem=guestdir">清空緩存</a></li>
		<li><a href="$jobUrl&adminitem=blacklist">調用黑名單</a></li>
	</ul>
</div>
<form action="$basename" method="post">
<input type="hidden" name="step" value="2">
<div class="admin_info mb10">
	<h2 class="h1">功能說明</h2>
	<div class="legend">一般情況下站點的在線用戶70%以上為遊客，而遊客訪問的頁面內容在一段時間內是不會有太大變化的，因此將遊客訪問的頁面內容緩存起來可以減少數據庫因查詢大量相同信息而產生的不必要的資源消耗</div>
</div>
<h3 class="h1">遊客緩存功能</h3>
<div class="admin_table mb10">
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr1 vt">
			<td class="td1">緩存目錄</td>
			<td class="td2"><input name="config[guestdir]" value="$db_guestdir" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">默認為 data/guestcache 目錄，您可以更改為其他目錄，請確定您指定的目錄有可寫權限 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">首頁緩存設置[秒]</td>
			<td class="td2"><input name="config[guestindex]" value="$db_guestindex" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">設置首頁緩存更新時間，0為關閉，建議值:900 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">主題列表頁緩存頁數</td>
			<td class="td2"><input name="config[fguestnum]" value="$db_fguestnum" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">設置 0 為關閉，建議值 10，即緩存前10頁內容 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">主題列表頁緩存設置[秒]</td>
			<td class="td2"><input name="config[guestthread]" value="$db_guestthread" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">設置主題列表頁面緩存更新時間，建議值:900 </div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">帖子頁緩存頁面</td>
			<td class="td2"><input name="config[tguestnum]" value="$db_tguestnum" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">開啟此功能，將產生大量緩存數據，設置 0 為關閉，建議值 3，即緩存前3頁內容 </div></td>
				</tr>
		<tr class="tr1 vt">
			<td class="td1">帖子頁緩存設置[秒]</td>
			<td class="td2"><input name="config[guestread]" value="$db_guestread" class="input input_wa" /></td>
			<td class="td2"><div class="help_a">設置閱讀帖子頁面緩存更新時間，建議值:900</div></td>
		</tr>
	</table>
</div>

<!--
EOT;
}print <<<EOT
-->
<div class="tac mb10"><span id="submit" class="btn"><span><button type="submit" onfocus="blur();">提 交</button></span></span></div></form>
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->