<!--<?php
include_once PrintEot('left');
if(empty($action)){
print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc">
		<li ><a href="$basename&job=bakout">數據維護</a></li>
		<li><a href="$basename&job=bakin">數據恢復</a></li>
		<li class="current"><a href="$basename&job=ptable">數據庫分卷</a></li>
		<li><a href="$basename&job=ptable&action=movedata">數據轉移</a></li>
	</ul>
</div>
<div class="admin_info mb10">
	<h3 class="h1">功能說明</h3>
    <div class="legend mb10">數據庫分卷技術實現將一個數據量非常大的表拆分成多個數據較小的表，從而提高數據庫查詢效率，讓您的站點在超大數據量下仍然能高效運行<br /><font color="blue">注意:</font><br />當回復表比較大(幾百M)的時候，可以使用該功能進行分捲來降低原來的回復表的負載，分卷教程可以到phpwind官方論壇<a href="http://faq.phpwind.net/" target="_blank">FAQ</a>裡面查閱一下 </div>
    <h3 class="h1">主題內容表分卷功能使用步驟</h3>
    <div class="legend"><ol><li>使用「<span class="xia">創建新主題表</span>」功能創建一張新的主題表 </li><li>設置tid分界點，當tid大於某個表的分界點並且小於下個表的分界點時，新增主題數據將插入到這個表 </li><li>分卷功能設置完成！</li></ol><font color="blue">注意:</font><ol><li>使用分卷功能前請務必先關閉站點 </li><li>當tid範圍出現藍色字體並有「轉移」字樣時，表明該表的數據與其他表存在重疊區間，應該使用轉移功能修復，否則將導致部分主題內容無法顯示。</li></ol></div>
</div>
<form action="$basename" method="post">
<input type="hidden" name="step" value="3" />
<h2 class="h1"><!--<span class="fr w"><input type="button" class="btn" value="創建新主題表" onclick="location.href='$basename&action=create&type=1'" /></span>-->
	<div class="mb10 fr">
        <span class="bt2 f12"><span><button type="button" value="創建新主題表" onclick="location.href='$basename&action=create&type=1'">創建新主題表</button></span></span>
    </div>已有主題內容表信息（pw_tmsgs）
</h2>
<div class="admin_table mb10">
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr class="tr2">
            <td>表名</td>
            <td>記錄數</td>
            <td>數據表大小</td>
            <td>tid範圍</td>
            <td>創建時間</td>
            <td>前台顯示名稱</td>
            <td>tid分界點</td>
            <td>刪除</td>
        </tr>
<!--
EOT;
foreach($tmsgdb as $key=>$table){
print <<<EOT
-->
        <tr class="tr1 vt">
            <td class="td2">$table[Name]</td>
            <td class="td2">$table[Rows]</td>
            <td class="td2">$table[Data_length]</td>
<!--
EOT;
if($table[tmin] && ($table[tidmax] && $table[tmax]>$table[tidmax] || $table[tmin]<=$table[tidmin])){print <<<EOT
-->
            <td class="td2">$table[tmin] - $table[tmax] [<a href="$basename&action=movetmsg&id=$key">轉移</a>]</td>
<!--
EOT;
}else{print <<<EOT
-->
            <td class="td2">$table[tmin] - $table[tmax]</td>
<!--
EOT;
}print <<<EOT
-->
            <td class="td2">$table[Create_time]</td>
<!--
EOT;
if ($tlistdb){print<<<EOT
-->
            <td class="td2"><input type="text" class="input input_wc" name="ttable[$key][2]" value="{$tlistdb[$key][2]}"></td>
<!--
EOT;
} else {print<<<EOT
-->
            <td class="td2"> -- </td>
<!--
EOT;
}if(!$key){print <<<EOT
-->
            <td class="td2"> -- </td>
<!--
EOT;
}else{print <<<EOT
-->
            <td class="td2"><input type="text" class="input input_wc" name="ttable[$key][1]" value="{$tlistdb[$key][1]}" /></td>
<!--
EOT;
}print <<<EOT
-->
             <td class="td2">
<!--
EOT;
if(!$table[tmin] && !$table[tmax]){print <<<EOT
-->
            <a href="$basename&action=delttable&id=$key">刪除</a>
<!--
EOT;
}print <<<EOT
-->
            </td>
        </tr>
<!--
EOT;
}print <<<EOT
-->
    </table>
</div>
<div class="mb10 tac">
    <span class="btn"><span><button type="submit">提 交</button></span></span>
</div>
</form>
<div class="admin_info mb10">
    <h3 class="h1">回復表分卷功能使用步驟</h3>
    <div class="legend"><ol><li>使用「<b>創建新回復表</b>」功能創建一張新的回復表(系統默認將新創建的表設為「<b>當前回復表</b>」，新增回複數據將記錄在「<b>當前回復表</b>」表裡)</li><li>回復表分卷功能設置完成！</li></ol><font color="blue">注意:</font><ol><li>使用分卷功能前請務必先關閉站點</li><li>如果您原來的『回複數據表(pw_posts)』已經非常大，您可以使用『數據轉移』功能，將部分數據轉移到新的回復表，來降低原來的回復表的負載</li></ol></div>
</div>
<form action="$basename" method="post">
<input type="hidden" name="step" value="5" />
<h2 class="h1">
    <!--<span class="fr">
        <input type="button" class="btn" value="創建新回復表" onclick="location.href='$basename&action=create&type=2'" />
        <input type="button" class="btn" value="數據轉移" onclick="location.href='$basename&action=movedata'" />
    </span>-->
    <div class="mb10 fr">
        <span class="bt2 f12"><span><button type="button" value="創建新回復表" onclick="location.href='$basename&action=create&type=2'">創建新回復表</button></span></span>
        <span class="bt2 f12"><span><button type="button" value="數據轉移" onclick="location.href='$basename&action=movedata'">數據轉移</button></span></span>
    </div>
   已有回復表信息（pw_posts）
</h2>
<div class="admin_table mb10">
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr class="tr2">
            <td>表名</td>
            <td>記錄數</td>
            <td>數據表大小</td>
            <td>tid範圍</td>
            <td>創建時間</td>
            <td>前台顯示名稱</td>
            <td>當前回復表</td>
            <td>刪除</td>
        </tr>
<!--
EOT;
foreach($postdb as $key=>$table){
print <<<EOT
-->
        <tr class="tr1 vt">
            <td class="td2">$table[Name]</td>
            <td class="td2">$table[Rows]</td>
            <td class="td2">$table[Data_length]</td>
            <td class="td2">$table[tmin] - $table[tmax]</td>
            <td class="td2">$table[Create_time]</td>
<!--
EOT;
if (count($plistdb)>1){print<<<EOT
-->
            <td class="td2"><input type="text" class="input" size="8" name="plistdb[$key]" value="{$table[name]}" />
<!--
EOT;
}else{print<<<EOT
-->
            <td class="td2"> -- </td>
<!--
EOT;
}print<<<EOT
-->
            <td class="td2"><input type="radio" name="ktable" value="$key" $table[sel] /></td>
            <td class="td2">
<!--
EOT;
if(!$table[tmin] && !$table[tmax]){print <<<EOT
-->
            <a href="$basename&action=delptable&id=$key">刪除</a>
<!--
EOT;
}print <<<EOT
-->
            </td>
        </tr>
<!--
EOT;
}print <<<EOT
-->
    </table>
</div>
<div class="mb10 tac">
    <span class="btn"><span><button type="submit">更改當前回復表</button></span></span>
</div>
</form>
<!--
EOT;
}elseif($action=='movedata'){ print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc">
		<li ><a href="$basename&job=bakout">數據維護</a></li>
		<li><a href="$basename&job=bakin">數據恢復</a></li>
		<li><a href="$basename&job=ptable">數據庫分卷</a></li>
		<li class="current"><a href="$basename&job=ptable&action=movedata">數據轉移</a></li>
	</ul>
</div>
<div class="admin_info mb10">
	<h3 class="h1">功能說明</h3>
    <div class="legend">將「<b>源回複數據表</b>」裡指定「<b>tid範圍</b>」的回複數據轉移到「<b>目標回複數據表</b>」，從而達到降低系統負載的目的，根據服務器負載情況調整「<b>每次轉移帖子數</b>」</div>
</div>
<form action="$basename" method="post">
<input type="hidden" name="action" value="$action" />
<input type="hidden" name="step" value="1" />
<h2 class="h1">
	<span class="mr10">數據轉移</span><a href="$basename" class="linka">返回上一級<span class="f9">▲</span></a>
</h2>
<div class="admin_table mb10">
	<table cellpadding="0" cellspacing="0" width="100%">
        <tr class="tr1 vt">
            <td class="td1">源回複數據表</td>
            <td class="td2"><select name="tfrom" class="select_wa">$table_sel</select></td>
        </tr>
        <tr class="tr1 vt">
            <td class="td1">目標回複數據表</td>
            <td class="td2">
            <select name="tto" class="select_wa">$table_sel</select></td>
        </tr>
        <tr class="tr1 vt">
            <td class="td1">指定 tid 範圍</td>
            <td class="td2">
                <input type="text" class="input input_wa" name="tstart" />
                &nbsp;-&nbsp;
                <input type="text" class="input input_wa" name="tend" />
            </td>
        </tr>
        <tr class="tr1 vt">
            <td class="td1">每次轉移帖子數</td>
            <td class="td2"><input type="text" class="input input_wa" name="lines" value="200" /></td>
        </tr>
    </table>
</div>
<div class="mb10 tac"><span class="btn"><span><button type="submit" name="delete">提 交</button></span></span></div>
</form>
<!--
EOT;
}elseif($action=='movetmsg'){ print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc">
		<li ><a href="$basename&job=bakout">數據維護</a></li>
		<li><a href="$basename&job=bakin">數據恢復</a></li>
		<li><a href="$basename&job=ptable">數據庫分卷</a></li>
		<li class="current"><a href="$basename&job=ptable&action=movedata">數據轉移</a></li>
	</ul>
</div>
<div class="admin_info mb10">
    <h3 class="h1"><b>提示信息</b></h3>
    <div class="legend">該功能將會把 $pw_tmsgs 表中不在設定 tid 範圍內的數據，轉移到相應的數據表中去!<br />
請根據服務器負載情況適當調整每次轉移的帖子數</div>
</div>
<form action="$basename" method="post">
<input type="hidden" name="action" value="$action" />
<input type="hidden" name="id" value="$id" />
<input type="hidden" name="step" value="1" />
<input type="hidden" name="tmin" value="$tmin" />
<input type="hidden" name="tmax" value="$tmax" />
<h2 class="h1">
	<span class="mr10">數據轉移</span><a href="$basename" class="linka">返回上一級<span class="f9">▲</span></a>
</h2>
<div class="admin_table mb10">
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr class="tr1 vt">
            <td class="td1">數據表</td>
            <td class="td2">$pw_tmsgs</td>
        </tr>
        <tr class="tr1 vt">
            <td class="td1">數據表 tid 範圍</td>
            <td class="td2">$tmin - $tmax</td>
        </tr>
        <tr class="tr1 vt">
            <td class="td1">需轉移的數據 tid 範圍</td>
            <td class="td2">$tiderror</td>
        </tr>
        <tr class="tr1 vt">
            <td class="td1">每次轉移帖子數</td>
            <td class="td2"><input type="text" class="input input_wa" name="lines" value="5000" /></td>
        </tr>
    </table>
</div>
<div class="mb10 tac"><span class="btn"><span><button type="submit">確認提交</button></span></span></div>
</form>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>-->