<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<h2 class="h1">審核內容</h2>
<div class="admin_table mb10">
<table width="100%" cellspacing="0" cellpadding="0">
  <tr class="tr1 vt">
    <td class="td1"></td>
    <td class="td2">$rt[subject]</td>
  </tr>
  <tr class="tr1 vt">
    <td class="td1">內容</td>
    <td class="td2">$rt[content]</td>
  </tr>
</table>
</div>
<div class="mb10 tac">
    <span class="btn"><span><button type="button" name="btn" id="btn" onclick="javascript:history.go(-1);">返回繼續操作</button></span></span>
</div>
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->
