<!--<?php
include_once PrintEot('left');
if ($adminitem == 'blacklist') {print <<<EOT
-->
<div class="nav3 mb10">
    <ul class="cc">
		<li><a href="$jobUrl&adminitem=updatecache">緩存管理</a></li>
		<li><a href="$jobUrl&adminitem=pwcache">PW緩存庫</a></li>
		<li><a href="$jobUrl&adminitem=threadcache">主題列表緩存</a></li>
		<li><a href="$jobUrl&adminitem=guestcache">遊客緩存</a></li>
		<li><a href="$jobUrl&adminitem=guestdir">清空緩存</a></li>
		<li class="current"><a href="$jobUrl&adminitem=blacklist">調用黑名單</a></li>
    </ul>
</div>
<div class="admin_info mb10">
	<h3 class="h1"><b>提示信息</b></h3>
	<div class="legend">如果不希望數據顯示到自動調用模塊，請將id加入到黑名單中<br />
	加入黑名單的數據，將不會進入調用的緩存庫。可以控制黑名單數據不在門戶模塊自動調用、統計排行、js調用等地方顯示<br />
    加入黑名單的會員和帖子，在刪除後，不會立即更新。如要立即更新，請更新<a href="$jobUrl&adminitem=pwcache">PW緩存庫</a>
	</div>
</div>
<form action="$basename" method="post">
<input type="hidden" name="step" value="2" />
<input type="hidden" name="action" value="blacklist" />
<h2 class="h1"><span class="mr20">調用黑名單</span></h2>
<div class="admin_table mb10">
	<table cellpadding="0" cellspacing="0" width="100%">
		<tr class="tr1 vt">
			<td class="td1">帖子tid</td>
			<td class="td2"><textarea class="textarea" name="tidblacklist">$db_tidblacklist</textarea></td>
			<td class="td2"><div class="help_a">用英文","分隔</div></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">UID</td>
			<td class="td2"><textarea class="textarea" name="uidblacklist">$db_uidblacklist</textarea></td>
			<td class="td2"><div class="help_a">用英文","分隔</div></td>
		</tr>
	</table>
</div>
<div class="mb10 tac">
	<span class="btn"><span><button type="submit" value="提 交">提 交</button></span></span>
</div>
</form>
<!--
EOT;
} elseif($adminitem == 'pwcache') {print <<<EOT
-->
<div class="nav3 mb10">
    <ul class="cc">
		<li><a href="$jobUrl&adminitem=updatecache">緩存管理</a></li>
		<li class="current"><a href="$jobUrl&adminitem=pwcache">PW緩存庫</a></li>
		<li><a href="$jobUrl&adminitem=threadcache">主題列表緩存</a></li>
		<li><a href="$jobUrl&adminitem=guestcache">遊客緩存</a></li>
		<li><a href="$jobUrl&adminitem=guestdir">清空緩存</a></li>
		<li><a href="$jobUrl&adminitem=blacklist">調用黑名單</a></li>
    </ul>
</div>
<div class="admin_info mb10">
  <h3 class="h1"><b>提示信息</b></h3>
  <div class="legend"><ol><li>PW緩存庫主要用於各種站點模式的不同應用</li>
	<li>請根據各個元素的使用情況而選擇需要開啟的緩存</li></ol></div>
</div>
<form action="$basename&adminitem=pwcache" method="post">
  <input type="hidden" name="step" value="2">
  <h2 class="h1"><span class="mr20">PW緩存庫設置</span><span class="linka">勾選緩存項，提交後完成開啟。<font color="red">開啟後，請務必點擊後面的更新緩存按鈕</font></span></h2>
  <div class="admin_table mb10">
    <table cellpadding="0" cellspacing="0" width="100%">
    <tr class="tr1 vt">
        <td class="td2" width="20"><input type="checkbox" value="1" name="config[ifpwcache][]" $ifpwcache_1></td>
        <td class="td3"> 會員信息(總發帖,本月發帖,今日發帖,在線時間,會員積分)</td>
        <td class="td2">
            <span class="bt2"><span><button type="button" onclick="window.location=('$basename&adminitem=pwcache&action=update&type=usersort');">更新緩存</button></span></span>
        </td>
    </tr>
    <tr class="tr1 vt">
        <td class="td2"><input type="checkbox" value="2" name="config[ifpwcache][]" $ifpwcache_2></td>
        <td class="td3"> 熱門帖(總回複數)<br /></td>
        <td class="td2">
            <span class="bt2"><span><button type="button" onclick="window.location=('$basename&adminitem=pwcache&action=update&type=replysort');">更新緩存</button></span></span>
        </td>
    </tr>
    <tr class="tr1 vt">
        <td class="td2"><input type="checkbox" value="4" name="config[ifpwcache][]" $ifpwcache_4></td>
        <td class="td3"> 熱門帖(每天回複數)<br /></td>
        <td class="td2">
            <span class="bt2"><span><button type="button" onclick="window.location=('$basename&adminitem=pwcache&action=update&type=replysortday');">更新緩存</button></span></span>
        </td>
    </tr>
    <tr class="tr1 vt">
        <td class="td2"><input type="checkbox" value="8" name="config[ifpwcache][]" $ifpwcache_8></td>
        <td class="td3"> 熱門帖(每週回複數)<br /></td>
        <td class="td2">
            <span class="bt2"><span><button type="button" onclick="window.location=('$basename&adminitem=pwcache&action=update&type=replysortweek');">更新緩存</button></span></span>
        </td>
    </tr>
    <tr class="tr1 vt">
        <td class="td2"><input type="checkbox" value="16" name="config[ifpwcache][]" $ifpwcache_16></td>
        <td class="td3"> 人氣帖(總點擊數)<br /></td>
        <td class="td2">
            <span class="bt2"><span><button type="button" onclick="window.location=('$basename&adminitem=pwcache&action=update&type=hitsort');">更新緩存</button></span></span>
        </td>
    </tr>
    <tr class="tr1 vt">
        <td class="td2"><input type="checkbox" value="32" name="config[ifpwcache][]" $ifpwcache_32></td>
        <td class="td3"> 人氣帖(每天點擊數)<br /></td>
        <td class="td2">
            <span class="bt2"><span><button type="button" onclick="window.location=('$basename&adminitem=pwcache&action=update&type=hitsortday');">更新緩存</button></span></span>
        </td>
    </tr>
    <tr style="display:none" class="tr1 vt">
        <td class="td2"><input type="checkbox" value="64" name="config[ifpwcache][]" $ifpwcache_64></td>
        <td class="td3"> 人氣帖(每週點擊數)<br /></td>
        <td class="td2">
            <span class="bt2"><span><button type="button" onclick="window.location=('$basename&adminitem=pwcache&action=update&type=hitsortweek');">更新緩存</button></span></span>
        </td>
    </tr>
    <tr style="display:none" class="tr1 vt">
        <td class="td2"><input type="checkbox" value="128" name="config[ifpwcache][]" $ifpwcache_128></td>
        <td class="td3"> 最新帖<br /></td>
        <td class="td2">
            <span class="bt2"><span><button type="button" onclick="window.location=('$basename&adminitem=pwcache&action=update&type=newsubject');">更新緩存</button></span></span>
        </td>
    </tr>
    <tr style="display:none" class="tr1 vt">
        <td class="td2"><input type="checkbox" value="256" name="config[ifpwcache][]" $ifpwcache_256></td>
        <td class="td3"> 最新回復<br /></td>
        <td class="td2">
            <span class="bt2"><span><button type="button" onclick="window.location=('$basename&adminitem=pwcache&action=update&type=newreply');">更新緩存</button></span></span>
        </td>
    </tr>
    <tr class="tr1 vt">
        <td class="td2"><input type="checkbox" value="512" name="config[ifpwcache][]" $ifpwcache_512></td>
        <td class="td3"> 最新圖片<br /></td>
        <td class="td2">
            <span class="bt2"><span><button type="button" onclick="window.location=('$basename&adminitem=pwcache&action=update&type=newpic');">更新緩存</button></span></span>
        </td>
    </tr>
    <tr class="tr1 vt">
        <td class="td2"><input type="checkbox" value="1024" name="config[ifpwcache][]" $ifpwcache_1024></td>
        <td class="td3"> 熱門收藏<br /></td>
        <td class="td2">
            <span class="bt2"><span><button type="button" onclick="window.location=('$basename&adminitem=pwcache&action=update&type=hotfavor');">更新緩存</button></span></span>
        </td>
    </tr>
	
	
      <tr class="tr1 vt">
      	<td class="td2">&nbsp;</td>
        <td class="td3">緩存庫入庫數目</td>
        <td class="td2"><input class="input input_wa" value="$db_cachenum" name="config[cachenum]"></td>
      </tr>
    </table>
  </div>
  <div class="mb10 tac">
  	<span class="btn"><span><button type="submit"  value="提 交">提 交</button></span></span>
  </div>
</form>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>-->