<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc">
		<li class="current"><a href="$admin_file?adminjob=record&adminitem=adminlog">後台管理日誌</a></li>
		<li><a href="$admin_file?adminjob=record&adminitem=forumlog">前台管理日誌</a></li>
		<li><a href="$admin_file?adminjob=record&adminitem=adminrecord">後台操作記錄</a></li>
	</ul>
</div>
<div class="admin_info mb10">
    <h3 class="h1"><b>提示信息</b></h3>
    <div class="legend"><ol><li>為了保證後台的安全性,系統只允許站點創始人和管理員刪除操作日記</li><li>系統必須保留前100條後台管理日誌</li></ol></div>
</div>
<form action="$basename&" method=post>
<input type=hidden name=action value=search>
<h2 class="h1">搜索</h2>
<div class="admin_table mb10">
    <table cellpadding="0" cellspacing="0" width="100%">
        <tr class="tr1 vt">
            <td class="td1">關鍵字</td>
            <td class="td2"><input type="text" class="input input_wa mr5" name="keyword"><span class="bt2"><span><button type="submit" value='提 交'>提 交</button></span></span></td>
        </tr>
    </table>
</div>
</form>
<h2 class="h1"><b>管理日誌</b></h2>
<div class="admin_table mb10">
    <table cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed;">
<!--
EOT;
if($adminitem=='adminlog'){
print <<<EOT
-->
    <tr class="tr2">
        <td width="80">用戶名</td>
        <td width="80">錯誤密碼</td>
        <td>操作日誌</td>
        <td width="70">IP</td>
        <td width="100">操作時間</td>
        <td>其他</td>
    </tr>
$adlogfor
<!--
EOT;
}elseif($adminitem=='forumlog'){
print <<<EOT
-->
    <tr class="tr1 vt">
        <td class="td2">管理員</td>
        <td class="td2">用戶名</td>
        <td class="td2">版塊</td>
        <td class="td2">操作日誌</td>
        <td class="td2">IP</td>
        <td class="td2">操作時間</td>
    </tr>
    $adlogfor
<!--
EOT;
}elseif($adminitem=='adminrecord'){
print <<<EOT
-->
    <tr class="tr1 vt">
        <td class="td2">積分名稱</td>
        <td class="td2">作者</td>
        <td class="td2">點數</td>
        <td class="td2">查看文章位置</td>
        <td class="td2">管理員</td>
        <td class="td2">IP</td>
        <td class="td2">操作時間</td>
        <td class="td2">評分理由</td>
    </tr>
<!--
EOT;
foreach($creditdb as $credit){
if($credit){
print <<<EOT
-->
    <tr class="tr1 vt">
        <td class="td2">$credit[name]</td>
        <td class="td2">$credit[5] </td>
        <td class="td2">$credit[6]</td>
        <td class="td2"><a href="read.php?tid=$credit[1]">查看文章位置</a></td>
        <td class="td2">$credit[3]</td>
        <td class="td2">$credit[4]</td>
        <td class="td2">$credit[time]</td>
        <td class="td2"><div style="overflow:auto;max-height:80px;">$credit[8]</div></td>
    </tr>
<!--
EOT;
}}}
print <<<EOT
-->
    </table>
</div>
<div class="cc mb10">$pages</div>
<!--
EOT;
if($action=='search'){print <<<EOT
-->
<center><a href='$basename'><b>查看全部日誌</b></a></center>
<!--
EOT;
}if($admin_gid==3){
$j_url=EncodeUrl("$basename&del=Y");
print <<<EOT
-->
<!--<center class="xia2"><a style="cursor:pointer;" onclick="delRecord();">刪除多餘管理日誌</a></center>-->
<div class="mb10 tac"><span class="btn"><span><button type="button" onclick="delRecord();">刪除多餘管理日誌</button></span></span></div>
<script type="text/javascript">
var j_url = '$j_url';
function delRecord(){
	if(!confirm("是否要刪除多餘日誌？"))
		return false;
	location.href=j_url;
}
</script>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>-->