<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<div class="admin_info mb10">
	<h3 class="h1"><b>提示信息</b></h3>
	<div class="legend">
		<ul>
			<li>功能說明:<br />就是鼓勵會員宣傳網站的功能。只要用戶把您站點的 url 推薦給其他朋友，並引導其他人訪問您的網站。那他的{$db_creditname}數值將會加一點， {$db_creditname}越大越是表明某會員對網站的宣傳力度越大!<br />使用方法: 在站點任意一動態頁面的 url 後加上 a=用戶名 或 u=用戶數字ID <br /> 比如以下方法均正確(用戶名 yuling 數字ID: 3558)<br /> </li>
			<li>http://www.phpwind.net/index.php?a=yuling</li>
			<li>http://www.phpwind.net/index.php?u=3558</li>
			<li>http://www.phpwind.net/read.php?tid=217205&a=yuling </li>
			<li>http://www.phpwind.net/read.php?tid=217205&u=3558 </li>
			<li>注意:<font color='blue'>需要註冊</font>是指:會員引導的朋友需要註冊之後， 會員才會增加貢獻值；而<font color='blue'>勿需註冊</font>則不限制，只要引導其他人訪問該網站，就會增加!</li>
		</ul>
	</div>
</div>
<form action="$basename" method=post name=creat>
	<h2 class="h1"><b>功能設置</b></h2>
	<div class="admin_table mb10">
		<table width="100%" cellspacing="0" cellpadding="0">
			<tr class="tr1 vt">
				<td class="td1">使用宣傳代碼</td>
				<td class="td2">
					<ul class="list_A cc">
						<li><input type="radio" value="2" $ads_2 name="ads">需要註冊</li>
						<li><input type="radio" value="1" $ads_1 name="ads">勿需註冊</li>
						<li><input type="radio" value="0" $ads_0 name="ads">關閉</li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
	<input type="hidden" name="action" value="submit">
	<div class="tac">
	<span class="btn"><span><button type="submit">提 交</button></span></span>
	</div>
</form>
<!--
EOT;
include_once PrintEot('adminbottom');
?>
-->