<!--<?php
include_once PrintEot('left');
if(!$action){print <<<EOT
-->
<div class="nav3 mb10">
    <ul class="cc">
<!--
EOT;
if($type==0){print <<<EOT
-->
    <li class="current"><a href="$basename">替換詞語</a></li>
    <li><a href="$basename&type=1">禁用詞語</a></li>
    <li><a href="$basename&type=2">報警詞語</a></li>
<!--
EOT;
}elseif($type==1){ print <<<EOT
-->
    <li><a href="$basename">替換詞語</a></li>
    <li class="current"><a href="$basename&type=1">禁用詞語</a></li>
    <li><a href="$basename&type=2">報警詞語</a></li>
<!--
EOT;
}else{print <<<EOT
-->
    <li><a href="$basename">替換詞語</a></li>
    <li><a href="$basename&type=1">禁用詞語</a></li>
    <li class="current"><a href="$basename&type=2">報警詞語</a></li>
<!--
EOT;
}print <<<EOT
-->
    <li><a href="$basename&action=add">新增詞語</a></li>
    <li><a href="$basename&action=batch">導入導出</a></li>
    <li><a href="$basename&action=renew">更新係數</a></li>
    </ul>
</div>
<h3><b>提示信息</b></h3>
<div class="tr5">
<!--
EOT;
if($type==0){print <<<EOT
-->
替換詞語:<br />　　在瀏覽帖子時，會將帖子中的需要替換的詞語替換為對應內容<br />
<!--
EOT;
}elseif($type==1){print <<<EOT
-->
禁用詞語:<br />　　在發表文章時，檢查文章內容中是否含有禁用詞語，如果含有禁用詞語將被禁止發表，已經發表的文章中如果含有禁用詞語將被替換為對應的內容<br />
<!--
EOT;
}else{print <<<EOT
-->
報警詞語:<br />　　在發表文章時，檢查文章內容中是否含有報警詞語，如果含有報警詞語將自動將文章設為需要管理員審核才能查看(<font color=blue>報警詞語無需設置替換詞</font>)<br />
<!--
EOT;
}print <<<EOT
-->
<font color=blue>更新係數</font>:<br />　　更新係數是用來控制帖子內容是否需要替換的一個參數。如果您希望當前詞語過濾設置對以前發的帖子也生效，請選中自動更新選項(或者更改更新係數)。更新操作將在此操作後第一次瀏覽帖子時進行，每個帖子只更新一次。否則當前詞語過濾設置只對新發表的帖子有效。<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color=red>注</font>:添加、修改不良詞語需要選中更新選項；刪除、修改替換詞語時無須更新<br />
</div>

<form action="$basename" method="post">
<input type="hidden" name="type" value="$type" />
<h2>搜索</h2>
<table width="100%" cellspacing="0" cellpadding="0">

<tr class="tac tr3">
	<td>關鍵字：<input type="text" class="input" name="keyword">&nbsp;<input type="submit" class="btn" value="提 交"></td>
</tr>
</table></form><br/>
<form action="$basename" method="post" name="submit">
<input type="hidden" name="action" value="edit" />
<input type="hidden" name="type" value="$type" />
<h2>不良詞語</h2>
<table width="100%" cellspacing="0" cellpadding="0">
<tr class="tr3 tac">
	<td width="5%">id</td>
	<td>
<!--
EOT;
if($type==0){print <<<EOT
-->
	替換詞語
<!--
EOT;
}elseif($type==1){print <<<EOT
-->
	禁用詞語
<!--
EOT;
}else{print <<<EOT
-->
	報警詞語
<!--
EOT;
}print <<<EOT
-->
	</td>
	<td>替換為</td>
	<td>刪除</td>
</tr>
<!--
EOT;
$id=($page-1)*$db_perpage;
foreach($replacedb as $key=>$value){
$id++;
print <<<EOT
-->
<tr class="tr3 tac">
	<td>$id</td>
	<td><input class="input" name="word[$key]" type="text" size="40" value="$value[word]"></td>
	<td><input class="input" name="replace[$key]" type="text" size="40" value="$value[wordreplace]"></td>
	<td><input type="checkbox" name="selid[]" value="$key" /></td></tr>
<!--
EOT;
} print <<<EOT
-->
</table>
<div class="cc mb10">$pages</div>
<center>更新係數<input type="radio" name="update" value='1' />自動更新 <input type="radio" name="update" value='0' checked />不更新<br /><br /><input type="submit" class="btn" value="提 交" name="submit"></center>
</form>
<!--
EOT;
}elseif($action=='add'){ print <<<EOT
-->
<ul class="nav3">
<li><a href="$basename">替換詞語</a></li>
<li><a href="$basename&type=1">禁用詞語</a></li>
<li><a href="$basename&type=2">報警詞語</a></li>
<li class="current"><a href="$basename&action=$action">新增詞語</a></li>
<li><a href="$basename&action=batch">導入導出</a></li>
<li><a href="$basename&action=renew">更新係數</a></li>
</ul>
<div class="c"></div>
<h3><b>提示信息</b></h3>
<div class="tr5">
替換詞語:<br />　　在瀏覽帖子時，會將帖子中的需要替換的詞語替換為對應內容<br />
禁用詞語:<br />　　在發表文章時，檢查文章內容中是否含有禁用詞語，如果含有禁用詞語將被禁止發表，已經發表的文章中如果含有禁用詞語將被替換為對應的內容<br />
報警詞語:<br />　　在發表文章時，檢查文章內容中是否含有報警詞語，如果含有報警詞語將自動將文章設為需要管理員審核才能查看(<font color=blue>報警詞語無需設置替換詞</font>)<br />
<font color=blue>更新係數</font>:<br />　　更新係數是用來控制帖子內容是否需要替換的一個參數。如果您希望當前詞語過濾設置對以前發的帖子也生效，請選中自動更新選項(或者更改更新係數)。更新操作將在此操作後第一次瀏覽帖子時進行，每個帖子只更新一次。否則當前詞語過濾設置只對新發表的帖子有效。<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color=red>注</font>:添加、修改不良詞語需要選中更新選項；刪除、修改替換詞語時無須更新<br />
<font color=blue>替換詞語、禁用詞語、報警詞語格式</font>:<br />以a{2}b{3}c這樣的格式填寫可以替換addbeec,addbeeec等詞語，其中2代表a和b之間能有0~2個任意字符，2可以根據自己的需求更改<br />
</div>
<form action="$basename" method="post">
<input type="hidden" name="action" value="add" />
<input type="hidden" name="step" value="3" />
<h2>新增詞語 <span class="w"><a href="javascript:addact();">[+]</a> <a href="javascript:removeact();">[-]</a></span></h2>
<table width="100%" cellspacing="0" cellpadding="0">
<tr class="tr3 tac">
	<td>不良詞語</td>
	<td>替換為</td>
</tr>
<tr class="tr3 tac">
	<td><input class="input" name="word[1]" type="text" size="40" /></td>
	<td><input class="input" name="rep[1]" type="text" size="40" /></td>
</tr>
<!--
EOT;
for($i=2;$i<=10;$i++){
$id='act_'.$i;
print <<<EOT
-->
<tr class="tr3 tac" id="$id" style="display:none">
	<td><input class="input" name="word[$i]" type="text" size="40" /></td>
	<td><input class="input" name="rep[$i]" type="text" size="40" /></td>
</tr>
<!--
EOT;
}print <<<EOT
-->
</td></tr>
</table><br />
<!-- APP更改內容 type更改 START -->
<center>詞語類型: <input type="radio" name="type" value="1" checked />替換詞語 <input type="radio" name="type" value="3" />禁用詞語 <input type="radio" name="type" value="2" />報警詞語<br/>更新係數<input type="radio" name="update" value="1" />自動更新 <input type="radio" name="update" value="0" checked />不更新<br /><br />
<!-- APP更改內容 type END -->
<input type="submit" value="提 交" name="submit" class="btn" /></center><br/>
</form>
<script type="text/javascript">
var act = 1;
function addact(){
	if(act < 10){
		act++;
		document.getElementById("act_"+act).style.display = "";
	}
}
function removeact(){
	if(act > 1){
		document.getElementById("act_"+act).style.display = "none";
		act--;
	}
}
</script>
<!--
EOT;
}elseif($action=='batch'){print <<<EOT
-->
<ul class="nav3">
<li><a href="$basename">替換詞語</a></li>
<li><a href="$basename&type=1">禁用詞語</a></li>
<li><a href="$basename&type=2">報警詞語</a></li>
<li><a href="$basename&action=add">新增詞語</a></li>
<li class="current"><a href="$basename&action=$action">導入導出</a></li>
<li><a href="$basename&action=renew">更新係數</a></li>
</ul>
<div class="c"></div>
<h3><b>提示信息</b></h3>
<div class="tr5">批量導入:<br />　　選擇需要導入的文件(txt)，點擊提交<br />　　內容規則:<br />　　1、a=>b (將詞語a替換成詞語b)<br />　　2、a|b|c=>d (將詞語a、b、c替換成詞語d)<br />　　3、一行一條記錄，替換詞語不設置時將使用默認詞語</div>

<form action="$basename" method="post" enctype="multipart/form-data">
<input type="hidden" name="action" value="batch" />
<input type="hidden" name="step" value="3" />
<h2>批量導入</h2>
<table width="100%" cellspacing="0" cellpadding="0">
<tr class="tr3"><td width="20%">導入文件</td><td><input class="input" type="file" name="upload" size="29" style="height:22px;" /></td></tr>
<tr class="tr3"><td>默認詞語</td><td><input name="mrep" class="input" type="text" size="40" /></td></tr>
<tr class="tr3"><td>詞語類型: </td><td><input type="radio" name="type" value="0" checked />替換詞語 <input type="radio" name="type" value="1" />禁用詞語 <input type="radio" name="type" value="2" />報警詞語</td></tr>
<tr class="tr3"><td>更新係數</td><td><input type="radio" name="update" value='1' />自動更新 <input type="radio" name="update" value='0' checked />不更新</td></tr>
</table><br />
<center><input type="submit" value="提 交" name="submit" class="btn"/></center>
</form><br/>

<form action="$basename" method="post">
<input type="hidden" name="action" value="batch" />
<input type="hidden" name="step" value="5" />
<h2>詞語導出</h2>
<table width="100%" cellspacing="0" cellpadding="0">
<tr class="tr3"><td width="20%">導出文件名<br />文件路徑 /data</td><td><input class="input" type="text" name="filename" size="40" /> .txt (只允許字符數字和下劃線)</td></tr>
<tr class="tr3"><td>詞語類型: </td><td><input type="checkbox" name="type[0]" value='1' checked />替換詞語 <input type="checkbox" name="type[1]" value='1' checked />禁用詞語 <input type="checkbox" name="type[2]" value='1' checked />報警詞語</tr>
</table><br />
<center><input type="submit" value="提 交" name="submit" class="btn" /></center>
</form><br/>
<!--
EOT;
}elseif($action=='renew'){ print <<<EOT
-->
<ul class="nav3">
<li><a href="$basename">替換詞語</a></li>
<li><a href="$basename&type=1">禁用詞語</a></li>
<li><a href="$basename&type=2">報警詞語</a></li>
<li><a href="$basename&action=add">新增詞語</a></li>
<li><a href="$basename&action=batch">導入導出</a></li>
<li class="current"><a href="$basename&action=$action">更新係數</a></li>
</ul>
<div class="c"></div>
<h3><b>提示信息</b></h3>
<div class="tr5"><font color=blue>更新係數</font>:<br />　　更新係數是用來控制帖子內容是否需要替換的一個參數。如果您希望當前詞語過濾設置對以前發的帖子也生效，請選中自動更新選項(或者更改更新係數)。更新操作將在此操作後第一次瀏覽帖子時進行，每個帖子只更新一次。否則當前詞語過濾設置只對新發表的帖子有效。<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color=red>注</font>:添加、修改不良詞語需要選中更新選項；刪除、修改替換詞語時無須更新<br /></div>
<form action="$basename" method="post">
<input type="hidden" name="step" value="3" />
<input type="hidden" name="action" value="renew" />
<h2>更新係數調整</h2>
<table width="100%" cellspacing="0" cellpadding="0">
<tr class="tr3"><td>當前係數:{$db_wordsfb} （當該值發生變化時，將會重新審核帖子內容是否需要替換，範圍1~9）</td></tr>
<tr class="tr3"><td>期望係數:<input type="text" class="input" size="5" name="desvalue" value="$desvalue" /> <input type="submit" class="btn" value="更 新" /></td></tr>
</table>
</form><br/>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>-->