<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<div class="nav3 mb10">
    <ul class="cc">
<!--
EOT;
empty($mode) && $mode = 'bbs';
foreach($db_modes as $key => $value){
if($value['ifopen'] && !in_array($key,$unSeoset)){
$current_menu = $key == $mode ? 'class="current"' : '';
print <<<EOT
-->
        <li $current_menu><a href="$basename&mode=$key">$value[m_name]</a></li>
<!--
EOT;
}}print <<<EOT
-->
	 	<li  class="current"><a href="$basename&mode=sitemap">網站地圖</a></li>
    </ul>
</div>
<div class="admin_info mb10">
	<h3 class="h1"><b>提示信息</b></h3>
	<div class="legend">網站地圖功能(Sitemaps)使您能夠告知搜索引擎您網站中可供抓取的網址，以便搜索引擎可以更智能地收錄您的網站信息，適用於各種大小的網站<br />建議使用方法：在網站地圖增加網站地圖的鏈接供爬蟲訪問，<a href="{$db_bbsurl}/sitemap.php" target="_blank">點擊查看</a></div>
</div>
<form action="$basename&mode=sitemap" method="post">
	<input type="hidden" name="action" value="baidu" />
	<h2 class="h1">網站地圖設置</h2>
	<div class="admin_table mb10">
		<table width="100%" cellspacing="0" cellpadding="0">
			<tr class="tr1 vt">
				<td class="td1">更新週期[小時]</td>
				<td class="td2"><input class="input input_wa" type="text" name="config[updatePeri]" value="$sm_updatePeri" /></td><td class="td2"><div class="help_a">建議值:12小時</div></td>
			</tr>
			<tr class="tr1 vt">
				<td class="td1">生成列表數目</td>
				<td class="td2"><input class="input input_wa" type="text" name="config[num]" value="$sm_num" /></td><td class="td2"><div class="help_a">建議值:1000</div></td>
			</tr>
		</table>
	</div>
	<div class="tac">
		<span class="btn"><span><button type="submit">提 交</button></span></span>
		<span class="bt"><span><button type="button" onclick="window.location.href='$basename&mode=sitemap&action=create'">重新生成網站地圖</button></span></span>
	</div>
</form>
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->
