<!--<?php print <<<EOT
-->
<option value="-12" $zone_012>(標準時-12:00) 日界線西</option>
<option value="-11" $zone_011>(標準時-11:00) 中途島、薩摩亞群島</option>
<option value="-10" $zone_010>(標準時-10:00) 夏威夷</option>
<option value="-9" $zone_09>(標準時-9:00) 阿拉斯加</option>
<option value="-8" $zone_08>(標準時-8:00) 太平洋時間(美國和加拿大)</option>
<option value="-7" $zone_07>(標準時-7:00) 山地時間(美國和加拿大)</option>
<option value="-6" $zone_06>(標準時-6:00) 中部時間(美國和加拿大)、墨西哥城</option>
<option value="-5" $zone_05>(標準時-5:00) 東部時間(美國和加拿大)、波哥大</option>
<option value="-4" $zone_04>(標準時-4:00) 大西洋時間(加拿大)、加拉加斯</option>
<option value="-3.5" $zone_03_5>(標準時-3:30) 紐芬蘭</option>
<option value="-3" $zone_03>(標準時-3:00) 巴西、布宜諾斯艾利斯、喬治敦</option>
<option value="-2" $zone_02>(標準時-2:00) 中大西洋</option>
<option value="-1" $zone_01>(標準時-1:00) 亞速爾群島、佛得角群島</option>
<option value="111" $zone_111>(格林尼治標準時) 西歐時間、倫敦、卡薩布蘭卡</option>
<option value="1" $zone_1>(標準時+1:00) 中歐時間、安哥拉、利比亞</option>
<option value="2" $zone_2>(標準時+2:00) 東歐時間、開羅，雅典</option>
<option value="3" $zone_3>(標準時+3:00) 巴格達、科威特、莫斯科</option>
<option value="3.5" $zone_3_5>(標準時+3:30) 德黑蘭</option>
<option value="4" $zone_4>(標準時+4:00) 阿布扎比、馬斯喀特、巴庫</option>
<option value="4.5" $zone_4_5>(標準時+4:30) 喀布爾</option>
<option value="5" $zone_5>(標準時+5:00) 葉卡捷琳堡、伊斯蘭堡、卡拉奇</option>
<option value="5.5" $zone_5_5>(標準時+5:30) 孟買、加爾各答、新德里</option>
<option value="6" $zone_6>(標準時+6:00) 阿拉木圖、 達卡、新亞伯利亞</option>
<option value="7" $zone_7>(標準時+7:00) 曼谷、河內、雅加達</option>
<option value="8" $zone_8>(北京時間) 北京、重慶、香港、新加坡</option>
<option value="9" $zone_9>(標準時+9:00) 東京、漢城、大阪、雅庫茨克</option>
<option value="9.5" $zone_9_5>(標準時+9:30) 阿德萊德、達爾文</option>
<option value="10" $zone_10>(標準時+10:00) 悉尼、關島</option>
<option value="11" $zone_11>(標準時+11:00) 馬加丹、索羅門群島</option>
<option value="12" $zone_12>(標準時+12:00) 奧克蘭、惠靈頓、堪察加半島</option>
<!-- 
EOT;
?>