<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<div class="admin_info mb10">
	<h3 class="h1">提示信息</h3>
    <div class="legend">
    	<ol>
        	<li>此處用於設置多個系統間的用戶信息共享，並實現各系統間用戶資料、操作等的同步</li>
    		<li>獨立系統—表示系統沒有跟其他系統共享用戶信息</li>
    		<li>用戶中心服務端—表示系統為用戶中心主站，設置過程中其本身的數據將不受影響；設置完成後，需要到《應用管理》中添加附站信息</li>
    		<li>用戶中心客戶端—表示系統為用戶中心附站，設置完成後，其用戶信息將被主站覆蓋（設置需謹慎）</li>
        </ol>
    </div>
</div>
<form action="$basename" method="post">
<h2 class="h1">用戶中心</h2>
<div class="admin_table mb10">
    <table cellspacing="0" cellpadding="0" width="100%">
        <tr class="tr1 vt">
            <td class="td1">將本系統作為</td>
            <td class="td2">
            	<ul class="list_A">
                	<li><input type="radio" name="uc_server" value="0" onclick="showset(this.value);" $ifcheck_0 />獨立系統</li>
                	<li><input type="radio" name="uc_server" value="1" onclick="showset(this.value);" $ifcheck_1 />用戶中心服務端</li>
                	<li><input type="radio" name="uc_server" value="2" onclick="showset(this.value);" $ifcheck_2 />用戶中心客戶端（用戶中心的一個子應用）</li>
                </ul>
            </td>
        </tr>
        <tbody id="uc_set_appid" style="display:none">
        <tr class="tr1 vt">
            <td class="td1">本應用id</td>
            <td class="td2"><input type="text" name="uc_appid" value="$uc_appid" class="input input_wa" /></td>
        </tr>
        </tbody>
        <tbody id="uc_set_key" style="display:none">
        <tr class="tr1 vt">
            <td class="td1">本應用密鑰</td>
            <td class="td2">
            	<input type="text" name="uc_key" value="$uc_key" id="uc_key" class="input input_wa mr5" />
            	<span class="bt2"><span><button type="button" onclick="randomChar(20)">隨機生成密鑰</button></span></span>
            </td>
        </tr>
        </tbody>
        <tbody id="uc_set_server" style="display:none">
        <tr class="tr1 vt">
            <td class="td1">服務端數據庫主機名 或 IP 地址</td>
            <td class="td2"><input type="text" name="uc_dbhost" value="$uc_dbhost" class="input input_wa" /></td>
        </tr>
        <tr class="tr1 vt">
            <td class="td1">服務端數據庫用戶名</td>
            <td class="td2"><input type="text" name="uc_dbuser" value="$uc_dbuser" class="input input_wa" /></td>
        </tr>
        <tr class="tr1 vt">
            <td class="td1">服務端數據庫密碼</td>
            <td class="td2"><input type="text" name="uc_dbpw" value="$uc_dbpw" class="input input_wa" /></td>
        </tr>
        <tr class="tr1 vt">
            <td class="td1">服務端數據庫名</td>
            <td class="td2"><input type="text" name="uc_dbname" value="$uc_dbname" class="input input_wa" /></td>
        </tr>
        <tr class="tr1 vt">
            <td class="td1">服務端數據庫表前綴</td>
            <td class="td2"><input type="text" name="uc_dbpre" value="$uc_dbpre" class="input input_wa" /></td>
        </tr>
        <tr class="tr1 vt">
            <td class="td1">服務端數據庫表字符編碼</td>
            <td class="td2"><input type="text" name="uc_dbcharset" value="$uc_dbcharset" class="input input_wa" /></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="tac mb10">
	<input type="hidden" name=action value='unite'>
	<span class="btn"><span><button type="submit">提 交</button></span></span>
</div>
</form>
<script type="text/javascript">
function randomChar(len) {
	var x = "0123456789qwertyuioplkjhgfdsazxcvbnm";
	var tmp = "";
	for (var i = 0; i < len; i++) {
		tmp += x.charAt(Math.ceil(Math.random() * 100000000) % x.length);
	}
	getObj('uc_key').value = tmp;
}
function showset(id) {
	getObj('uc_set_key').style.display = (id != '0') ? '' : 'none';
	getObj('uc_set_server').style.display = (id == '2') ? '' : 'none';
	getObj('uc_set_appid').style.display = (id == '2') ? '' : 'none';
}
showset('$uc_server');
</script>
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->