<!--<?php
include_once PrintEot('left');
if (empty($action)){
print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc">
		<li><a href="$admin_file?adminjob=setforum&adminitem=setforum">版塊管理</a></li>
		<li class="current"><a href="$admin_file?adminjob=setforum&adminitem=uniteforum">版塊合併</a></li>
		<li><a href="$admin_file?adminjob=setforum&adminitem=forumsell">版塊出售記錄</a></li>
		<li><a href="$admin_file?adminjob=setforum&adminitem=creathtm">生成靜態文件</a></li>
	</ul>
</div>
<div class="admin_info mb10">
    <h3 class="h1"><b>提示信息</b></h3>
    <div class="legend">1.源版塊將被刪除，源版塊的所有帖子將移動目標版塊中<br />2.有子版塊的版塊不能合併到其他版塊<br />3.分類不能使用合併功能</div>
</div>
<form action="$basename" method=post>
  <h2 class="h1"><b>合併版塊</b></h2>
  <div class="admin_table mb10">
  <table cellspacing="0" cellpadding="0" width="100%">
    <tr class="tr1 vt">
      <td class="td1">源版塊</td>
      <td class="td2"><select name="fid"  class="select_wa">
			$forumcache
			$hideforum
        </select>
      </td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">目標版塊</td>
      <td class="td2">
      <select name="tofid"  class="select_wa">
			$forumcache
			$hideforum
        </select>
      </td>
    </tr>
  </table>
  </div>
    <input type="hidden" name=action value='unite'>
    <div class="tac mb10">
    <span class="btn"><span><button type="submit">提 交</button></span></span>
    </div>
</form>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>-->
