<!--<?php
include_once PrintEot('left');
if($adminitem == 'updatecache'){
print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc">
		<li class="current"><a href="$jobUrl">緩存管理</a></li>
		<li><a href="$jobUrl&adminitem=pwcache">PW緩存庫</a></li>
		<li><a href="$jobUrl&adminitem=threadcache">主題列表緩存</a></li>
		<li><a href="$jobUrl&adminitem=guestcache">遊客緩存</a></li>
		<li><a href="$jobUrl&adminitem=guestdir">清空緩存</a></li>
		<li><a href="$jobUrl&adminitem=blacklist">調用黑名單</a></li>
	</ul>
</div>
<h2 class="h1">緩存管理</h2>
<div class="admin_table mb10">
  <table width="100%" cellspacing="0" cellpadding="0">
    <form action="$basename&" method=post>
      <input type="hidden" name=action value='cache'>
      <tr class="tr1 vt">
        <td class="td1">更新站點緩存</td>
        <td class="td2"><span class="bt2"><span>
          <button type="submit">更 新</button>
          </span></span></td>
        <td class="td2"><div class="help_a">數據轉換後或前台不能正常訪問時，可以使用此功能更新所有緩存</div></td>
      </tr>
    </form>
    <form action="$basename&" method=post>
      <input type="hidden" name=action value='bbsinfo'>
      <tr class="tr1 vt">
        <td class="td1">更新會員總數</td>
        <td class="td2"><span class="bt2"><span>
          <button type="submit">更 新</button>
          </span></span></td>
        <td class="td2"><div class="help_a">可修復會員總數統計錯誤問題</div></td>
      </tr>
    </form>
    <form action="$basename&" method="post">
      <input type="hidden" name="action" value="online">
      <tr class="tr1 vt">
        <td class="td1">初始化在線列表</td>
        <td class="td2"><span class="bt2"><span>
          <button type="submit">更 新</button>
          </span></span></td>
        <td class="td2"><div class="help_a">前台在線用戶列表發生錯亂時，可使用此功能修復</div></td>
      </tr>
    </form>
    <form action="$basename&" method=post>
      <input type="hidden" name=action value='topped'>
      <tr class="tr1 vt">
        <td class="td1">更新置頂帖統計</td>
        <td class="td2"><span class="bt2"><span>
          <button type="submit">更 新</button>
          </span></span></td>
        <td class="td2"><div class="help_a">置頂帖顯示不正常，可使用此功能修復</div></td>
      </tr>
    </form>
    <form action="$basename&" method=post>
      <input type="hidden" name=action value='usergroup'>
      <tr class="tr1 vt">
        <td class="td1">更新系統組成員頭銜</td>
        <td class="td2"><span class="bt2"><span>
          <button type="submit">更 新</button>
          </span></span></td>
        <td class="td2"><div class="help_a">使用此功能可修復版主頭銜錯誤和系統組頭銜錯誤的問題</div></td>
      </tr>
    </form>
<!--
EOT;
if(!$isMemcachOpen){print <<<EOT
-->
    <form action="$basename&" method=post>
      <input type="hidden" name=action value='flushDatastore'>
      <tr class="tr1 vt">
        <td class="td1">會員信息緩存</td>
        <td class="td2"><span class="bt2"><span>
          <button type="submit">更 新</button>
          </span></span></td>
        <td class="td2"><div class="help_a">更新帖子閱讀頁會員緩存信息</div></td>
      </tr>
    </form>
<!--
EOT;
}print <<<EOT
-->
	<form action="$basename&" method=post>
      <input type="hidden" name=action value='digest'>
      <tr class="tr1 vt">
        <td class="td1">修復精華帖統計</td>
        <td class="td2"><input type="text" class="input input_wa mr5" name="percount" value=1000>
          <span class="bt2"><span>
          <button type="submit" value="每批更新個數">每批更新個數</button>
          </span></span> </td>
        <td class="td2"><div class="help_a">修復所有會員的精華帖個數統計</div></td>
      </tr>
    </form>
    <form action="$basename&" method=post>
      <input type="hidden" name=action value='forum'>
      <tr class="tr1 vt">
        <td class="td1">更新主題文章數統計</td>
        <td class="td2"><input type="text" class="input input_wa mr5" name="percount" value="100">
          <span class="bt2"><span>
          <button type="submit" value="每批更新個數">每批更新個數</button>
          </span></span> </td>
        <td class="td2"><div class="help_a">更新所有版塊的主題數和文章數統計<br/><span class="gray">數據轉換後或前台文章數統計不正常時，可使用此功能修復</span></div></td>
      </tr>
    </form>
    <form action="$basename&" method=post>
      <input type="hidden" name=action value='group'>
      <tr class="tr1 vt">
        <td class="td1">更新會員組頭銜</td>
        <td class="td2"><input type="text" class="input input_wa mr5" name="percount" value=2000>
          <span class="bt2"><span>
          <button type="submit" value="每批更新個數">每批更新個數</button>
          </span></span> </td>
        <td class="td2"><div class="help_a">根據積分方案更新會員組頭銜<br /><span class="gray">每次更改升級點數需求或會員組提升方式後需要使用此功能更新會員組頭銜</span></div></td>
      </tr>
    </form>
    <form action="$basename&" method=post>
      <input type="hidden" name=action value='thread'>
      <tr class="tr1 vt">
        <td class="td1">更新主題的回複數統計</td>
        <td class="td2"><input type="text" class="input input_wa mr5" name="percount" value="2000">
          <span class="bt2"><span>
          <button type="submit" value="每批更新個數">每批更新個數</button>
          </span></span> </td>
        <td class="td2"><div class="help_a">更新主題的回複數統計<br /><span class="gray">當瀏覽帖子頁面回復顯示不正常時，可以使用此功能修復 (不建議使用)</span></div></td>
      </tr>
    </form>
    <form action="$basename&" method=post>
      <input type="hidden" name=action value='appcount'>
      <tr class="tr1 vt">
        <td class="td1">更新用戶APP統計</td>
        <td class="td2"><input type="text" class="input input_wa mr5" name="percount" value="2000">
          <span class="bt2"><span>
          <button type="submit" value="每批更新個數">每批更新個數</button>
          </span></span> </td>
        <td class="td2"><div class="help_a">更新用戶的應用(app)統計<br /><span class="gray">但用戶的app統計不正確的時候（例如照片數量準確），可以使用此功能修復</span></div></td>
      </tr>
    </form>
    <form action="$basename&" method="post">
      <input type="hidden" name="action" value="updateMemberFriends"/>
      <tr class="tr1 vt">
        <td class="td1">修復用戶好友數</td>
        <td class="td2"><input type="text" class="input input_wa mr5" name="percount" value="1000"/>
          <span class="bt2"><span>
          <button type="submit" value="每批更新個數">每批更新個數</button>
          </span></span> </td>
        <td class="td2"><div class="help_a">修復用戶好友數<br /><span class="gray">此操作將從新統計用戶的好友個數</span></div></td>
      </tr>
    </form>
    
    <form action="$basename&" method="post">
      <input type="hidden" name="action" value="member"/>
      <tr class="tr1 vt">
        <td class="td1">更新會員發帖數</td>
        <td class="td2"><input type="text" class="input input_wa mr5" name="percount" value="1000"/>
          <span class="bt2"><span>
          <button type="submit" value="每批更新個數">每批更新個數</button>
          </span></span> </td>
        <td class="td2"><div class="help_a">提示:將根據數據庫中的帖子記錄來重新統計用戶的發帖數<br /><span class="xia">不建議使用，除非您希望校正所有用戶的發帖數為數據庫中實際存在的帖子數</span></div></td>
      </tr>
    </form>    
<!-- 
    <form action="$basename&" method=post>
      <input type="hidden" name=action value='clearClassCompressFile'>
      <tr class="tr1 vt">
        <td class="td1">類庫壓縮文件清除</td>
        <td class="td2"><span class="bt2"><span>
          <button type="submit" value="清 除">清 除</button>
          </span></span></td>
        <td class="td2"><div class="help_a">此操作將清除類庫的壓縮文件，到 <a href="?adminjob=settings&admintype=safe" onclick="parent.PW.Dialog({id:'safe',url:'?adminjob=settings&admintype=safe',name:'安全與優化'});return false;">全局->安全與優化->速度優化</a> 中可開啟類庫文件壓縮功能</div></td>
      </tr>
    </form>    
 -->
    <form action="$basename&" method=post>
      <input type="hidden" name=action value='clearCacheCompressFile'>
      <tr class="tr1 vt">
        <td class="td1">緩存壓縮文件清除</td>
        <td class="td2"><span class="bt2"><span>
          <button type="submit" value="清 除">清 除</button>
          </span></span></td>
        <td class="td2"><div class="help_a">此操作將清除緩存的壓縮文件，到 <a href="?adminjob=settings&admintype=safe" onclick="parent.PW.Dialog({id:'safe',url:'?adminjob=settings&admintype=safe',name:'安全與優化'});return false;">全局->安全與優化->速度優化</a> 中可開啟緩存文件壓縮功能</div></td>
      </tr>
    </form>
<!--
EOT;
if($isUniqueStrategyOpen){
print <<<EOT
-->		    
    <form action="$basename&" method=post>
      <input type="hidden" name=action value='clearUniqueCache'>
      <tr class="tr1 vt">
        <td class="td1">清除主鍵緩存</td>
        <td class="td2"><span class="bt2"><span>
          <button type="submit" value="清 除">清 除</button>
          </span></span></td>
        <td class="td2"><div class="help_a">此操作將清除主鍵緩存，到 <a href="?adminjob=settings&admintype=safe" onclick="parent.PW.Dialog({id:'safe',url:'?adminjob=settings&admintype=safe',name:'安全與優化'});return false;">全局->安全與優化->速度優化</a> 中設置主鍵生成策略</div></td>
      </tr>
    </form>       
<!--
EOT;
}if($isMemcachOpen){
print <<<EOT
-->
    <form action="$basename&" method=post>
      <input type="hidden" name=action value='clearMemcache'>
      <tr class="tr1 vt">
        <td class="td1" rowspan="1">清除指定版塊的帖子列表頁緩存</td>
        <td class="td2"><select name="fid">
            $forumSelect
          </select><span class="bt2"><span>
          <button type="submit" value="清除">清除</button>
          </span></span>
        </td>
        <td class="td2"><div class="help_a">實現指定版塊裡面的帖子列表頁Memcache清除</div></td>
      </tr>
    </form>
    <form action="$basename&" method=post>
      <input type="hidden" name=action value='clearForumMemcache'>
      <tr class="tr1 vt">
        <td class="td1">清除版塊基本信息</td>
        <td class="td2"><span class="bt2"><span>
          <button type="submit" value="清除">清除</button>
          </span></span></td>
        <td class="td2"><div class="help_a">此操作將清除Memcache中所有版塊的基本信息</div></td>
      </tr>
    </form>    
    <form action="$basename&" method=post>
      <input type="hidden" name=action value='flushMemcache'>
      <tr class="tr1 vt">
        <td class="td1">清除所有Memcache緩存</td>
        <td class="td2"><span class="bt2"><span>
          <button type="submit" value="清除">清除</button>
          </span></span></td>
        <td class="td2"><div class="help_a">此操作將清除Memcache中所有的緩存（如無特殊情況請勿使用）</div></td>
      </tr>
    </form>
<!--
EOT;
}
}print <<<EOT
-->
  </table>
</div>
<!--
EOT;
include_once PrintEot('adminbottom');
?>
-->
