<!--<?php
include_once PrintEot('left');
if (empty($action)){
print <<<EOT
-->
<div class="admin_info mb10">
	<h2 class="h1"><b>提示信息</b></h2>
	<div class="legend">phpwind 提供了一套靈活的等級提升方案，可以根據<b>綜合積分</b>來劃分用戶等級，設定一個好的等級提升方案能更好的體現站點等級系統的價值<br /><b>綜合積分:</b>綜合積分是按照<b>會員組提升方案</b>中設定的積分比率來計算的<br />計算方法:各項積分*比率的和為綜合積分的值<br />如等級提升方案設置<br />發帖數: 1<br />威&nbsp;&nbsp;望: 0.5<br />金&nbsp;&nbsp;錢: -1<br />其&nbsp;&nbsp;他: 0<br />綜合積分計算方法如下:<br />發帖數*1 + 威望*0.5 + 金錢*(-1)</div>
</div>

<form action="$basename" method=post>
<input type=hidden name=action value='delete'>
<h2 class="h1"><b>用戶組提升方案</b></h2>
<div class="admin_table mb10">
<table width="100%" cellspacing="0" cellpadding="0">
	<tr class="tr2 vt">
		<td>類別</td>
		<td>係數</td>
	</tr>
	<tr class="tr1 vt">
		<td class="td1">發帖數</td>
		<td class="td2"><input type="text" class="input input_wc" name="upgrade[postnum]" value="$db_upgrade[postnum]" /></td>
	</tr>
	<tr class="tr1 vt">
		<td class="td1">精華</td>
		<td class="td2"><input type="text" class="input input_wc" name="upgrade[digests]" value="$db_upgrade[digests]" /></td>
	</tr>
	<tr class="tr1 vt">
		<td class="td1">{$db_rvrcname}</td>
		<td class="td2"><input type="text" class="input input_wc" name="upgrade[rvrc]" value="$db_upgrade[rvrc]" /></td>
	</tr>
	<tr class="tr1 vt">
		<td class="td1">{$db_moneyname}</td>
		<td class="td2"><input type="text" class="input input_wc" name="upgrade[money]" value="$db_upgrade[money]" /></td>
	</tr>
	<tr class="tr1 vt">
		<td class="td1">{$db_creditname}</td>
		<td class="td2"><input type="text" class="input input_wc" name="upgrade[credit]" value="$db_upgrade[credit]" /></td>
	</tr>
	<tr class="tr1 vt">
		<td class="td1">{$db_currencyname}</td>
		<td class="td2"><input type="text" class="input input_wc" name="upgrade[currency]" value="$db_upgrade[currency]" /></td>
	</tr>
	<tr class="tr1 vt">
		<td class="td1">會員的歷史在線時間</td>
		<td class="td2"><input type="text" class="input input_wc" name="upgrade[onlinetime]" value="$db_upgrade[onlinetime]" /></td>
	</tr>
<!--
EOT;
foreach($_CREDITDB as $key=>$val){print <<<EOT
-->
	<tr class="tr1 vt">
		<td class="td1">$val[0]</td>
		<td class="td2"><input type="text" class="input input_wc" name="upgrade[$key]" value="$db_upgrade[$key]" /></td>
	</tr>
<!--
EOT;
}print <<<EOT
-->
	
</table>
<table width="100%" cellspacing="0" cellpadding="0">
<tr class="tr2">
	<td class="td2" colspan="2">綜合積分 = {$uprules}</td>
</tr>
</table>
</div>
<div class="tac mb10">
	<span class="btn"><span><button type="submit">提 交</button></span></span>
</div>
</form>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>-->