<!--<?php
include_once PrintEot('left');
$ischeck_yes = $db_windpost['checkurl'] ? 'checked' : '';
$ischeck_no = !$db_windpost['checkurl'] ? 'checked' : '';
$strategy_empty = $db_urlcheckstrategy == '' ? 'checked' : '';
$strategy_verify = $db_urlcheckstrategy == 'verify' ? 'checked' : '';
$strategy_exception = $db_urlcheckstrategy == 'exception' ? 'checked' : '';
$bl_strategy_empty = $db_blurlcheckstrategy == '' ? 'checked' : '';
$bl_strategy_exception = $db_blurlcheckstrategy == 'exception' ? 'checked' : '';
print <<<EOT
-->
<div class="admin_info mb10">
    <h3 class="h1"><b>提示信息</b></h3>
    <div class="legend">使用此功能可以有效過濾帖子中的鏈接。你可以設置允許的外鏈或屏蔽特定的鏈接<br />請在以下對應的文本框中列出你確定的鏈接地址，每行一個<br />白名單：可在本站點無限制發表的鏈接<br />黑名單：禁止在本站點發表的鏈接</div>
</div>
<form action=$basename method=post name="submit">
  <h3 class="h1">帖子外鏈提醒及白名單設置</h3>
  <div class="admin_table mb10">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tr1 vt">
      <td class="td1"> 帖子中開啟外鏈提醒 </td>
      <td class="td2">
        <ul class="list_A list_80 cc">
            <li><input name="ischeckurl" type="radio" value="1" $ischeck_yes>開啟</li>
            <li><input name="ischeckurl" type="radio" value="0" $ischeck_no>關閉</li>
         </ul>
        </td><td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1"> 白名單鏈接地址
        </td>
      <td class="td2"><textarea name="urlinfo" class="textarea">$urlinfo</textarea></td>
	  <td class="td2"><div class="help_a"> 如phpwind.net 表示允許該域名下的所有鏈接<br>
        abc.phpwind.net 表示允許此二級域名下的所有鏈接</div></td>
    </tr>
  </table>
  </div>
  <h3 class="h1">帖子外鏈審核</h3>
  <div class="admin_table mb10">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tr1 vt">
      <td  class="td1">帖子外鏈數量限制</td>
      <td class="td2"><input type="text" class="input input_wa" name="urlchecklimit" value="$db_urlchecklimit" />
        個</td><td class="td2"><div class="help_a">白名單中的鏈接不在計數範圍</div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1">帖子外鏈審核策略</td>
      <td class="td2">
        <ul class="cc list_120 fl list_A">
            <li><input name="urlcheckstrategy" type="radio" value="" $strategy_empty>直接發表</li>
            <li><input name="urlcheckstrategy" type="radio" value="verify" $strategy_verify>轉為待審核狀態</li>
            <li><input name="urlcheckstrategy" type="radio" value="exception" $strategy_exception>禁止發表</li>
         </ul>
        </td><td class="td2"><div class="help_a">當帖子外鏈數大於或等於限制時才生效</div></td>
    </tr>
  </table>
  </div>
  <h3 class="h1">帖子外鏈黑名單</h3>
  <div class="admin_table mb10">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tr1 vt">
      <td  class="td1"> 帖子外鏈黑名單 </td>
      <td class="td2">
      	<ul class="list_A list_80 cc">
		 <li><input name="blurlcheckstrategy" type="radio" value="exception" $bl_strategy_exception>開啟 </li>
            <li><input name="blurlcheckstrategy" type="radio" value="" $bl_strategy_empty>關閉</li>
           
         </ul>
        </td><td class="td2"><div class="help_a"></div></td>
    </tr>
    <tr class="tr1 vt">
      <td class="td1"> 黑名單鏈接地址 <span class="gray">
       </span> </td>
      <td class="td2"><textarea class="textarea" name="urlblackinfo">$urlblackinfo</textarea></td>
	  <td class="td2"><div class="help_a">如phpwind.net 表示禁止該域名下的所有鏈接<br />
        abc.phpwind.net 表示禁止此二級域名下的所有鏈接</div> </td>
    </tr>
  </table>
  </div>
  <input type=hidden name="action" value="unsubmit">
  <div class="tac mb10">
   <span class="btn"><span><button type="submit">提 交</button></span></span>
 </div>
</form>
<!--
EOT;
include_once PrintEot('adminbottom');
?>
-->
