<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<div class="admin_info mb10">
    <h3 class="h1"><b>提示信息</b></h3>
    <div class="legend"> <ol><li>為了保證後台的安全性,系統只允許站點創始人和管理員刪除操作日記</li><li>系統必須保留前100條後台管理日誌.</li></ol> </div>
</div>
<form action="$basename" method=post>
  <input type=hidden name=action value=search>
  <h2 class="h1">搜索</h2>
  <div class="admin_table mb10">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tr1 vt">
      <td class="td2">用戶名</td>
      <td class="td2"><input type="text" class="input input_wa" name="username"></td>
      <td class="td2">管理員</td>
      <td class="td2"><input type="text" class="input input_wa" name="adminname"></td>
      <td class="td2"><span class="bt2"><span><button type="submit" value="提 交">提 交</button></span></span></td>
    </tr>
  </table>
  </div>
</form>
<h2 class="h1"><b>管理日誌</b></h2>
<div class="admin_table mb10">
<table width="100%" cellspacing="0" cellpadding="0">
  <tr class="tr2">
    <td>用戶名</td>
    <td>級別</td>
    <td>發帖</td>
    <td>註冊時間</td>
    <td>管理員</td>
  </tr>
<!--
EOT;
foreach($userlogdb as $userlog){
if($userlog){
print <<<EOT
-->
  <tr class="tr1 vt">
    <td class="td2">$userlog[1]</td>
    <td class="td2">$userlog[group]</td>
    <td class="td2">$userlog[3]</td>
    <td class="td2">$userlog[regdate]</td>
    <td class="td2">$userlog[5]</td>
  </tr>
<!--
EOT;
}}
print <<<EOT
-->
</table>
</div>
<div class="tac">
<!--
EOT;
if($action=='search'){print <<<EOT
-->
  <a href='$basename'><b>查看全部日誌</b></a>
<!--
EOT;
}else{print <<<EOT
-->
  <div class="cc mb10">$pages</div>
<!--
EOT;
}if($admin_gid==3){print <<<EOT
-->
  <a href="$basename&del=Y"><b class="xia2" style="margin-left:2em;">刪除多餘管理日誌</b></a>
</div>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>
-->
