<!--<?php
include_once PrintEot('left');
if ($adminitem == 'userstats'){
print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc">
		<li class="current"><a href="$admin_file?adminjob=userstats&adminitem=userstats">成員統計</a></li>
		<li><a href="$admin_file?adminjob=userstats&adminitem=editgroup">批量添加</a></li>
	</ul>
</div>
<h2 class="h1">用戶組成員統計</h2>
<div class="admin_table mb10">
<table width="100%" cellspacing="0" cellpadding="0">
<!--
EOT;
foreach($groupnum as $group){print <<<EOT
-->
	<tr class="tr1 vt">
		<td class="td1">$group[2]</td>
		<td class="td2" width="100">$group[0](個)</td>
		<td class="td2">
<!--
EOT;
if ($group[0]) {
if($group[1]=='-1'){print <<<EOT
-->
			[<a href="$admin_file?adminjob=usermanage&adminitem=edit&action=search&groupid=$group[1]" onclick="parent.PW.Dialog({id:'usermanage',url:'$admin_file?adminjob=usermanage&adminitem=edit&action=search&groupid=$group[1]&orderway=username',name:'用戶管理'});return false;">查看用戶組會員</a>]
<!--
EOT;
}else{ print <<<EOT
-->
			[<a href="$admin_file?adminjob=usermanage&adminitem=edit&action=search&groupid=$group[1]&orderway=username" onclick="parent.PW.Dialog({id:'usermanage',url:'$admin_file?adminjob=usermanage&adminitem=edit&action=search&groupid=$group[1]&orderway=username',name:'用戶管理'});return false;">查看用戶組會員</a>]
<!--
EOT;
}}else{ print <<<EOT
-->
&nbsp;
<!--
EOT;
}print <<<EOT
-->
		</td>
	</tr>
<!--
EOT;
}print <<<EOT
-->
</table>
</div>
<!--
EOT;
}elseif($adminitem=='editgroup'){
if (empty($action)){
print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc">
		<li><a href="$admin_file?adminjob=userstats&adminitem=userstats">成員統計</a></li>
		<li  class="current"><a href="$admin_file?adminjob=userstats&adminitem=editgroup">批量添加</a></li>
	</ul>
</div>
<div class="admin_info mb10">
	<h3 class="h1"><b>提示信息</b></h3>
	<div class="legend"><ol><li>可以批量添加用戶組成員</li><li>先選擇要編輯的用戶組名稱，再在文本框中輸入要加入該用戶組的會員名，然後提交 ( 多個會員名之間用","分隔)</li><li>用此功能批量禁言用戶,禁言類型為<font color=blue>永久禁言</font>,要使用<font color=blue>定期禁言</font>請到會員禁言功能設置</li></ol></div>
</div>
<form action="$basename" method=post>
<input type="hidden" name=action value='add'>
<h2 class="h1"><b>添加用戶組成員</b></h2>
<div class="admin_table mb10">
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr1 vt">
			<td class="td1">用戶組</td>
			<td class="td2"><select name="gid" class="select_wa">$groupselect</select></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">用戶組成員</td>
			<td class="td2"><textarea name="members" class="textarea"></textarea></td>
		</tr>
	</table>
</div>
<div class="tac mb10">
	<span class="btn"><span><button  type="submit">提 交</button></span></span>
</div>
<!--
EOT;
}}print <<<EOT
-->
</form>
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->