<!--<?php
include_once PrintEot('left');
if (empty($action)) {
if ($db_today == 0) {
print <<<EOT
-->
<div class="admin_info mb10">
  <h3 class="h1"><b>提示信息</b></h3>
  <div class="legend">請在 <a href="$admin_file?adminjob=settings&admintype=basic"  onClick="parent.PW.Dialog({id:'basic',url:'$admin_file?adminjob=settings&admintype=basic',name:'站點設置'});return false;">全局->站點設置->全局參數</a> 開啟今日到訪統計才能使用此功能!</div>
</div>
<!--
EOT;
}else{print <<<EOT
-->
<h2 class="h1">今日到訪會員</h2>
<div class="admin_table mb10">
  <table cellspacing="0" cellpadding="0" width="100%">
    <tr class="tr2 s3">
      <td>用戶名</td>
      <td>登錄時間</td>
      <td>活動時間</td>
      <td>來自</td>
      <td>發帖</td>
      <td>{$db_rvrcname}</td>
    </tr>
<!--
EOT;
foreach($inbbsdb as $inbbs){
print <<<EOT
-->
    <tr class="tr1 vt">
      <td class="td2"><a href="u.php?username=$inbbs[rawuser]" target="_blank">$inbbs[user]</a></td>
      <td class="td2">$inbbs[logintime]</td>
      <td class="td2">$inbbs[intime]</td>
      <td class="td2">$inbbs[ipfrom]</td>
      <td class="td2">$inbbs[post]</td>
      <td class="td2">$inbbs[rvrc]</td>
    </tr>
<!--
EOT;
}
print <<<EOT
-->
  </table>
</div>
<div class="cc mb10">$pages</div>
<!--
EOT;
}}include_once PrintEot('adminbottom');
?>-->
