<!--<?php
include_once PrintEot('left');print <<<EOT
-->
<form action="$basename" method="post">
<input type="hidden" name="step" value="2">
<h3 class="h1">WAP瀏覽設置</h3>
<div class="admin_table mb10">
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr class="tr1 vt">
            <td class="td1"><span class="xia2">WAP功能</td>
            <td class="td2">
                <ul class="list_A list_80">
                    <li><input type="radio" value="1" name="config[wapifopen]" $wapifopen_Y>開啟</li>
                    <li><input type="radio" value="0" name="config[wapifopen]" $wapifopen_N>關閉</li>
                </ul>
            </td>
            <td class="td2"><div class="help_a">開啟此功能允許用戶通過手機訪問站點，實現瀏覽、發帖、收發消息等功能</div></td>
        </tr>
        <tr class="tr1 vt">
            <td class="td1">WAP字符集</td>
            <td class="td2">
                <ul class="list_A list_80">
                    <li><input type="radio" value="1" name="config[wapcharset]" $wapcharset_Y> UTF-8</li>
                    <li><input type="radio" value="0" name="config[wapcharset]" $wapcharset_N> UNICODE</li>
                </ul>
            </td>
            <td class="td2"><div class="help_a">UTF-8 編碼佔用字節較小，但兼容性較差，遇到亂碼等情況可能導致頁面無法瀏覽。<br />UNICODE 編碼佔用字節較大，但兼容性比UTF-8編碼好很多，推薦使用</div></td>
        </tr>
        <tr>
        	<td class="td1"><span class="xia2">WAP用戶註冊</span> </td>
        	<td class="td2">
        		<ul class="list_A list_80">
        			<li><input type="radio" value="1" name="config[wapregist]" $wapregist_Y> 開啟</li>
        			<li><input type="radio" value="0" name="config[wapregist]" $wapregist_N> 關閉</li>
        		</ul>
        	</td>
        	<td class="td2"><div class="help_a"></div></td>
        </tr>
        <!--<tr class="tr1 vt">
			<td class="td1">手機版記錄</td>
			<td class="td2">
				<input type="radio" value="1" name="config[waprecord]" $waprecord_Y> 開啟
				<input type="radio" value="0" name="config[waprecord]" $waprecord_N> 關閉
			</td>
			<td class="td2">開啟後可以直接通過WAP發表記錄</td>
		</tr>
        --><tr class="tr1 vt">
            <td class="td1">WAP頁面長度控制</td>
            <td class="td2"><input name="config[waplimit]" value="$db_waplimit" class="input input_wa" /></td>
            <td class="td2"><div class="help_a">為了提高兼容性請設置為大於0的整數，建議設置為:300-2000 之間</div></td>
        </tr>
        <tr class="tr1 vt">
            <td class="td1">WAP推薦版塊</td>
            <td class="td2">$showforums</td>
            <td class="td2"><div class="help_a">為方便WAP用戶查看站點帖子，請設置您想要推薦給WAP用戶的版塊</div></td>
        </tr>
        <tr class="tr1 vt">
			<td class="td1">本周熱帖</td>
			<td class="td2">
				<input type="radio" value="1" name="config[waphottopicweek]" $waphottopicweek_Y> 開啟
				<input type="radio" value="0" name="config[waphottopicweek]" $waphottopicweek_N> 關閉
			</td>
			<td class="td2">
				開啟後將在WAP首頁顯示熱點話題
			</td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">24小時熱帖</td>
			<td class="td2">
				<input type="radio" value="1" name="config[waphottopictoday]" $waphottopictoday_Y> 開啟
				<input type="radio" value="0" name="config[waphottopictoday]" $waphottopictoday_N> 關閉
			</td>
			<td class="td2">
				開啟後將在WAP首頁顯示24小時熱帖
			</td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">內容推薦</td>
			<td class="td2">
				<input type="radio" value="1" name="config[waprecommend]" $waprecommend_Y> 開啟
				<input type="radio" value="0" name="config[waprecommend]" $waprecommend_N> 關閉
			</td>
			<td class="td2">
				開始後將在WAP首頁顯示推薦內容，推薦內容在【<a onclick="parent.PW.Dialog({id:'wapsettings',name:'內容推薦',url:'$admin_file?adminjob=wapsettings'})" href="javascript:;">內容推薦</a>】中維護
			</td>
		</tr>
    </table>
</div>

<div class="admin_table mb10">
	<h3 class="h1">圖片縮略</h3>
	<div class="admin_table mb10">
		<table width="100%" cellspacing="0" cellpadding="0">
			<tr class="tr1 vt">
				<td class="td1">圖片縮略功能</td>
				<td class="td2">
					<ul class="list_A list_80">
						<li><input type="radio" value="1" name="config[wapifathumb]" $wapifathumb_Y>開啟</li>
						<li><input type="radio" value="0" name="config[wapifathumb]" $wapifathumb_N>關閉</li>
					</ul>
				</td>
				<td class="td2"><div class="help_a">將站點的圖片附件按照一定比例進行縮略</div></td>
			</tr>
			<tr class="tr1 vt">
				<td class="td1">gif圖片縮略</td>
				<td class="td2">
					<ul class="list_A list_80">
						<li><input type="radio" value="1" name="config[wapifathumbgif]" $wapifathumbgif_Y>開啟</li>
						<li><input type="radio" value="0" name="config[wapifathumbgif]" $wapifathumbgif_N>關閉</li>
					</ul>
				</td><td class="td2"><div class="help_a"></div></td>
			</tr>
			<tr class="tr1 vt">
				<td class="td1">圖片縮略寬高控制</td>
				<td class="td2">
					<ul class="list_C">
						<li>寬： <input id="wapathumbsize[wapathumbwidth]" name="wapathumbsize[wapathumbwidth]" value="$db_wapathumbwidth" class="input input_wc" /></li>
						<li>高： <input id="wapathumbsize[wapathumbheight]" name="wapathumbsize[wapathumbheight]" value="$db_wapathumbheight" class="input input_wc" /></li>
					</ul>
				</td>
				<td class="td2">
					<div class="help_a">
					對超過此設定值的圖片進行縮略</br>
					0或留空表示不限制<br/>
					單位為像素
					</div>
				</td>
			</tr>
			<tr class="tr1 vt">
				<td class="td1">縮略圖效果預覽</td>
				<td class="td2">
				<span class="bt2"><span><button type="button" onclick="thumbPreview();">圖片縮略預覽</button></span></span></td>
				<td class="td2"><div class="help_a">無需保存即可預覽</div></td>
			</tr>
		</table>
	</div>
</div>

<div class="tac mb10"><span id="submit" class="btn"><span><button type="submit" onfocus="blur();">提 交</button></span></span></div>

<script type="text/javascript">
function thumbPreview(){
	var url = 'admin.php?adminjob=settings&admintype=att&pathumb=1&athumbsize[athumbwidth]='+encodeURIComponent(getObj('wapathumbsize[wapathumbwidth]').value)+'&athumbsize[athumbheight]='+encodeURIComponent(getObj('wapathumbsize[wapathumbheight]').value);
	window.open(url);
}

</script>
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->