<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<!--
EOT;
print <<<EOT
-->

<!--
EOT;
if($step == 1){
print <<<EOT
-->
<!--協議-->
<style>
/*aliyun*/
.ali_agreement{border:5px solid #deeaf7;margin-bottom:20px;padding:1px;background:#c7daef;width:802px;}
.ali_agreement_bg{background:#f9f9f9;padding:20px;width:760px;color:#333;line-height:1.8;border:1px solid #fff;}
.ali_agreement h1{ font:bold 14px Arial; text-align:center;line-height:40px;}
</style>
<form action="$basename" method="post" enctype="multipart/form-data">
<input name="step" value="2" type="hidden" />
<div class="ali_agreement">
	<div class="ali_agreement_bg">
		<h1>phpwind雲服務使用協議</h1>
		<p>phpwind雲服務是由杭州德天信息技術有限公司自主研發的基於雲計算的社區運營解決方案。任何組織或個人在使用該服務前請務必保證您已經仔細閱讀了下列條款。</p>
		<p>&nbsp;</p>
	<ol class="mb20">
	<li>1、任何個人或組織，使用phpwind雲服務均屬自願行為，杭州德天信息技術有限公司承諾盡其最大努力保證phpwind雲服務的穩定，但不保證不發生任何故障，杭州德天信息技術有限公司產品用戶須自行承擔因使用phpwind雲服務所帶來的全部風險及損失。</li>
	<li>   2、杭州德天信息技術有限公司有權自主決定是否批准德天產品用戶的phpwind雲服務的申請。出於技術、安全及業務發展規劃等各種考慮，杭州德天信息技術有限公司可以在無需您另行同意的情況下隨時獨立的調整phpwind雲服務的使用策略，包括但不限於：修改服務內容、中止或終止部分或全部服務、限制某個網站使用、德天產品用戶（在某段時間內）的請求次數、請求的內容。即使德天用戶網站已經批准使用phpwind雲服務，杭州德天信息技術有限公司仍然有權根據用戶投訴和反饋情況，自主決定暫停或終止德天用戶網站phpwind雲服務。由此帶來的風險和損失，杭州德天信息技術有限公司不承擔任何責任。</li>
	<li>3、杭州德天信息技術有限公司無法承諾保證杭州德天信息技術有限公司用戶網站是完全合法、穩定或者安全的，也無法保證杭州德天信息技術有限公司用戶網站最終用戶無不當或者違法行為，您應自行解決杭州德天信息技術有限公司產品用戶與最終用戶產生的任何糾紛或者訴訟，與杭州德天信息技術有限公司無關。</li>
	<li>4、對於由於不可抗力因素、杭州德天信息技術有限公司無法控制的因素（包括黑客攻擊、停斷電等）或其他任何因素等造成服務中止或終止，而給您造成損失的，您同意放棄追究杭州德天信息技術有限公司責任的全部權利。</li>
	<li>5、如果德天產品用戶和杭州德天信息技術有限公司就phpwind雲計算平台所投放的廣告相關內容產生分歧，由德天用戶和廣告主雙方協商解決，杭州德天信息技術有限公司不承擔相應責任。</li>
	<li>6、若您和德天之間發生任何糾紛或爭議，首先應友好協商解決，協商不成的，您在此完全同意將糾紛或爭議提交德天所在地杭州市西湖區人民法院管轄。杭州德天信息技術有限公司擁有對以上各項條款內容的解釋權及修改權。</li>
	</ol>
	<div class="mb20 tac"><input name="agree" type="checkbox" value="1" id="ali_checkbox" style="vertical-align:middle;margin:-4px 0 0 0;" /><label for="ali_checkbox"> 我已仔細閱讀並同意 《phpwind雲服務使用協議》 </label></div>
	<div class="tac mb20"><span class="btn"><span><button type="submit">下一步</button></span></span></div>
	</div>
</div>
</form>
<!--
EOT;
} elseif ($step == 2) {
print <<<EOT
-->
<!--接口檢測-->
<form action="$basename" method="post" enctype="multipart/form-data">
<input name="step" value="3" type="hidden" />
<!--
EOT;
include_once PrintEot('yunchecktemplate');
print <<<EOT
-->
<div class="tac mb10"><span class="btn"><span><button type="submit">下一步</button></span></span></div>
</form>
<!--
EOT;
} elseif ($step == 3) {
print <<<EOT
-->
<!--站點信息-->
<form action="$basename" method="post" enctype="multipart/form-data">
<input name="step" value="4" type="hidden" />
<h2 class="h1">論壇信息</h2>
<div class="admin_table mb10">
	<table width="100%">
		<tr class="tr1">
			<td class="td1">論壇URL：</td>
			<td class="td2"><input type="text" name="siteurl" value="$bbsurl" class="input input_wb" /></td>
		</tr>
		<tr>
			<td class="td1">論壇名稱：</td>
			<td class="td2"><input type="text" name="sitename" value="$bbsname"  class="input input_wb" /></td>
		</tr>
		<tr>
			<td class="td1">論壇管理員：</td>
			<td class="td2"><input type="text" name="bossname" class="input input_wb" /></td>
		</tr>
		<tr>
			<td class="td1">手機號碼：</td>
			<td class="td2"><input type="text" name="bossphone" class="input input_wb" /></td>
		</tr>
	</table>
</div>
<div class="tac"><span class="btn"><span><button type="submit">下一步</button></span></span></div>
</form>
<!--
EOT;
} elseif ($step == 5) {
print <<<EOT
-->
<!--正在審核-->
<dl class="cc tip_wind" style="width:500px;margin:auto;">
	<dt style="background:url(images/success_bg.gif) center center no-repeat;"></dt>
	<dd style="width:360px;padding-top:30px;"><h4>雲服務申請成功，預計將在24小時內為您開通！</h4></dd>
</dl>
<!--
EOT;
} else {
print <<<EOT
-->
<!--
EOT;
if($yundescribe){
print <<<EOT
-->
<div class="admin_info mb10">
	<h3 class="h1"><b>雲服務信息</b></h3>
    <div class="legend">
    $yundescribe
    </div>
</div>
<!--
EOT;
}
print <<<EOT
-->
<h2 class="h1">雲服務列表</h2>
<div class="admin_table mb10">
  <table width="100%" cellspacing="0" cellpadding="0" style="table-layout:fixed">
    <tr class="tr1">
      <td class="td2" width="40"><img src="images/admin/aliyun/ali_search.png" width="32" height="32" /></td>
      <td class="td2" width="80"><span class="s4">雲搜索</span></td>
      <td class="td2" width="500">為您提供基於雲計算技術的社區搜索服務。可有效降低服務器負載並提高站點的內容可讀性。</td>
      <td class="td2"><span class="bt2"><span><button type="button" onclick="location.href='$admin_file?adminjob=yunsearch';">查看</button></span></span></td>
    </tr>
		<tr class="tr1">
      <td class="td2"><img src="images/admin/aliyun/ali_dun.png" width="32" height="32" /></td>
      <td class="td2"><span class="s4">雲盾</span></td>
      <td class="td2">為您提供基於雲計算技術的社區內容安全服務。可有效減少社區垃圾帖和非法內容。</td>
      <td class="td2"><span class="bt2"><span><button type="button" onclick="location.href='$admin_file?adminjob=yundefend';">查看</button></span></span></td>
    </tr>
    <!-- 
	<tr class="tr1">
      <td class="td2"><img src="images/admin/aliyun/ali_im.png" width="32" height="32" /></td>
      <td class="td2"><span class="s4">雲聊</span></td>
      <td class="td2">一款基於社區好友關係的及時通訊軟件。使您的社區會員之間的互動更加直接、實時。</td>
      <td class="td2"><span class="bt2"><span><button type="button">查看</button></span></span></td>
    </tr>
     -->
		<tr class="tr1">
      <td class="td2"><img src="images/admin/aliyun/ali_yanzheng.png" width="32" height="32" /></td>
      <td class="td2"><span class="s4">雲驗證碼</span></td>
      <td class="td2">基於雲存儲技術的新一代驗證碼技術。可保障您的社區安全。</td>
      <td class="td2"><span class="bt2"><span><button type="button" onclick="location.href='$admin_file?adminjob=cloudcaptcha';">查看</button></span></span></td>
    </tr>
		<tr class="tr1">
      <td class="td2"><img src="images/admin/aliyun/ali_shiming.png" width="32" height="32" /></td>
      <td class="td2"><span class="s4">實名認證</span></td>
      <td class="td2">基於手機號碼的會員認證體系，是您行進線下活動和精準營銷的得力助手。</td>
      <td class="td2"><span class="bt2"><span><button type="button" onclick="location.href='$admin_file?adminjob=authentication';">查看</button></span></span></td>
    </tr>
	</table>
</div>
<!--
EOT;
}
print <<<EOT
-->
<!--結束-->
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->