<!--<?php
print <<<EOT
-->
<h2 class="h1">論壇概況</h2>
<div class="admin_table mb10">
	<table width="100%" class="mb10">
		<tr class="tr1">
			<td class="td1">論壇名稱：</td>
			<td class="td2">$bbsname</td>
		</tr>
		<tr class="tr1">
			<td class="td1">論壇URL：</td>
			<td class="td2">$bbsurl</td>
		</tr>
		<tr class="tr1">
			<td class="td1">phpwind版本：</td>
			<td class="td2">$bbsversion</td>
		</tr>
		<tr class="tr1">
			<td class="td1">雲服務版本：</td>
			<td class="td2">$cloudversion</td>
		</tr>
<!-- 
EOT;
if($description){
print <<<EOT
-->		
		<tr class="tr1">
			<td class="td1">雲服務狀態：</td>
			<td class="td2">$description</td>
		</tr>
<!-- 
EOT;
}
print <<<EOT
-->		
	</table>
	<h2 class="h1">環境檢測</h2>
	<table width="100%" class="mb20">
		<tr class="tr1">
			<td class="td1">parse_url函數：</td>
			<td class="td2">$parse_url</td>
		</tr>
		<tr class="tr1">
			<td class="td1">fsockopen函數：</td>
			<td class="td2">$fsockopen</td>
		</tr>
		<tr class="tr1">
			<td class="td1">DNS解析函數：</td>
			<td class="td2">$gethostbyname</td>
		</tr>
<!-- 
EOT;
if($isgethostbyname){
print <<<EOT
-->
		<tr class="tr1">
			<td class="td1">雲服務域名解析：</td>
			<td class="td2"><span class="correct_span">&radic;</span><span class="mr10">$searchHost</span>DNS解析的IP：$searchIP</td>
		</tr>
		<tr class="tr1">
			<td class="td1">雲服務端口測試：</td>
			<td class="td2"><span class="correct_span">&radic;</span>請求接口 $searchPort ，耗時 $searchPing 秒</td>
		</tr>
		<tr class="tr1">
			<td class="td1">雲盾域名解析：</td>
			<td class="td2"><span class="correct_span">&radic;</span><span class="mr10">$defendHost</span>DNS解析的IP：$defendIp</td>
		</tr>
		<tr class="tr1">
			<td class="td1">雲盾端口測試：</td>
			<td class="td2"><span class="correct_span">&radic;</span>請求接口 $defendPort ，耗時 $defendPing 秒</td>
		</tr>
<!-- 
EOT;
}
print <<<EOT
-->
	</table>
</div>
<!--
EOT;
?>