<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<!--
EOT;
print <<<EOT
-->

<div class="nav3 mb10">
    <ul class="cc">
      <li class="$current[config]"><a href="$basename">雲盾配置</a></li>
      <li class="$current[verify]"><a href="$basename&action=verify">雲盾審核</a></li>
    </ul>
</div>
<!--
EOT;
if(empty($action)){
print <<<EOT
-->

<!--
EOT;
if($dundescribe){
print <<<EOT
-->
<div class="admin_info mb10">
	<h3 class="h1"><b>雲盾信息</b></h3>
    <div class="legend">
    $dundescribe
    </div>
</div>
<!--
EOT;
}
print <<<EOT
-->
<form action="$basename" method="post" enctype="multipart/form-data">
<input name="step" value="2" type="hidden" />
<div class="">
	<h3 class="h1">雲盾基本設置</h3>
	<div class="admin_table mb10">
		<table cellpadding="0" cellspacing="0" width="100%">
			<tr class="tr1">
				<td class="td1">雲盾服務</td>
				<td class="td2">
					<ul class="list_A list_80">
						<li><input type="radio" value="1" name="db_yundefend_shield" $yundefend_shield_Y>開啟</li>
						<li><input type="radio" value="0" name="db_yundefend_shield" $yundefend_shield_N>關閉</li>
					</ul>
				</td>
			</tr>
			<tr class="tr1">
				<td class="td1">用戶過濾</td>
				<td class="td2">
					<ul class="list_A list_80">
						<li><input type="radio" value="1" name="db_yundefend_shielduser" $yundefend_shielduser_1 >禁言</li>
						<li><input type="radio" value="2" name="db_yundefend_shielduser" $yundefend_shielduser_2 >刪除</li>
						<li><input type="radio" value="0" name="db_yundefend_shielduser" $yundefend_shielduser_0 >不處理</li>
					</ul>
				</td>
			</tr>
			<tr class="tr1">
				<td class="td1">數據過濾</td>
				<td class="td2">
					<ul class="list_A list_80">
						<li><input type="radio" value="1" name="db_yundefend_shieldpost" $yundefend_shieldpost_Y>審核</li>
						<li><input type="radio" value="0" name="db_yundefend_shieldpost" $yundefend_shieldpost_N>不處理</li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="p10 tac"><span class="btn"><span><button type="submit">提 交</button></span></span></div>
</form>
<!--
EOT;
}elseif($action == 'verify' ){
if($lists){
print <<<EOT
-->

	<form action="$basename&action=verify" method="post" enctype="multipart/form-data">
	<input name="step" value="2" type="hidden" />
	<div class="admin_table mb10">
		<h2 class="h1">
			<span class="fl mr10">帖子/回複審核</span>
		</h2>
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr class="tr2">
				<td>類型</td>
				<td>作者</td>
				<td>標題</td>
				<td>內容</td>
				<td>發佈時間</td>
				<td>操作</td>
			</tr>
<!--
EOT;
foreach($lists as $list){
$id = intval($list['tid']).'_'.intval($list['pid']);
$datatype = (intval($list['pid']) > 0) ? '回復' : '帖子';
$postdate = date("Y-m-d H:i:s",$list[postdate]);
print <<<EOT
-->
			<tr class="tr1 vt">
				<td class="td2">$datatype</td>
				<td class="td2"><a target="_blank" href="u.php?username=$list[author]">$list[author]</a></td>
				<td class="td2"><textarea rows="4" cols="40">$list[subject]</textarea></td>
				<td class="td2"><textarea rows="4" cols="60">$list[content]</textarea></td>
				<td class="td2">$postdate</td>
				<td class="td2">
					<input type="radio" value="1" name="ids[$id]">審核
					<input type="radio" value="2" name="ids[$id]" checked="checked">刪除
				</td>
			</tr>
<!--
EOT;
}
print <<<EOT
-->
		</table>
	</div>
	<div class="p10 tac">
		<span class="btn"><span><button type="submit">提 交</button></span></span>
	</div>
	</form>
<!--
EOT;
}else{
print <<<EOT
-->	
	<table width="100%" cellspacing="0" cellpadding="0">
		<tbody><tr><td colspan="6" class="p10"><div class="admin_tips">啊哦，暫無審核數據！</div></td></tr></tbody>
  	</table>
<!--
EOT;
}}
print <<<EOT
-->	
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->