
<pw id="A1_頻道導航@財經" />
			
				<li class="switchNavItem current"><a href="" target="_blank">財經要聞</a></li>
				<li class="switchNavItem"><a href="" target="_blank">理財規劃</a></li>
				<li class="switchNavItem"><a href="" target="_blank">基金買賣</a></li>
				<li class="switchNavItem"><a href="" target="_blank">銀行理財</a></li>
				<li class="switchNavItem"><a href="" target="_blank">期貨保險</a></li>
				<li class="switchNavItem"><a href="" target="_blank">理財心得</a></li>
				<li class="switchNavItem"><a href="" target="_blank">東海證券</a></li>

			

<pw id="A2_圖片輪播@財經" />

			<div class="pwSlideWrap">
			 <div id="pwSlidePlayer" class="pwSlide">
			 <list cachetime="1800" action="image" num="4" title="圖片" />
				<ul class="switch" id="PP1_A">
				<loop>
					<li class="switchItem" style="display:"><a href="{url}" target="_blank"><img src="{image,301,335}" width="301" height="335" /><h3>{title,20}</h3></a></li>
					</loop>
				</ul>
				<div class="pwSlide-bg"></div>
				<ul class="SwitchNav" id="PP1_B">
				<!--#for($i = 1; $i<=$key+1; $i++){#-->					
				<li class="switchNavItem"><a href="#" onclick="return false;">{$i}</a></li>
			    <!--#}#-->
				</ul>
			</div>
			</div>
		<script type="text/javascript" src="mode/area/js/ddsliderplayer.js"></script>
		<script>ddSliderPlayers('PP1_A','PP1_B',4,'current');</script>	
		
<pw id="A3_左側tab@財經" />

				 <li class="switchNavItem"><a href="" target="_blank" title="存款工具">存款工具</a></li><li class="switchNavItem"><a href="" target="_blank" title="貸款工具">貸款工具</a></li><li class="switchNavItem"><a href="" target="_blank" title="投資工具">投資工具</a></li><li class="switchNavItem"><a href="" target="_blank" title="其他工具">其他工具</a></li>
				 
<pw id="A4_1tab1@財經" />

					<ul class="switchItem list cc" style="display:none">
					<list cachetime="1800" action="subject" num="10" title="工具箱列表" />
						<loop>
						<li><a href="">{title,16}</a></li>
						</loop>
					</ul>
				
<pw id="A4_2tab2@財經" />

				<ul class="switchItem list cc" style="display:none">
						<list cachetime="1800" action="subject" num="10" title="工具箱列表" />
						<loop>
						<li><a href="">{title,16}</a></li>
						</loop>
					</ul>
					
<pw id="A4_3tab3@財經" />

					<ul class="switchItem list cc" style="display:none">
						<list cachetime="1800" action="subject" num="10" title="工具箱列表" />
						<loop>
						<li><a href="">{title,16}</a></li>
						</loop>
					</ul>
					
<pw id="A4_4tab4@財經" />

					<ul class="switchItem list cc" style="display:none">
						<list cachetime="1800" action="subject" num="10" title="工具箱列表" />
						<loop>
						<li><a href="">{title,16}</a></li>
						</loop>
					</ul>					

<pw id="A5_頻道頭條@財經" />
	<list cachetime="1800" action="subject" num="3" title="標題列表" />
	<ul class="top1">
		<loop>
		<li>
<h2><a href="{url}" target="_blank" title="{title}" class="f1">{title,32}</a></h2>
<p>{descrip,110}…<a href="{url}" target="_blank" title="{title}" class="f2">詳細>></a></p>
		</li>
		</loop>
	</ul>

<pw id="A5_頻道頭條列表@財經" />
				<list cachetime="1800" action="subject" num="6" title="帖子列表" />
				<loop>
				<li><a href="{url}" target="_blank" title="{title}"><em>[{forumname}]</em>{title,36}</a></li>
				</loop>

<pw id="A6_右上標題@財經" />
理研究會

<pw id="A7_右上圖文@財經" />
				<list cachetime="1800" action="image" num="1" title="圖片列表" />
						<div class="subject cc">
						<loop>
						 <a href="{url}" target="_blank" title="{title}"><img src="{image,70,70}" width="70" height="70" class="fl" /></a>
							<h4><a href="{url}" target="_blank" title="{title}">{title,20}</a></h4>
							<p><a href="{url}" target="_blank" title="{title}">{descrip,68}</a></p>
						</loop>
						</div>
						
				<list cachetime="1800" action="subject" num="5" title="帖子列表" />
						<ul class="list list2 mt10">
						<loop>
							<li><a href="{url}" target="_blank" title="{title}">{title,26}</a></li>
						</loop>
						</ul>
					   
<pw id="A8_右下標題@財經" />
理財課堂

<pw id="A9_右下列表@財經" />
<list cachetime="1800" action="subject" num="7" title="帖子列表" />
						<ul class="list list2">
						<loop>
						<li><a href="{url}" target="_blank" title="{title}">{title,26}</a></li>
						</loop>
						</ul>
					  
<pw id="A10_通欄banner1@財經" />
<list cachetime="1800" action="image" num="1" title="圖片" />
<loop>
<a href="{url}" target="_blank"><img src="{image,648,54}" width="648" height="54" /></a>
</loop>

<pw id="B1_左側標題@財經" />
理財答疑
<pw id="B2_左側列表@財經" />
<list cachetime="1800" action="subject" num="8" title="帖子列表" />
					<ul class="listQA">
					<loop>
						<li><a href="{url}" target="_blank" title="{title}">{title,36}</a></li>
					</loop>
					</ul>
				
<pw id="B3_中間標題@財經" />
理財專家

<pw id="B4_中間圖文左@財經" />
<list cachetime="1800" action="image" num="1" title="圖片" />
	<div class="subject subject1 cc">
		<loop>
		  <a href="{url}" target="_blank" title="{title}"><img src="{image,72,72}" width="72" height="72" class="fl"/></a>
<h4><a href="{url}" target="_blank" title="{title}">{title,12}</a></h4>
<p><a href="{url}" target="_blank" title="{title}">{descrip,44}</a></p>
	</loop>
</div>

<list cachetime="1800" action="subject" num="4" title="帖子列表" />
	<ul class="listQA mt10">
	<loop>
		<li><a href="{url}" target="_blank" title="{title}">{title,22}</a></li>
	</loop>
	</ul>
		 
<pw id="B5_中間圖文右@財經" />
<list cachetime="1800" action="image" num="1" title="圖片" />
<div class="subject subject1 cc">
	<loop>
		 <a href="{url}" target="_blank" title="{title}"><img src="{image,72,72}" width="72" height="72" class="fl"/></a>
		<h4><a href="{url}" target="_blank" title="{title}">{title,12}</a></h4>
		<p><a href="{url}" target="_blank" title="{title}">{descrip,44}</a></p>
	</loop>
</div>

<list cachetime="1800" action="subject" num="4" title="帖子列表" />
	<ul class="listQA mt10">
	<loop>
		<li><a href="{url}" target="_blank" title="{title}">{title,22}</a></li>
	</loop>
	</ul>
		 
		 
<pw id="B6_右側標題@財經" />
理財對對碰
<pw id="B7_右側摘要@財經" />
<list cachetime="1800" action="subject" num="1" title="文章摘要" />
					<loop>
						<h2><a href="{url}" target="_blank" title="{title}" class="f2">{title,28}</a></h2>
						<p><a href="{url}" target="_blank" title="{title}">{descrip,120}</a></p>
						</loop>
						
<pw id="B8_右側列表@財經" />
<list cachetime="1800" action="subject" num="3" title="帖子列表" />
						<loop>
						<li><a href="{url}" target="_blank" title="{title}">{title,26}</a></li>
						</loop>
					
<pw id="C1_通欄banner2@財經" />
<list cachetime="1800" action="image" num="1" title="通欄廣告" />
<loop>
<a href="{url}" target="_blank"><img src="{image,960,90}" width="960" height="90" /></a>
</loop>

<pw id="D2_文字鏈接@財經" />

				<li>
				<a href="{url}" target="_blank">進入版塊</a>
				|
				</li>
				<li>
				<a href="{url}" target="_blank">信用卡</a>
				|
				</li>
				<li><a href="{url}" target="_blank">理財產品</a>
				|
				</li>
				<li><a href="{url}" target="_blank">銀行利息</a>
				|
				</li>
				<li><a href="{url}" target="_blank">櫃面業務</a></li>
				
<pw id="D1_標題@財經" />
<em>銀行</em>理財

<pw id="D3_左側標題@財經" />
人民幣存款利率
<pw id="D4_左側內容@財經" />

					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
								<th>序號</th>
								<th>產品名稱</th>
								<th>預期年收益</th>
						</tr>
						<tr>
								<td>1</td>
								<td>中銀穩富八號--32天</td>
								<td>2.45%</td>
						</tr>
						<tr class="bgf0f4f7">
								<td>2</td>
								<td>中銀穩富八號--32天</td>
								<td>2.45%</td>
						</tr>
						<tr>
								<td>3</td>
								<td>中銀穩富八號--32天</td>
								<td>2.45%</td>
						</tr>
						<tr class="bgf0f4f7">
								<td>4</td>
								<td>中銀穩富八號--32天</td>
								<td>2.45%</td>
						</tr>
						<tr>
								<td>5</td>
								<td>中銀穩富八號--32天</td>
								<td>2.45%</td>
						</tr>
						<tr class="bgf0f4f7">
								<td>6</td>
								<td>中銀穩富八號--32天</td>
								<td>2.45%</td>
						</tr>
				</table>
				
<pw id="D5_中間標題@財經" />
理財產品

<pw id="D6_中間內容@財經" />
<list cachetime="1800" action="subject" num="8" title="帖子列表" />
					<ul class="listQA">
					<loop>
						<li><a href="{url}" target="_blank" title="{title}">{title,40}</a></li>
						</loop>
					</ul>
					
<pw id="D7_右側標題@財經" />
銀行新聞
<pw id="D8_右側內容@財經" />
<list cachetime="1800" action="subject" num="8" title="帖子列表" />
					<ul class="listQA">
					<loop>
							<li><a href="{url}" target="_blank" title="{title}">{title,40}</a></li>
							</loop>
						</ul>
					
<pw id="E2_文字鏈接@財經" />

					<li>
					<a href="{url}" target="_blank">進入版塊</a>
					|
					</li>
					<li>
					<a href="{url}" target="_blank">基金掃盲</a>
					|
					</li>
					<li><a href="{url}" target="_blank">定投</a>
					|
					</li>
					<li><a href="{url}" target="_blank">養基心得</a>
					</li>
					
<pw id="E1_標題@財經" />
<em>基金</em>理財

<pw id="E3_左側播放器@財經" />

				<ul class="switch" id="pp2_A">
				<list cachetime="1800" action="image" num="5" title="圖片" />
				<loop>
					<li class="switchItem" style="display:none"><a href="{url}" target="_blank"><img src="{image,290,207}" width="290" height="207" /><h3>{title,20}</h3></a></li>
				</loop>
				</ul>
				<div class="pwSlide-bg"></div>
				<ul class="SwitchNav" id="pp2_B">
				<!--#for($i = 1; $i<=$key+1; $i++){#-->					
				<li class="switchNavItem"><a href="#" onclick="return false;">{$i}</a></li>
				<!--#}#-->
				</ul>
				<script>ddSliderPlayers('pp2_A','pp2_B',4,'current');</script>
				
<pw id="E4_中間摘要1@財經" />
<list cachetime="1800" action="subject" num="1" title="帖子列表" />
						<loop>
				       <h2><a href="{url}" target="_blank" title="{title}" class="f1">{title,32}</a></h2>
						<p>{descrip,70}<a href="{url}" target="_blank" title="{title}" class="f2">詳細>></a></p>
						</loop>
						
<pw id="E5_中間摘要2@財經" />
<list cachetime="1800" action="subject" num="1" title="帖子列表" />
						<loop>
				       <h2><a href="{url}" target="_blank" title="{title}" class="f1">{title,32}</a></h2>
						<p>{descrip,70}<a href="{url}" target="_blank" title="{title}" class="f2">詳細>></a></p>
						</loop>
					
<pw id="E6_中間摘要3@財經" />
<list cachetime="1800" action="subject" num="1" title="帖子列表" />
						<loop>
				       <h2><a href="{url}" target="_blank" title="{title}" class="f1">{title,32}</a></h2>
						<p>{descrip,70}<a href="{url}" target="_blank" title="{title}" class="f2">詳細>></a></p>
						</loop>
						
<pw id="E7_中間摘要4@財經" />
<list cachetime="1800" action="subject" num="1" title="帖子列表" />
					<loop>
				       <h2><a href="{url}" target="_blank" title="{title}" class="f1">{title,32}</a></h2>
						<p>{descrip,70}<a href="{url}" target="_blank" title="{title}" class="f2">詳細>></a></p>
					</loop>
					
<pw id="E8_右側標題@財經" />
推薦理財

<pw id="E9_右側圖文@財經" />
<list cachetime="1800" action="image" num="1" title="圖文摘要" />
			  <loop>
				    <a href="{url}" target="_blank"><img src="{image,76,69}" width="76" height="69" class="fl" /></a>
					<h4><a href="{url}" target="_blank" title="{title}" class="f1">{title,22}</a></h4>
					<p>{descrip,80}<a href="{url}" target="_blank" title="{title}" class="f2">詳細>></a></p>
				</loop>
					
<pw id="E10_右側列表@財經" />
<list cachetime="1800" action="subject" num="4" title="帖子列表" />
						<loop>
							<li><a href="{url}" target="_blank" title="{title}">{title,38}</a></li>
							</loop>
					
<pw id="F1_通欄banner3@財經" />
<list cachetime="1800" action="image" num="1" title="通欄廣告" />
<loop>
<a href="{url}" target="_blank"><img src="{image,960,90}" width="960" height="90" /></a>
</loop>

<pw id="G2_文字鏈接@財經" />

				<li>
				<a href="{url}" target="_blank">進入版塊</a>
				|
				</li>
				<li>
				<a href="{url}" target="_blank">散戶投資</a>
				|
				</li>
				<li><a href="{url}" target="_blank">炒股軟件</a>
				|
				</li>
				<li><a href="{url}" target="_blank">技術分析</a>
				</li>
				
<pw id="G1_標題@財經" />
<em>股票/期貨</em>理財

<pw id="G3_左上圖文@財經" />
	<list cachetime="1800" action="image" num="2" title="圖片列表" />
	<loop>
		<li><a href="{url}" target="_blank"><img src="{image,132,97}" width="132" height="97" />{title,20}</a></li>
	</loop>
				 
<pw id="G4_左下帖子@財經" />
	<list cachetime="1800" action="subject" num="7" title="帖子列表" />
	<loop>
		<li><a href="{url}" target="_blank" title="{title}">{title,36}</a></li>
	</loop>


<pw id="G5_中部文字1@財經" />
	<list cachetime="1800" action="subject" num="1" title="文章摘要" />
	<loop>
		<h2><a href="{url}" target="_blank" title="{title}" class="f1">{title,32}</a></h2>
		<p>{descrip,70}<a href="{url}" target="_blank" title="{title}" class="f2">詳細>></a></p>
	</loop>
					
<pw id="G5_中部文字2@財經" />
	<list cachetime="1800" action="subject" num="1" title="文章摘要" />
	<loop>
		<h2><a href="{url}" target="_blank" title="{title}" class="f1">{title,32}</a></h2>
		<p>{descrip,70}<a href="{url}" target="_blank" title="{title}" class="f2">詳細>></a></p>
	</loop>
					
<pw id="G5_中部文字3@財經" />
	<list cachetime="1800" action="subject" num="1" title="文章摘要" />
	<loop>
		<h2><a href="{url}" target="_blank" title="{title}" class="f1">{title,32}</a></h2>
		<p>{descrip,70}<a href="{url}" target="_blank" title="{title}" class="f2">詳細>></a></p>
	</loop>

<pw id="G5_中部文字4@財經" />
	<list cachetime="1800" action="subject" num="1" title="文章摘要" />
	<loop>
		<h2><a href="{url}" target="_blank" title="{title}" class="f1">{title,32}</a></h2>
		<p>{descrip,70}<a href="{url}" target="_blank" title="{title}" class="f2">詳細>></a></p>
	</loop>
					
<pw id="G6_左側標題@財經" />
理財工具箱

<!--<pw id="G7右側tab@財經" />-->
					
<pw id="H2_鏈接文字@財經" />

				<li>
				<a href="{url}" target="_blank">進入版塊</a>
				|
				</li>
				<li>
				<a href="{url}" target="_blank">信用卡</a>
				|
				</li>
				<li><a href="{url}" target="_blank">理財產品</a>
				|
				</li>
				<li><a href="{url}" target="_blank">銀行利息</a>
				|
				</li>
				<li><a href="{url}" target="_blank">櫃面業務</a></li>
				
<pw id="H1_標題@財經" />
<em>保險理財</em>理財

<pw id="H3_左側標題@財經" />
保險超市

<pw id="H4_左側列表@財經" />

					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
								<th>公司</th>
								<th>類別</th>
								<th>險種名稱</th>
						</tr>
						<tr>
								<td>魂牽夢縈</td>
								<td>投資財</td>
								<td><a href="{url}" target="_blank" title="{title}">生活的現狀苦不堪言，要</a></td>
						</tr>
						<tr class="bgf0f4f7">
								<td>魂牽夢縈</td>
								<td>投資財</td>
								<td><a href="{url}" target="_blank" title="{title}">生活的現狀苦不堪言，要</a></td>
						</tr>
						<tr>
								<td>魂牽夢縈</td>
								<td>投資財</td>
								<td><a href="{url}" target="_blank" title="{title}">生活的現狀苦不堪言，要</a></td>
						</tr>
						<tr class="bgf0f4f7">
								<td>魂牽夢縈</td>
								<td>投資財</td>
								<td><a href="{url}" target="_blank" title="{title}">生活的現狀苦不堪言，要</a></td>
						</tr>
						<tr>
								<td>魂牽夢縈</td>
								<td>投資財</td>
								<td><a href="{url}" target="_blank" title="{title}">生活的現狀苦不堪言，要</a></td>
						</tr>
						<tr class="bgf0f4f7">
								<td>魂牽夢</td>
								<td>投資財</td>
								<td><a href="{url}" target="_blank" title="{title}">生活的現狀苦不堪言，要</a></td>
						</tr>
				</table>
				
<pw id="H5_中間標題@財經" />
保險理財

<pw id="H6_中間圖文@財經" />
<list cachetime="1800" action="image" num="1" title="圖文摘要" />
<loop>
<a href="{url}" target="_blank"><img src="{image,76,69}" width="76" height="69" class="fl" /></a>
<h4><a href="{url}" target="_blank" title="{title}" class="f1">{title,22}</a></h4>
<p>{descrip,80}<a href="{url}" target="_blank" title="{title}" class="f2">詳細>></a></p>
</loop>
					
<pw id="H7_中間列表@財經" />
<list cachetime="1800" action="subject" num="4" title="帖子列表" />
<loop>
<li><a href="{url}" target="_blank" title="{title}">{title,40}</a></li>
</loop>
						
<pw id="H8_右側標題@財經" />
保險課堂

<pw id="H9_右側列表@財經" />
<list cachetime="1800" action="subject" num="8" title="帖子列表" />
<loop>
<li><a href="{url}" target="_blank" title="{title}">{title,40}</a></li>
</loop>
							
<pw id="R1_通欄banner4@財經" />
<list cachetime="1800" action="image" num="1" title="通欄廣告" />
<loop>
<a href="{url}" target="_blank"><img src="{image,960,90}" width="960" height="90" /></a></loop>		  
