<!--<?php
print <<<EOT
-->
<!--#require modeEot('header');#-->

<div id="finance">
	<!--banner-->
		<div id="channel-banner">
			<h2 class="hidden">財經頻道</h2>
			<ul class="fr" id="tabmenu_B"><pw id="A1_頻道導航@財經" /></ul>
		</div>
	<!--banner-->
	<!--模塊一star-->
	<div class="cc mt10">
		<div class="w303 fl">
		<pw id="A2_圖片輪播@財經" />
			<div class="pane1 mt10">
			 <div class="hd1">
				 <ul class="tool cc" id="tabwrap1_B"><pw id="A3_左側tab@財經" /></ul>
			 </div>
			 <div class="bd" id="tabwrap1_A">
			    <pw id="A4_1tab1@財經" /><pw id="A4_2tab2@財經" /><pw id="A4_3tab3@財經" /><pw id="A4_4tab4@財經" />
				</div>
			<script>ddSliderPlayers('tabwrap1_A','tabwrap1_B',0,'current');</script>
			</div>
		</div>
		<div class="w647 fr cc">
			<div class="w394 fl tops">
			<pw id="A5_頻道頭條@財經" />
				<div class="line"></div>
				<ul class="list1" style="padding:0 15px 10px">
				  <pw id="A5_頻道頭條列表@財經" />
				</ul>
			</div>
			<div class="w243 fr">
				<div class="pane1">
					<div class="hd"><h3><pw id="A6_右上標題@財經" /></h3></div>
					<div class="bd">
					<pw id="A7_右上圖文@財經" />
					</div>
					<div class="hd"><h3><pw id="A8_右下標題@財經" /></h3></div>
					<div class="bd">
					 <pw id="A9_右下列表@財經" />
					</div>
				</div>
			</div>
			<div class="mt10 fl"><pw id="A10_通欄banner1@財經" /></div>
		</div>
	</div>
	<!--模塊一end-->
	<!--模塊二star-->
	<div class="cc mt10">
		<div class="w303 fl mr10">
			<div class="pane1">
				<div class="hd"><h3><pw id="B1_左側標題@財經" /></h3></div>
				<div class="bd">
				<pw id="B2_左側列表@財經" />
				</div>
			</div>
		</div>
		<div class="w394 fl">
			<div class="pane1">
				<div class="hd"><h3><pw id="B3_中間標題@財經" /></h3></div>
				<div class="bd cc">
				
				  <div class="w178 fl">
				  <pw id="B4_中間圖文左@財經" />
				  </div>
				  
				  <div class="w178 fr">
				  <pw id="B5_中間圖文右@財經" />
				  </div>
				  
				</div>
			</div>
		</div>
		
		<div class="w243 fr">
			<div class="pane1">
				<div class="hd"><h3><pw id="B6_右側標題@財經" /></h3></div>
				<div class="bd">
				 	<div class="tops2">
					<pw id="B7_右側摘要@財經" />
					</div>
					<ul class="list list2 mt10">
					<pw id="B8_右側列表@財經" />
					</ul>
				</div>
			</div>
		</div>
		
	</div>
	<!--模塊二end-->
	<!--通欄廣告star-->
	<div class="mt10"><pw id="C1_通欄banner2@財經" /></div>
	<!--通欄廣告end-->
	<!--模塊三satr-->
	<div class="mt10 pane2">
		<div class="hd">		
			<ul class="more">
			<pw id="D2_文字鏈接@財經" />
			</ul>
			<h3><pw id="D1_標題@財經" /></h3>
		</div>
		<div class="bd cc">
			<div class="w193 fl mr10">
				<h3 class="h1"><pw id="D3_左側標題@財經" /></h3>
				<div class="bdtab">
				<pw id="D4_左側內容@財經" />
				</div>
			</div>
			
			<div class="w193 fl bgbor">
				<h3 class="h1"><pw id="D5_中間標題@財經" /></h3>
			    <div class="bdtab">
				<pw id="D6_中間內容@財經" />
				</div>
			</div>
			
			<div class="w193 fr bgbor">
				<h3 class="h1"><pw id="D7_右側標題@財經" /></h3>
			    <div class="bdtab">
				<pw id="D8_右側內容@財經" />
				</div>
			</div>
			
		</div>
	</div>
	<!--模塊三end-->
	<!--模塊四satr-->
	<div class="mt10  pane2">
		<div class="hd">
				<ul class="more">
				<pw id="E2_文字鏈接@財經" />
				</ul>
				<h3><pw id="E1_標題@財經" /></h3>
			</div>
			
		<div class="bd cc">
		 <div id="pwSlidePlayer_1" class="pwSlide fl mr10"><pw id="E3_左側播放器@財經" /></div>
			
		 	<div class="tops3 fl">
				<ul>
				<pw id="E4_中間摘要1@財經" />
				<li>
				<pw id="E5_中間摘要2@財經" />
					</li>
					<li class="mt10">
					<pw id="E6_中間摘要3@財經" />
					</li>
					<li class="mt10">
					<pw id="E7_中間摘要4@財經" />
					</li>
				</ul>
			</div>
			
			<div class="w193 fr bgbor">
				<h3 class="h1"><pw id="E8_右側標題@財經" /></h3>
			    <div class="bdtab">
				   <div class="subject2 cc">
				   <pw id="E9_右側圖文@財經" />
				   </div>
					<ul class="listQA mt10">
					<pw id="E10_右側列表@財經" />
					</ul>
				</div>
			</div>
			
		</div>
	</div>
	<!--模塊四end-->
	
	<!--通欄廣告star-->
	<div class="mt10"><pw id="F1_通欄banner3@財經" /></div>
	<!--通欄廣告end-->
	
	<!--模塊五satr-->
	<div class="mt10  pane2">
		<div class="hd">
			<ul class="more">
			<pw id="G2_文字鏈接@財經" />
			</ul>
			<h3><pw id="G1_標題@財經" /></h3>
		</div>
		<div class="bd cc">
			<div class="w290 fl mr10" style="overflow:hidden">
				<div class="subject3">
				 <ul class="imglist cc">
				 <pw id="G3_左上圖文@財經" />
				 </ul>
				</div>
				<ul class="listQA listjc mt10">
				<pw id="G4_左下帖子@財經" />
				</ul>
			</div>
			
			<div class="tops3 fl">
				<ul>
				<li>
				<pw id="G5_中部文字1@財經" />
					</li>
					
					<li class="mt10">
					<pw id="G5_中部文字2@財經" />
					</li>
					
					<li class="mt10">
					  <pw id="G5_中部文字3@財經" />
					</li>
					
					<li class="mt10">
					  <pw id="G5_中部文字4@財經" />
					</li>
					
				</ul>
			</div>
			
			<div class="w193 fr bgbor">
				<h3 class="h1"><pw id="G6_左側標題@財經" /></h3>
			    <div class="bdtab cc" style="padding:10px 8px 0 10px;*padding:10px 8px 0 0px;">	
				<iframe src="http://data.stock.hexun.com/quotehome/stock_1.htm" width="278" height="228" marginheight="0" marginwidth="0" scrolling="no" frameborder="0"></iframe>			   
			    </div>
			</div>			
		</div>
	</div>
	<!--模塊五end-->
	
	<!--模塊六satr-->
	<div class="mt10  pane2">
		<div class="hd">
			<ul class="more">
			<pw id="H2_鏈接文字@財經" />
			</ul>
			<h3><pw id="H1_標題@財經" /></h3>
		</div>
		<div class="bd cc">
			<div class="w193 fl mr10">
				<h3 class="h1"><pw id="H3_左側標題@財經" /></h3>
				<div class="bdtab">
				<pw id="H4_左側列表@財經" />
				</div>
			</div>
			
			<div class="w193 fl bgbor">
				<h3 class="h1"><pw id="H5_中間標題@財經" /></h3>
			    <div class="bdtab">
				   <div class="subject2 cc">
				   <pw id="H6_中間圖文@財經" />
				   </div>
					<ul class="listQA mt10">
					<pw id="H7_中間列表@財經" />
					</ul>
				</div>
			</div>
			
			<div class="w193 fr bgbor">
				<h3 class="h1"><pw id="H8_右側標題@財經" /></h3>
			    <div class="bdtab">
					<ul class="listQA">
					<pw id="H9_右側列表@財經" />
					</ul>
				</div>
			</div>
			
		</div>
	</div>
	<!--模塊六end-->
	<!--通欄廣告star-->
	<div class="mt10"><pw id="R1_通欄banner4@財經" /></div>
	<!--通欄廣告end-->
</div>

<!--#require modeEot('footer');#-->
<!--
EOT;
?>-->

