
<pw id="A2_頻道導航@旅遊" />

		  <li class="switchNavItem current"><a href="" title="自駕游" target="_blank">自駕游</a></li>
			<li class="switchNavItem"><a href="" title="旅遊寶典" target="_blank">旅遊寶典</a></li>
			<li class="switchNavItem"><a href="" title="旅遊咨詢" target="_blank">旅遊咨詢</a></li>
			<li class="switchNavItem"><a href="" title="戶外拓展" target="_blank">戶外拓展</a></li>
			<li class="switchNavItem"><a href="" title="圖文地理" target="_blank">圖文地理</a></li>
			<li class="switchNavItem"><a href="" title="線路攻略" target="_blank">線路攻略</a></li>
			<li class="switchNavItem"><a href="" title="遊記分享" target="_blank">遊記分享</a></li>
			<li class="switchNavItem"><a href="" title="結伴同游" target="_blank">結伴同游</a></li>

<pw id="B1_左邊標題@旅遊" />
結伴旅行

<pw id="B2_左邊圖文推薦@旅遊" />
<list cachetime="1800" action="image" num="1" title="圖文摘要" />
			<loop>
			<a href="{url}" title="{title}"><img src="{image,73,73}" width="73" height="73" class="fl" /></a>
			<h4><a href="{url}" title="{title}" class="f1">{title,18}</a></h4>
			<p>{descrip,76}</p>
			</loop>
			
<pw id="B3_左邊帖子列表@旅遊" />
<list cachetime="1800" action="subject" num="5" title="帖子列表" />
			<loop>
				<li><a href="{url}" title="{title}" target="_blank">{title,30}</a></li>
				</loop>
				

<pw id="B4_圖片輪播@旅遊" />
			<list cachetime="1800" action="image" num="4" title="圖片" />
				<ul class="switch" id="PP1_A">
				<loop>
					<li class="switchItem" style="display:"><a href="{url}" title="{title}"><img src="{image,680,250}" width="680" height="250" /><h3>{title,48}</h3></a></li>
					</loop>
				</ul>
				<div class="pwSlide-bg"></div>
				<ul class="SwitchNav" id="PP1_B">
				<!--#for($i = 1; $i<=$key+1; $i++){#-->					
				<li class="switchNavItem"><a href="#" onclick="return false;">{$i}</a></li>
			    <!--#}#-->
				</ul>
			<script type="text/javascript" src="mode/area/js/ddsliderplayer.js"></script>
		<script>ddSliderPlayers('PP1_A','PP1_B',4,'current');</script>	
				
<pw id="C1_左邊標題@旅遊" />
旅遊寶典
			

<pw id="C2_左邊圖片推薦位@旅遊" />
<list cachetime="1800" action="image" num="2" title="圖片列表" />
				<ul>
				<loop>
					<li><a href="{url}" title="{title}" target="_blank"><img src="{image,113,73}" width="113" height="73" />{title,16}</a></li>
					</loop>
				</ul>
				
<pw id="C3_帖子列表@旅遊" />
<list cachetime="1800" action="subject" num="8" title="帖子列表" />
               <loop>
				<li><a href="{url}" title="{title}" target="_blank">{title,30}</a></li>
				</loop>
				

<pw id="C4_頭條推薦@旅遊" />
<list cachetime="1800" action="subject" num="1" title="標題" />
				<loop>
				<h2><a href="{url}" title="{title}" target="_blank" class="f1">{title,40}</a></h2>
				</loop>
<list cachetime="1800" action="subject" num="5" title="帖子" />
				<p>
				<loop>
				<a href="{url}" title="{title}" target="_blank" class="f2">{title,30}</a>
				</loop>
				</p>
				
<pw id="C5_頭部新聞列表@旅遊" />
<list cachetime="1800" action="subject" num="9" title="帖子列表" />
				<loop>
				<li><a href="{url}" title="{title}" target="_blank"><em>[{forumname,8}]</em>{title,44}</a></li>
				</loop>
				
<pw id="C6_右邊模塊標題@旅遊" />
旅遊工具箱
<pw id="C7_右邊工具箱@旅遊" />

					<li class="li1"><a href="{url}" title="{title}" target="_blank">旅遊簽證</a></li>
					<li class="li2"><a href="{url}" title="{title}" target="_blank">出境指南</a></li>
					<li class="li3"><a href="{url}" title="{title}" target="_blank">國際時差</a></li>
					<li class="li4"><a href="{url}" title="{title}" target="_blank">安全保險</a></li>
					<li class="li5"><a href="{url}" title="{title}" target="_blank">旅遊裝備</a></li>
					<li class="li6"><a href="{url}" title="{title}" target="_blank">天氣預報</a></li>
					<li class="li7"><a href="{url}" title="{title}" target="_blank">電子地圖</a></li>
					<li class="li8"><a href="{url}" title="{title}" target="_blank">郵政區號</a></li>
					

<pw id="C8_右邊廣告圖片1@旅遊" />
<list cachetime="1800" action="image" num="1" title="廣告圖片" />
<loop>
<a href="{url}" title="{title}"><img src="{image,284,50}" width="284" height="50" /></a>
</loop>

<pw id="C8_右邊廣告圖片2@旅遊" />
<list cachetime="1800" action="image" num="1" title="廣告圖片" />
<loop>
<a href="{url}" title="{title}"><img src="{image,284,50}" width="284" height="50" /></a>
</loop>

<pw id="C9_通欄廣告@旅遊" />
<list cachetime="1800" action="image" num="1" title="廣告圖片" />
<loop>
<a href="{url}" title="{title}"><img src="{image,284,60}" width="960" height="90" /></a>
</loop>

<pw id="D1_左邊標題@旅遊" />
旅遊咨詢
<pw id="D2_左邊帖子列表@旅遊" />
<list cachetime="1800" action="subject" num="8" title="帖子列表" />
				<loop>
				<li><a href="{url}" title="{title}" target="_blank">{title,30}</a></li>
				</loop>				

<pw id="D3_左邊咨詢按鈕@旅遊" />
<a href="{url}" title="{title}">我要咨詢</a>
<pw id="D4_右邊標題@旅遊" />
活動推薦
<pw id="D5_右邊左側圖文混排@旅遊" />
<list cachetime="1800" action="image" num="2" title="圖文摘要" />
			<loop>
				<div class="subject2 cc mt15">
					<a href="{url}" title="{title}"><img src="{image,114,87}" width="114" height="87" class="fl" /></a>
					<h4><a href="{url}" title="{title}" target="_blank" class="f2">{title,28}</a></h4>
					<p>{descrip,110}</p>
				</div>
				</loop>
				
<pw id="D6_右邊右側帖子列表@旅遊" />
<list cachetime="1800" action="subject" num="6" title="版塊帖子" />
					<loop>
					<li><a href="{url}" title="{title}" target="_blank"><em>[{forumname,8}]</em>{title,30}</a></li>
					</loop>
					
<pw id="D7_右邊右側廣告圖片@旅遊" />
<list cachetime="1800" action="image" num="1" title="廣告圖片" />
<loop>
<a href="{url}" title="{title}"><img src="{image,270,67}" width="270" height="67" /></a>
</loop>

<pw id="E1_左邊標題@旅遊" />
旅遊關鍵詞
<pw id="E2_左上列表1@旅遊" />
				<em>境外</em>
				<list cachetime="1800" action="tag" num="10" title="標籤1" />
				<p>
				<loop>
					<a href="{url}" title="{title}" target="_blank">{title}</a>
					</loop>
					</p>
				
<pw id="E3_左中列表1@旅遊" />
				<em>國內</em>
				<list cachetime="1800" action="tag" num="10" title="標籤2" />
				<p>
				<loop><a href="{url}" title="{title}" target="_blank">{title}</a></loop>
				</p>
				
<pw id="E4_左下列表3@旅遊" />
				<em>線路</em>
				<list cachetime="1800" action="subject" num="2" title="帖子" />
					<ul class="list">
					<loop>
						<li><a href="{url}" title="{title}" target="_blank">{title,30}</a></li>
						</loop>
					</ul>
					
<pw id="E5_右邊標題@旅遊" />
特別策劃
<pw id="E6_右邊圖文列表@旅遊" />
			<list cachetime="1800" action="image" num="3" title="圖文模塊" />
			 	<ul>
				<loop>
					<li><a href="{url}" title="{title}" target="_blank"><img src="{image,173,101}" width="173" height="101" /></a>
					<h4><a href="{url}" title="{title}" target="_blank" class="f1">{title,20}</a></h4>
					<p>{descrip,60}</p></li>
					</loop>
				</ul>
				
<pw id="F1_左邊側欄廣告@旅遊" />
<list cachetime="1800" action="image" num="1" title="通欄廣告1" />
<loop>
<a href="{url}" title="{title}"><img src="{image,267,79}" width="267" height="79" /></a>
</loop>

<pw id="F2_右邊通欄廣告@旅遊" />
<list cachetime="1800" action="image" num="1" title="通欄廣告2" />
<loop>
<a href="{url}" title="{title}"><img src="{image,680,78}" width="680" height="78" /></a>
</loop>
<pw id="G1_左邊標題@旅遊" />
人文鄉土

<pw id="G2_左上圖文混排@旅遊" />
<list cachetime="1800" action="image" num="1" title="圖文摘要" />
			<loop>
				<a href="{url}" title="{title}"><img src="{image,84,73}" width="84" height="73" class="fl" /></a>
				<h4><a href="{url}" title="{title}" class="f2">{title,15}</a></h4>
				<p>{descrip,60}</p>
				</loop>
				
<pw id="G3_左下帖子列表@旅遊" />
<list cachetime="1800" action="subject" num="7" title="帖子列表" />
				<loop>
				<li><a href="{url}" title="{title}" target="_blank">{title,30}</a></li>
				</loop>
				
<pw id="G4_右邊標題@旅遊" />
遊記策略

<pw id="G5_右邊圖片列表@旅遊" />
<list cachetime="1800" action="image" num="4" title="圖片列表" />
				<loop>
				<li><a href="{url}" title="{title}"><img src="{image,90,90}" width="90" height="90" />{title,16}</a></li>
				</loop>
				
<pw id="G6_中間內容推薦1@旅遊" />
<list cachetime="1800" action="subject" num="1" title="文章摘要1" />
				<loop>
					<h4><a href="{url}" title="{title}" target="_blank">{title,30}</a></h4>
					<p>{descrip,60}</p>
					</loop>
					
<pw id="G7_中間內容推薦2@旅遊" />
<list cachetime="1800" action="subject" num="1" title="文章摘要2" />
				<loop>
					<h4><a href="{url}" title="{title}" target="_blank">{title,30}</a></h4>
					<p>{descrip,60}</p>
					</loop>
					
<pw id="G8_中間內容推薦3@旅遊" />
<list cachetime="1800" action="subject" num="1" title="文章摘要3" />
				<loop>
					<h4><a href="{url}" title="{title}" target="_blank">{title,30}</a></h4>
					<p>{descrip,60}</p>
					</loop>
					
<pw id="G9_右邊帖子列表@旅遊" />
<list cachetime="1800" action="subject" num="11" title="帖子列表" />
				<loop>
				<li><a href="{url}" title="{title}" target="_blank">{title,26}</a></li>
				</loop>
				
<pw id="H1_左邊標題@旅遊" />
旅圖欣賞

<pw id="H2_左邊圖片列表@旅遊" />
<list cachetime="1800" action="image" num="4" title="圖片列表" />
			<loop>
				<li><a href="{url}" title="{title}"><img src="{image,113,96}" width="113" height="96" />{title,16}</a></li>
			</loop>
			
<pw id="H3_右邊標題@旅遊" />
旅遊達人
<pw id="H4_右邊圖文摘要列表@旅遊" />
<list cachetime="1800" action="image" num="3" title="圖文摘要列表" />
			<loop>
				<div class="subject4 cc mt10">
					<a href="{url}" title="{title}"><img src="{image,70,71}" width="70" height="71" class="fl" /></a>
					<h4><a href="{url}" title="{title}">{title,14}</a></h4>
					<p>{descrip,50}</p>
				</div>
				</loop>
				
<pw id="H5_右邊圖文推薦@旅遊" />
<list cachetime="1800" action="image" num="1" title="圖文摘要" />
				<loop>
				<a href="{url}" title="{title}"><img src="{image,122,85}" width="122" height="85" class="fl" /></a>
				<h4><a href="{url}" title="{title}" class="f1">{title,30}</a></h4>
				<p>{descrip,110}</p>
				</loop>
				
<pw id="H6_右邊帖子列表@旅遊" />
<list cachetime="1800" action="subject" num="14" title="帖子列表" />
					<loop>
					<li><a href="{url}" title="{title}" target="_blank"><em>[{forumname,8}]</em>{title,20}</a></li>
					</loop>
			

<pw id="A1banner@旅遊" />
人生就像一場戲，不必在乎目的地，<br />在乎的，是沿途的風景，以及看風景的心情...

<pw id="A1_banner文字@旅遊" />
<p class="fr">人生就像一場戲，不必在乎目的地，<br />在乎的，是沿途的風景，以及看風景的心情...</p>
