<!--<?php
print <<<EOT
-->
<!--#require modeEot('header');#-->

<div id="finance">
	<div id="channel-banner">
		<h2 class="hidden">旅遊頻道</h2>
		<pw id="A1_banner文字@旅遊" />
		<ul class="fl cc w770" id="tabwrap1_B">
		 <pw id="A2_頻道導航@旅遊" />
		</ul>
	</div>
<!--模塊一star-->
<div class="cc">

	<div class="w268 fl">
	   <div class="pane1">
	   	<div class="sideT"></div>
		<div class="bd">
			<div class="hd"><pw id="B1_左邊標題@旅遊" /></div>
			<div class="subject mt10 cc">
			<pw id="B2_左邊圖文推薦@旅遊" />
			</div>
			<ul class="list mt10">
			<pw id="B3_左邊帖子列表@旅遊" />
			</ul>
		</div>
		<div class="sideB"></div>
	   </div>
	</div>
	
    <div class="w680 fr">
		<div class="pwSlide">
		<pw id="B4_圖片輪播@旅遊" />	
		</div>
	</div>
	
</div>
<!--模塊一end-->
<!--模塊二star-->
<div class="cc mt10">
	<div class="w268 fl" style="overflow:hidden;">
	   <div class="pane1">
	   	<div class="sideT"></div>
		<div class="bd">
			<div class="hd"><pw id="C1_左邊標題@旅遊" /></div>
			<div class="divimg cc mt10">
			<pw id="C2_左邊圖片推薦位@旅遊" />
			</div>
			<ul class="list list1 mt10">
			<pw id="C3_帖子列表@旅遊" />
			</ul>
		</div>
		<div class="sideB"></div>
	   </div>
	</div>
	
    <div class="w680 fr cc">
		<div class="w383 fl">
			<div class="topNews">
			<pw id="C4_頭條推薦@旅遊" />
			</div>
			<ul class="list2 mt10">
			<pw id="C5_頭部新聞列表@旅遊" />
			</ul>
		</div>
		<div class="w285 fr">
			<div class="Tool">
				<h2><pw id="C6_右邊模塊標題@旅遊" /></h2>
				<ul class="cc">
				<pw id="C7_右邊工具箱@旅遊" />
				</ul>
			</div>
			<div class="mt10"><pw id="C8_右邊廣告圖片1@旅遊" /></div>
			<div class="mt10"><pw id="C8_右邊廣告圖片2@旅遊" /></div>
		</div>		
	</div>
</div>
<!--模塊二end-->
<!--通欄廣告-->
<div class="mt10"><pw id="C9_通欄廣告@旅遊" /></div>
<!--通欄廣告-->
<!--模塊三star-->
<div class="cc mt10">
	<div class="w268 fl">
	   <div class="pane1">
	   	<div class="sideT"></div>
		<div class="bd">
			<div class="hd"><pw id="D1_左邊標題@旅遊" /></div>
			<ul class="list mt10">
			<pw id="D2_左邊帖子列表@旅遊" />
			</ul>
			<span class="consul mt10"><pw id="D3_左邊咨詢按鈕@旅遊" /></span>
		</div>
		<div class="sideB"></div>
	   </div>
	</div>
	
    <div class="w680 fr cc">
	  <div class="pane2">
	  	  <div class="hd"><pw id="D4_右邊標題@旅遊" /></div>
		  <div class="bd cc">
		  	<div class="w350 fl">
			<pw id="D5_右邊左側圖文混排@旅遊" />
			</div>
			
			<div class="w270 fr mt15">
			 	<ul class="list list3">
				<pw id="D6_右邊右側帖子列表@旅遊" />
				</ul>
				<div class="mt10"><pw id="D7_右邊右側廣告圖片@旅遊" /></div>
			</div>
		  </div>
	  	<div class="bot"></div>
	  </div>
	</div>
</div>
<!--模塊三end-->
<!--模塊四star-->
<div class="cc mt10">
	<div class="w268 fl">
	   <div class="pane1">
	   	<div class="sideT"></div>
		<div class="bd">
			<div class="hd"><pw id="E1_左邊標題@旅遊" /></div>
			<ul class="keyword mt10">
				<li>
				<pw id="E2_左上列表1@旅遊" />
				</li>
			</ul>
			<ul class="keyword mt10">
				<li>
				<pw id="E3_左中列表1@旅遊" />
				</li>
			</ul>
			<ul class="keyword mt10">
				<li>
				<pw id="E4_左下列表3@旅遊" />
				</li>
			</ul>			
		</div>
		<div class="sideB"></div>
	   </div>
	</div>
	
     <div class="w680 fr cc" style="overflow:hidden">
	  <div class="pane2">
	  	  <div class="hd"><pw id="E5_右邊標題@旅遊" /></div>
		  <div class="bd cc">
		  	 <div class="imglist mt10 cc">
			 <pw id="E6_右邊圖文列表@旅遊" />
			 </div>
		  </div>
	  	<div class="bot"></div>
	  </div>
	</div>
</div>
<!--模塊四end-->
<!--通欄廣告star-->
<div class="mt10 cc">
	<div class="w268 fl"><pw id="F1_左邊側欄廣告@旅遊" /></div>
	<div class="w680 fr"><pw id="F2_右邊通欄廣告@旅遊" /></div>
</div>
<!--通欄廣告end-->
<!--模塊五star-->
<div class="cc mt10">
	<div class="w268 fl">
	   <div class="pane1">
	   	<div class="sideT"></div>
		<div class="bd">
			<div class="hd"><pw id="G1_左邊標題@旅遊" /></div>
			<div class="subject subject3 mt10 cc">
			<pw id="G2_左上圖文混排@旅遊" />
			</div>
			<ul class="list mt10">
			<pw id="G3_左下帖子列表@旅遊" />
			</ul>
		</div>
		<div class="sideB"></div>
	   </div>
	</div>
	
    <div class="w680 fr cc">
	  <div class="pane2">
	  	  <div class="hd"><pw id="G4_右邊標題@旅遊" /></div>
		  <div class="bd cc" style="padding-bottom:5px;_padding-bottom:0px;">
		  	<ul class="imglist2 w208 fl cc mt10">
			<pw id="G5_右邊圖片列表@旅遊" />
			</ul>
			<ul class="w218 tops fl mt15">
				<li class="t1">
				<pw id="G6_中間內容推薦1@旅遊" />
				</li>
				<li class="t2">
				<pw id="G7_中間內容推薦2@旅遊" />
				</li>
				<li class="t3">
				<pw id="G8_中間內容推薦3@旅遊" />
				</li>
			</ul>
			<ul class="w202 list fr mt15">
			<pw id="G9_右邊帖子列表@旅遊" />
			</ul>
		  </div>
	  	<div class="bot"></div>
	  </div>
	</div>
</div>
<!--模塊五end-->
<!--模塊六star-->
<div class="cc mt10">
	<div class="w268 fl">
	   <div class="pane1">
	   	<div class="sideT"></div>
		<div class="bd">
			<div class="hd"><pw id="H1_左邊標題@旅遊" /></div>
			<ul class="imglist3 cc">
			<pw id="H2_左邊圖片列表@旅遊" />
			</ul>
		</div>
		<div class="sideB"></div>
	   </div>
	</div>
	
    <div class="w680 fr cc">
	  <div class="pane2">
	  	  <div class="hd"><pw id="H3_右邊標題@旅遊" /></div>
		  <div class="bd cc">
			  <div class="w208 fl">
			  <pw id="H4_右邊圖文摘要列表@旅遊" />
			</div>
			
			<div class="w425 fr mt10">
				<div class="subject subject3 cc">
				<pw id="H5_右邊圖文推薦@旅遊" />
			   </div>
			   <ul class="list list3 list4 mt10 cc">
			   <pw id="H6_右邊帖子列表@旅遊" />
				</ul>
			</div>
			
		  </div>
	  	<div class="bot"></div>
	  </div>
	</div>
</div>
<!--模塊六end-->
</div>

<!--#require modeEot('footer');#-->
<!--
EOT;
?>-->