/*style by lwid 09.11.6*/
body{color:#333333;}
a{color:#434343; text-decoration:none;}
a:hover{color:#3366cc; text-decoration:underline;}
.cate_content{width:650px; overflow:hidden;}
.cate_sidebar{width:300px;}
.cate_bg_A{background:#f4fafe;}
.s3{color:#ff6600;}
.mr10{margin-right:10px;}
.bor-b{padding:8px 0 10px 10px;color:#666;border-top:1px solid #d7edfe;}

.btn{border-color:#3366cc;margin-right:1em;color:#fff;background:#3366cc;}
.btn,.bt{border-width:1px;cursor:pointer;padding:.1em 1em;*padding:0 1em;font-size:9pt; line-height:130%; overflow:visible;}
.bt{cursor:pointer;background:#f7f7f7;vertical-align:middle;border-color: #e4e4e4 #cccccc #cccccc #e4e4e4;}
.input{border: 1px solid; border-color: #c0c0c0 #ededed #ededed #c0c0c0;padding:2px 0px 2px 1px;font-size:1.0em;vertical-align:middle;color:#000;}
textarea{border: 1px solid; border-color: #c0c0c0 #ededed #ededed #c0c0c0;}

#breadCrumb{zoom:1; border:1px solid #c1d8ea;background:#f5fafe;padding:0 5px 0 10px;margin-bottom:5px;}
#breadCrumb a{line-height:30px;}
#breadCrumb .fr{padding-top:7px;}
#breadCrumb .fr a{line-height:18px;}
#breadCrumb em{ font-family:mingliu;margin:0 5px;}
#breadCrumb .breadEm{height:30px;background:url(../../../images/wind/breadEm.png) 0 0 no-repeat;width:10px;overflow:hidden;margin:0 3px;float:left;}
#breadCrumb img.breadHome{float:left;margin:6px 5px 0 0;}

.cate_tr_A td,.sidebar_box h2,.sidebar_box h2 span,.sidebar_box li,.c_received,.m_btn{background:url(cate_bg.png);}

a.c_received{color:#434343;padding-left:20px;margin:8px 10px 0; background-position:0 -180px;line-height:18px;}
.content_box_A{border:1px solid #d3dbe6;padding:1px;background:url(cmsBoxA.png) 0 1px repeat-x;}
.content_box_A a{color:#024b90;}
.content_box_A table{width:100%;}
.cate_tr_A td{padding:6px 0 6px 10px;border-bottom:1px solid #eaeaea;background-color:#f7f7f7; font-weight:700;color:#9f9f9f;}
.cate_tr_B td{padding:8px 0 8px 10px;border-bottom:1px dashed #dceefc;line-height:150%;color:#666;}
.cate_tr_B td a{color:#333;}
.cate_tr_B td a:hover{color:#3366cc;text-decoration:underline;}
.cate_tr_B th{width:10px;padding-left:10px;border-bottom:1px dashed #dceefc;}
.cate_tr_B td a.s3{color:#ff6600;}

.readFlash{position:relative;height:180px;overflow:hidden;text-align:center;width:240px;}
.readFlash img{width:100%;}
.readFlash ul {position:absolute;right:8px;bottom:8px;z-index:3;}
.readFlash ul li {list-style:none;float:left;width:18px;height:13px;line-height:13px;text-align:center;margin-left:2px;background:#ffffff;}
.readFlash ul li a {display:block;width:18px;height:13px;font-size:10px;font-family:Tahoma;color:#333333;}
.readFlash ul li a:hover,.flash ul li a.sel {color:#fff;text-decoration:none;background:#ffa900;}

.sidebar_box{border:1px solid #d9e5f5;padding:1px;margin-bottom:10px;background:#f9fdff;}
.sidebar_box h2{line-height:30px;height:30px;background-color:#fff;font-weight:700; font-size:14px;color:#333333;border-bottom:1px solid #d9e5f5;background-position:0 -50px;}
.sidebar_box h2 span{padding-left:22px; background-position:10px -98px;}
.sidebar_box ul{padding:5px 0;}
.sidebar_box li{line-height:24px;height:24px;padding:0 10px 0 22px; background-position:10px -152px;overflow:hidden;}
.sidebar_box li a{color:#434343;}

.cate_menubar .fl{line-height:24px;}
.menubar_box{border:1px solid #bee2fd;background:#f8fbfe;margin-bottom:5px;}
.menubar_box table{width:100%;}
.menubar_box th,.menubar_box td{padding:5px 10px;}
.menubar_box th{width:100px;}


.menubar_tab{width:920px;}
.menubar_tab a{float:left;height:22px;line-height:22px;padding:0 5px; white-space:nowrap;margin:0 5px 0 0;color:#434343;}
.menubar_tab .current{color:#0066cc; font-weight:700;}
.m_btn{ background-position:0 -210px;width:55px;border:0;height:23px;line-height:100%;color:#fff; cursor:pointer;overflow:visible; vertical-align:middle;}

.cate_list_admin{border-top:1px solid #e6e6e6;margin:10px;padding-top:10px;}
.cate_list_admin a{color:#434343;}
.cate_list_admin a:hover{color:#990000;}

.pages{line-height:18px;}
.pages a,.pages b,.pages .pagesone{display:block;float:left;margin-right:3px;}
.pages a{border:1px solid #d5e6ed;background:#ffffff;padding:0 7px;}
.pages b,.pages a:hover{background:#1b72af;color:#ffffff;border:1px solid #1b72af;text-decoration:none;padding:0 7px;}
.pages .pagesone{border:1px solid #d5e6ed;background:#ffffff;font:11px Verdana;line-height:18px;height:18px;padding-right:1px;}
.pages input{border:1px solid #d5e6ed;padding:0;font:10px/12px Verdana;margin-top:1px;float:left;height:14px;}
.pages .pagesone span{float:left;margin:0 5px;}
.pages .c{width:1px;}
.pages button{height:16px;border:1px solid #a6cbe7;background:#d5e6ed;color:#1b72af;margin:1px 0 0 1px;cursor:pointer;float:left;line-height:12px;}

.h1{padding:20px 5px 10px;text-align:center; }
h1{margin:0 0 0 5px;font:bold 24px/25px Arial;}
.cate_r_tips{padding:10px 5px;color:#555;border-bottom:1px dotted #ccc; text-align:center;margin-bottom:10px;}
.cate_r_tips span{padding-right:10px;}

.cate_meg_player{float:right;padding:6px 6px 7px;background:#fff;border:1px solid #e4e4e4;margin-top:-1px;}
/*flash*/
.flash{position:relative;width:240px;overflow:hidden;height:160px;}
.flash img{height:100%;width:100%;}
.flash ul {position:absolute;right:8px;bottom:8px;z-index:3;}
.flash ul li {list-style:none;float:left;width:18px;height:13px;line-height:13px;text-align:center;margin-left:2px;background:#f7f7f7;}
.flash ul li a {display:block;width:18px;height:13px;font-size:10px;font-family:Tahoma;color:#333333;}
.flash ul li a:hover,.flash ul li a.sel {color:#fff;text-decoration:none;background:#ffa900;}
 
.cates{margin:0 0 10px;border-top:1px solid #e4e4e4; font-size:12px;}
.cates .cate-list li{line-height:28px;font-weight:500;color:#444444; list-style:none;border-bottom:1px solid #e4e4e4;padding-left:110px;}
.cates .cate-list em{ font-style:normal;width:100px;float:left; text-align:right; font-weight:700;margin-left:-110px;}
.cates .cate-list cite{font-style:normal;}
.cates .cate-list .two{background:#f7f7f7;}
.cates input{ vertical-align:middle;}
.cates .w{margin-right:10px;}

.opera{padding:10px 0 0;overflow:hidden;}
.opera ul{width:300px;margin:auto;}
.opera ul li{display:inline;width:60px;height:90px;float:left;margin-right:20px;}
.opera ul li a{background:url(stat.png) no-repeat;display:block;width:55px;padding-top:32px;}
.opera ul li strong{font-weight:700;color:#ff4800;}
.opera ul li .r-replies{ background-position:12px 0;}
.opera ul li .r-hits{ background-position:-36px 0;}
.opera ul li .r-shares{ background-position:-88px 0;}
.opera ul li .r-favors{ background-position:-136px 0;}

/*Editor*/
.o-operation span{border:1px solid #f8f8f8;margin:0 5px -1px 0;background:#f7f7f7 url(editoricon.gif) 0 0 no-repeat;float:left;width:20px;height:20px;text-indent:2000em;overflow:hidden;cursor:pointer;border:1px solid #ccc;}
.o-operation .createlink{ background-position:0 0;}
.o-operation .o-face{ background-position:-20px 0;}
.o-operation span:hover{border:1px solid #000;border-color:ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;}

.tpc_content{font-family:Arial;margin:10px 10px;line-height:2em;color:#333333; font-size:14px;width:605px;overflow:hidden;}
.tpc_content font{line-height:1.5em;}
.tpc_content a{text-decoration:none;color:#3366cc;}
.tpc_content a:hover{text-decoration:underline}
.tpc_content ol{list-style-type:decimal;}
.tpc_content ul{list-style-type:disc;}

.blockquote{zoom:1;padding:5px 8px 5px;line-height:1.3;background:#fffae1;margin:0 0 10px 0;}

.blockquote2{border: 1px solid; border-color: #c0c0c0 #ededed #ededed #c0c0c0;margin:0px;padding:0 0 0 2em;line-height:2em;overflow:hidden;background:#fff;margin-left:0;}
.blockquote2 ol{margin:0 0 0 1.5em;padding:0;}
.blockquote2 ol li{border-left:1px solid #ccc;background:#f7f7f7;padding-left:10px;font-size:12px;font-family:"Courier New" serif;list-style-type:decimal-leading-zero;padding-right:1em;}
.blockquote2 ol li:hover{background:#fff;color:#008ef1;}
.blockquote2 ol li{list-style-type:decimal;}

.blockquote3{clear:left;border:1px dashed #CCC;background:#f7f7f7 url($imgpath/blockquote3.png) right top no-repeat;padding:5px 10px;margin-left:0;}
.blockquote3 .quote{color:#999;font-size:12px;}
.blockquote3 .text{padding:0 10px 10px 10px;}

.read_form td{height:20px;padding:0 5px;border-style:solid; border-width:1px;}

.tip-bot{border-top:1px dashed #cccccc;margin:10px;padding-top:10px;;}

.box-reply{padding:10px;width:625px;overflow:hidden;}
.box-reply h4{font-weight:700;color:#333; font-size:14px;}
.box-reply dl{margin:15px 0 5px;}
.box-reply dt{float:left;width:60px;}
.box-reply dt img{width:50px;height:50px;}
.box-reply dd{float:left;width:560px;}
.box-reply .title{line-height:1;font:12px/1em Helvetica,Arial;color:#999999;}
.box-reply .title a{color:#3366cc;}
.box-reply .text{padding:10px 0;color:#333333;}

.t{border:1px solid #c5d8e8;background:#ffffff;}
.t table{width:100%;}
.tr2 td{padding:4px 0 4px 10px;border-bottom:1px solid #c5d8e8;background:#f7f7f7;color:#666;}
.tr3 td{border-bottom:1px solid #d5e6ed;padding:4px 0 4px 10px;}
.tr3 td a{color:#3366cc;}

.tabB{height:26px;}
.tabB ul{height:27px;position:absolute;margin-left:45px;}
.tabB ul li {float:left;}
.tabB li a{float:left;height:23px;line-height:24px;background:#f7f7f7;padding:0 .7em;margin:3px 3px 0 0;_margin:2px 1px 0;}
.tabB li a:hover{background:#d4e6f7;text-decoration:none}
.tabB li.current a{height:23px;line-height:24px;background:#fff;border:1px solid #e0e0e0;border-bottom:0;color:#000;}

.tabC li{float:left;margin-right:10px;}
.tabC li a{display:block;line-height:21px;height:21px;padding:0 5px;float:left;}
.tabC .current a{background:#f0f0f0;}