/*a link 基本連接顏色*/
a{text-decoration:none;color:#333;}
a:hover{text-decoration:underline;color:#ba1d06;}

.w-230{width:230px;overflow:hidden;}
.w-720{width:720px;overflow:hidden;}
.w-350{width:350px;overflow:hidden;}
.w-350-2{width:352px;margin-right:10px;}
.w-360{width:360px;overflow:hidden;}

/*按鈕*/
.bta{display:inline-block;height:22px;line-height:22px;border-color: #e4e4e4 #aeaeae #aeaeae #e4e4e4;background:#f7f7f7;color:#000;}
.bta:hover{background:#f1f1f1;}
/*圓角盒子*/
.boxB{border:1px solid #d0d0cc;}
	.boxB h2,.boxB h4{border-bottom:1px solid #d6d6d6;line-height:28px;padding:0 10px;background:#efefef url(boxb-h2.png) 0 top;height:28px;}
	.boxB h2{font-size:14px;color:#ba1d06;font-weight:700;}
	.boxB h2 a{font-size:12px;color:#888888;font-weight:500;padding:0 0 0 15px;}
	.boxB h4{color:#888888;}
.boxB-table-1{padding:5px 10px 5px 0;}
	.boxB-table-1 table th{border-right:1px dashed #cccccc;width:360px;padding-top:10px; vertical-align:top;}
	.boxB-table-1 table th a{padding:0 0 10px 10px;width:160px;overflow:hidden;float:left;}
	.boxB-table-1 table th a img{width:160px;height:110px;}
	.boxB-table-1 table th p{padding:5px 0 0;width:160px;height:18px;overflow:hidden;text-align:center;font-weight:normal;float:left;}
	.boxB-table-1 table td ul{line-height:24px;padding-left:10px;}
	.boxB-table-1 table td ul li{height:24px;overflow:hidden;}
.boxB-table-2{padding-bottom:1px;}
	.boxB-table-2 table th{border-bottom:1px dashed #cccccc;}
	.boxB-table-2 table th a img{width:95px;height:90px;}
	
	.boxB-table-2 table td{padding:10px;}
	.boxB-table-2 table td h3{line-height:28px;font-size:14px;color:#ba1d06;font-weight:700;}
	.boxB-table-2 table td li{line-height:24px;height:24px;overflow:hidden;}
	

.boxC{border:1px solid #d0d0cc;}

.box li,.box2 li,.box3 li{line-height:24px;height:24px;overflow:hidden;}
.box ul li .fr,.box2 ul li .fr{color:#999;}
.box ul li span{color:#ff6600;padding-right:5px;}
.box a img{margin:8px 10px 10px 10px;width:100px;height:100px;}

.box2 h4 a{font-size:16px; font-weight:700;padding:5px 0;color:#ff0000;}
.box2 p{color:#888888;}

.box4 a{float:left;margin:10px 8px 10px 10px;width:100px;text-align:center;display:block;} /*圖+主題*/
.box4 a p{width:82px;padding:5px 0 0;overflow:hidden; text-align:center; float:left; cursor:pointer;height:20px;font-weight:normal;}
.img-100 img{width:100px;height:80px;}

.boxD{background:#f0f0f0;}
.boxD h2{background:url(boxD-h2.png) no-repeat;line-height:1;padding:10px 10px 7px;color:#2c6700;font-weight:700;}
/*flash下*/
.flash-bot th{width:100px;}
.flash-bot th img{margin:4px 10px 10px 0;width:100px;height:100px;}
.flash-bot td{line-height:24px;}

/*forum-hot*/
.forum-hot{padding:10px;}
.forum-hot a{display:block;width:100%;margin-bottom:10px;display: inline-block;}
.forum-hot a:after{content: ".";display: block;height:0;clear: both;visibility: hidden;}
.forum-hot img{width:80px;height:60px;margin:0 10px 0 0;}
.forum-hot p{ font-size:14px;}
/*友情鏈接*/
.links{padding:5px 10px 5px;}
.links img{margin-top:3px;}
.links a{padding:0 5px 5px 0;white-space:nowrap;color:#888;}
/*版塊排行*/
.list-imgB ul{background:url(list-ul.png) 0 6px no-repeat;padding-left:20px;}
.list-imgB ul li{line-height:24px;height:24px;overflow:hidden;}
.list-imgB ul li img{display:none;}
.list-imgB ul li .fr{color:#888888;font-size:11px;}
/*版塊地圖*/
.froum-list table td{padding:5px 15px 15px 7px;background:url(forum-list-bg.png) 0 bottom repeat-x;border-bottom:1px solid #e8e8e8;}
.froum-list table td h3{font-size:14px;font-weight:700;}
.froum-list table td ul{padding:3px;}
.froum-list table td ul li{float:left;width:50%;margin:5px 0;}
.froum-list table td ul li div{margin-top:3px;float:left;background:url(forum-list-today.png) left 0 no-repeat;font-size:9px;color:#008800;line-height:1;margin-right:5px;}
.froum-list table td ul li div span{float:left;background:url(forum-list-today.png) right 0 no-repeat;padding:1px 5px 2px 2px;}

/*heymi添加代碼*/
.listA{padding:5px 10px 10px;}
.listA li{border-bottom:1px dashed #cccccc;height:28px;line-height:28px;overflow:hidden;padding-left:10px;background:url(listA_li.png) no-repeat left 10px;}
.link2{color:#cd000d;}
.link2 hover{text-decoration:underline;}

.acolor1 a,.red a,.red{color:#3366cc}
.acolor1 span a{color:#333333;}
/*默認頻道頁*/
.w-170{width:170px;overflow:hidden;}
.w-780{width:780px;overflow:hidden;}

/*左邊*/
.channel-logo{ height:30px;color:#fff;line-height:30px; font-size:14px; padding-left:10px; background:#468ACB url(navbg.png) no-repeat left -1px;}
.channel-list{ padding:0 9px 10px;line-height:20px; border:#a8c8e6 1px solid; background:#fff url(channel-hot1.png) center -30px no-repeat  }
.channel-list li{border-bottom:1px solid #eee; color:#888;padding:6px 0}
.channel-list li a{ font-size:14px;color:#333;margin-right:10px; font-weight:700 }

.channel-side{border:1px solid #a8c8e6;}
.channel-side h2{background:#F8FAFC;color:#3366cc; font-size:14px; font-weight:700;padding-left:10px;line-height:30px;border-bottom:1px solid #a8c8e6;}

.channel-hot{background: url(channel-hot1.png) no-repeat;}
.channel-hot-wrap{ background:url(channel-hot2.png) left bottom no-repeat}
.channel-hot th,.channel-box th{width:300px; font-weight:500;}
	.hot_icon{background:url(women_h1.png) left center no-repeat; width:90px;height:29px; text-align:center;line-height:28px;margin-right:10px;}
.channel-hot td .box_two h4{line-height:30px; text-align:center}
.channel-hot td .box_two h4 a{color:#3366cc; text-decoration:underline}
.channel-hot td .box_two p{padding:0 0 5px 0; text-indent:2em}
.channel-hot h2{ line-height:32px; font-weight:700;}
div.dashline{height:1px; line-height:1px;border-bottom:1px dashed #999;}


.list_50 li{width:48.5%;float:left;padding-right:1%;}
.list_50 li img{width:80px;height:70px;margin-right:5px;}
.list_50 li h4{height:18px;overflow:hidden;}
.list_50 li h4 a{ font-weight:700; }
.list_50 li p{height:55px;overflow:hidden;color:#888;}

.list_overflow li{height:24px;overflow:hidden;line-height:24px;}

.channel-box { background:url(channel-hot1.png) -1px -80px  no-repeat; border:1px solid #D8E6F5 }
.channel-box h2{ height:28px;line-height:28px;padding:0 10px;color:#3366cc;border-bottom:1px solid #D8E6F5; }
.channel-box h2 span{padding:0 70px 0 0; font-size:14px;font-weight:700; }
.channel-box h2 a{ color:#787878;}
.channel-box table{margin-top:10px; margin-bottom:10px}
.channel-box table th,.channel-box table td{ vertical-align:top;}
.channel-box th{border-right:1px dashed #e0e0e0}
.channel-box th ul{padding:0 10px;margin-top:-4px;}
.channel-box td{padding:0 10px;}
.channel-box td .box_two p{background:#ffebf6;padding:3px 5px;}
.channel-box ul{margin-top:5px;}
.channel-box .list_50{padding-bottom:5px;}
.channel-box ul span{color:#D20014;}
.channel-box ul .fr{color:#888;}
.channel-box-wrap{ background:url(channel-hot1.png) -1px -90px  no-repeat; padding-top:1px;border-bottom:1px solid #a8c8e6; margin-bottom:0}

.channel-box th h4,.channel-box th p{padding-right:10px;}
.channel-box th h4{padding-right:10px; font-size:14px;}
.channel-box th p{color:#888888;}
.channel-box th img{width:120px;height:110px;margin:0 10px 10px 10px;}
.channel-box ul{line-height:24px;}

.w420{ width:420px;}
.w340{ width:340px;}
.w220{ width:220px;}
.w100{ width:100px;}
.piclist1 img{ width:124px; height:86px; padding:2px; border:1px solid #ccc; float:left; margin:5px 0 5px 10px;   }

.piclist2 li{ width:130px;float:left; margin:5px 0 5px 10px; text-align:center; color:#D20014}
.piclist2 li img{ width:124px; height:86px; padding:2px; border:1px solid #ccc; }
.piclist2 li a{ color#333}
.pic100 img{ width:100px; height:75px}
.pic100 li{ padding:10px 0}

/*通用*/
.box_one{padding:0 10px 10px;}
.box_one a{display:block;margin-top:10px;display:inline-block;}
.box_one a:after {content: ".";display: block;height:0;clear: both;visibility: hidden;}
.box_one a{display: inline-block;}/* Hides from IE-mac \*/
* html .box_one a{height: 1%;}
.box_one a{display: block;}/* End hide from IE-mac *//*清除浮動 代碼*/
.box_one img{width:80px;height:60px;float:left;margin:1px 5px 0 0;}
.box_one p{font-size:14px;height:62px;overflow:hidden;}

.box_two h4{font-weight:700;font-size:14px;}

.box_img a{float:left;}
.box_img a img{margin:0 10px;width:130px;height:90px;}
.box_img a p{padding:5px 0 10px; text-align:center;}

.box_tree a img{margin:0 10px 10px 0;width:130px;height:100px;}
.box_tree h4{ font-size:14px;padding:0 0 4px;}
.box_tree p{color:#888;}
.box_tree a p{margin-top:-5px;overflow:hidden; text-align:center; cursor:pointer;height:18px;color:#006699;}
.box_tree a:hover p{color:#990000;}