<!--<?php
if ($db_toolbar) {
	if ($_COOKIE['toolbarhide']) {
		$toolbarstyle = 'style="display:none"';
		$openbarstyle = '';
		$closebarstyle = 'style="display:none"';
	} else {
		$toolbarstyle = '';
		$openbarstyle = 'style="display:none"';
		$closebarstyle = '';
		if ($db_appifopen) {
			$appshortcut = trim($winddb['appshortcut'], ',');
			if (!empty($appshortcut) && $db_siteappkey) {
				$appshortcut = explode(',', $appshortcut);
				$bottom_appshortcut = array();
				$appclient = L::loadClass('appclient');
				$bottom_appshortcut = $appclient->userApplist($winduid, $appshortcut, 1);
			}
		}
	}
}

$wind_spend = '';
if ($db_footertime == 1) {
	$totaltime = number_format((pwMicrotime() - $P_S_T), 6);
	$wind_spend = "Total $totaltime(s)";
}
$ft_gzip = $db_obstart ? 'Gzip enabled' : 'Gzip disabled';
$ft_time = get_date($timestamp, 'm-d H:i');
$db_icp && $db_icp = "<a href=\"http://www.miibeian.gov.cn\" target=\"_blank\">$db_icp</a>";
$db_menuinit = trim($db_menuinit, ',');
print<<<EOT
-->
	<div class="c"></div>
  </div>
	<div class="foot">
		<div class="mb5">
    <div class="bottom tac">
<!--
EOT;
$navConfigService = L::loadClass('navconfig', 'site');
$_Navbar['foot'] = $navConfigService->findValidNavListByTypeAndPostion(PW_NAV_TYPE_FOOT, 'o');
foreach($_Navbar['foot'] as $key => $value){
	$html = buildNavLinkHtml($value['data']);
print <<<EOT
--><span class="mr10">$html</span><span class="gray mr10">|</span><!--
EOT;
}print <<<EOT
--><a href="job.php?action=erasecookie&verify=$loginhash" rel="nofollow">清除Cookies</a>
    </div>
		</div>
		<div class="f10 s6 tac">
			<p class="mb5">Powered by <a href="http://www.phpwind.net/" target="_blank" class="s4">phpwind v{$wind_version}</a>&nbsp;<a href="http://www.phpwind.com/certificate.php?host={$pwServer['HTTP_HOST']}" target="_blank" rel="nofollow">Certificate</a> Copyright Time now is:$ft_time<br /> &copy;2003-2011 <a href="$db_bbsurl/" target="_blank">{$GLOBALS['db_bbsname']}</a> 版權所有 $ft_gzip $db_icp $db_statscode <span id="stats"></span>
<!--
EOT;
if($db_ystats_ifopen=='0'){print <<<EOT
-->
<script type="text/javascript" src="http://js.tongji.linezing.com/{$db_ystats_unit_id}/tongji.js"></script>
<noscript>
	<a href="http://www.linezing.com" target="_blank"><img alt="tongji" src="http://img.tongji.linezing.com/{$db_ystats_unit_id}/tongji.gif"/></a>
</noscript>
<!--
EOT;
}print <<<EOT
--><span id="windspend">$wind_spend</span></p>
		</div>
	</div>
</div>
<!--
EOT;
if($GLOBALS['groupid'] != 'guest' && $GLOBALS['groupid'] != '' && $GLOBALS['db_toolbar'] && SCR != 'profile' && SCR != 'jobcenter' && SCR != 'message' && SCR != 'userpay'){
include_once PrintEot('bottom');
}print <<<EOT
-->
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/app_global.js"></script>
<!--
EOT;
if ($GLOBALS['__pwPortalEot'] && checkPortalRight()) {
print <<<EOT
-->
<script type="text/javascript" src="js/date.js"></script>
<script type="text/javascript" src="mode/area/js/adminview.js"></script>
<script type="text/javascript" src="mode/area/js/tagrelate.js"></script>
<script type="text/javascript" src="js/color_picker.js"></script>
<script>
window.onReady(function(){
	frontadmin = New(frontAdmin,['main','view-hover']);
	//門戶模塊管理
	var console=new ChannelManage(0,'','',0);
	console.init();
});
</script>
<!--
EOT;
}
print <<<EOT
-->
</body>
</html>
<!--
EOT;
if($db_job_isopen && $winduid){print <<<EOT
-->
<script type="text/javascript" src="js/pw_jobcenter.js"></script>
<!--
EOT;
	if($winddb['jobnum'] > 0 && $_G['allowvisit'] && $db_job_ispop && !GetCookie('jobpop') && !in_array(SCR,array("jobcenter","searcher","register"))){
print <<<EOT
-->
<script type="text/javascript">
window.onReady(function() {
	setTimeout(openjobpop,200);
});
</script>
<!--
EOT;
	}
}print <<<EOT
-->
<script>
var openmenu = {{$GLOBALS['db_menuinit']}};
window.onReady(function(){
	read.InitMenu();
	//消息提示
	new messageTip(35).init();
});
WINDOW_LOADED=1;
</script>
<!--
EOT;
?>
-->