<!--<?php
require_once uTemplate::PrintEot('header');
require_once uTemplate::PrintEot('profile_left');
print <<<EOT
-->
<div class="contUser">
        	<div class="p15">
            	<h4 class="site"><span>帳號</span></h4>
<!--
EOT;
require_once uTemplate::PrintEot('info_nav');
print <<<EOT
-->
				<table width="100%" height="450">
				<tr><td class="vt"><div class="p15">
					<form id="creator" name="creator" action="profile.php?action=modify&" method="post" onsubmit="return setFaceLen()">
					<input type="hidden" name="verify" value="$verifyhash" />
					<input type="hidden" value="2" name="step" />
					<input type="hidden" id="info_type" name="info_type" value="link" />
<div id="info_link">
						<table width="100%" class="setTable">
$customFieldsString
							<tr>
								<th class="th">手機號</th>
								<td class="td">
<!--
EOT;
if (!$db_authstate) {print <<<EOT
-->
									<input class="input input_wa" type="text" maxlength="16" name="proauthmobile" value="$userdb[authmobile]" />
<!--
EOT;
} elseif ($isAuthMobile) {print <<<EOT
-->
									<span id="td_span_mobile" class="mr20">$authmobile</span><img src="u/images/attest/mobile.gif" align="absmiddle" class="mr5"/>已綁定手機 <a id="a_edit_mobile" href="profile.php?action=auth&check_step=mobile">[修改]</a>
<!--
EOT;
} else {print <<<EOT
-->
									<input class="input input_wa" type="text" maxlength="16" name="proauthmobile" id="td_input_mobile" value="$userdb[authmobile]" />
									<a href="javascript:void(0);" onclick="checkMobile();return false;" class="mr10">[綁定]</a>
<!--
EOT;
}print <<<EOT
-->
								</td>
							</tr>
							<tr>
									<th class="th">&nbsp;
											
									</th>
									<td class="td" style="padding:10px 13px;">
										<span class="btn"><span><button type="submit">保存資料</button></span></span>
									</td>
							</tr>
						</table>
					</div></form>
<div id="userbinding-node" style="display:none">
</div></div></td></tr></table>
		</div>
</div>
<script type="text/javascript" src="js/info.js"></script>
<script>
var display = '$display';
function checkMobile() {
	var url = 'profile.php?action=auth&check_step=mobile';
	var mobile = getObj('td_input_mobile').value;

	if (mobile != '' && typeof (mobile) != 'undefined') {
		url += '&check_mobile='+mobile;
	}
	window.location.href = url;
}
</script>
<!--
EOT;
require_once uTemplate::printEot('footer');
?>-->