<!--<?php
require_once uTemplate::PrintEot('header');
require_once uTemplate::PrintEot('profile_left');
print <<<EOT
-->
<div class="contUser">
        	<div class="p15">
            	<h4 class="site"><span>帳號</span></h4>
<!--
EOT;
require_once uTemplate::PrintEot('info_nav');
print <<<EOT
-->
				<table width="100%" height="450">
				<tr><td class="vt"><div class="p15">
					<form id="creator" name="creator" action="profile.php?action=modify&" method="post" onsubmit="return checkpost(document.creator);">
					<input type="hidden" name="verify" value="$verifyhash" />
					<input type="hidden" value="2" name="step" />
					<input type="hidden" id="info_type" name="info_type" value="safe" />
<div id="info_safe">
						<table width="100%" class="setTable">
<!--
EOT;
if($ifppt){print <<<EOT
-->
							<tr>
								<th class="th">原密碼</th>
								<td class="td"><input class="input input_wa mr10" type="password" maxlength="75" name="oldpwd" value="" />修改密碼或電子郵箱時需要密碼驗證</td>
							</tr>
							<tr>
								<th class="th">新密碼</th>
								<td class="td"><input class="input input_wa" type="password" maxlength="75" name="propwd" value="" /></td>
							</tr>
							<tr>
								<th class="th">確認密碼</th>
								<td class="td"><input class="input input_wa" type="password" maxlength="75" name="check_pwd" value="" /></td>
							</tr>
							<tr>
								<th class="th">電子郵箱</th>
								<td class="td"><input class="input input_wa" type="text" maxlength="75" id="proemail" name="proemail" value="$userdb[email]" autocomplete="off" />
								<label for="propublicemail"><input type="checkbox" id="propublicemail" name="propublicemail" value="1" $ifpublic />公開電子郵箱</label></td>
							</tr>
<!--
EOT;
if($db_ifsafecv){print <<<EOT
-->
							<tr>
								<th class="th">安全問題</th>
								<td class="td">
									<select name="question" onchange="showcustomquest(this.value)" class="select_wa mr10">
										<option value="-2">不修改安全問題和答案</option>
										<option value="0">無安全問題</option><option value="1">我爸爸的出生地</option><option value="2">我媽媽的出生地</option><option value="3">我的小學校名</option><option value="4">我的中學校名</option><option value="5">我最喜歡的運動</option><option value="6">我最喜歡的歌曲</option><option value="7">我最喜歡的電影</option><option value="8" >我最喜歡的顏色</option><option value="-1">自定義問題</option>
									</select>
									<input id="customquest" style="display:none" type="text" name="customquest" class="input input_wa">
								</td>
							</tr>
							<tr>
								<th class="th">您的答案</th>
								<td class="td"><input type="text" name="answer" class="input input_wa"></td>
							</tr>
<!--
EOT;
}}else{print <<<EOT
-->
							<tr><td colspan="2" class="td">站點開啟通行證功能，修改用戶密碼，請登錄 <a href="$db_pptserverurl">$db_pptserverurl</a></td></tr>
<!--
EOT;
}print <<<EOT
-->

<!--
EOT;
if ($ifppt) {print <<<EOT
-->
							<tr>
									<th class="th">
											&nbsp;
									</th>
									<td class="td" style="padding:10px 13px;">
										<span class="btn"><span><button type="submit">保存資料</button></span></span>
									</td>
							</tr>
<!--
EOT;
}print <<<EOT
-->
						</table>
					</div>
<div id="userbinding-node" style="display:none"></div>
</form>
</td></tr></table>
            </div>
        </div>
<script type="text/javascript" src="js/info.js"></script>
<script>
var display = '$display';
function checkpost(obj) {
	if (obj.proemail.value == "") {
		obj.proemail.focus();
		showDialog("error","<span class='s1'>電子郵箱</span>不能為空",2);
		return false;
	} 
	setFaceLen();
}
</script>
<!--
EOT;
require_once uTemplate::printEot('footer');
?>-->