<!--<?php
require_once uTemplate::PrintEot('header');
require_once uTemplate::PrintEot('profile_left');
print <<<EOT
-->
<div class="contUser">
	<div class="p15">
		<h4 class="site"><span>帳號</span></h4>
<!--
EOT;
require_once uTemplate::PrintEot('info_nav');
print <<<EOT
-->
		<table width="100%" height="450">
		<tr><td class="vt"><div class="p15">
			<div class="p10">
				<div class="f16 mb10" style=" font-family:Microsoft YaHei;"><img src="u/images/icon/tags.png" align="absmiddle" class="mr5" />添加描述自己<span class="blue">職業</span>、<span class="s2">興趣愛好</span>等方面的詞語，讓更多人找到你，讓你找到更多同類</div>
				<div class="tagBox">
					<input type="hidden" id="tagsUid" value="$winduid" />
						<div class="tagAdd fl">
							<input type="text" name="tagname" id="tagname" class="input gray" style="width:200px;" value="添加標籤，尋找好友" onFocus="addFocus(this)" onKeyUp="keyUpTag(event,this);" onBlur="addBlur(this)" /><span class="bt2"><span><button type="button" onclick="addTag();"> &nbsp;添加標籤&nbsp; </button></span></span>
						</div>
<!--
EOT;
if ($hotTags) { print <<<EOT
-->
					<div class="tagHave fr">
						<h3 class="cc mb10">
<!--
EOT;
	if ($hotTagsNum > 8) { print <<<EOT
-->
						<a onClick="changeOne();" href="javascript:;" class="gray fr cp">換一組</a>
<!--
EOT;
	}print <<<EOT
-->
						你可能感興趣的標籤（點擊直接添加）：</h3>
						<ul class="tagSole cc" id="changetags">
<!--
EOT;
	foreach ($hotTags as $value) { print <<<EOT
-->
							<li id="dis_$value[tagname]"><a onClick="addTag('$value[tagname]');" href="javascript:;">$value[tagname]</a></li>
<!--
EOT;
	}print <<<EOT
-->
						</ul>
					</div>
<!--
EOT;
}print <<<EOT
-->
				</div>
				<h2 class="tagHd f14 s5 mb10">已添加的標籤：</h2>
					<ul class="cc tagList" id="createtags">
<!--
EOT;
if ($memberTags) {
	foreach ($memberTags as $tag) { 
	$urlencodeTagName = urlencode($tag[tagname]);
print <<<EOT
-->
						<li id="tag_{$tag[tagid]}"><a href="javascript:;"><span onClick="javascript:window.location='u.php?a=friend&type=find&type=find&according=tags&step=2&f_keyword=$urlencodeTagName';return false;">$tag[tagname]</span><del onclick="pwConfirm('是否刪除該標籤？',this,function(){delTag('{$tag[tagid]}')});" title="{$tag[tagname]}">×</del></a></li>
<!--
EOT;
	}
} else { print <<<EOT
-->
						<span class="p10 f14" id="dis_notages">您還沒有添加標籤</span>
<!--
EOT;
}
print <<<EOT
-->
					</ul>
				<h2 class="tagHd mb10">什麼是標籤：</h2>
					<ul class="tagIntr gray">
						<li>·標籤是自定義描述自己職業、興趣愛好的關鍵詞，讓更多人找到你，讓你找到更多同類。</li>
						<li>·已經添加的標籤將顯示在「我的個人空間」頁面左側欄以及帖子閱讀頁中，方便大家瞭解你。</li>
						<li>·在此查看你自己添加的所有標籤，還可以方便地管理，最多可添加10個標籤。</li>
						<li>·點擊你已添加的標籤，可以搜索到有同樣興趣的人。</li>
					</ul>
			</div>
		</div></td></tr></table>
	</div>
</div>
<script type="text/javascript" src="js/tags.js"></script>
<!--
EOT;
require_once(uTemplate::printEot('footer'));
?>-->