<!--<?php
require_once uTemplate::PrintEot('header');
require_once uTemplate::PrintEot('profile_left');
print <<<EOT
-->
<div class="contUser">
        	<div class="p15">
            	<h4 class="site"><span>帳號</span></h4>
<!--
EOT;
require_once uTemplate::PrintEot('info_nav');
print <<<EOT
-->
				<table width="100%" height="450">
				<tr><td class="vt"><div class="p15">
					<form id="creator" name="creator" action="profile.php?action=modify" method="post" onsubmit="return setFaceLen()">
					<input type="hidden" name="verify" value="$verifyhash" />
					<input type="hidden" value="2" name="step" />
					<input type="hidden" id="info_type" name="info_type" value="base" />
    <table width="100%" class="setTable">
		$customFieldsString
        <tr>
            <th class="th">
                個人主頁
            </th>
            <td class="td">
                <input class="input input_wb mr10" type="text" maxlength="75" name="prohomepage" value="$userdb[site]" />
                <span>
                    建議加 http://開頭
                </span>
            </td>
        </tr>
<!--
EOT;
if($_G[allowhonor]){print <<<EOT
-->
        <tr>
            <th class="th">
                個性簽名
            </th>
            <td class="td">
                <input class="input input_wb mr10" type="text" name="prohonor" value="$userdb[honor]" />（將在帖子頁面用戶信息處顯示）
            </td>
        </tr>
<!--
EOT;
}print <<<EOT
-->
        <tr>
            <th class="th">
                自我簡介
            </th>
            <td class="td">
                <textarea name="prointroduce" id="prointroduce" class="textareaA mb5">$userdb[introduce]</textarea>
                <p id="prointroduce_warn">
                    限500字節
                </p>
            </td>
        </tr>
        <tr>
            <th class="th">
                帖子簽名
            </th>
            <td class="td">
                <textarea name="prosign" id="prosign" class="textareaA mb5">$userdb[signature]</textarea>
                <p>
                    （將在每個帖子下方顯示，<span id="prosign_warn">限{$_G[signnum]}字節</span>）
                </p>
            </td>
        </tr>
<!--
EOT;
if($db_signmoney && false!==strpos($db_signgroup,",$groupid,")){print <<<EOT
-->
        <tr>
            <th class="th">
                簽名展示功能
            </th>
            <td class="td">
                <p class="mb5">
                    <label for="showsign1" class="mr20">
                        <input type="radio" id="showsign1" name="showsign" value="1" $prosign_Y/> 
                        開啟
                    </label>
                    <label for="showsign0">
                        <input type="radio" id="showsign0" name="showsign" value="0" $prosign_N/> 
                        關閉
                    </label>
                </p>
                <p>
                    （簽名顯示一天需要相應{$credit->cType[$db_signcurtype]}<b>$db_signmoney</b>{$credit->cUnit[$db_signcurtype]}）
                </p>
            </td>
        </tr>
<!--
EOT;
}print <<<EOT
-->
        <tr>
            <th class="th">
                時區選擇
<!--選擇您所在的時區<br />將時間顯示為您當地時間-->
            </th>
            <td class="td">
                <select name="timedf" class="select_wa">
                    <option value="0">使用默認</option>
<!--
EOT;
include(R_P.'template/admin/timezone.htm');print <<<EOT
-->
                </select>
            </td>
        </tr>
        <tr>
            <th class="th">
                是否接受郵件
            </th>
            <td class="td">
                <label for="proreceivemail1" class="mr20">
                    <input type="radio" id="proreceivemail1" name="proreceivemail" value="1" $email_Y /> 
                    接收郵件
                </label>
                <label for="proreceivemail0">
                    <input type="radio" id="proreceivemail0" name="proreceivemail" value="0" $email_N /> 
                    不接收郵件
                </label>
            </td>
        </tr>
				<tr>
            <th class="th">
                &nbsp;
            </th>
            <td class="td" style="padding:10px 13px;">
        			<span class="btn"><span>
                <button type="submit">
                    保存資料
                </button>
            	</span></span>
            </td>
        </tr>
    </table>
    <div class="tac" style=" padding:1em">

    </div>
    <script>
        var charset = '$db_charset';
        var signnum = '$_G[signnum]' * 1;
        initCheckTextNum('prointroduce', 'prointroduce_warn', 500);
        if (signnum) {
            initCheckTextNum('prosign', 'prosign_warn', signnum);
        }
        else {
            getObj('prosign_warn').innerHTML = '不限字數';
        }
    </script>
<div id="info_base">
</div>
<div id="userbinding-node" style="display:none"></div>
</form></div>
</td></tr></table>
            </div>
</div>
<script type="text/javascript" src = "js/info.js"></script>
<!--
EOT;
require_once uTemplate::printEot('footer');
?>-->
