<!--<?php
$$info_type = 'class="current"';
print <<<EOT
--> 
<div class="navC">
                    <ul id="infolist">
                    	<li id="face" $face><a href="profile.php?action=modify&info_type=face" hidefocus="true">修改頭像</a></li>
						<li id="base" $base><a href="profile.php?action=modify&info_type=base" hidefocus="true">基本資料</a></li>
						<li id="link" $link><a href="profile.php?action=modify&info_type=link" hidefocus="true">聯繫方式</a></li>
						<li id="tags" $tags><a href="profile.php?action=modify&info_type=tags" hidefocus="true">個人標籤</a></li>
<!--
EOT;
if ($showEducationTab || (!$showEducationTab && $info_type == 'education')) {
print <<<EOT
-->
						<li id="education" $education><a href="profile.php?action=modify&info_type=education" hidefocus="true">工作教育</a></li>
<!--
EOT;
}
print <<<EOT
-->
<!--
EOT;
if ($showOtherTab || (!$showOtherTab && $info_type == 'other')) {
print <<<EOT
-->
						<li id="other" $other><a href="profile.php?action=modify&info_type=other" hidefocus="true">其他資料</a></li>
<!--
EOT;
}
print <<<EOT
-->
						<li id="safe" $safe><a href="profile.php?action=modify&info_type=safe" hidefocus="true">密碼安全</a></li>
<!--
EOT;
if ($_G['userbinding'] || $ubinding) {print <<<EOT
-->
						<li id="binding" $binding><a href="profile.php?action=modify&info_type=binding" hidefocus="true">多帳號綁定</a></li>
<!--
EOT;
}print <<<EOT
-->
                    </ul>
                </div>
<!--
EOT;
?>-->