<!--<?php
require_once uTemplate::PrintEot('header');
require_once uTemplate::PrintEot('profile_left');
print <<<EOT
-->
<div class="contUser">
        	<div class="p15">
            	<h4 class="site"><span>帳號</span></h4>
<!--
EOT;
require_once uTemplate::PrintEot('info_nav');
print <<<EOT
-->
				<table width="100%" height="450">
				<tr><td class="vt"><div class="p15">
					<form id="creator" name="creator" action="profile.php?action=modify" method="post" onsubmit="return setFaceLen()">
					<input type="hidden" name="verify" value="$verifyhash" />
					<input type="hidden" value="2" name="step" />
					<input type="hidden" id="info_type" name="info_type" value="other" />
<!--
EOT;
if ($customFieldsString) {
print <<<EOT
-->
					<div id="info_other">
						<table width="100%" class="setTable">
$customFieldsString
							<tr>
									<th class="th">
											&nbsp;
									</th>
									<td class="td" style="padding:10px 13px;">
										<span class="btn"><span><button type="submit">保存資料</button></span></span>
									</td>
							</tr>
						</table>
					</div>
<!--
EOT;
}print <<<EOT
-->
<div id="userbinding-node" style="display:none"></div>
</form>
</td></tr></table>
            </div>
        </div>
<div class="u-m-bg"></div>
<script type="text/javascript" src = "js/info.js"></script>
<!--
EOT;
require_once uTemplate::printEot('footer');
?>-->