<!--<?php
require_once uTemplate::PrintEot('header');
require_once uTemplate::PrintEot('profile_left');
print <<<EOT
-->
<div class="contUser">
        	<div class="p15">
            	<h4 class="site"><span>帳號</span></h4>
<!--
EOT;
require_once uTemplate::PrintEot('info_nav');
print <<<EOT
-->
				<table width="100%" height="450">
				<tr><td class="vt"><div class="p15">
					<form id="creator" name="creator" action="profile.php?action=modify&" method="post" onsubmit="return setFaceLen()">
					<input type="hidden" name="verify" value="$verifyhash" />
					<input type="hidden" value="2" name="step" />
					<input type="hidden" id="info_type" name="info_type" value="face" />
<div id="info_face">
						<table width="100%" class="setTable vt">
							<tr>
								<td width="180">
									<div class="img" style="width:120px;height:120px;"><img name="useravatars" src="$iconurl?$timestamp" width="120" height="120" $iconsize/></div>
								</td>
								<td>
									<div id="openchang">
										<div class="cc mb10 pr">
                    <label class="mr20" for="facetype1"><input type="radio" id="facetype1" checked="checked" name="facetype" value="1" onclick="CkFaceType(this.value)">系統頭像</label>
<!--
EOT;
if($_G[allowportait]){print <<<EOT
-->
										<label class="mr20" for="facetype2"><input type="radio" id="facetype2" name="facetype" value="2" onclick="CkFaceType(this.value)">頭像鏈接</label>
<!--
EOT;
}if($db_ifupload && $_G[upload]){print <<<EOT
-->
										<label class="mr20" for="facetype3"><input type="radio" id="facetype3" name="facetype" value="3" onclick="CkFaceType(this.value)">頭像上傳</label>
<!--
EOT;
}print <<<EOT
-->
										</div>
										<div id="face1" style="display:none;">
											<div id="iconbox">
												<div class="mb10">
<!--
EOT;
if ($pre_page < $page) {print <<<EOT
-->
                                                	<a onclick="showSystemIcon(0);" href="javascript:;" class="mr20">上一頁</a>
<!--
EOT;
}
if ($next_page > $page) {print <<<EOT
-->
													<a onclick="showSystemIcon(2);" href="javascript:;">下一頁</a>
<!--
EOT;
}print <<<EOT
-->
												</div>
												<div class="profileFace">
                                                	<ul class="cc">
<!--
EOT;
foreach ($imgname_array as $key => $value) {print <<<EOT
-->
														<li onclick="showimage('$imgpath','$value')"><img src='$imgpath/face/$value' width="50" height="50" class="img"></li>
<!--
EOT;
}print <<<EOT
-->
													</ul>
												</div>
											</div>
											<input type="hidden" name="proicon" value="$iconfile" />
										</div>
										<div id="face2" style="display:none;">
											<p class="mb10"><span class="mr20">頭像鏈接</span><input name="httpurl[0]" id="httpurl_url" value="$httpurl" class="input input_wb mr10" type="text" /> 必須以 http://開頭</p>
										<input type="hidden" id="httpurl_w" name="httpurl[3]" />
										<input type="hidden" id="httpurl_h" name="httpurl[4]" />
										</div>
										<div id="face3" style="display:none;">
											<div style="overflow:hidden"><div style="margin-left:-20px;">
<!--
EOT;
if($db_bbsifopen != 1){print <<<EOT
-->
<div class="blockquote3" style="margin-left:20px;">
抱歉，站點正處於內部開放狀態，只有在完全開放狀態下，才能使用頭像上傳功能。<br />
<span class="gray">（站點狀態的後台設置路徑：全局 &#187; 站點設置）</span>
</div>
<!--
EOT;
}else{print <<<EOT
-->
											<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase=" http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="500" height="405" id="FlashVars" align="middle">
												<param name="movie" value="js/face.swf" />
												<param name="wmode" value="transparent"/>
												<param name="FlashVars" value="$icon_encode_url" />
												<!--[if !IE]>-->
                      <object type="application/x-shockwave-flash" data="js/face.swf" width="500" height="405" FlashVars="$icon_encode_url" wmode="transparent"  allowScriptAccess="always">
                      <!--<![endif]-->
                        <p><span style="display:none;"><embed src="images/blank.swf" type="application/x-shockwave-flash" wmode="transparent"/></span><em class="s2" style="position:relative;top:3px;">該瀏覽器尚未安裝flash插件，<a href="http://www.adobe.com/go/getflashplayer" target="_blank">點擊安裝</a></em></p>
                      <!--[if !IE]>-->
                      </object>
                      <!--<![endif]-->
											</object>
<!--
EOT;
}print <<<EOT
--></div></div></div>
									</div>
								</td>
							</tr>
						</table>
						<div class="tac" style=" padding:1em" id="face_button">
							<span class="btn"><span><button type="submit">保存資料</button></span></span>
						</div>
					</div>
</form>
</div>
<div id="userbinding-node" style="display:none">
</div>
<div id="userbinding-node" style="display:none">
</div></td></tr></table>
            </div>
        </div>
<script type="text/javascript" src = "js/info.js"></script>
<script>
var display = '$display';
</script>
        <script type="text/javascript">
            function CkFaceType(value){
                var facetype = document.getElementsByName('facetype');
                for (i = 0; i < facetype.length; i++) {
                    if (facetype[i].value == value) {
                        facetype[i].checked = true;
                        if (value == '3') {
                            getObj('face_button').style.display = 'none';
                        }
                        getObj('face' + value).style.display = '';
                    }
                    else {
                        getObj('face_button').style.display = '';
                        getObj('face' + facetype[i].value).style.display = 'none';
                    }
                }
            }
            
            CkFaceType('$icontype');
            function showimage(imgpath, value){
                var path = imgpath + '/face/';
                facepath(path, value, false);
            }
            
            function facepath(iconurl, iconfile, showmsg, iconwidth, iconheight){
                document.images.useravatars.src = iconurl + iconfile + '?' + new Date().getTime();
                if (iconwidth > 0) 
                    document.images.useravatars.width = iconwidth;
                if (iconheight > 0) 
                    document.images.useravatars.height = iconheight;
                document.creator.proicon.value = iconfile;
                return false;
            }
            var facetype = '$facetype';
            if (facetype) {
            	CkFaceType('$facetype');
            }
        </script>
		
<!--
EOT;
require_once uTemplate::printEot('footer');
?>-->
