<!--<?php
print <<<EOT
-->
	<div class="menubar">
		<div class="navB">
			<ul class="one">
				<li class="current"><a href="profile.php?action=modify">帳號</a></li>
				<li><a href="#">隱私</a></li>
				<li><a href="#">積分</a></li>
				<li><a href="#">權限操作記錄</a></li>
			</ul>
			<ul class="two">
				<li><a href="#">提醒</a></li>
				<li><a href="profile.php?action=toolcenter">道具</a></li>
				<li><a href="jobcenter.php">任務</a></li>
			</ul>
		</div>
	</div>
<!--
EOT;
?>-->