<!--<?php
if (!$isNotResetPassword) {
print <<<EOT
-->
		<form action="profile.php?action=$action&t=unbind&type=$type" onsubmit="return false;" method="post">
			<div class="popTop">解除綁定</div>
			<div class="p15">你確定要解除綁定麼？解除綁定後，你依然可以用{$windid}登錄本站</div>
			<div class="popBottom">
				<span class="btn2"><span><button type="submit" onclick="ajax.submit(this.form)">解除綁定</button></span></span>
				<span class="bt2"><span><button type="button" onclick="closep();">取消操作</button></span></span>
			</div>
		</form>
<!--
EOT;
} else {
print <<<EOT
-->
		<form action="profile.php?action=$action&t=resetandunbind&type=$type" onSubmit="return false;" method="post">
		<input type="hidden" name="verify" value="$verifyhash" />
		<div style="width:400px;">
			<div class="popTop">解除綁定前請先創建密碼</div>
			<table cellpadding="0" cellspacing="0" width="100%" class="vt lh_24">
				<tr><td colspan="2">你的社區帳號還是隨機密碼，重新創建密碼後，即可使用社區帳號登錄</td></tr>
				<tr>
					<td width="60">社區帳號</td>
					<td>{$windid}</td>
				</tr>
				<tr>
					<td>新密碼</td>
					<td><input class="input" type="password" size="25" name="resetpwd" value="" /></td>
				</tr>
				<tr>
					<td>確認新密碼 </td>
					<td><input class="input" type="password" size="25" name="resetpwd_repeat" value="" /></td>
				</tr>
			</table>
			
			<div class="popBottom">
				<span class="btn2"><span><button type="submit" onclick="ajax.submit(this.form)">創建密碼並解綁</button></span></span>
				<span class="bt2"><span><button type="button" onclick="closep();">取消操作</button></span></span>
			</div>

		</div>
		</form>
<!--
EOT;
}
?>-->