<!--<?php
include_once uTemplate::PrintEot('header');
include_once uTemplate::PrintEot('space_appleft');
print <<<EOT
-->
<script>
var db_urlcheck = "$db_urlcheck";
var db_bbsurl = '$db_bbsurl';
</script>
<script type="text/javascript" src="js/pw_lwd.js"></script>
<link rel="stylesheet" href="u/images/usercenter.css?{$GLOBALS['wind_repair']}" />
        <div class="sideD">
            <div class="boxA">
                <h2>
                	<span class="mr20"><span class="mr10">留言板</span><!--({$count}條)--></span>
                </h2>
                <div class="p10 cc">
<!--
EOT;
if ($ismyfriend) { print <<<EOT
-->
                    <form method="post" name="FORM" action="apps.php?q=ajax&a=commreply" onsubmit="return false;">
                        <div class="minieitor_pw cc">
                            <ul class="miniUl">
                            <li><a href="javascript:" title="插入url鏈接" class="milink_pw" onClick="createLinkBox();" id="createlinkid">插入url鏈接</a></li>
                            <li><a href="javascript:" title="添加表情" class="mishow_pw" id="td_face" onClick="showDefault();resetPos(this);" unselectable="on">添加表情</a></li>
                            </ul>
                            <div class="minitextarea">
                            <textarea maxlength="200" id="board" name="atc_content"></textarea>
                            <input type="hidden" id="board_uid" value="$uid" />
                            <div class="c"></div>
                            </div>
                        	<div class="c"></div>
                        </div>
                    	<span class="btn" style="margin:0;"><span><button type="submit" onclick="postBoard();">留言</button></span></span>
                    	<div id="linkbox" style="display:none;"></div>
                    </form>
<!--
EOT;
}print <<<EOT
-->	
                	<div class="mb10 c">&nbsp;</div>
                    <div class="dlA">
<!--
EOT;
if (!empty($boards)){print <<<EOT
-->
                    	<div id="createboardbox"></div> 
<!--
EOT;
foreach ($boards as $value) { print <<<EOT
-->
                        <dl class="cc dl" id="board_{$value[id]}">
                        	<dt class="dt"><a href="{$db_userurl}$value[uid]" class="img_50"><i><img src="$value[face]" /></i></a></dt>
                            <dd class="dd">
<!--
EOT;
if ($value[uid]==$winduid || $winduid==$uid || $groupid==3) { print <<<EOT
-->                 
								<a href="javascript:;" onclick="pwConfirm('是否確定刪除本條留言',this,function(){delBoard('$value[id]')})" title="刪除" class="adel">刪除</a>
<!--
EOT;
} print <<<EOT
-->
                            
                            	<p class="title"><a href="{$db_userurl}$value[uid]" class="atitle">{$value[username]}：</a>{$value[title]}</p>
                            
                            	<cite class="gray">{$value[postdate]}</cite><span> - </span>
<!--
EOT;
if ($value[uid]==$winduid || $winduid==$uid || $groupid==3) { print <<<EOT
-->
                            	<a href="javascript:;" onclick="PW_Comment.createCommentInput('board',$value[id],0)" class="reA">回復</a>
<!--
EOT;
} print <<<EOT
-->                              
                                <div id="commentbox_$value[id]_0">
                                    <div id="subcommentlist_board_{$value[id]}">
<!--
EOT;
if ($commentdb[$value['id']]) {
foreach ($commentdb[$value['id']] as $key => $comment) {print <<<EOT
-->
                                        <dl class="cc dl2" id="comment_{$comment[id]}">
                                        	<dt><a href="{$db_userurl}$comment[uid]"><img src="$comment[face]" width="30" height="30" /></a></dt>
                                            <dd>
<!--
EOT;
if ($comment['uid'] == $winduid || $groupid == 3) {print <<<EOT
-->
                                            	<a href="javascript:;" class="adel" onclick="pwConfirm('是否確定刪除本條評論',this,function(){ajax.send('apps.php?q=ajax&a=commdel','id=$comment[id]',PW_Comment.delOneCommentResponse);});" >刪除</a>
<!--
EOT;
}print <<<EOT
-->
                                            	<p class="mb5 f14"><a href="{$db_userurl}$comment[uid]">$comment[username]</a>：$comment[title]</p>
                                            	<cite class="gray">$comment[postdate]</cite>
                                            </dd>
                                        </dl>
<!--
EOT;
}}print <<<EOT
-->
                                    </div>
                                    <div id="comment_input_board_{$value[id]}_0" style="display:none;">
										<dl class="cc dl2"><dd style="padding-left:0;"><input type="text" id="comm_input_board_{$value[id]}_0" class="input input_wb" name="title" maxlength="200" /><span class="btn2"><span><button  type="button" onclick="PW_Comment.sendComment('board','$value[id]','0','4');">回復</button></span></span></dd></dl>
									</div>
                                </div>
                            </dd>
                        </dl>
<!--
EOT;
}print <<<EOT
-->
                    
                    	<div class="mt10">$pages</div>
<!--
EOT;
}else{print <<<EOT
-->
                    	<div class="p15 tac f14">暫無留言</div>
<!--
EOT;
}print <<<EOT
-->                   
                    </div>
                	<div id="menu_show" style="display:none;"></div>
                <script type="text/javascript">
					function resetPos(o){
						getObj('pw_box').style.top = o.getBoundingClientRect().top+ietruebody().scrollTop-227+'px'
					}
					var charset = '$db_charset';
					var imgpath   = '$imgpath';
					var stylepath = '$stylepath';
					function addsmile(NewCode){
						getObj('board').value += ' [s:'+NewCode+'] ';
					}
                </script>
				<script type="text/javascript" src="$db_htmdir/js/face.js"></script>
                <script type="text/javascript" src="js/app_comment.js"></script>
                <script type="text/javascript" src="u/js/board.js"></script>
<!--
EOT;
if ($ismyfriend) { print <<<EOT
-->
                <script type="text/javascript" src="js/post.js"></script>
<!--
EOT;
}print <<<EOT
-->
                	<div id="menu_face" class="menu" style="display:none;"></div>
                </div>
            </div>
        </div>
<!--
EOT;
require_once uTemplate::printEot('footer');
?>-->