<!--<?php
require_once(uTemplate::printEot('header'));
print<<<EOT
-->
<style type="text/css" media="screen">
@import url(u/images/usercenter.css);
</style>
		<div class="sideA">
<!--
EOT;
$data = $newSpace->getSpaceData(array('info'=>1));
require_once(uTemplate::printEot('space_model'));
$spacetemplate->info($data['info']);
print <<<EOT
-->
		</div>
		<div class="sideD">
<!--
EOT;
if($winduid != $space['uid'] &&(!$infoRight && ($infoValue == 1 && $indexValue != 2 || $indexValue == 1 && $infoValue < 2))){print <<<EOT
-->
<div class="boxB">
	<table width="100%">
		<tr><td height="400">
			<div class="space_msg"><img src="u/images/space/report.png" align="absmiddle" />由於對方的隱私設置，容許好友可見！立即 <a href="$db_bbsurl/pw_ajax.php?action=addfriend&touid={$space['uid']}" onclick="return ajaxurl(this);">加為好友</a></div>
		</td></tr>
	</table>
</div>
<!--
EOT;
}elseif(!$infoRight && $infoValue == 2){print <<<EOT
-->
<div class="boxB">
	<table width="100%">
		<tr><td height="400">
			<div class="space_msg"><img src="u/images/space/report.png" align="absmiddle" />對方設置了隱私，您沒有權限查看</div>
		</td></tr>
	</table>
</div>
<!--
EOT;
}else{print <<<EOT
-->
			<div class="boxB">
				<div class="p15 per_infor">
					<h5 class="h5">
<!--
EOT;
if ($winduid == $space['uid']) {print <<<EOT
-->
						<a class="fr" href="profile.php?action=modify">修改資料</a>
<!--
EOT;
}print <<<EOT
-->
						<strong>基本信息</strong>
					</h5>
					<div class="p10">
					<table class="lh_24 mb15 vt" style="table-layout:fixed;" width="100%">
						<tr>
							<th>UID</th>
							<td>$space[uid]</td>
						</tr>
						<tr>
							<th>會員頭銜</th>
							<td>{$ltitle[$space['memberid']]}</td>
						</tr>
<!--
EOT;
if ($space['groupid'] != -1) {print <<<EOT
-->
						<tr>
							<th>系統頭銜</th>
							<td>{$ltitle[$space['groupid']]}</td>
						</tr>
<!--
EOT;
}print <<<EOT
-->
						<tr>
							<th>在線時間</th>
							<td>$space[onlinetime_s] 小時</td>
						</tr>
<!--
EOT;
if(S::isArray($customerValues['basic'])){
	foreach($customerValues['basic'] as $k=>$v){
		if ($k == '生日' && $v == '0000-00-00') $v = '';
		print <<<EOT
-->
						<tr>
							<th>$k</th>
							<td>$v</td>
						</tr>
<!--
EOT;
	}
}print <<<EOT
-->
						<tr>
							<th>個人主頁</th>
							<td>$space[site]</td>
						</tr>
<!--
EOT;
if ($space['generalRight']['allowhonor']) {
print <<<EOT
-->
						<tr>
							<th>個性簽名</th>
							<td>$space[honor]</td>
						</tr>
<!--
EOT;
}
print <<<EOT
-->
						<tr>
							<th>自我介紹</th>
							<td>$space[introduce]</td>
						</tr>
						<tr>
							<th>註冊時間</th>
							<td>$space[regdate]</td>
						</tr>
						<tr>
							<th>最後登錄</th>
							<td>$space[lastvisit_s]</td>
						</tr>
					</table>
					</div>
					<h5 class="h5"><strong>社區信息</strong></h5>
					<div class="p10">
					<table class="lh_24 mb15 vt" style="table-layout:fixed;" width="100%">
						<tr>
							<th>精華帖子</th>
							<td>$space[digests]</td>
						</tr>
						<tr>
							<th>帖子</th>
							<td>$space[postnum]</td>
						</tr>
						<tr>
							<th>平均日發帖</th>
							<td>$space[averagepost] (今日：$space[todaypost])</td>
						</tr>
						<tr>
							<th>帖子簽名</th>
							<td><div style="width:100%;overflow:hidden;">{$space[signature]}</div></td>
						</tr>
					</table>
					</div>
					<h5 class="h5"><strong>聯繫方式</strong></h5>
					<div class="p10">
					<table class="lh_24 mb15 vt" style="table-layout:fixed;" width="100%">
<!--
EOT;
if(S::isArray($customerValues['contact'])){
	foreach($customerValues['contact'] as $k=>$v){
		print <<<EOT
-->
						<tr>
							<th>$k</th>
							<td>$v</td>
						</tr>
<!--
EOT;
	}
}
if ($winduid == $space['uid'] || getstatus($space['userstatus'], PW_USERSTATUS_PUBLICMAIL)) {
print <<<EOT
-->
						<tr>
							<th>電子郵箱</th>
							<td>$space[email]</td>
						</tr>
<!--
EOT;
}
print <<<EOT
-->
					</table>
					</div>
<!--
EOT;
if ($customerValues['education']) {print <<<EOT
-->
					<h5 class="h5"><strong>工作教育</strong></h5>
					<div class="p10">
					<table class="lh_24 mb15 vt" style="table-layout:fixed;" width="100%">
<!--
EOT;
	foreach($customerValues['education'] as $k=>$v){
		print <<<EOT
-->
						<tr>
							<th>$k</th>
							<td>$v</td>
						</tr>
<!--
EOT;
	}
print <<<EOT
-->
					</table>
					</div>
<!--
EOT;
}
if ($customerValues['other']) {print <<<EOT
-->
					<h5 class="h5"><strong>其它資料</strong></h5>
					<div class="p10">
					<table class="lh_24 mb15 vt" style="table-layout:fixed;" width="100%">
<!--
EOT;
	foreach($customerValues['other'] as $k=>$v){
		print <<<EOT
-->
						<tr>
							<th>$k</th>
							<td>$v</td>
						</tr>
<!--
EOT;
	}
print <<<EOT
-->
					</table>
					</div>
<!--
EOT;
}
}print <<<EOT
-->
				</div>
			</div>
		</div>
<script type="text/javascript" src="js/spacedrag.js"></script>
<script type="text/javascript">
window.onload = function() {
	drag.init('boxA',['sideA','sideD'],'h2');
}
</script>
<!--
EOT;
require_once(uTemplate::printEot('footer'));
?>-->