<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<div class="mb10"><a href="$admin_file?adminjob=hackcenter">插件中心</a> &raquo; <a href="javascript:;">{$db_hackdb['new'][0]}</a></div>
<div class="admin_info mb10">
	<h3 class="h1">提示信息</h3>
    <div class="legend">
    	<ol>
        	<li>使用 phpwind首頁調用 功能前需要先在<span class="s1">new.php</span>文件中設置好相關參數，文件裡附有說明</li>
            <li>首頁調用方式分為 「論壇版塊調用」，「論壇公告調用」，「論壇基本信息調用」，「論壇會員排行調用」，「論壇文章調用」 </li>
            <li>每種調用方式都提供了一系列的參數設置，用戶可根據需要自定義設置</li>
        </ol>
   </div>
  </div>
<form action="$basename&" method="post" name="form">
  <input type="hidden" name="action" value="demo">
  <h2 class="h1">首頁調用工具</h2>
  <div class="admin_table mb10">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tr1 vt">
      <td class="td2">演示代碼:
        <input id="code" type="text" class="input input_wb mb5 mr5" name="code" value="$code1" onmouseover="form.code.select();">
        <span class="btn2 mr5"><span><button type="submit" value="查看效果">查看效果</button></span></span>
        <span class="bt2"><span><button type="button" value="複製代碼" onclick="CopyCode(document.getElementById('code'));">複製代碼</button></span></span>
        <p class="gray">以下為調用效果:</p>
        <hr size=1>
        $code2 </td>
    </tr>
  </table>
  </div>
</form>
<h2 class="h1">版塊調用演示</h2>
<div class="admin_table mb10">
<table width="100%" cellspacing="0" cellpadding="0">
  <tr class="tr1 vt">
    <td class="td2">
      可選參數和參數說明:<br />
      \$pre : 前綴,可選參數 : 0.&lt;li&gt;，1.◇，2.·，3.○，4.●，5.-，6.□-<br />
      \$fidin : 版塊ID，設置需要調用的版塊ID，格式:1_2_3
      </td>
  </tr>
  <tr class="tr1 vt">
    <td class="td2">演示代碼:
      <input type="text" class="input input_wb mb5 mr5" id="code2" value="&lt;script src=&quot;$db_bbsurl/new.php?action=forum&fidin=2&pre=1&quot;&gt;&lt;/script&gt;">
      <span class="bt2"><span><button type="button" value="複製代碼" onclick="CopyCode(document.getElementById('code2'));">複製代碼</button></span></span>
      <p color="gray">以下為調用效果:</p>
      <hr size=1>
      <script src="$db_bbsurl/new.php?action=forum&fidin=2&pre=1"></script>
    </td>
  </tr>
</table>
</div>
<h2 class="h1">公告調用演示</h2>
<div class="admin_table mb10">
<table width="100%" cellspacing="0" cellpadding="0">
  <tr class="tr1 vt">
    <td class="td2">
      可選參數和參數說明:<br />
      \$pre : 前綴,可選參數 : 0.&lt;li&gt;，1.◇，2.·，3.○，4.●，5.-，6.□-<br />
      \$num : 調用公告個數<br />
      \$length : 公告標題長度<br />
      \$date : 顯示公告發表日期，可選參數:0，1
      </td>
  </tr>
  <tr class="tr1 vt">
    <td class="td2">演示代碼:
      <input type="text" class="input input_wb mb5 mr5" id="code3" value="&lt;script src=&quot;$db_bbsurl/new.php?action=notice&num=5&date=1&length=30&quot;&gt;&lt;/script&gt;">
      <span class="bt2"><span><button type="button" value="複製代碼" onclick="CopyCode(document.getElementById('code3'));">複製代碼</button></span></span>
      <p color="gray">以下為調用效果:</p>
      <hr size=1>
      <script src="$db_bbsurl/new.php?action=notice&num=5&date=1&length=30"></script>
    </td>
  </tr>
</table>
</div>
<h2 class="h1">論壇信息調用演示</h2>
<div class="admin_table mb10">
<table width="100%" cellspacing="0" cellpadding="0">
  <tr class="tr1 vt">
    <td class="td2">
      可選參數和參數說明:<br />
      \$pre : 前綴,可選參數 : 0.&lt;li&gt;，1.◇，2.·，3.○，4.●，5.-，6.□-<br />
      \$member : 顯示論壇會員總數和最新註冊會員，可選參數:0，1<br />
      \$article : 顯示主題數和帖子數，可選參數:0，1<br />
      \$yesterday : 顯示今日、昨日、最高日發帖，可選參數：0，1<br />
      \$online : 顯示在線信息，可選參數:0，1
      </td>
  </tr>
  <tr class="tr1 vt">
    <td class="td2">演示代碼:
      <input type="text" class="input input_wb mb5 mr5" id="code4" value="&lt;script src=&quot;$db_bbsurl/new.php?action=info&pre=6&member=1&article=1&yesterday=1&online=1&quot;&gt;&lt;/script&gt;">
      <span class="bt2"><span><button type="button" value="複製代碼" onclick="CopyCode(document.getElementById('code4'));">複製代碼</button></span></span>
      <p color="gray">以下為調用效果:</p>
      <hr size=1>
      <script src="$db_bbsurl/new.php?action=info&pre=6&member=1&article=1&yesterday=1&online=1"></script>
    </td>
  </tr>
</table>
</div>
<h2 class="h1">會員排行調用演示</h2>
<div class="admin_table mb10">
<table width="100%" cellspacing="0" cellpadding="0">
  <tr class="tr1 vt">
    <td class="td2">
      可選參數和參數說明:<br />
      \$pre : 前綴,可選參數 : 0.&lt;li&gt;，1.◇，2.·，3.○，4.●，5.-，6.□-<br />
      \$num : 調用會員個數<br />
      \$order : 排序方式，可選參數: 1.註冊日期 2.發帖數 3.精華數 4.{$db_rvrcname} 5.{$db_moneyname} 6.{$db_creditname}
      </td>
  </tr>
  <tr class="tr1 vt">
    <td class="td2">演示代碼:
      <input type="text" class="input input_wb mb5 mr5" id="code5" value="&lt;script src=&quot;$db_bbsurl/new.php?action=member&num=10&order=2&quot;&gt;&lt;/script&gt;">
      <span class="bt2"><span><button type="button" value="複製代碼" onclick="CopyCode(document.getElementById('code5'));">複製代碼</button></span></span>
      <p color="gray">以下為調用效果:</p>
      <hr size=1>
      <script src="$db_bbsurl/new.php?action=member&num=10&order=2"></script>
    </td>
  </tr>
</table>
</div>
<h2 class="h1">論壇文章調用演示</h2>
<div class="admin_table mb10">
<table width="100%" cellspacing="0" cellpadding="0">
  <tr class="tr1 vt">
    <td class="td2">
      可選參數和參數說明：<br />
      \$pre : 前綴,可選參數: 0.&lt;li&gt;，1.◇，2.·，3.○，4.●，5.-，6.□-<br />
      \$num : 調用主題個數<br />
      \$length : 文章標題長度<br />
      \$order : 排序方式，可選參數: 1.最後發表日期 2.主題發表日期 3.回複數 4.查看數<br />
      \$fidin : 調用文章的版塊ID，格式:1_2_3<br />
      \$fidout : 不調用的版塊ID，格式:1_2_3<br />
      \$digest : 調用精華帖，可選參數:0，1<br />
      \$postdate : 顯示文章發表日期，可選參數:0，1<br />
      \$author : 顯示文章作者，可選參數:0，1<br />
      \$replies : 顯示回複數，可選參數:0，1<br />
      \$hits : 顯示查看數，可選參數:0，1<br />
      \$fname : 顯示版塊名稱，可選參數:0，1<br />
      </td>
  </tr>
  <tr class="tr1 vt">
    <td class="td2">演示代碼:
      <input type="text" class="input input_wb mb5 mr5" id="code1" value="&lt;script src=&quot;$db_bbsurl/new.php?action=article&fidin=2&digest=0&postdate=0&author=1&fname=0&hits=0&replies=1&pre=1&num=10&length=35&order=1&quot;&gt;&lt;/script&gt;">
      <span class="bt2"><span><button type="button" value="複製代碼" onclick="CopyCode(document.getElementById('code1'));">複製代碼</button></span></span>
      <p color="gray">以下為調用效果:</p>
      <hr size=1>
      <script src="$db_bbsurl/new.php?action=article&fidin=2&digest=0&postdate=0&author=1&fname=0&hits=0&replies=1&pre=1&num=10&length=35&order=1"></script>
    </td>
  </tr>
</table>
</div>
<script type="text/javascript" src="js/core/core.js"></script>
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->
