<!--<?php
include_once uTemplate::PrintEot('header');
include_once uTemplate::PrintEot('space_appleft');
$privacy = array('全站可見','僅好友可見','僅自己可見');
print <<<EOT
-->
<div class="sideD">
	<div class="boxA">
		<h2>
			<span class="mr10">群組</span>
		</h2>
		<div class="p10 cc">
			<div class="dlC">
<!--
EOT;
if (!empty($group)) {
foreach ($group as $key => $value) {print <<<EOT
-->
				<dl class="cc dl mb10">
					<dt class="dt">
						<a class="img_50" href="apps.php?q=group&cyid=$value[id]"><i><img width="48" height="48" src="$value[cnimg]" /></i></a>
					</dt>
					<dd class="dd">
						<p class="titleB">
							<a class="mr10 f14" href="apps.php?q=group&cyid=$value[id]">{$value[cname]}</a>
						</p>
						<p>
						<span class="mr15">分類：{$o_styledb[$value['styleid']]['cname']}</span>
						<span class="mr15">成員：{$value[members]}</span>
						<span class="mr20">積分：{$value[colonyNums]}</span>
						<span>創建：{$value[createtime]}</span>
						</p>
					</dd>
				</dl>
<!--
EOT;
}}print <<<EOT
-->
				$pages
			</div>
		</div>
	</div>
</div>
<!--
EOT;
require_once uTemplate::printEot('footer');
?>-->