<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<div class="nav3 mb10">
    <ul class="cc">
<!--
EOT;
foreach($db_modes as $key => $value){
if($value['ifopen'] && !in_array($key,$unSeoset)){
$current_menu = $key == $mode ? 'class="current"' : '';
print <<<EOT
-->
        <li $current_menu><a href="$basename&mode=$key">$value[m_name]</a></li>
<!--
EOT;
}}print <<<EOT
-->
		<li><a href="$basename&mode=sitemap">網站地圖</a></li>
    </ul>
</div>
<div class="admin_info mb10">
	<h3 class="h1">{$db_modes[$mode][m_name]}SEO優化設置</h3>
    <div class="legend">
        <ol>
            <li>網頁SEO優化設置規則：</li>
            <li>網站名稱:{wzmc}</li>
            <li>頻道名稱:{pdmc}</li>
            <li>以上標籤（必須包含大括號"{}"）可以通過添加在下面來優化頁面SEO設置，多個標籤之間可以用半角連字符"-"、半角","或半角空格隔開。留空為默認SEO設置，如果標籤不再應用範圍內則不顯示此標籤</li>
        </ol>
    </div>
</div>
<form action="$basename" method="post" >
<input type="hidden" name="action" value="update" />
<input type="hidden" name="mode" value="$mode" />
<h2 class="h1">{$db_modes[$mode][m_name]}頻道SEO</h2>
<div class="admin_table mb10">
<table width="100%" cellspacing="0" cellpadding="0">
<!--
EOT;
if (empty($clist)) {print <<<EOT
-->
<tr><td class="p10" colspan="9"><div class="admin_tips">啊哦，沒有你要的信息！</div></td></tr>
<!--
EOT;
}else{
foreach($clist as $key => $cate){print <<<EOT
-->
	<tbody>
        <tr class="tr2">
        	<td>$cate[name]</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="tr1 vt">
            <td class="td1">Title</td>
            <td class="td2"><input type="text" class="input input_wb" name="channellist[$key][metatitle]" value="$cate[metatitle]" maxlength="250" /></td>
        </tr>
        <tr class="tr1 vt">
            <td class="td1">Meta Description</td>
            <td class="td2"><input type="text" class="input input_wb" name="channellist[$key][metadescrip]" value="$cate[metadescrip]" maxlength="250" /></td>
        </tr>
        <tr class="tr1 vt">
            <td class="td1">Meta Keywords</td>
            <td class="td2"><input type="text" class="input input_wb" name="channellist[$key][metakeywords]" value="$cate[metakeywords]" maxlength="250" /></td>
        </tr>
	</tbody>
<!--
EOT;
}}print <<<EOT
-->
	</table>
</div>
<div class="tac mb10">
	<span class="btn"><span><button type="submit">提 交</button></span></span>
</div>
</form>
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->