<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<!--
EOT;
if(empty($action)) {print <<<EOT
-->
<div class="admin_info mb10">
    <h3 class="h1"><b>提示信息</b></h3>
    <div class="legend">
    	設置頻道靜態頁面和其他功能頁面的靜態更新時間，時間越短則更新越頻繁，但可能會影響效率<br />
    	當前台模塊緩存更新時間大於後台靜態頁更新時間，靜態更新不生效
     </div>
</div>
<form action="$basename" method="post" >
<input type="hidden" name="step" value="2">
<h2 class="h1"><span class="mr5 fl">頁面靜態配置</span></h2>
<div class="admin_table mb10">
	<table width="100%">
    	<tr class="tr2">
        	<td>頻道靜態更新時間[分]</td>
        	<td><input type="text" class="input input_wa mr10" name="statictime" value="$area_statictime">設置頻道靜態頁面的更新時間，0或留空表示不更新</td>
        </tr>
        <tr class="tr2">
        	<td>其他頁面更新時間[分]</td>
        	<td><input type="text" class="input input_wa mr10" name="portalstatictime" value="$db_portalstatictime">設置其他功能頁面模塊的靜態更新時間，比如帖子閱讀頁廣播台、論壇首頁四格等，0或留空表示不更新</td>
        </tr>
	</table>
</div>
<input type="hidden" name="step" value="2">
<div class="tac p10">
	<span class="btn"><span><button type="submit" onfocus="blur();">提交</button></span></span>
</div>
</form>
<!--
EOT;
}print <<<EOT
-->
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->