<!--<?php
print <<<EOT
-->
<div class="p10">
	<p>專題文件夾中已經存在使用該文件名的專題</p>
	<p>請選擇替換舊的專題文件，或取消操作重新命名</p>
</div>
<div class="tac p10">
		<span class="btn2"><span><button id="opCoverYes" type="button" onclick="createStopic(true);closep();">覆 蓋</button></span></span>
		<span class="bt2"><span><button id="opCoverAbort" type="button" onclick="closep();">取 消</button></span></span>
</div>
<!--
EOT;
?>
-->