<!--<?php
include_once uTemplate::PrintEot('header');
include_once uTemplate::PrintEot('space_appleft');
print <<<EOT
-->
<script type="text/javascript">
var space_uid = '$uid';
var transmitAction = 'my';

function resizeImg(ele){
	var a=ele;
	if(a.width<30||a.height<30){
		setTimeout(function(){
			resizeImg(a);
		},10)
		return false;
	}
	if(a.width>100){
		
			a.width = 100;
			
		} else if(a.height>100){
			a.height=100;
		}
}
</script>
<script type="text/javascript" src="js/pw_weibo.js"></script>
<script type="text/javascript" src="apps/weibo/js/post.js"></script>
<div class="sideD">
<!--
EOT;
if(!$indexRight && $indexValue =='1'){print <<<EOT
-->
<div class="boxA">
	<table width="100%">
		<tr><td height="400">
			<div class="space_msg"><img src="u/images/space/report.png" align="absmiddle" />由於對方的隱私設置，容許好友可見！立即 <a href="$db_bbsurl/pw_ajax.php?action=addfriend&touid={$space['uid']}" onclick="return ajaxurl(this);">加為好友</a></div>
		</td></tr>
	</table>
</div>
<!--
EOT;
}elseif(!$indexRight && $indexValue =='2'){print <<<EOT
-->
<div class="boxA">
	<table width="100%">
		<tr><td height="400">
			<div class="space_msg"><img src="u/images/space/report.png" align="absmiddle" />對方設置了隱私，您沒有權限查看</div>
		</td></tr>
	</table>
</div>
<!--
EOT;
}else{print <<<EOT
-->
	<div class="boxA">
		<h2><span>新鮮事</span></h2>
		<div class="cc">
<!--
EOT;
if ($weiboList) {
	include_once PrintEot("writesmile");
	require_once uTemplate::printEot('weibo_model');
	$weiboModelTemplate->photoPop();
	$do=='detail' && $weiboModelTemplate->showPhotoOnload(true);
print <<<EOT
-->
			<div class="conFeed" id="weiboFeed">
<!--
EOT;
	foreach ($weiboList as $key => $value) {
		$method = $weiboService->getViewType($value['type']);
		$weiboModelTemplate->$method($value);
	}
	if ($count > $perpage) {print <<<EOT
-->
		<div class="cc p10">$pages</div>
<!--
EOT;
	}
    if($do == 'detail' && $indexRight){
    if($mid && $weiboList[0]['content'] == '' && !$weiboList[0]['type']){
print <<<EOT
-->
	<div class="f14 tac p15">此條新鮮事已刪除！</div>
<!--
EOT;
    }elseif($isGM || $weiboList['authorid']=$GLOBALS['winduid'] ) {
print <<<EOT
-->
<script type="text/javascript">
var transmitAction = 'reloaddelay';
setTimeout(function(){getcomments('comment','{$value['mid']}','');},300);
</script>
<!--
EOT;
}}print <<<EOT
-->
			</div>
<!--
EOT;
} else {print <<<EOT
-->
			<div class="f14 tac p15">這傢伙好懶，一條新鮮事都沒留下！</div>
<!--
EOT;
}print <<<EOT
-->
		</div>
    </div>
<!--
EOT;
}print <<<EOT
-->
</div>
<!--
EOT;
require_once(uTemplate::printEot('footer'));
?>-->