<!--<?php
print <<<EOT
-->
<!--#require modeEot('header');#-->

<script type="text/javascript" src="mode/area/js/ddsliderplayer.js"></script>	
	<div class="p83_960"><pw id="L9894homeP83@簡介首頁" /></div>
	<div class="p83_960">
		<div class="p83_gridA">
			<div class="p83_picPlayer fl mb10 clB"><pw id="L6664homeP83@簡介首頁" />
			</div>
			<div class="p83_mdA clB">
				<h3 class="p83_h3 p83_h3B"><pw id="K6968homeP83@簡介首頁" /></h3>
				<div class="p83_box clB">
				<pw id="O7973homeP83@簡介首頁" />
				<pw id="G8597homeP83@簡介首頁" />
				</div>
			</div>
		</div>
		<div class="p83_gridB">
			<div class="cc p83_bdA">
			<span class="tag_hot">熱點</span>
			<pw id="G9393homeP83@簡介首頁" />
			<pw id="P5921homeP83@簡介首頁" />
			</div>
		</div>
		<div class="p83_gridC">
			<div class="p83_mdA clB">
				<h3 class="p83_h3 p83_h3A"><pw id="Q3054homeP83@簡介首頁" /></h3>
				<div class="p83_box clB mb10">
				<pw id="X1554homeP83@簡介首頁" />
				</div>
			</div>
			<div class="clB cc mb10">
			<pw id="T6737homeP83@簡介首頁" />
			</div>
			<div class="p83_mdA clB">
				<h3 class="p83_h3 p83_h3A"><pw id="W7964homeP83@簡介首頁" /></h3>
				<div class="p83_box clB">
				<pw id="Y201homeP83@簡介首頁" />
				</div>
			</div>
		</div>
	</div>
	<div class="p83_960"><pw id="I8171homeP83@簡介首頁" /></div>
	<div class="p83_960">
		<div class="p83_gridA">
			<div class="p83_mdA clB mb10">
				<h3 class="p83_h3 p83_h3B"><pw id="V7942homeP83@簡介首頁" /></h3>
				<div class="p83_box clB">
				<pw id="V5880homeP83@簡介首頁" />
				</div>
			</div>
			<div class="p83_mdA clB">
				<h3 class="p83_h3 p83_h3C"><pw id="A1787homeP83@簡介首頁" /></h3>
				<div class="p83_box clB">
				<pw id="R2301homeP83@簡介首頁" />
				</div>
			</div>
		</div>
		<div class="p83_gridB">
			<div class="p83_mdA clB mb10">
				<h3 class="p83_h3 p83_h3C"><pw id="T2333homeP83@簡介首頁" /></h3>
				<div class="p83_box clB">
				<pw id="M8847homeP83@簡介首頁" />
				<pw id="Y3833homeP83@簡介首頁" />
				</div>
			</div>
			<div class="p83_mdA clB">
				<h3 class="p83_h3 p83_h3C"><pw id="S7714homeP83@簡介首頁" /></h3>
				<div class="p83_box clB">
				<pw id="K9665homeP83@簡介首頁" />
				<pw id="I8719homeP83@簡介首頁" />
				</div>
			</div>
		</div>
		<div class="p83_gridC">
			<div class="p83_mdA clB">
				<h3 class="p83_h3 p83_h3A"><pw id="C9663homeP83@簡介首頁" /></h3>
				<div class="p83_box clB">
				<pw id="E61homeP83@簡介首頁" />
				</div>
			</div>
			<div class="p83_mdA clB">
				<ul class="tabHolder" id="tabswi1_A">
					<pw id="L9810homeP83@簡介首頁" /> 
				</ul>
				<div id="tabswi1_B" class="p83_box clB mb10">
					<pw id="H8388homeP83@簡介首頁" /> 
					<pw id="I7567homeP83@簡介首頁" /> 
					<pw id="D7308homeP83@簡介首頁" /> 
				</div>
				<script>onReady(function(){ddSliderPlayers('tabswi1_B','tabswi1_A',0,'current');})</script>
			</div>
			<div class="p83_mdA clB">
				<h3 class="p83_h3 p83_h3A"><pw id="D9324homeP83@簡介首頁" /></h3>
				<div class="p83_box clB">
				<pw id="R497homeP83@簡介首頁" />
				</div>
			</div>
		</div>
	</div>
<!--
EOT;
pwCache::getData(D_P . 'data/bbscache/cache_index.php');
if($sharelink){print <<<EOT
-->
	<div class="p83_960">
		<div class="clB">
			<h3 class="p83_h3 p83_h3D"><pw id="O5290homep83" /></h3>

		<div class="links">
		<div class="tTable">
<!--
EOT;
foreach($sharelink[0] as $share){ print <<<EOT
-->
			$share
<!--
EOT;
}print <<<EOT
-->
			<div class="sharelink2 cc">$sharelink[1]</div>
			</div>
		</div>
	</div>
<!--
EOT;
}print <<<EOT
-->


<!--#require modeEot('footer');#-->
<!--
EOT;
?>-->
