<pw id="社區達人@廣場" />
<list num="10" action="weibosort" cachetime="1800" ifpushonly="0" title="社區達人推薦" />
<div class="daren_wrap">
<ul id="darenPhotos">
<loop>
	<li><a href="{url}" class="daren_img"><img src="{image,48,48}" width="48" height="48" /></a><span class="fl"><a href="{url}">{title,12}</a>&nbsp;&nbsp;{tags,50}</span></li>	
</loop>	
</ul></div>


<pw id="熱門帖子標題@廣場" />
	<em>熱門帖子</em>

<pw id="熱門帖子@廣場" />
<list num="10" action="subject" cachetime="1800" ifpushonly="0" title="帖子列表" />
<ul class="list1">
<loop>
	<li><span class="fr cp"><a href="{authorurl}" target="_blank" class="gray">{author}</a></span><a href="{url}" target="_blank">{title,26}</a></li>
</loop>
</ul>
			
					
<pw id="精彩照片@廣場" />
	
<list num="5" action="photo" cachetime="1" ifpushonly="0" title="精彩照片" />
<loop>
	<li><a href="{url}" target="_blank"><img src="{image,120,100}" width="119" height="129" /></a></li>
</loop>
	
<pw id="熱門新鮮事標題@廣場" />
	<h2><em>熱門新鮮事</em></h2>


<pw id="今日熱門話題標題@廣場" />
			<h2>今日熱門<em>話題</em></h2>

<pw id="今日熱門話題@廣場" />
<list num="10" action="group" cachetime="1800" ifpushonly="0" title="今日熱門話題" />
<!--# $count = 0;#-->
<loop>
<!--#
$tempClass = $count<3 ? 'class="top"' : '';
$count++;
#-->
	<li $tempClass><em>$count</em><span> <a href="{url}" target="_blank">{title,12}</a></span></li>
</loop>	


<pw id="今日人氣用戶標題@廣場" />
			<h2>今日人氣<em>用戶</em></h2>

<pw id="今日人氣用戶@廣場" />
<list num="10" action="user" cachetime="1800" ifpushonly="0" title="今日人氣用戶" />
<!--# $count = 0;#-->
<loop>
<!--#
$tempClass = $count<3 ? 'class="top"' : '';
$count++;
#-->
	<li $tempClass ><em>$count</em><span> <a href="{url}" target="_blank">{title,12}</a></span></li>
</loop>
