<!--<?php
print <<<EOT
-->
	<div class="w210 fr">
		<div class="pane2">
			<div class="pane2_warp">
				<div class="hd"><pw id="今日熱門話題標題@廣場" /></div>
				<div class="bd">
					<ol class="hotList cc">
						<pw id="今日熱門話題@廣場" />
					</ol>
				</div>
			</div>
		</div>
		<div class="pane2 mt15">
			<div class="pane2_warp">
				<div class="hd"><pw id="今日人氣用戶標題@廣場" /></div>
				<div class="bd">
					<ol class="hotList cc">
						<pw id="今日人氣用戶@廣場" />
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="w710 fl">
		<div class="daren">
			<h2>社區達人推薦</h2>
			<table width="100%">
				<tr>
					<td width="20"><a href="javascript:void(0)" onClick="daren.show(-1)" class="preLive" title="上一組">上一組</a></td>
					<td>
							<pw id="社區達人@廣場" />
					</td>
					<td width="20"><a href="javascript:void(0)" onClick="daren.show(1)" class="nextLive" title="下一組">下一組</a></td>
				</tr>
			</table>
		</div>
		<div class="pane1 mt15">
			<div class="hd">
			<h2><pw id="熱門帖子標題@廣場" /></h2>
			</div>
			<div class="cc">
				<div class="switchItem"><pw id="熱門帖子@廣場" /></div>
			</div>
		</div>
		<div class="picture mt15">
			<h2></h2>
			<ul class="cc">
			<pw id="精彩照片@廣場" />
			</ul>
			<span class="pic_r"></span>
		</div>
		
		<div class="pane1 mt15">
			<div class="hd"><span class="fr mr20"><a href="javascript:void(0)" id="switch_tag0" onmouseover="switchDiv(0)" class="s5 b">熱門轉發</a>&nbsp;|&nbsp;<a  href="javascript:void(0)" id="switch_tag1" onmouseover="switchDiv(1)" class="s6">熱門評論</a></span><pw id="熱門新鮮事標題@廣場" /></div>
		</div>
	</div>
	
<!--
EOT;
?>-->