
<pw id="A1_頭部圖片輪播@圖酷" />
<ul class="tu_flash_switch" id="SlayerA_1">
	<list cachetime="1800" action="image" num="4" title="圖片播放器大圖" />
	<loop>
		<li class="switchItem" style="display:none"><a href="{url}"  target="_blank"><img src="{image,520,300}" width="520" height="300" /><h3>{title,30}</h3></a></li>
	</loop>
</ul>
<div class="tu_flash_bg"></div>
	<ol class="tu_flash_nav" id="SlayerA_2">
	<!--#foreach($pwresult as $value){#-->
		<li class="switchNavItem"><a href="$value[url]"  target="_blank"><img src="$value[image]" width="47" height="47" /></a></li>
	<!--#}#-->
	</ol>

<pw id="B1_今日推薦標題@圖酷" />
<a href="#" class="more">更多</a><strong>今日推薦</strong>

<pw id="B2_今日推薦圖文@圖酷" />
<list cachetime="1800" action="image" num="3" title="今日推薦圖文" />
<div class="tu_dl_img cc">
<!--# $count = 0;#-->
	<loop>
<!--#
$tempClass = (($count % 3) == 0) ? 'class="one"' : '';
$count++;
#-->
	<dl $tempClass>
		<dt><a href="{url}"><img src="{image,180,135}" width="180" height="135" /></a></dt>
		<dd>
			<p class="s6 cc mb10"><span class="imgView" title="瀏覽數" alt="瀏覽數">查看：</span><span class="mr10 fl" title="瀏覽數" alt="瀏覽數">{hits}</span><span class="imgFav" title="收藏數" alt="收藏數">收藏：</span><span class="fl" title="收藏數" alt="收藏數">{collectnum}</span></p>
			<p class="mb5"><a href="{url}">{title,24}</a></p>
			<p><a href="{authorurl}" class="s6 mr20">{author}</a><span class="s6">{totalnum} 張</span></p>
		</dd>
	</dl>
	</loop>
</div>

<pw id="B3_圖片分類模塊1@圖酷" />
<a href="#" class="more">更多</a><strong>人物</strong>

<pw id="B4_圖片分類模塊列表1@圖酷" />
	<ul class="tu_mode_ul cc">
		<list cachetime="1800" action="image" num="4" title="圖片分類模塊列表1" />
		<loop>
		<li><a href="{url}"><img src="{image,138,103}" width="138" height="103" /></a><p><a href="{url}">{title,20}</a></p></li>
		</loop>
	</ul>

<pw id="B5_圖片分類模塊2@圖酷" />
<a href="#" class="more">更多</a><strong>風景</strong>

<pw id="B6_圖片分類模塊列表2@圖酷" />
	<ul class="tu_mode_ul cc">
		<list cachetime="1800" action="image" num="4" title="圖片分類模塊列表2" />
		<loop>
		<li><a href="{url}"><img src="{image,138,103}" width="138" height="103" /></a><p><a href="{url}">{title,20}</a></p></li>
		</loop>
	</ul>

<pw id="B7_圖片分類模塊3@圖酷" />
<a href="#" class="more">更多</a><strong>旅遊</strong>

<pw id="B8_圖片分類模塊列表3@圖酷" />
	<ul class="tu_mode_ul cc">
		<list cachetime="1800" action="image" num="4" title="圖片分類模塊列表3" />
		<loop>
		<li><a href="{url}"><img src="{image,138,103}" width="138" height="103" /></a><p><a href="{url}">{title,20}</a></p></li>
		</loop>
	</ul>

<pw id="B9_圖片分類模塊4@圖酷" />
<a href="#" class="more">更多</a><strong>婚紗</strong>

<pw id="B10_圖片分類模塊列表4@圖酷" />
	<ul class="tu_mode_ul cc">
		<list cachetime="1800" action="image" num="4" title="圖片分類模塊列表4" />
		<loop>
		<li><a href="{url}"><img src="{image,138,103}" width="138" height="103" /></a><p><a href="{url}">{title,20}</a></p></li>
		</loop>
	</ul>

<pw id="A3_頭部公告標題@圖酷" />
公告
<pw id="A4_頭部公告列表@圖酷" />
<ul class="tu_ul">
   <li><a href="#">phpwind8.5 圖酷公告</a></li>
   <li><a href="#">phpwind8.5 圖酷公告</a></li>
   <li><a href="#">phpwind8.5 圖酷公告</a></li>
   <li><a href="#">phpwind8.5 圖酷公告</a></li>
   <li><a href="#">phpwind8.5 圖酷公告</a></li>
   <li><a href="#">phpwind8.5 圖酷公告</a></li>
</ul>

<pw id="B11_右側廣告位@圖酷" />
<a href="#" target="_blank"><img src="http://tiyan.phpwind.net/c/attachment/Mon_1103/60_6420_9bf60eeecb6dfa5.png" class="fl" /></a>

<pw id="B13_右側活躍圖客標題@圖酷" />
活躍圖客

<pw id="B14_右側活躍圖客列表@圖酷" />
	<ul class="tu_ul_img cc">
	<list cachetime="1800" action="image" num="8" title="活躍圖客列表" />
		<loop>
		<li><a href="{url}" title="{title}" alt="{title}"><img src="{image,48,48}" width="48" height="48" /></a></li>
		</loop>
	</ul>

<pw id="B15_右側精彩活動標題@圖酷" />
精華圖酷
<pw id="B16_右側精彩活動列表@圖酷" />
<list cachetime="1800" action="subject" num="3" title="精彩活動列表" />
	<loop>
	<dl>
		<dt><a href="{url}">{title,24}</a></dt>
		<dd>{descrip,76}</dd>
	</dl>
	</loop>

<pw id="B17_右側熱門圖酷標題@圖酷" />
熱門圖酷
<pw id="B18_右側熱門圖酷列表@圖酷" />
	<ol class="tu_ol">
	<list cachetime="1800" action="subject" num="10" title="熱門圖酷列表" />
		<loop>
		<li><a href="{url}">{title,24}</a></li>
		</loop>
	</ol>

