<!--<?php
print <<<EOT
-->
<!--#require modeEot('header');#-->
<script type="text/javascript" src="mode/area/js/ddsliderplayer.js"></script>
<div id="main">
	<div class="tu_article">
		<div class="tu_boxA mb10">
			<div class="tu_flash pr cc" id="pwSlidePlayer">
				<pw id="A1_頭部圖片輪播@圖酷" />
			<script>ddSliderPlayers('SlayerA_1','SlayerA_2',2,'current');</script>
			</div>
		</div>
		<div class="tu_boxA mb10">
			<h2><pw id="B1_今日推薦標題@圖酷" /></h2>
			<pw id="B2_今日推薦圖文@圖酷" />
		</div>
		<div class="tu_boxA mb10" style="padding: 0;">
		<div class="tu_mode">
		<ul class="cc">
			<li class="li">
				<h2><pw id="B3_圖片分類模塊1@圖酷" /></h2>
				<pw id="B4_圖片分類模塊列表1@圖酷" />
			</li>
			<li class="li">
				<h2><pw id="B5_圖片分類模塊2@圖酷" /></h2>
				<pw id="B6_圖片分類模塊列表2@圖酷" />
			</li>
			<li class="li">
				<h2><pw id="B7_圖片分類模塊3@圖酷" /></h2>
				<pw id="B8_圖片分類模塊列表3@圖酷" />
			</li>
			<li class="li">
				<h2><pw id="B9_圖片分類模塊4@圖酷" /></h2>
				<pw id="B10_圖片分類模塊列表4@圖酷" />
			</li>
		</ul>
		</div>
		</div>
		</div>
		<div class="tu_aside">
		<div class="tu_boxB mb10">
			<h2><strong><pw id="A3_頭部公告標題@圖酷" /></strong></h2>
			<pw id="A4_頭部公告列表@圖酷" />
		</div>
		<div class="mb10 cc">
			<pw id="B11_右側廣告位@圖酷" />
		</div>
		<div class="tu_boxB mb10">
			<h2><strong><pw id="B13_右側活躍圖客標題@圖酷" /></strong></h2>
			<pw id="B14_右側活躍圖客列表@圖酷" />
		</div>
		<div class="tu_boxB mb10">
			<h2><strong><pw id="B15_右側精彩活動標題@圖酷" /></strong></h2>
		<div class="tu_dl">
			<pw id="B16_右側精彩活動列表@圖酷" />
		</div>
		</div>
		<div class="tu_boxB mb10">
			<h2><strong><pw id="B17_右側熱門圖酷標題@圖酷" /></strong></h2>
			<pw id="B18_右側熱門圖酷列表@圖酷" />
		</div>
	</div>
</div>
<!--#require modeEot('footer');#-->
<!--
EOT;
?>-->