<pw id="個人中心_首頁_圖片" />
<div>
	<list num="1" action="user" cachetime="1800" ifpushonly="0" title="頭條" />
	<loop>
		<a href="{url}" target="_blank"><img src="{image,100,80}" width="100" height="80" /><p>{title,12}</p></a>
	</loop>
</div>

<pw id="個人中心_首頁_日誌" />
<div class="title">
	<list num="4" action="diary" cachetime="1" ifpushonly="0" title="日誌" />
	<loop>
	    <p>
	        <a href="{url}" target="_blank">{title,40}</a>
	    </p>
	</loop>
</div>
