        <table width="100%" class="pw_pushA">
            <tr>
                <th>
                	<div class="view-hover" invokename="個人中心_首頁_圖片" altname="個人中心_首頁_圖片" channelid="usermix"><div><a href="u.php?uid=1" target="_blank"><img src="images/face/none.gif?1" width="100" height="80" /><p>admin</p></a></div>

</div>
                </th>
                <td class="f14">
                    <div class="view-hover" invokename="個人中心_首頁_日誌" altname="個人中心_首頁_日誌" channelid="usermix"><div class="title"><p>
	        <a href="http://localhost/phpwind/apps.php?q=diary&a=detail&did=1&uid=1" target="_blank">【看看哪種水果的營養適合你】</a>
	    </p></div>
</div>
                </td>
            </tr>
        </table>
