<!--<?php
print <<<EOT
-->
        <table width="100%" class="pw_pushA">
            <tr>
                <th>
                	<pw id="個人中心_首頁_圖片" />
                </th>
                <td class="f14">
                    <pw id="個人中心_首頁_日誌" />
                </td>
            </tr>
        </table>
<!--
EOT;
?>-->
