<pw id="社區焦點@論壇首頁" />
<dl class="newHotA">
<list num="1" action="subject" cachetime="1800" ifpushonly="0" title="焦點頭條1" />
<loop>
	<dt><a href="{url}" class="b s4 f16" target="_blank">{title,50}</a></dt>
	<dd class="s6">{descrip,320}</dd>
</loop>
</dl>
<div class="newHotB">
	<ul class="cc">
		<list num="14" action="subject" cachetime="1800" ifpushonly="0" title="帖子列表1" />
		<loop>
			<li><em><a href="{forumurl}" class="s2" target="_blank">[{forumname,10}]</a></em><a href="{url}" target="_blank">{title,50}</a></li>
		</loop>
	</ul>
</div>

<pw id="幻燈片@論壇首頁" />
<div class="newflash pr">
	<ul class="flashimg" id="SlayerA_1">
	<list num="5" action="image" cachetime="1800" ifpushonly="0" title="圖片播放器" />
<!--# $temp =array();#-->
	<loop>
<!--# $temp[] =$key+1;#-->
		<li class="switchItem" style="display:none"><a href="{url}#info" target="_blank"><img width="360" height="240" src="{image,360,240}" /></a><p><a href="{url}#info" target="_blank">{title,30}</a></p></li>
	</loop>
	</ul>
	<div class="flashBg"></div>
	<ul class="an" id="SlayerA_2">
<!--# foreach ($temp as $value) {#-->
		<li class="switchNavItem"><a href="javascript:;">$value</a></li>
<!--# }#-->
	</ul>
</div>
<script>
onReady(function(){
	ddSliderPlayers('SlayerA_1','SlayerA_2',6,'current');
})

</script>

<pw id="今日熱門@論壇首頁" />
今日熱門
