<!--<?php
print <<<EOT
-->
<script type="text/javascript" src="mode/area/js/ddsliderplayer.js"></script>
<div class="newInfor">
	<table width="100%">
		<tr>
			<td colspan="2"><h4 class="hB mb10"><pw id="今日熱門@論壇首頁" /></h4></td>
		</tr>
		<tr class="vt">
			<th width="360" height="240" style="padding-left:10px;">
				<pw id="幻燈片@論壇首頁" />
			</th>
			<td>
				<div class="pd15">
					<div class="switchItem">
						<pw id="社區焦點@論壇首頁" />
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>
<!--
EOT;
?>-->