
<pw id="左側@廣播台" />
				<dl class="radioDl">
					<dt>
<list num="4" action="image" cachetime="1800" ifpushonly="0" title="廣播圖片1" />
<loop>
						<div class="div"><a href="{url}"><img src="{image,120,90}" alt="{title}" title="{title}" width="120" height="90"  /></a><p><a href="{url}">{title,15}</a></p></div>
</loop>	
					</dt>
					<dd>
						<ul class="radioUl">
<list num="5" action="subject" cachetime="1800" ifpushonly="0" title="廣播帖子列表1" />
<loop>
							<li><a href="{url}">{title,60}</a></li>
</loop>
						</ul>
					</dd>
				</dl>
			
