<!--<?php
print <<<EOT
-->
<script src="js/float.js" type="text/javascript"></script>
<script>
window.onReady(function () {
	var LeftCode = RightCode = '';
/*
EOT;
$ShowFloat = false;
list($htmlAdvert,$arrayAdvert) = pwAdvert('Site.FloatLeft',$fid);
if($htmlAdvert){
	$ShowFloat = true;
	$htmlAdvert = str_replace(array("\r","\n","'"),array('','<br />',"\'"),$htmlAdvert);
print <<<EOT
*/
	var LeftCode = '$htmlAdvert';
/*
EOT;
}
list($htmlAdvert,$arrayAdvert) = pwAdvert('Site.FloatRight',$fid);
if($htmlAdvert){
	$ShowFloat = true;
	$htmlAdvert = str_replace(array("\r","\n","'"),array('','<br />',"\'"),$htmlAdvert);
print <<<EOT
*/
	var RightCode = '$htmlAdvert';
/*
EOT;
}if ($ShowFloat) {print <<<EOT
*/
	ShowFloat(LeftCode, RightCode);
/*
EOT;
}
list($htmlAdvert,$arrayAdvert) = pwAdvert('Site.FloatRand',$fid);
if($htmlAdvert){
$htmlAdvert=str_replace(array("\r","\n","'"),array('','<br />',"\'"),$htmlAdvert);
print <<<EOT
*/
	var floatCode = '$htmlAdvert';
	ShowAd(floatCode);
/*
EOT;
}
list($htmlAdvert,$arrayAdvert) = pwAdvert('Site.PopupNotice',$fid);
if($htmlAdvert){
$htmlAdvert=str_replace(array("\r","\n","'"),array('','<br />',"\'"),$htmlAdvert);
print <<<EOT
*/
	var popParam={$arrayAdvert[0]['other']};
	var popCode='{$htmlAdvert}';
	ShowPop(popParam,popCode);
/*
EOT;
}print <<<EOT
*/
	imgloops.imginit();/*多圖片輪播*/
});
</script>
<!--
EOT;
?>-->