<?php
print <<<EOT

<table width="100%" cellspacing="1" cellpadding="3">
<tr><td><form method="post" action="index.php?">
<a href="index.php?logined=1">站點已關閉！您是站點創始人，請點擊此處進入前台功能！</a>
</form></td></tr></table>

EOT;
?>