<!--<?php
!$webPageTitle && $webPageTitle = $db_bbsname;
print <<<EOT
-->
<div id="pw_content">
   <div class="p20">
      <div class="regTitle cc">
         <h5>提示</h5>
      </div>
      <table width="100%">
         <tr>
            <td height="200" class="vt f16 tac">
               <img src="$imgpath/warning_bg.gif" style="vertical-align:middle;" class="mr10" />
               <span>您所在的用戶組暫時無法訪問本站點</span>
            </td>
         </tr>
      </table>
   </div>
</div>
<!--
EOT;
?>-->