<!--<?php print <<<EOT
--></div></div><!--.main-wrap,#main End-->
<div class="footer-wrap">
<div id="bottom"></div>
<!--
EOT;
list($htmlAdvert,$arrayAdvert) = pwAdvert('Site.Footer',$fid);
if($htmlAdvert){print<<<EOT
-->
<div class="mb5 tac cc">$htmlAdvert</div>
<!--
EOT;
}print <<<EOT
-->
<div id="footer">
	<div class="mb5">
		<div class="bottom tac">
<!--
EOT;
if(count($_Navbar['foot'])){
	print <<<EOT
-->
<!--
EOT;
foreach($_Navbar['foot'] as $key => $value){
	$html = buildNavLinkHtml($value['data']);
print <<<EOT
--><span class="mr10">$html</span><span class="gray mr10">|</span><!--
EOT;
};
print <<<EOT
--><a href="job.php?action=erasecookie&verify=$GLOBALS[loginhash]" rel="nofollow">清除Cookies</a>
<!--
EOT;
};
print <<<EOT
-->
		</div>
	</div>
	<div class="f10 s6 tac">
		<p class="mb5">Powered by <a href="http://www.phpwind.net/" target="_blank" class="s4">phpwind v{$wind_version}</a>&nbsp;<a href="http://www.phpwind.com/certificate.php?host={$pwServer['HTTP_HOST']}" target="_blank" rel="nofollow">Certificate</a> Copyright Time now is:$ft_time <br />&copy;2003-2011 <a href="$db_bbsurl/" target="_blank">{$GLOBALS['db_bbsname']}</a> 版權所有 $ft_gzip $db_icp <span id="windspend">$wind_spend</span> $db_statscode <span id="stats"></span>
<!--
EOT;
if($db_ystats_ifopen=='0'){print <<<EOT
-->
<script type="text/javascript" src="http://js.tongji.linezing.com/{$db_ystats_unit_id}/tongji.js"></script>
<noscript>
	<a href="http://www.linezing.com" target="_blank"><img alt="tongji" src="http://img.tongji.linezing.com/{$db_ystats_unit_id}/tongji.gif"/></a>
</noscript>
<!--
EOT;
}print <<<EOT
--></p>
	</div>
</div>
</div>
</div>
<!--
EOT;
if($GLOBALS['groupid'] != 'guest' && $GLOBALS['groupid'] != '' && $GLOBALS['db_toolbar'] && SCR != 'profile' && SCR != 'jobcenter' && SCR != 'message' && SCR != 'userpay' && SCR != 'register'){
include_once PrintEot('bottom');
}print <<<EOT
-->
<script type="text/javascript" src="js/global.js"></script>
<!--
EOT;
$db_ifcredit && $credit_pop && require PrintEot('credit_pop');print <<<EOT
-->
<script type="text/javascript" src="mode/area/js/adminview.js"></script>
<!--
EOT;
if ($GLOBALS['__pwPortalEot'] && checkPortalRight()) {
print <<<EOT
-->
<script type="text/javascript" src="js/date.js"></script>
<script type="text/javascript" src="mode/area/js/tagrelate.js"></script>
<script type="text/javascript" src="js/color_picker.js"></script>
<script>
window.onReady(function(){
	//門戶模塊管理
	var console=new ChannelManage(0,'','',0);
	console.init();
	frontadmin = New(frontAdmin,['main','view-hover']);
});
</script>
<!--
EOT;
}
print <<<EOT
-->
</body></html>
<!--
EOT;
if(defined('A_P')){
print <<<EOT
-->
<script type="text/javascript" src="js/app_global.js"></script>
<!--
EOT;
}if($db_job_isopen && $winduid){print <<<EOT
-->
<script type="text/javascript" src="js/pw_jobcenter.js"></script>
<!--
EOT;
if($winddb['jobnum'] > 0 && $_G['allowvisit'] && $db_job_ispop && !GetCookie('jobpop') && !in_array(SCR,array("jobcenter","searcher","register"))){
print <<<EOT
-->
<script type="text/javascript">
window.onReady(function() {
	setTimeout(openjobpop,200);
});
</script>
<!--
EOT;
}}print <<<EOT
-->
<script>
var openmenu = {{$GLOBALS['db_menuinit']}};
var messagetip=null;
window.onReady(function(){
	read.InitMenu();
	//消息提示
	messagetip=new messageTip(90);
	messagetip.init();
});
WINDOW_LOADED=1;
</script>
<!--
EOT;
if(CloudWind::checkSync() ){
print <<<EOT
-->
<script>
onReady(function(){
	ajax.send("y.php?action=sync", "");
})
</script>
<!--
EOT;
}print <<<EOT
-->
<!--
EOT;
$cloudwind_footer = CloudWind::getSearchFooterTemplate(SCR,$GLOBALS [fid], $GLOBALS [winduid], $GLOBALS [tid], $GLOBALS [subject]);
if($cloudwind_footer){
print <<<EOT
-->
$cloudwind_footer
<!--
EOT;
}print <<<EOT
-->
<!--
EOT;
?>-->