<?php
print <<<EOT

<div style="padding:10px 0;">
    <form method="post" action="thread.php?">
        請輸入密碼&nbsp;
        <input class="input" type="password" size="20" maxlength="75" name="wind_password" />
        <input type="hidden" name="fid" value="$fid" />
        <input type="hidden" name="wind_action" value="wind_fpwd" />
        <input class="btn" type="submit" value="提 交" />
    </form>
</div>

EOT;
?>