<!--<?php 
print <<<EOT
-->
<div id="windlocation" style="position: absolute;display:none;top: 100;left: 50;z-index:9999" bgcolor="$tablecolor">
<table width="500" height="300" bgColor="$tablecolor" style="border: 1 outset">
<tr><td align="center">
<table width="480" height="280" style="border: 1 inset" class="f_one">
<tr><td align="center" valign="middle"><a href="./"><img src="$imgpath/$stylepath/logo.png" /></a>
<br /><br />請先註冊以避免此窗口再次出現<br /><br />
<b><a href="$db_registerfile"><u>注　冊</u></a>
<a href="login.php" rel="nofollow"><u>登　錄</u></a></b>
<p>(此視窗將於 <span id="poplimit">5</span> 秒後自動關閉)</p>
</td></tr></table></td></tr></table>
</div>
<script>
(function(){
	var timePopup=5;
	var intervalOpen;
	var adCount = 0;
	var adDiv;
	function initPopup() {
		adDiv = getObj("windlocation").style;
		adDiv.display ="";
		showPopup();
	}
	function showPopup() {
		if (adCount < timePopup * 10) {
			adCount+=1;
			if (is_ie) {
				documentWidth  = ietruebody().offsetWidth/2+getLeft()-20;
				documentHeight = ietruebody().offsetHeight/2+getTop()-20;
			} else{
				documentWidth  = self.innerWidth/2+window.pageXOffset-20;
				documentHeight = self.innerHeight/2+window.pageYOffset-20;
			}
			adDiv.left = documentWidth-250 + 'px';
			adDiv.top  = documentHeight-150 + 'px';
			intervalOpen = setTimeout(function(){showPopup();},100);
		} else {
			clearTimeout(intervalOpen);
			intervalOpen = null;
		}
	}
	initPopup();
	var interval = setInterval(function(){
		timePopup--;
		getObj("poplimit").innerHTML = timePopup;
		if(timePopup===0){
			clearInterval(interval);
			interval = null;
			adDiv.display = "none";
		}
	},1000);
})();
</script>
<!--
EOT;
?>