<!--<?php
print <<<EOT
-->
<div class="menu_tasksA" id="jobpop" style="z-index:9">
    	<div class="menu_tasksA_con cc">
        	<div class="menu_tasksA_tab">
            	<a href="javascript:;" class="fr menu_close" hidefocus="true" title="關閉" id="close">關閉</a>
            	<ul class="cc">
                	<li class="current dopen"><a href="javascript:;" hidefocus="true">已申請的任務</a></li>
                    <li class="dopen"><a href="javascript:;" hidefocus="true">去申請任務</a></li>
                </ul>
            </div>
            <div id="tasktab_1" class="tasktab_1">
            	<!-- ajax -->
				$appliedHTML
            </div>
            <div id="tasktab_2" class="tasktab_1" style="display:none;">

<!--
EOT;
if($lists){
foreach($lists as $list){
$list[title] = substrs($list['title'],56);
print <<<EOT
-->
                <div class="jobpop_h current"><a href="javascript:;" class="menu_tasksA_title" hidefocus="true"><b></b>$list[title]</a></div>
                <dl class="cc taskA_dl" style="display:none;">
                    <dt><img src="$list[icon]" alt="icon" /></dt>
                    <dd>
                    	<table width="100%" style="table-layout:fixed;">
                        	<tr class="vt">
                            	<td width="80">完成條件:</td>
                                <td>$list[condition]</td>
                            </tr>
<!--
EOT;
if($list['usergroup']){print <<<EOT
-->
                            <tr class="vt">
                            	<td>允許用戶組:</td>
                                <td>$list[usergroup]</td>
                            </tr>
<!--
EOT;
}print <<<EOT
-->
<!--
EOT;
if($list['number']){print <<<EOT
-->
	                         <tr class="vt">
                            	<td>人數限制:</td>
                                <td>$list[number]</td>
                            </tr>
<!--
EOT;
}print <<<EOT
-->	
                            <tr class="vt">
                            	<td>任務週期:</td>
                                <td>$list[period]</td>
                            </tr>
                            <tr class="vt">
                            	<td>完成獎勵:</td>
                                <td class="s2">$list[reward]</td>
                            </tr>
                            <tr class="vt">
                            	<td>任務描述:</td>
                                <td>$list[description]</td>
                            </tr>
                            <tr>
                            	<td></td>
                                <td><span class="fr">$list[btn]</span></td>
                            </tr>
                        </table>
                    </dd>
                </dl>
<!--
EOT;
}
}
print <<<EOT
-->

            </div>
            <div class="tasks_join cc">
            	<a href="javascript:;" id="gotocenter">進入任務中心</a><i>指向</i>
            </div>
    	</div>
</div>
<!--
EOT;
?>-->