<!--<?php print <<<EOT
-->
<div id="breadCrumb">
<img src="$imgpath/$stylepath/thread/home.gif" class="cp breadHome" /><em class="breadEm"></em><a href="$db_bfn" title="$db_bbsname">$db_bbsname</a><em>&gt;</em>管理選項
</div>
<style type="text/css">
.tr3 td,.tr3 th,.tr2 td,.tr2 th{padding-left:10px;}
</style>
<div id="pw_content">
<!--
EOT;
if($action=='banuser'){print <<<EOT
-->
<form action="masingle.php?action=banuser" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<div class="t">
<table width="100%" cellspacing="0" cellpadding="0">
	<tr><th class="h" colspan="2">會員禁言</th></tr>
	<tr class="tr3"><td width="80">禁言對像:</td>
		<td>$userinfo[username]
<!--
EOT;
if($showTips){print <<<EOT
-->
<span class="s1">（該用戶為 <b>{$userLevel}</b>，
<!--
EOT;
if($otherGroups){print <<<EOT
-->
	隱含 <b>{$otherGroups}</b> 等用戶組頭銜
<!--
EOT;
}print <<<EOT
-->
請確認是否要禁言）</span>
<!--
EOT;
}
print <<<EOT
-->
		</td>
	</tr>
	<tr class="tr3"><td>禁言範圍:</td>
	<td><label class="mr20"><input type="radio" name="range" value="0" checked />{$forum[$fid][name]}</label>
<!--
EOT;
if($isGM || $SYSTEM['banuser']==2){print <<<EOT
-->
	<label class="mr20"><input type="radio" name="range" value="1" />全局禁言</label>
<!--
EOT;
if ($SYSTEM[banuserip]){print <<<EOT
-->	
	<label class="mr20"><input type="checkbox" name="banip" value="1" />禁止該 IP</label>
<!--
EOT;
}}print <<<EOT
-->
	</td></tr>
	<tr class="tr3"><td>禁言類型:</td>
		<td><label class="mr20"><input type="radio" name="type" value="1" checked />定期禁言</label>
<!--
EOT;
if($isGM || $SYSTEM['bantype']){print <<<EOT
-->
			<label class="mr20"><input type="radio" name="type" value="2" />永久禁言</label>
<!--
EOT;
}print <<<EOT
-->
		</td>
	</tr>
	<tr class="tr3"><td>禁言時間:</td>
		<td><input class="input" type="text" name="limit" value="1" size="5" /> 天(最大天數<font color=blue>$pwBanMax</font>天)</td>
	</tr>
	<tr class="tr3"><td>消息通知:</td>
		<td><label class="mr20"><input type="radio" name="ifmsg" value="1" checked />開啟</label>
			<label class="mr20"><input type="radio" name="ifmsg" value="0" />關閉</label>
		</td>
	</tr>
	<tr class="tr3 vt">
		<td>操作原因:</td>
		<td>
			<p><input type="text" class="input" style="width:312px;" name="atc_content" /></p>
			<select name="" size="6" style="width:320px;" multiple onchange="this.form.atc_content.value=this.value">
				$reason_sel
			</select>
		</td>
	</tr>
	<tr><td>&nbsp;</td><td style="padding:5px 6px;"><span class="btn2"><span><button type="submit">提 交</button></span></span>
	<span class="bt2"><span><button type="button" onclick="javascript:history.go(-1)">返 回</button></span></span>
</td></tr>
</table></div>
<input type="hidden" name="uid" value="$uid" />
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="pid" value="$pid" />
<input type="hidden" name="page" value="$page" />
<input type="hidden" name="step" value="3" />
</form>
<!--
EOT;
}elseif($action=='banfree'){print <<<EOT
-->
<form action="masingle.php?action=banfree" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<div class="t">
<table width="100%" cellspacing="0" cellpadding="0">
	<tr><th class="h" colspan="2">會員禁言</th></tr>
	<tr class="tr3"><td width="80">解禁對像:</td>
		<td>$userinfo[username]</td>
	</tr>
	<tr class="tr3"><td>消息通知:</td>
		<td><label class="mr20"><input type="radio" name="ifmsg" value="1" checked />開啟</label>
			<label class="mr20"><input type="radio" name="ifmsg" value="0" />關閉</label>
		</td>
	</tr>
	<tr class="tr3 vt">
		<td>操作原因:</td>
		<td><textarea name="atc_content" style="width:320px;height:124px"></textarea>
		</td>
	</tr>
	<tr><td>&nbsp;</td><td style="padding:5px 6px;"><span class="btn2"><span><button type="submit">提 交</button></span></span><span class="bt2"><span><button type="button" onclick="javascript:history.go(-1)">返 回</button></span></span></td></tr>
</table></div>
<input type="hidden" name="uid" value="$uid" />
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="pid" value="$pid" />
<input type="hidden" name="page" value="$page" />
<input type="hidden" name="step" value="3" />
</form>
<!--
EOT;
}elseif($action=='shield'){print <<<EOT
-->
<form action="masingle.php?action=$action" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<div class="t">
<table width="100%" cellspacing="0" cellpadding="0" align="center">
	<tr><th class="h" colspan="2">帖子屏蔽</th>
	</tr>
	<tr class="tr3">
		<td width="80">屏蔽數量</td>
		<td>$count 篇</td>
	</tr>
	<tr class="tr3"><td>操作類型:</td>
		<td><label class="mr20"><input type="radio" name="step" value="3" checked />屏蔽</label>
			<label class="mr20"><input type="radio" name="step" value="5" />取消屏蔽</label>
		</td>
	</tr>
	<tr class="tr3"><td>消息通知:</td>
		<td><label class="mr20"><input type="radio" name="ifmsg" value="1" checked />開啟</label>
			<label class="mr20"><input type="radio" name="ifmsg" value="0" />關閉</label>
		</td>
	</tr>
	<tr class="tr3 vt">
		<td>操作原因:</td>
		<td>
			<p><input type="text" class="input" style="width:312px;" name="atc_content" /></p>
			<select name="" size="6" multiple onchange="this.form.atc_content.value=this.value" style="width:320px;">
				$reason_sel
			</select>
		</td>
	</tr>
	<tr>
		<td></td>
		<td style="padding:5px 6px;"><span class="btn2"><span><button type="submit">提 交</button></span></span><span class="bt2"><span><button type="button" onclick="javascript:history.go(-1)">返 回</button></span></span></td>
	</tr>
</table></div>
<!--
EOT;
foreach($postdb as $value){
print <<<EOT
-->
<input type="hidden" name="selid[]" value="{$value['pid']}" />
<!--
EOT;
}print <<<EOT
-->
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="page" value="$page" />
</form>
<!--
EOT;
}elseif($action=='bansignature'){ print <<<EOT
-->
<form action="masingle.php?action=bansignature" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<div class="t">
<table width="100%" cellspacing="0" cellpadding="0">
	<tr><th class="h" colspan="2">禁止帖子簽名</th>
	</tr>
	<tr class="tr3"><td width="80">操作對像:</td>
<!--
EOT;
if($readdb['anonymous'] && !$isGM && !pwRights($isBM,'anonyhide')){ print <<<EOT
-->
		<td>$db_anonymousname</td>
<!--
EOT;
}else{ print <<<EOT
-->
		<td>$readdb[username]</td>
<!--
EOT;
} print <<<EOT
-->
	</tr>
	<tr class="tr3"><td>禁止類型:</td>
		<td><label class="mr20"><input type="radio" name="step" value="3" $check_Y />禁止</label>
			<label class="mr20"><input type="radio" name="step" value="5" $check_N />解除</label>
		</td>
	</tr>
	<tr class="tr3"><td>消息通知:</td>
		<td><label class="mr20"><input type="radio" name="ifmsg" value="1" checked />開啟</label>
			<label class="mr20"><input type="radio" name="ifmsg" value="0" />關閉</label>
		</td>
	</tr>
	<tr class="tr3 vt">
		<td>操作原因:</td>
		<td><p><input type="text" class="input" style="width:312px;" name="atc_content" /></p>
		<select size="6" multiple onchange="this.form.atc_content.value=this.value" style="width:320px;">
				$reason_sel
			</select>
		</td>
	</tr>
	<tr><td>&nbsp;</td><td style="padding:5px 6px;"><span class="btn2"><span><button type="submit">提 交</button></span></span><span class="bt2"><span><button type="button" onclick="javascript:history.go(-1)">返 回</button></span></span></td></tr>
</table></div>
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="pid" value="$pid" />
<input type="hidden" name="page" value="$page" />
</form>
<!--
EOT;
}elseif($action=='banuserip'){ print <<<EOT
-->
<form action="masingle.php?action=banuserip" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<input type="hidden" name="step" value="3" />
<div class="t">
<table width="100%" cellspacing="0" cellpadding="0">
	<tr><th class="h" colspan="2">禁止ip</th>
	</tr>
	<tr class="tr3"><td>用戶名:</td>
<!--
EOT;
if($readdb['anonymous'] && !$isGM && !pwRights($isBM,'anonyhide')){ print <<<EOT
-->
		<td>$db_anonymousname</td>
<!--
EOT;
}else{ print <<<EOT
-->
		<td>$readdb[username]</td>
<!--
EOT;
} print <<<EOT
-->
	</tr>
	<tr class="tr3 vt">
		<td>操作原因:</td>
		<td>
		<p><input type="text" class="input" style="width:312px;" name="atc_content" /></p>
		<select name="" size="6" multiple onchange="this.form.atc_content.value=this.value" style="width:320px;">
				$reason_sel
			</select>

		</td>
	</tr>
	<tr><td>&nbsp;</td><td style="padding:5px 6px;"><span class="btn2"><span><button type="submit">提 交</button></span></span><span class="bt2"><span><button type="button" onclick="javascript:history.go(-1)">返 回</button></span></span></td></tr>
</table></div>
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="pid" value="$pid" />
<input type="hidden" name="page" value="$page" />
</form>
<!--
EOT;
}elseif($action=='remind'){ print <<<EOT
-->
<form action="masingle.php?action=$action" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<div class="t">
<table width="100%" cellspacing="0" cellpadding="0" align="center">
	<tr><th class="h" colspan="2">帖子提醒</th>
	</tr>
	<tr class="tr3">
		<td width="80">提醒數量:</td>
		<td>$count 篇</td>
	</tr>
	<tr class="tr3"><td>操作類型:</td>
		<td><label class="mr20"><input type="radio" name="step" value="3" checked />提醒</label>
			<label class="mr20"><input type="radio" name="step" value="5" />取消提醒</label>
		</td>
	</tr>
	<tr class="tr3"><td>消息通知:</td>
		<td><label class="mr20"><input type="radio" name="ifmsg" value="1" checked />開啟</label>
			<label class="mr20"><input type="radio" name="ifmsg" value="0" />關閉</label>
		</td>
	</tr>
	<tr class="tr3 vt">
		<td>提醒理由:</td>
		<td>
			<p><input type="text" class="input" style="width:312px;" name="atc_content" /></p>
			<select name="" size="6" multiple onchange="this.form.atc_content.value=this.value" style="width:320px;">
				$reason_sel
			</select>
		</td>
	</tr>
	<tr>
		<td></td>
		<td style="padding:5px 6px;"><span class="btn2"><span><button type="submit">提 交</button></span></span><span class="bt2"><span><button type="button" onclick="javascript:history.go(-1)">返 回</button></span></span></td>
	</tr>
</table></div>
<!--
EOT;
foreach($postdb as $value){
print <<<EOT
-->
<input type="hidden" name="selid[]" value="{$value['pid']}" />
<!--
EOT;
}print <<<EOT
-->
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="page" value="$page" />
</form>
<!--
EOT;
}elseif($action=='split'){print <<<EOT
-->
<form action="masingle.php?action=split" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="step" value="3" />
<!--
EOT;
foreach($selid as $key=>$val){print <<<EOT
-->
<input type="hidden" name="selid[]" value="$val" />
<!--
EOT;
}print <<<EOT
-->
<div class="popTop" style="cursor:move" onmousedown="read.move(event);"><span class="adel cp" onclick="closep();">關閉</span>拆分操作</div>
<script>
function splitds() {
	var val = document.getElementsByName('splittype');
	var type;
	for(var i = 0; i< val.length; i++){
     if(val[i].checked){
      	if (val[i].value== 1){ 
	  		type = 1;
	 	 }else {
		 	type = 0;
		 }
	  }
    }
	var stitle = document.getElementById('splittitle');
	var sid = document.getElementById('splitid');
	if(type == 1){
		stitle.style.display = 'none';
		sid.style.display = '';
	}else{
		stitle.style.display = '';
		sid.style.display = 'none';
	}

}
</script>
<div class="t">
<table width="100%" class="vt z">
<tr class="tr3"><td width="80">拆分數量:</td><td>$splitNum 篇</td></tr>
<tr class="tr3">
	<td>拆分目標:</td>
	<td><label class="mr20"><input name="splittype" onclick="splitds()" type="radio" checked="checked" value="0" />新帖</label>
	<label class="mr20"><input name="splittype" onclick="splitds()" type="radio" value="1" />合併到帖子</label>
	</td>
</tr>
<tr class="tr3" id="splittitle">
	<td>新帖標題:</td>
	<td><input name="splittitle" class="input" size="50" /></td>
</tr>
<tr class="tr3" id="splitid" style="display:none;">
	<td>帖子ID:</td>
	<td><input name="splitid" class="input" size="10" /></td>
</tr>
<tr class="tr3">
		<td>消息通知:</td>
		<td>
			<label class="mr20"><input type="radio" name="ifmsg" value="1" checked />開啟</label>
			<label><input type="radio" name="ifmsg" value="0" />關閉</label>
		</td>
	</tr>
	<tr class="tr3"><td>操作原因:</td>
		<td>
		<p><input type="text" class="input" style="width:312px;" name="atc_content" onkeydown="ajax.quickpost(event,this.form)" /></p>
		<select style="width:320px;" onchange="this.form.atc_content.value=this.value" size="6" multiple>
				$reason_sel
			</select>
		</td>
	</tr>
	<tr><td>&nbsp;</td><td style="padding:5px 6px;"><span class="btn2"><span><button type="submit">提 交</button></span></span><span class="bt2"><span><button type="button" onclick="javascript:history.go(-1)">返 回</button></span></span></td></tr>
</table>
</div></form>
<!--
EOT;
}elseif($action=='delatc'){print <<<EOT
-->
<form action="masingle.php?action=delatc" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="step" value="3" />
<!--
EOT;
foreach($threaddb as $key=>$val){print <<<EOT
-->
<input type="hidden" name="selid[]" value="$val[pid]" />
<!--
EOT;
}print <<<EOT
-->
<div class="t">
<table width="100%" cellspacing="0" cellpadding="0">
	<tr><th class="h" colspan="2">刪除回復操作</th></tr>
	<tr class="tr3"><td width="80">刪除數量:</td><td>$count 篇</td></tr>
	<tr class="tr3"><td>扣除積分:</td>
		<td><label class="mr20"><input type="radio" name="ifdel" value="1" checked />開啟</label>
			<label class="mr20"><input type="radio" name="ifdel" value="0" />關閉</label>
		</td>
	</tr>
	<tr class="tr3"><td>消息通知:</td>
		<td><label class="mr20"><input type="radio" name="ifmsg" value="1" checked />開啟</label>
			<label class="mr20"><input type="radio" name="ifmsg" value="0" />關閉</label>
		</td>
	</tr>
	<tr class="tr3 vt"><td>操作原因:</td>
		<td>
		<p><input type="text" class="input" style="width:312px;" name="atc_content" /></p>
		<select name="" size="6" multiple onchange="this.form.atc_content.value=this.value" style="width:320px;">
				$reason_sel
			</select>

		</td>
	</tr>
	<tr><td>&nbsp;</td><td style="padding:5px 6px;"><span class="btn2"><span><button type="submit">提 交</button></span></span><span class="bt2"><span><button type="button" onclick="javascript:history.go(-1)">返 回</button></span></span></td></tr>
</table></div></form>
<!--
EOT;
}elseif($action=='pingcp'){print <<<EOT
-->
<form action="masingle.php?action=$action" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="pid" value="$pid" />
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="rpage" value="$rpage" />
<input type="hidden" name="step" value="2" />
<div class="t">
<div class="h">評分記錄管理</div>
<table width="100%" cellspacing="0" cellpadding="0" style=" table-layout:fixed;">
	<tr class="tr3">
		<td width="7%">選擇</td>
		<td width="12%">操作者</td>
		<td width="12%">積分情況</td>
		<td width="15%">評分時間</td>
		<td>評分理由</td>
	</tr>
<script>
function cutStrContent(obj){
	if(strlen(getObj(obj).value) > 100 ) {
		getObj(obj).value = substr(getObj(obj).value,100);
		alert ('評分理由請不要超過100字節');
	}
}
</script>
<!--
EOT;
foreach($pingdb as $val){
$disabled='';
$val['ifable'] && $disabled='disabled';
print<<<EOT
-->
	<tr class="tr3">
		<td><input type="checkbox" name="selid[]" value="$val[id]"></td>
		<td>$val[pinger]</td>
		<td>$val[name] $val[point]</td>
		<td>$val[pingdate]</td>
		<td title="雙擊修改評分記錄" ondblclick="editrecord('$val[id]')"><span id="ping_$val[id]">$val[record]</span><span id="edit_$val[id]" style="display:none"><input type="text" class="input input_wb" id="editbox_$val[id]" value="$val[record]" onchange="cutStrContent(this.id);" onkeyup="cutStrContent(this.id);" onkeydown="cutStrContent(this.id);"> <img title="保存" alt="保存" onclick="savePingLog('$val[id]');" src="$imgpath/post/c_editor/save.gif" style="cursor:pointer;" align="absmiddle"></span></td>
	</tr>
<!--
EOT;
}print<<<EOT
-->
	<tr>
		<td style="padding:.5em 1em" colspan="5">
			<div class="cc">$pages</div>
			<span class="fl"><input type="checkbox" onclick="CheckAll(this.form)" />全選</span>
			<span class="mr20"><span class="bt2"><span><button type="submit">刪除</button></span></span></span><a class="btn3" style="cursor:pointer;" type="button" onclick="javascript:history.go(-1)" />返 回</a>
		</td>
	</tr>
</table></div></form>
<script>
function editrecord(id) {
	var r = getObj('ping_' + id);
	if (r.style.display == 'none') {
		return;
	}
	r.style.display = 'none';
	getObj('edit_' + id).style.display = '';
}
function savePingLog(id) {
	var record = getObj('editbox_' + id).value; 
	ajax.send('pw_ajax.php?action=savepinglog&id=' + id + '&record=' + record, '', function() {
		var rText = ajax.request.responseText;
		if (rText == 'success') {
			getObj('ping_' + id).innerHTML = record;
			getObj('ping_' + id).style.display = '';
			getObj('edit_' + id).style.display = 'none';
		} else {
			ajax.guide();
		}
	});
}
</script>
<!--
EOT;
} elseif ($action == 'inspect') {print <<<EOT
-->
<form action="masingle.php?action=$action" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<input type="hidden" name="step" value="2">
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="pid" value="$pid" />
<input type="hidden" name="page" value="$page" />
<input type="hidden" name="p" value="$p" />
<div class="t">
<table width="100%" cellspacing="0" cellpadding="0">
	<tr><th class="h" colspan="2">版主已閱操作</th></tr>
	<tr class="tr3"><td width="80">消息通知:</td>
		<td><label class="mr20"><input type="radio" name="ifmsg" value="1" checked />開啟</label>
			<label class="mr20"><input type="radio" name="ifmsg" value="0" />關閉</label>
		</td>
	</tr>
	<tr class="tr3 vt"><td>操作原因:</td>
		<td>
		<p><input type="text" class="input" style="width:312px;" name="atc_content" /></p>
		<select name="" size="6" multiple onchange="this.form.atc_content.value=this.value" style="width:320px;">
				$reason_sel
			</select>
		</td>
	</tr>
	<tr><td></td><td style="padding:5px 6px;">
<!--
EOT;
if ($iftypeavailable == 1) {print <<<EOT
-->
	<label class="mr10"><input type="checkbox" name="nextto" value="type">&nbsp;轉移主題分類</label>
<!--
EOT;
}print <<<EOT
-->
<span class="btn2"><span><button type="submit">提 交</button></span></span><span class="bt2"><span><button type="button" onclick="javascript:history.go(-1)">返 回</button></span></span></td></tr>
</table></div>
</form>
<!--
EOT;
}print <<<EOT
-->
</div>
<!--
EOT;
?>-->