<!--<?php
$payResult = $payResult=='10'?'支付成功!':'支付失敗!';print <<<EOT
-->
<div id="breadCrumb">
<img src="$imgpath/$stylepath/thread/home.gif" class="breadHome" /><em class="breadEm"></em><a href="$db_bfn" title="$db_bbsname">$db_bbsname</a><em>&gt;</em>快錢支付
</div>
<div class="t" style="margin-top:15px">
<table cellPadding="0" cellSpacing="0" width="100%" align="center">
<tr><td class="h" colspan="2"> 您網上在線支付情況反饋如下:</td></tr>
<tr class="tr3"><th width="20%">定單號:</th>
<th>$orderId</th></tr>
<tr class="tr3"><th>支付金額:</th>
<th> $payamount &nbsp; 元</th></tr>
<tr class="tr3"><th>成功與否:</th>
<th> $payResult </th></tr>
</table></div>
<!--
EOT;
?>-->