<!--<?php
print <<<EOT
-->
<div style="width:300px;">
<div class="popTop" onmousedown="read.move(event);" style="cursor:move"><a href="javascript:;" onclick="closep();" class="adel">刪除</a>{$descript}</div>
<form action="login.php?" method="post" name="login"><input type="hidden" value="" name="forward" /><input type="hidden" value="$jumpurl" name="jumpurl" /><input type="hidden" value="2" name="step" />
<div class="p20">
<table>
	<tr>
		<td width="80">
<!--
EOT;
if (S::inArray($db_logintype, array(1, 2, 4))) {
$loginTypeName = array(1 => array('用戶名', 0), 2 => array('UID', 1), 4 => array('電子郵箱', 2));
print <<<EOT
-->	
	{$loginTypeName[$db_logintype][0]}
	<input type="hidden" name="lgt" id="lgt" value="{$loginTypeName[$db_logintype][1]}" />
<!--
EOT;
} elseif ($db_logintype > 0 && $db_logintype < 8) {
print <<<EOT
-->
			<select name="lgt">
<!--
EOT;
if ($db_logintype & 1) {print <<<EOT
-->
				<option value="0">用戶名</option>
<!--
EOT;
}if ($db_logintype & 2) {print <<<EOT
-->
				<option value="1">UID</option>
<!--
EOT;
}if ($db_logintype & 4) {print <<<EOT
-->
				<option value="2">電子郵箱</option>
<!--
EOT;
}print <<<EOT
-->
			</select>	
<!--
EOT;
} else {print <<<EOT
-->
			<label for="poppwuser">用戶名</label>
<!--
EOT;
}print <<<EOT
-->
		</td>
		<td><input name="pwuser" type="text" class="input" id="poppwuser" /></td>
	</tr>
	<tr>
		<td><label for="pwpwd">密　碼</label></td>
		<td><input name="pwpwd" type="password" id="pwpwd" class="input" /></td>
	</tr>
<!--
EOT;
if($db_ifsafecv){
print <<<EOT
-->
	<tr>
		<td>安全問題</td>
		<td><p class="mb5"><select name="question" style="width:141px;" onchange="showcustomquest(this.value)">
			<option value="0">無安全問題</option><option value="1">我爸爸的出生地</option><option value="2">我媽媽的出生地</option><option value="3">我的小學校名</option><option value="4">我的中學校名</option><option value="5">我最喜歡的運動</option><option value="6">我最喜歡的歌曲</option><option value="7">我最喜歡的電影</option><option value="8" >我最喜歡的顏色</option><option value="-1">自定義問題</option>
		</select></p>
		<input id="customquest" style="display:none" type="text" name="customquest" class="input" /></td>
	</tr>
	<tr>
		<td><label for="answer">您的答案</label></td>
		<td><input type="text" name="answer" id="answer" class="input" /></td>
	</tr>
<!--
EOT;
}
print <<<EOT
-->
<!--
EOT;
list(,$showq)	= explode("\t",$db_qcheck);
if(($db_ckquestion & 2) && $db_question){
$qkey = array_rand($db_question);
if($db_imagequestion){
	$question = '<img id="ckquestion" src="ckquestion.php?q='.$qkey.'&t='.$timestamp.'" align="top">';
}else{
	$question = $qkey<0 ? getMachineQuestion_1() :  $db_question[$qkey];
}
$q_a = $question.($showq && $qkey>0?" （答案：".$db_answer[$qkey] . '）' : '');
print <<<EOT
-->
			<tr class="vt">
				<td><label for="qanswer">驗證問答</label></td>
				<td><p class="mb5">{$q_a}</p><input class="input input_wa" id="qanswer" type="text" name="qanswer" /><input type="hidden" name="qkey" value="$qkey" /> </td>
			</tr>
<!--
EOT;
}
print <<<EOT
-->
<!--
EOT;
if($db_gdcheck & 2){
$checkCode = L::loadClass('checkcode', 'site');
$checkCodeString = $checkCode->getCheckCodeTemplate();
$time = time();
print <<<EOT
-->
	<tr class="vt">
		<td><label for="gdcode">驗證碼</label></td>
		<td><input class="input" type="text" id="gdcode" name="gdcode" size="5" onfocus="showgd();" />
		<span style="cursor:pointer; margin-left:3px" onclick="showgd();" id="showtips">&nbsp;點此顯示驗證碼</span>
		<div id="ckcode" style="display:none;"></div>
$checkCodeString
		</td>
	</tr>
<!--
EOT;
}
print <<<EOT
-->
	<tr>
		<td>&nbsp;</td>
		<td><span class="btn2" style="margin:0 10px 0 0;"><span><button type="submit">登錄</button></span></span>&nbsp;&nbsp;<a href="sendpwd.php" rel="nofollow">忘記密碼？</a></td>
	</tr>
</table>
</div>
<div class="popBottom tac">沒有帳號？&nbsp;&nbsp;&nbsp;<a href="$regurl" class="s4" rel="nofollow">註冊一個吧!</a></div>
<!--
EOT;
/* platform weibo app --start */
L::loadClass('WeiboLoginViewHelper', 'sns/weibotoplatform/viewhelper', false);
$weiboLoginService = L::loadClass('WeiboLoginService', 'sns/weibotoplatform/service');
$loginWays = $weiboLoginService->getLoginWays();
if ($loginWays) {
print <<<EOT
-->
	<link rel="stylesheet" href="u/images/expand/weibologin.css" />
	<div class="p20">
		<h4>使用合作網站帳號登錄：</h4>
		<ul class="waysList cc">
<!--
EOT;
		foreach ($loginWays as $loginWay) {
			$windowOpenScript = WeiboLoginViewHelper_WindowOpenScript($loginWay['type']);
print <<<EOT
-->
			<li><a class="s4" title="使用{$loginWay['accountTitle']}登錄" href="javascript:;" onclick="$windowOpenScript"><img src="{$loginWay['loginLogo']}" />{$loginWay['accountTitle']}</a></li>
<!--
EOT;
		}
print <<<EOT
-->
		</ul>
	</div>
<!--
EOT;
}
/* platform weibo app --end */

print <<<EOT
-->

<div class="c"></div>
</form>
<script>
function showcustomquest(qid){
	getObj("customquest").style.display = qid==-1 ? '' : 'none';
}
</script>
</div>
<!--
EOT;
?>-->