<!--<?php
print <<<EOT
-->
<div id="breadCrumb">
<img src="$imgpath/$stylepath/thread/home.gif" class="breadHome" /><em class="breadEm"></em><a href="$db_bfn" title="$db_bbsname">$db_bbsname</a><em>&gt;</em>帖子預覽
</div>
<div id="pw_content">
<table width="100%" cellspacing="0" cellpadding="0" style="table-layout:fixed;">
	<tr><td class="h">帖子預覽</td></tr>
	<tr><td style="padding:10px;"><p>$topicvalue</p>$preatc</td></tr>
</table>
</div>
<!--
EOT;
?>-->