<!--<?php
include_once PrintEot('profile_header');
print <<<EOT
-->
<div id="user-main">
	<div class="u-m-bg"></div>
	<div class="u-m-bg2"></div>
	<div class="u-m-bg-c cc">
		<!--左邊欄-->
		<div id="user-sidebar" class="fl">
			<div class="p10">
				<div class="u-face"><img src="$m_faceurl" /></div>
				<div class="tac" style="padding:10px 0"><img src="$imgpath/edit-portrait.png" align="absmiddle" /><a href="profile.php?action=modify&info_type=face">修改頭像</a>&nbsp;&nbsp;&nbsp;<img src="$imgpath/user-home.png"  align="absmiddle" /><a href="u.php">個人空間</a></div>
				<ul class="lh24 bor-t-a pt10">
					<li>系統等級:
<!--
EOT;
if ($groupid == '-1') {print <<<EOT
-->
					普通成員
<!--
EOT;
} else {print <<<EOT
-->
					$ltitle[$groupid]
<!--
EOT;
}print <<<EOT
-->
					</li>
					<li>會員頭銜: {$ltitle[$winddb[memberid]]}</li>
					<li>UID: $winduid</li>
				</ul>
				<div class="c mt10"></div>
				<ul class="lh24 bor-t-a pt10">
					<li>註冊時間: $regdate</li>
					<li>最後登錄: $lastvisit</li>
					<li>在線時間: {$onlinetime}小時</li>
					<li>最後登錄IP:{$winddb[onlineip]}</li>
				</ul>
			</div>
		</div>
		<!--右邊內容-->
		<div id="user-content" class="fr">
			<div class="u-cont-bg"></div>
			<div class="u-cont-bg2"></div>
			<div class="u-cont-bg-c p10" style="border:none;">
				<table width="100%" height="450">
					<tr><td class="vt">
						<div id="u-cont-m" class="fl">
							<h1 class="f20 b p10">{$windid}你好,歡迎回來!</h1>
<!--
EOT;
if ($messageNumber||$noticeNumber||$requestNumber||$groupsmsNumber) {print <<<EOT
-->
							<div class="p10">
								<div class="u-box-a">
									<span class="f14 b lh24">最新消息</span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="message.php" class="green">進入短消息中心&nbsp;&gt;&gt;</a>
									<ul class="pt10 lh24 bor-t-b mt5">
<!--
EOT;
if ($messageNumber){print <<<EOT
-->
									<li><a href="message.php?type=sms" target="_blank">{$messageNumber}條站內信</a></li>
<!--
EOT;
}if($noticeNumber){print <<<EOT
-->
									<li><a href="message.php?type=notice" target="_blank">{$noticeNumber}條通知</a></li>
<!--
EOT;
}if($requestNumber){print <<<EOT
-->
									<li><a href="message.php?type=request" target="_blank">{$requestNumber}條請求</a></li>
<!--
EOT;
}if($groupsmsNumber){print <<<EOT
-->
									<li><a href="message.php?type=groupsms" target="_blank">{$groupsmsNumber}條群組消息</a></li>
<!--
EOT;
}print <<<EOT
-->


									</ul>
								</div>
							</div>
<!--
EOT;
}print <<<EOT
-->
							<div class="p10">
								<div class="u-box-a">
									<span class="f14 b lh24">我的積分</span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="userpay.php?action=buy" class="green">積分充值&nbsp;&gt;&gt;</a>
									<div class="lh24 bor-t-b mt5">
										<ul class="pt10 list-half cc">
											<li>我的積分：$totalcredit</li>
											<li>&nbsp;</li>
<!--
EOT;
foreach ($credit->cType as $key => $value) {
isset($usercredit[$key]) || $usercredit[$key] = 0;
print <<<EOT
-->
											<li>$value: $usercredit[$key] {$credit->cUnit[$key]}</li>
<!--
EOT;
}print <<<EOT
-->
										</ul>
									</div>
								</div>
							</div>
							<div class="p10">
								<div class="u-box-a">
									<span class="f14 b lh24">我的資料</span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="profile.php?action=modify" class="green">修改資料&nbsp;&gt;&gt;</a>
									<div class="lh24 bor-t-b mt5">
										<ul class="pt10 list-half cc">
											<li>生日：{$winddb[bday]}</li>
											<li>來自：{$winddb[location]}</li>
											<li>精華帖子：{$winddb[digests]}</li>
											<li>電子郵箱：{$winddb[email]}</li>
											<li>平均發帖：{$averagepost}（今日：{$winddb[todaypost]}）</li>
											<li>個人主頁：{$winddb[site]}</li>
											<li style="height:auto;width:100%;">自我簡介：<p class="lh18">{$winddb[introduce]}</p></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div id="u-cont-sidebar" class="fr">
							<div class="u-box-b mt5">
								<div class="u-box-b-bg">
									<h2><span class="b">我的隱私</span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="profile.php?action=privacy" class="green">設置隱私&nbsp;&gt;&gt;</a></h2>
									<div class="p10">
										<dl>
											<dt><a href="profile.php?action=privacy#space" class="unline">個人空間隱私</a></dt>
											<dd>
<!--
EOT;
if ($winddb['index_privacy'] == 1) {print <<<EOT
-->
												僅朋友可見
<!--
EOT;
} elseif ($winddb['index_privacy'] == 2) {print <<<EOT
-->
												僅自己可見
<!--
EOT;
} else {print <<<EOT
-->
												任何人可見
<!--
EOT;
}print <<<EOT
-->
											</dd>
										</dl>
										<dl>
											<dt><a href="profile.php?action=privacy#friend" class="unline">加好友隱私</a></dt>
											<dd>
<!--
EOT;
if ($friendcheck == 1) {print <<<EOT
-->
												需要身份驗證才能加我為好友
<!--
EOT;
} elseif ($friendcheck == 2) {print <<<EOT
-->
												不允許任何人加我為好友
<!--
EOT;
} else {print <<<EOT
-->
												允許任何人加我為好友
<!--
EOT;
}print <<<EOT
-->
											</dd>
										</dl>
										<!-- <dl>
											<dt><a href="#" class="unline">應用隱私</a></dt>
											<dd>相冊、日誌、記錄設置了隱私</dd>
										</dl>
										<dl>
											<dt><a href="#" class="unline">動態隱私</a></dt>
											<dd>發新帖、分享、上傳照片、加入群組等設置了隱私</dd>
										</dl>
										<dl>
											<dt><a href="#" class="unline">黑名單</a></dt>
											<dd>目前還沒有設置黑名單成員</dd>
										</dl> -->
									</div>
								</div>
							</div>
						</div>
					</td></tr>
				</table>
			</div>
			<div class="u-cont-bg2"></div>
			<div class="u-cont-bg"></div>
		</div>
	</div>
	<div class="u-m-bg"></div>
</div>
<!--
EOT;
?>-->