<!--<?php
include_once PrintEot('profile_header');
$_P = array('0'=>'<font color="red" size="+">&#215;</font>','1'=>'<font color="green" size="+">√</font>');
print <<<EOT
-->
<div id="user-main">
	<div class="u-m-bg"></div>
	<div class="u-m-bg-c cc">
		<div class="p10">
			<div class="u-nav-2 cc">
				<ul>
					<li class="current"><a style="cursor:pointer" hidefocus="true">權限查看</a></li>
					<li><a style="cursor:pointer" href="profile.php?action=buy" hidefocus="true">特殊組購買</a></li>
				</ul>
			</div>
			<div class="u-cont-bg-c" style="overflow:hidden;">
			<table width="100%" height="450">
				<tr><td class="vt">
					<div id="u-menubar" class="fr">
<!--
EOT;
if (empty($fid)) {print <<<EOT
-->
						<div class="u-nav-4">
							<h3>我擁有的權限有</h3>
							<ul class="lh24">
<!--
EOT;
foreach($mygpdb as $key => $value){print <<<EOT
-->
								<li id="myg_$key"><a href="profile.php?action=permission&gid=$key">$value</a></li>
<!--
EOT;
}print <<<EOT
-->
							</ul>
<!--
EOT;
if(!empty($_gmember)){print <<<EOT
-->
							<h3>會員組權限查看</h3>
							<ul class="lh24">
<!--
EOT;
foreach($_gmember as $key => $value){print <<<EOT
-->
								<li id="sg_$key"><a href="profile.php?action=permission&gid=$key">$value[title]</a>：$value[post]</li>
<!--
EOT;
}print <<<EOT
-->
							</ul>
<!--
EOT;
}if(!empty($_gsystem)){print <<<EOT
-->
							<h3>系統組權限查看</h3>
							<ul class="lh24">
<!--
EOT;
foreach($_gsystem as $key => $value){print <<<EOT
-->
								<li id="sg_$key"><a href="profile.php?action=permission&gid=$key">$value[title]</a></li>
<!--
EOT;
}print <<<EOT
-->
							</ul>
<!--
EOT;
}if(!empty($_gspecial)){print <<<EOT
-->
							<h3>特殊組權限查看</h3>
							<ul class="lh24">
<!--
EOT;
foreach($_gspecial as $key => $value){print <<<EOT
-->
								<li id="sg_$key"><a href="profile.php?action=permission&gid=$key">$value[title]</a></li>
<!--
EOT;
}print <<<EOT
-->
							</ul>
<!--
EOT;
}print <<<EOT
-->
						</div>
<script>
setCurrent('myg_{$gid}', '', 'current');
setCurrent('sg_{$gid}', '', 'current');
</script>
<!--
EOT;
}print <<<EOT
-->
					</div>
					<div class="fl" style="width:740px;">
					<div class="p15" style="padding-right:0;">
						<div class="u-nav-3">
							<ul class="fl cc">
<!--
EOT;
if ($fid) {print<<<EOT
-->
								<li class="current"><a href="profile.php?action=permission&fid=$fid"><span>版塊權限（$per[name]）</span></a></li>
								<li><a href="profile.php?action=permission" style="cursor:pointer"><span>查看用戶權限（{$gp_grouptitle}）</span></a></li>
<!--
EOT;
} else {print <<<EOT
-->
								<li class="current"><a href="profile.php?action=permission"><span>用戶權限</span></a>（現使用的級別為：{$gp_grouptitle}）</li>
<!--
EOT;
}print <<<EOT
-->
							</ul>
						</div>
						<div class="c"></div>
<!--
EOT;
if ($fid) {print<<<EOT
-->
						<table width="100%" class="mt10 bor-t-c" style="TABLE-LAYOUT: fixed;WORD-WRAP: break-word;">
							<tr class="user-tr"><td colspan="5"><b>版塊基本權限</b></td></tr>
							<tr class="user-tr">
								<td>瀏覽版塊</td>
								<td>發表主題</td>
								<td>回復主題</td>
								<td>上傳附件</td>
								<td>下載附件</td>
							</tr>
							<tr class="user-tr">
								<td>{$_P[$per[visit]]}</td>
								<td>{$_P[$per[post]]}</td>
								<td>{$_P[$per[rp]]}</td>
								<td>{$_P[$per[down]]}</td>
								<td>{$_P[$per[upload]]}</td>
							</tr>
						</table>
						<table width="100%" class="mt10 bor-t-c" style="TABLE-LAYOUT: fixed;WORD-WRAP: break-word;">
							<tr class="user-tr"><td colspan="7"><b>版塊積分設置</b></td></tr>
							<tr class="user-tr">
								<td width="8%">積分名稱</td>
								<td width="15%">精華主題</td>
								<td width="15%">取消精華</td>
								<td width="15%">發表主題</td>
								<td width="15%">刪除主題</td>
								<td>發表回復</td>
								<td>刪除回復</td>
							</tr>
<!--
EOT;
foreach($forumright as $key=>$val){print <<<EOT
-->
							<tr class="user-tr">
								<td>{$credit->cType[$key]}</td>
								<td>{$val[Digest]}</td>
								<td>{$val[Undigest]}</td>
								<td>{$val[Post]}</td>
								<td>{$val[Delete]}</td>
								<td>{$val[Reply]}</td>
								<td>{$val[Deleterp]}</td>
							</tr>
<!--
EOT;
}print <<<EOT
-->
						</table>
<!--
EOT;
} else {print <<<EOT
-->
						<table width="100%" class="mt10 bor-t-c">
							<tr class="user-tr"><td>
								綜合積分：$totalcredit&nbsp;(&nbsp;
								綜合積分 =
<!--
EOT;
$cNames = array('postnum' => '發帖數', 'digests' => '精華', 'onlinetime' => '會員的歷史在線時間') + $cNames;
$add = '';
foreach ($upgradeset as $key => $value) {
if ($value) {print <<<EOT
-->
								$add $cNames[$key]*$value
<!--
EOT;
$add = '+';
}}print <<<EOT
-->)
								</td>
							</tr>
						</table>
						<table width="100%" style="table-layout:fixed;">
							<tr class="user-tr"><td colspan="8" class="b">資料權限</td></tr>
							<tr class="user-tr">
								<td>隱身登錄</td>
								<td>瀏覽帖子</td>
								<td>搜索權限</td>
								<td>會員列表</td>
								<td>會員資料</td>
								<td>舉報功能</td>
								<td>頭像上傳</td>
                                <td>自定義頭像</td>
							</tr>
							<tr class="user-tr">
								<td>{$_P[$per[hide]]}</td>
								<td>{$_P[$per[read]]}</td>
								<td>{$_P[$per[search]]}</td>
								<td>{$_P[$per[member]]}</td>
								<td>{$_P[$per[profile]]}</td>
								<td>{$_P[$per[report]]}</td>
								<td>{$_P[$per[upload]]}</td>
                                <td>{$_P[$per[portait]]}</td>
							</tr>
							<tr class="user-tr">
								<td>統計排行</td>
								<td>發消息</td>
								<td>消息上限</td>
								<td>收藏夾容量</td>
								<td>草稿箱容量</td>
								<td>簽名大小上限</td>
                                <td colspan="2"></td>
							</tr>
							<tr class="user-tr">
								<td>{$_P[$per[sort]]}</td>
								<td>{$_P[$per[messege]]}</td>
								<td>{$per[maxmsg]}</td>
								<td>{$per[maxfavor]}</td>
								<td>{$per[maxgraft]}</td>
								<td>{$per[signnum]}</td>
                                <td colspan="2"></td>
							</tr>
							<tr class="user-tr"><td colspan="8" class="b">版塊權限</td></tr>
							<tr class="user-tr">
								<td>發表主題</td>
								<td>回復主題</td>
								<td>發起投票</td>
								<td>參與投票</td>
								<td>查看投票</td>
								<td>發html帖</td>
								<td>發隱藏帖</td>
								<td>發出售帖</td>
							</tr>
							<tr class="user-tr">
								<td>{$_P[$per[post]]}</td>
								<td>{$_P[$per[rp]]}</td>
								<td>{$_P[$per[newvote]]}</td>
								<td>{$_P[$per[vote]]}</td>
								<td>{$_P[$per[vwvt]]}</td>
								<td>{$_P[$per[html]]}</td>
								<td>{$_P[$per[hidden]]}</td>
								<td>{$_P[$per[sell]]}</td>
							</tr>
							<tr class="user-tr">
								<td>評分權限</td>
								<td>發活動帖</td>
								<td>發懸賞帖</td>
								<td>發匿名帖</td>
								<td>樓主留言</td>
								<td colspan="3"></td>
							</tr>
							<tr class="user-tr">
								<td>{$_P[$per[mark]]}</td>
								<td>{$_P[$per[active]]}</td>
								<td>{$_P[$per[reward]]}</td>
								<td>{$_P[$per[anonymous]]}</td>
								<td>{$_P[$per[leaveword]]}</td>
								<td colspan="3"></td>
							</tr>
							<tr class="user-tr"><td colspan="8" class="b">附件權限</td></tr>
							<tr class="user-tr">
								<td>上傳附件</td>
								<td>{$_P[$per[attach]]}</td>
								<td colspan="2">附件個數</td>
								<td>$per[allownum]</td>
								<td colspan="3" class="tal"></td>
							</tr>
							<tr class="user-tr">
								<td>下載附件</td>
								<td>{$_P[$per[down]]}</td>
								<td colspan="6" class="tal"></td>
							</tr>
							<tr class="user-tr">
								<td colspan="2" style="vertical-align:top;width:150px;">附件允許後綴</td>
								<td colspan="6">$per[uptype]</td>
							</tr>
						</table>
<!--
EOT;
}print <<<EOT
-->
					</div>
					</div>
				</td></tr>
			</table>
			</div>
		</div>
	</div>
	<div class="u-m-bg"></div>
</div>
<!--
EOT;
?>-->