<!--<?php
print <<<EOT
-->
<form action="active.php?action=apply" method="post">
<div class="t" style="margin-bottom:0;">
<table width="100%" align="center" cellspacing="0" cellpadding="0">
<tr class="tr3"><th>活動標題:</th><td style="text-align:left;padding-left:1em;">$subject
<!--
EOT;
if($endtime < $timestamp){print<<<EOT
-->
<span style="color:red;">（活動已結束）</span>
<!--
EOT;
}print<<<EOT
-->
</td></tr>
<tr class="tr3">
	<th>活動時間:</th>
	<td>$active_starttime &nbsp;-&nbsp; $active_endtime</td>
</tr>
<tr class="tr3">
	<th>活動地點:</th>
	<td>$active_location</td>
</tr>
<tr class="tr3">
	<th>人數限制:</th>
	<td>$active_num</td>
</tr>
<tr class="tr3">
	<th>已確認參加人數:</th>
	<td>$act_y 人，[共計報名:$act_total]
<!--
EOT;
if($authorid==$winduid){ print <<<EOT
-->
[<a href="active.php?action=view&tid=$tid"><font color="red">管理</font></a>]
<!--
EOT;
} print <<<EOT
-->
	</td>
</tr>
<tr class="tr3">
	<th>性別要求:</th>
<!--
EOT;
if($active_sexneed=='1'){ print <<<EOT
-->
	<td>僅限男性</td>
<!--
EOT;
}elseif($active_sexneed=='2'){ print <<<EOT
-->
	<td>僅限女性</td>
<!--
EOT;
}else{ print <<<EOT
-->
	<td>男女不限</td>
<!--
EOT;
} print <<<EOT
-->
</tr>
<tr class="tr3">
	<th>活動費用:</th>
	<td>$active_costs 元</td>
</tr>
<tr class="tr3">
	<th>報名截止日期:</th>
	<td>$active_deadline</td>
</tr>
<tr class="tr3">
	<th>已參加活動成員:</th>
	<td>
<!--
EOT;
foreach($actuserdb as $key => $value){print<<<EOT
-->
	<a href="{$db_userurl}$value[winduid]">{$value[username]}</a>&nbsp;
<!--
EOT;
}print<<<EOT
-->&nbsp;
</td>
</tr>
<tr class="tr2"><td style="border-bottom:0;">&nbsp;</td><td style="border-bottom:0;">
<!--
EOT;
if(!$actmen){print <<<EOT
-->
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="fpage" value="$fpage" />
<input class="btn" type="submit" value="我要參加" />
<!--
EOT;
}elseif($actmen['state']==0){print <<<EOT
-->
<div>您的申請已提交，請等候回音！</div>
<!--
EOT;
}elseif($actmen['state']==1){ print <<<EOT
-->
<div>您已被批准參加此次活動，<a href="active.php?action=view&tid=$tid"><font color="blue">查看詳情</font></a></div>
<!--
EOT;
}else{print <<<EOT
-->
<div>您的申請沒有通過！</div>
<!--
EOT;
} print <<<EOT
--></td></tr>
</table></div>
</form>
<!--
EOT;
?>
