<!--<?php
$tradeDegree = $tradedb['degree'] ? '二手' : '全新';
$tradeIcon = $tradedb['icon'] ? $tradedb['icon'] : 'images/imgdel_h200.jpg';
print <<<EOT
-->
<!--商品開始-->
		<div class="goodsPost f12">
			<h5><span class="s4 mr5">[{$tradeDegree}]</span>{$tradedb[name]}</h5>
			<table width="100%" class="vt mb10">
				<tr>
					<th width="212"><div class="goodsPost_player" style="background:#fff url({$tradeIcon}) center center no-repeat;"></div></th>
					<td>
						<ul>
							<li class="r_two"><em>一&nbsp;&nbsp;口&nbsp;&nbsp;價：</em><strong class="f16 s2">￥{$tradedb[costprice]}</strong></li>
							<li><em>市&nbsp;&nbsp;場&nbsp;&nbsp;價：</em><del>￥{$tradedb[price]}</del></li>
							<li class="r_two"><em>運　　費：</em><!--
EOT;
if ($tradedb['transport']) {print <<<EOT
-->
			<span class="mr20">平郵: $tradedb[mailfee]元<span>&nbsp;</span>快遞:$tradedb[expressfee]元<span>&nbsp;</span>EMS:$tradedb[emsfee]元</span>
<!--
EOT;
} else {print <<<EOT
-->
			<span class="mr20">賣家承擔</span>
<!--
EOT;
}print <<<EOT
--><em>所&nbsp;&nbsp;在&nbsp;&nbsp;地：</em>{$tradedb[locus]}</li>
							<li><em>付款方式：</em><!--
EOT;
if ($tradedb['paymethod'] & 1) {print <<<EOT
-->
			線下交易<!--
EOT;
}if ($tradedb['paymethod'] & 2) {print <<<EOT
-->
			支付寶交易<!--
EOT;
}
!$tradedb[salenum2] && $tradedb[salenum2] = 0;
print <<<EOT
-->
							</li>
							<li class="r_two"><em>商品數量：</em>$tradedb[num] 件</li>
							<li><em>累計售出：</em><span class="b">$tradedb[salenum2]</span>&nbsp;件</li>
						</ul>
					</td>
				</tr>
			</table>
			<div class="tac"><span class="btn"><span><button onclick="location.href='trade.php?action=buy&tid=$tid';return false;">我要購買</button></span></span></div>
		</div>
<!--
EOT;
?>