<!--<?php
print <<<EOT
-->
<div id="breadCrumb">
<img src="$imgpath/$stylepath/thread/home.gif" class="breadHome" /><em class="breadEm"></em><a href="$db_bfn" title="$db_bbsname">$db_bbsname</a><em>&gt;</em>電子郵件重發
</div>
<form action="remail.php" method="post">
<div class="t" style="margin-top:15px">
<table width="100%" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td colspan="2" class="h">電子郵件重發</td>
	</tr>
	<tr class="tr3 tr">
		<th width="21%">用戶名</th>
		<th width="*">$username</th>
	</tr>
	<tr class="tr3 tr">
		<th>密&#160;&#160;碼</th>
		<th><input class="input" type="password" name="password" size="40" /></th>
	</tr>
	<tr class="tr3 tr">
		<th>填寫原電子郵箱地址</th>
		<th><input class="input" type="text" name="rg_email" size="40" /></th>
	</tr>
	<tr class="tr3 tr">
		<th>填寫新電子郵箱地址!<br />留空，則發往原電子郵箱地址</th>
		<th><input class="input" type="text" name="to_email" size="40" /></th>
	</tr>
</table></div>
<input type="hidden" name="step" value="3" />
<input type="hidden" name="uid" value="$uid" />
<div style="text-align:center;margin-bottom:25px;"><input class="btn" type="submit" value="提 交" /></div>
</form>
<!--
EOT;
?>-->