<!--<?php
print <<<EOT
-->
<div id="breadCrumb">
<img src="$imgpath/$stylepath/thread/home.gif" class="breadHome" /><em class="breadEm"></em><a href="$db_bfn" title="$db_bbsname">$db_bbsname</a><em>&gt;</em>懸賞帖管理
</div>
<!--
EOT;
if($action=='reward'){ print <<<EOT
-->
<form name="FORM" action="job.php?action=reward" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<div class="t" style="padding-top:0;">
	<div class="h" style="border-top:0 none;">懸賞帖管理</div>
	<div class="p10 f_two" style="border-bottom:1px dashed $tdcolor;">
		評選「最佳答案」前請先評選「熱心助人」！<br />「最佳答案」的評定意味著懸賞的結束，如您未能在評選「最佳答案」前評選出「熱心助人」，則熱心助人將按照發帖順序給分，每樓給1分，直至熱心助人分全部用完。
	</div>
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr3">
			<td width="80">操作者</td>
			<td><a href="{$db_userurl}$winduid">$windid</a></td>
		</tr>
		<tr class="tr3">
			<td>作者</td>
			<td><a href="{$db_userurl}$rt[authorid]">$rt[author]</a></td>
		</tr>
		<tr class="tr3">
			<td>操作類型:</td>
			<td><label class="mr20"><input type="radio" name="type" value="1" $sel_1 />最佳答案</label><label><input type="radio" name="type" value="2" $sel_2 />熱心助人</label></td>
		</tr>
		<tbody id="ifmsg">
			<tr class="tr3">
				<td>消息通知</td>
				<td><label class="mr20"><input type="radio" name="ifmsg" value="1" checked />開啟</label><label class="mr20"><input type="radio" name="ifmsg" value="0" />關閉</label></td>
			</tr>
		</tbody>
		<tr>
				<td>&nbsp;</td>
				<td class="p10">
					<span class="btn2"><span><button type="submit">提 交</button></span></span>
					<span class="bt2"><span><button type="button" onclick="javascript:history.go(-1);">返 回</button></span></span>
				</td>
			</tr>
	</table>
</div>
<input type="hidden" name="page" value="$page" />
<input type="hidden" name="pid" value="$pid" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="step" value="3" /></form>
<!--
EOT;
}elseif($action=='endreward'){print <<<EOT
-->
<form action="job.php?action=endreward" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<div class="t" style="padding-top:0;">
	<div class="h" style="border-top:0 none;">懸賞帖管理</div>
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr3">
			<th width="100">操作者</th>
			<th><a href="{$db_userurl}$winduid">$windid</a></th>
		</tr>
		<tr class="tr3">
			<th>作者</th>
			<th><a href="{$db_userurl}$rt[authorid]">$rt[author]</a></th>
		</tr>
		<tr class="tr3 vt">
			<th>操作類型:</th>
			<th><p class="mb5"><label class="mr20"><input type="radio" name="type" value="2" checked />強行結案 (強制結束懸賞，不返還用戶懸賞的積分)</label></p>
			<label><input type="radio" name="type" value="1" />取消懸賞 (取消該懸賞帖，返還用戶懸賞的積分)</label></th>
		</tr>
		<tr class="tr3">
			<th>消息通知</th>
			<th><label class="mr20"><input type="radio" name="ifmsg" value="1" checked />開啟</label><label class="mr20"><input type="radio" name="ifmsg" value="0" />關閉</label></th>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<th class="p10"><span class="btn2"><span><button type="submit">提 交</button></span></span><span class="bt2"><span><button type="button" onclick="javascript:history.go(-1);">返 回</button></span></span></th>
		</tr>
	</table>
</div>
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="step" value="3" /></form>
<!--
EOT;
}?>-->