<!--<?php print <<<EOT
-->
<!--main begin-->
<div class="main cc sideClose">
	<div class="grid_3 cc mb20">
		<div class="cm">
			<div class="cw cc">
			<div class="main_min">
		<div class="dlA">
<!--
EOT;
if ($adverts) {print <<<EOT
-->
	
<!--
EOT;
	foreach ($adverts as $advert) {
	print <<<EOT
-->
				<div class="promotion">
					$advert
				</div>
<!--
EOT;
	}print <<<EOT
-->
<!--
EOT;
}print <<<EOT
-->

<!-- 
EOT;
foreach($diarys as $diary){
$diary[dtid] = $diary[dtid] == 0 ? '-1' : $diary[dtid];
print <<<EOT
-->    

			<dl>
				<dt><a href="apps.php?q=diary&uid={$diary[uid]}&a=detail&did={$diary[did]}" class="tlink" target="_blank">$diary[subject]</a></dt>
				<dd>
					<div class="num">$diary[c_num]條回復 - $diary[r_num]次瀏覽</div>
					<div class="text">$diary[content]</div>
					<div class="author"><cite>$diary[postdate] - </cite>作者：<a href="{$db_userurl}{$diary[uid]}" target="_blank">$diary[username]</a></div>
				</dd>
			</dl>

<!-- 
EOT;
}
print <<<EOT
-->  			
			
			
			<div class="mb20">
			<div class="pages">
                   $pager
                </div>
				<div class="c"></div>
			</div>
		</div>
		</div>
<!--
EOT;
require printEOT('searcher_searchinput');
print <<<EOT
-->
			</div>
		</div>
		<div class="sd">
			<div class="sidebar">
<!--
EOT;
list($htmlAdvert,$arrayAdvert) = pwAdvert('Site.Search.Diary.Right','');
if($htmlAdvert){print <<<EOT
-->
<div style="height:200px;width:200px;">
<div class="tac mb5">$htmlAdvert</div>
</div>
<!--
EOT;
}print <<<EOT
-->
	<div class="boxA">
		<h2><a href="searcher.php?type=diary&keyword={$keyword}&step=2&diaryrange=$diaryrange">全部時間</a></h2>
		<ul>	
<!-- 
EOT;
if ($timesFilterList) {
    $filterDateUrl = "searcher.php?type=diary&keyword={$keyword}&step=2&diaryrange=$diaryrange&";
    foreach ($timesFilterList as $key=>$value) {
print <<<EOT
-->
            <li id="posttime_{$value['starttime']}"><a href="{$filterDateUrl}diarystarttime={$value[starttime]}&diaryendtime={$value[endtime]}&">$value[title]</a></li>
<!--
EOT;
    }
}
print <<<EOT
-->
            
            
		</ul>
		<script>setCurrent('posttime_{$diarystarttime}','','current');</script>
<!--
EOT;
if($hotwords){
print <<<EOT
-->     
					
		<h2><a>熱門搜索</a></h2>
		<ul>
<!-- 
EOT;
foreach($hotwords as $hotword){
print <<<EOT
-->
		<li><a href="searcher.php?keyword={$hotword}&type=diary">$hotword</a></li>
<!-- 
EOT;
}
print <<<EOT
--> 
							
		</ul>
				
<!-- 
EOT;
}
print <<<EOT
-->
		
	</div>
			</div>
		</div>
	</div>
</div>
<!--
EOT;
?>