<!--<?php print <<<EOT
-->

<!--main begin-->

<div class="forum_main main_min">
<!-- 
EOT;
foreach($forums as $forum){
print <<<EOT
-->
	<dl class="cc">
		<dt><a href="thread.php?fid={$forum[fid]}" target="_blank"><img src="$forum[logo]"></a></dt>
		<dd>
			<div class="name cc"><a href="thread.php?fid={$forum[fid]}" class="f14 b" target="_blank">$forum[name]</a>
			<span id="favorforum{$forum[fid]}">
<!--
EOT;
if ($forum['favor']) {print <<<EOT
-->
			<a href="javascript:favorforum($forum[fid]);" class="keepon" title="將本版塊移出我的書籤">取消收藏</a>
<!--
EOT;
} else {print <<<EOT
-->
			<a href="javascript:favorforum($forum[fid]);" class="keep" title="將本版塊添加到我的書籤">收藏本版</a>
<!--
EOT;
}

$forum[descrip_sub] = substrs($forum[descrip],120);
$forum[descrip_title] = strip_tags($forum[descrip]);
print <<<EOT
-->
</span>
			</div>
			<div title="$forum[descrip_title]">$forum[descrip_sub]</div>
			<div>
<!--
EOT;
if ($forum['admin']) {print <<<EOT
-->
			版主：{$forum['admin']}
<!--
EOT;
}print <<<EOT
-->
			</div>
		</dd>
	</dl>
<!-- 
EOT;
}
print <<<EOT
--> 
	<div class="c"></div>
</div>

<div style="padding:10px 0 20px 20px;">
	$pager
</div>
<div class="p10 cc" style="width:555px;margin-left:auto;margin-right:auto;">
<!--
EOT;
require printEOT('searcher_searchinput');
print <<<EOT
-->
</div>
<script>
function favorforum(fid) {
	ajax.send('pw_ajax.php?action=shortcut&fid='+fid,'',function(){
		ajax.guide();
		var rText = ajax.request.responseText.split('	');
		if (typeof(rText[1]) != 'undefined' && rText[1] == 'successok') {
			getObj('favorforum'+fid).innerHTML = "<a title=\"將本版塊移出我的書籤\" onclick=\"javascript:favorforum("+fid+");\" class=\"keepon\">取消收藏</a>";
		} else if (typeof(rText[1]) != 'undefined' && rText[1] == 'successno') {
getObj('favorforum'+fid).innerHTML = "<a title=\"將本版塊添加到我的書籤\" onclick=\"javascript:favorforum("+fid+");\" style=\"cursor:pointer;\" class=\"keep\">收藏本版</a>";
		
		}
	});
}
</script>
<!--
EOT;
?>
