<!--<?php
print <<<EOT
-->
<center><b>查看完整版本: [-- <a href="thread.php?fid=$fid" target="_blank">$forumname</a> --]</b></center>
<br />
<table cellspacing="1" cellpadding="0" width="$tablewidth" $i_table align="center">
<tr><td><table cellspacing="0" cellpadding="8" width="100%"><tr><td bgcolor="#FFFFFF">
<b><a href="$DIR">$db_bbsname</a> -&gt; <a href="{$DIR}f$fid.html">$forumname</a></b>
</td><td bgcolor="#FFFFFF" align="right"><B>
<!--
EOT;
if (!$winduid) {
print <<<EOT
-->
<A HREF="login.php" rel="nofollow">登錄</A> -&gt; <A HREF="$db_registerfile">註冊</A> -&gt; 
<!--
EOT;
}
print <<<EOT
-->
<A HREF="post.php?fid=$fid">發表主題</A></B></td></tr>
</table></td></tr>
</table>
<br />
<table cellspacing="1" cellpadding="7" width="$tablewidth" $i_table align="center">
<tr><td bgcolor="#FFFFFF">
<center>$pages</center>
<ul type="1" start="$startid">
<!--
EOT;
foreach($threaddb as $thread){print <<<EOT
-->
<li><a href="{$DIR}t$thread[tid].html">$thread[subject]</a> &nbsp; <span class="smalltxt">($thread[replies] 回復)</span></li>
<!--
EOT;
}print <<<EOT
-->
</ul>
</td></tr>
</table>
<br />
<center><b>查看完整版本: [-- <a href="thread.php?fid=$fid" target="_blank">$forumname</a> --] [-- <a href="{$DIR}f$fid.html#">top</a> --]</b></center>
<!--
EOT;
?>-->