<!--<?php
 if ($type != 'listreply') {
print <<<EOT
-->
			<div class="reply_num cc"><span class="fr">共有評論<span id="stopiccommentnum">({$commentNum})</span>條</span>歡迎您：<a href="u.php?uid={$winduid}" target="_blank">$windid</a></div>
<!--
EOT;
}
if ($commentList) {	
	foreach($commentList as $value) {
print <<<EOT
-->	
				<dl class="dl_wrap" id="comment_$value[commentid]">
					<dt class="dt_face"><a href="u.php?uid=$value[uid]" class=" _cardshow" target="_blank" data-card-url="pw_ajax.php?action=smallcard&type=showcard&uid={$value[uid]}" data-card-key="{$value['username']}"><img src="{$value[icon]}" width="48" height="48" /></a></dt>
					<dd class="dd_text">
						<div class="dd_cm">
							<p class="dd_cont"><a href="u.php?uid=$value[uid]" class="s4 _cardshow" target="_blank" data-card-url="pw_ajax.php?action=smallcard&type=showcard&uid={$value[uid]}" data-card-key="{$value['username']}">$value[username]：</a>$value[content] <cite class="gray w">($value[postdate])</cite></p>
							<p class="tar"><a href="javascript:" class="mr10 s7" onclick="getReplyList($value[commentid])">回復<span id="commentnum_{$value[commentid]}">({$value['replynum']})</span></a><input type="hidden" name="status_{$value[commentid]}" id="status_{$value[commentid]}"><!--
EOT;
if (S::inArray($windid,$manager) || $winduid == $value[uid]) {
print <<<EOT
--><span class="mr10 gray">|</span><a href="javascript:" onclick="pwConfirm('是否刪除？',this,function(){delcomment($value[commentid])});" class="s7 mr5">刪除</a>
<!--
EOT;
} print <<<EOT
-->
							</p>
							<div class="dl_reply" id="getreplys_$value[commentid]" style="display:none">
								<ul class="cc mb10"><li class="cc"><p>
									<form method="post" id="addreply_$value[commentid]" name="addreply_$value[commentid]" action="pw_ajax.php?action=stopiccomment&type=addreply" onsubmit="return addReply(this);">
									<input type="hidden" name="commentid" value="{$value[commentid]}">
									<input name="content" id="content_$value[commentid]" type="text" class="input" /><span class="bt2"><span><button  type="submit">回復</button></span></span></p>
									</form>
									</li>
									<div id="listreplys_$value[commentid]" ></div>
								</ul>
							</div>
						</div>
					</dd>
				</dl>
<!--
EOT;
}
print <<<EOT
-->
			<div class="cc">$commentPages</div>
<!--
EOT;
} if ($type == 'listreply') {
	if ($replyList) {
		foreach($replyList as $v) {
print <<<EOT
-->	
									<li id="reply_$v[replyid]"><a href="u.php?uid=$v[uid]" class="mr10 fl" target="_blank"><img src="{$v[icon]}" width="35" height="35" /></a><a href="u.php?uid=$v[uid]" target="_blank" class="s4">$v[username]：</a> $v[content] <cite class="gray w">($v[postdate])</cite><p class="tar"><a href="javascript:" onclick="replycomment('{$v[username]}',getObj('addreply_{$v[commentid]}'))" class="s7">回復</a> 
<!--
EOT;
			if (S::inArray($windid,$manager) || $winduid == $v[uid]) {
print <<<EOT
-->	
							 | <a href="javascript:" onclick="pwConfirm('是否刪除？',this,function(){delreply($v[replyid],$v[commentid])});" class="s7">刪除</a>
<!--
EOT;
			}
print <<<EOT
-->
									</p></li>
<!--
EOT;
		}
	}
}
print <<<EOT
-->
<!--
EOT;
?>-->