<!--<?php
print <<<EOT
-->
<script src="js/Deploy.js"></script>
<link rel="stylesheet" type="text/css" href="$imgpath/g/colony.css" />
<div class="hB mb10">
	<a href="thread.php?cyid=$cyid&showtype=member&a=invite" class="mr10 fr">邀請朋友加入</a>
<!--
EOT;
if ($colony['ifcyer']) {
if ($colony['admin'] != $windid) {print <<<EOT
-->
	<a href="apps.php?q=group&a=out&cyid=$cyid" onclick="return ajaxurl(this);" class="mr10 fr">退出群組</a>
<!--
EOT;
}} else {print <<<EOT
-->
	<a href="apps.php?q=group&a=join&cyid=$cyid&frombbs=1" onclick="return ajaxurl(this);" class="mr10 fr">+申請加入</a>
<!--
EOT;
}print <<<EOT
-->
	<ul class="tabB cc" style="padding-left:0;">
		<li id="g_colony"><a href="thread.php?cyid=$cyid" hidefocus="true">$colony[cname]</a></li>
<!--
EOT;
foreach ($newColony->right['modeset'] as $key => $value) {
if ($key != 'thread' && $value['ifopen']) {
print <<<EOT
-->
		<li id="g_{$key}"><a href="thread.php?cyid=$cyid&showtype=$key" hidefocus="true">{$value['title']}</a></li>
<!--
EOT;
}}if ($ifadmin) {print <<<EOT
-->
		<li id="g_set"><a href="thread.php?cyid=$cyid&showtype=set" hidefocus="true">管理</a></li>
<!--
EOT;
}$tmpAction = ($showtype == 'galbum') ? 'q=galbum&' : ('q=group&' . (in_array($showtype, array('write','member','active','set')) ? "a=$showtype&" : ''));
if(empty($colony['viewtype'])){
print <<<EOT
-->
		<li class="forums"><a href="apps.php?{$tmpAction}cyid=$cyid{$tmpUrlAdd}" hidefocus="true"><span class="s2 cp">切換至群組視圖</span></a></li>
<!--
EOT;
}print <<<EOT
-->
	</ul>
	<script type="text/javascript">setCurrent('g_{$showtype}','g_colony','current')</script>
</div>
<!--
EOT;
if (!$showtype) {print <<<EOT
-->
<div class="threadInfo mb10">
    <table width="100%" style="table-layout:fixed;">
        <tr class="vt">
            <td width="115" class="tac"><img src="$colony[cnimg]" style="width:90px;height:90px;" /></td>
            <td style="padding-right:10px;">
            	<p class="mb5 f14 b">$colony[cname]</p>
                <p class="mb5">$colony[descrip]</p>
                <p class="mb5">分類：<span class="mr20"><a href="group.php?q=all&styleid={$colony['styleid']}" target="_blank" class="s4">{$o_styledb[$colony['styleid']]['cname']}</a></span>創建：<span class="mr20 s4">$colony[createtime_s]</span>成員：<span class="mr20 s4"><a href="thread.php?cyid=$cyid&showtype=member">$colony[members]</a></span>積分：<span class="mr20">$colonyNums</span></p>
                <p class="mb5">
					群主：<span class="mr20"><a href="u.php?username=$colony[admin]" target="_blank" title="{$colony[admin]}" class="s4">$colony[admin]</a></span>
<!--
EOT;
if (count($magdb) > 1) {print <<<EOT
-->
					管理員：<span class="mr20">
<!--
EOT;
foreach ($magdb as $key => $value) {
if ($value['username'] != $colony['admin']) {print <<<EOT
-->
						<a href="{$db_userurl}$key" target="_blank">{$value['username']}</a>
<!--
EOT;
}}print <<<EOT
-->
					</span>
<!--
EOT;
}print <<<EOT
-->
							</p>
            </td>
        </tr>
    </table>
</div>
<!--
EOT;
if ($colony['annouce'] && ($colony['ifannouceopen'] || $colony['ifFullMember'])) {print <<<EOT
-->
<div style="padding:0 10px 10px;">
	<div class="h">
		<a class="fr closeicon" href="javascript:;" onclick="return IndexDeploy('thread',0);"><img alt="展開收起" id="img_thread" src="$imgpath/$stylepath/index/cate_$thread_img.gif" /></a>
		<strong>群公告</strong>
	</div>
	<div id="cate_thread" style="$cate_thread">
		<div id="tab_1">
			<table width="100%" style="table-layout:fixed;">
				<tr>
					<td>
						<div class="p10">$annouce</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<!--
EOT;
}}?>