<!--<?php
if ($job == 'join'){print <<<EOT
-->
<form action="{$basename}a=$a&job=$job&cyid=$cyid" method="post" onsubmit="return false;">
<input type="hidden" name="verify" value="$verifyhash" />
<input type="hidden" name="id" value="$id">
<input type="hidden" name="step" value="1">
<table width="100%" cellspacing="0" cellpadding="5">
	<tr>
		<th class="h" colspan="3" style="cursor:move" onmousedown="read.move(event);"><span class="fr" style="margin-top:2px;cursor:pointer" onclick="closep();"><span class="tanchu2close" valign="top"><a style="margin-top:5px;*margin-top:5px;">&nbsp;</a></span></span>活動報名</th>
	</tr>
	<tr><td align="right">說明： </td><td>帶<font color="red">*</font>為必填選項</td></tr>
	<tr><td align="right">真實姓名：<font color="red">*</font></td><td><input type="text" name="realname" class="input" /></td></tr>
	<tr><td align="right">手機：<font color="red">*</font></td><td><input type="text" name="phone" class="input" /></td></tr>
	<tr><td align="right">電話： </td><td><input type="text" name="mobile" class="input" /></td></tr>
	<tr><td align="right">地址： </td><td><input type="text" name="address" class="input" /></td></tr>
	<tr><td align="right">匿名： </td><td><input type="checkbox" name="anonymous" value="1"  checked/><span class="gray">(僅發起人可見)</span></td></tr>
</table>
<div style="background:#eee; padding:5px;">
<center><input type="button" class="btn" name="ajaxsubmit" onclick="ajax.submit(this.form);" value="確認報名" /></center></div>
<!--
EOT;
} elseif ($job == 'quit') {print <<<EOT
-->
<form action="{$basename}a=$a&job=$job&cyid=$cyid" method="post" onsubmit="return false;">
<input type="hidden" name="verify" value="$verifyhash" />
<input type="hidden" name="id" value="$id">
<input type="hidden" name="step" value="1">
<div style="width:350px;" class="cc">
	<div class="p10 b f14">退出活動後，你的報名信息將被刪除。如需退款請與活動發起人聯繫。</div>
	<div class="p10 fr">
	<span class="button"><span><button type="button" onclick="ajax.submit(this.form)">退 出</button></span></span>
	<span class="button2"><span><button type="button" onclick="closep();">取消</button></span></span>
	</div>
</div>
</form>
<!--
EOT;
} elseif ($job == 'del') {print <<<EOT
-->
<form action="{$basename}a=$a&job=$job&cyid=$cyid" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<input type="hidden" name="id" value="$id">
<input type="hidden" name="step" value="1">
<div style="width:350px;" class="cc">
	<div class="p10 b f14">取消活動後，活動的所有信息將被刪除!</div>
	<div class="p10 fr">
	<span class="button"><span><button type="submit">確 定</button></span></span>
	<span class="button2"><span><button type="button" onclick="closep();">取消</button></span></span>
	</div>
</div>
</form>
<!--
EOT;
}?>-->