<!--<?php print <<<EOT
-->
<div id="breadCrumb">
<img src="$imgpath/$stylepath/thread/home.gif" class="breadHome" /><em class="breadEm"></em><a href="$db_bfn" title="$db_bbsname">$db_bbsname</a><em>&gt;</em>&raquo; 到訪會員(今日到訪人數 {$count} )
</div>

<div class="t"><table cellspacing="0" cellpadding="0" width="100%">
<tr><td class="h" colspan="7">今日到訪會員</td></tr>
<tr class="tr2 tac">
<td>用戶名</td>
<td>註冊時間</td>
<td>登錄時間</td>
<td>活動時間</td>
<td>IP地址</td>
<td>發帖</td>
<td>{$db_rvrcname}</td>
</tr>
<!--
EOT;
foreach($inbbsdb as $inbbs){
print <<<EOT
-->
<tr class="tr3 tac"><td bgcolor="#F8F8F8"><a href="u.php?username=$inbbs[rawuser]">$inbbs[user]</a></td><td bgcolor="#FFFFFF">$inbbs[rgtime]</td><td bgcolor="#FFFFFF">$inbbs[logintime]</td><td bgcolor="#F8F8F8">$inbbs[intime]</td><td bgcolor="#F8F8F8">$inbbs[ip]</td><td bgcolor="#FFFFFF">$inbbs[post]</td><td bgcolor="#FFFFFF">$inbbs[rvrc]</td></tr>
<!--
EOT;
}
print <<<EOT
-->
</table></div>$pages
<!--
EOT;
?>-->