
						
<pw id="A1_頻道名稱@婚嫁" /> 
			婚嫁頻道 
			
<pw id="A2_頻道導航@婚嫁" />
			<list action="column"  num="5"  title="頻道導航" />
			<loop><li><a href="{url}"><span>{title,8}</span></a></li></loop>
					
<pw id="B1_圖片輪播@婚嫁" />
			<div id="pwSlide_0" class="pwSlide">
				<list action="image" num="4" title="圖片" />
				<ul class="switch" id="pp2_A">
					<loop>
						<li class="switchItem"><a href="{url}" title="{title}"><img src="{image,305,415}" width="305" height="415" />
							<h3>{title,48}</h3>
							</a></li>
					</loop>
				</ul>
				<div class="pwSlide-bg"></div>
				<ul class="SwitchNav" id="pp2_B">
					<!--#foreach($pwresult as $value){#-->
					<li class="switchNavItem"><a href="$value[url]" target="_blank"><img src="$value[image]" width="50" height="70" /></a></li>
					<!--#}#-->
				</ul>
			</div>
			<script type="text/javascript" src="mode/area/js/ddsliderplayer.js"></script>
			<script>ddSliderPlayers('pp2_A','pp2_B',4,'current');</script>
				
<pw id="B2_左側摘要@婚嫁" />
			<list action="subject" num="1" title="帖子摘要" />
			<loop>
				<h3><a class="s1" href="{url}" target="_blank" title="{title}">{title,18}</a><span>ID:{author,10}</span></h3>
				<p>{descrip,150}<a class="s2" href="{url}" target="_blank" title="{title}">詳細>></a></p>
			</loop>
	
			
<pw id="B3_中間頭條@婚嫁" />
			<list action="subject" num="2" title="帖子摘要" />
			<ul class="tops">
				<loop>
					<li>
						<h2><a class="s1" href="{url}" target="_blank" title="{title}">{title,16}</a></h2>
						<p>{descrip,50}<a href="{url}" target="_blank" title="{title}" class="s2">詳細>></a></p>
					</li>
				</loop>
			</ul>
		
<pw id="B4_中間列表@婚嫁" />
			<list num="6" action="subject" title="帖子列表" />
			<ul class="list">
				<loop>
					<li><a href="{url}" target="_blank" title="{title}"><span class="s1">[{forumname,8}]</span>{title,32}</a></li>
				</loop>
			</ul>
			
			
<pw id="B5_右側標題@婚嫁" /> 
			商家活動 			
<pw id="B6_右側列表@婚嫁" />
			<list num="6" action="subject" title="帖子列表" />
			<ul class="list mb10">
				<loop>
					<li><a href="{url}" target="_blank" title="{title}">{title,26}</a></li>
				</loop>
			</ul>
			
			
<pw id="B7_左側廣告@婚嫁" />
			<list action="image" num="1" title="廣告" />
			<loop> <a href="{url}" target="_blank"><img src="{image,175,75}" width="175" height="75" /></a> </loop>
			
			
<pw id="B8_下方列表@婚嫁" />
			<list num="14" action="subject" title="帖子列表" />
			<ul class="list list2Col gray cc">
				<loop>
					<li><a href="{url}" target="_blank" title="{title}">{title,44}</a></li>
				</loop>
			</ul>

						
<pw id="B9_下方圖片@婚嫁" />
			<list action="image" num="6" title="圖片" />
			<ul class="imgList cc">
				<loop>
					<li><a href="{url}" target="_blank" title="{title}"><img src="{image,95,65}" width="95" height="65" /></a></li>
				</loop>
			</ul>

			
<pw id="C1_標題@婚嫁" /> 
			拍婚紗 <span class="en">PICTURES</span> 
			
<pw id="C2_文字連接@婚嫁" /> 
			<a href="#">進入版塊</a> | <a href="#">經驗分享</a> | <a href="#">影樓調查</a> | <a href="#">個性婚照</a> 
			
<pw id="C3_左側圖文推薦@婚嫁" />
			<list action="image" num="1" title="圖文摘要" />
			<loop> <a href="{url}" target="_blank" title="{title}"><img src="{image,200,150}" width="200" height="150" /></a>
				<h3><a href="{url}" target="_blank" title="{title}">{title,24}</a></h3>
				<p>{descrip,150}<a class="s2" href="{url}" target="_blank" title="{title}">詳細>></a></p>
			</loop>
			
				
			
<pw id="C4_中間頭條@婚嫁" />
			<list action="subject" num="1" title="帖子摘要" />
			<loop>
				<div class="tops">
					<h2><a class="s1" href="{url}" target="_blank" title="{title}">{title,16}</a></h2>
					<p>{descrip,50}<a href="{url}" target="_blank" title="{title}" class="s2">詳細>></a></p>
				</div>
			</loop>
			
<pw id="C5_中間列表@婚嫁" />
			<list num="7" action="subject" title="帖子列表" />
			<ul class="list gray">
				<loop>
					<li><a href="{url}" target="_blank" title="{title}">{title,60}</a></li>
				</loop>
			</ul>
<pw id="C6_下方標題@婚嫁" /> 
			經典婚紗 			
			
<pw id="C7_下方圖片列表@婚嫁" />
			<list action="image" num="5" title="經典婚紗" />
			<ul class="imgList">
				<loop>
					<li><a href="{url}" target="_blank" title="{title}"><img src="{image,95,65}" width="95" height="65" /></a></li>
				</loop>
			</ul>
			
<pw id="C8_右側標題@婚嫁" /> 
			熱門婚紗 
		
<pw id="C9_右側標籤@婚嫁" />
			<list num="7" action="tag" title="標籤" />
			<loop> <a href="{url}" target="_blank" title="{title}">{title,16}</a> </loop>
			

<pw id="C10_右下標題@婚嫁" /> 
			有問必答 
			
<pw id="C11_右下列表@婚嫁" />
			<list  num="5" action="subject" title="帖子列表" />
			<ul class="list">
				<loop>
					<li><a href="{url}" target="_blank" title="{title}">{title,32}</a></li>
				</loop>
			</ul>
			
<pw id="C12_橫幅廣告@婚嫁" />
			<list action="image" num="1" title="圖片" />
			<loop> <a href="{url}"><img src="{image,960,90}" width="960" height="90" /></a> </loop>

<pw id="D1_左上標題@婚嫁" /> 
			找婚慶 <span class="en">WEDDING</span> 
						
<pw id="D2_左上播放器@婚嫁" />
			<div class="pwSlide">
				<list action="image" num="4" title="圖片" />
				<ul class="switch" id="PP1_A">
					<loop>
						<li class="switchItem" style="display:"><a href="{url}" title="{title}"><img src="{image,260,210}" width="260" height="210" />
							<h3>{title,20}</h3>
							</a></li>
					</loop>
				</ul>
				<div class="pwSlide-bg"></div>
				<ul class="SwitchNav" id="PP1_B">
					<!--#for($i = 1; $i<=$key+1; $i++){#-->
					<li class="switchNavItem"><a href="#" onclick="return false;">{$i}</a></li>
					<!--#}#-->
				</ul>
				<script type="text/javascript" src="mode/area/js/ddsliderplayer.js"></script>
				<script>ddSliderPlayers('PP1_A','PP1_B',4,'current');</script>
			</div>
					
<pw id="D3_左上列表@婚嫁" />
			<list  num="5" action="subject" title="帖子列表" />
			<ul class="list">
				<loop>
					<li><a href="{url}" target="_blank" title="{title}"><span class="s1">[{forumname,4}]</span>{title,20}</a></li>
				</loop>
			</ul>

<pw id="D4_左下標題@婚嫁" /> 
			定鑽飾 <span class="en">OENAMENTS</span> 
			
<pw id="D5_左下圖文@婚嫁" />
			<list action="image" num="1" title="圖文" />
			<div class="subject">
				<loop> <a href="{url}" target="_blank" title="{title}"><img src="{image,260,210}" width="260" height="210" /></a>
					<h3><a class="s1" href="{url}" target="_blank" title="{title}">{title,32}</a></h3>
					<p>{descrip,150}<a class="s2" href="{url}" target="_blank" title="{title}">詳細>></a></p>
				</loop>
			</div>
	
						

<pw id="D6_中上摘要@婚嫁" />
			<list  num="2" action="subject" title="帖子摘要" />
			<ul class="tops">
				<loop>
					<li>
						<h2><a class="s1" href="#">{title,32}</a></h2>
						<p>{descrip,90}<a class="s2" href="{url}" target="_blank" title="{title}">詳細>></a></p>
					</li>
				</loop>
			</ul>
			
			
<pw id="D7_中上列表@婚嫁" />
			<list  num="7" action="subject" title="帖子列表" />
			<ul class="list gray">
				<loop>
					<li><a href="{url}" target="_blank" title="{title}">{title,44}</a></li>
				</loop>
			</ul>
			

<pw id="D8_右側標題@婚嫁" /> 
			熱門婚紗 
			
<pw id="D9_右上圖片@婚嫁" />
			<list  num="3" action="image" title="圖片" />
			<ul class="imgList mb10 cc">
				<loop>
					<li><a href="{url}" target="_blank" title="{title}"><img src="{image,70,85}" width="70" height="85" /></a></li>
				</loop>
			</ul>
			
			
<pw id="D10_右上列表@婚嫁" />
			<list  num="8" action="subject" title="帖子列表" />
			<ul class="list gray">
				<loop>
					<li><a href="{url}" target="_blank" title="{title}"><span class="black">【{forumname,8}】</span>{title,28}</a></li>
				</loop>
			</ul>

<pw id="D11_中下標題1@婚嫁" /> 
			熱門婚紗 		
						
<pw id="D12_中下圖文1@婚嫁" />
			<list action="image" num="1" title="圖片" />
			<loop> <a href="{url}" target="_blank" title="{title}"><img class="fl" src="{image,150,110}" width="150" height="110" /></a> </loop>
			<list action="subject" num="5" title="帖子列表" />
			<ul class="list">
				<loop>
					<li><span class="author">{author,10}</span><a href="{url}" target="_blank" title="{title}">{title,44}</a></li>
				</loop>
			</ul>
			
			
<pw id="D13_中下圖文2@婚嫁" />
			<list action="image" num="1" title="圖片" />
			<loop> <a href="{url}" target="_blank" title="{title}"><img class="fl" src="{image,150,110}" width="150" height="110" /></a> </loop>
			<list action="subject" num="5" title="帖子列表" />
			<ul class="list">
				<loop>
					<li><span class="author">{author,10}</span><a href="{url}" target="_blank" title="{title}">{title,44}</a></li>
				</loop>
			</ul>
<pw id="D14_中下標題2@婚嫁" /> 
			最新活動 			
			
<pw id="D15_中下列表@婚嫁" />
			<list action="subject" num="6" title="帖子列表" />
			<ul class="list list2Col gray">
				<loop>
					<li><a href="{url}" target="_blank" title="{title}"><span class="black">【{forumname,8}】</span>{title,36}</a></li>
				</loop>
			</ul>
			
			
<pw id="D16_中下圖片@婚嫁" />
			<list action="image" num="3" title="圖片" />
			<ul class="adList cc">
				<loop>
					<li><a href="{url}" target="_blank" title="{title}"><img src="{image,205,75}" width="205" height="75" /></a></li>
				</loop>
			</ul>


<pw id="D17_橫幅廣告@婚嫁" />
			<list action="image" num="1" title="圖片" />
			<loop> <a href="{url}"><img src="{image,960,90}" width="960" height="90" /></a> </loop>
			
<pw id="E1_標題@婚嫁" /> 
			秀秀婚紗 
			
<pw id="E2_文字連接@婚嫁" /> 
			<a href="#">進入版塊</a> | <a href="#">經驗分享</a> | <a href="#">影樓調查</a> | <a href="#">個性婚照</a> 

<pw id="E3_圖片輪播@婚嫁" />
			<div class="wrap" id="ddhSlider2">
				<list action="image" num="10" title="圖片" />
				<ul class="imgList4 cc">
					<loop>
						<li><a href="{url}" target="_blank" title="{title}"><img src="{image,150,210}" width="150" height="210" />{title,10}<s></s></a></li>
					</loop>
				</ul>
			</div>
			
<pw id="E4_橫幅廣告@婚嫁" />
			<list action="image" num="1" title="圖片" />
			<loop> <a href="{url}"><img src="{image,960,90}" width="960" height="90" /></a> </loop>			
<pw id="F1_標題@婚嫁" /> 
			辦婚宴 <span class="en">WEDDING</span> 

<pw id="F2_文字鏈接@婚嫁" /> 
			<a href="#">飯店一覽</a> | <a href="#">婚宴菜單</a> | <a href="#">婚宴價格</a> | <a href="#">交流咨詢</a> 
			
<pw id="F3_左側圖片列表@婚嫁" />
			<list  num="3" action="image" title="圖片" />
			<ul class="imgList imgList2">
				<loop>
					<li><a href="{url}" target="_blank" title="{title}"><img src="{image,200,140}" width="200" height="140" /></a></li>
				</loop>
			</ul>			

			
<pw id="F4_左中列表@婚嫁" />
			<list  num="8" action="subject" title="帖子列表" />
			<ul class="list list2Col gray cc">
				<loop>
					<li><a href="{url}" target="_blank" title="{title}"><span class="s1">[{forumname,4}]</span>{title,44}</a></li>
				</loop>
			</ul>
			
			
<pw id="F5_左下圖片@婚嫁" />
			<list action="image" num="3" title="圖片" />
			<ul class="adList cc">
				<loop>
					<li><a href="{url}" target="_blank" title="{title}"><img src="{image,205,75}" width="205" height="75" /></a></li>
				</loop>
			</ul>
			
<pw id="F6_右側標題@婚嫁" /> 
			熱門商家 
						
<pw id="F7_右側圖文@婚嫁" />
			<list action="image" num="1" title="圖文" />
			<div class="subject2 mb10 cc">
				<loop> <a href="{url}" target="_blank" title="{title}"><img class="fl" src="{image,85,60}" width="85" height="60" /></a>
					<h3><a class="s1" href="#">{title,18}</a></h3>
					<p>{descrip,48}</p>
				</loop>
			</div>
			
			
<pw id="F8_右側列表@婚嫁" />
			<list action="subject" num="10" title="帖子列表" />
			<ul class="list">
				<loop>
					<li><a href="{url}" target="_blank" title="{title}">{title,40}</a></li>
				</loop>
			</ul>

			
<pw id="F9_橫幅廣告@婚嫁" />
			<list action="image" num="1" title="圖片" />
			<loop> <a href="{url}"><img src="{image,960,90}" width="960" height="90" /></a> </loop>
<pw id="G1_標題@婚嫁" /> 
			度蜜月 <span class="en">HONEYMOON</span> 
			
<pw id="G2_文字鏈接@婚嫁" /> 
			<a href="#">進入版塊</a> | <a href="#">蜜月指南</a> | <a href="#">蜜月風情</a> | <a href="#">愛情聖地</a> 
			
<pw id="G3_左側圖片@婚嫁" />
			<list action="image" num="1" title="圖片" />
			<loop> <a href="{url}" target="_blank" title="{title}"><img src="{image,260,220}" width="260" height="220" /></a> </loop>

			
<pw id="G4_中間摘要@婚嫁" />
			<list action="subject" num="1" title="帖子摘要" />
			<ul class="tops">
				<loop>
					<li>
						<h2><a class="s1" href="#">{title,32}</a></h2>
						<p>{descrip,90}<a class="s2" href="{url}" target="_blank" title="{title}">詳細>></a></p>
					</li>
				</loop>
			</ul>
			
			
<pw id="G5_中間圖片@婚嫁" />
			<list action="image" num="4" title="圖片" />
			<ul class="imgList imgList3">
				<loop>
					<li><a href="#"><img src="{image,75,50}" width="75" height="50" />{title,12}</a></li>
				</loop>
			</ul>
			
			
<pw id="G6_左下列表@婚嫁" />
			<list action="subject" num="8" title="帖子列表" />
			<ul class="list list2Col gray">
				<loop>
					<li><a href="{url}" target="_blank" title="{title}"><span class="black">【{forumname,8}】</span>{title,36}</a></li>
				</loop>
			</ul>
<pw id="G7_右側標題@婚嫁" /> 
			熱門圖片 
						
			
<pw id="G8_右側圖片@婚嫁" />
			<list action="image" num="12" title="熱門圖片" />
			<ul class="imgList4 imgList5 cc">
				<loop>
					<li><a href="{url}" target="_blank" title="{title}"><img src="{image,75,50}" width="75" height="50" />{title,8}</a></li>
				</loop>
			</ul>
			

			



