<!--<?php
print <<<EOT
-->
<!--#require modeEot('header');#-->

<div id="marryNav" class="mb10">
	<h2><pw id="A1_頻道名稱@婚嫁" /></h2>
	<ul>
		<pw id="A2_頻道導航@婚嫁" />
	</ul>
</div>
<div class="cc mb10">
	<div class="sideplay"> <pw id="B1_圖片輪播@婚嫁" />
		<div class="top1"> <pw id="B2_左側摘要@婚嫁" /> </div>
	</div>
	<div class="panel_0 panel"> <s class="bj_top"><s></s></s>
		<div class="box">
			<div class="cc">
				<div class="news"> <pw id="B3_中間頭條@婚嫁" /> <pw id="B4_中間列表@婚嫁" /> </div>
				<div class="act"> <s class="bj_top"><i></i><s></s></s>
					<div class="box">
						<h3><pw id="B5_右側標題@婚嫁" /></h3>
						<pw id="B6_右側列表@婚嫁" />
						<div><pw id="B7_左側廣告@婚嫁" /></div>
					</div>
					<s class="bj_bottom"><s></s></s> </div>
			</div>
			<pw id="B8_下方列表@婚嫁" />
			<div class="imgListWrap"> <pw id="B9_下方圖片@婚嫁" /> </div>
		</div>
		<s class="bj_bottom"><s></s></s> </div>
</div>
<div class="panel mb10">
	<div class="hd"><s class="l"></s>
		<h3><pw id="C1_標題@婚嫁" /></h3>
		<span class="more">
		<pw id="C2_文字連接@婚嫁" />
		</span> 
		<s class="r"></s>
		</div>
	<div class="bd cc">
		<div class="fl w645">
			<div class="subject subject_0"> <pw id="C3_左側圖文推薦@婚嫁" /> </div>
			<div class="news news_0"> <pw id="C4_中間頭條@婚嫁" /> <pw id="C5_中間列表@婚嫁" /> </div>
			<div class="c"></div>
			<div class="imgList_0 cc">
				<h3 class="upTilte"><pw id="C6_下方標題@婚嫁" /></h3>
				<pw id="C7_下方圖片列表@婚嫁" /> </div>
		</div>
		<div class="fr w265">
			<div class="subBox mb10">
				<div class="subHd">
					<h3><pw id="C8_右側標題@婚嫁" /></h3>
				</div>
				<div class="tags"> <pw id="C9_右側標籤@婚嫁" /> </div>
			</div>
			<div class="QA">
				<h3><pw id="C10_右下標題@婚嫁" /></h3>
				<pw id="C11_右下列表@婚嫁" /> </div>
		</div>
	</div>
	<s class="bj_bottom"><s></s></s> </div>
<div class="mb10"><pw id="C12_橫幅廣告@婚嫁" /></div>
<div class="cc mb10">
	<div class="fl w295">
		<div class="panel mb10">
			<div class="hd"><s class="l"></s>
				<h3><pw id="D1_左上標題@婚嫁" /></h3>
				<s class="r"></s></div>
			<div class="bd">
				<div class="pwSlideWrap mb10"> <pw id="D2_左上播放器@婚嫁" /> </div>
				<pw id="D3_左上列表@婚嫁" /> </div>
			<s class="bj_bottom"><s></s></s> </div>
		<div class="panel">
			<div class="hd"><s class="l"></s>
				<h3><pw id="D4_左下標題@婚嫁" /></h3>
				<s class="r"></s></div>
			<div class="bd"><pw id="D5_左下圖文@婚嫁" /></div>
			<s class="bj_bottom"><s></s></s> </div>
	</div>
	<div class="fr w655">
		<div class="panel"> <s class="bj_top"><s></s></s>
			<div class="box">
				<div class="cc">
					<div class="news news_1"> <pw id="D6_中上摘要@婚嫁" /> <pw id="D7_中上列表@婚嫁" /> </div>
					<div class="fr w265">
						<div class="subBox">
							<div class="subHd">
								<h3><pw id="D8_右側標題@婚嫁" /></h3>
							</div>
							<div class="subBd_0"> <pw id="D9_右上圖片@婚嫁" /> <pw id="D10_右上列表@婚嫁" /> </div>
						</div>
					</div>
				</div>
				<div class="subBox subBox_0">
					<div class="subHd">
						<h3><pw id="D11_中下標題1@婚嫁" /></h3>
					</div>
					<div class="subBd">
						<div class="block cc mb10"> <pw id="D12_中下圖文1@婚嫁" /> </div>
						<div class="block cc"> <pw id="D13_中下圖文2@婚嫁" /> </div>
						<div class="listWrap_0 cc">
							<h3 class="upTilte"><pw id="D14_中下標題2@婚嫁" /></h3>
							<pw id="D15_中下列表@婚嫁" /> </div>
						<div class="adListWrap"> <pw id="D16_中下圖片@婚嫁" /> </div>
					</div>
				</div>
			</div>
			<s class="bj_bottom"><s></s></s> </div>
	</div>
</div>
<div class="mb10"><pw id="D17_橫幅廣告@婚嫁" /></div>
<div class="box mb10">
	<div class="hd">
		<h3><pw id="E1_標題@婚嫁" /></h3>
		<span class="more"><pw id="E2_文字連接@婚嫁" /></span> </div>
	<div class="bd">
		<div class="imgScroll"><a class="prev"  href="javascript:ddHSlider(-180,'ddhSlider2')">上一張</a>
			<div class="wrap"><pw id="E3_圖片輪播@婚嫁" /></div>
			<a class="next" href="javascript:ddHSlider(180,'ddhSlider2')">下一張</a></div>
	</div>
</div>
<div class="mb10"><pw id="E4_橫幅廣告@婚嫁" /></div>
<div class="panel mb10">
	<div class="hd"><s class="l"></s>
		<h3><pw id="F1_標題@婚嫁" /></h3>
		<span class="more"><pw id="F2_文字鏈接@婚嫁" /></span> <s class="r"></s></div>
	<div class="bd cc">
		<div class="fl w645">
			<div class="imgListWrap mb10"> <pw id="F3_左側圖片列表@婚嫁" /> </div>
			<div class="listWrap_1 mb10"> <pw id="F4_左中列表@婚嫁" /> </div>
			<div class="adListWrap"> <pw id="F5_左下圖片@婚嫁" /> </div>
		</div>
		<div class="fr w265">
			<div class="subBox">
				<div class="subHd">
					<h3><pw id="F6_右側標題@婚嫁" /></h3>
				</div>
				<div class="subBd"> <pw id="F7_右側圖文@婚嫁" /> <pw id="F8_右側列表@婚嫁" /> </div>
			</div>
		</div>
	</div>
	<s class="bj_bottom"><s></s></s> </div>
<div class="mb10"><pw id="F9_橫幅廣告@婚嫁" /></div>
<div class="panel">
	<div class="hd"><s class="l"></s>
		<h3><pw id="G1_標題@婚嫁" /></h3>
		<span class="more"><pw id="G2_文字鏈接@婚嫁" /></span> <s class="r"></s></div>
	<div class="bd cc">
		<div class="fl w645">
			<div class="pho"><pw id="G3_左側圖片@婚嫁" /></div>
			<div class="news news_2"> <pw id="G4_中間摘要@婚嫁" />
				<div class="imgListWrap"> <pw id="G5_中間圖片@婚嫁" /> </div>
			</div>
			<div class="c"></div>
			<div class="listWrap_2 cc"> <pw id="G6_左下列表@婚嫁" /> </div>
		</div>
		<div class="fr w265">
			<div class="subBox">
				<div class="subHd">
					<h3><pw id="G7_右側標題@婚嫁" /></h3>
				</div>
				<div class="subBd" style="padding-top:5px"> <pw id="G8_右側圖片@婚嫁" /> </div>
			</div>
		</div>
	</div>
	<s class="bj_bottom"><s></s></s> </div>
<!--#require modeEot('footer');#-->
<!--
EOT;
?>-->
