


<pw id="A1_頻道導航@美食" />
	<li class="switchNavItem"><a href="" target="_blank" >美食DIY</a> |</li>
	<li class="switchNavItem"><a href="" target="_blank" >美食快訊</a> |</li>
	<li class="switchNavItem"><a href="" target="_blank" >美食探店</a> |</li>
	<li class="switchNavItem"><a href="" target="_blank" >外地美食</a> |</li>
	<li class="switchNavItem"><a href="" target="_blank" >吃喝玩樂團</a></li>



<pw id="A2_播放器@美食" />
<div class="pwSlideWrap" style="padding-bottom:0">
	<!--pwSlidePlayer 有特殊樣式，不可換；其他播放器ID任意--->
	<div id="pwSlidePlayer" class="pwSlide">
		<ul class="switch" id="PicPlayer1_A">
			<list cachetime="1800" action="image" num="4" title="A1播放器1A" />
			<loop>
				<li class="switchItem" style="display:none"><a href="{url}"  target="_blank" ><img src="{image,290,280}" width="290" height="280" />
					<div class="txt">
						<h3>{title,30}</h3>
						<p>{descrip,40}</p>
					</div>
					</a></li>
			</loop>
		</ul>
		<div class="pwSlide-bg"></div>
		<ul class="SwitchNav" id="PicPlayer1_B">
<!--#foreach($pwresult as $value){#-->
			<li class="switchNavItem"><a href="$value[url]"  target="_blank"><img src="$value[image]" width="47" height="47" /></a></li>
<!--#}#-->
		</ul>
	</div>
</div>
<script type="text/javascript" src="mode/area/js/ddsliderplayer.js"></script>
<script>ddSliderPlayers('PicPlayer1_A','PicPlayer1_B',4,'current');</script>



<pw id="A3_左下標題@美食" />
熱門活動


<pw id="A4_左下圖文列表@美食" />
<ul class="subjectList" style="padding-bottom:0">
	<list cachetime="1800" action="image" num="2" title="標題摘要" />
	<loop>
		<li class="subject mb10"> <a href="{url}"  target="_blank" ><img src="{image,105,52}" width="105" height="52" class="fl" /></a>
			<h4><a href="{url}"  target="_blank" >{title,5040}</a></h4>
			<p>{descrip,45}</p>
		</li>
	</loop>
</ul>



<pw id="A5_NEW標題@美食" />
最新帖子


<pw id="A6_熱點摘要@美食" />
<ul class="tops">
	<list cachetime="1800" action="subject" num="2" title="第一屏頭條" />
	<loop>
		<li>
			<h2 class="s1"><a href="{url}"  target="_blank" >{title,40}</a></h2>
			<p>{descrip,140}<a class="s1" href="{url}"  target="_blank" >（閱讀全文）</a></p>
		</li>
	</loop>
</ul>



<pw id="A7_熱點標題列表@美食" />
<ul class="list list_f14">
	<list cachetime="1800" action="subject" num="8" title="標題列表" />
	<loop>
		<li><a href="{url}"  target="_blank" ><em class="s1">[{forumname,8}]</em>{title,30}</a></li>
	</loop>
</ul>



<pw id="A8_熱點圖片列表@美食" />
<ul class="imgList cc">
	<list cachetime="1800" action="image" num="3" title="圖片列表" />
	<loop>
		<li><a href="{url}"  target="_blank" ><img src="{image,100,90}" width="100" height="90" />{title,16}</a></li>
	</loop>
</ul>



<pw id="A9_右上標題@美食" />
享樂指南


<pw id="A10_右上列表@美食" />
<list cachetime="1800" action="tag" num="20" title="鏈接標籤" />
&nbsp;
<loop> <a class="s1" href="{url}"  target="_blank" >{title,12}</a>&nbsp; | &nbsp; </loop>



<pw id="A11_右下標題@美食" />
熱點專題


<pw id="A12_右下圖文@美食" />
<list cachetime="1800" action="image" num="2" title="圖文列表" />
<loop>
	<div class="subject cc mb10"> <a href="{url}"  target="_blank" ><img src="{image,60,60}" class="fl" width="60" height="60" /></a>
		<h4><a href="{url}"  target="_blank" >{title,16}</a></h4>
		<p>{descrip,30}<a href="{url}"  target="_blank"  class="s1"> [詳細]</a></p>
	</div>
</loop>



<pw id="A13_右下列表@美食" />
<ul class="list">
	<list cachetime="1800" action="subject" num="6" title="標題列表" />
	<loop>
		<li><a href="{url}"  target="_blank" >{title,30}</a></li>
	</loop>
</ul>



<pw id="A14_廣告@美食" /> <a href="{url}"  target="_blank" ><img src="areastatic/delicious/temp/ad708x70.png" width="708" height="70" class="fl" /></a> <a href="{url}"  target="_blank" ><img src="areastatic/delicious/temp/ad242x70.png" width="242" height="70" class="fr" /></a>


<pw id="B1_左上標題@美食" />
探店情報


<pw id="B2_左上圖片列表@美食" />
<list cachetime="1800" num="8" action="image" ifpushonly="0" title="圖片列表" />
<loop>
	<li><a href="{url}"  target="_blank" ><img src="{image,65,55}" width="65" height="55" />{title,10}</a></li>
</loop>



<pw id="B3_中上標題@美食" />
店舖排行


<pw id="B4_中上列表@美食" />
<ol class="rankingList fl">
	<list cachetime="1800" num="8" action="subject" ifpushonly="0" title="標題列表" />
	<loop>
		<li><a href="{url}"  target="_blank" >{title,30}</a></li>
	</loop>
</ol>



<pw id="B5_左下標題@美食" />
美食DIY


<pw id="B6_左下圖文摘要@美食" />
<list cachetime="1800" action="image" num="1" title="圖文模塊" />
<loop>
	<div class="subject cc"> <a href="{url}"  target="_blank" ><img src="{image,130,155}" width="130" height="155" class="fl" /></a>
		<h4><a href="{url}"  target="_blank" >{title,18}</a></h4>
		<p>{descrip,120}</p>
	</div>
</loop>



<pw id="B7_中下標題列表@美食" />
<ul class="list fl">
	<list cachetime="1800" action="subject" num="8" title="標題列表" />
	<loop>
		<li><a href="{url}"  target="_blank" >【<span class="s2">{forumname}</span>】{title,20}</a></li>
	</loop>
</ul>



<pw id="B8_右側標題@美食" />
新店開張


<pw id="B9_右側圖片列表@美食" />
<ul class="imgList cc">
	<list cachetime="1800" action="image" num="4" title="圖文列表" />
	<loop>
		<li><a href="{url}"  target="_blank" ><img src="{image,90,65}" width="90" height="65" />{title,15}</a></li>
	</loop>
</ul>



<pw id="B10_右側標題列表@美食" />
<ul class="list" style="margin-top:8px;">
	<list cachetime="1800" action="subject" num="10" title="標題列表" />
	<loop>
		<li><a href="{url}"  target="_blank" >{title,25}</a></li>
	</loop>
</ul>



<pw id="B11_頁面中部下緣廣告位@美食" /> <a href="{url}"  target="_blank" ><img src="areastatic/delicious/temp/ad960x70.png" width="960" height="70" /></a>


<pw id="C1_左上標題@美食" />
私房菜


<pw id="C2_左上圖文列表@美食" />
<ul class="userList">
	<list cachetime="1800" action="image" num="4" title="圖文列表" />
	<loop>
		<li><a href="{url}"  target="_blank" ><img src="{image,65,65}" width="65" height="65" /></a>
			<h4><a href="{url}"  target="_blank"  class="s2">{title,20}</a></h4>
			<p>{descrip,40}</p>
		</li>
	</loop>
</ul>



<pw id="C3_左下標題@美食" />
食尚養生


<pw id="C4_左下圖文列表@美食" />
<list cachetime="1800" action="image" num="2" title="圖文列表" />
<loop>
	<div class="subject cc mb10"> <a href="{url}"  target="_blank" ><img src="{image,100,75}" width="100" height="75" class="fl" /></a>
		<h4><a href="{url}"  target="_blank" >{title,30}</a></h4>
		<p>{descrip,58}</p>
	</div>
</loop>



<pw id="C5_左下標題列表@美食" />
<ul class="list fl">
	<list cachetime="1800" action="subject" num="8" title="標題列表" />
	<loop>
		<li><a href="#">【<span class="s2">{forumname}</span>】{title,22}</a></li>
	</loop>
</ul>



<pw id="C6_右側標題@美食" />
折扣優惠


<pw id="C7_右側標題列表@美食" />
<ul class="subjectList2 cc">
	<list cachetime="1800" action="image" num="5" title="圖文列表" />
	<loop>
		<li><a href="{url}"  target="_blank" ><img src="{image,65,65}" width="65" height="65" class="fl" /></a>
			<h4><a class="s1" href="{url}"  target="_blank" >{title,20}</a></h4>
			<p>{descrip,50}</p>
		</li>
		</li>
	</loop>
</ul>



<pw id="C8_頁面中下部下緣廣告@美食" /> <a href="{url}"  target="_blank" ><img src="areastatic/delicious/temp/ad708x70.png" width="708" height="70" class="fl" /></a> <a href="{url}"  target="_blank" ><img src="areastatic/delicious/temp/ad242x70.png" width="242" height="70" class="fr" /></a>


<pw id="D1_左上標題@美食" />
火熱推薦


<pw id="D2_左上TAG@美食" />
<li class="switchNavItem"><a href="#"  target="_blank">休閒娛樂</a></li>
<li class="switchNavItem"><a href="#"  target="_blank">朋友聚餐 </a></li>
<li class="switchNavItem"><a href="#"  target="_blank">狂歡派對</a></li>
<li class="switchNavItem"><a href="#"  target="_blank">賓館酒店</a></li>



<pw id="D3_左上TAG內容1@美食" />
<ul class="subjectList3 cc">
	<list cachetime="1800" action="image" num="6" title="圖文列表" />
	<loop>
		<li class="subject"> <a href="{url}"  target="_blank" ><img src="{image,95,75}" width="95" height="75" class="fl" /></a>
			<h4><a class="s1 b" href="{url}"  target="_blank" >{title,14}</a></h4>
			<p>{descrip,50}</p>
		</li>
	</loop>
</ul>



<pw id="D4_左上TAG內容2@美食" />
<ul class="subjectList3 cc">
	<list cachetime="1800" action="image" num="6" title="圖文列表" />
	<loop>
		<li class="subject"> <a href="{url}"  target="_blank" ><img src="{image,95,75}" width="95" height="75" class="fl" /></a>
			<h4><a class="s1 b" href="{url}"  target="_blank" >{title,14}</a></h4>
			<p>{descrip,50}</p>
		</li>
	</loop>
</ul>



<pw id="D5_左上TAG內容3@美食" />
<ul class="subjectList3 cc">
	<list cachetime="1800" action="image" num="6" title="圖文列表" />
	<loop>
		<li class="subject"> <a href="{url}"  target="_blank" ><img src="{image,95,75}" width="95" height="75" class="fl" /></a>
			<h4><a class="s1 b" href="{url}"  target="_blank" >{title,14}</a></h4>
			<p>{descrip,50}</p>
		</li>
	</loop>
</ul>



<pw id="D6_左上TAG內容4@美食" />
<ul class="subjectList3 cc">
	<list cachetime="1800" action="image" num="6" title="圖文列表" />
	<loop>
		<li class="subject"> <a href="{url}"  target="_blank" ><img src="{image,95,75}" width="95" height="75" class="fl" /></a>
			<h4><a class="s1 b" href="{url}"  target="_blank" >{title,14}</a></h4>
			<p>{descrip,50}</p>
		</li>
	</loop>
</ul>



<pw id="D7_左下標題@美食" />
美食盛宴


<pw id="D9_左下圖片列表@美食" />
<div class="listWrap" id="ddhSlider2">
	<ul class="imgList cc">
		<list cachetime="1800" action="image" num="8" title="圖文列表" />
		<loop>
			<li><a href="{url}"  target="_blank" ><img src="{image,105,130}" width="105" height="130" />{title,14}</a></li>
		</loop>
	</ul>
</div>



<pw id="D10_右側標題@美食" />
名菜名點


<pw id="D11_右側圖片列表@美食" />
<ul class="subjectList2 cc">
	<list cachetime="1800" num="4" action="image" ifpushonly="0" title="圖文列表" />
	<loop>
		<li> <a href="{url}"  target="_blank" ><img src="{image,65,45}" width="65" height="45" class="fl" /></a>
			<h4><a href="{url}"  target="_blank"  class="s1">{title,15}</a></h4>
			<p>{descrip,35}</p>
		</li>
	</loop>
</ul>



<pw id="D12_右側標籤鏈接@美食" />
<list cachetime="1800" action="tag" num="18" title="標籤" />
&nbsp;
<loop>
<a class="s1" href="{url}"  target="_blank" >{title,10}</a>&nbsp;&nbsp;| &nbsp;
</loop>
